Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

change transformer implementation with whisper version
  egs2/TEMPLATE/asr1/pyscripts/feats/dump_codec.py
  egs2/TEMPLATE/asr1/pyscripts/utils/make_speechlm_json.py
  egs2/TEMPLATE/asr1/scripts/feats/codec_tokenization.sh
  egs2/libritts/speechlm1/conf/decode_encodec.yaml
  egs2/libritts/speechlm1/conf/train.yaml
  egs2/libritts/speechlm1/conf/train_multiscale.yaml
  egs2/libritts/speechlm1/conf/train_multiscale_academic.yaml
  egs2/libritts/speechlm1/conf/train_parallel.yaml
  egs2/libritts/speechlm1/conf/train_valle.yaml
  egs2/libritts/speechlm1/conf/train_valle_academic.yaml
  egs2/libritts/speechlm1/run.sh
  egs2/libritts/speechlm1/run_long.sh
  espnet2/bin/speechlm_inference.py
  espnet2/speechlm/core_lm/ar_multiscale.py
  espnet2/speechlm/core_lm/valle.py
  espnet2/speechlm/module/module.py
  espnet2/speechlm/module/transformer.py
  espnet2/speechlm/postprocessor/codec_post_processor.py
  espnet2/tasks/speechlm.py
Due: auto add label=ESPnet2

small bug fix
  egs2/libritts/speechlm1/conf/train_multiscale.yaml
  egs2/libritts/speechlm1/run_acadamic.sh
  espnet2/speechlm/net_utils.py
Due: auto add label=ESPnet2

pad mask test
  espnet/nets/pytorch_backend/nets_utils.py
  test/test_nets_utils.py
Due: auto add label=ESPnet1

Complete README
  egs2/slue-ted/slu1/README.md
  egs2/slue-voxceleb/slu1/README.md
Due: auto add label=ESPnet2, auto add label=README

update valle design
  espnet2/speechlm/core_lm/valle.py
  espnet2/speechlm/module/transformer.py
  espnet2/speechlm/module/valle.py
  espnet2/speechlm/net_utils.py
Due: auto add label=ESPnet2

Update README
  egs2/slue-sqa-5/slu1/README.md
  egs2/slue-voxceleb/slu1/README.md
Due: auto add label=ESPnet2, auto add label=README

Update README
  egs2/slue-hvb/slu1/README.md
Due: auto add label=ESPnet2, auto add label=README

Update README
  egs2/slue-voxceleb/slu1/README.md
Due: auto add label=ESPnet2, auto add label=README

docs
  espnet2/asr/preencoder/subsampling.py
Due: auto add label=ESPnet2

ssl test
  test/espnet2/ssl/test_espnet_model.py
Due: none

missing init
  test/espnet2/ssl/__init__.py
Due: none

remove unneeded test params
  test/espnet2/ssl/test_espnet_model.py
Due: none

remove line on utils
  egs2/TEMPLATE/asr1/pyscripts/utils/spk_calculate_scores_from_embeddings.py
Due: auto add label=ESPnet2

flake 8 fixes
  ci/test_flake8.sh
  espnet/asr/asr_utils.py
  espnet/bin/asr_enhance.py
  espnet/lm/chainer_backend/extlm.py
  espnet/lm/lm_utils.py
Due: auto add label=ESPnet1, auto add label=ASR, auto add label=LM, auto add label=CI

docstring flake8 for utils
  espnet/utils/training/batchfy.py
  espnet/utils/training/evaluator.py
  espnet/utils/training/iterators.py
  espnet/utils/training/tensorboard_logger.py
  espnet/utils/training/train_utils.py
Due: auto add label=ESPnet1

docstring flak8 fixes for espnet/utils
  espnet/utils/check_kwargs.py
  espnet/utils/cli_readers.py
  espnet/utils/cli_utils.py
  espnet/utils/cli_writers.py
  espnet/utils/deterministic_utils.py
  espnet/utils/dynamic_import.py
  espnet/utils/fill_missing_args.py
  espnet/utils/io_utils.py
Due: auto add label=ESPnet1

update ar_multiscale with whisper trnsformer layers
  espnet2/bin/speechlm_inference.py
  espnet2/speechlm/core_lm/ar_multiscale.py
  espnet2/speechlm/core_lm/valle.py
  espnet2/speechlm/module/valle.py
  espnet2/speechlm/net_utils.py
Due: auto add label=ESPnet2

docstring flake8 fix for espnet/transform
  espnet/transform/add_deltas.py
  espnet/transform/channel_selector.py
  espnet/transform/cmvn.py
  espnet/transform/functional.py
  espnet/transform/perturb.py
  espnet/transform/spec_augment.py
  espnet/transform/spectrogram.py
  espnet/transform/transform_interface.py
  espnet/transform/transformation.py
  espnet/transform/wpe.py
Due: auto add label=ESPnet1

docstring flake8 fix espnet/nets
  espnet/nets/chainer_backend/ctc.py
  espnet/nets/chainer_backend/deterministic_embed_id.py
  espnet/nets/chainer_backend/nets_utils.py
  espnet/nets/chainer_backend/rnn/attentions.py
  espnet/nets/chainer_backend/rnn/decoders.py
  espnet/nets/chainer_backend/rnn/encoders.py
  espnet/nets/chainer_backend/rnn/training.py
  espnet/nets/ctc_prefix_score.py
  espnet/nets/pytorch_backend/ctc.py
  espnet/nets/pytorch_backend/frontends/beamformer.py
  espnet/nets/pytorch_backend/frontends/dnn_beamformer.py
  espnet/nets/pytorch_backend/frontends/dnn_wpe.py
  espnet/nets/pytorch_backend/frontends/feature_transform.py
  espnet/nets/pytorch_backend/frontends/frontend.py
  espnet/nets/pytorch_backend/frontends/mask_estimator.py
  espnet/nets/pytorch_backend/nets_utils.py
  espnet/nets/pytorch_backend/rnn/attentions.py
  espnet/nets/pytorch_backend/rnn/decoders.py
  espnet/nets/pytorch_backend/rnn/encoders.py
  espnet/nets/pytorch_backend/streaming/segment.py
  espnet/nets/pytorch_backend/streaming/window.py
  espnet/nets/pytorch_backend/transformer/plot.py
  espnet/nets/pytorch_backend/wavenet.py
Due: auto add label=ESPnet1

docstring flake8 fix espnet/lm
  espnet/lm/chainer_backend/lm.py
  espnet/lm/lm_utils.py
  espnet/lm/pytorch_backend/extlm.py
Due: auto add label=ESPnet1, auto add label=LM

update valle bug
  egs2/TEMPLATE/speechlm1/speechlm.sh
  espnet2/bin/speechlm_inference.py
  espnet2/speechlm/core_lm/valle.py
Due: auto add label=ESPnet2

valle ready
  egs2/libritts/speechlm1/run.sh
Due: auto add label=ESPnet2

correct decodeing setup of ar_multiscale
  espnet2/speechlm/core_lm/ar_multiscale.py
  espnet2/tasks/speechlm.py
Due: auto add label=ESPnet2

fix
  espnet2/speechlm/core_lm/ar_multiscale.py
Due: auto add label=ESPnet2

add valle config fle
  egs2/libritts/speechlm1/conf/train_valle.yaml
Due: auto add label=ESPnet2

add docstring
  espnet2/bin/speechlm_inference.py
  espnet2/speechlm/core_lm/ar_multiscale.py
  espnet2/speechlm/core_lm/valle.py
  espnet2/speechlm/module/transformer.py
Due: auto add label=ESPnet2

Update egs2/libritts/speechlm1/cmd.sh
  egs2/libritts/speechlm1/cmd.sh
Due: auto add label=ESPnet2

Update egs2/TEMPLATE/asr1/pyscripts/feats/dump_codec.py
  egs2/TEMPLATE/asr1/pyscripts/feats/dump_codec.py
Due: auto add label=ESPnet2

Update egs2/TEMPLATE/asr1/pyscripts/utils/make_speechlm_json.py
  egs2/TEMPLATE/asr1/pyscripts/utils/make_speechlm_json.py
Due: auto add label=ESPnet2

Update espnet2/speechlm/core_lm/abs_core_lm.py
  espnet2/speechlm/core_lm/abs_core_lm.py
Due: auto add label=ESPnet2

Update egs2/TEMPLATE/asr1/pyscripts/utils/make_token_list_speechlm.py
  egs2/TEMPLATE/asr1/pyscripts/utils/make_token_list_speechlm.py
Due: auto add label=ESPnet2

Update egs2/TEMPLATE/asr1/scripts/feats/codec_tokenization.sh
  egs2/TEMPLATE/asr1/scripts/feats/codec_tokenization.sh
Due: auto add label=ESPnet2

link path.sh and db.sh
  egs2/voxtlm_v1/lm1/db.sh
  egs2/voxtlm_v1/lm1/path.sh
Due: auto add label=ESPnet2

fix stage numbers in data_*.sh
  egs2/voxtlm_v1/lm1/local/data_librispeech.sh
  egs2/voxtlm_v1/lm1/local/data_libritts.sh
  egs2/voxtlm_v1/lm1/local/data_vctk.sh
Due: auto add label=ESPnet2

clean up for merging
  egs2/TEMPLATE/asr1/pyscripts/utils/make_speechlm_json.py
  egs2/TEMPLATE/asr1/pyscripts/utils/make_token_list_speechlm.py
  egs2/TEMPLATE/asr1/scripts/feats/codec_tokenization.sh
  egs2/TEMPLATE/speechlm1/setup.sh
  egs2/TEMPLATE/speechlm1/speechlm.sh
  egs2/libritts/speechlm1/conf/slurm.conf
  egs2/libritts/speechlm1/run.sh
  egs2/mini_an4/speechlm1/run.sh
  espnet2/bin/speechlm_inference.py
  espnet2/speechlm/core_lm/abs_core_lm.py
  espnet2/speechlm/core_lm/ar_multiscale.py
  espnet2/speechlm/core_lm/valle.py
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

update data format
  egs2/TEMPLATE/speechlm1/speechlm.sh
  espnet2/train/dataset.py
Due: auto add label=ESPnet2

Update espnet2/speechlm/core_lm/ar_multiscale.py
  espnet2/speechlm/core_lm/ar_multiscale.py
Due: auto add label=ESPnet2

Update espnet2/speechlm/core_lm/valle.py
  espnet2/speechlm/core_lm/valle.py
Due: auto add label=ESPnet2

Update espnet2/train/preprocessor.py
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(ci/|.github/)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
