Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

fix CI
  test/espnet2/svs/test_naive_rnn_dp.py
  test/espnet2/svs/test_singing_tacotron.py
Due: none

fix singing_tacotron
  espnet2/svs/singing_tacotron/decoder.py
  espnet2/svs/singing_tacotron/singing_tacotron.py
Due: auto add label=ESPnet2

fix for hubert in different resolution
  espnet2/tasks/abs_task.py
  espnet2/tasks/hubert.py
  espnet2/train/collate_fn.py
Due: auto add label=ESPnet2

fix ark dump feature procedure
  egs2/TEMPLATE/asr1/pyscripts/feats/ssl_feature_utils.py
Due: auto add label=ESPnet2

Added biasing lists; removed unnecessary files; modified suffixbpe in asr.sh; created symbolic link for db.sh; moved biasing arguments to model_conf;
  egs2/librispeech_100/asr1_biasing/asr.sh
  egs2/librispeech_100/asr1_biasing/conf/decode_asr.yaml
  egs2/librispeech_100/asr1_biasing/conf/decode_asr_whisper_noctc_greedy.yaml
  egs2/librispeech_100/asr1_biasing/conf/train_asr.yaml
  egs2/librispeech_100/asr1_biasing/conf/train_rnnt.yaml
  egs2/librispeech_100/asr1_biasing/db.sh
  egs2/librispeech_100/asr1_biasing/decode.sh
  egs2/librispeech_100/asr1_biasing/local/all_rare_words.txt
  egs2/librispeech_100/asr1_biasing/local/rareword_f15.txt
  egs2/librispeech_100/asr1_biasing/run.sh
  espnet2/asr/espnet_model.py
  espnet2/asr/transducer/beam_search_transducer.py
  espnet2/asr_transducer/joint_network.py
  espnet2/bin/asr_inference.py
  espnet2/tasks/abs_task.py
  espnet2/tasks/asr.py
Due: auto add label=ESPnet2

fix data prep
  egs/must_c/st1/local/data_prep.sh
Due: auto add label=ESPnet1

remove extra scripts
  egs2/must_c_v2/st1/local/simuleval.sh
  egs2/must_c_v2/st1/run_aug_sp.sh
  egs2/must_c_v2/st1/run_mustc123_unique_sp.sh
Due: auto add label=ESPnet2

clean comments
  espnet2/asr/decoder/hugging_face_transformers_decoder.py
Due: auto add label=ESPnet2

clean configs
  egs2/must_c_v2/st1/conf/tuning/base_lsm0.2_freeze_fc_sa_stctc0.3.yaml
  egs2/must_c_v2/st1/conf/tuning/base_stctc0.3_lr1e-3_wu12.5k_oldinit.yaml
  egs2/must_c_v2/st1/conf/tuning/conf_wavlm_nohier_mbart_m2m_asr0.0_stctc0.0.yaml
  egs2/must_c_v2/st1/conf/tuning/decode_st_conformer.yaml
  egs2/must_c_v2/st1/conf/tuning/decode_st_conformer_ctc0.3.yaml
  egs2/must_c_v2/st1/conf/tuning/decode_st_hf_native_beam5_penalty0.4.yaml
  egs2/must_c_v2/st1/conf/tuning/decode_st_md.yaml
  egs2/must_c_v2/st1/conf/tuning/decode_st_md_ctc0.3.yaml
  egs2/must_c_v2/st1/conf/tuning/decode_st_md_ctc0.3_beam10_10.yaml
  egs2/must_c_v2/st1/conf/tuning/decode_st_streaming_conformer_drd_false_ctc0.3.yaml
  egs2/must_c_v2/st1/conf/tuning/train_st_conformer.yaml
  egs2/must_c_v2/st1/conf/tuning/train_st_conformer_asrinit_v2.yaml
  egs2/must_c_v2/st1/conf/tuning/train_st_ctc_conformer_asrinit_v2.yaml
  egs2/must_c_v2/st1/conf/tuning/train_st_ctc_conformer_asrinit_v2_mbart_m2m.yaml
  egs2/must_c_v2/st1/conf/tuning/train_st_ctc_conformer_asrinit_v2_streaming_20block_nohier.yaml
  egs2/must_c_v2/st1/conf/tuning/train_st_ctc_conformer_asrinit_v2_streaming_20block_nohier_18lyr.yaml
  egs2/must_c_v2/st1/conf/tuning/train_st_ctc_conformer_asrinit_v2_streaming_40block_nohier.yaml
  egs2/must_c_v2/st1/conf/tuning/train_st_ctc_conformer_asrinit_v2_streaming_40block_nohier_18lyr.yaml
  egs2/must_c_v2/st1/conf/tuning/train_st_ctc_ebranchformer_conformer_asrinit_v2_12_8layer.yaml
  egs2/must_c_v2/st1/conf/tuning/train_st_ctc_md_conformer_asrinit_v3_noamp_batch50m.yaml
  egs2/must_c_v2/st1/conf/tuning/train_st_ctc_md_conformer_asrinit_v3_noamp_batch50m_ctcsamp0.1.yaml
  egs2/must_c_v2/st1/conf/tuning/train_st_md_conformer_asrinit_v3.yaml
Due: auto add label=ESPnet2

add ctc/attn config
  egs2/must_c_v2/st1/conf/tuning/decode_st_conformer_ctc0.3.yaml
  egs2/must_c_v2/st1/conf/tuning/train_st_ctc_conformer_asrinit_v2.yaml
Due: auto add label=ESPnet2

add readme
  egs2/must_c_v2/st1/README.md
Due: auto add label=ESPnet2, auto add label=README

add md configs
  egs2/must_c_v2/st1/conf/tuning/decode_st_md_ctc0.3_beam10_10.yaml
  egs2/must_c_v2/st1/conf/tuning/train_st_ctc_md_conformer_asrinit_v3_noamp_batch50m_ctcsamp0.1.yaml
Due: auto add label=ESPnet2

Remove fmin for SC2034 warning
  egs2/nit_song070/svs1/run.sh
Due: auto add label=ESPnet2

Make segments in data_prep.py
  egs2/nit_song070/svs1/local/data.sh
  egs2/nit_song070/svs1/local/data_prep.py
  egs2/nit_song070/svs1/local/prep_segments.py
  egs2/nit_song070/svs1/run.sh
Due: auto add label=ESPnet2

Remove commented code and unused module
  egs2/nit_song070/svs1/local/data_prep.py
  espnet2/fileio/midi_scp.py
  espnet2/fileio/utils.py
Due: auto add label=ESPnet2

Limit lines & remove unused create_midi method
  egs2/nit_song070/svs1/local/data_prep.py
Due: auto add label=ESPnet2

Remove path for nit_song070
  egs2/TEMPLATE/asr1/db.sh
  egs2/nit_song070/svs1/run.sh
Due: auto add label=ESPnet2

nitpick: add space for visibility
  espnet2/asr_transducer/beam_search_transducer.py
Due: auto add label=ESPnet2

use tensor instead of LongTensor (deprecated) to avoid device pinning error
  espnet2/asr_transducer/decoder/mega_decoder.py
  espnet2/asr_transducer/decoder/rnn_decoder.py
  espnet2/asr_transducer/decoder/rwkv_decoder.py
  espnet2/asr_transducer/decoder/stateless_decoder.py
Due: auto add label=ESPnet2

add support for k2 pruned loss + related refactoring
  espnet2/asr_transducer/espnet_transducer_model.py
  espnet2/asr_transducer/joint_network.py
  espnet2/tasks/asr_transducer.py
Due: auto add label=ESPnet2

use maes instead of unrestricted alg. to avoid endless/long looping in some cases
  espnet2/asr_transducer/error_calculator.py
Due: auto add label=ESPnet2

Fix filling of waveform_buffer with samples for streaming inference
  espnet2/bin/asr_inference_streaming.py
Due: auto add label=ESPnet2

add minor control for validation w/ maES + fix warmup_steps conflicts
  espnet2/asr_transducer/error_calculator.py
  espnet2/asr_transducer/espnet_transducer_model.py
  espnet2/tasks/asr_transducer.py
Due: auto add label=ESPnet2

add CI test
  espnet2/svs/singing_tacotron/decoder.py
  espnet2/svs/xiaoice/XiaoiceSing.py
  espnet2/svs/xiaoice/loss.py
  test/espnet2/svs/test_singing_tacotron.py
  test/espnet2/svs/test_xiaoice.py
Due: auto add label=ESPnet2

update xiaoice.yaml
  egs2/namine_ritsu_utagoe_db/svs1/conf/tuning/train_xiaoice.yaml
  egs2/ofuton_p_utagoe_db/svs1/conf/tuning/train_xiaoice.yaml
  egs2/opencpop/svs1/conf/tuning/train_xiaoice.yaml
Due: auto add label=ESPnet2

add descriptions
  egs2/TEMPLATE/st1/st.sh
  egs2/must_c_v2/st1/local/simuleval.sh
  espnet/nets/beam_search.py
  espnet/nets/beam_search_timesync_streaming.py
  espnet/nets/pytorch_backend/transformer/decoder_layer.py
  espnet2/asr/ctc.py
  espnet2/asr/decoder/transformer_decoder.py
  espnet2/text/hugging_face_tokenizer.py
Due: auto add label=ESPnet1, auto add label=ESPnet2

clean
  espnet/nets/batch_beam_search.py
  espnet/nets/batch_beam_search_online.py
  espnet/nets/beam_search.py
  espnet/nets/beam_search_timesync_streaming.py
  espnet2/asr/transducer/beam_search_transducer_streaming.py
Due: auto add label=ESPnet1, auto add label=ESPnet2

black
  espnet/nets/batch_beam_search.py
  espnet/nets/batch_beam_search_online.py
  espnet/nets/beam_search_timesync_streaming.py
  espnet2/asr/transducer/beam_search_transducer_streaming.py
Due: auto add label=ESPnet1, auto add label=ESPnet2

beam search unit tests
  test/espnet2/asr/transducer/test_transducer_beam_search_streaming.py
  test/test_beam_search_timesync_streaming.py
Due: none

beam search unit tests
  test/test_beam_search_timesync_streaming.py
Due: none

st rnnt beam search
  egs2/must_c_v2/st1/conf/tuning/decode_rnnt_tsd_mse4_scorenormduring_beam10.yaml
  egs2/must_c_v2/st1/conf/tuning/train_st_ctc_rnnt_asrinit.yaml
  espnet2/asr/transducer/beam_search_transducer.py
  espnet2/asr_transducer/joint_network.py
  espnet2/bin/st_inference.py
  espnet2/tasks/st.py
Due: auto add label=ESPnet2

add score norm during
  espnet2/asr/transducer/beam_search_transducer.py
Due: auto add label=ESPnet2

add score norm during
  espnet2/asr/transducer/beam_search_transducer_streaming.py
Due: auto add label=ESPnet2

fix multispeaker for pits
  espnet2/gan_tts/pits/generator.py
Due: auto add label=ESPnet2

fix path
  egs2/must_c_v2/st1/conf/tuning/train_st_ctc_rnnt_asrinit.yaml
Due: auto add label=ESPnet2

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
