Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

.mergify.yml:

pull_request_rules:
  - name: automatic merge if label=auto-merge
    conditions:
      - "label=auto-merge"
      - "check-success=test_centos7"
      - "check-success=test_debian9"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.4.0, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.5.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.6.0, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.7.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.8.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.9.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.10.2, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.11.0, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.12.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.13.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.8, 1.13.1, false, 6.0.0)"
      - "check-success=linter_and_test (ubuntu-latest, 3.9, 1.13.1, false, 6.0.0)"
      - "check-success=linter_and_test (ubuntu-latest, 3.10, 1.13.1, false, 6.0.0)"
      - "check-success=test_import (ubuntu-latest, 3.10, 1.13.1)"
      - "check-success=check_kaldi_symlinks"
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=ESPnet1"
    conditions:
      - files~=^(espnet/|egs/)
    actions:
      label:
        add: ["ESPnet1"]
  - name: "auto add label=ESPnet2"
    conditions:
      - files~=^(espnet2/|egs2/)
    actions:
      label:
        add: ["ESPnet2"]
  - name: "auto add label=ASR"
    conditions:
      - files~=^(espnet*/asr|egs*/*/asr1)
    actions:
      label:
        add: ["ASR"]
  - name: "auto add label=TTS"
    conditions:
      - files~=^(espnet*/tts|egs*/*/tts1)
    actions:
      label:
        add: ["TTS"]
  - name: "auto add label=MT"
    conditions:
      - files~=^(espnet*/mt|egs*/*/mt1)
    actions:
      label:
        add: ["MT"]
  - name: "auto add label=LM"
    conditions:
      - files~=^(espnet*/lm)
    actions:
      label:
        add: ["LM"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^doc/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]

add tuto section + fix some docstrings
  doc/espnet2_tutorial.md
  espnet2/asr_transducer/espnet_transducer_model.py
Due: auto add label=ESPnet2, auto add label=Documentation

Add script to use speaker averaged xvectors in TTS training (#5244)
  egs2/TEMPLATE/asr1/pyscripts/utils/convert_to_avg_xvectors.py
  egs2/TEMPLATE/tts1/README.md
Due: auto add label=ESPnet2, auto add label=README

add SVS rnn's CI
  espnet2/svs/naive_rnn/naive_rnn.py
  test/espnet2/svs/test_naive_rnn.py
Due: auto add label=ESPnet2

add decode_options and hyp_cleaner
  egs2/TEMPLATE/asr1/pyscripts/utils/evaluate_whisper_inference.py
  egs2/TEMPLATE/asr1/scripts/utils/evaluate_asr.sh
Due: auto add label=ESPnet2

add hyp_cleaner in help msg
  egs2/TEMPLATE/asr1/scripts/utils/evaluate_asr.sh
Due: auto add label=ESPnet2

add whisper example in tutorial
  doc/espnet2_tutorial.md
Due: auto add label=Documentation

fix path
  doc/espnet2_tutorial.md
Due: auto add label=Documentation

Fix get_random_segments.py
  espnet2/gan_tts/utils/get_random_segments.py
Due: auto add label=ESPnet2

MFA format fix
  egs2/TEMPLATE/asr1/pyscripts/utils/mfa_format.py
Due: auto add label=ESPnet2

Update run_multi.sh
  egs2/ml_superb/asr1/run_multi.sh
Due: auto add label=ESPnet2

add voxceleb description
  egs2/README.md
Due: auto add label=ESPnet2, auto add label=README

add egs confs
  egs2/must_c_v2/st1/conf/tuning/decode_st_md.yaml
  egs2/must_c_v2/st1/conf/tuning/train_st_conformer.yaml
  egs2/must_c_v2/st1/conf/tuning/train_st_conformer_asrinit_v2.yaml
  egs2/must_c_v2/st1/conf/tuning/train_st_md_conformer_asrinit_v3-2.yaml
Due: auto add label=ESPnet2

add readme
  egs2/must_c_v2/st1/README.md
Due: auto add label=ESPnet2, auto add label=README

add readme
  egs2/must_c_v2/st1/conf/tuning/decode_st_conformer.yaml
  egs2/must_c_v2/st1/conf/tuning/train_st_ctc_md_conformer_asrinit_v3_noamp_batch50m_ctcsamp0.1.yaml
  egs2/must_c_v2/st1/conf/tuning/train_st_md_conformer_asrinit_v3-2.yaml
Due: auto add label=ESPnet2

reflect additional comments
  egs2/TEMPLATE/spk1/spk.sh
  espnet2/spk/encoder/rawnet3_encoder.py
  espnet2/spk/espnet_model.py
  espnet2/spk/pooling/chn_attn_stat_pooling.py
  espnet2/tasks/spk.py
Due: auto add label=ESPnet2

fix typo
  espnet2/spk/espnet_model.py
Due: auto add label=ESPnet2

reflect additional comments
  egs2/voxceleb/spk1/conf/train_RawNet3.yaml
  espnet2/spk/encoder/rawnet3_encoder.py
Due: auto add label=ESPnet2

fix typo
  egs2/voxceleb/spk1/conf/train_RawNet3.yaml
Due: auto add label=ESPnet2

Add unit tests and CI integration tests for SPK functions
  ci/test_integration_espnet2.sh
  espnet2/spk/encoder/rawnet3_encoder.py
  espnet2/spk/espnet_model.py
  espnet2/spk/layers/RawNetBasicBlock.py
  espnet2/spk/loss/aamsoftmax.py
  espnet2/spk/loss/abs_loss.py
  espnet2/spk/pooling/abs_pooling.py
  espnet2/spk/pooling/chn_attn_stat_pooling.py
  espnet2/spk/projector/abs_projector.py
  espnet2/spk/projector/rawnet3_projector.py
  espnet2/tasks/spk.py
  test/espnet2/bin/test_spk_train.py
  test/espnet2/spk/test_espnet_model.py
Due: auto add label=ESPnet2, auto add label=CI

add files for spk ci egs
  egs2/TEMPLATE/spk1/scripts
  egs2/TEMPLATE/spk1/scripts/utils/print_args.sh
  egs2/mini_an4/spk1/cmd.sh
  egs2/mini_an4/spk1/conf/train_mini_RawNet3.yaml
  egs2/mini_an4/spk1/db.sh
  egs2/mini_an4/spk1/downloads.tar.gz
  egs2/mini_an4/spk1/local/data.sh
  egs2/mini_an4/spk1/local/data_prep.py
  egs2/mini_an4/spk1/local/download_and_untar.sh
  egs2/mini_an4/spk1/local/path.sh
  egs2/mini_an4/spk1/path.sh
  egs2/mini_an4/spk1/pyscripts
  egs2/mini_an4/spk1/run.sh
  egs2/mini_an4/spk1/scripts
  egs2/mini_an4/spk1/spk.sh
  egs2/mini_an4/spk1/steps
  egs2/mini_an4/spk1/utils
Due: auto add label=ESPnet2

reflect comment on variable
  espnet2/spk/encoder/rawnet3_encoder.py
Due: auto add label=ESPnet2

fix inherit err
  espnet2/spk/espnet_model.py
  espnet2/spk/loss/aamsoftmax.py
Due: auto add label=ESPnet2

fix typo
  egs2/TEMPLATE/spk1/spk.sh
Due: auto add label=ESPnet2

fix db
  egs2/mini_an4/spk1/conf/train_mini_RawNet3.yaml
Due: auto add label=ESPnet2

make config runnable
  egs2/mini_an4/spk1/conf/train_mini_RawNet3.yaml
Due: auto add label=ESPnet2

fix collect_stats
  espnet2/spk/espnet_model.py
Due: auto add label=ESPnet2

make loss work for batch size of 1
  espnet2/spk/loss/aamsoftmax.py
Due: auto add label=ESPnet2

Pitch extractor changes
  espnet2/tts/feats_extract/praat_pitch.py
Due: auto add label=ESPnet2

Adding PraatPitch as pitch_extract choice
  espnet2/tasks/tts.py
Due: auto add label=ESPnet2

Update Praat pitch description and warnings
  espnet2/tts/feats_extract/praat_pitch.py
Due: auto add label=ESPnet2

Fix unit tests for SPK
  test/espnet2/spk/test_espnet_model.py
Due: none

rename
  test/espnet2/spk/test_espnet_spk_model.py
Due: none

delete overlapping name
  test/espnet2/spk/test_espnet_model.py
Due: none
