Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

Add fix to data preparation
  egs2/tmsa_openslr46/asr1/local/data_prep_aaf.py
Due: auto add label=ESPnet2

Modifications to file names
  egs2/TEMPLATE/asr1/db.sh
  egs2/ml_openslr63/asr1/local/data.sh
  egs2/ml_openslr63/asr1/local/data_prep.py
  egs2/ml_openslr63/asr1/run.sh
Due: auto add label=ESPnet2

add new conformer config using hop160
  egs2/librispeech/asr1/conf/tuning/train_asr_conformer10_hop_length160.yaml
  egs2/librispeech/asr1/run.sh
Due: auto add label=ESPnet2

Fix ASR computation with bpe
  egs2/slue-voxceleb/asr1/local/generate_asr_files.py
  egs2/slue-voxceleb/asr1/local/score.sh
Due: auto add label=ESPnet2

self.mt_model should be none as default
  espnet2/bin/st_md_inference.py
Due: auto add label=ESPnet2

add maskctc inference
  egs2/TEMPLATE/asr1/asr.sh
  espnet2/asr/maskctc_model.py
  espnet2/bin/asr_inference_maskctc.py
Due: auto add label=ESPnet2

ext ST support
  egs2/TEMPLATE/st1/st.sh
  espnet/nets/batch_beam_search.py
  espnet/nets/beam_search.py
  espnet2/bin/st_inference.py
  espnet2/bin/st_md_inference.py
  espnet2/tasks/st.py
Due: auto add label=ESPnet1, auto add label=ESPnet2

update
  egs/lrs/avsr1/RESULTS.md
  egs/lrs/avsr1/local/download.sh
  egs/lrs/avsr1/run.sh
  egs/lrs2/asr1/run.sh
Due: auto add label=ESPnet1

Added LM files
  egs2/ml_openslr63/asr1/conf/tuning/decode_transformer.yaml
  egs2/ml_openslr63/asr1/conf/tuning/train_asr_conformer5.yaml
  egs2/ml_openslr63/asr1/run.sh
Due: auto add label=ESPnet2

Added LM files
  egs2/ml_openslr63/asr1/run.sh
Due: auto add label=ESPnet2

apply black
  espnet2/asr/maskctc_model.py
  espnet2/bin/asr_inference_maskctc.py
Due: auto add label=ESPnet2

remove unnecessary imports & fix docstrings
  espnet2/asr/decoder/mlm_decoder.py
  espnet2/bin/asr_inference_maskctc.py
Due: auto add label=ESPnet2

Added LM files
  egs2/ml_openslr63/asr1/local/data_prep.py
Due: auto add label=ESPnet2

update readme to include new results
  egs2/librispeech/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

update config and run.sh
  egs2/librispeech/asr1/conf/train_asr_confformer.yaml
  egs2/librispeech/asr1/conf/train_asr_conformer.yaml
  egs2/librispeech/asr1/run.sh
Due: auto add label=ESPnet2

add pretrained model
  egs2/librispeech/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

Added LM files
  egs2/ml_openslr63/asr1/conf/tuning/train_asr_conformer5.yaml
  egs2/ml_openslr63/asr1/run.sh
Due: auto add label=ESPnet2

Added LM files
  egs2/ml_openslr63/asr1/conf/tuning/train_asr_conformer5.yaml
Due: auto add label=ESPnet2

fix for ci
  espnet2/tasks/asr.py
Due: auto add label=ESPnet2

Update results in Readme
  egs2/slue-voxceleb/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

minor fix
  espnet2/tasks/asr.py
Due: auto add label=ESPnet2

added hubert config
  egs2/bur_openslr80/asr1/conf/train_asr_hubert_transformer_adam_specaug.yaml
Due: auto add label=ESPnet2

Adding Results for Conformer model
  egs2/ml_openslr63/asr1/README.md
  egs2/ml_openslr63/asr1/conf/tuning/train_asr_conformer5.yaml
  egs2/ml_openslr63/asr1/local/data.sh
  egs2/ml_openslr63/asr1/local/data_prep.py
Due: auto add label=ESPnet2, auto add label=README

Adding Results for Conformer model
  egs2/ml_openslr63/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

Running for dev set as well
  egs2/ml_openslr63/asr1/run.sh
Due: auto add label=ESPnet2

Results for dev and test uploaded for base model
  egs2/ml_openslr63/asr1/README.md
  egs2/ml_openslr63/asr1/run.sh
Due: auto add label=ESPnet2, auto add label=README

add tests
  espnet2/asr/maskctc_model.py
  test/espnet2/asr/decoder/test_mlm_decoder.py
  test/espnet2/asr/test_maskctc_model.py
Due: auto add label=ESPnet2

Update installation.md
  doc/installation.md
Due: auto add label=Documentation

apply black & remove unnecessary imports
  test/espnet2/asr/decoder/test_mlm_decoder.py
  test/espnet2/asr/test_maskctc_model.py
Due: none

Added configuration for Self Supervised Training HuBERT
  egs2/ml_openslr63/asr1/conf/tuning/train_asr_conformer_selfsupervised.yaml
  egs2/ml_openslr63/asr1/run.sh
Due: auto add label=ESPnet2

Update recipe name
  egs2/aaf_openslr57/asr1/asr.sh
  egs2/aaf_openslr57/asr1/cmd.sh
  egs2/aaf_openslr57/asr1/conf/fbank.conf
  egs2/aaf_openslr57/asr1/conf/pbs.conf
  egs2/aaf_openslr57/asr1/conf/pitch.conf
  egs2/aaf_openslr57/asr1/conf/queue.conf
  egs2/aaf_openslr57/asr1/conf/slurm.conf
  egs2/aaf_openslr57/asr1/db.sh
  egs2/aaf_openslr57/asr1/local/data.sh
  egs2/aaf_openslr57/asr1/local/data_prep_aaf.py
  egs2/aaf_openslr57/asr1/local/path.sh
  egs2/aaf_openslr57/asr1/path.sh
  egs2/aaf_openslr57/asr1/pyscripts
  egs2/aaf_openslr57/asr1/scripts
  egs2/aaf_openslr57/asr1/steps
  egs2/aaf_openslr57/asr1/utils
Due: auto add label=ESPnet2

Add configuration files
  egs2/aaf_openslr57/asr1/conf/decode_asr.yaml
  egs2/aaf_openslr57/asr1/conf/train_asr.yaml
  egs2/aaf_openslr57/asr1/conf/train_lm.yaml
  egs2/aaf_openslr57/asr1/conf/tuning/decode_rnn.yaml
  egs2/aaf_openslr57/asr1/conf/tuning/decode_transformer.yaml
  egs2/aaf_openslr57/asr1/conf/tuning/train_asr_conformer5.yaml
  egs2/aaf_openslr57/asr1/conf/tuning/train_asr_fused_frontends.yaml
  egs2/aaf_openslr57/asr1/conf/tuning/train_asr_rnn.yaml
  egs2/aaf_openslr57/asr1/conf/tuning/train_asr_transformer.yaml
Due: auto add label=ESPnet2

Edited run.sh to use selfsupervised conf
  egs2/ml_openslr63/asr1/run.sh
Due: auto add label=ESPnet2

Edited run.sh to use selfsupervised conf
  egs2/ml_openslr63/asr1/conf/tuning/train_asr_conformer_s3prlfrontend_hubert.yaml
  egs2/ml_openslr63/asr1/run.sh
Due: auto add label=ESPnet2

Edited conf to use selfsupervised conf
  egs2/ml_openslr63/asr1/conf/tuning/train_asr_conformer_s3prlfrontend_hubert.yaml
Due: auto add label=ESPnet2

add 2&3 mixture files
  egs2/librimix/diar_enh1/conf/tuning/train_diar_enh_convtasnet_adapt.yaml
  egs2/librimix/diar_enh1/local/data.sh
  egs2/librimix/diar_enh1/run_adapt.sh
Due: auto add label=ESPnet2

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
