Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(ci/|.github/)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/

Encode ESPnet recipe and library conventions in path_instructions
  .coderabbit.yaml
Due: none

Do not mask install failures, and put the venv first on PATH
  docker/ci.dockerfile
Due: auto add label=Docker

Enable automatic review on every pull request and push
  .coderabbit.yaml
Due: none

Review on PR open only, not on every push
  .coderabbit.yaml
Due: none

Document `full review` as the re-review command
  .coderabbit.yaml
Due: none

Exclude padded frames from utterance_mvn variance
  espnet2/layers/utterance_mvn.py
  test/espnet2/layers/test_utterance_mvn.py
Due: auto add label=ESPnet2

Keep packages that forbid redistribution out of the prebuilt CI image
  ci/no_redistribute.txt
  ci/report_unlicensed.py
  docker/ci.dockerfile
Due: auto add label=CI, auto add label=Docker

Measure one job running in the prebuilt CI image
  .github/workflows/ci_on_ubuntu.yml
Due: auto add label=CI

Pin the interpreter, and report which one is which
  .github/workflows/ci_on_ubuntu.yml
Due: auto add label=CI

Assert on espnet2, not espnet - there is no top-level espnet package
  .github/workflows/ci_on_ubuntu.yml
Due: auto add label=CI

fix(state_spaces): drop the stray positional argument in DownSample.forward
  espnet2/asr/state_spaces/pool.py
Due: auto add label=ESPnet2

Record which unlicensed dependencies were checked, and why they are fine
  ci/licence_audited.txt
  ci/report_unlicensed.py
Due: auto add label=CI

Build all six CI image variants, and stop the package growing without bound
  .github/workflows/build_ci_image.yml
Due: auto add label=CI

Split the long string so it actually fits in 88 columns
  ci/licence_audited.txt
  ci/report_unlicensed.py
Due: auto add label=CI

Modernize README layout
  README.md
Due: auto add label=README

Make ci/no_redistribute.txt part of the image's identity
  .github/workflows/build_ci_image.yml
Due: auto add label=CI

Shrink contributor avatars in README
  README.md
Due: auto add label=README

Let the contributor image scale with the page
  README.md
Due: auto add label=README

Run the espnet2 unit tests in the prebuilt image
  .github/workflows/ci_on_ubuntu.yml
Due: auto add label=CI

test(state_spaces): add unit tests for pool DownSample/UpSample
  test/espnet2/asr/state_spaces/__init__.py
  test/espnet2/asr/state_spaces/test_pool.py
Due: none

Run the remaining unit-test jobs in the prebuilt image
  .github/actions/use-prebuilt-environment/action.yml
  .github/workflows/ci_on_ubuntu.yml
Due: auto add label=CI

Bake the integration jobs' dependencies into the image
  .github/workflows/build_ci_image.yml
  docker/ci.dockerfile
Due: auto add label=CI, auto add label=Docker

Keep the two image-tag hash lists in agreement, and check that they are
  .github/workflows/ci_on_ubuntu.yml
  ci/check_image_hash_inputs.py
Due: auto add label=CI

Fall back to building the environment when the image is not published
  .github/workflows/ci_on_ubuntu.yml
Due: auto add label=CI

Define the image variant grid once, in ci/image_variants.json
  .github/workflows/build_ci_image.yml
  .github/workflows/ci_on_ubuntu.yml
  ci/check_ci_image_config.py
  ci/check_image_hash_inputs.py
  ci/image_variants.json
  ci/image_variants.py
Due: auto add label=CI

Fix clone recipe path validation
  espnet3/cli/clone/resolver.py
  test/espnet3/cli/test_clone.py
Due: none

Update cloned recipe configuration safely
  espnet3/cli/clone/command.py
  test/espnet3/cli/test_clone.py
Due: none

Run the espnet2 integration tests in the prebuilt image
  .github/workflows/ci_on_ubuntu.yml
  ci/image_variants.py
Due: auto add label=CI

Fix docstring formatting
  ci/test_demo_ui.py
  espnet3/components/callbacks/hf_callbacks.py
  espnet3/components/modeling/hf_models.py
  espnet3/publication/demo/session.py
  espnet3/systems/base/inference_runner.py
  test/espnet3/components/callbacks/test_logging_callback.py
  test/espnet3/components/data/test_data_organizer.py
  test/espnet3/components/modeling/test_optimization_spec.py
  test/espnet3/utils/test_config.py
  test/espnet3/utils/test_scp_utils.py
Due: auto add label=CI

Add a "What's new" section to the README
  README.md
Due: auto add label=README

Run the last convertible jobs in the prebuilt image
  .github/workflows/ci_on_ubuntu.yml
Due: auto add label=CI
