Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

.mergify.yml:

pull_request_rules:
  - name: automatic merge if label=auto-merge
    conditions:
      - "label=auto-merge"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.0.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.1.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.2.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.3.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.4.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.5.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.6.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.7.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.8, 1.8.1, 6.0.0, false)"
    actions:
      merge:
        method: merge
        strict: false
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=ESPnet1"
    conditions:
      - files~=^(espnet/|egs/)
    actions:
      label:
        add: ["ESPnet1"]
  - name: "auto add label=ESPnet2"
    conditions:
      - files~=^(espnet2/|egs2/)
    actions:
      label:
        add: ["ESPnet2"]
  - name: "auto add label=ASR"
    conditions:
      - files~=^(espnet*/asr|egs*/*/asr1)
    actions:
      label:
        add: ["ASR"]
  - name: "auto add label=TTS"
    conditions:
      - files~=^(espnet*/tts|egs*/*/tts1)
    actions:
      label:
        add: ["TTS"]
  - name: "auto add label=MT"
    conditions:
      - files~=^(espnet*/mt|egs*/*/mt1)
    actions:
      label:
        add: ["MT"]
  - name: "auto add label=LM"
    conditions:
      - files~=^(espnet*/lm)
    actions:
      label:
        add: ["LM"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^doc/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]

remove sudo
  egs/lrs/avsr1/local/CMakeLists.txt
  egs/lrs/avsr1/local/installpackage.sh
  tools/installers/install_openface.sh
Due: auto add label=ESPnet1, auto add label=Installation

remove sudo
  egs/lrs/avsr1/local/installpackage.sh
Due: auto add label=ESPnet1

test
  egs/lrs/avsr1/run.sh
Due: auto add label=ESPnet1

setup
  setup.py
Due: auto add label=Installation

Mandarin ISO id should be CMN instead of ZHO
  egs2/README.md
Due: auto add label=ESPnet2, auto add label=README

initial commit
  egs2/librimix/diar_enh1/cmd.sh
  egs2/librimix/diar_enh1/conf/pbs.conf
  egs2/librimix/diar_enh1/conf/queue.conf
  egs2/librimix/diar_enh1/conf/slurm.conf
  egs2/librimix/diar_enh1/conf/tuning/decode_diar_enh.yaml
  egs2/librimix/diar_enh1/conf/tuning/train_diar_enh.yaml
  egs2/librimix/diar_enh1/conf/tuning/train_diar_enh_convtasnet.yaml
  egs2/librimix/diar_enh1/conf/tuning/train_diar_enh_convtasnet_2.yaml
  egs2/librimix/diar_enh1/conf/tuning/train_diar_enh_convtasnet_3.yaml
  egs2/librimix/diar_enh1/conf/tuning/train_diar_enh_convtasnet_concat_feats.yaml
  egs2/librimix/diar_enh1/conf/tuning/train_diar_enh_convtasnet_concat_lmf.yaml
  egs2/librimix/diar_enh1/conf/tuning/train_diar_enh_convtasnet_concat_lmf_noenh.yaml
  egs2/librimix/diar_enh1/conf/tuning/train_diar_enh_convtasnet_concat_lmf_pooling.yaml
  egs2/librimix/diar_enh1/conf/tuning/train_diar_enh_convtasnet_finetune.yaml
  egs2/librimix/diar_enh1/conf/tuning/train_diar_enh_convtasnet_nodiar.yaml
  egs2/librimix/diar_enh1/conf/tuning/train_diar_enh_convtasnet_noenh.yaml
  egs2/librimix/diar_enh1/db.sh
  egs2/librimix/diar_enh1/diar_enh.sh
  egs2/librimix/diar_enh1/local/data.sh
  egs2/librimix/diar_enh1/local/generate_librimix_sd.sh
  egs2/librimix/diar_enh1/local/path copy.sh
  egs2/librimix/diar_enh1/local/path.sh
  egs2/librimix/diar_enh1/local/prepare_kaldifiles.py
  egs2/librimix/diar_enh1/local/show_enh_score.sh
  egs2/librimix/diar_enh1/path.sh
  egs2/librimix/diar_enh1/pyscripts
  egs2/librimix/diar_enh1/run.sh
  egs2/librimix/diar_enh1/scripts
  egs2/librimix/diar_enh1/steps
  egs2/librimix/diar_enh1/utils
  espnet2/bin/diar_enh_inference.py
  espnet2/bin/diar_enh_train.py
  espnet2/diar/espnet_diar_enh_model.py
  espnet2/diar/layers/abs_mask.py
  espnet2/diar/layers/mask.py
  espnet2/diar/layers/tcn_nomask.py
  espnet2/diar/separator/abs_separator.py
  espnet2/diar/separator/tcn_separator_nomask.py
  espnet2/tasks/diar_enh.py
Due: auto add label=ESPnet2

add stochastic depth rate in the conformer encoder
  espnet2/asr/encoder/conformer_encoder.py
Due: auto add label=ESPnet2

Added conv2d1 which does not do subsampling
  espnet/nets/pytorch_backend/transformer/subsampling.py
  espnet2/asr/encoder/conformer_encoder.py
Due: auto add label=ESPnet1, auto add label=ESPnet2

Add DC-CRN complex masking and spectral mapping approach
  egs2/wsj0_2mix/enh1/README.md
  egs2/wsj0_2mix/enh1/conf/tuning/train_enh_dc_crn_mapping_snr.yaml
  espnet2/enh/layers/conv_utils.py
  espnet2/enh/layers/dc_crn.py
  espnet2/enh/loss/criterions/tf_domain.py
  espnet2/enh/separator/dc_crn_separator.py
  espnet2/tasks/enh.py
  test/espnet2/enh/layers/test_conv_utils.py
  test/espnet2/enh/loss/criterions/test_tf_domain.py
  test/espnet2/enh/separator/test_dc_crn_separator.py
  test/espnet2/enh/test_espnet_model.py
Due: auto add label=ESPnet2, auto add label=README

Fix unit test errors in test_dc_crn_separator.py
  test/espnet2/enh/separator/test_dc_crn_separator.py
Due: none

Add criterions parameter in egs2/dns_ins20/enh1/conf/tuning/train_enh_dccrn.yaml, add PESQ and SI_SNR scores in egs2/dns_ins20/enh1/README.md
  README.md
  egs2/dns_ins20/enh1/README.md
  egs2/dns_ins20/enh1/conf/tuning/train_enh_dccrn.yaml
Due: auto add label=ESPnet2, auto add label=README

Add pretrained model link in egs2/dns_ins20/enh1/README.md
  egs2/dns_ins20/enh1/README.md
Due: auto add label=ESPnet2, auto add label=README

Add a new blank line at the end of egs2/dns_ins20/enh1/conf/tuning/train_enh_dccrn.yaml
  egs2/dns_ins20/enh1/conf/tuning/train_enh_dccrn.yaml
Due: auto add label=ESPnet2

typo fix
  espnet2/asr/encoder/longformer_encoder.py
Due: auto add label=ESPnet2

typo fix
  egs2/how2_2000h/asr1/conf/tuning/train_asr_conformer_vid_ctc_lf.yaml
  egs2/how2_2000h/sum1/conf/tuning/train_asr_conformer_vid_ctc_lf.yaml
  egs2/how2_2000h/sum1/conf/tuning/train_asr_conformer_vid_lf.yaml
  test_utils/test_scoresum_py.bats
Due: auto add label=ESPnet2

add automatic lyric recognition recipe for dsing30
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/dsing/asr1/asr.sh
  egs2/dsing/asr1/cmd.sh
  egs2/dsing/asr1/conf/decode_asr.yaml
  egs2/dsing/asr1/conf/fbank.conf
  egs2/dsing/asr1/conf/pbs.conf
  egs2/dsing/asr1/conf/pitch.conf
  egs2/dsing/asr1/conf/queue.conf
  egs2/dsing/asr1/conf/slurm.conf
  egs2/dsing/asr1/conf/train_asr.yaml
  egs2/dsing/asr1/conf/train_lm.yaml
  egs2/dsing/asr1/conf/tuning/decode_conformer.yaml
  egs2/dsing/asr1/conf/tuning/decode_rnn.yaml
  egs2/dsing/asr1/conf/tuning/decode_transformer.yaml
  egs2/dsing/asr1/conf/tuning/train_asr_conformer6.yaml
  egs2/dsing/asr1/conf/tuning/train_asr_rnn.yaml
  egs2/dsing/asr1/conf/tuning/train_asr_transformer.yaml
  egs2/dsing/asr1/db.sh
  egs2/dsing/asr1/local/data.sh
  egs2/dsing/asr1/local/data_prep.py
  egs2/dsing/asr1/local/path.sh
  egs2/dsing/asr1/path.sh
  egs2/dsing/asr1/pyscripts
  egs2/dsing/asr1/run.sh
  egs2/dsing/asr1/scripts
  egs2/dsing/asr1/steps
  egs2/dsing/asr1/utils
Due: auto add label=ESPnet2, auto add label=README

Add java
  test_utils/test_scoresum_py.bats
Due: none

apply black
  egs2/TEMPLATE/ssl1/pyscripts/dump_km_label.py
  egs2/dsing/asr1/local/data_prep.py
Due: auto add label=ESPnet2

update dsing prepare
  egs2/dsing/asr1/local/data.sh
Due: auto add label=ESPnet2

reduce long comments
  egs2/dsing/asr1/local/data_prep.py
Due: auto add label=ESPnet2

add relative path and apply black
  egs2/dsing/asr1/local/data_prep.py
Due: auto add label=ESPnet2

Remove sum scoring test
  test_utils/test_scoresum_py.bats
Due: none

Added lf enc
  espnet2/asr/encoder/longformer_encoder.py
Due: auto add label=ESPnet2

Ci fix
  espnet2/asr/encoder/longformer_encoder.py
Due: auto add label=ESPnet2

Ci-fixes
  espnet2/asr/encoder/conformer_encoder.py
  espnet2/asr/encoder/longformer_encoder.py
  test/espnet2/asr/encoder/test_conformer_encoder.py
  test/espnet2/asr/encoder/test_longformer_encoder.py
Due: auto add label=ESPnet2

black fix
  espnet2/asr/encoder/conformer_encoder.py
  espnet2/asr/encoder/longformer_encoder.py
  test/espnet2/asr/encoder/test_conformer_encoder.py
Due: auto add label=ESPnet2

Ci-fix
  espnet2/asr/encoder/longformer_encoder.py
  setup.py
Due: auto add label=ESPnet2, auto add label=Installation

check-fix
  setup.py
  tools/check_install.py
Due: auto add label=Installation

check-fix
  espnet2/asr/encoder/longformer_encoder.py
  setup.py
Due: auto add label=ESPnet2, auto add label=Installation

support shared embeddings: encoder, decoder, input, output
  espnet2/mt/espnet_model.py
Due: auto add label=ESPnet2

update decode
  egs2/iwslt14/mt1/conf/decode_mt.yaml
Due: auto add label=ESPnet2

Add ref_channel for multi-channel processing
  espnet2/enh/espnet_model.py
  espnet2/enh/separator/dc_crn_separator.py
Due: auto add label=ESPnet2

add ifasnet
  egs2/chime4/enh1/conf/tuning/train_enh_dprnntac_ifasnet.yaml
  espnet2/enh/layers/dprnn.py
  espnet2/enh/layers/ifasnet.py
  espnet2/enh/separator/ifasnet_separator.py
  espnet2/tasks/enh.py
Due: auto add label=ESPnet2

update install_openface.sh
  tools/installers/install_openface.sh
Due: auto add label=Installation
