Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(ci/|.github/)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/

Update doc/devcontainer.md
  doc/devcontainer.md
Due: auto add label=Documentation

Revert "Partially cherry-picked "9d8cc41""
  doc/devcontainer.md
  doc/image/dev_1.png
  doc/image/dev_2.png
Due: auto add label=Documentation

Partially Revert "Partially cheery-picked dbf419d."
  .devcontainer/ci_cpu/espnet.dockerfile
  .devcontainer/ci_debian_cpu/build_image.sh
  .devcontainer/ci_debian_cpu/devcontainer.json
Due: none

Update installation document
  doc/installation.md
Due: auto add label=Documentation

Fixed CI
  .github/workflows/ci_on_ubuntu.yml
Due: auto add label=CI

Revert "minor devcontainer update"
  .devcontainer/ci_cpu/build_image.sh
  .devcontainer/ci_cpu/devcontainer.json
Due: none

Partially cherry-picked "Fix missing additional dependencies for docs"
  pyproject.toml
Due: none

Moved some dependencies to espnet3
  pyproject.toml
Due: none

minor devcontainer update
  .devcontainer/ci_cpu/build_image.sh
  .devcontainer/ci_cpu/devcontainer.json
Due: none

Partially cheery-picked dbf419d.
  .devcontainer/ci_cpu/espnet.dockerfile
  .devcontainer/ci_debian_cpu/build_image.sh
  .devcontainer/ci_debian_cpu/devcontainer.json
Due: none

Partially cherry-picked "9d8cc41"
  doc/devcontainer.md
  doc/image/dev_1.png
  doc/image/dev_2.png
Due: auto add label=Documentation

add devcontainer
  .devcontainer/build_image3.sh
  .devcontainer/container.env
  .devcontainer/espnet3.dockerfile
  .devcontainer/espnet3_cpu/devcontainer.json
  .devcontainer/espnet3_gpu/devcontainer.json
  .devcontainer/postcreated3.sh
Due: none

Just copied dependency for documents from setup.py
  pyproject.toml
Due: none

Copied setuptools version from setup.py
  pyproject.toml
Due: none

Update egs2/amuse/codec1/README.md
  egs2/amuse/codec1/README.md
Due: auto add label=ESPnet2, auto add label=README

Update installation docuemnt
  doc/installation.md
Due: auto add label=Documentation

Remove espnet_tts_frontend from dependency.
  espnet2/text/cleaner.py
  pyproject.toml
Due: auto add label=ESPnet2

Moved g2p_en into task-tts
  espnet2/text/phoneme_tokenizer.py
  pyproject.toml
  test/espnet2/text/test_phoneme_tokenizer.py
Due: auto add label=ESPnet2

Update espnet2/asr/frontend/cnn.py
  espnet2/asr/frontend/cnn.py
Due: auto add label=ESPnet2

Update espnet2/bin/cls_inference.py
  espnet2/bin/cls_inference.py
Due: auto add label=ESPnet2

Update espnet2/ssl/espnet_model.py
  espnet2/ssl/espnet_model.py
Due: auto add label=ESPnet2

remove comments
  espnet2/bin/slu_inference.py
  espnet2/cls/espnet_model.py
  espnet2/tasks/cls.py
  espnet2/tasks/ssl.py
  espnet2/train/collate_fn.py
  test/espnet2/cls/test_espnet_model.py
Due: auto add label=ESPnet2

add TODO comment
  ci/test_python_espnet2.sh
Due: auto add label=CI

move h5py into espnet['test']
  espnet2/train/dataset.py
  pyproject.toml
Due: auto add label=ESPnet2

Move jamo to espnet['task-tts']
  espnet2/text/phoneme_tokenizer.py
  pyproject.toml
Due: auto add label=ESPnet2

Move state-space specific dependency to task-asr-state-space
  espnet2/asr/state_spaces/components.py
  espnet2/asr/state_spaces/s4.py
  pyproject.toml
Due: auto add label=ESPnet2

Move state-space model related dependencies into task-asr-state-space
  espnet2/asr/state_spaces/components.py
  espnet2/asr/state_spaces/s4.py
  espnet2/asr/state_spaces/utils.py
  pyproject.toml
Due: auto add label=ESPnet2

Removed protobuf from dependency
  pyproject.toml
Due: none

Moved tensorboard into core
  pyproject.toml
Due: none

Import ci_sdr only when needed.
  espnet2/enh/loss/criterions/time_domain.py
Due: auto add label=ESPnet2

Import fast_bss_eval only when needed.
  espnet2/enh/loss/criterions/time_domain.py
Due: auto add label=ESPnet2

Import asteroid_filterbanks only when needed.
  espnet2/asr/frontend/asteroid_frontend.py
Due: auto add label=ESPnet2

Moved einops into core
  pyproject.toml
Due: none

Import jaconv only when required, and added it to task-tts.
  espnet2/text/cleaner.py
  pyproject.toml
Due: auto add label=ESPnet2

Added task-asr-state-space in [all]
  pyproject.toml
Due: none

Modification based on review
  pyproject.toml
Due: none

minor comments
  espnet2/asr/espnet_model.py
  espnet2/asr/frontend/cnn.py
Due: auto add label=ESPnet2

Fixed typo
  pyproject.toml
Due: none
