Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

.mergify.yml:

pull_request_rules:
  - name: automatic merge if label=auto-merge
    conditions:
      - "label=auto-merge"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.0.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.1.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.2.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.3.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.4.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.5.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.6.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.7.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.8, 1.8.1, 6.0.0, false)"
    actions:
      merge:
        method: merge
        strict: false
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=ESPnet1"
    conditions:
      - files~=^(espnet/|egs/)
    actions:
      label:
        add: ["ESPnet1"]
  - name: "auto add label=ESPnet2"
    conditions:
      - files~=^(espnet2/|egs2/)
    actions:
      label:
        add: ["ESPnet2"]
  - name: "auto add label=ASR"
    conditions:
      - files~=^(espnet*/asr|egs*/*/asr1)
    actions:
      label:
        add: ["ASR"]
  - name: "auto add label=TTS"
    conditions:
      - files~=^(espnet*/tts|egs*/*/tts1)
    actions:
      label:
        add: ["TTS"]
  - name: "auto add label=MT"
    conditions:
      - files~=^(espnet*/mt|egs*/*/mt1)
    actions:
      label:
        add: ["MT"]
  - name: "auto add label=LM"
    conditions:
      - files~=^(espnet*/lm)
    actions:
      label:
        add: ["LM"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^doc/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]

Fix bug
  egs/fisher_callhome_spanish/st1/local/score_bleu.sh
  egs/iwslt18/st1/local/score_bleu_reseg.sh
  utils/score_bleu.sh
Due: auto add label=ESPnet1

Add s3prl in pythonpath
  ci/test_integration_espnet2.sh
Due: auto add label=CI

Revert "Add s3prl in pythonpath"
  ci/test_integration_espnet2.sh
Due: auto add label=CI

Create Symlinks for 1-channel/2-channel tracks in chime4
  egs2/chime4/asr1/local/data.sh
  egs2/chime4/asr1/local/sym_channel.py
Due: auto add label=ESPnet2

Simplify code in sym_channel.py
  egs2/chime4/asr1/local/sym_channel.py
Due: auto add label=ESPnet2

Reformat egs2/chime4/asr1/local/sym_channel.py
  egs2/chime4/asr1/local/sym_channel.py
Due: auto add label=ESPnet2

added LD_LIBRARY_PATH
  tools/extra_path.sh
Due: auto add label=Installation

updated and fixed phonemizer version
  tools/installers/install_phonemizer.sh
Due: auto add label=Installation

fixed radam compatibility
  espnet2/tasks/abs_task.py
Due: auto add label=ESPnet2

support pytorch 1.10.0
  .github/workflows/ci.yaml
  .github/workflows/debian9.yml
  .github/workflows/doc.yml
  README.md
  setup.py
  tools/check_pytorch_cuda_compatibility.py
Due: auto add label=README, auto add label=CI, auto add label=Installation

Add initial conformer without conv_module (successful).
  egs2/speechcommands/asr1/conf/tuning/train_asr_conformer_adam.yaml
  egs2/speechcommands/asr1/run.sh
Due: auto add label=ESPnet2

add config for transformer warmup=10k lr=1e-3, test acc=97.4
  egs2/speechcommands/asr1/conf/train_asr.yaml
  egs2/speechcommands/asr1/conf/tuning/train_asr_transformer_adam.yaml
  egs2/speechcommands/asr1/run.sh
Due: auto add label=ESPnet2

Remove BatchNorm1d in ConvolutionModule. Conformer: test acc=97.4
  egs2/speechcommands/asr1/conf/tuning/train_asr_conformer_adam.yaml
  egs2/speechcommands/asr1/run.sh
  espnet/nets/pytorch_backend/conformer/convolution.py
Due: auto add label=ESPnet1, auto add label=ESPnet2

add run.sh for initial experiment
  egs2/speechcommands/asr1/conf/decode_asr.yaml
  egs2/speechcommands/asr1/conf/train_asr.yaml
  egs2/speechcommands/asr1/conf/tuning/train_asr_transformer_adam.yaml
  egs2/speechcommands/asr1/run.sh
Due: auto add label=ESPnet2

create speech_commands asr1 from template
  egs2/speech_commands/asr1/asr.sh
  egs2/speech_commands/asr1/cmd.sh
  egs2/speech_commands/asr1/conf/fbank.conf
  egs2/speech_commands/asr1/conf/pbs.conf
  egs2/speech_commands/asr1/conf/pitch.conf
  egs2/speech_commands/asr1/conf/queue.conf
  egs2/speech_commands/asr1/conf/slurm.conf
  egs2/speech_commands/asr1/db.sh
  egs2/speech_commands/asr1/local/path.sh
  egs2/speech_commands/asr1/path.sh
  egs2/speech_commands/asr1/pyscripts
  egs2/speech_commands/asr1/scripts
  egs2/speech_commands/asr1/steps
  egs2/speech_commands/asr1/utils
Due: auto add label=ESPnet2

Recover batchnorm1d in conformer convolutionmodule.
  espnet/nets/pytorch_backend/conformer/convolution.py
Due: auto add label=ESPnet1

finish download and untar in data.sh
  egs2/speechcommands/asr1/local/data.sh
Due: auto add label=ESPnet2

Conformer with cnn_kernel_size=3, issue still exists.
  egs2/speechcommands/asr1/conf/tuning/train_asr_conformer_adam.yaml
  egs2/speechcommands/asr1/run.sh
Due: auto add label=ESPnet2

add speech commands to db.sh
  egs2/TEMPLATE/asr1/db.sh
  egs2/speech_commands/asr1/asr.sh
  egs2/speech_commands/asr1/cmd.sh
  egs2/speech_commands/asr1/conf/fbank.conf
  egs2/speech_commands/asr1/conf/pbs.conf
  egs2/speech_commands/asr1/conf/pitch.conf
  egs2/speech_commands/asr1/conf/queue.conf
  egs2/speech_commands/asr1/conf/slurm.conf
  egs2/speech_commands/asr1/db.sh
  egs2/speech_commands/asr1/local/path.sh
  egs2/speech_commands/asr1/path.sh
  egs2/speech_commands/asr1/pyscripts
  egs2/speech_commands/asr1/scripts
  egs2/speech_commands/asr1/steps
  egs2/speech_commands/asr1/utils
Due: auto add label=ESPnet2

change name to speechcommands
  egs2/speechcommands/asr1/asr.sh
  egs2/speechcommands/asr1/cmd.sh
  egs2/speechcommands/asr1/conf/fbank.conf
  egs2/speechcommands/asr1/conf/pbs.conf
  egs2/speechcommands/asr1/conf/pitch.conf
  egs2/speechcommands/asr1/conf/queue.conf
  egs2/speechcommands/asr1/conf/slurm.conf
  egs2/speechcommands/asr1/db.sh
  egs2/speechcommands/asr1/local/path.sh
  egs2/speechcommands/asr1/path.sh
  egs2/speechcommands/asr1/pyscripts
  egs2/speechcommands/asr1/scripts
  egs2/speechcommands/asr1/steps
  egs2/speechcommands/asr1/utils
Due: auto add label=ESPnet2

support two version: 12 and 35 commands.
  egs2/speechcommands/asr1/README.md
  egs2/speechcommands/asr1/local/data.sh
  egs2/speechcommands/asr1/local/data_prep_12.py
  egs2/speechcommands/asr1/local/data_prep_35.py
  egs2/speechcommands/asr1/run.sh
Due: auto add label=ESPnet2, auto add label=README

modify data_prep.py to balance different classes.
  egs2/speechcommands/asr1/local/data_prep.py
Due: auto add label=ESPnet2

Update readme
  egs2/README.md
  egs2/speechcommands/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

modify local/data.sh
  egs2/speechcommands/asr1/local/data.sh
Due: auto add label=ESPnet2

Update config file names and run.sh
  egs2/speechcommands/asr1/conf/train_asr.yaml
  egs2/speechcommands/asr1/run.sh
Due: auto add label=ESPnet2

Add test set from speechbrain, which is different from the canonical test set. Also add score.sh.
  egs2/speechcommands/asr1/conf/train_asr_conformer_noBatchNorm.yaml
  egs2/speechcommands/asr1/conf/tuning/train_asr_conformer_adam_noBatchNorm.yaml
  egs2/speechcommands/asr1/local/data.sh
  egs2/speechcommands/asr1/local/data_prep.py
  egs2/speechcommands/asr1/local/path.sh
  egs2/speechcommands/asr1/local/score.py
  egs2/speechcommands/asr1/local/score.sh
  egs2/speechcommands/asr1/local/speechbrain_test.csv
  egs2/speechcommands/asr1/run.sh
Due: auto add label=ESPnet2

finish data prep
  egs2/speechcommands/asr1/local/data.sh
  egs2/speechcommands/asr1/local/data_prep.py
Due: auto add label=ESPnet2

create data_prep.py but not finished.
  egs2/speechcommands/asr1/local/data.sh
  egs2/speechcommands/asr1/local/data_prep.py
Due: auto add label=ESPnet2

Conformer without BatchNorm1d. test acc=97.5
  egs2/speechcommands/asr1/conf/tuning/train_asr_conformer_adam.yaml
  egs2/speechcommands/asr1/run.sh
Due: auto add label=ESPnet2

update local
  egs2/speechcommands/asr1/local/data_prep_12.py
  egs2/speechcommands/asr1/local/data_prep_35.py
  egs2/speechcommands/asr1/local/score.py
Due: auto add label=ESPnet2

reformat data_prep_12
  egs2/speechcommands/asr1/local/data_prep_12.py
Due: auto add label=ESPnet2

merge configs
  egs2/speechcommands/asr1/conf/tuning/train_asr_conformer_adam.yaml
Due: auto add label=ESPnet2

Update test_integration_espnet2.sh
  ci/test_integration_espnet2.sh
Due: auto add label=CI

update st.sh for separate bpe
  egs2/TEMPLATE/st1/st.sh
Due: auto add label=ESPnet2

Add pretrained models.
  egs2/wenetspeech/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README
