Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

fixes pycode espnet3
  ci/test_python_espnet3.sh
  espnet3/trainer/callbacks.py
Due: auto add label=CI

pycodestyle fixes
  espnet3/data/data_organizer.py
  espnet3/inference/inference_runner.py
  espnet3/trainer/callbacks.py
  espnet3/trainer/hybrid_optim.py
Due: none

pycodestyle fixes
  egs3/europarl/asr_st/model.py
Due: none

pytest fix
  test/espnet3/test_inference_runner.py
Due: none

ci related fixes
  .gitignore
  ci/test_python_espnet1.sh
  ci/test_python_espnet2.sh
  ci/test_python_espnet3.sh
Due: auto add label=CI

missing package installation
  pyproject.toml
Due: none

rename folder
  test_utils/espnet1_scripts/asr_inference.1.log
  test_utils/espnet1_scripts/ctc_align_test.wav
  test_utils/espnet1_scripts/hubert_test.txt
  test_utils/espnet1_scripts/integration_test_asr_align_wav.bats
  test_utils/espnet1_scripts/integration_test_translate_wav.bats
  test_utils/espnet1_scripts/spk_trial_scores
  test_utils/espnet1_scripts/st_test.wav
  test_utils/espnet1_scripts/test_addjson_py.bats
  test_utils/espnet1_scripts/test_apply-cmvn_py.bats
  test_utils/espnet1_scripts/test_average_checkpoints_py.bats
  test_utils/espnet1_scripts/test_calculate_eer_mindcf_py.bats
  test_utils/espnet1_scripts/test_calculate_rtf_py.bats
  test_utils/espnet1_scripts/test_compute-cmvn-stats_py.bats
  test_utils/espnet1_scripts/test_compute-turn-take-metrics_py.bats
  test_utils/espnet1_scripts/test_concatjson_py.bats
  test_utils/espnet1_scripts/test_copy-feats_py.bats
  test_utils/espnet1_scripts/test_data2json_sh.bats
  test_utils/espnet1_scripts/test_dump-pcm_py.bats
  test_utils/espnet1_scripts/test_eval_perm_free_error_py.bats
  test_utils/espnet1_scripts/test_evaluate_asr.bats
  test_utils/espnet1_scripts/test_evaluate_f0.bats
  test_utils/espnet1_scripts/test_evaluate_mcd.bats
  test_utils/espnet1_scripts/test_evaluate_pseudomos.bats
  test_utils/espnet1_scripts/test_feat-to-shape.bats
  test_utils/espnet1_scripts/test_get_yaml.bats
  test_utils/espnet1_scripts/test_json2trn.py.bats
  test_utils/espnet1_scripts/test_make_pair_json_py.bats
  test_utils/espnet1_scripts/test_mcd_calculate_py.bats
  test_utils/espnet1_scripts/test_merge_scp2json_py.bats
  test_utils/espnet1_scripts/test_mergejson_py.bats
  test_utils/espnet1_scripts/test_mix-mono-wav-scp_py.bats
  test_utils/espnet1_scripts/test_plot_sinc_filters.bats
  test_utils/espnet1_scripts/test_scoreintent_py.bats
  test_utils/espnet1_scripts/test_scp2json_py.bats
  test_utils/espnet1_scripts/test_splitjson_py.bats
  test_utils/espnet1_scripts/test_spm.bats
  test_utils/espnet1_scripts/test_stdout_pl.bats
  test_utils/espnet1_scripts/test_text2token_py.bats
  test_utils/espnet1_scripts/test_text2vocabulary_py.bats
  test_utils/espnet1_scripts/test_update_json_sh.bats
Due: none

rename integrations
  ci/test_integration_espnet1.sh
  ci/test_integration_espnet2.sh
  ci/test_integration_espnet3.sh
Due: auto add label=CI

updates for ci
  .gitignore
  ci/test_configuration_espnet2.sh
  ci/test_shell_espnet1.sh
  espnet2/asr/encoder/whisper_encoder.py
Due: auto add label=ESPnet2, auto add label=CI

add new pytorch version
  tools/installers/install_torch.sh
Due: auto add label=Installation

update bats for espnet1
  test_utils/espnet1_scripts/test_addjson_py.bats
  test_utils/espnet1_scripts/test_apply-cmvn_py.bats
  test_utils/espnet1_scripts/test_average_checkpoints_py.bats
  test_utils/espnet1_scripts/test_calculate_eer_mindcf_py.bats
  test_utils/espnet1_scripts/test_calculate_rtf_py.bats
  test_utils/espnet1_scripts/test_compute-cmvn-stats_py.bats
  test_utils/espnet1_scripts/test_concatjson_py.bats
  test_utils/espnet1_scripts/test_copy-feats_py.bats
  test_utils/espnet1_scripts/test_data2json_sh.bats
  test_utils/espnet1_scripts/test_dump-pcm_py.bats
  test_utils/espnet1_scripts/test_eval_perm_free_error_py.bats
  test_utils/espnet1_scripts/test_feat-to-shape.bats
  test_utils/espnet1_scripts/test_get_yaml.bats
  test_utils/espnet1_scripts/test_json2trn.py.bats
  test_utils/espnet1_scripts/test_make_pair_json_py.bats
  test_utils/espnet1_scripts/test_mcd_calculate_py.bats
  test_utils/espnet1_scripts/test_merge_scp2json_py.bats
  test_utils/espnet1_scripts/test_mergejson_py.bats
  test_utils/espnet1_scripts/test_mix-mono-wav-scp_py.bats
  test_utils/espnet1_scripts/test_scoreintent_py.bats
  test_utils/espnet1_scripts/test_scp2json_py.bats
  test_utils/espnet1_scripts/test_splitjson_py.bats
  test_utils/espnet1_scripts/test_text2token_py.bats
  test_utils/espnet1_scripts/test_text2vocabulary_py.bats
  test_utils/espnet1_scripts/test_update_json_sh.bats
Due: none

fixing configuration test
  ci/test_configuration_espnet2.sh
Due: auto add label=CI

add python test for espnet3
  .github/workflows/ci_on_ubuntu.yml
Due: auto add label=CI

Update egs2/TEMPLATE/asr1/steps/libs/nnet3/train/common.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/train/common.py
Due: auto add label=ESPnet2

making ci installation as action
  .github/actions/prepare-environment/action.yml
  .github/workflows/ci_on_ubuntu.yml
Due: auto add label=CI

fixes ci integration labels
  .github/workflows/ci_on_ubuntu.yml
  ci/test_integration_espnet1.sh
Due: auto add label=CI

missing shell
  .github/actions/prepare-environment/action.yml
Due: auto add label=CI

fixes for ci
  ci/test_configuration_espnet2.sh
  test_utils/utils3/config.yaml
  test_utils/utils3/test.py
  test_utils/utils3/test_plot.py
Due: auto add label=CI

fixes on espnet3
  test/espnet3/test_trainer.py
Due: none

release space on configuration2
  ci/test_configuration_espnet2.sh
Due: auto add label=CI

fixes integration espnet 1
  ci/test_integration_espnet1.sh
Due: auto add label=CI

update integration
  ci/test_integration_espnet2.sh
Due: auto add label=CI

update debian
  .github/workflows/ci_on_debian11.yml
Due: auto add label=CI

update on workflows
  .github/actions/prepare-environment/action.yml
  .github/workflows/ci_on_ubuntu.yml
Due: auto add label=CI

add skip if lower than torch 2.6
  test/espnet2/layers/test_create_adapter_fn.py
Due: none

refactor tests to skip vulnerable configurations and update model assertions
  ci/test_configuration_espnet2.sh
  ci/test_utils.sh
  test/espnet2/layers/test_create_adapter_fn.py
Due: auto add label=CI

updates con test_config
  ci/test_configuration_espnet2.sh
Due: auto add label=CI

releasing cache data
  ci/test_configuration_espnet2.sh
Due: auto add label=CI

updates on ci
  .github/workflows/ci_on_ubuntu.yml
  test_utils/espnet1_scripts/integration_test_asr_align_wav.bats
  test_utils/espnet1_scripts/integration_test_translate_wav.bats
Due: auto add label=CI

ci updates removing espnet1 related ci
  .github/workflows/ci_on_debian11.yml
  .github/workflows/ci_on_ubuntu.yml
Due: auto add label=CI

flake8 fixes for test/espnet2
  test/espnet2/asr/decoder/test_hugging_face_transformers_decoder.py
  test/espnet2/bin/test_asr_inference.py
  test/espnet2/bin/test_cls_inference.py
  test/espnet2/cls/test_espnet_model.py
  test/espnet2/cls/test_lightning_callbacks.py
  test/espnet2/layers/test_create_adapter_fn.py
  test/espnet2/ssl/test_ssl_espnet_model.py
  test/espnet2/svs/test_singing_tacotron.py
Due: none

Exclude espnet-3 CI for now
  ci/test_python_espnet3.sh
Due: auto add label=CI

Automatically attach label to espnet-3 developments
  .mergify.yml
Due: auto add label=mergify

add defaults, include descriptions
  egs2/interspeech2024_dsu_challenge/asr1/RESULTS.md
  egs2/interspeech2024_dsu_challenge/asr1/conf/tuning/train_asr_wavlm_21_lr1e-4.yaml
  egs2/interspeech2024_dsu_challenge/asr1/run.sh
Due: auto add label=ESPnet2

Add installation, add one more row for navbar
  doc/index.md
  doc/vuepress/create_menu.py
Due: auto add label=Documentation

Revert formatting on egs/
  egs/an4/asr1/local/data_prep.py
  egs/covost2/st1/local/process_tsv.py
  egs/jnas/asr1/local/clean_text.py
  egs/jsut/tts1/local/clean_text.py
  egs/jvs/tts1/local/clean_text.py
  egs/mini_an4/asr1/local/data_prep.py
  egs/mini_an4/asr_mix1/local/data_prep.py
  egs/ru_open_stt/asr1/local/ru_open_stt_prepare_data.py
Due: auto add label=ESPnet1

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(ci/|.github/)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
