Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

.mergify.yml:

pull_request_rules:
  - name: automatic merge if label=auto-merge
    conditions:
      - "label=auto-merge"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.0.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.1.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.2.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.3.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.4.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.5.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.6.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.7.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.8, 1.8.1, 6.0.0, false)"
    actions:
      merge:
        method: merge
        strict: false
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=ESPnet1"
    conditions:
      - files~=^(espnet/|egs/)
    actions:
      label:
        add: ["ESPnet1"]
  - name: "auto add label=ESPnet2"
    conditions:
      - files~=^(espnet2/|egs2/)
    actions:
      label:
        add: ["ESPnet2"]
  - name: "auto add label=ASR"
    conditions:
      - files~=^(espnet*/asr|egs*/*/asr1)
    actions:
      label:
        add: ["ASR"]
  - name: "auto add label=TTS"
    conditions:
      - files~=^(espnet*/tts|egs*/*/tts1)
    actions:
      label:
        add: ["TTS"]
  - name: "auto add label=MT"
    conditions:
      - files~=^(espnet*/mt|egs*/*/mt1)
    actions:
      label:
        add: ["MT"]
  - name: "auto add label=LM"
    conditions:
      - files~=^(espnet*/lm)
    actions:
      label:
        add: ["LM"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^doc/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]

disable shellcheck
  egs2/jtubespeech/asr1/local/data.sh
Due: auto add label=ESPnet2

Fix a type error of swbd data preparation.
  egs/swbd/asr1/local/eval2000_data_prep.sh
  egs/swbd/asr1/local/fisher_data_prep.sh
  egs/swbd/asr1/local/rt03_data_prep.sh
  egs/swbd/asr1/local/swbd1_data_prep.sh
  egs2/swbd/asr1/local/data.sh
Due: auto add label=ESPnet1, auto add label=ESPnet2

deploy: 0c65a0dcaa71c11fcefd881f22dbfb30d4348dea
  .doctrees/apis/utils_py.doctree
  .doctrees/environment.pickle
  _modules/espnet2/schedulers/abs_scheduler.html
  apis/utils_py.html
  searchindex.js
Due: none

update add_lex_disambig.pl
  egs/aishell/asr1/local/fst/add_lex_disambig.pl
Due: auto add label=ESPnet1

update fstaddselfloops.pl
  egs/aishell/asr1/local/fst/fstaddselfloops.pl
Due: auto add label=ESPnet1

update make_lexicon_fst.py
  egs/aishell/asr1/local/fst/make_lexicon_fst.py
Due: auto add label=ESPnet1

update make_L.sh
  egs/aishell/asr1/local/fst/make_L.sh
Due: auto add label=ESPnet1

parse_options.sh
  egs/aishell/asr1/local/fst/parse_options.sh
Due: auto add label=ESPnet1

update prepare_dict.py
  egs/aishell/asr1/local/fst/prepare_dict.py
Due: auto add label=ESPnet1

update sym2int.pl
  egs/aishell/asr1/local/fst/sym2int.pl
Due: auto add label=ESPnet1

reformatted prepare_dict.py
  egs/aishell/asr1/local/fst/make_lexicon_fst.py
  egs/aishell/asr1/local/fst/prepare_dict.py
Due: auto add label=ESPnet1

update prepare_fst.sh
  egs/aishell/asr1/local/fst/prepare_fst.sh
Due: auto add label=ESPnet1

update make_hlg.py
  egs/aishell/asr1/local/fst/make_hlg.py
Due: auto add label=ESPnet1

black make_hlg.py
  egs/aishell/asr1/local/fst/make_hlg.py
Due: auto add label=ESPnet1

update changes from #2815
  CONTRIBUTING.md
  egs2/librispeech/asr1/inference_pretrained.sh
  egs2/librispeech/asr1/local/data.sh
  espnet2/bin/asr_inference.py
  espnet2/bin/tts_inference.py
  espnet2/main_funcs/pack_funcs.py
  espnet2/utils/hf_hub.py
  setup.py
  test/espnet2/bin/test_asr_inference.py
  test/espnet2/bin/test_tts_inference.py
Due: auto add label=ESPnet2, auto add label=Installation

fixes on arguments
  .gitignore
  espnet2/bin/asr_inference.py
  espnet2/bin/tts_inference.py
Due: auto add label=ESPnet2

Add cuda compatibility checking for pytorch1.9
  tools/check_pytorch_cuda_compatibility.py
Due: auto add label=Installation

refact huggingface support
  .gitignore
  espnet2/bin/asr_inference.py
  espnet2/utils/hf_hub.py
  test/espnet2/bin/test_asr_inference.py
Due: auto add label=ESPnet2

[skip ci] fix black
  espnet2/utils/hf_hub.py
Due: auto add label=ESPnet2

add from_huggingface method to inference files
  espnet2/bin/diar_inference.py
  espnet2/bin/enh_inference.py
  espnet2/bin/tts_inference.py
Due: auto add label=ESPnet2

change method name to from_pretrained
  espnet2/bin/asr_inference.py
  espnet2/bin/diar_inference.py
  espnet2/bin/enh_inference.py
  espnet2/bin/tts_inference.py
Due: auto add label=ESPnet2

Upload models to espnet organisation
  upload_model_to_hugging_face/TEMPLATE_Readme.md
  upload_model_to_hugging_face/create_README_file.py
  upload_model_to_hugging_face/get_model_names.py
  upload_model_to_hugging_face/upload_models_to_hub.sh
Due: none

Upload models to espnet organisation
  upload_model_to_hugging_face/create_README_file.py
Due: none

FSC Espnet2 preparation
  egs2/fsc/asr1/asr.sh
  egs2/fsc/asr1/db.sh
  egs2/fsc/asr1/local/data.sh
  egs2/fsc/asr1/local/data_prep.py
  egs2/fsc/asr1/run.sh
Due: auto add label=ESPnet2

Add symlink
  egs2/fsc/asr1/asr.sh
  egs2/fsc/asr1/db.sh
Due: auto add label=ESPnet2

reflect on comments, using espnet_model_zoo
  egs2/librispeech/asr1/inference_pretrained.sh
  egs2/librispeech/asr1/local/data.sh
  espnet2/bin/asr_inference.py
  espnet2/bin/diar_inference.py
  espnet2/bin/enh_inference.py
  espnet2/bin/tts_inference.py
  espnet2/utils/hf_hub.py
  setup.py
  test/espnet2/bin/test_asr_inference.py
  test/espnet2/bin/test_enh_inference.py
  test/espnet2/bin/test_tts_inference.py
Due: auto add label=ESPnet2, auto add label=Installation

deploy: 98d5f82043157ed3a823bb765ec85c965a930aa9
  .doctrees/apis/utils_py.doctree
  .doctrees/environment.pickle
  apis/utils_py.html
  searchindex.js
Due: none

Update wav2vec2_encoder.py
  espnet2/asr/encoder/wav2vec2_encoder.py
Due: auto add label=ESPnet2

avoid to use Pillow 8.3.0
  setup.py
Due: auto add label=Installation

deploy: 44343bf8333e20690b519dc4a3b6c59e36f3adea
  .doctrees/apis/utils_py.doctree
  .doctrees/environment.pickle
  _modules/espnet2/asr/encoder/wav2vec2_encoder.html
  apis/utils_py.html
  searchindex.js
Due: none

Add docsstring for stochastic_depth_rate
  espnet/nets/pytorch_backend/transformer/encoder_layer.py
Due: auto add label=ESPnet1

Minimize overall diff
  espnet/nets/pytorch_backend/conformer/encoder.py
  espnet/nets/pytorch_backend/conformer/encoder_layer.py
  espnet/nets/pytorch_backend/transformer/encoder.py
  espnet/nets/pytorch_backend/transformer/encoder_layer.py
Due: auto add label=ESPnet1

Apply black
  espnet/nets/pytorch_backend/conformer/encoder.py
  espnet/nets/pytorch_backend/conformer/encoder_layer.py
  espnet/nets/pytorch_backend/e2e_asr_transformer.py
  espnet/nets/pytorch_backend/transformer/argument.py
  espnet/nets/pytorch_backend/transformer/encoder.py
  espnet/nets/pytorch_backend/transformer/encoder_layer.py
Due: auto add label=ESPnet1

Fix flake8 E501 issues
  espnet/nets/pytorch_backend/conformer/encoder.py
  espnet/nets/pytorch_backend/transformer/encoder.py
  espnet/nets/pytorch_backend/transformer/encoder_layer.py
Due: auto add label=ESPnet1

Implement intermediate CTC for Mask-CTC
  espnet/nets/pytorch_backend/e2e_asr_maskctc.py
Due: auto add label=ESPnet1

Add Intermediate CTC recipe for WSJ
  egs/wsj/asr1/conf/tuning/train_pytorch_transformer_interctc.yaml
Due: auto add label=ESPnet1

Fix docstrings for stochastic_depth_rate
  espnet/nets/pytorch_backend/conformer/encoder_layer.py
  espnet/nets/pytorch_backend/transformer/encoder_layer.py
Due: auto add label=ESPnet1

explicitly using java string and fixed bash array bug
  egs2/java/asr1/local/data.sh
  egs2/java/asr1/local/data_prep.py
Due: auto add label=ESPnet2

added java strings to db.sh and run.sh
  egs2/TEMPLATE/asr1/db.sh
  egs2/java/asr1/run.sh
Due: auto add label=ESPnet2
