Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

update readme [skip ci]
  egs2/README.md
Due: auto add label=ESPnet2, auto add label=README

removed zenkaku space
  egs2/css10/tts1/local/data_prep.sh
Due: auto add label=ESPnet2

[skip ci] fixed typo
  egs2/css10/tts1/local/data.sh
Due: auto add label=ESPnet2

removed specaug in egs2, unnecessary lines in egs1 run.sh
  egs/mucs21_subtask1/asr1/run.sh
  egs2/mucs21_subtask1/asr1/conf/specaug.yaml
  egs2/mucs21_subtask1/asr1/conf/tuning/train_conformer.yaml
  egs2/mucs21_subtask1/asr1/conf/tuning/train_transformer.yaml
Due: auto add label=ESPnet1, auto add label=ESPnet2

removed specaug from conf/, plcaed it in train_{}.yaml, bn-en & hi-en comment in run.sh
  egs2/mucs21_subtask2/asr1/conf/specaug.yaml
  egs2/mucs21_subtask2/asr1/conf/tuning/train_conformer.yaml
  egs2/mucs21_subtask2/asr1/conf/tuning/train_transformer.yaml
  egs2/mucs21_subtask2/asr1/run.sh
Due: auto add label=ESPnet2

Fix flake8 issues
  espnet/nets/pytorch_backend/transformer/encoder_layer.py
Due: auto add label=ESPnet1

TLG decoding and fgram lattice rescore
  ci/test_python.sh
  egs2/TEMPLATE/asr1/asr.sh
  egs2/librispeech/asr1/local/download_lm.sh
  egs2/librispeech/asr1/local/fstaddselfloops.pl
  egs2/librispeech/asr1/local/make_lexicon_fst.py
  egs2/librispeech/asr1/local/prepare_dict.sh
  espnet2/bin/extract_token_list.py
  espnet2/bin/k2_asr_inference.py
  espnet2/fst/common.py
  espnet2/fst/lm_rescore.py
Due: auto add label=ESPnet2, auto add label=CI

VIVOS: update transducer configs
  egs/vivos/asr1/conf/tuning/transducer/decode_alsd.yaml
  egs/vivos/asr1/conf/tuning/transducer/decode_default.yaml
  egs/vivos/asr1/conf/tuning/transducer/decode_maes.yaml
  egs/vivos/asr1/conf/tuning/transducer/decode_nsc.yaml
  egs/vivos/asr1/conf/tuning/transducer/decode_tsd.yaml
  egs/vivos/asr1/conf/tuning/transducer/train_conformer-rnn_transducer.yaml
  egs/vivos/asr1/conf/tuning/transducer/train_conformer-rnn_transducer_aux.yaml
  egs/vivos/asr1/conf/tuning/transducer/train_rnn_transducer.yaml
  egs/vivos/asr1/conf/tuning/transducer/train_rnn_transducer_aux.yaml
  egs/vivos/asr1/conf/tuning/transducer/train_tdnn_conformer-rnn_transducer.yaml
  egs/vivos/asr1/conf/tuning/transducer/train_tdnn_transformer-rnn_transducer.yaml
  egs/vivos/asr1/conf/tuning/transducer/train_transformer-rnn_transducer.yaml
  egs/vivos/asr1/conf/tuning/transducer/train_transformer_transducer.yaml
Due: auto add label=ESPnet1

VIVOS: update transducer results
  egs/vivos/asr1/RESULTS.md
Due: auto add label=ESPnet1

fixed
  egs2/jtubespeech/tts1/local/data.sh
  egs2/jtubespeech/tts1/local/data_prep.sh
  egs2/jtubespeech/tts1/local/subset.py
Due: auto add label=ESPnet2

fixed
  egs2/jtubespeech/tts1/conf/mfcc.conf
  egs2/jtubespeech/tts1/conf/train.yaml
  egs2/jtubespeech/tts1/conf/tuning/decode_tacotron2.yaml
  egs2/jtubespeech/tts1/conf/tuning/train_gst+xvector_conformer_fastspeech2.yaml
  egs2/jtubespeech/tts1/conf/tuning/train_gst+xvector_tacotron2.yaml
  egs2/jtubespeech/tts1/conf/tuning/train_gst+xvector_transformer.yaml
  egs2/jtubespeech/tts1/conf/tuning/train_gst_conformer_fastspeech2.yaml
  egs2/jtubespeech/tts1/conf/tuning/train_gst_fastspeech.yaml
  egs2/jtubespeech/tts1/conf/tuning/train_gst_fastspeech2.yaml
  egs2/jtubespeech/tts1/conf/tuning/train_gst_tacotron2.yaml
  egs2/jtubespeech/tts1/conf/tuning/train_gst_transformer.yaml
  egs2/jtubespeech/tts1/conf/tuning/train_xvector_conformer_fastspeech2.yaml
  egs2/jtubespeech/tts1/conf/tuning/train_xvector_tacotron2.yaml
  egs2/jtubespeech/tts1/conf/tuning/train_xvector_transformer.yaml
  egs2/jtubespeech/tts1/conf/vad.conf
  egs2/jtubespeech/tts1/run.sh
Due: auto add label=ESPnet2

1) fixed scripts according to the code review
  egs2/jtubespeech/tts1/README.md
  egs2/jtubespeech/tts1/conf/train.yaml
  egs2/jtubespeech/tts1/local/data.sh
  egs2/jtubespeech/tts1/local/download.sh
Due: auto add label=ESPnet2, auto add label=README

fixed a bug in trimming silence
  egs2/jtubespeech/tts1/local/data.sh
Due: auto add label=ESPnet2

add missing backslash escape character
  egs/vivos/asr1/RESULTS.md
Due: auto add label=ESPnet1

Add Hugging Face Transormers to setup.py and remove separate installer
  espnet2/asr/postencoder/transformers.py
  setup.py
  tools/Makefile
  tools/check_install.py
  tools/installers/install_transformers.sh
Due: auto add label=ESPnet2, auto add label=Installation

Rename Transformers postencoder
  egs2/swbd_da/asr1/conf/tuning/train_asr_transformer_postencoder.yaml
  espnet2/asr/postencoder/hugging_face_transformers_postencoder.py
  espnet2/tasks/asr.py
  test/espnet2/asr/postencoder/test_hugging_face_transformers_postencoder.py
Due: auto add label=ESPnet2

Add timeout for Hugging Face Transformers test
  test/espnet2/asr/postencoder/test_hugging_face_transformers_postencoder.py
Due: none

typo: add trailing white space for linebreak
  egs/vivos/asr1/RESULTS.md
Due: auto add label=ESPnet1

[skip ci] added missing symlink
  egs2/TEMPLATE/asr1/pyscripts/audio/trim_silence.py
Due: auto add label=ESPnet2

Add tests for Intermediate CTC
  test/test_e2e_asr_conformer.py
  test/test_e2e_asr_maskctc.py
  test/test_e2e_asr_transformer.py
Due: none

Add config files
  egs2/jkac/tts1/conf/decode.yaml
  egs2/jkac/tts1/conf/pbs.conf
  egs2/jkac/tts1/conf/queue.conf
  egs2/jkac/tts1/conf/slurm.conf
  egs2/jkac/tts1/conf/tuning/decode_fastspeech.yaml
  egs2/jkac/tts1/conf/tuning/decode_tacotron2.yaml
  egs2/jkac/tts1/conf/tuning/train_conformer_fastspeech.yaml
  egs2/jkac/tts1/conf/tuning/train_conformer_fastspeech2.yaml
  egs2/jkac/tts1/conf/tuning/train_fastspeech.yaml
  egs2/jkac/tts1/conf/tuning/train_fastspeech2.yaml
  egs2/jkac/tts1/conf/tuning/train_tacotron2.yaml
  egs2/jkac/tts1/conf/tuning/train_transformer.yaml
Due: auto add label=ESPnet2

Add README
  egs2/jkac/tts1/README.md
Due: auto add label=ESPnet2, auto add label=README

Remove unnecessary lines
  egs2/jkac/tts1/local/data.sh
Due: auto add label=ESPnet2

Apply flake8
  egs2/jkac/tts1/local/prep_segments.py
Due: auto add label=ESPnet2

Randomize subsets
  egs2/jkac/tts1/local/data.sh
Due: auto add label=ESPnet2

Replace redundant configs with symlink
  egs2/jkac/tts1/conf/decode.yaml
  egs2/jkac/tts1/conf/train.yaml
Due: auto add label=ESPnet2

added duration and focus_rate in output dict
  espnet2/bin/tts_inference.py
Due: auto add label=ESPnet2

Apply black formatter
  egs2/jkac/tts1/local/prep_segments.py
Due: auto add label=ESPnet2

Fix path
  egs2/jkac/tts1/conf/decode.yaml
  egs2/jkac/tts1/conf/train.yaml
Due: auto add label=ESPnet2

Fix path
  egs2/jkac/tts1/conf/train.yaml
Due: auto add label=ESPnet2

Update README
  egs2/README.md
Due: auto add label=ESPnet2, auto add label=README

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
