Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

Convert a legacy ComplexTensor at every public boundary; deprecate use_builtin_complex=False
  espnet2/diar/separator/tcn_separator_nomask.py
  espnet2/enh/decoder/stft_decoder.py
  espnet2/enh/encoder/stft_encoder.py
  espnet2/enh/layers/beamformer.py
  espnet2/enh/layers/complex_utils.py
  espnet2/enh/layers/wpe.py
  espnet2/enh/loss/wrappers/mixit_solver.py
  espnet2/enh/separator/bsrnn_separator.py
  espnet2/enh/separator/conformer_separator.py
  espnet2/enh/separator/dan_separator.py
  espnet2/enh/separator/dccrn_separator.py
  espnet2/enh/separator/dpcl_e2e_separator.py
  espnet2/enh/separator/dpcl_separator.py
  espnet2/enh/separator/dprnn_separator.py
  espnet2/enh/separator/dptnet_separator.py
  espnet2/enh/separator/rnn_separator.py
  espnet2/enh/separator/skim_separator.py
  espnet2/enh/separator/tcn_separator.py
  espnet2/enh/separator/tfgridnetv3_separator.py
  espnet2/enh/separator/transformer_separator.py
  espnet2/enh/separator/uses2_separator.py
  espnet2/enh/separator/uses_separator.py
  espnet2/legacy/nets/pytorch_backend/nets_utils.py
  test/espnet2/enh/layers/test_complex_utils.py
  test/espnet2/enh/loss/criterions/test_tf_domain.py
Due: auto add label=ESPnet2

Normalise legacy input in the remaining beamformer, WPE, mask and DC-CRN entry points
  espnet2/diar/layers/multi_mask.py
  espnet2/enh/layers/dnn_beamformer.py
  espnet2/enh/layers/dnn_wpe.py
  espnet2/enh/separator/dc_crn_separator.py
  espnet2/enh/separator/neural_beamformer.py
  espnet2/enh/separator/svoice_separator.py
Due: auto add label=ESPnet2

Keep torch_complex in the enh extra for fast_bss_eval, and widen bf16 STFT
  espnet2/enh/encoder/stft_encoder.py
  espnet2/enh/layers/complex_utils.py
  espnet2/enh/layers/dnn_wpe.py
  espnet2/enh/loss/criterions/time_domain.py
  espnet2/enh/separator/rnn_separator.py
  espnet2/enh/separator/skim_separator.py
  pyproject.toml
  test/espnet2/enh/decoder/test_stft_decoder.py
  test/espnet2/enh/encoder/test_stft_encoder.py
  test/espnet2/enh/layers/test_complex_utils.py
  test/espnet2/enh/layers/test_enh_layers.py
  test/espnet2/enh/layers/test_wpe.py
Due: auto add label=ESPnet2

Fix RNNSeparator streaming noise output, widen half precision in streaming STFT
  espnet2/enh/encoder/stft_encoder.py
  espnet2/enh/extractor/td_speakerbeam_extractor.py
  espnet2/enh/separator/rnn_separator.py
  espnet2/enh/separator/svoice_separator.py
  test/espnet2/enh/separator/test_rnn_separator.py
  test/espnet2/enh/separator/test_uses2_separator.py
  test/espnet2/enh/separator/test_uses_separator.py
Due: auto add label=ESPnet2

Convert legacy input in the legacy Frontend, annotate SVoice's nested training output
  espnet2/enh/separator/svoice_separator.py
  espnet2/legacy/nets/pytorch_backend/frontends/frontend.py
Due: auto add label=ESPnet2

Widen half-precision (real, imag) pairs in to_complex, constrain torch_complex
  espnet2/enh/layers/complex_utils.py
  pyproject.toml
  test/espnet2/enh/encoder/test_stft_encoder.py
  test/espnet2/enh/layers/test_complex_utils.py
Due: auto add label=ESPnet2

Convert legacy input in gev_phase_correction, assert native USES output
  espnet2/enh/layers/beamformer.py
  test/espnet2/enh/layers/test_enh_layers.py
  test/espnet2/enh/separator/test_uses2_separator.py
  test/espnet2/enh/separator/test_uses_separator.py
Due: auto add label=ESPnet2

Address code style warnings
  espnet3/systems/tse/metrics/stoi.py
Due: none

Say what to do when from_pretrained cannot load a published model
  espnet2/bin/asr_inference.py
  espnet2/bin/asr_inference_k2.py
  espnet2/bin/asr_inference_maskctc.py
  espnet2/bin/asr_inference_streaming.py
  espnet2/bin/asr_transducer_inference.py
  espnet2/bin/cls_inference.py
  espnet2/bin/diar_inference.py
  espnet2/bin/enh_inference.py
  espnet2/bin/enh_inference_streaming.py
  espnet2/bin/enh_tse_inference.py
  espnet2/bin/gan_codec_inference.py
  espnet2/bin/lm_inference.py
  espnet2/bin/mt_inference.py
  espnet2/bin/s2t_inference.py
  espnet2/bin/s2t_inference_ctc.py
  espnet2/bin/s2t_inference_language.py
  espnet2/bin/slu_inference.py
  espnet2/bin/spk_inference.py
  espnet2/bin/st_inference.py
  espnet2/bin/st_inference_streaming.py
  espnet2/bin/svs_inference.py
  espnet2/bin/tts2_inference.py
  espnet2/bin/tts_inference.py
  espnet2/bin/uasr_inference.py
  espnet2/bin/uasr_inference_k2.py
  espnet2/text/phoneme_tokenizer.py
  espnet2/utils/pretrained.py
  test/espnet2/utils/test_pretrained.py
Due: auto add label=ESPnet2

Move hf_models.py to espnet3/systems/asr/models/
  egs3/librispeech_100/asr/src/granite_speech.py
  espnet3/components/callbacks/hf_callbacks.py
  espnet3/systems/asr/models/__init__.py
  espnet3/systems/asr/models/hf_models.py
  pyproject.toml
  test/espnet3/components/callbacks/test_hf_checkpoint_save.py
  test/espnet3/systems/asr/models/__init__.py
  test/espnet3/systems/asr/models/test_hf_models.py
Due: none

Add generation args to granite speech inference class init
  egs3/librispeech_100/asr/conf/granite-speech/inference.yaml
  egs3/librispeech_100/asr/src/granite_speech.py
Due: none

Assert that every inference class fetches through the shared helper
  test/espnet2/bin/test_from_pretrained_routing.py
Due: none

Pick the classes by signature, not by what the file already contains
  test/espnet2/bin/test_from_pretrained_routing.py
Due: none

Never let a failed scan read as broken links
  ci/check_demo_links.py
Due: auto add label=CI

Self-review: four ways the scan could have reported the wrong thing
  .github/workflows/check_demo_links.yml
  .github/workflows/report_broken_workflows.yml
  ci/check_demo_links.py
Due: auto add label=CI

Do not let a failed issue lookup file a second issue
  .github/workflows/check_demo_links.yml
Due: auto add label=CI

Point synth_wav.sh at the notebook's current path, and scan scripts too
  ci/check_demo_links.py
  utils/synth_wav.sh
Due: auto add label=CI

Fail when a Space's state cannot be read
  ci/check_demo_links.py
Due: auto add label=CI

Report a Space with no app file as broken
  ci/check_demo_links.py
Due: auto add label=CI

Check each notebook at the ref its link names, and fail when git does
  ci/check_demo_links.py
Due: auto add label=CI

Remove the two ESPnet1-only wav scripts instead of fixing their links
  ci/check_demo_links.py
  utils/recog_wav.sh
  utils/synth_wav.sh
Due: auto add label=CI

Point the demo links at demos that work, and notice when one rots
  .github/workflows/check_demo_links.yml
  README.md
  ci/check_demo_links.py
  egs2/TEMPLATE/sds1/README.md
  egs2/TEMPLATE/tts1/README.md
Due: auto add label=ESPnet2, auto add label=README, auto add label=CI

Give the demo an upload command that runs
  egs2/owsm_ctc_v4/s2t1/demo/README.md
Due: auto add label=ESPnet2, auto add label=README

Skip only a symlink whose target is missing
  ci/check_demo_links.py
Due: auto add label=CI

Fail the scan when a tracked markdown file cannot be read
  ci/check_demo_links.py
Due: auto add label=CI

Find where the ref ends when a branch name has a slash in it
  ci/check_demo_links.py
Due: auto add label=CI

Only ever touch this workflow's own issue, and see a Space with a slash
  .github/workflows/check_demo_links.yml
  .github/workflows/report_broken_workflows.yml
  ci/check_demo_links.py
Due: auto add label=CI

List the stages that work, not the ones that do not
  ci/check_demo_links.py
Due: auto add label=CI

Update docstrings
  egs3/librispeech_100/asr/src/granite_speech.py
  espnet3/components/callbacks/hf_callbacks.py
  espnet3/systems/asr/models/hf_models.py
Due: none

Keep the demo's card inside the limits the Hub enforces
  ci/check_demo_links.py
  egs2/owsm_ctc_v4/s2t1/demo/README.md
Due: auto add label=ESPnet2, auto add label=README, auto add label=CI

Add missing docstrings
  espnet3/systems/asr/models/__init__.py
  test/espnet3/systems/asr/models/__init__.py
Due: none

Give ESPnet a command line for trying a published model
  README.md
  ci/check_inference_imports.py
  espnet2/bin/cli.py
  pyproject.toml
  test/espnet2/bin/test_cli.py
Due: auto add label=ESPnet2, auto add label=README, auto add label=CI

Keep the channels, and the output path the user asked for
  README.md
  espnet2/bin/cli.py
  test/espnet2/bin/test_cli.py
Due: auto add label=ESPnet2, auto add label=README

Report only what the CLI can actually diagnose
  espnet2/bin/cli.py
  test/espnet2/bin/test_cli.py
Due: auto add label=ESPnet2

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(ci/|.github/)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
