Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(ci/|.github/)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/

[fix]modify path.sh try to pass the shellcheck
  egs2/genshin/tts1/local/path.sh
Due: auto add label=ESPnet2

[fix]Fix name conflicts
  egs2/TEMPLATE/tts1/tts.sh
Due: auto add label=ESPnet2

bug fix in flash attn
  espnet/nets/pytorch_backend/transformer/attention.py
Due: auto add label=ESPnet1

[fix]fix conf problem
  ci/test_configuration_espnet2.sh
  egs2/genshin/tts1/conf/train.yaml
  egs2/genshin/tts1/conf/train_vits.yaml
  egs2/genshin/tts1/conf/tuning/train.yaml
  egs2/genshin/tts1/run.sh
Due: auto add label=ESPnet2, auto add label=CI

[git actioin]
  git_action
Due: none

[git actioin]remove test
  git_action
Due: none

[git actioin]
  git_actions
Due: none

[git actioin]remove test
  git_actions
Due: none

added cmu kids recipe
  egs2/cmu_kids/asr1/README.md
  egs2/cmu_kids/asr1/asr.sh
  egs2/cmu_kids/asr1/cmd.sh
  egs2/cmu_kids/asr1/conf/decode_asr.yaml
  egs2/cmu_kids/asr1/conf/fbank.conf
  egs2/cmu_kids/asr1/conf/file_list/dev.list
  egs2/cmu_kids/asr1/conf/file_list/test.list
  egs2/cmu_kids/asr1/conf/file_list/train.list
  egs2/cmu_kids/asr1/conf/pbs.conf
  egs2/cmu_kids/asr1/conf/pitch.conf
  egs2/cmu_kids/asr1/conf/queue.conf
  egs2/cmu_kids/asr1/conf/slurm.conf
  egs2/cmu_kids/asr1/conf/tuning/train_asr_wavlm_conformer.yaml
  egs2/cmu_kids/asr1/conf/tuning/train_asr_wavlm_transformer.yaml
  egs2/cmu_kids/asr1/db.sh
  egs2/cmu_kids/asr1/local/cmu_kids_data_prepare.sh
  egs2/cmu_kids/asr1/local/data.sh
  egs2/cmu_kids/asr1/local/path.sh
  egs2/cmu_kids/asr1/local/sph2wav.py
  egs2/cmu_kids/asr1/path.sh
  egs2/cmu_kids/asr1/pyscripts
  egs2/cmu_kids/asr1/run.sh
  egs2/cmu_kids/asr1/scripts
  egs2/cmu_kids/asr1/steps
  egs2/cmu_kids/asr1/utils
Due: auto add label=ESPnet2, auto add label=README

add gtsinger/svs1
  egs2/gtsinger/svs1/cmd.sh
  egs2/gtsinger/svs1/conf/decode.yaml
  egs2/gtsinger/svs1/conf/pbs.conf
  egs2/gtsinger/svs1/conf/queue.conf
  egs2/gtsinger/svs1/conf/slurm.conf
  egs2/gtsinger/svs1/conf/train.yaml
  egs2/gtsinger/svs1/db.sh
  egs2/gtsinger/svs1/local/data.sh
  egs2/gtsinger/svs1/local/dataset_split.py
  egs2/gtsinger/svs1/local/path.sh
  egs2/gtsinger/svs1/local/reffer.sh
  egs2/gtsinger/svs1/local/reffer/ameboshi_local/customed_dic.scp
  egs2/gtsinger/svs1/local/reffer/ameboshi_local/dataset_split.py
  egs2/gtsinger/svs1/local/reffer/ameboshi_local/prep_segments.py
  egs2/gtsinger/svs1/local/reffer/ameboshi_local/prep_segments_from_xml.py
  egs2/gtsinger/svs1/local/reffer/mine/customed_dic.scp
  egs2/gtsinger/svs1/local/reffer/mine/dataset_split.py
  egs2/gtsinger/svs1/local/reffer/mine/prep_segments.py
  egs2/gtsinger/svs1/local/reffer/mine/prep_segments_from_xml.py
  egs2/gtsinger/svs1/local/unique_label.txt
  egs2/gtsinger/svs1/local/yue_songs.txt
  egs2/gtsinger/svs1/path.sh
  egs2/gtsinger/svs1/pyscripts
  egs2/gtsinger/svs1/run.sh
  egs2/gtsinger/svs1/run_log_stage_1_4.log
  egs2/gtsinger/svs1/run_log_stage_5.log
  egs2/gtsinger/svs1/run_log_stage_6.log
  egs2/gtsinger/svs1/run_log_stage_7__.log
  egs2/gtsinger/svs1/scripts
  egs2/gtsinger/svs1/svs.sh
  egs2/gtsinger/svs1/train.log
  egs2/gtsinger/svs1/utils
Due: auto add label=ESPnet2

add gtsinger/svs1
  egs2/gtsinger/svs1/local/reffer.sh
  egs2/gtsinger/svs1/run_log_stage_1_4.log
  egs2/gtsinger/svs1/run_log_stage_5.log
  egs2/gtsinger/svs1/run_log_stage_6.log
  egs2/gtsinger/svs1/run_log_stage_7__.log
  egs2/gtsinger/svs1/train.log
Due: auto add label=ESPnet2

change encoder for pretraining mode, add code predictor
  espnet2/asr/encoder/beats_encoder.py
  test/espnet2/asr/encoder/test_beats_encoder.py
Due: auto add label=ESPnet2

fix gtsinger
  egs2/gtsinger/svs1/local/dataset_split.py
  egs2/gtsinger/svs1/local/reffer/ameboshi_local/customed_dic.scp
  egs2/gtsinger/svs1/local/reffer/ameboshi_local/dataset_split.py
  egs2/gtsinger/svs1/local/reffer/ameboshi_local/prep_segments.py
  egs2/gtsinger/svs1/local/reffer/ameboshi_local/prep_segments_from_xml.py
  egs2/gtsinger/svs1/local/reffer/mine/customed_dic.scp
  egs2/gtsinger/svs1/local/reffer/mine/dataset_split.py
  egs2/gtsinger/svs1/local/reffer/mine/prep_segments.py
  egs2/gtsinger/svs1/local/reffer/mine/prep_segments_from_xml.py
Due: auto add label=ESPnet2

fix gtsinger/svs1
  egs2/gtsinger/svs1/local/dataset_split.py
Due: auto add label=ESPnet2

fix gtsinger/svs1
  egs2/gtsinger/svs1/db.sh
  egs2/gtsinger/svs1/local/data.sh
Due: auto add label=ESPnet2

[fix]fix bugs of wer eval
  egs2/TEMPLATE/tts1/tts.sh
Due: auto add label=ESPnet2

add espnet beats model
  espnet2/asr/encoder/beats_encoder.py
  espnet2/beats/__init__.py
  espnet2/beats/espnet_model.py
  test/espnet2/beats/test_espnet_model.py
Due: auto add label=ESPnet2

add beats.py task file
  espnet2/asr/encoder/beats_encoder.py
  espnet2/beats/espnet_model.py
  espnet2/bin/beats_train.py
  espnet2/tasks/beats.py
  test/espnet2/tasks/test_beats.py
Due: auto add label=ESPnet2

Update setup.py
  setup.py
Due: auto add label=Installation

update universa for missing options
  egs2/TEMPLATE/asr1/pyscripts/audio/format_wav_scp.py
  egs2/TEMPLATE/asr1/pyscripts/utils/align_wav_keys.py
  espnet2/fileio/sound_scp.py
  espnet2/train/dataset.py
Due: auto add label=ESPnet2

Update codec.sh
  egs2/TEMPLATE/codec1/codec.sh
Due: auto add label=ESPnet2

fix shell script till collect stats stage
  egs2/TEMPLATE/ssl1/beats.sh
  egs2/TEMPLATE/ssl1/setup.sh
Due: auto add label=ESPnet2

add script to calculate filterbank stats for normalization
  egs2/TEMPLATE/asr1/pyscripts/utils/calculate_filterbank_stats.py
Due: auto add label=ESPnet2

add dir structure for pretraining task
  egs2/as2m/ssl1/beats.sh
  egs2/as2m/ssl1/cmd.sh
  egs2/as2m/ssl1/conf/pbs.conf
  egs2/as2m/ssl1/conf/queue.conf
  egs2/as2m/ssl1/conf/slurm.conf
  egs2/as2m/ssl1/conf/train_ssl_beats_base_as2m_it0.yaml
  egs2/as2m/ssl1/db.sh
  egs2/as2m/ssl1/hubert.sh
  egs2/as2m/ssl1/local/data.sh
  egs2/as2m/ssl1/local/path.sh
  egs2/as2m/ssl1/path.sh
  egs2/as2m/ssl1/pyscripts
  egs2/as2m/ssl1/run.sh
  egs2/as2m/ssl1/scripts
  egs2/as2m/ssl1/steps
  egs2/as2m/ssl1/utils
Due: auto add label=ESPnet2

modularize beats tokenization
  egs2/TEMPLATE/asr1/scripts/feats/audio_tokenization.sh
  egs2/TEMPLATE/asr1/scripts/feats/codec_tokenization.sh
Due: auto add label=ESPnet2

add bestrq tokenizer
  espnet2/speechlm/tokenizer/random_tokenizer.py
  test/espnet2/speechlm/tokenizer/test_random_tokenizer.py
Due: auto add label=ESPnet2

add patching to random quantizer
  espnet2/speechlm/tokenizer/beats_tokenizer.py
  espnet2/speechlm/tokenizer/codec_tokenizer.py
  espnet2/speechlm/tokenizer/random_tokenizer.py
  test/espnet2/speechlm/tokenizer/test_beats_tokenizer.py
  test/espnet2/speechlm/tokenizer/test_codec_tokenizer.py
Due: auto add label=ESPnet2

added ogi kids spontaneous recipe
  egs2/ogi_kids_spon/asr1/README.md
  egs2/ogi_kids_spon/asr1/asr.sh
  egs2/ogi_kids_spon/asr1/cmd.sh
  egs2/ogi_kids_spon/asr1/conf/decode_asr.yaml
  egs2/ogi_kids_spon/asr1/conf/fbank.conf
  egs2/ogi_kids_spon/asr1/conf/file_list/dev.list
  egs2/ogi_kids_spon/asr1/conf/file_list/test.list
  egs2/ogi_kids_spon/asr1/conf/file_list/train.list
  egs2/ogi_kids_spon/asr1/conf/pbs.conf
  egs2/ogi_kids_spon/asr1/conf/pitch.conf
  egs2/ogi_kids_spon/asr1/conf/queue.conf
  egs2/ogi_kids_spon/asr1/conf/slurm.conf
  egs2/ogi_kids_spon/asr1/conf/tuning/train_asr_wavlm_conformer.yaml
  egs2/ogi_kids_spon/asr1/conf/tuning/train_asr_wavlm_transformer.yaml
  egs2/ogi_kids_spon/asr1/db.sh
  egs2/ogi_kids_spon/asr1/local/ctc_segment.py
  egs2/ogi_kids_spon/asr1/local/data.sh
  egs2/ogi_kids_spon/asr1/local/ogi_spon_all_data_prepare.sh
  egs2/ogi_kids_spon/asr1/local/path.sh
  egs2/ogi_kids_spon/asr1/path.sh
  egs2/ogi_kids_spon/asr1/pyscripts
  egs2/ogi_kids_spon/asr1/run.sh
  egs2/ogi_kids_spon/asr1/scripts
  egs2/ogi_kids_spon/asr1/steps
  egs2/ogi_kids_spon/asr1/utils
Due: auto add label=ESPnet2, auto add label=README

modified: egs2/cmu_kids/asr1/README.md modified: egs2/cmu_kids/asr1/conf/tuning/train_asr_wavlm_conformer.yaml modified: egs2/cmu_kids/asr1/conf/tuning/train_asr_wavlm_transformer.yaml
  egs2/cmu_kids/asr1/README.md
  egs2/cmu_kids/asr1/conf/tuning/train_asr_wavlm_conformer.yaml
  egs2/cmu_kids/asr1/conf/tuning/train_asr_wavlm_transformer.yaml
Due: auto add label=ESPnet2, auto add label=README

[fix]remove unuse config
  egs2/genshin/tts1/conf/train.yaml
  egs2/genshin/tts1/conf/tuning/train.yaml
Due: auto add label=ESPnet2

[feature]add perl seed to make sure every run is the same
  egs2/genshin/tts1/local/data.sh
Due: auto add label=ESPnet2

[fix]rename repeat scripts
  egs2/TEMPLATE/asr1/pyscripts/utils/aggregate_codec_eval.py
  egs2/TEMPLATE/asr1/pyscripts/utils/aggregate_versa_eval.py
  egs2/TEMPLATE/tts1/tts.sh
Due: auto add label=ESPnet2

[fix]rename repeat scripts
  egs2/TEMPLATE/asr1/pyscripts/utils/aggregate_eval.py
  egs2/TEMPLATE/asr1/pyscripts/utils/aggregate_versa_eval.py
  egs2/TEMPLATE/codec1/codec.sh
  egs2/TEMPLATE/tts1/tts.sh
Due: auto add label=ESPnet2

[fix]combine script and use wer in versa
  egs2/TEMPLATE/tts1/conf/versa.yaml
  egs2/TEMPLATE/tts1/tts.sh
Due: auto add label=ESPnet2

fix improper variable names
  egs2/TEMPLATE/asr1/scripts/feats/audio_tokenization.sh
Due: auto add label=ESPnet2

Update README.md
  egs2/cmu_kids/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README
