Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

.mergify.yml:

pull_request_rules:
  - name: automatic merge if label=auto-merge
    conditions:
      - "label=auto-merge"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.0.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.1.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.2.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.3.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.4.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.5.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.6.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.7.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.8, 1.8.1, 6.0.0, false)"
    actions:
      merge:
        method: merge
        strict: false
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=ESPnet1"
    conditions:
      - files~=^(espnet/|egs/)
    actions:
      label:
        add: ["ESPnet1"]
  - name: "auto add label=ESPnet2"
    conditions:
      - files~=^(espnet2/|egs2/)
    actions:
      label:
        add: ["ESPnet2"]
  - name: "auto add label=ASR"
    conditions:
      - files~=^(espnet*/asr|egs*/*/asr1)
    actions:
      label:
        add: ["ASR"]
  - name: "auto add label=TTS"
    conditions:
      - files~=^(espnet*/tts|egs*/*/tts1)
    actions:
      label:
        add: ["TTS"]
  - name: "auto add label=MT"
    conditions:
      - files~=^(espnet*/mt|egs*/*/mt1)
    actions:
      label:
        add: ["MT"]
  - name: "auto add label=LM"
    conditions:
      - files~=^(espnet*/lm)
    actions:
      label:
        add: ["LM"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^doc/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]

solving ci issue
  egs2/cmu_arctic/tts1/cmd.sh
  egs2/cmu_arctic/tts1/conf/slurm.conf
  egs2/cmu_arctic/tts1/local/data_download_all.sh
  egs2/cmu_arctic/tts1/local/get_utt_list.py
  egs2/cmu_arctic/tts1/run.sh
  egs2/cmu_arctic/tts1/run_pre_fine.sh
Due: auto add label=ESPnet2

Revert "solving ci issue"
  egs2/cmu_arctic/tts1/cmd.sh
  egs2/cmu_arctic/tts1/conf/slurm.conf
  egs2/cmu_arctic/tts1/local/data_download_all.sh
  egs2/cmu_arctic/tts1/local/get_utt_list.py
  egs2/cmu_arctic/tts1/run.sh
  egs2/cmu_arctic/tts1/run_pre_fine.sh
Due: auto add label=ESPnet2

solving ci issue
  egs2/cmu_arctic/tts1/local/get_utt_list.py
Due: auto add label=ESPnet2

test
  egs2/qasr_tts/tts1/db.sh
  egs2/qasr_tts/tts1/path.sh
  egs2/qasr_tts/tts1/pyscripts
  egs2/qasr_tts/tts1/scripts
  egs2/qasr_tts/tts1/setup
  egs2/qasr_tts/tts1/steps
  egs2/qasr_tts/tts1/tts
  egs2/qasr_tts/tts1/tts.sh
  egs2/qasr_tts/tts1/utils
Due: auto add label=ESPnet2

Delete db
  egs2/qasr_tts/tts1/db
Due: auto add label=ESPnet2

Delete egs2/qasr_tts directory
  egs2/qasr_tts/tts1/README.MD
  egs2/qasr_tts/tts1/RESULTS.MD
  egs2/qasr_tts/tts1/adapt.sh
  egs2/qasr_tts/tts1/cmd.sh
  egs2/qasr_tts/tts1/conf/pbs.conf
  egs2/qasr_tts/tts1/conf/queue.conf
  egs2/qasr_tts/tts1/conf/slurm.conf
  egs2/qasr_tts/tts1/conf/tuning/decode_fastspeech.yaml
  egs2/qasr_tts/tts1/conf/tuning/decode_tacotron2.yaml
  egs2/qasr_tts/tts1/conf/tuning/finetune_tacotron2.yaml
  egs2/qasr_tts/tts1/conf/tuning/finetune_transformer.yaml
  egs2/qasr_tts/tts1/conf/tuning/train_conformer_fastspeech.yaml
  egs2/qasr_tts/tts1/conf/tuning/train_conformer_fastspeech2.yaml
  egs2/qasr_tts/tts1/conf/tuning/train_fastspeech.yaml
  egs2/qasr_tts/tts1/conf/tuning/train_fastspeech2.yaml
  egs2/qasr_tts/tts1/conf/tuning/train_tacotron2.yaml
  egs2/qasr_tts/tts1/conf/tuning/train_transformer.yaml
  egs2/qasr_tts/tts1/db
  egs2/qasr_tts/tts1/db.sh
  egs2/qasr_tts/tts1/local/data.sh
  egs2/qasr_tts/tts1/local/data_download.sh
  egs2/qasr_tts/tts1/local/path.sh
  egs2/qasr_tts/tts1/path.sh
  egs2/qasr_tts/tts1/pyscripts
  egs2/qasr_tts/tts1/run.sh
  egs2/qasr_tts/tts1/scripts
  egs2/qasr_tts/tts1/steps
  egs2/qasr_tts/tts1/tts.sh
  egs2/qasr_tts/tts1/utils
Due: auto add label=ESPnet2

update
  egs2/TEMPLATE/asr1/db.sh
  egs2/TEMPLATE/asr1/path.sh
  egs2/TEMPLATE/asr1/utils
  egs2/TEMPLATE/tts1/tts.sh
  egs2/qasr_tts/tts1/db.sh
  egs2/qasr_tts/tts1/path.sh
  egs2/qasr_tts/tts1/pyscripts
  egs2/qasr_tts/tts1/scripts
  egs2/qasr_tts/tts1/steps
  egs2/qasr_tts/tts1/tts.sh
  egs2/qasr_tts/tts1/utils
Due: auto add label=ESPnet2

update-test
  egs2/qasr_tts/tts1/README.MD
  egs2/qasr_tts/tts1/RESULTS.MD
  egs2/qasr_tts/tts1/adapt.sh
  egs2/qasr_tts/tts1/conf/pbs.conf
  egs2/qasr_tts/tts1/conf/queue.conf
  egs2/qasr_tts/tts1/conf/slurm.conf
  egs2/qasr_tts/tts1/conf/tuning/decode_fastspeech.yaml
  egs2/qasr_tts/tts1/conf/tuning/decode_tacotron2.yaml
  egs2/qasr_tts/tts1/conf/tuning/finetune_tacotron2.yaml
  egs2/qasr_tts/tts1/conf/tuning/finetune_transformer.yaml
  egs2/qasr_tts/tts1/conf/tuning/train_conformer_fastspeech.yaml
  egs2/qasr_tts/tts1/conf/tuning/train_conformer_fastspeech2.yaml
  egs2/qasr_tts/tts1/conf/tuning/train_fastspeech.yaml
  egs2/qasr_tts/tts1/conf/tuning/train_fastspeech2.yaml
  egs2/qasr_tts/tts1/conf/tuning/train_tacotron2.yaml
  egs2/qasr_tts/tts1/conf/tuning/train_transformer.yaml
  egs2/qasr_tts/tts1/local/data.sh
  egs2/qasr_tts/tts1/local/data_download.sh
  egs2/qasr_tts/tts1/local/path.sh
  egs2/qasr_tts/tts1/run.sh
Due: auto add label=ESPnet2

Update db.sh
  egs2/qasr_tts/tts1/db.sh
Due: auto add label=ESPnet2

Update path.sh
  egs2/qasr_tts/tts1/path.sh
Due: auto add label=ESPnet2

Update scripts
  egs2/qasr_tts/tts1/scripts
Due: auto add label=ESPnet2

Update steps
  egs2/qasr_tts/tts1/steps
Due: auto add label=ESPnet2

Update tts.sh
  egs2/qasr_tts/tts1/tts.sh
Due: auto add label=ESPnet2

Update utils
  egs2/qasr_tts/tts1/utils
Due: auto add label=ESPnet2

Update DPTNet result in READEME.md
  egs2/wsj0_2mix/enh1/README.md
Due: auto add label=ESPnet2, auto add label=README

Update transformer decoder from bridges
  espnet2/asr/decoder/transformer_decoder.py
Due: auto add label=ESPnet2

Update token classification from bridges
  espnet2/st/token_classification.py
Due: auto add label=ESPnet2

Update espnet_model_md from bridges
  espnet2/st/espnet_model_md.py
Due: auto add label=ESPnet2

Update st.py
  espnet2/tasks/st.py
Due: auto add label=ESPnet2

Fix merge conflict
  egs2/slurp_entity/st1_entity/run_md_token.sh
  espnet2/bin/nlu_inference.py
  espnet2/bin/st_md_inference.py
  espnet2/st/token_classification.py
Due: auto add label=ESPnet2

install muskit
  tools/Makefile
  tools/check_install.py
  tools/installers/install_muskit.sh
Due: auto add label=Installation

muskit TEMPLATE
  egs2/TEMPLATE/svs1/cmd.sh
  egs2/TEMPLATE/svs1/conf/pbs.conf
  egs2/TEMPLATE/svs1/conf/queue.conf
  egs2/TEMPLATE/svs1/conf/slurm.conf
  egs2/TEMPLATE/svs1/db.sh
  egs2/TEMPLATE/svs1/local/path.sh
  egs2/TEMPLATE/svs1/path.sh
  egs2/TEMPLATE/svs1/pyscripts/audio/format_midi_scp.py
  egs2/TEMPLATE/svs1/pyscripts/audio/format_wav_scp.py
  egs2/TEMPLATE/svs1/pyscripts/audio/midi_extraction.py
  egs2/TEMPLATE/svs1/pyscripts/feats
  egs2/TEMPLATE/svs1/pyscripts/utils/evaluate_f0.py
  egs2/TEMPLATE/svs1/pyscripts/utils/evaluate_mcd.py
  egs2/TEMPLATE/svs1/pyscripts/utils/get_yaml.py
  egs2/TEMPLATE/svs1/pyscripts/utils/prep_segments.py
  egs2/TEMPLATE/svs1/pyscripts/utils/print_args.py
  egs2/TEMPLATE/svs1/pyscripts/utils/utt2spk_to_utt2sid.py
  egs2/TEMPLATE/svs1/scripts/audio/format_scp.sh
  egs2/TEMPLATE/svs1/scripts/utils/combine_data.sh
  egs2/TEMPLATE/svs1/scripts/utils/copy_data_dir.sh
  egs2/TEMPLATE/svs1/scripts/utils/fix_data_dir.sh
  egs2/TEMPLATE/svs1/scripts/utils/validate_data_dir.sh
  egs2/TEMPLATE/svs1/setup.sh
  egs2/TEMPLATE/svs1/svs.sh
  egs2/TEMPLATE/svs1/utils
Due: auto add label=ESPnet2

add svs TEMPLATE/README.md
  egs2/TEMPLATE/svs1/README.md
Due: auto add label=ESPnet2, auto add label=README

add test
  espnet2/bin/diar_inference.py
  test/espnet2/bin/test_diar_inference.py
Due: auto add label=ESPnet2

break long lines
  test/espnet2/bin/test_diar_inference.py
Due: none

bugfix
  espnet2/bin/diar_inference.py
Due: auto add label=ESPnet2

Temporary fixed numpy version
  setup.py
  tools/Makefile
Due: auto add label=Installation

bugfix2
  espnet2/bin/diar_inference.py
Due: auto add label=ESPnet2

Add DDP support for v1 ASR training.
  espnet/asr/pytorch_backend/asr.py
  espnet/bin/asr_train.py
  espnet/distributed/__init__.py
  espnet/distributed/pytorch_backend/launch.py
  espnet/utils/dataset.py
  test/test_distributed_launch.py
Due: auto add label=ESPnet1, auto add label=ASR

Apply formatter, linter, etc.
  espnet/asr/pytorch_backend/asr.py
  espnet/bin/asr_train.py
  espnet/distributed/__init__.py
  espnet/distributed/pytorch_backend/launch.py
  espnet/utils/dataset.py
  test/test_distributed_launch.py
Due: auto add label=ESPnet1, auto add label=ASR

Replace default port number with automatically detected value.
  espnet/distributed/pytorch_backend/launch.py
Due: auto add label=ESPnet1

fixed installation and black issues
  egs2/lrs3/avsr1/avsr.sh
  egs2/lrs3/avsr1/conf/train_avsr_transformer.yaml
  espnet2/avsr/espnet_avsr_model.py
  tools/Makefile
  tools/installers/install_multimodal.sh
Due: auto add label=ESPnet2, auto add label=Installation

Create __init__.py
  espnet2/diar/layers/__init__.py
Due: auto add label=ESPnet2

Create __init__.py
  espnet2/diar/separator/__init__.py
Due: auto add label=ESPnet2

Formatted with black and flake8
  espnet2/diar/layers/__init__.py
  espnet2/diar/separator/__init__.py
Due: auto add label=ESPnet2

changed to install espnet from wheel
  .github/workflows/test_import.yaml
Due: auto add label=CI
