Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(ci/|.github/)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/

undo dockerfile unrelated
  .devcontainer/ci_cpu/espnet.dockerfile
Due: none

fix docstring
  espnetez/preprocess/tokenizer.py
Due: none

Revert setuptools version update
  pyproject.toml
Due: none

fix flake8 issue
  doc/generate_code_doc.py
Due: auto add label=Documentation

Removed underthesea from dependency
  espnet2/text/cleaner.py
  pyproject.toml
Due: auto add label=ESPnet2

Fix merge mistake in CI_ubuntu
  .github/workflows/ci_on_ubuntu.yml
Due: auto add label=CI

Fix test_gen_tsne_plot.
  test/espnet2/bin/test_lid_inference.py
Due: none

Remove unused imports.
  test/espnet2/bin/test_lid_inference.py
Due: none

Fix module mock again.
  test/espnet2/bin/test_lid_inference.py
Due: none

Refactor scripts to use variable for Python interpreter
  egs2/TEMPLATE/lid1/lid.sh
  egs2/TEMPLATE/lid1/local/prepare_ood_test.sh
  egs2/mini_an4/lid1/local/data.sh
Due: auto add label=ESPnet2

Remove python variable.
  egs2/TEMPLATE/lid1/lid.sh
  egs2/TEMPLATE/lid1/local/prepare_ood_test.sh
  egs2/mini_an4/lid1/local/data.sh
Due: auto add label=ESPnet2

Convert parent_dir to string in AbsTask.
  espnet2/tasks/abs_task.py
Due: auto add label=ESPnet2

Update type hints.
  espnet2/samplers/build_batch_sampler.py
Due: auto add label=ESPnet2

Add lid to overall readme.
  README.md
Due: auto add label=README

Fix score in edge conditions.
  egs2/TEMPLATE/lid1/lid.sh
  egs2/TEMPLATE/lid1/local/score.py
Due: auto add label=ESPnet2

Revert "reflect gemini comments"
  espnet2/spk/pooling/chn_attn_stat_pooling.py
  espnet2/spk/pooling/mean_pooling.py
  utils/average_checkpoints.py
Due: auto add label=ESPnet2

Fix tsne_plot when missing modules and avoid reextract embds.
  espnet2/bin/lid_inference.py
Due: auto add label=ESPnet2

Fix lengthy lines.
  espnet2/bin/lid_inference.py
Due: auto add label=ESPnet2

Replace frontend from mms to default.
  egs2/mini_an4/lid1/conf/default_ecapa_baseline.yaml
  egs2/mini_an4/lid1/run.sh
Due: auto add label=ESPnet2

Removed espnet2/search package from shinji's review
  espnet2/search/__init__.py
  espnet2/search/batch_beam_search.py
  espnet2/search/batch_beam_search_online.py
  espnet2/search/batch_beam_search_online_sim.py
  espnet2/search/beam_search.py
  espnet2/search/beam_search_partially_AR.py
  espnet2/search/beam_search_timesync.py
  espnet2/search/beam_search_timesync_streaming.py
  espnet2/search/beam_search_transducer.py
  espnet2/search/ctc_prefix_score.py
  espnet2/search/scorers/__init__.py
  espnet2/search/scorers/ctc.py
  espnet2/search/scorers/length_bonus.py
  espnet2/search/scorers/ngram.py
  espnet2/search/scorers/scorer_interface.py
  espnet2/search/scorers/uasr.py
Due: auto add label=ESPnet2

Add espnet3 branch to trigger ci on debian 12
  .github/workflows/ci_on_debian12.yml
Due: auto add label=CI

Remove unused batch_type parameter.
  espnet2/tasks/abs_task.py
Due: auto add label=ESPnet2

Fix category iter factory.
  espnet2/iterators/category_iter_factory.py
  espnet2/tasks/abs_task.py
Due: auto add label=ESPnet2

Add stage 6 done tag.
  egs2/TEMPLATE/lid1/lid.sh
Due: auto add label=ESPnet2

Add utils in test_shell_espnet2
  ci/test_shell_espnet2.sh
Due: auto add label=CI

Renamed espnet.nets to espnet2.legacy.nets for qwen2 model
  espnet2/ps2st/espnet_model.py
  espnet2/ps2st/qwen2_scorer.py
Due: auto add label=ESPnet2

Fixed CI workflow for debian
  .github/workflows/ci_on_debian12.yml
Due: auto add label=CI

Fixed debian CI
  .github/workflows/ci_on_debian12.yml
Due: auto add label=CI

feat: Add initial recipe structure for MUCS 2021
  egs2/mucs2021/asr1/asr.sh
  egs2/mucs2021/asr1/cmd.sh
  egs2/mucs2021/asr1/conf/fbank.conf
  egs2/mucs2021/asr1/conf/pbs.conf
  egs2/mucs2021/asr1/conf/pitch.conf
  egs2/mucs2021/asr1/conf/queue.conf
  egs2/mucs2021/asr1/conf/slurm.conf
  egs2/mucs2021/asr1/db.sh
  egs2/mucs2021/asr1/local/analyze_datasets.py
  egs2/mucs2021/asr1/local/download.sh
  egs2/mucs2021/asr1/local/path.sh
  egs2/mucs2021/asr1/path.sh
  egs2/mucs2021/asr1/pyscripts
  egs2/mucs2021/asr1/scripts
  egs2/mucs2021/asr1/steps
  egs2/mucs2021/asr1/utils
Due: auto add label=ESPnet2

Removed utils test and scripts not used in espnet2
  test_utils/integration_test_asr_align_wav.bats
  test_utils/integration_test_translate_wav.bats
  test_utils/test_apply-cmvn_py.bats
  test_utils/test_compute-cmvn-stats_py.bats
  test_utils/test_data2json_sh.bats
  test_utils/test_dump-pcm_py.bats
  test_utils/test_get_yaml.bats
  test_utils/test_make_pair_json_py.bats
  test_utils/test_mcd_calculate_py.bats
  test_utils/test_merge_scp2json_py.bats
  test_utils/test_mergejson_py.bats
  test_utils/test_text2vocabulary_py.bats
  test_utils/test_update_json_sh.bats
  utils/apply-cmvn.py
  utils/asr_align_wav.sh
  utils/compute-cmvn-stats.py
  utils/data2json.sh
  utils/dump-pcm.py
  utils/dump_pcm.sh
  utils/get_yaml.py
  utils/make_pair_json.py
  utils/mcd_calculate.py
  utils/merge_scp2json.py
  utils/mergejson.py
  utils/text2vocabulary.py
  utils/translate_wav.sh
  utils/update_json.sh
Due: none

Update checkpoint averaging test from espnet 1 to espnet2
  test_utils/test_average_checkpoints_py.bats
Due: none

Changed integration to unit test
  ci/test_utils.sh
Due: auto add label=CI

Removed symlink to fix pycodestyle issue
  egs2/TEMPLATE/asr1/pyscripts/utils/get_yaml.py
Due: auto add label=ESPnet2

Fixed mistake in modifying test_utils.sh
  ci/test_utils.sh
Due: auto add label=CI

Fix CI Issue
  ci/test_utils.sh
Due: auto add label=CI

Removed coverage report from test_utils
  ci/test_utils.sh
Due: auto add label=CI

Fix set name position.
  espnet2/bin/lid_inference.py
Due: auto add label=ESPnet2

Fix read file in exceptions.
  egs2/TEMPLATE/lid1/local/score.py
Due: auto add label=ESPnet2

Fix divide by zero.
  egs2/TEMPLATE/lid1/local/score.py
Due: auto add label=ESPnet2
