Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

add if condition for gan_svs
  egs2/TEMPLATE/svs1/svs.sh
Due: auto add label=ESPnet2

fix typo
  espnet2/svs/espnet_model.py
Due: auto add label=ESPnet2

fix msuperb with full settings
  egs2/msuperb/asr1/conf/train_asr.yaml
  egs2/msuperb/asr1/conf/tuning/train_asr_fbank.yaml
  egs2/msuperb/asr1/conf/tuning/train_asr_fbank_single.yaml
  egs2/msuperb/asr1/conf/tuning/train_asr_s3prl.yaml
  egs2/msuperb/asr1/conf/tuning/train_asr_s3prl_single.yaml
  egs2/msuperb/asr1/local/data.sh
  egs2/msuperb/asr1/local/data_prep.py
  egs2/msuperb/asr1/local/single_lang_data_prep.py
  egs2/msuperb/asr1/run.sh
Due: auto add label=ESPnet2

Reflect comments: fix data.sh in egs2/librimix/enh1
  egs2/librimix/enh1/local/data.sh
  egs2/librimix/tse1/conf/tuning/train_enh_tse_td_speakerbeam_4gpu_max.yaml
  egs2/librimix/tse1/local/data.sh
Due: auto add label=ESPnet2

small fix
  egs2/TEMPLATE/uasr1/uasr.sh
Due: auto add label=ESPnet2

add RandomTextReader
  espnet2/fileio/read_text.py
Due: auto add label=ESPnet2

add smoothness penalty
  espnet2/uasr/generator/conv_generator.py
  espnet2/uasr/loss/smoothness_penalty.py
Due: auto add label=ESPnet2

add ctc results in ls100
  egs2/librispeech_100/asr1/README.md
  egs2/librispeech_100/asr1/conf/tuning/train_asr_ctc_e_branchformer_e12_mlp1024_linear1024.yaml
Due: auto add label=ESPnet2, auto add label=README

add support for layer selection in s3prl frontend
  espnet2/asr/frontend/s3prl.py
Due: auto add label=ESPnet2

remove unused code in espnet_model.py
  espnet2/uasr/espnet_model.py
Due: auto add label=ESPnet2

small fix of s3prl.py
  espnet2/asr/frontend/s3prl.py
Due: auto add label=ESPnet2

add RandomTextReader
  espnet2/train/dataset.py
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

Update Trainer hyperlink and highlight code
  doc/paper/espnet-se++/paper.md
Due: auto add label=Documentation

Update for indent
  doc/paper/espnet-se++/paper.md
Due: auto add label=Documentation

Update paper.md
  doc/paper/espnet-se++/paper.md
Due: auto add label=Documentation

add doc-string for losses
  espnet2/uasr/generator/conv_generator.py
  espnet2/uasr/loss/discriminator_loss.py
  espnet2/uasr/loss/gradient_penalty.py
  espnet2/uasr/loss/phoneme_diversity_loss.py
  espnet2/uasr/loss/smoothness_penalty.py
Due: auto add label=ESPnet2

Update for the indent
  doc/paper/espnet-se++/paper.md
Due: auto add label=Documentation

add feature clustering related scripts
  egs2/TEMPLATE/asr1/pyscripts/feats/apply_pca.py
  egs2/TEMPLATE/asr1/pyscripts/feats/feats_apply_cluster_faiss.py
  egs2/TEMPLATE/asr1/pyscripts/feats/feats_cluster_faiss.py
  egs2/TEMPLATE/asr1/pyscripts/feats/mean_pool_scp.py
  egs2/TEMPLATE/asr1/pyscripts/feats/merge_clusters.py
  egs2/TEMPLATE/asr1/pyscripts/feats/pca.py
  egs2/TEMPLATE/asr1/scripts/feats/feats_clustering.sh
  espnet2/uasr/loss/smoothness_penalty.py
Due: auto add label=ESPnet2

small fix
  egs2/TEMPLATE/asr1/pyscripts/feats/feats_cluster_faiss.py
  egs2/TEMPLATE/asr1/scripts/feats/feats_clustering.sh
Due: auto add label=ESPnet2

aux ctc unit test
  test/espnet2/asr/test_espnet_model.py
Due: none

add ctc objectives documentation
  egs2/fleurs/asr1/README.md
  test/espnet2/asr/test_espnet_model.py
Due: auto add label=ESPnet2, auto add label=README

fleurs recipe consistency
  egs2/fleurs/asr1/local/data.sh
  egs2/fleurs/asr1/run.sh
Due: auto add label=ESPnet2

add kmeans clustering using cuml (gpu)
  egs2/TEMPLATE/asr1/pyscripts/feats/feats_apply_cluster_cuml.py
  egs2/TEMPLATE/asr1/pyscripts/feats/feats_cluster_cuml.py
Due: auto add label=ESPnet2

remove durations_shape and score_shape
  egs2/TEMPLATE/svs1/svs.sh
Due: auto add label=ESPnet2

fix time_shift bug
  espnet2/tasks/svs.py
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

apply isort
  espnet2/gan_svs/espnet_model.py
  espnet2/gan_svs/vits/duration_predictor.py
  espnet2/gan_svs/vits/frame_prior_net.py
  espnet2/gan_svs/vits/generator.py
  espnet2/gan_svs/vits/phoneme_predictor.py
  espnet2/gan_svs/vits/pitch_predictor.py
  espnet2/gan_svs/vits/vits.py
  espnet2/tasks/gan_svs.py
Due: auto add label=ESPnet2

fix python test
  espnet2/bin/svs_inference.py
  espnet2/gan_svs/espnet_model.py
  espnet2/gan_svs/vits/frame_prior_net.py
  espnet2/gan_svs/vits/generator.py
  espnet2/gan_svs/vits/length_regulator.py
Due: auto add label=ESPnet2

add back display_partial_hypotheses option + minor fixes
  espnet2/asr_transducer/frontend/online_audio_processor.py
  espnet2/bin/asr_transducer_inference.py
Due: auto add label=ESPnet2

remove unused code
  espnet2/asr_transducer/beam_search_transducer.py
  espnet2/asr_transducer/encoder/blocks/conv1d.py
  espnet2/bin/asr_transducer_inference.py
Due: auto add label=ESPnet2

fix convinput subsampling tests
  test/espnet2/asr_transducer/test_encoder.py
Due: none

remove math lib usage
  espnet2/asr_transducer/frontend/online_audio_processor.py
Due: auto add label=ESPnet2

improve doc and tutorial for left context/chunks
  doc/espnet2_tutorial.md
  espnet2/asr_transducer/encoder/blocks/branchformer.py
  espnet2/asr_transducer/encoder/blocks/conformer.py
  espnet2/asr_transducer/encoder/blocks/conv1d.py
  espnet2/asr_transducer/encoder/building.py
  espnet2/asr_transducer/encoder/encoder.py
  espnet2/asr_transducer/encoder/modules/attention.py
  espnet2/asr_transducer/encoder/modules/multi_blocks.py
  espnet2/asr_transducer/encoder/modules/positional_encoding.py
  espnet2/asr_transducer/utils.py
Due: auto add label=ESPnet2, auto add label=Documentation

improve doc and tutorial for left context/chunks (2)
  espnet2/bin/asr_transducer_inference.py
Due: auto add label=ESPnet2

fix streaming test
  test/espnet2/asr_transducer/test_encoder.py
  test/espnet2/asr_transducer/test_espnet_transducer_model.py
  test/espnet2/bin/test_asr_transducer_inference.py
Due: none

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
