Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

add new sampler coverage
  egs2/mini_an4/spk1/conf/train_rawnet3_sampler.yaml
Due: auto add label=ESPnet2

add ci and move symlink to best cfg
  ci/test_integration_espnet2.sh
  egs2/voxceleb/spk1/conf/train_RawNet3.yaml
Due: auto add label=ESPnet2, auto add label=CI

Update egs2/TEMPLATE/asr1/db.sh
  egs2/TEMPLATE/asr1/db.sh
Due: auto add label=ESPnet2

reflect @Emrys365 comment in #5365
  egs2/voxceleb/spk1/conf/tuning/train_rawnet3_sgdr_bs512_da_sampler_adam.yaml
Due: auto add label=ESPnet2

add MFA-Conformer encoder
  espnet2/spk/encoder/conformer_encoder.py
Due: auto add label=ESPnet2

make int2 ci work
  egs2/mini_an4/spk1/conf/train_rawnet3_dataaug_debug.yaml
  egs2/mini_an4/spk1/conf/train_rawnet3_sampler.yaml
  egs2/mini_an4/spk1/local/data.sh
  egs2/voxceleb/spk1/conf/tuning/train_RawNet3_sgdr_bs512_da_sampler_adam.yaml
Due: auto add label=ESPnet2

reflect @Emrys365 comment in #5365
  espnet2/train/spk_trainer.py
Due: auto add label=ESPnet2

validated mfa_conformer
  egs2/voxceleb/spk1/conf/tuning/train_mfa_conformer.yaml
  espnet2/spk/encoder/conformer_encoder.py
  espnet2/tasks/spk.py
Due: auto add label=ESPnet2

fix ci errors
  egs2/kathbath/asr1/local/data.sh
  egs2/kathbath/asr1/run.sh
Due: auto add label=ESPnet2

add dataset info in readme
  egs2/README.md
Due: auto add label=ESPnet2, auto add label=README

fix ci warning
  egs2/kathbath/asr1/local/data.sh
Due: auto add label=ESPnet2

fix ci error
  egs2/kathbath/asr1/local/data.sh
Due: auto add label=ESPnet2

add readme with results
  egs2/kathbath/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

Upload Dipco URL
  egs/dipco/asr1/local/download_data.sh
Due: auto add label=ESPnet1

rm unused files
  egs2/voxceleb/spk1/conf/tuning/train_rawnet3.yaml
  egs2/voxceleb/spk1/conf/tuning/train_rawnet3_sgdr_bs.yaml
  egs2/voxceleb/spk1/conf/tuning/train_rawnet3_sgdr_bs512_da_sampler.yaml
Due: auto add label=ESPnet2

fix word in readme
  egs2/TEMPLATE/svs1/README.md
Due: auto add label=ESPnet2, auto add label=README

Revert "must-c_asr2 implementation"
  egs2/must_c_v2/asr1/local/data.sh
  egs2/must_c_v2/asr1/local/data_prep.sh
  egs2/must_c_v2/asr1/local/download_and_untar.sh
  egs2/must_c_v2/asr2/asr2.sh
  egs2/must_c_v2/asr2/cmd.sh
  egs2/must_c_v2/asr2/conf/decode_ctc0.3.yaml
  egs2/must_c_v2/asr2/conf/pbs.conf
  egs2/must_c_v2/asr2/conf/queue.conf
  egs2/must_c_v2/asr2/conf/slurm.conf
  egs2/must_c_v2/asr2/conf/train_discrete_asr_e_branchformer1.yaml
  egs2/must_c_v2/asr2/db.sh
  egs2/must_c_v2/asr2/local/data.sh
  egs2/must_c_v2/asr2/local/data_prep.sh
  egs2/must_c_v2/asr2/local/download_and_untar.sh
  egs2/must_c_v2/asr2/local/path.sh
  egs2/must_c_v2/asr2/path.sh
  egs2/must_c_v2/asr2/pyscripts
  egs2/must_c_v2/asr2/run.sh
  egs2/must_c_v2/asr2/scripts
  egs2/must_c_v2/asr2/steps
  egs2/must_c_v2/asr2/utils
Due: auto add label=ESPnet2

speed up TFGridNet code
  egs2/wsj0_2mix/enh1/README.md
  egs2/wsj0_2mix/enh1/conf/tuning/train_enh_tfgridnetv2_tf_lr-patience3_patience5.yaml
  egs2/wsj0_2mix/enh1/conf/tuning/train_enh_tfgridnetv2_tf_lr-patience3_patience5_I_1_J_1_D_128.yaml
  egs2/wsj0_2mix/enh1/conf/tuning/train_enh_tfgridnetv2_tf_lr-patience3_patience5_I_4_J_1_D_48.yaml
  espnet2/enh/separator/tfgridnetv2_separator.py
  espnet2/tasks/enh.py
  test/espnet2/enh/test_espnet_model.py
Due: auto add label=ESPnet2, auto add label=README

Bug fix and add demo notebook
  egsez/asr/libri100.ipynb
  egsez/asr/preprocess.yaml
  egsez/asr/train_asr_e_branchformer_size256_mlp1024_linear1024_e12_mactrue_edrop0.0_ddrop0.0.yaml
  espnetez/__init__.py
  espnetez/preprocess/sentencepiece.py
  espnetez/trainer.py
Due: none

Applied black
  egsez/asr/libri100.ipynb
  espnetez/__init__.py
  espnetez/data/__init__.py
  espnetez/data/dump.py
  espnetez/preprocess/__init__.py
  espnetez/preprocess/sentencepiece.py
  espnetez/trainer.py
Due: none

Removed log block
  egsez/asr/libri100.ipynb
Due: none

Update README.md with huggingface links
  egs2/kathbath/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

Update db.sh
  egs2/TEMPLATE/asr1/db.sh
Due: auto add label=ESPnet2

Fix wrong path for tgt_bpe_train_text
  egs2/TEMPLATE/asr2/asr2.sh
Due: auto add label=ESPnet2

Apply espnet styles and formats
  egs2/TEMPLATE/asr2/asr2.sh
  egs2/aishell/asr2/conf/tuning/train_discrete_asr_e_branchformer1_1gpu.yaml
  egs2/aishell/asr2/local/data.sh
  egs2/aishell/asr2/local/download_and_untar.sh
  egs2/aishell/asr2/local/path.sh
  egs2/aishell/asr2/run.sh
  egs2/aishell/asr2/setup.sh
Due: auto add label=ESPnet2

Create AISHELL/asr2 recipe
  egs2/aishell/asr2/asr2.sh
  egs2/aishell/asr2/cmd.sh
  egs2/aishell/asr2/conf/decode_ctc0.3.yaml
  egs2/aishell/asr2/conf/tuning/train_discrete_asr_e_branchformer1_1gpu.yaml
  egs2/aishell/asr2/db.sh
  egs2/aishell/asr2/local/data.sh
  egs2/aishell/asr2/local/download_and_untar.sh
  egs2/aishell/asr2/local/path.sh
  egs2/aishell/asr2/path.sh
  egs2/aishell/asr2/pyscripts
  egs2/aishell/asr2/run.sh
  egs2/aishell/asr2/scripts
  egs2/aishell/asr2/setup.sh
  egs2/aishell/asr2/steps
  egs2/aishell/asr2/utils
Due: auto add label=ESPnet2

Rename s3prl_conf to upstream_conf
  egs2/aishell/asr2/README.md
  egs2/aishell/asr2/conf/tuning/train_discrete_asr_e_branchformer1_1gpu.yaml
Due: auto add label=ESPnet2, auto add label=README

Make asr2.sh a symlink of TEMPLATE/asr2/asr2.sh
  egs2/aishell/asr2/asr2.sh
Due: auto add label=ESPnet2

Add more upstream methods
  egs2/TEMPLATE/asr2/asr2.sh
  egs2/aishell/asr2/asr2.sh
  egs2/aishell/asr2/run.sh
Due: auto add label=ESPnet2

Update data.sh
  egs2/kathbath/asr1/local/data.sh
Due: auto add label=ESPnet2

Update README.md with mr results
  egs2/kathbath/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

Update README.md
  egs2/kathbath/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

Update README.md with marathi model link
  egs2/kathbath/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

replace find-while-ffmpeg with find-exec-ffmpeg
  egs2/kathbath/asr1/local/data.sh
Due: auto add label=ESPnet2

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
