Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet2, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=mergify, auto add label=Docker

.mergify.yml:

pull_request_rules:
  - name: automatic merge if label=auto-merge
    conditions:
      - "label=auto-merge"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.0.1, 6.0.0, false)" 
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.1.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.2.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.3.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.4.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.5.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.8, 1.5.0, 6.0.0, false)"
      - "status-success=ci/circleci: test-centos7"
      - "status-success=ci/circleci: test-debian9"
      - "status-success=ci/circleci: test-ubuntu16"
      - "status-success=ci/circleci: test-ubuntu18"
      - "status-success=continuous-integration/travis-ci/pr"
    actions:
      merge:
        method: merge
        strict: false
  - name: delete head branch after merge
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: Copy master to develop branch
    conditions:
      - base=master
      - merged
    actions:
      copy:
        branches:
          - develop
        # Whether to create the pull requests even if they are conflicts when cherry-picking the commits.
        ignore_conflicts: true
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=ESPnet2"
    conditions:
      - files~=^(espnet2/|egs2/)
    actions:
      label:
        add: ["ESPnet2"]
  - name: "auto add label=README"
    conditions:
      - files~=^README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^doc/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]

support average by duration in feature ext
  espnet2/tts/espnet_model.py
  espnet2/tts/feats_extract/dio.py
  espnet2/tts/feats_extract/energy.py
Due: auto add label=ESPnet2

removed average by duration
  espnet2/tts/fastspeech2.py
Due: auto add label=ESPnet2

udpated tts.sh
  egs2/TEMPLATE/tts1/tts.sh
Due: auto add label=ESPnet2

fixed shape
  espnet2/tts/feats_extract/dio.py
  espnet2/tts/feats_extract/energy.py
Due: auto add label=ESPnet2

decode_config -> inference_config
  egs2/csmsc/tts1/run.sh
  egs2/jsut/tts1/run.sh
  egs2/ljspeech/tts1/run.sh
  egs2/vctk/tts1/run.sh
Due: auto add label=ESPnet2

fixed
  egs2/TEMPLATE/tts1/tts.sh
Due: auto add label=ESPnet2

updated config
  egs2/csmsc/tts1/conf/tuning/decode_tacotron2.yaml
  egs2/jsut/tts1/conf/tuning/decode_tacotron2.yaml
  egs2/ljspeech/tts1/conf/tuning/decode_tacotron2.yaml
Due: auto add label=ESPnet2

updated test
  test/espnet2/tts/test_fastspeech2.py
Due: none

added pyworld
  setup.py
Due: none

revert test_shell.sh
  ci/test_shell.sh
Due: auto add label=CI

flake8 check
  espnet/nets/pytorch_backend/tacotron2/encoder.py
  espnet/nets/pytorch_backend/transformer/subsampling.py
  espnet/nets/pytorch_backend/vc_tacotron2.py
  espnet/nets/pytorch_backend/vc_transformer.py
  espnet/vc/pytorch_backend/vc.py
Due: none

flake8 check
  espnet/bin/vc_decode.py
  espnet/bin/vc_train.py
  espnet/nets/pytorch_backend/transformer/subsampling.py
  espnet/nets/pytorch_backend/vc_tacotron2.py
  espnet/nets/pytorch_backend/vc_transformer.py
Due: none

black
  espnet/nets/pytorch_backend/vc_transformer.py
Due: none

get_parser() for mcd_calculate
  utils/mcd_calculate.py
Due: none

black
  utils/mcd_calculate.py
Due: none

initial commit
  README.md
  egs/wsj/asr1/conf/tuning/decode_pytorch_transformer_maskctc.yaml
  egs/wsj/asr1/conf/tuning/train_pytorch_transformer_maskctc.yaml
  espnet/asr/pytorch_backend/asr.py
  espnet/bin/asr_train.py
  espnet/nets/pytorch_backend/e2e_asr_transformer.py
  espnet/nets/pytorch_backend/maskctc/__init__.py
  espnet/nets/pytorch_backend/maskctc/add_mask.py
  espnet/nets/pytorch_backend/transformer/add_sos_eos.py
  test/test_e2e_asr_maskctc.py
Due: auto add label=README

add e2e_asr_maskctc.py
  espnet/nets/pytorch_backend/e2e_asr_maskctc.py
Due: none

temp. fix for alsd with t-t
  espnet/nets/pytorch_backend/transducer/rnn_decoders.py
  espnet/nets/pytorch_backend/transducer/transformer_decoder.py
Due: none

added stop_gradient option
  espnet2/tts/fastspeech2.py
Due: auto add label=ESPnet2

add Zeroth project information to README
  egs2/zeroth_korean/asr1/README.md
Due: auto add label=ESPnet2

fixed tts.sh
  egs2/TEMPLATE/tts1/tts.sh
Due: auto add label=ESPnet2

updated tts.sh
  egs2/TEMPLATE/tts1/tts.sh
Due: auto add label=ESPnet2

minor fix & add comments
  espnet/nets/pytorch_backend/e2e_asr_maskctc.py
Due: none

avoid UnboundLocalError if lm is not loaded
  espnet2/bin/asr_inference.py
Due: auto add label=ESPnet2

ignore pure CTC mode
  espnet/nets/pytorch_backend/e2e_asr_maskctc.py
Due: none

add csj and voxforge configs
  egs/csj/asr1/conf/specaug.yaml
  egs/csj/asr1/conf/tuning/decode_pytorch_transformer_maskctc.yaml
  egs/csj/asr1/conf/tuning/train_pytorch_transformer_maskctc.yaml
  egs/voxforge/asr1/conf/specaug.yaml
  egs/voxforge/asr1/conf/tuning/decode_pytorch_transformer_maskctc.yaml
  egs/voxforge/asr1/conf/tuning/train_pytorch_transformer_maskctc.yaml
Due: none

Update setup.py
  setup.py
Due: none

Update doc/installation.md
  doc/installation.md
Due: auto add label=Documentation

added example configs
  egs2/jsut/tts1/conf/tuning/decode_fastspeech.yaml
  egs2/jsut/tts1/conf/tuning/train_fastspeech.yaml
  egs2/jsut/tts1/conf/tuning/train_fastspeech2.yaml
Due: auto add label=ESPnet2

updated docstring of dio
  espnet2/tts/feats_extract/dio.py
Due: auto add label=ESPnet2

fixed typos
  egs2/jsut/tts1/conf/tuning/decode_fastspeech.yaml
  egs2/jsut/tts1/conf/tuning/train_fastspeech.yaml
  egs2/jsut/tts1/conf/tuning/train_fastspeech2.yaml
  espnet2/tts/fastspeech2.py
  espnet2/tts/feats_extract/dio.py
Due: auto add label=ESPnet2

fix nargs: setup_cuda_env.sh
  tools/setup_cuda_env.sh
Due: none

modified: Makefile
  tools/Makefile
Due: none

modified for $CONDA: ../doc/installation.md
  doc/installation.md
Due: auto add label=Documentation
