Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

support pretrain model and distribute to collaborators
  egs2/librispeech/speechlm1/conf/decode_asr.yaml
  egs2/librispeech/speechlm1/conf/decode_tts.yaml
  egs2/librispeech/speechlm1/conf/deepspeed_zero2.json
  egs2/librispeech/speechlm1/conf/slurm.conf
  egs2/librispeech/speechlm1/conf/train_delay_asr.yaml
  egs2/librispeech/speechlm1/conf/train_delay_pythia_1b.yaml
  egs2/librispeech/speechlm1/conf/train_delay_tts.yaml
  egs2/librispeech/speechlm1/conf/train_multiscale.yaml
  egs2/librispeech/speechlm1/conf/train_multiscale_1b.yaml
  egs2/librispeech/speechlm1/conf/train_multiscale_asr.yaml
  egs2/librispeech/speechlm1/conf/train_multiscale_asr_qwen.yaml
  egs2/librispeech/speechlm1/conf/train_multiscale_v2.yaml
  egs2/librispeech/speechlm1/conf/train_parallel.yaml
  egs2/librispeech/speechlm1/conf/train_valle.yaml
  egs2/librispeech/speechlm1/run_asr.sh
  egs2/librispeech/speechlm1/run_codec_ssl_enh.sh
  egs2/librispeech/speechlm1/run_tts.sh
  espnet2/speechlm/core_lm/ar_multiscale.py
  espnet2/speechlm/core_lm/ar_parallel.py
  espnet2/speechlm/core_lm/valle.py
  espnet2/speechlm/loss.py
  espnet2/speechlm/net_utils.py
Due: auto add label=ESPnet2

update README
  egs2/TEMPLATE/asr1/scripts/utils/speechlm_eval/eval_codec_ssl_tts.sh
  egs2/TEMPLATE/speechlm1/README.md
  egs2/librispeech/speechlm1/conf/train_delay_asr.yaml
  egs2/librispeech/speechlm1/conf/train_delay_tts.yaml
Due: auto add label=ESPnet2, auto add label=README

add unit test for category chunk iter (with more batch)
  test/espnet2/iterators/test_category_chunk_iter_factory.py
Due: none

add cate-balanced sampler ci test
  test/espnet2/samplers/test_category_balanced_sampler.py
Due: none

fix(svs1): fix some recipes and config time: 2024.09.19(UTC +8)
  egs2/acesinger/svs1/conf/tuning/train_visinger2_24k.yaml
  egs2/acesinger/svs1/local/data_prep.py
  egs2/acesinger/svs1/midi-note.scp
  egs2/acesinger/svs1/run.sh
  egs2/kising/svs1/local/data_prep.py
  egs2/m4singer/svs1/run.sh
  egs2/mixed/svs1/conf/tuning/train_visinger2_24k.yaml
  egs2/mixed/svs1/conf/tuning/train_visinger2_24k_lang.yaml
  egs2/mixed/svs1/local/data.sh
  egs2/mixed/svs1/local/process.py
  egs2/mixed/svs1/run.sh
  egs2/natsume/svs1/local/dataset_split.py
  egs2/opencpop/svs1/local/data.sh
  egs2/opencpop/svs1/local/data_prep.py
  egs2/opencpop/svs1/run.sh
  espnet2/gan_svs/vits/generator.py
Due: auto add label=ESPnet2

push cluster-side fixes
  espnet2/iterators/category_chunk_iter_factory.py
Due: auto add label=ESPnet2

fix minor issues
  egs2/TEMPLATE/speechlm1/README.md
  egs2/librispeech/speechlm1/conf/train_delay_asr.yaml
  egs2/librispeech/speechlm1/conf/train_delay_tts.yaml
  egs2/librispeech/speechlm1/run.sh
  egs2/librispeech/speechlm1/run_combine.sh
  egs2/librispeech/speechlm1/run_tts.sh
  espnet2/speechlm/loss.py
Due: auto add label=ESPnet2, auto add label=README

fix tts setup
  egs2/librispeech/speechlm1/conf/decode_tts.yaml
  egs2/librispeech/speechlm1/run_tts.sh
Due: auto add label=ESPnet2

add SE task for SpeechLM
  espnet2/speechlm/definitions.py
Due: auto add label=ESPnet2

add CHiME-4 SpeechLM SE recipe
  egs2/TEMPLATE/asr1/scripts/utils/speechlm_eval/eval_se.sh
  egs2/chime4/speechlm1/cmd.sh
  egs2/chime4/speechlm1/conf/pbs.conf
  egs2/chime4/speechlm1/conf/queue.conf
  egs2/chime4/speechlm1/conf/slurm.conf
  egs2/chime4/speechlm1/conf/tuning/decode_se.yaml
  egs2/chime4/speechlm1/conf/tuning/train_valle.yaml
  egs2/chime4/speechlm1/db.sh
  egs2/chime4/speechlm1/local/CHiME3_simulate_data_patched_parallel.m
  egs2/chime4/speechlm1/local/clean_chime4_format_data.sh
  egs2/chime4/speechlm1/local/clean_wsj0_data_prep.sh
  egs2/chime4/speechlm1/local/cstr_ndx2flist.pl
  egs2/chime4/speechlm1/local/data.sh
  egs2/chime4/speechlm1/local/find_noisy_transcripts.pl
  egs2/chime4/speechlm1/local/find_transcripts.pl
  egs2/chime4/speechlm1/local/flist2scp.pl
  egs2/chime4/speechlm1/local/localize.m
  egs2/chime4/speechlm1/local/normalize_transcript.pl
  egs2/chime4/speechlm1/local/path.sh
  egs2/chime4/speechlm1/local/real_ext_chime4_data_prep.sh
  egs2/chime4/speechlm1/local/real_noisy_chime4_data_prep.sh
  egs2/chime4/speechlm1/local/simu_ext_chime4_data_prep.sh
  egs2/chime4/speechlm1/local/simu_noisy_chime4_data_prep.sh
  egs2/chime4/speechlm1/path.sh
  egs2/chime4/speechlm1/pyscripts
  egs2/chime4/speechlm1/run.sh
  egs2/chime4/speechlm1/scripts
  egs2/chime4/speechlm1/speechlm.sh
  egs2/chime4/speechlm1/steps
  egs2/chime4/speechlm1/utils
Due: auto add label=ESPnet2

Fix CI errors and add the training config.
  egs2/libritts/codec1/conf/tuning/train_hificodec.yaml
  espnet2/gan_codec/hificodec/hificodec.py
  espnet2/gan_codec/hificodec/module.py
Due: auto add label=ESPnet2

add script to extend vocab
  egs2/TEMPLATE/asr1/pyscripts/text/huggingface_tokenize_text.py
  egs2/TEMPLATE/asr1/pyscripts/utils/speechlm_extend_vocab.py
  egs2/TEMPLATE/speechlm1/README.md
Due: auto add label=ESPnet2, auto add label=README

com(svs2): commit for change branch
  egs2/TEMPLATE/asr1/db.sh
  egs2/TEMPLATE/asr1/pyscripts/feats/dump_km_label.py
  egs2/TEMPLATE/asr1/scripts/feats/perform_kmeans.sh
  egs2/TEMPLATE/svs2/svs2.sh
  egs2/opencpop/svs2/run.sh
  tools/Makefile
Due: auto add label=ESPnet2, auto add label=Installation

add eval scripts
  egs2/TEMPLATE/asr1/pyscripts/audio/format_wav_scp.py
  egs2/TEMPLATE/asr1/scripts/utils/speechlm_eval/eval_svs.sh
  egs2/TEMPLATE/asr1/utils/data/internal/tokenize_duration.py
  egs2/acesinger/speechlm1/cmd.sh
  egs2/acesinger/speechlm1/conf/decode_espnet_codec.yaml
  egs2/acesinger/speechlm1/conf/pbs.conf
  egs2/acesinger/speechlm1/conf/queue.conf
  egs2/acesinger/speechlm1/conf/slurm.conf
  egs2/acesinger/speechlm1/conf/train_valle.yaml
  egs2/acesinger/speechlm1/db.sh
  egs2/acesinger/speechlm1/local/data.sh
  egs2/acesinger/speechlm1/local/data_prep.py
  egs2/acesinger/speechlm1/local/midi-note.scp
  egs2/acesinger/speechlm1/path.sh
  egs2/acesinger/speechlm1/pyscripts
  egs2/acesinger/speechlm1/run.sh
  egs2/acesinger/speechlm1/scripts
  egs2/acesinger/speechlm1/speechlm_svs.sh
  egs2/acesinger/speechlm1/steps
  egs2/acesinger/speechlm1/utils
  egs2/opencpop/speechlm1/local/midi-note.scp
  espnet2/speechlm/definitions.py
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

implement new modality
  egs2/TEMPLATE/asr1/utils/data/internal/dump_svs_tokenls.py
  egs2/TEMPLATE/asr1/utils/data/internal/tokenize_duration.py
  egs2/opencpop/speechlm1/conf/decode_tts.yaml
  egs2/opencpop/speechlm1/conf/train_delay_tts.yaml
  egs2/opencpop/speechlm1/run.sh
  egs2/opencpop/speechlm1/speechlm_svs.sh
  espnet2/speechlm/definitions.py
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

revise extending vocab script
  egs2/TEMPLATE/asr1/pyscripts/utils/speechlm_extend_vocab.py
Due: auto add label=ESPnet2

update README.md
  egs2/TEMPLATE/speechlm1/README.md
Due: auto add label=ESPnet2, auto add label=README

add clotho_v2 aac recipe with beats encoder
  .gitignore
  egs2/TEMPLATE/asr1/db.sh
  egs2/clotho_v2/.ipynb_checkpoints/Untitled-checkpoint.ipynb
  egs2/clotho_v2/asr1/asr.sh
  egs2/clotho_v2/asr1/cmd.sh
  egs2/clotho_v2/asr1/conf/branchformer.yaml
  egs2/clotho_v2/asr1/conf/dcase.yaml
  egs2/clotho_v2/asr1/conf/fbank.conf
  egs2/clotho_v2/asr1/conf/pbs.conf
  egs2/clotho_v2/asr1/conf/pitch.conf
  egs2/clotho_v2/asr1/conf/queue.conf
  egs2/clotho_v2/asr1/conf/slurm.conf
  egs2/clotho_v2/asr1/db.sh
  egs2/clotho_v2/asr1/local/.ipynb_checkpoints/Checker-checkpoint.ipynb
  egs2/clotho_v2/asr1/local/.ipynb_checkpoints/data-checkpoint.sh
  egs2/clotho_v2/asr1/local/.ipynb_checkpoints/data_prep-checkpoint.py
  egs2/clotho_v2/asr1/local/Checker.ipynb
  egs2/clotho_v2/asr1/local/data.sh
  egs2/clotho_v2/asr1/local/data_prep.py
  egs2/clotho_v2/asr1/local/evaluation.py
  egs2/clotho_v2/asr1/local/path.sh
  egs2/clotho_v2/asr1/local/score.sh
  egs2/clotho_v2/asr1/path.sh
  egs2/clotho_v2/asr1/pyscripts
  egs2/clotho_v2/asr1/run.sh
  egs2/clotho_v2/asr1/scripts
  egs2/clotho_v2/asr1/steps
  egs2/clotho_v2/asr1/utils
  espnet2/asr/encoder/beats_encoder.py
  espnet2/tasks/asr.py
Due: auto add label=ESPnet2

fix typo
  egs2/TEMPLATE/speechlm1/README.md
Due: auto add label=ESPnet2, auto add label=README

Update github version
  .github/workflows/publish_paper_pdf.yml
Due: auto add label=CI

add vc ssl2codec template
  espnet2/speechlm/definitions.py
Due: auto add label=ESPnet2

add pyproject.toml
  pyproject.toml
  setup.py
Due: auto add label=Installation

update configs and evaluation
  egs2/TEMPLATE/asr1/scripts/utils/speechlm_eval/eval_se.sh
  egs2/chime4/speechlm1/conf/tuning/decode_se.yaml
  egs2/chime4/speechlm1/conf/tuning/train_delay_se.yaml
  egs2/chime4/speechlm1/run.sh
Due: auto add label=ESPnet2

[WIP] DNS recipe
  egs2/dns_ins20/speechlm1/cmd.sh
  egs2/dns_ins20/speechlm1/conf/eval_mos.yaml
  egs2/dns_ins20/speechlm1/conf/eval_spk.yaml
  egs2/dns_ins20/speechlm1/conf/pbs.conf
  egs2/dns_ins20/speechlm1/conf/queue.conf
  egs2/dns_ins20/speechlm1/conf/slurm.conf
  egs2/dns_ins20/speechlm1/conf/tuning/decode_se.yaml
  egs2/dns_ins20/speechlm1/conf/tuning/train_delay_se_init.yaml
  egs2/dns_ins20/speechlm1/db.sh
  egs2/dns_ins20/speechlm1/local/convert2wav.sh
  egs2/dns_ins20/speechlm1/local/data.sh
  egs2/dns_ins20/speechlm1/local/dns_create_mixture.sh
  egs2/dns_ins20/speechlm1/local/dns_data_prep.sh
  egs2/dns_ins20/speechlm1/local/path.sh
  egs2/dns_ins20/speechlm1/path.sh
  egs2/dns_ins20/speechlm1/pyscripts
  egs2/dns_ins20/speechlm1/run.sh
  egs2/dns_ins20/speechlm1/scripts
  egs2/dns_ins20/speechlm1/speechlm.sh
  egs2/dns_ins20/speechlm1/steps
  egs2/dns_ins20/speechlm1/utils
Due: auto add label=ESPnet2

reorganize scripts & integrate versa
  egs2/TEMPLATE/asr1/pyscripts/audio/format_wav_scp.py
  egs2/TEMPLATE/asr1/pyscripts/utils/make_token_list_speechlm.py
  egs2/TEMPLATE/asr1/pyscripts/utils/speechlm_extend_vocab.py
  egs2/TEMPLATE/asr1/scripts/utils/speechlm_eval/eval_svs.sh
  egs2/TEMPLATE/asr1/utils/data/internal/make_svs_score_triplets.py
  egs2/TEMPLATE/speechlm1/speechlm.sh
  egs2/acesinger/speechlm1/README.md
  egs2/acesinger/speechlm1/cmd.sh
  egs2/acesinger/speechlm1/conf/decode_tts.yaml
  egs2/acesinger/speechlm1/conf/eval_mcd_f0.yaml
  egs2/acesinger/speechlm1/conf/eval_singmos.yaml
  egs2/acesinger/speechlm1/conf/eval_spk.yaml
  egs2/acesinger/speechlm1/conf/train_delay_tts.yaml
  egs2/acesinger/speechlm1/run.sh
  egs2/acesinger/speechlm1/speechlm.sh
  egs2/acesinger/speechlm1/speechlm_svs.sh
  egs2/opencpop/speechlm1/conf/eval_mcd_f0.yaml
  egs2/opencpop/speechlm1/conf/eval_singmos.yaml
  egs2/opencpop/speechlm1/conf/eval_spk.yaml
  egs2/opencpop/speechlm1/conf/slurm.conf
  egs2/opencpop/speechlm1/conf/test.py
  egs2/opencpop/speechlm1/conf/train_delay_tts.yaml
  egs2/opencpop/speechlm1/run.sh
  egs2/opencpop/speechlm1/speechlm.sh
Due: auto add label=ESPnet2, auto add label=README

feat: add data.sh and prepare_data.py
  egs2/myst/asr1/local/data.sh
  egs2/myst/asr1/local/prepare_data.py
Due: auto add label=ESPnet2

fix: add exit command when the dataset doesnot exist
  egs2/myst/asr1/local/data.sh
Due: auto add label=ESPnet2

revise small issues
  egs2/TEMPLATE/asr1/pyscripts/utils/speechlm_extend_vocab.py
  espnet2/iterators/sequence_iter_factory.py
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

fix: replace ellipses (...)
  espnetez/trainer.py
Due: none

try
  espnet2/speechlm/definitions.py
Due: auto add label=ESPnet2

add visual_tts task and video_ssl modality
  espnet2/speechlm/definitions.py
Due: auto add label=ESPnet2

add for visual_tts task
  egs2/TEMPLATE/asr1/scripts/feats/video_ssl_tokenization.sh
  egs2/lrs2/speechlm1/conf/decode_tts.yaml
  egs2/lrs2/speechlm1/conf/train_delay_tts.yaml
  egs2/lrs2/speechlm1/local/data.sh
  egs2/lrs2/speechlm1/local/detect_landmarks.py
  egs2/lrs2/speechlm1/local/extract_av_feature.py
  egs2/lrs2/speechlm1/local/face_alignment.py
  egs2/lrs2/speechlm1/local/prepare_data.py
Due: auto add label=ESPnet2

add for visual_tts task
  egs2/TEMPLATE/asr1/pyscripts/feats/dump_km_label.py
  egs2/TEMPLATE/speechlm1/speechlm.sh
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

add for visual_tts task
  egs2/lrs2/speechlm1/cmd.sh
  egs2/lrs2/speechlm1/conf/decode_espnet_codec.yaml
  egs2/lrs2/speechlm1/conf/pbs.conf
  egs2/lrs2/speechlm1/conf/queue.conf
  egs2/lrs2/speechlm1/conf/slurm.conf
  egs2/lrs2/speechlm1/local/scp_gen.py
  egs2/lrs2/speechlm1/local/transforms.py
  egs2/lrs2/speechlm1/run.sh
Due: auto add label=ESPnet2

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(ci/|.github/)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
