Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(ci/|.github/)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/

fix line length format error
  egs2/ipapack_plus/s2t1/local/data_prep.py
  egs2/ipapack_plus/s2t1/local/fix_doreco.py
  egs2/ipapack_plus/s2t1/local/process_ipapack.py
  egs2/ipapack_plus/s2t1/local/subset.py
Due: auto add label=ESPnet2

fix small errors
  egs2/ipapack_plus/s2t1/local/data.sh
  egs2/ipapack_plus/s2t1/local/process_ipapack.py
Due: auto add label=ESPnet2

Add text normalization for ASR evaluation.
  egs2/dynamic_superb/qwen2/run.sh
Due: auto add label=ESPnet2

Add decoding config.
  egs2/dynamic_superb/qwen2/run.sh
  espnet2/bin/dynamic_superb_inference.py
  espnet2/dynamic_superb/espnet_model.py
Due: auto add label=ESPnet2

Adjust decoding hyperparameters.
  espnet2/dynamic_superb/espnet_model.py
Due: auto add label=ESPnet2

Fix argument typo.
  espnet2/bin/dynamic_superb_inference.py
Due: auto add label=ESPnet2

Fix argument passing error.
  espnet2/tasks/dynamic_superb.py
Due: auto add label=ESPnet2

Fix indent error.
  espnet2/dynamic_superb/espnet_model.py
Due: auto add label=ESPnet2

Fix attribute error.
  espnet2/dynamic_superb/espnet_model.py
Due: auto add label=ESPnet2

Add minlenratio.
  espnet2/dynamic_superb/espnet_model.py
Due: auto add label=ESPnet2

Add hybrid optimizer/scheduler
  espnet3/trainer/__init__.py
  espnet3/trainer/hybrid_optim.py
  espnet3/trainer/hybrid_scheduler.py
Due: none

Update model.py to use multiple optimizers/schedulers
  espnet3/trainer/model.py
Due: none

Add unit tests
  test/espnet3/test_hybrid_optim.py
  test/espnet3/test_hybrid_scheduler.py
  test/espnet3/test_model_with_optim_scheduler.py
Due: none

Fixed pycodestyle
  espnet3/trainer/model.py
Due: none

Fix test
  test/espnet3/test_hybrid_scheduler.py
Due: none

Fix comment.
  egs2/TEMPLATE/lid1/lid.sh
Due: auto add label=ESPnet2

Fixed version for dependencies
  pyproject.toml
Due: none

Fixed sphinx version
  pyproject.toml
Due: none

revise code format
  espnet2/bin/speechlm_inference.py
  espnet2/speechlm/core_lm/ar_parallel.py
  espnet2/speechlm/definitions.py
  espnet2/speechlm/inference_utils.py
  espnet2/speechlm/loss.py
  espnet2/speechlm/tokenizer/text_bpe_tokenizer.py
  espnet2/tasks/speechlm.py
Due: auto add label=ESPnet2

fix flake8 issues
  egs2/TEMPLATE/speechlm1/speechlm.sh
Due: auto add label=ESPnet2

fix flake8 issue
  espnet2/bin/speechlm_inference.py
  espnet2/speechlm/tokenizer/abs_tokenizer.py
  espnet2/speechlm/tokenizer/text_bpe_tokenizer.py
  espnet2/tasks/speechlm.py
Due: auto add label=ESPnet2

Add voxlingua107 recipe.
  egs2/voxlingua107/lid1/cmd.sh
  egs2/voxlingua107/lid1/conf/pbs.conf
  egs2/voxlingua107/lid1/conf/queue.conf
  egs2/voxlingua107/lid1/conf/slurm.conf
  egs2/voxlingua107/lid1/db.sh
  egs2/voxlingua107/lid1/lid.sh
  egs2/voxlingua107/lid1/local/copy_data_dir.sh
  egs2/voxlingua107/lid1/local/path.sh
  egs2/voxlingua107/lid1/local/score.py
  egs2/voxlingua107/lid1/path.sh
  egs2/voxlingua107/lid1/pyscripts
  egs2/voxlingua107/lid1/scripts
  egs2/voxlingua107/lid1/steps
  egs2/voxlingua107/lid1/utils
Due: auto add label=ESPnet2

Add readme.
  egs2/voxlingua107/lid1/README.md
Due: auto add label=ESPnet2, auto add label=README

Add run script.
  egs2/voxlingua107/lid1/run.sh
Due: auto add label=ESPnet2

Add config.
  egs2/voxlingua107/lid1/conf/mms_ecapa_baseline.yaml
Due: auto add label=ESPnet2

Add data preparation scritpts.
  egs2/voxlingua107/lid1/local/data.sh
  egs2/voxlingua107/lid1/local/prepare_voxlingua107.py
Due: auto add label=ESPnet2

Remove voxlingua107 recipe.
  egs2/voxlingua107/lid1/README.md
  egs2/voxlingua107/lid1/cmd.sh
  egs2/voxlingua107/lid1/conf/mms_ecapa_baseline.yaml
  egs2/voxlingua107/lid1/conf/pbs.conf
  egs2/voxlingua107/lid1/conf/queue.conf
  egs2/voxlingua107/lid1/conf/slurm.conf
  egs2/voxlingua107/lid1/db.sh
  egs2/voxlingua107/lid1/lid.sh
  egs2/voxlingua107/lid1/local/copy_data_dir.sh
  egs2/voxlingua107/lid1/local/data.sh
  egs2/voxlingua107/lid1/local/path.sh
  egs2/voxlingua107/lid1/local/prepare_voxlingua107.py
  egs2/voxlingua107/lid1/local/score.py
  egs2/voxlingua107/lid1/path.sh
  egs2/voxlingua107/lid1/pyscripts
  egs2/voxlingua107/lid1/run.sh
  egs2/voxlingua107/lid1/scripts
  egs2/voxlingua107/lid1/steps
  egs2/voxlingua107/lid1/utils
Due: auto add label=ESPnet2, auto add label=README

Add voxlingua107 recipe.
  egs2/voxlingua107/lid1/cmd.sh
  egs2/voxlingua107/lid1/conf/pbs.conf
  egs2/voxlingua107/lid1/conf/queue.conf
  egs2/voxlingua107/lid1/conf/slurm.conf
  egs2/voxlingua107/lid1/db.sh
  egs2/voxlingua107/lid1/lid.sh
  egs2/voxlingua107/lid1/local/copy_data_dir.sh
  egs2/voxlingua107/lid1/local/path.sh
  egs2/voxlingua107/lid1/path.sh
  egs2/voxlingua107/lid1/pyscripts
  egs2/voxlingua107/lid1/scripts
  egs2/voxlingua107/lid1/steps
  egs2/voxlingua107/lid1/utils
Due: auto add label=ESPnet2

Add data process scripts.
  egs2/voxlingua107/lid1/local/data.sh
  egs2/voxlingua107/lid1/local/prepare_voxlingua107.py
  egs2/voxlingua107/lid1/local/score.py
Due: auto add label=ESPnet2

add more comments
  espnet2/speechlm/core_lm/ar_delay.py
  espnet2/speechlm/inference_utils.py
Due: auto add label=ESPnet2

add document
  espnet2/speechlm/definitions.py
Due: auto add label=ESPnet2

fix all comments
  espnet2/bin/speechlm_inference.py
  espnet2/bin/speechlm_inference_chat.py
  espnet2/speechlm/core_lm/abs_core_lm.py
  espnet2/speechlm/core_lm/ar_delay.py
  espnet2/speechlm/core_lm/ar_parallel.py
  espnet2/speechlm/definitions.py
  espnet2/speechlm/inference_utils.py
  espnet2/speechlm/loss.py
  espnet2/speechlm/net_utils.py
  espnet2/speechlm/tokenizer/abs_tokenizer.py
  espnet2/speechlm/tokenizer/text_bpe_tokenizer.py
  espnet2/tasks/speechlm.py
Due: auto add label=ESPnet2

Add parallel package
  espnet3/parallel/__init__.py
  espnet3/parallel/parallel.py
Due: none

Add collect stats function based on parallel package
  espnet3/collect_stats.py
Due: none

Uncomment collect_stats
  espnet3/trainer/model.py
  espnet3/trainer/trainer.py
Due: none

init owsm v4
  egs2/owsm_v4/s2t1/cmd.sh
  egs2/owsm_v4/s2t1/conf/fbank.conf
  egs2/owsm_v4/s2t1/conf/pbs.conf
  egs2/owsm_v4/s2t1/conf/pitch.conf
  egs2/owsm_v4/s2t1/conf/queue.conf
  egs2/owsm_v4/s2t1/conf/slurm.conf
  egs2/owsm_v4/s2t1/db.sh
  egs2/owsm_v4/s2t1/local/path.sh
  egs2/owsm_v4/s2t1/path.sh
  egs2/owsm_v4/s2t1/pyscripts
  egs2/owsm_v4/s2t1/s2t.sh
  egs2/owsm_v4/s2t1/scripts
  egs2/owsm_v4/s2t1/utils
Due: auto add label=ESPnet2

add configs
  egs2/owsm_v4/s2t1/conf/train_conv2d8_size1024_e18_d18_mel128.yaml
  egs2/owsm_v4/s2t1/conf/train_conv2d8_size384_e6_d6_mel128.yaml
  egs2/owsm_v4/s2t1/conf/train_conv2d8_size768_e9_d9_mel128.yaml
  egs2/owsm_v4/s2t1/run.sh
Due: auto add label=ESPnet2
