Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

st readme
  egs2/TEMPLATE/st1/README.md
Due: auto add label=ESPnet2, auto add label=README

other:transfer server
  egs2/TEMPLATE/asr1/db.sh
  egs2/TEMPLATE/svs1/svs.sh
  egs2/opencpop/svs1/conf/tuning/train_diffsinger.yaml
  espnet2/bin/aggregate_stats_dirs.py
  espnet2/main_funcs/collect_stats.py
  espnet2/svs/diffsinger/denoiser.py
  espnet2/svs/diffsinger/diffLoss.py
  espnet2/svs/diffsinger/diffsinger.py
  espnet2/svs/diffsinger/diffsinger_utils.py
  espnet2/svs/diffsinger/fftsinger.py
  espnet2/svs/diffsinger/get_feats_minmax.py
  espnet2/svs/espnet_model.py
  espnet2/tasks/svs.py
Due: auto add label=ESPnet2

Fix bugs in mfa_format.py
  egs2/TEMPLATE/asr1/pyscripts/utils/mfa_format.py
Due: auto add label=ESPnet2

add text back to vad.sh, add vad in packing, fix a bug in preprocess
  egs2/TEMPLATE/vad1/vad.sh
  espnet2/bin/pack.py
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

add example yaml config file for adapter training
  egs2/mini_an4/asr1/conf/adapter_example.yaml
Due: auto add label=ESPnet2

add cmd.sh
  egs2/TEMPLATE/vad1/cmd.sh
Due: auto add label=ESPnet2

fix ci errors
  espnet2/asr/frontend/adapters_utils/adapters/adapter.py
  espnet2/asr/frontend/adapters_utils/adapters/adapter_transformer.py
  espnet2/asr/frontend/adapters_utils/add_adapters.py
Due: auto add label=ESPnet2

add links to config
  egs2/mini_an4/asr1/conf/adapter_example.yaml
  egs2/mini_an4/asr1/run_adapters.sh
  espnet2/asr/frontend/adapters_utils/README.md
  espnet2/asr/frontend/adapters_utils/adapters/__init__.py
  espnet2/asr/frontend/adapters_utils/adapters/adapter.py
  espnet2/asr/frontend/adapters_utils/adapters/adapter_transformer.py
  espnet2/asr/frontend/adapters_utils/add_adapters.py
Due: auto add label=ESPnet2, auto add label=README

minor changes to s3prl
  espnet2/asr/frontend/s3prl.py
Due: auto add label=ESPnet2

fix
  espnet2/asr/frontend/s3prl.py
Due: auto add label=ESPnet2

fix2
  espnet2/asr/frontend/adapters_utils/add_adapters.py
Due: auto add label=ESPnet2

add hook, finished
  espnet2/asr/frontend/adapters_utils/add_adapters.py
Due: auto add label=ESPnet2

Update s3prl.py
  espnet2/asr/frontend/s3prl.py
Due: auto add label=ESPnet2

trainer fix
  espnet2/train/trainer.py
Due: auto add label=ESPnet2

fix svs data prep
  egs2/TEMPLATE/asr1/pyscripts/utils/check_align.py
  egs2/TEMPLATE/asr1/pyscripts/utils/prep_segments.py
Due: auto add label=ESPnet2

fix namine ci error
  egs2/namine_ritsu_utagoe_db/svs1/local/dataset_split.py
Due: auto add label=ESPnet2

Add instruction for fixing the dataset
  egs2/TEMPLATE/asr1/pyscripts/utils/check_align.py
  egs2/TEMPLATE/svs1/README.md
Due: auto add label=ESPnet2, auto add label=README

fix comment
  egs2/TEMPLATE/asr1/pyscripts/utils/check_align.py
Due: auto add label=ESPnet2

revert to original s3prl.py
  espnet2/asr/frontend/s3prl.py
Due: auto add label=ESPnet2

remove example yaml config file for now
  egs2/mini_an4/asr1/conf/adapter_example.yaml
Due: auto add label=ESPnet2

revert to original trainer.py
  espnet2/train/trainer.py
Due: auto add label=ESPnet2

fix cmd.sh
  egs2/namine_ritsu_utagoe_db/svs1/cmd.sh
Due: auto add label=ESPnet2

Add data path
  egs2/TEMPLATE/asr1/db.sh
Due: auto add label=ESPnet2

adding changes
  egs2/chime7_task1/asr1/README.md
  egs2/chime7_task1/asr1/local/da_wer_scoring.py
  egs2/chime7_task1/asr1/local/data.sh
  egs2/chime7_task1/asr1/run.sh
  egs2/chime7_task1/diar_asr1/README.md
  egs2/chime7_task1/diar_asr1/local/pyannote_diarize.py
  egs2/chime7_task1/diar_asr1/run.sh
Due: auto add label=ESPnet2, auto add label=README

Make score.scp segment and TODO
  egs2/nit_song070/svs1/local/data.sh
  egs2/nit_song070/svs1/local/prep_segments.py
  egs2/nit_song070/svs1/run.sh
Due: auto add label=ESPnet2

Update paper.bib
  doc/paper/espnet-se++/paper.bib
Due: auto add label=Documentation

Add files via upload
  doc/paper/espnet-se++/graphics/data_structure.png
Due: auto add label=Documentation

fix some more errors and remove useless parameters
  egs2/TEMPLATE/vad1/conf/fbank.conf
  egs2/TEMPLATE/vad1/conf/pbs.conf
  egs2/TEMPLATE/vad1/conf/pitch.conf
  egs2/TEMPLATE/vad1/conf/queue.conf
  egs2/TEMPLATE/vad1/conf/slurm.conf
  egs2/TEMPLATE/vad1/db.sh
  egs2/TEMPLATE/vad1/local/path.sh
  egs2/TEMPLATE/vad1/path.sh
  egs2/TEMPLATE/vad1/pyscripts
  egs2/TEMPLATE/vad1/scripts
  egs2/TEMPLATE/vad1/steps
  egs2/TEMPLATE/vad1/utils
  egs2/TEMPLATE/vad1/vad.sh
  egs2/ami/vad1/cmd.sh
  egs2/ami/vad1/conf/tuning/decode_rnn.yaml
  egs2/ami/vad1/conf/tuning/decode_transformer.yaml
  egs2/ami/vad1/conf/tuning/train_vad_rnn.yaml
  egs2/ami/vad1/run.sh
  egs2/ami/vad1/scripts
  egs2/ami/vad1/steps
  egs2/ami/vad1/utils
  espnet2/bin/vad_inference.py
  espnet2/bin/vad_scoring.py
  espnet2/tasks/vad.py
  espnet2/vad/espnet_model.py
Due: auto add label=ESPnet2

fix typos (type, docs)
  doc/espnet2_tutorial.md
  espnet2/asr_transducer/decoder/modules/rwkv/attention.py
Due: auto add label=ESPnet2, auto add label=Documentation

st readme
  egs2/TEMPLATE/st1/local/images/example-a.png
Due: auto add label=ESPnet2

st readme
  egs2/TEMPLATE/st1/README.md
  egs2/TEMPLATE/st1/local/images/ctc-attn.png
  egs2/TEMPLATE/st1/local/images/example-b.png
  egs2/TEMPLATE/st1/local/images/example-c.png
  egs2/TEMPLATE/st1/local/images/md-ctc-attn.png
Due: auto add label=ESPnet2, auto add label=README

st readme
  egs2/TEMPLATE/st1/local/images/ctc-attn.png
Due: auto add label=ESPnet2

st readme
  egs2/TEMPLATE/st1/README.md
  egs2/TEMPLATE/st1/local/images/attn.png
Due: auto add label=ESPnet2, auto add label=README

st readme
  egs2/TEMPLATE/st1/local/images/attn.png
  egs2/TEMPLATE/st1/local/images/ctc-attn.png
Due: auto add label=ESPnet2

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
