Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

.mergify.yml:

pull_request_rules:
  - name: automatic merge if label=auto-merge
    conditions:
      - "label=auto-merge"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.0.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.1.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.2.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.3.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.4.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.5.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.6.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.7.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.8, 1.8.1, 6.0.0, false)"
    actions:
      merge:
        method: merge
        strict: false
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=ESPnet1"
    conditions:
      - files~=^(espnet/|egs/)
    actions:
      label:
        add: ["ESPnet1"]
  - name: "auto add label=ESPnet2"
    conditions:
      - files~=^(espnet2/|egs2/)
    actions:
      label:
        add: ["ESPnet2"]
  - name: "auto add label=ASR"
    conditions:
      - files~=^(espnet*/asr|egs*/*/asr1)
    actions:
      label:
        add: ["ASR"]
  - name: "auto add label=TTS"
    conditions:
      - files~=^(espnet*/tts|egs*/*/tts1)
    actions:
      label:
        add: ["TTS"]
  - name: "auto add label=MT"
    conditions:
      - files~=^(espnet*/mt|egs*/*/mt1)
    actions:
      label:
        add: ["MT"]
  - name: "auto add label=LM"
    conditions:
      - files~=^(espnet*/lm)
    actions:
      label:
        add: ["LM"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^doc/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]

change permissions and adopt to the latest enh.sh and enh_asr.sh
  egs2/chime4/enh_asr1/local/run_asr_pretraining.sh
  egs2/chime4/enh_asr1/local/run_enh_asr_finetuning.sh
  egs2/chime4/enh_asr1/local/run_enh_pretraining.sh
  egs2/chime4/enh_asr1/local/run_multiiris.sh
Due: auto add label=ESPnet2

update README
  egs2/chime4/enh_asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

fix the epochs in lm config
  egs2/chime4/asr1/conf/train_lm_transformer.yaml
Due: auto add label=ESPnet2

symbolic link init
  egs2/meld/asr1/asr.sh
  egs2/meld/asr1/path.sh
  egs2/meld/asr1/steps
  egs2/meld/asr1/utils
Due: auto add label=ESPnet2

update db.sh
  egs2/meld/asr1/db.sh
Due: auto add label=ESPnet2

add symbolic links
  egs2/meld/asr1/pyscripts
  egs2/meld/asr1/scripts
Due: auto add label=ESPnet2

update MELD to db
  egs2/TEMPLATE/asr1/db.sh
Due: auto add label=ESPnet2

default setup
  egs2/meld/asr1/cmd.sh
Due: auto add label=ESPnet2

add encode and decode configs
  egs2/meld/asr1/conf/.ipynb_checkpoints/slurm-checkpoint.conf
  egs2/meld/asr1/conf/decoder_asr.yaml
  egs2/meld/asr1/conf/fbank.conf
  egs2/meld/asr1/conf/pbs.conf
  egs2/meld/asr1/conf/pitch.conf
  egs2/meld/asr1/conf/queue.conf
  egs2/meld/asr1/conf/slurm.conf
  egs2/meld/asr1/conf/tuning/train_asr_hubert_transformer_adam_specaug_meld.yaml
Due: auto add label=ESPnet2

remove ipynb chkpt
  egs2/meld/asr1/conf/.ipynb_checkpoints/slurm-checkpoint.conf
Due: auto add label=ESPnet2

specialized script for prepare data
  egs2/meld/asr1/local/data.sh
  egs2/meld/asr1/local/data_prep.py
Due: auto add label=ESPnet2

script to download MELD and untar
  egs2/meld/asr1/local/download_and_untar.sh
Due: auto add label=ESPnet2

default path
  egs2/meld/asr1/local/path.sh
Due: auto add label=ESPnet2

add entry script run.sh
  egs2/meld/asr1/run.sh
Due: auto add label=ESPnet2

add README of MELD
  egs2/meld/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

refactor the way to specify stages
  egs2/chime4/enh_asr1/local/run_asr_pretraining.sh
  egs2/chime4/enh_asr1/local/run_enh_pretraining.sh
  egs2/chime4/enh_asr1/local/run_multiiris.sh
Due: auto add label=ESPnet2

update egs2/README.md
  egs2/README.md
Due: auto add label=ESPnet2, auto add label=README

fix wav2vec2 encoder mask bug
  espnet2/asr/encoder/wav2vec2_encoder.py
Due: auto add label=ESPnet2

add rvad_fast install
  tools/Makefile
Due: auto add label=Installation

update timit process
  egs2/TEMPLATE/asr1/db.sh
  egs2/TEMPLATE/uasr1/uasr.sh
  egs2/timit/uasr1/conf/dev_spk.list
  egs2/timit/uasr1/conf/test_spk.list
  egs2/timit/uasr1/local/data.sh
  egs2/timit/uasr1/local/timit_data_prep.sh
  egs2/timit/uasr1/local/timit_format_data.sh
  egs2/timit/uasr1/local/timit_norm_trans.pl
Due: auto add label=ESPnet2

minor_fix
  egs2/TEMPLATE/asr1/pyscripts/audio/compute_vad.py
  egs2/TEMPLATE/asr1/scripts/audio/compute_vad.sh
Due: auto add label=ESPnet2

apply black
  egs2/TEMPLATE/asr1/pyscripts/audio/compute_vad.py
  egs2/TEMPLATE/asr1/pyscripts/audio/format_wav_scp.py
  egs2/TEMPLATE/uasr1/pyscripts/text/combine_text_and_vocab.py
Due: auto add label=ESPnet2

Remove commented lines
  egs2/meld/asr1/local/data_prep.py
Due: auto add label=ESPnet2

softlinked train config
  egs2/meld/asr1/conf/train_asr.yaml
  egs2/meld/asr1/run.sh
Due: auto add label=ESPnet2

resolve run.sh requests
  egs2/meld/asr1/run.sh
Due: auto add label=ESPnet2

remove unused transcript file generation
  egs2/meld/asr1/local/data_prep.py
Due: auto add label=ESPnet2

update huggingface model
  egs2/meld/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

remove default token_type arg
  egs2/meld/asr1/run.sh
Due: auto add label=ESPnet2

fix random seed for stable test
  test/espnet2/asr/frontend/test_frontend.py
Due: none

fix import issue
  test/espnet2/asr/frontend/test_frontend.py
Due: none

Add files via upload
  espnet/utils/final_final_feature_extractor.ipynb
Due: auto add label=ESPnet1

update some minor fixes
  egs2/TEMPLATE/asr1/pyscripts/audio/compute_vad.py
  egs2/TEMPLATE/asr1/pyscripts/audio/format_wav_scp.py
  egs2/TEMPLATE/asr1/scripts/audio/format_wav_scp.sh
  egs2/TEMPLATE/uasr1/pyscripts/text/combine_text_and_vocab.py
  egs2/TEMPLATE/uasr1/pyscripts/text/post_processing.py
  egs2/TEMPLATE/uasr1/uasr.sh
  egs2/timit/uasr1/local/path.sh
  espnet2/bin/tokenize_text.py
  espnet2/fileio/vad_scp.py
Due: auto add label=ESPnet2

fix overlength line issue
  egs2/meld/asr1/local/data_prep.py
Due: auto add label=ESPnet2

fix until stage 10
  egs2/TEMPLATE/uasr1/pyscripts/text/make_text_scp.py
  egs2/TEMPLATE/uasr1/uasr.sh
Due: auto add label=ESPnet2

Update db.sh
  egs2/TEMPLATE/asr1/db.sh
Due: auto add label=ESPnet2

fix parsing token_list
  espnet2/tasks/gan_tts.py
  espnet2/tasks/tts.py
  espnet2/text/token_id_converter.py
Due: auto add label=ESPnet2

add PIT E2E multi-speaker ASR and librimix recipe
  ci/test_integration_espnet2.sh
  egs2/TEMPLATE/asr1/multispkr_asr.sh
  egs2/TEMPLATE/asr1/scripts/utils/eval_perm_free_error.py
  egs2/TEMPLATE/enh_asr1/scripts/utils/eval_perm_free_error.py
  egs2/librimix/asr1/cmd.sh
  egs2/librimix/asr1/conf/decode.yaml
  egs2/librimix/asr1/conf/fbank.conf
  egs2/librimix/asr1/conf/pbs.conf
  egs2/librimix/asr1/conf/pitch.conf
  egs2/librimix/asr1/conf/queue.conf
  egs2/librimix/asr1/conf/slurm.conf
  egs2/librimix/asr1/conf/tuning/train_asr_transformer_multispkr.yaml
  egs2/librimix/asr1/conf/tuning/train_lm_transformer.yaml
  egs2/librimix/asr1/db.sh
  egs2/librimix/asr1/local/data.sh
  egs2/librimix/asr1/local/data_prep.sh
  egs2/librimix/asr1/local/download_and_untar.sh
  egs2/librimix/asr1/local/path.sh
  egs2/librimix/asr1/multispkr_asr.sh
  egs2/librimix/asr1/path.sh
  egs2/librimix/asr1/pyscripts
  egs2/librimix/asr1/run.sh
  egs2/librimix/asr1/scripts
  egs2/librimix/asr1/steps
  egs2/librimix/asr1/utils
  egs2/mini_an4/asr1/multispkr_asr.sh
  egs2/mini_an4/asr1/run_multispkr.sh
  espnet2/asr/encoder/transformer_encoder_multispkr.py
  espnet2/asr/espnet_model.py
  espnet2/asr/pit_espnet_model.py
  espnet2/bin/asr_inference.py
  espnet2/tasks/asr.py
  espnet2/train/preprocessor.py
  espnet2/train/trainer.py
  test/espnet2/asr/encoder/test_transformer_encoder_multispkr.py
  test/espnet2/asr/test_espnet_model.py
  test/espnet2/asr/test_pit_espnet_model.py
  test/espnet2/bin/test_asr_inference.py
  utils/calculate_rtf.py
Due: auto add label=ESPnet2, auto add label=CI
