Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

.mergify.yml:

pull_request_rules:
  - name: automatic merge if label=auto-merge
    conditions:
      - "label=auto-merge"
      - "check-success=test_centos7"
      - "check-success=test_debian9"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.4.0, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.5.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.6.0, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.7.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.8.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.9.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.10.2, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.11.0, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.12.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.13.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.8, 1.13.1, false, 6.0.0)"
      - "check-success=linter_and_test (ubuntu-latest, 3.9, 1.13.1, false, 6.0.0)"
      - "check-success=linter_and_test (ubuntu-latest, 3.10, 1.13.1, false, 6.0.0)"
      - "check-success=test_import (ubuntu-latest, 3.10, 1.13.1)"
      - "check-success=check_kaldi_symlinks"
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=ESPnet1"
    conditions:
      - files~=^(espnet/|egs/)
    actions:
      label:
        add: ["ESPnet1"]
  - name: "auto add label=ESPnet2"
    conditions:
      - files~=^(espnet2/|egs2/)
    actions:
      label:
        add: ["ESPnet2"]
  - name: "auto add label=ASR"
    conditions:
      - files~=^(espnet*/asr|egs*/*/asr1)
    actions:
      label:
        add: ["ASR"]
  - name: "auto add label=TTS"
    conditions:
      - files~=^(espnet*/tts|egs*/*/tts1)
    actions:
      label:
        add: ["TTS"]
  - name: "auto add label=MT"
    conditions:
      - files~=^(espnet*/mt|egs*/*/mt1)
    actions:
      label:
        add: ["MT"]
  - name: "auto add label=LM"
    conditions:
      - files~=^(espnet*/lm)
    actions:
      label:
        add: ["LM"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^doc/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]

Set @torch.cuda.amp.autocast(enabled=False) for GlobalLayerNorm and ChannelwiseLayerNorm
  espnet2/enh/layers/tcn.py
Due: auto add label=ESPnet2

Update MultiResL1SpecLoss
  espnet2/enh/loss/criterions/time_domain.py
Due: auto add label=ESPnet2

Update espnet2/enh/espnet_model.py to handle multi-condition data
  espnet2/enh/espnet_model.py
Due: auto add label=ESPnet2

Add a new SE recipe
  egs2/TEMPLATE/enh1/enh.sh
  egs2/universal_se/enh1/README.md
  egs2/universal_se/enh1/cmd.sh
  egs2/universal_se/enh1/conf/inference/test_16kHz.yaml
  egs2/universal_se/enh1/conf/inference/test_48kHz.yaml
  egs2/universal_se/enh1/conf/inference/test_8kHz.yaml
  egs2/universal_se/enh1/conf/pbs.conf
  egs2/universal_se/enh1/conf/queue.conf
  egs2/universal_se/enh1/conf/slurm.conf
  egs2/universal_se/enh1/conf/tuning/train_enh_uses_refch0_2mem.yaml
  egs2/universal_se/enh1/db.sh
  egs2/universal_se/enh1/enh.sh
  egs2/universal_se/enh1/local/data.sh
  egs2/universal_se/enh1/local/path.sh
  egs2/universal_se/enh1/path.sh
  egs2/universal_se/enh1/pyscripts
  egs2/universal_se/enh1/run.sh
  egs2/universal_se/enh1/scripts
  egs2/universal_se/enh1/steps
  egs2/universal_se/enh1/utils
Due: auto add label=ESPnet2, auto add label=README

Update wavlm baseline results
  egs2/mls/asr1/RESULTS.md
Due: auto add label=ESPnet2

Fix coding style in egs2/universal_se/enh1/local/data.sh
  egs2/universal_se/enh1/local/data.sh
Due: auto add label=ESPnet2

Plot predicted MOS values during training.
  espnet2/gan_tts/jets/jets.py
  espnet2/gan_tts/vits/vits.py
Due: auto add label=ESPnet2

Add VITS config to plot predicted MOS
  egs2/ljspeech/tts1/conf/tuning/train_vits.yaml
Due: auto add label=ESPnet2

fix config
  egs2/ljspeech/tts1/conf/tuning/train_vits.yaml
Due: auto add label=ESPnet2

configs and readme
  egs2/tedlium3/asr2/README.md
  egs2/tedlium3/asr2/conf/train.yaml
  egs2/tedlium3/asr2/conf/train_lm.yaml
  egs2/tedlium3/asr2/conf/tuning/decode_ctc0.3.yaml
  egs2/tedlium3/asr2/conf/tuning/train_discrete_asr_e_branchformer1.yaml
  egs2/tedlium3/asr2/conf/tuning/train_discrete_asr_e_branchformer1_1gpu.yaml
  egs2/tedlium3/asr2/conf/tuning/train_discrete_asr_e_branchformer1_2gpu.yaml
  egs2/tedlium3/asr2/conf/tuning/train_discrete_asr_e_branchformer1_conv1d3.yaml
  egs2/tedlium3/asr2/conf/tuning/train_lm_transformer.yaml
Due: auto add label=ESPnet2, auto add label=README

add [unk] token to nlsyms as in asr1
  egs2/tedlium3/asr2/run.sh
Due: auto add label=ESPnet2

add data filtering and switch order of src and tgt in stage 13
  egs2/TEMPLATE/asr2/asr2.sh
Due: auto add label=ESPnet2

Create README.md in OWSM v1
  egs2/mixed_v1/s2t1/README.md
Due: auto add label=ESPnet2, auto add label=README

apply reviews
  egs2/TEMPLATE/asr2/asr2.sh
  egs2/mls/asr1/run.sh
  egs2/mls/asr2/cmd.sh
  egs2/mls/asr2/conf/slurm.conf
  egs2/mls/asr2/run.sh
Due: auto add label=ESPnet2

Update setup.py
  setup.py
Due: auto add label=Installation

Add category information related processing in EnhPreprocessor
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

set default setting to SSL baseline
  egs2/mls/asr1/run.sh
Due: auto add label=ESPnet2

Add README and other VITS configs.
  egs2/TEMPLATE/asr1/pyscripts/utils/evaluate_pseudomos.py
  egs2/TEMPLATE/tts1/README.md
  egs2/jsut/tts1/conf/tuning/train_full_band_vits.yaml
  egs2/jsut/tts1/conf/tuning/train_vits.yaml
  egs2/libritts/tts1/conf/tuning/train_xvector_vits.yaml
  egs2/libritts_r/tts1/conf/tuning/train_xvector_vits.yaml
  egs2/ljspeech/tts1/conf/tuning/train_vits.yaml
  egs2/vctk/tts1/conf/tuning/train_full_band_multi_spk_vits.yaml
  egs2/vctk/tts1/conf/tuning/train_multi_spk_vits.yaml
  egs2/vctk/tts1/conf/tuning/train_speechbrain_xvector_vits.yaml
  egs2/vctk/tts1/conf/tuning/train_xvector_vits.yaml
  espnet2/gan_tts/jets/jets.py
  espnet2/gan_tts/vits/vits.py
Due: auto add label=ESPnet2, auto add label=README

Fix default value
  egs2/ml_superb/asr1/run_multi.sh
Due: auto add label=ESPnet2

always set all configs when calling the run_multi
  egs2/ml_superb/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

added old fused encoder config
  egs2/wav2gloss/asr1/conf/tuning/train_asr_transformer_default_xlsr_linear.yaml
Due: auto add label=ESPnet2

Fix a bug when speech_mix has more than 1 channel
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

Update mls_fr_test results
  egs2/mls/asr1/RESULTS.md
Due: auto add label=ESPnet2

move from utils/ to egs2/TEMPLATE/asr1/scripts/utils
  egs2/TEMPLATE/asr1/scripts/utils/simple_dict.sh
  test_utils/espnet2_scripts/test_simple_dict.bats
Due: auto add label=ESPnet2

Add hf links
  egs2/mls/asr1/RESULTS.md
  egs2/mls/asr2/RESULTS.md
Due: auto add label=ESPnet2

make pr happy
  egs2/mls/asr1/local/data.sh
  egs2/mls/asr2/run.sh
Due: auto add label=ESPnet2

make pr happy
  test_utils/espnet2_scripts/test_simple_dict.bats
Due: none

Fix bugs of Whisper SOT.
  espnet2/bin/whisper_export_vocabulary.py
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

Make pr happy
  egs2/mls/asr2/cmd.sh
Due: auto add label=ESPnet2

Reflect comments to rename the recipe
  egs2/README.md
  egs2/universal_se_v1/enh1/README.md
  egs2/universal_se_v1/enh1/cmd.sh
  egs2/universal_se_v1/enh1/conf/inference/test_16kHz.yaml
  egs2/universal_se_v1/enh1/conf/inference/test_48kHz.yaml
  egs2/universal_se_v1/enh1/conf/inference/test_8kHz.yaml
  egs2/universal_se_v1/enh1/conf/pbs.conf
  egs2/universal_se_v1/enh1/conf/queue.conf
  egs2/universal_se_v1/enh1/conf/slurm.conf
  egs2/universal_se_v1/enh1/conf/tuning/train_enh_uses_refch0_2mem.yaml
  egs2/universal_se_v1/enh1/db.sh
  egs2/universal_se_v1/enh1/enh.sh
  egs2/universal_se_v1/enh1/local/data.sh
  egs2/universal_se_v1/enh1/local/path.sh
  egs2/universal_se_v1/enh1/path.sh
  egs2/universal_se_v1/enh1/pyscripts
  egs2/universal_se_v1/enh1/run.sh
  egs2/universal_se_v1/enh1/scripts
  egs2/universal_se_v1/enh1/steps
  egs2/universal_se_v1/enh1/utils
Due: auto add label=ESPnet2, auto add label=README

fix xiaoice pitch
  egs2/namine_ritsu_utagoe_db/svs1/conf/tuning/train_xiaoice.yaml
  egs2/ofuton_p_utagoe_db/svs1/conf/tuning/train_xiaoice.yaml
  egs2/opencpop/svs1/conf/tuning/train_xiaoice.yaml
  espnet2/svs/xiaoice/XiaoiceSing.py
Due: auto add label=ESPnet2

fix xiaoice pitch
  espnet2/svs/xiaoice/XiaoiceSing.py
Due: auto add label=ESPnet2
