Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

Fix device mismatch issue when collecting stats in PITSolver
  espnet2/enh/loss/wrappers/pit_solver.py
Due: auto add label=ESPnet2

Make sure st inference without prompting works
  espnet/nets/beam_search.py
Due: auto add label=ESPnet1

Fix FileNotFound error when using globs
  egs2/TEMPLATE/enh_asr1/enh_asr.sh
  egs2/TEMPLATE/enh_st1/enh_st.sh
Due: auto add label=ESPnet2

Update the asr_inference_streaming
  espnet2/bin/asr_inference_streaming.py
Due: auto add label=ESPnet2

update the file for streaming unit test
  test/espnet2/bin/test_asr_inference.py
Due: none

update
  espnet2/bin/asr_inference_streaming.py
Due: auto add label=ESPnet2

move espnet2/asr/transducer to espnet2/asr_transducer
  espnet2/asr_transducer/__init__.py
  espnet2/asr_transducer/activation.py
  espnet2/asr_transducer/beam_search_transducer.py
  espnet2/asr_transducer/decoder/abs_decoder.py
  espnet2/asr_transducer/decoder/rnn_decoder.py
  espnet2/asr_transducer/decoder/stateless_decoder.py
  espnet2/asr_transducer/encoder/blocks/conformer.py
  espnet2/asr_transducer/encoder/blocks/conv1d.py
  espnet2/asr_transducer/encoder/blocks/conv2d_subsampling.py
  espnet2/asr_transducer/encoder/blocks/rnn.py
  espnet2/asr_transducer/encoder/blocks/rnnp.py
  espnet2/asr_transducer/encoder/blocks/vgg2l.py
  espnet2/asr_transducer/encoder/building.py
  espnet2/asr_transducer/encoder/encoder.py
  espnet2/asr_transducer/encoder/validation.py
  espnet2/asr_transducer/error_calculator.py
  espnet2/asr_transducer/espnet_transducer_model.py
  espnet2/asr_transducer/initialize.py
  espnet2/asr_transducer/joint_network.py
  espnet2/asr_transducer/utils.py
  espnet2/bin/asr_transducer_inference.py
  espnet2/tasks/asr_transducer.py
  test/espnet2/asr/transducer/test_activation.py
  test/espnet2/asr/transducer/test_beam_search_transducer.py
  test/espnet2/asr/transducer/test_decoder.py
  test/espnet2/asr/transducer/test_encoder.py
  test/espnet2/asr/transducer/test_error_calculator_transducer.py
  test/espnet2/asr/transducer/test_espnet_transducer_model.py
  test/espnet2/asr/transducer/test_initialize.py
  test/espnet2/bin/test_asr_transducer_inference.py
Due: auto add label=ESPnet2

fix ci
  espnet2/bin/asr_inference_streaming.py
Due: auto add label=ESPnet2

Add data_download.sh for talromur recipe. Reduced batch size of fastspeech2 to facilitate 1-gpu training Reduced VITS batch size to prevent OOM failures in 4-GPU setup
  egs2/talromur/tts1/conf/tuning/train_fastspeech2.yaml
  egs2/talromur/tts1/conf/tuning/train_xvector_vits.yaml
  egs2/talromur/tts1/local/data_download.sh
  egs2/talromur/tts1/local/data_multi_speaker.sh
  egs2/talromur/tts1/train_fastspeech2.sh
Due: auto add label=ESPnet2

Added multi-speaker VITS training recipe
  egs2/talromur/tts1/train_multi_speaker_VITS.sh
Due: auto add label=ESPnet2

Updated ice-g2p integration to reflect recent changes
  espnet2/text/phoneme_tokenizer.py
Due: auto add label=ESPnet2

add back old transducer version
  espnet2/asr/decoder/transducer_decoder.py
  espnet2/asr/espnet_model.py
  espnet2/asr/maskctc_model.py
  espnet2/asr/transducer/beam_search_transducer.py
  espnet2/asr/transducer/error_calculator.py
  espnet2/bin/asr_inference.py
  espnet2/bin/st_inference.py
  espnet2/tasks/asr.py
Due: auto add label=ESPnet2

add back test for old transducer version and rearrange new tests
  test/espnet2/asr/decoder/test_transducer_decoder.py
  test/espnet2/asr/transducer/test_beam_search_transducer.py
  test/espnet2/asr/transducer/test_error_calculator_transducer.py
  test/espnet2/asr_transducer/test_activation.py
  test/espnet2/asr_transducer/test_beam_search_transducer.py
  test/espnet2/asr_transducer/test_decoder.py
  test/espnet2/asr_transducer/test_encoder.py
  test/espnet2/asr_transducer/test_error_calculator_transducer.py
  test/espnet2/asr_transducer/test_espnet_transducer_model.py
  test/espnet2/asr_transducer/test_initialize.py
  test/espnet2/enh/test_espnet_enh_s2t_model.py
Due: none

fix file mode
  espnet2/bin/asr_inference.py
Due: auto add label=ESPnet2

fix conflict between asr/transducer and asr_transducer tests
  test/espnet2/asr/transducer/test_beam_search_transducer.py
  test/espnet2/asr/transducer/test_error_calculator_transducer.py
  test/espnet2/asr_transducer/test_error_calculator_transducer.py
Due: none

add disclaimer to transducer tutorial for the multiple versions
  doc/tutorial.md
Due: auto add label=Documentation

add talromur to db.sh
  egs2/TEMPLATE/asr1/db.sh
Due: auto add label=ESPnet2

Integrate icelandic g2p
  .gitignore
  espnet2/text/phoneme_tokenizer.py
  tools/installers/install_ice_g2p.sh
Due: auto add label=ESPnet2, auto add label=Installation

Add talromur recipe
  egs2/TEMPLATE/asr1/db.sh
  egs2/talromur/tts1/cmd.sh
  egs2/talromur/tts1/conf/decode.yaml
  egs2/talromur/tts1/conf/mfcc.conf
  egs2/talromur/tts1/conf/pbs.conf
  egs2/talromur/tts1/conf/queue.conf
  egs2/talromur/tts1/conf/slurm.conf
  egs2/talromur/tts1/conf/train.yaml
  egs2/talromur/tts1/conf/tuning/decode_fastspeech.yaml
  egs2/talromur/tts1/conf/tuning/decode_tacotron2.yaml
  egs2/talromur/tts1/conf/tuning/decode_vits.yaml
  egs2/talromur/tts1/conf/tuning/finetune_joint_conformer_fastspeech2_hifigan.yaml
  egs2/talromur/tts1/conf/tuning/train_conformer_fastspeech.yaml
  egs2/talromur/tts1/conf/tuning/train_conformer_fastspeech2.yaml
  egs2/talromur/tts1/conf/tuning/train_fastspeech.yaml
  egs2/talromur/tts1/conf/tuning/train_fastspeech2.yaml
  egs2/talromur/tts1/conf/tuning/train_joint_conformer_fastspeech2_hifigan.yaml
  egs2/talromur/tts1/conf/tuning/train_tacotron2.yaml
  egs2/talromur/tts1/conf/tuning/train_transformer.yaml
  egs2/talromur/tts1/conf/tuning/train_vits.yaml
  egs2/talromur/tts1/conf/tuning/train_xvector_vits.yaml
  egs2/talromur/tts1/conf/vad.conf
  egs2/talromur/tts1/db.sh
  egs2/talromur/tts1/local/data.sh
  egs2/talromur/tts1/local/data_utils.py
  egs2/talromur/tts1/local/path.sh
  egs2/talromur/tts1/path.sh
  egs2/talromur/tts1/phonetize.sh
  egs2/talromur/tts1/pyscripts
  egs2/talromur/tts1/run.sh
  egs2/talromur/tts1/scripts
  egs2/talromur/tts1/sid
  egs2/talromur/tts1/steps
  egs2/talromur/tts1/train_conformer_fastspeech2.sh
  egs2/talromur/tts1/train_fastspeech2.sh
  egs2/talromur/tts1/train_tacotron2.sh
  egs2/talromur/tts1/tts.sh
  egs2/talromur/tts1/utils
Due: auto add label=ESPnet2

reformatted with black
  egs2/TEMPLATE/asr1/pyscripts/utils/convert_text_to_phn.py
  egs2/talromur/tts1/local/data_utils.py
  espnet2/text/phoneme_tokenizer.py
Due: auto add label=ESPnet2

Fix python formatting
  egs2/TEMPLATE/asr1/pyscripts/utils/convert_text_to_phn.py
  egs2/talromur/tts1/local/data_utils.py
Due: auto add label=ESPnet2

Add progress bar to phonemization
  egs2/TEMPLATE/asr1/pyscripts/utils/convert_text_to_phn.py
Due: auto add label=ESPnet2

Set cluster settings to default, add name to TODO
  egs2/talromur/tts1/cmd.sh
  egs2/talromur/tts1/conf/slurm.conf
  egs2/talromur/tts1/local/data.sh
  espnet2/text/phoneme_tokenizer.py
Due: auto add label=ESPnet2

Remove unused variables from talromur recipe
  egs2/talromur/tts1/local/data.sh
Due: auto add label=ESPnet2

fix issue
  test/espnet2/bin/test_asr_inference.py
Due: none

increase time limit
  test/espnet2/bin/test_asr_inference.py
Due: none

Update test_asr_inference.py
  test/espnet2/bin/test_asr_inference.py
Due: none

add missing files
  test/espnet2/asr/transducer/test_transducer_beam_search.py
  test/espnet2/asr/transducer/test_transducer_error_calculator.py
Due: none

Add EnhPreprocessor to the Enh task
  egs2/TEMPLATE/enh1/enh.sh
  espnet2/tasks/enh.py
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

applied black
  egs2/TEMPLATE/asr1/pyscripts/utils/convert_text_to_phn.py
Due: auto add label=ESPnet2

Update decoder.py
  espnet/nets/pytorch_backend/tacotron2/decoder.py
Due: auto add label=ESPnet1

fix the enh_s2t_task argument in espnet2/bin/st_inference.py
  espnet2/bin/st_inference.py
Due: auto add label=ESPnet2

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
