Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet2, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=mergify, auto add label=Docker

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

add integration test for transducer auxiliary tasks (2)
  egs/mini_an4/asr1/conf/train_conformer_transducer_aux.yaml
  egs/mini_an4/asr1/conf/train_transducer_aux.yaml
Due: none

handle mismatched shapes in symm KL div loss
  espnet/nets/pytorch_backend/e2e_asr_transducer.py
  espnet/nets/pytorch_backend/transducer/utils.py
Due: none

improve coverage
  test/test_e2e_asr_transducer.py
Due: none

fix transducer test
  test/test_asr_init.py
Due: none

remove dtype test for transducer model
  test/test_train_dtype.py
Due: none

fix ctc init condition
  espnet/nets/pytorch_backend/transducer/transducer_tasks.py
Due: none

Fix a bug of adding noise to the training data.
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

CTC segmentation - update PyPI version
  setup.py
Due: none

CTC segmentation - Remove 'classic' tokenizer
  espnet2/bin/asr_align.py
  test/espnet2/bin/test_asr_align.py
Due: auto add label=ESPnet2

add temperature parameter for softmax
  espnet/asr/pytorch_backend/asr.py
  espnet/bin/asr_recog.py
  espnet/nets/beam_search_transducer.py
Due: none

CTC segmentation - fix unit test for warned_about_misconfiguration
  test/espnet2/bin/test_asr_align.py
Due: none

CTC segmentation - remove duplicate text cleaning
  espnet2/bin/asr_align.py
Due: auto add label=ESPnet2

CTC segmentation - Revert "remove duplicate text cleaning"
  espnet2/bin/asr_align.py
  test/espnet2/bin/test_asr_align.py
Due: auto add label=ESPnet2

CTC segmentation - Add text processing description
  espnet2/bin/asr_align.py
Due: auto add label=ESPnet2

CTC segmentation - Use espnet tokenizer for "classic" text_tokenizer
  espnet2/bin/asr_align.py
Due: auto add label=ESPnet2

CTC segmentation - Remove <space> handling for "classic" text_tokenizer
  espnet2/bin/asr_align.py
Due: auto add label=ESPnet2

Fix .mergify.yml
  .mergify.yml
Due: auto add label=mergify

fix an DDP timeout issue, update multi-condition training
  egs2/TEMPLATE/asr1/scripts/utils/eval_perm_free_error.py
  egs2/TEMPLATE/asr1/scripts/utils/perturb_data_dir_speed.sh
  egs2/TEMPLATE/asr1/scripts/utils/show_asr_mix_result.sh
  egs2/TEMPLATE/enh_asr1/enh_asr.sh
  egs2/wsj0_2mix/asr1/conf/tuning/train_asr_transformer_bs32_1gpu.yaml
  egs2/wsj0_2mix/asr1/run_singlespk.sh
  egs2/wsj0_2mix/asr1/scripts
  espnet2/asr/espnet_enh_asr_model.py
  espnet2/bin/enh_scoring.py
  espnet2/enh/espnet_model.py
  espnet2/tasks/enh_asr.py
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

fix sc2209
  egs2/puebla_nahuatl/asr1/local/data.sh
  egs2/puebla_nahuatl/asr1/run.sh
  egs2/yoloxochitl_mixtec/asr1/local/data.sh
  egs2/yoloxochitl_mixtec/asr1/run.sh
Due: auto add label=ESPnet2

add data example
  egs2/open_li52/asr1/local/data.sh
Due: auto add label=ESPnet2

apply black
  egs/yoloxochitl_mixtec/asr1/local/data_prep.py
  egs2/yoloxochitl_mixtec/asr1/local/filter_text.py
  espnet2/tasks/abs_task.py
  espnet2/torch_utils/load_pretrained_model.py
Due: auto add label=ESPnet2

reduce line length
  espnet2/torch_utils/load_pretrained_model.py
Due: auto add label=ESPnet2

update cmd
  egs2/puebla_nahuatl/asr1/cmd.sh
  egs2/yoloxochitl_mixtec/asr1/cmd.sh
Due: auto add label=ESPnet2

uniform queue.conf
  egs2/puebla_nahuatl/asr1/conf/queue.conf
  egs2/yoloxochitl_mixtec/asr1/conf/queue.conf
Due: auto add label=ESPnet2

add __init__.py for enh packges
  espnet2/enh/decoder/__init__.py
  espnet2/enh/encoder/__init__.py
  espnet2/enh/separator/__init__.py
Due: auto add label=ESPnet2

update readme
  README.md
Due: auto add label=README

fix misspelling in download.sh
  egs/jsut/tts1/local/download.sh
Due: none

remove warp-rnnt mentions
  tools/Makefile
  tools/check_install.py
  tools/installers/install_warp-transducer.sh
Due: none

minor clean up
  espnet/nets/pytorch_backend/transducer/transducer_tasks.py
Due: none

Update README.md
  README.md
Due: auto add label=README

Fix missing nlsyms.txt for pretrained models
  espnet2/text/char_tokenizer.py
Due: auto add label=ESPnet2

fsc
  egs/fsc/slu1/cmd.sh
  egs/fsc/slu1/conf/decode.yaml
  egs/fsc/slu1/conf/fbank.conf
  egs/fsc/slu1/conf/gpu.conf
  egs/fsc/slu1/conf/lm.yaml
  egs/fsc/slu1/conf/no_preprocess.yaml
  egs/fsc/slu1/conf/pitch.conf
  egs/fsc/slu1/conf/queue.conf
  egs/fsc/slu1/conf/slurm.conf
  egs/fsc/slu1/conf/specaug.yaml
  egs/fsc/slu1/conf/train.yaml
  egs/fsc/slu1/conf/train_rnn.yaml
  egs/fsc/slu1/conf/tuning/decode_chainer_transformer.yaml
  egs/fsc/slu1/conf/tuning/decode_pytorch_transformer.yaml
  egs/fsc/slu1/conf/tuning/decode_pytorch_transformer_maskctc.yaml
  egs/fsc/slu1/conf/tuning/decode_rnn.yaml
  egs/fsc/slu1/conf/tuning/train_chainer_transformer.yaml
  egs/fsc/slu1/conf/tuning/train_pytorch_transformer.yaml
  egs/fsc/slu1/conf/tuning/train_pytorch_transformer_maskctc.yaml
  egs/fsc/slu1/conf/tuning/train_rnn.yaml
  egs/fsc/slu1/local/filtering_samples.py
  egs/fsc/slu1/local/find_transcripts.pl
  egs/fsc/slu1/local/flist2scp.pl
  egs/fsc/slu1/local/fsc_data_prep.sh
  egs/fsc/slu1/local/ndx2flist.pl
  egs/fsc/slu1/local/normalize_transcript.pl
  egs/fsc/slu1/local/normalize_transcript.sh
  egs/fsc/slu1/local/remove_punctuation.pl
  egs/fsc/slu1/local/run_maskctc.sh
  egs/fsc/slu1/local/wsj_data_prep.sh
  egs/fsc/slu1/local/wsj_format_data.sh
  egs/fsc/slu1/path.sh
  egs/fsc/slu1/run.sh
  egs/fsc/slu1/steps
  egs/fsc/slu1/utils
  utils/reduce_data_dir.sh
  utils/text2token.py
Due: none

Workaround for missing nlsyms.txt
  espnet2/text/char_tokenizer.py
  espnet2/text/phoneme_tokenizer.py
  espnet2/text/word_tokenizer.py
Due: auto add label=ESPnet2

Changed to include nlsyms.txt in a pretrained model
  egs2/TEMPLATE/asr1/asr.sh
Due: auto add label=ESPnet2

add transducer configs & results for AISHELL-1
  egs/aishell/asr1/RESULTS.md
  egs/aishell/asr1/conf/tuning/transducer/decode_default.yaml
  egs/aishell/asr1/conf/tuning/transducer/train_conformer-rnn_transducer.yaml
  egs/aishell/asr1/conf/tuning/transducer/train_conformer-rnn_transducer_aux_ngpu4.yaml
  egs/aishell/asr1/conf/tuning/transducer/train_transducer.yaml
  egs/aishell/asr1/run.sh
Due: none

fix add_to_datadir.py in mgb2 recipe
  egs/mgb2/asr1/local/add_to_datadir.py
Due: none

noisy_reverberant recipe
  egs2/TEMPLATE/asr1/db.sh
  egs2/noisy_reverberant/enh1/cmd.sh
  egs2/noisy_reverberant/enh1/conf/pbs.conf
  egs2/noisy_reverberant/enh1/conf/queue.conf
  egs2/noisy_reverberant/enh1/conf/slurm.conf
  egs2/noisy_reverberant/enh1/conf/tuning/train_enh_conv_tasnet.yaml
  egs2/noisy_reverberant/enh1/db.sh
  egs2/noisy_reverberant/enh1/enh.sh
  egs2/noisy_reverberant/enh1/local/data.sh
  egs2/noisy_reverberant/enh1/local/path.sh
  egs2/noisy_reverberant/enh1/local/train_spk
  egs2/noisy_reverberant/enh1/local/valid_spk
  egs2/noisy_reverberant/enh1/path.sh
  egs2/noisy_reverberant/enh1/pyscripts
  egs2/noisy_reverberant/enh1/run.sh
  egs2/noisy_reverberant/enh1/scripts
  egs2/noisy_reverberant/enh1/steps
  egs2/noisy_reverberant/enh1/utils
Due: auto add label=ESPnet2

apply ci-sdr loss
  egs2/noisy_reverberant/enh1/conf/tuning/train_enh_conv_tasnet.yaml
  espnet2/enh/espnet_model.py
Due: auto add label=ESPnet2

Path conditions:
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=README: any of: ^README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
