Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

.mergify.yml:

pull_request_rules:
  - name: automatic merge if label=auto-merge
    conditions:
      - "label=auto-merge"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.0.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.1.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.2.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.3.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.4.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.5.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.6.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.7.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.8, 1.8.1, 6.0.0, false)"
    actions:
      merge:
        method: merge
        strict: false
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=ESPnet1"
    conditions:
      - files~=^(espnet/|egs/)
    actions:
      label:
        add: ["ESPnet1"]
  - name: "auto add label=ESPnet2"
    conditions:
      - files~=^(espnet2/|egs2/)
    actions:
      label:
        add: ["ESPnet2"]
  - name: "auto add label=ASR"
    conditions:
      - files~=^(espnet*/asr|egs*/*/asr1)
    actions:
      label:
        add: ["ASR"]
  - name: "auto add label=TTS"
    conditions:
      - files~=^(espnet*/tts|egs*/*/tts1)
    actions:
      label:
        add: ["TTS"]
  - name: "auto add label=MT"
    conditions:
      - files~=^(espnet*/mt|egs*/*/mt1)
    actions:
      label:
        add: ["MT"]
  - name: "auto add label=LM"
    conditions:
      - files~=^(espnet*/lm)
    actions:
      label:
        add: ["LM"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^doc/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]

Update train_transformer_st.yaml
  egs2/covost2/st1/conf/tuning/train_transformer_st.yaml
Due: auto add label=ESPnet2

IVA PR: addressing code review comments
  egs2/chime4/enh1/db.sh
  espnet2/enh/layers/iva.py
  espnet2/enh/separator/neural_iva.py
Due: auto add label=ESPnet2

New Class for Preprocessor
  espnet2/tasks/slu.py
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

Increase coverage
  test/espnet2/tasks/test_slu.py
Due: none

adress ext. changes on docs, typos, ...
  doc/espnet2_tutorial.md
  espnet2/asr_transducer/beam_search_transducer.py
  espnet2/asr_transducer/decoder/rnn_decoder.py
  espnet2/asr_transducer/decoder/stateless_decoder.py
  espnet2/asr_transducer/encoder/blocks/branchformer.py
  espnet2/asr_transducer/encoder/blocks/conformer.py
  espnet2/asr_transducer/encoder/blocks/conv1d.py
  espnet2/asr_transducer/encoder/encoder.py
  espnet2/asr_transducer/encoder/modules/convolution.py
  espnet2/asr_transducer/encoder/modules/multi_blocks.py
  espnet2/asr_transducer/encoder/validation.py
  espnet2/asr_transducer/error_calculator.py
  espnet2/asr_transducer/espnet_transducer_model.py
  espnet2/asr_transducer/joint_network.py
  espnet2/asr_transducer/utils.py
  espnet2/bin/asr_transducer_inference.py
  espnet2/tasks/asr_transducer.py
Due: auto add label=ESPnet2, auto add label=Documentation

Change class name
  espnet2/tasks/slu.py
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

Update paper.bib
  doc/paper/espnet-se++/paper.bib
Due: auto add label=Documentation

update paper.bib for displaying the author names
  doc/paper/espnet-se++/paper.bib
Due: auto add label=Documentation

fix typo
  doc/paper/espnet-se++/paper.bib
Due: auto add label=Documentation

Align the references
  doc/paper/espnet-se++/paper.bib
Due: auto add label=Documentation

black, flake8, isort
  espnet2/bin/enh_scoring.py
  espnet2/enh/layers/iva.py
  espnet2/enh/separator/neural_iva.py
Due: auto add label=ESPnet2

Rearrange the paper.bib
  doc/paper/espnet-se++/paper.bib
Due: auto add label=Documentation

Fix flake8 errors and address last comments
  egs2/TEMPLATE/enh1/enh.sh
  espnet2/bin/enh_scoring.py
  espnet2/enh/layers/beamformer.py
  espnet2/enh/layers/dnn_iva.py
  espnet2/enh/layers/iva.py
  espnet2/enh/separator/neural_iva.py
Due: auto add label=ESPnet2

Adds training results to README, corrects typo in enh_scoring
  egs2/chime4/enh1/README.md
  espnet2/bin/enh_scoring.py
Due: auto add label=ESPnet2, auto add label=README

update scores in README
  egs2/chime4/enh1/README.md
Due: auto add label=ESPnet2, auto add label=README

black
  espnet2/bin/enh_scoring.py
Due: auto add label=ESPnet2

force use identity activation in branchformer conv mod + fix main_params doc
  doc/espnet2_tutorial.md
  espnet2/asr_transducer/encoder/building.py
  espnet2/asr_transducer/encoder/modules/convolution.py
Due: auto add label=ESPnet2, auto add label=Documentation

Add python=3.10 to CI
  .github/workflows/ci.yaml
  .mergify.yml
  README.md
Due: auto add label=README, auto add label=CI, auto add label=mergify

Add Hugging Face Transformers Decoder, Tokenizer and their example on SLURP
  egs2/TEMPLATE/asr1/asr.sh
  egs2/slurp_entity/asr1/README.md
  egs2/slurp_entity/asr1/conf/decode_asr_hf.yaml
  egs2/slurp_entity/asr1/conf/tuning/train_asr_branchformer_xlsr_mbart.yaml
  egs2/slurp_entity/asr1/local/convert_to_entity_file.py
  egs2/slurp_entity/asr1/local/data.sh
  egs2/slurp_entity/asr1/local/score.sh
  egs2/slurp_entity/asr1/run-hugging-face.sh
  espnet2/asr/decoder/hugging_face_transformers_decoder.py
  espnet2/asr/espnet_model.py
  espnet2/asr/postencoder/hugging_face_transformers_postencoder.py
  espnet2/bin/asr_inference.py
  espnet2/bin/hugging_face_export_vocabulary.py
  espnet2/tasks/asr.py
  espnet2/text/build_tokenizer.py
  espnet2/text/hugging_face_tokenizer.py
  espnet2/torch_utils/initialize.py
  test/espnet2/asr/decoder/test_hugging_face_transformers_decoder.py
  test/espnet2/asr/postencoder/test_hugging_face_transformers_postencoder.py
  test/espnet2/bin/test_asr_inference.py
  test/espnet2/bin/test_hugging_face_export_vocabulary.py
  test/espnet2/text/test_hugging_face_tokenizer.py
  tools/installers/install_transformers.sh
Due: auto add label=ESPnet2, auto add label=README, auto add label=Installation

fix parallel_wavegan installation
  tools/installers/install_muskit.sh
Due: auto add label=Installation

add ground truth as well as asr transcript code
  egs2/slurp/slu1/README.md
  egs2/slurp/slu1/local/data.sh
  egs2/slurp/slu1/local/prepare_slurp_data_gold_transcript.py
  egs2/slurp/slu1/run.sh
Due: auto add label=ESPnet2, auto add label=README

add xml prep
  egs2/TEMPLATE/svs1/pyscripts/audio/format_wav_scp.py
  egs2/TEMPLATE/svs1/scripts/audio/format_scp.sh
  egs2/ofuton_p_utagoe_db/svs1/local/data.sh
  egs2/ofuton_p_utagoe_db/svs1/local/dataset_split.py
Due: auto add label=ESPnet2

Add MAGICDATA entry to db.sh
  egs2/TEMPLATE/asr1/db.sh
Due: auto add label=ESPnet2

Add boilderplate scripts for magicdata
  egs2/magicdata/asr1/asr.sh
  egs2/magicdata/asr1/cmd.sh
  egs2/magicdata/asr1/db.sh
  egs2/magicdata/asr1/local/path.sh
  egs2/magicdata/asr1/path.sh
  egs2/magicdata/asr1/pyscripts
  egs2/magicdata/asr1/scripts
  egs2/magicdata/asr1/steps
  egs2/magicdata/asr1/utils
Due: auto add label=ESPnet2

Update egs2/TEMPLATE/svs1/pyscripts/utils/prep_segments_from_xml.py
  egs2/TEMPLATE/svs1/pyscripts/utils/prep_segments_from_xml.py
Due: auto add label=ESPnet2

add breath mark
  egs2/TEMPLATE/svs1/pyscripts/utils/prep_segments_from_xml.py
Due: auto add label=ESPnet2

replace midi with xml in stage 2 & 3
  egs2/TEMPLATE/svs1/pyscripts/audio/format_xml_scp.py
  egs2/TEMPLATE/svs1/scripts/audio/format_scp.sh
  egs2/TEMPLATE/svs1/scripts/utils/copy_data_dir.sh
  egs2/ofuton_p_utagoe_db/svs1/local/data.sh
Due: auto add label=ESPnet2

Add MAGICDATA data preparation scripts
  egs2/magicdata/asr1/local/data.sh
  egs2/magicdata/asr1/local/prepare_data.sh
Due: auto add label=ESPnet2

Remove unicode whitespaces in transcription
  egs2/magicdata/asr1/local/prepare_data.sh
Due: auto add label=ESPnet2

Add training scripts and configs
  egs2/magicdata/asr1/conf/decode_asr_rnn.yaml
  egs2/magicdata/asr1/conf/fbank.conf
  egs2/magicdata/asr1/conf/pbs.conf
  egs2/magicdata/asr1/conf/pitch.conf
  egs2/magicdata/asr1/conf/queue.conf
  egs2/magicdata/asr1/conf/slurm.conf
  egs2/magicdata/asr1/conf/train_asr_conformer.yaml
  egs2/magicdata/asr1/conf/train_lm_transformer.yaml
  egs2/magicdata/asr1/conf/tuning/decode_asr_rnn.yaml
  egs2/magicdata/asr1/conf/tuning/train_asr_conformer.yaml
  egs2/magicdata/asr1/conf/tuning/train_lm_transformer.yaml
  egs2/magicdata/asr1/conf/tuning/transducer/decode.yaml
  egs2/magicdata/asr1/conf/tuning/transducer/train_conformer-rnn_transducer.yaml
  egs2/magicdata/asr1/run.sh
Due: auto add label=ESPnet2

Reduce batch_bins because of cuda OOM error
  egs2/magicdata/asr1/conf/tuning/train_asr_conformer.yaml
Due: auto add label=ESPnet2

Add FSC Challenge code
  egs2/fsc_challenge/asr1/run.sh
  egs2/fsc_challenge/slu1/README.md
  egs2/fsc_challenge/slu1/cmd.sh
  egs2/fsc_challenge/slu1/conf/fbank.conf
  egs2/fsc_challenge/slu1/conf/pbs.conf
  egs2/fsc_challenge/slu1/conf/pitch.conf
  egs2/fsc_challenge/slu1/conf/queue.conf
  egs2/fsc_challenge/slu1/conf/slurm.conf
  egs2/fsc_challenge/slu1/conf/train_asr.yaml
  egs2/fsc_challenge/slu1/conf/tuning/train_asr_hubert_transformer_adam_specaug_deliberation.yaml
  egs2/fsc_challenge/slu1/conf/tuning/train_asr_hubert_transformer_adam_specaug_deliberation_transformer.yaml
  egs2/fsc_challenge/slu1/conf/tuning/train_asr_hubert_transformer_adam_specaug_deliberation_transformer_gt.yaml
  egs2/fsc_challenge/slu1/db.sh
  egs2/fsc_challenge/slu1/local/data.sh
  egs2/fsc_challenge/slu1/local/data_prep.py
  egs2/fsc_challenge/slu1/local/data_prep_gigaspeech.py
  egs2/fsc_challenge/slu1/local/data_prep_gt.py
  egs2/fsc_challenge/slu1/local/path.sh
  egs2/fsc_challenge/slu1/local/score.py
  egs2/fsc_challenge/slu1/local/score.sh
  egs2/fsc_challenge/slu1/path.sh
  egs2/fsc_challenge/slu1/pyscripts
  egs2/fsc_challenge/slu1/run.sh
  egs2/fsc_challenge/slu1/scripts
  egs2/fsc_challenge/slu1/slu.sh
  egs2/fsc_challenge/slu1/steps
  egs2/fsc_challenge/slu1/utils
Due: auto add label=ESPnet2, auto add label=README
