Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet2, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=mergify, auto add label=Docker

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

Remove unnecessary lines
  egs/mini_an4/mt1/run.sh
  egs/mini_an4/st1/run.sh
Due: none

Update install
  ci/install.sh
Due: auto add label=CI

Fix missing parts
  ci/test_integration.sh
Due: auto add label=CI

reflect changes from #2185
  espnet/asr/pytorch_backend/asr.py
  espnet/nets/pytorch_backend/e2e_asr_transducer.py
Due: none

fix minor bugs in enh recipe
  egs2/wsj0_2mix_spatialized/enh1/README.md
  egs2/wsj0_2mix_spatialized/enh1/conf/tuning/train_enh_beamformer_no_wpe.yaml
  egs2/wsj0_2mix_spatialized/enh1/run.sh
  espnet2/bin/enh_inference.py
Due: auto add label=ESPnet2

Append a missing space in cmd-line args in utils/dump_pcm.sh
  utils/dump_pcm.sh
Due: none

modify VGG2L path for conformer
  espnet/nets/pytorch_backend/conformer/encoder.py
Due: none

mp -> maskctc
  egs/wsj/asr1/conf/tuning/decode_pytorch_transformer_maskctc.yaml
  egs/wsj/asr1/conf/tuning/decode_pytorch_transformer_mp.yaml
  egs/wsj/asr1/conf/tuning/train_pytorch_transformer_maskctc.yaml
  egs/wsj/asr1/local/run_maskctc.sh
  espnet/asr/pytorch_backend/asr.py
  espnet/bin/asr_recog.py
  espnet/bin/asr_train.py
  espnet/nets/pytorch_backend/e2e_asr_transformer.py
Due: none

add test
  test/test_e2e_asr_maskctc.py
Due: none

apply black
  espnet/asr/pytorch_backend/asr.py
  espnet/bin/asr_recog.py
  espnet/bin/asr_train.py
  espnet/nets/pytorch_backend/e2e_asr_transformer.py
  espnet/nets/pytorch_backend/transformer/add_sos_eos.py
  test/test_e2e_asr_maskctc.py
Due: none

update for pretrain model
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/tts1/tts.sh
  espnet2/bin/pack.py
  espnet2/bin/zenodo_upload.py
  espnet2/main_funcs/pack_funcs.py
  setup.py
  test/espnet2/main_funcs/test_pack_funcs.py
Due: auto add label=ESPnet2

restore chainer version: setup.py
  setup.py
Due: none

fix ci error
  test/test_e2e_asr_maskctc.py
Due: none

fix ci error
  espnet/nets/pytorch_backend/e2e_asr_transformer.py
Due: none

bug fix
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/tts1/tts.sh
  espnet2/main_funcs/pack_funcs.py
Due: auto add label=ESPnet2

Select torchaudio version according to torch version
  setup.py
Due: none

added variance predictor
  espnet2/tts/variance_predictor.py
Due: auto add label=ESPnet2

refactored
  espnet2/tts/fastspeech.py
Due: auto add label=ESPnet2

added fastspeech2
  espnet2/tts/fastspeech2.py
Due: auto add label=ESPnet2

fixed typos
  espnet2/tts/fastspeech2.py
  espnet2/tts/variance_predictor.py
Due: auto add label=ESPnet2

added test for fastspeech2
  test/espnet2/tts/test_fastspeech2.py
Due: none

Fix Stft.inverse
  espnet2/layers/stft.py
  test/espnet2/layers/test_stft.py
Due: auto add label=ESPnet2

format directory structure in test/espnet2/enh/
  egs2/wsj0_2mix_spatialized/enh1/conf/train.conf
  test/espnet2/enh/layers/test_enh_layers.py
  test/espnet2/enh/nets/test_beamformer_net.py
  test/espnet2/enh/nets/test_tasnet.py
  test/espnet2/enh/nets/test_tf_mask_net.py
Due: auto add label=ESPnet2

add test for vc_tacotron2.py
  egs/arctic/vc/conf/tuning/train_pytorch_tacotron2.nopt.v1.1.single.yaml
  egs/arctic/vc/conf/tuning/train_pytorch_tacotron2.tts_pt.v1.single.yaml
  espnet/nets/pytorch_backend/tacotron2/encoder.py
  espnet/nets/pytorch_backend/vc_tacotron2.py
  test/test_vc_tacotron2.py
Due: none

Update egs2/wsj0_2mix_spatialized/enh1/run.sh
  egs2/wsj0_2mix_spatialized/enh1/run.sh
Due: auto add label=ESPnet2

support multiple loss types for mask based enh models
  espnet2/enh/espnet_model.py
  espnet2/enh/layers/dnn_beamformer.py
  espnet2/enh/layers/dnn_wpe.py
  espnet2/enh/nets/beamformer_net.py
  espnet2/enh/nets/tasnet.py
  espnet2/enh/nets/tf_mask_net.py
Due: auto add label=ESPnet2

fix unit test for enh models
  espnet2/enh/nets/beamformer_net.py
  espnet2/enh/nets/tasnet.py
  espnet2/enh/nets/tf_mask_net.py
  test/espnet2/enh/nets/test_beamformer_net.py
  test/espnet2/enh/nets/test_tf_mask_net.py
Due: auto add label=ESPnet2

pass all unit tests in test/espnet2/enh
  espnet2/enh/layers/dnn_beamformer.py
  test/espnet2/enh/nets/test_tf_mask_net.py
Due: auto add label=ESPnet2

Reduce n_epochs in integration test
  egs/mini_an4/asr1/conf/train_conformer.yaml
  egs/mini_an4/asr1/conf/train_conformer_pure_ctc.yaml
  egs/mini_an4/asr1/conf/train_mulenc2.yaml
  egs/mini_an4/asr1/conf/train_multispkr.yaml
  egs/mini_an4/asr1/conf/train_multispkr_transformer.yaml
  egs/mini_an4/asr1/conf/train_no_ctc.yaml
  egs/mini_an4/asr1/conf/train_pure_ctc.yaml
  egs/mini_an4/asr1/conf/train_transducer.yaml
  egs/mini_an4/asr1/conf/train_transducer_attention.yaml
  egs/mini_an4/asr1/conf/train_transformer.yaml
  egs/mini_an4/asr1/conf/train_transformer_no_ctc.yaml
  egs/mini_an4/asr1/conf/train_transformer_pure_ctc.yaml
  egs/mini_an4/asr1/conf/train_transformer_transducer.yaml
  egs/mini_an4/asr1/conf/train_transformer_transducer_attention.yaml
  egs/mini_an4/mt1/conf/train.yaml
  egs/mini_an4/mt1/conf/train_transformer.yaml
  egs/mini_an4/st1/conf/train.yaml
  egs/mini_an4/st1/conf/train_asr0.2_mt0.2.yaml
  egs/mini_an4/st1/conf/train_asr0.3.yaml
  egs/mini_an4/st1/conf/train_ctc_asr0.3.yaml
  egs/mini_an4/st1/conf/train_mt0.3.yaml
  egs/mini_an4/st1/conf/train_transformer.yaml
  egs/mini_an4/st1/conf/train_transformer_asr0.2_mt0.2.yaml
  egs/mini_an4/st1/conf/train_transformer_asr0.3.yaml
  egs/mini_an4/st1/conf/train_transformer_ctc_asr0.3.yaml
  egs/mini_an4/st1/conf/train_transformer_mt0.3.yaml
Due: none

Reduce dimension
  egs/mini_an4/asr1/conf/lm_transformer.yaml
  egs/mini_an4/asr1/conf/train.yaml
  egs/mini_an4/asr1/conf/train_conformer.yaml
  egs/mini_an4/asr1/conf/train_conformer_pure_ctc.yaml
  egs/mini_an4/asr1/conf/train_mulenc2.yaml
  egs/mini_an4/asr1/conf/train_multispkr.yaml
  egs/mini_an4/asr1/conf/train_multispkr_transformer.yaml
  egs/mini_an4/asr1/conf/train_no_ctc.yaml
  egs/mini_an4/asr1/conf/train_pure_ctc.yaml
  egs/mini_an4/asr1/conf/train_transducer.yaml
  egs/mini_an4/asr1/conf/train_transducer_attention.yaml
  egs/mini_an4/asr1/conf/train_transformer.yaml
  egs/mini_an4/asr1/conf/train_transformer_no_ctc.yaml
  egs/mini_an4/asr1/conf/train_transformer_pure_ctc.yaml
  egs/mini_an4/asr1/conf/train_transformer_transducer.yaml
  egs/mini_an4/asr1/conf/train_transformer_transducer_attention.yaml
  egs/mini_an4/mt1/conf/train.yaml
  egs/mini_an4/mt1/conf/train_transformer.yaml
  egs/mini_an4/st1/conf/train.yaml
  egs/mini_an4/st1/conf/train_asr0.2_mt0.2.yaml
  egs/mini_an4/st1/conf/train_asr0.3.yaml
  egs/mini_an4/st1/conf/train_ctc_asr0.3.yaml
  egs/mini_an4/st1/conf/train_mt0.3.yaml
  egs/mini_an4/st1/conf/train_transformer.yaml
  egs/mini_an4/st1/conf/train_transformer_asr0.2_mt0.2.yaml
  egs/mini_an4/st1/conf/train_transformer_asr0.3.yaml
  egs/mini_an4/st1/conf/train_transformer_ctc_asr0.3.yaml
  egs/mini_an4/st1/conf/train_transformer_mt0.3.yaml
Due: none

Reduce further
  egs/mini_an4/asr1/conf/lm.yaml
  egs/mini_an4/asr1/conf/lm_transformer.yaml
  egs/mini_an4/asr1/conf/train_conformer.yaml
  egs/mini_an4/asr1/conf/train_conformer_pure_ctc.yaml
  egs/mini_an4/asr1/conf/train_mulenc2.yaml
  egs/mini_an4/asr1/conf/train_multispkr.yaml
  egs/mini_an4/asr1/conf/train_multispkr_transformer.yaml
  egs/mini_an4/asr1/conf/train_no_ctc.yaml
  egs/mini_an4/asr1/conf/train_pure_ctc.yaml
  egs/mini_an4/asr1/conf/train_transducer.yaml
  egs/mini_an4/asr1/conf/train_transducer_attention.yaml
  egs/mini_an4/asr1/conf/train_transformer.yaml
  egs/mini_an4/asr1/conf/train_transformer_no_ctc.yaml
  egs/mini_an4/asr1/conf/train_transformer_pure_ctc.yaml
  egs/mini_an4/asr1/conf/train_transformer_transducer.yaml
  egs/mini_an4/asr1/conf/train_transformer_transducer_attention.yaml
  egs/mini_an4/mt1/conf/train.yaml
  egs/mini_an4/mt1/conf/train_transformer.yaml
  egs/mini_an4/st1/conf/train.yaml
  egs/mini_an4/st1/conf/train_asr0.2_mt0.2.yaml
  egs/mini_an4/st1/conf/train_asr0.3.yaml
  egs/mini_an4/st1/conf/train_ctc_asr0.3.yaml
  egs/mini_an4/st1/conf/train_mt0.3.yaml
  egs/mini_an4/st1/conf/train_transformer.yaml
  egs/mini_an4/st1/conf/train_transformer_asr0.2_mt0.2.yaml
  egs/mini_an4/st1/conf/train_transformer_asr0.3.yaml
  egs/mini_an4/st1/conf/train_transformer_ctc_asr0.3.yaml
  egs/mini_an4/st1/conf/train_transformer_mt0.3.yaml
Due: none

Reduce dimension further
  egs/mini_an4/asr1/conf/train_conformer.yaml
  egs/mini_an4/asr1/conf/train_conformer_pure_ctc.yaml
  egs/mini_an4/asr1/conf/train_mulenc2.yaml
  egs/mini_an4/asr1/conf/train_multispkr.yaml
  egs/mini_an4/asr1/conf/train_multispkr_transformer.yaml
  egs/mini_an4/asr1/conf/train_no_ctc.yaml
  egs/mini_an4/asr1/conf/train_pure_ctc.yaml
  egs/mini_an4/asr1/conf/train_transducer.yaml
  egs/mini_an4/asr1/conf/train_transducer_attention.yaml
  egs/mini_an4/asr1/conf/train_transformer.yaml
  egs/mini_an4/asr1/conf/train_transformer_no_ctc.yaml
  egs/mini_an4/asr1/conf/train_transformer_pure_ctc.yaml
  egs/mini_an4/asr1/conf/train_transformer_transducer.yaml
  egs/mini_an4/asr1/conf/train_transformer_transducer_attention.yaml
  egs/mini_an4/mt1/conf/train.yaml
  egs/mini_an4/mt1/conf/train_transformer.yaml
  egs/mini_an4/st1/conf/train_asr0.2_mt0.2.yaml
  egs/mini_an4/st1/conf/train_asr0.3.yaml
  egs/mini_an4/st1/conf/train_ctc_asr0.3.yaml
  egs/mini_an4/st1/conf/train_mt0.3.yaml
  egs/mini_an4/st1/conf/train_transformer.yaml
  egs/mini_an4/st1/conf/train_transformer_asr0.2_mt0.2.yaml
  egs/mini_an4/st1/conf/train_transformer_asr0.3.yaml
  egs/mini_an4/st1/conf/train_transformer_ctc_asr0.3.yaml
  egs/mini_an4/st1/conf/train_transformer_mt0.3.yaml
Due: none

Fix typo
  egs/an4/tts1/run.sh
  egs/arctic/tts1/run.sh
  egs/blizzard17/tts1/run.sh
  egs/csmsc/tts1/run.sh
  egs/jnas/tts1/run.sh
  egs/jsut/tts1/run.sh
  egs/jvs/tts1/run.sh
  egs/libritts/tts1/run.sh
  egs/ljspeech/asr1/run.sh
  egs/ljspeech/tts1/run.sh
  egs/ljspeech/tts2/run.sh
  egs/m_ailabs/tts1/run.sh
  egs/mini_an4/tts1/run.sh
  egs/tweb/tts1/run.sh
  egs/vais1000/tts1/run.sh
  egs/vcc20/tts1_en_de/run.sh
  egs/vcc20/tts1_en_fi/run.sh
  egs/vcc20/tts1_en_zh/run.sh
  egs/vcc20/vc1_task1/run.sh
Due: none

support average by duration
  espnet2/tts/fastspeech2.py
  test/espnet2/tts/test_fastspeech2.py
Due: auto add label=ESPnet2

fixed and added test
  espnet2/tts/fastspeech2.py
  test/espnet2/tts/test_fastspeech2.py
Due: auto add label=ESPnet2

changed default
  espnet2/tts/variance_predictor.py
Due: auto add label=ESPnet2

apply black
  espnet2/tts/fastspeech2.py
  test/espnet2/tts/test_fastspeech2.py
Due: auto add label=ESPnet2

bug fix about calculation precision
  espnet2/enh/layers/dnn_beamformer.py
  espnet2/enh/layers/dnn_wpe.py
  espnet2/enh/nets/beamformer_net.py
  espnet2/enh/nets/tf_mask_net.py
  test/espnet2/enh/nets/test_beamformer_net.py
Due: auto add label=ESPnet2

Add CTC probability visualization during training
  espnet/asr/asr_utils.py
  espnet/asr/pytorch_backend/asr.py
  espnet/bin/asr_train.py
  espnet/bin/st_train.py
  espnet/nets/pytorch_backend/ctc.py
  espnet/nets/pytorch_backend/e2e_asr.py
  espnet/nets/pytorch_backend/e2e_asr_mulenc.py
  espnet/nets/pytorch_backend/e2e_asr_transformer.py
  espnet/nets/pytorch_backend/e2e_st.py
  espnet/nets/pytorch_backend/e2e_st_transformer.py
  espnet/st/pytorch_backend/st.py
  espnet/utils/training/tensorboard_logger.py
Due: none

Path conditions:
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=README: any of: ^README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
