Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(ci/|.github/)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/

feat: add data_prep.py — HF Arrow splits to Kaldi format
  egs2/nahuatl/asr1/local/data_prep.py
  egs2/nahuatl/asr1/local/test_data_prep.py
Due: auto add label=ESPnet2

feat: OWSM v4 training config, decode config, and token embedding init script
  egs2/nahuatl/asr1/conf/decode_owsm.yaml
  egs2/nahuatl/asr1/conf/tuning/train_owsm_v4_nahuatl.yaml
  egs2/nahuatl/asr1/data/token_list_nahuatl.txt
  egs2/nahuatl/asr1/local/init_new_tokens.py
Due: auto add label=ESPnet2

refactor(nahuatl): rename asr1/ -> s2t1/ to match S2T recipe convention
  egs2/nahuatl/asr1/data/token_list_nahuatl.txt
  egs2/nahuatl/s2t1/.gitignore
  egs2/nahuatl/s2t1/cmd.sh
  egs2/nahuatl/s2t1/conf/decode_owsm.yaml
  egs2/nahuatl/s2t1/conf/tuning/train_owsm_v4_nahuatl.yaml
  egs2/nahuatl/s2t1/debug_train.sh
  egs2/nahuatl/s2t1/full_train.sh
  egs2/nahuatl/s2t1/local/data.sh
  egs2/nahuatl/s2t1/local/data_prep.py
  egs2/nahuatl/s2t1/local/init_new_tokens.py
  egs2/nahuatl/s2t1/local/test_data_prep.py
  egs2/nahuatl/s2t1/path.sh
  egs2/nahuatl/s2t1/run.sh
  egs2/nahuatl/s2t1/s2t.sh
Due: auto add label=ESPnet2

fix(nahuatl/asr1): update init_new_tokens + training YAML for OWSM v4
  egs2/nahuatl/asr1/conf/tuning/train_owsm_v4_nahuatl.yaml
  egs2/nahuatl/asr1/local/init_new_tokens.py
Due: auto add label=ESPnet2

refactor(nahuatl/asr1): remove inline token_list from YAML, generate from upstream model
  egs2/nahuatl/asr1/.gitignore
  egs2/nahuatl/asr1/conf/tuning/train_owsm_v4_nahuatl.yaml
  egs2/nahuatl/asr1/full_train.sh
  egs2/nahuatl/asr1/local/init_new_tokens.py
  egs2/nahuatl/asr1/run.sh
Due: auto add label=ESPnet2

fix(nahuatl/asr1): disable SLURM distributed launcher for single-GPU
  egs2/nahuatl/asr1/run.sh
Due: auto add label=ESPnet2

fix(nahuatl/asr1): deduplicate utterance IDs from HF dataset collision
  egs2/nahuatl/asr1/local/data_prep.py
Due: auto add label=ESPnet2

fix(nahuatl/asr1): add log_interval env var override for debug runs
  egs2/nahuatl/asr1/run.sh
Due: auto add label=ESPnet2

fix(nahuatl/asr1): fix run.sh Stage 3 data arg conflict + add debug env vars
  egs2/nahuatl/asr1/run.sh
Due: auto add label=ESPnet2

refactor(nahuatl/asr1): delegate to TEMPLATE s2t.sh
  egs2/nahuatl/asr1/conf/tuning/train_owsm_v4_nahuatl.yaml
  egs2/nahuatl/asr1/debug_train.sh
  egs2/nahuatl/asr1/full_train.sh
  egs2/nahuatl/asr1/run.sh
  egs2/nahuatl/asr1/s2t.sh
Due: auto add label=ESPnet2

feat(nahuatl/asr1): add text_prev/text_ctc data streams for OWSM v4 training
  egs2/nahuatl/asr1/.gitignore
  egs2/nahuatl/asr1/conf/tuning/train_owsm_v4_nahuatl.yaml
  egs2/nahuatl/asr1/debug_train.sh
  egs2/nahuatl/asr1/local/data.sh
Due: auto add label=ESPnet2

fix(nahuatl/s2t1): wire up s2t.sh delegation end-to-end
  egs2/nahuatl/s2t1/.gitignore
  egs2/nahuatl/s2t1/db.sh
  egs2/nahuatl/s2t1/debug_train.sh
  egs2/nahuatl/s2t1/full_train.sh
  egs2/nahuatl/s2t1/local/data.sh
  egs2/nahuatl/s2t1/path.sh
  egs2/nahuatl/s2t1/pyscripts
  egs2/nahuatl/s2t1/run.sh
  egs2/nahuatl/s2t1/scripts
  egs2/nahuatl/s2t1/utils
Due: auto add label=ESPnet2

refactor(nahuatl/s2t1): replace hardcoded absolute paths with portable ones
  egs2/nahuatl/s2t1/debug_train.sh
  egs2/nahuatl/s2t1/full_train.sh
  egs2/nahuatl/s2t1/local/test_data_prep.py
Due: auto add label=ESPnet2

fix(nahuatl/s2t1): make the full stage 3-11 pipeline run end-to-end
  egs2/nahuatl/s2t1/debug_train.sh
  egs2/nahuatl/s2t1/full_train.sh
  egs2/nahuatl/s2t1/local/data_prep.py
  egs2/nahuatl/s2t1/run.sh
Due: auto add label=ESPnet2

Updated readme with the publication link
  egs3/librispeech_100/asr/readme.md
Due: none

Normalize symlinks when cloning recipes
  espnet3/cli/clone/command.py
  test/espnet3/cli/test_clone.py
Due: none

Reject recipe paths outside egs3
  espnet3/cli/clone/resolver.py
  test/espnet3/cli/test_clone.py
Due: none

added codes for Spiralformer
  egs2/librispeech/asr1/conf/tuning/decode_asr_ctc.yaml
  egs2/librispeech/asr1/conf/tuning/train_asr_spiralformer_finetune.yaml
  egs2/librispeech/asr1/run_spiralformer_finetune.sh
  espnet2/asr/encoder/spiralformer_encoder.py
  espnet2/tasks/abs_task.py
  espnet2/tasks/asr.py
Due: auto add label=ESPnet2

fix(nahuatl/s2t1): select best checkpoint by valid acc, not total_count
  egs2/nahuatl/s2t1/conf/tuning/train_owsm_v4_nahuatl.yaml
Due: auto add label=ESPnet2

fix(nahuatl/s2t1): tokenize region tags as atomic BPE pieces
  egs2/nahuatl/s2t1/local/init_new_tokens.py
  egs2/nahuatl/s2t1/run.sh
Due: auto add label=ESPnet2

Potential fix for pull request finding
  espnet3/components/callbacks/default_callbacks.py
Due: none

feat(nahuatl/s2t1): add per-region decoding + aggregate scoring
  egs2/nahuatl/s2t1/decode.sh
  egs2/nahuatl/s2t1/run.sh
Due: auto add label=ESPnet2

egs2/audioset/ssl1: prune failed cut_wav entries from wav.scp
  egs2/audioset/ssl1/local/data_prep_as2m.py
Due: auto add label=ESPnet2

Add ST-AEDS ASR recipe
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/st_aeds/asr1/README.md
  egs2/st_aeds/asr1/asr.sh
  egs2/st_aeds/asr1/cmd.sh
  egs2/st_aeds/asr1/conf/decode_asr.yaml
  egs2/st_aeds/asr1/conf/fbank.conf
  egs2/st_aeds/asr1/conf/pbs.conf
  egs2/st_aeds/asr1/conf/pitch.conf
  egs2/st_aeds/asr1/conf/queue.conf
  egs2/st_aeds/asr1/conf/slurm.conf
  egs2/st_aeds/asr1/conf/train_asr.yaml
  egs2/st_aeds/asr1/conf/tuning/decode_rnn.yaml
  egs2/st_aeds/asr1/conf/tuning/train_asr_rnn.yaml
  egs2/st_aeds/asr1/db.sh
  egs2/st_aeds/asr1/local/data.sh
  egs2/st_aeds/asr1/local/download_and_extract.sh
  egs2/st_aeds/asr1/local/path.sh
  egs2/st_aeds/asr1/local/prepare_data.py
  egs2/st_aeds/asr1/path.sh
  egs2/st_aeds/asr1/pyscripts
  egs2/st_aeds/asr1/run.sh
  egs2/st_aeds/asr1/scripts
  egs2/st_aeds/asr1/steps
  egs2/st_aeds/asr1/utils
Due: auto add label=ESPnet2, auto add label=README

fix(nahuatl/s2t1): set decode lang_sym via per-region config, decode on GPU
  egs2/nahuatl/s2t1/conf/decode_owsm_hid.yaml
  egs2/nahuatl/s2t1/conf/decode_owsm_ozg.yaml
  egs2/nahuatl/s2t1/conf/decode_owsm_ztp.yaml
  egs2/nahuatl/s2t1/decode.sh
Due: auto add label=ESPnet2

Fix kmeans OOM in learn_kmeans.py and switch lm1 to slurm cmd backend
  egs2/TEMPLATE/asr1/pyscripts/utils/learn_kmeans.py
  egs2/voxtlm_v1/lm1/cmd.sh
  egs2/voxtlm_v1/lm1/myrun.sh
Due: auto add label=ESPnet2

Fix data_aug_effects nesting in egs3/librispeech_100 config
  egs3/librispeech_100/asr/conf/tuning/training_e_branchformer.yaml
Due: none

fix(nahuatl/s2t1): add local/score.sh for symmetric CER/WER re-scoring
  egs2/nahuatl/s2t1/local/score.sh
Due: auto add label=ESPnet2

espnet3: TTS system, template configs and EMA callbacks for F5-TTS
  egs3/TEMPLATE/tts/__init__.py
  egs3/TEMPLATE/tts/conf/inference.yaml
  egs3/TEMPLATE/tts/conf/metrics.yaml
  egs3/TEMPLATE/tts/conf/training.yaml
  espnet3/components/callbacks/ema.py
  espnet3/components/callbacks/vendored_ema.py
  espnet3/systems/tts/__init__.py
  espnet3/systems/tts/remove_long_short_provider.py
  espnet3/systems/tts/remove_long_short_runner.py
  espnet3/systems/tts/system.py
Due: none

espnet3: trim comments in the vendored EMA callback
  espnet3/components/callbacks/vendored_ema.py
Due: none

espnet3/callbacks: satisfy pycodestyle and hacking docstring checks
  espnet3/components/callbacks/ema.py
  espnet3/components/callbacks/vendored_ema.py
Due: none

espnet3/tts: unit tests for EMA and TTS system stages; adapt remove_long_short to the sharded BaseRunner API
  espnet3/systems/tts/remove_long_short_runner.py
  espnet3/systems/tts/system.py
  test/espnet3/components/callbacks/test_ema.py
  test/espnet3/systems/tts/__init__.py
  test/espnet3/systems/tts/test_remove_long_short.py
  test/espnet3/systems/tts/test_system.py
Due: none

espnet3/tts: complete unit-test coverage of the EMA and TTS system additions
  test/espnet3/components/callbacks/test_ema.py
  test/espnet3/systems/tts/test_remove_long_short.py
  test/espnet3/systems/tts/test_system.py
Due: none

espnet2/tts/f5: satisfy the flake8 gate ahead of CI
  espnet2/text/f5_preprocessor.py
  espnet2/tts/f5/backbones/dit.py
  espnet2/tts/f5/cfm.py
  espnet2/tts/f5/modules.py
  espnet2/tts/f5/utils.py
Due: auto add label=ESPnet2

espnet2: trim comments in the F5-TTS model files
  espnet2/tts/f5/backbones/dit.py
  espnet2/tts/f5/cfm.py
  espnet2/tts/f5/modules.py
  espnet2/tts/f5/utils.py
Due: auto add label=ESPnet2

espnet2: F5-TTS model, tokenizer, vocoder mel front-end and LR scheduler
  espnet2/schedulers/linear_warmup_decay.py
  espnet2/tasks/abs_task.py
  espnet2/tasks/tts.py
  espnet2/text/f5_pinyin.py
  espnet2/text/f5_preprocessor.py
  espnet2/tts/f5/__init__.py
  espnet2/tts/f5/backbones/__init__.py
  espnet2/tts/f5/backbones/dit.py
  espnet2/tts/f5/cfm.py
  espnet2/tts/f5/f5tts.py
  espnet2/tts/f5/inference.py
  espnet2/tts/f5/modules.py
  espnet2/tts/f5/rotary.py
  espnet2/tts/f5/solvers.py
  espnet2/tts/f5/utils.py
  espnet2/tts/feats_extract/vocoder_mel.py
Due: auto add label=ESPnet2

egs3/libritts/tts: F5-TTS recipe with LibriSpeech-PC evaluation
  egs3/libritts/__init__.py
  egs3/libritts/tts/README.md
  egs3/libritts/tts/__init__.py
  egs3/libritts/tts/conf/inference_f5.yaml
  egs3/libritts/tts/conf/inference_f5_libritts.yaml
  egs3/libritts/tts/conf/metrics.yaml
  egs3/libritts/tts/conf/training_f5_tts_small.yaml
  egs3/libritts/tts/dataset/__init__.py
  egs3/libritts/tts/dataset/builder.py
  egs3/libritts/tts/dataset/config.yaml
  egs3/libritts/tts/dataset/dataset.py
  egs3/libritts/tts/dataset/librispeech_pc.py
  egs3/libritts/tts/local/download_librispeech.sh
  egs3/libritts/tts/local/download_libritts.sh
  egs3/libritts/tts/local/prepare_librispeech_pc.py
  egs3/libritts/tts/path.sh
  egs3/libritts/tts/run.py
  egs3/libritts/tts/src/__init__.py
  egs3/libritts/tts/src/inference.py
  egs3/libritts/tts/src/metrics/__init__.py
  egs3/libritts/tts/src/metrics/versa.py
Due: auto add label=README

egs3/libritts/tts: run VERSA with sys.executable, reject partial score sets
  egs3/libritts/tts/README.md
  egs3/libritts/tts/src/metrics/versa.py
Due: auto add label=README
