Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

Add missing enhancement docstrings
  egs3/vctk_noisy/enh/src/app.py
  egs3/vctk_noisy/enh/src/inference.py
  espnet3/systems/enh/metrics/pesq.py
  espnet3/systems/enh/metrics/sisnr.py
  espnet3/systems/enh/metrics/stoi.py
  espnet3/systems/enh/system.py
Due: none

Add VERSA scoring for Sidon evaluation
  egs2/libritts_r/enh1/conf/versa_enh.yaml
  egs2/libritts_r/enh1/conf/versa_enh_ref_based.yaml
  egs2/libritts_r/enh1/db.sh
  egs2/libritts_r/enh1/local/data.sh
  egs2/libritts_r/enh1/run.sh
Due: auto add label=ESPnet2

Unbreak the docker publish, and pin every version declaration to one file
  .github/workflows/publish_docker_image.yml
  ci/check_ci_image_config.py
  docker/prebuilt/devel.dockerfile
  tools/Makefile
Due: auto add label=CI, auto add label=Installation, auto add label=Docker

add the comment about use_amp
  egs2/TEMPLATE/hubert1/README.md
  egs2/librispeech/hubert1/conf/tuning/train_ssl_torchaudiohubert_distill_960h_pretrain_it2.yaml
Due: auto add label=ESPnet2, auto add label=README

SSVD: add rotation_map option (linearized or exact Cayley rotation)
  egs2/myst/asr1/README.md
  egs2/myst/asr1/conf/tuning/peft_tuning_owsm_ssvd.yaml
  espnet2/layers/lora/layers.py
  test/espnet2/layers/lora/test_lora_layers.py
Due: auto add label=ESPnet2, auto add label=README

Fix review issues in Sidon recipe (PR #6540)
  egs2/libritts_r/enh1/local/data.sh
  egs2/libritts_r/enh1/local/prepare_rir_pool.py
  egs2/libritts_r/enh1/local/resample_wav_scp.py
  egs2/libritts_r/enh1/local/score.py
  egs2/libritts_r/enh1/run.sh
  espnet2/bin/enh_inference_sidon.py
  espnet2/bin/enh_train_sidon.py
  espnet2/tasks/sidon.py
Due: auto add label=ESPnet2

Move SSL feature extraction from CPU collate to GPU forward pass
  espnet2/bin/enh_inference_sidon.py
  espnet2/enh/sidon_model.py
  espnet2/tasks/sidon.py
Due: auto add label=ESPnet2

Follow the CI licensing machinery through the kaldiio removal
  .github/actions/use-prebuilt-environment/action.yml
  ci/no_redistribute.txt
  ci/report_unlicensed.py
Due: auto add label=CI

Defer the omniio import in the scripts that only sometimes need it
  egs2/TEMPLATE/asr1/pyscripts/audio/compute_vad.py
  egs2/TEMPLATE/asr1/pyscripts/utils/convert_token2json.py
  egs2/TEMPLATE/asr1/pyscripts/utils/mfa_format.py
  egs2/owsm_v3/s2t1/local/kaldi_to_whisper.py
Due: auto add label=ESPnet2

Declare omniio as an extra now that it is published
  .github/actions/use-prebuilt-environment/action.yml
  ci/install.sh
  ci/install_macos.sh
  doc/installation.md
  espnet2/utils/kaldi_io_utils.py
  pyproject.toml
  test/espnet2/utils/test_kaldi_io_utils.py
  tools/Makefile
  tools/installers/install_omniio.sh
Due: auto add label=ESPnet2, auto add label=Documentation, auto add label=CI, auto add label=Installation

Make omniio a plain dependency and drop the optional-install machinery
  .github/actions/use-prebuilt-environment/action.yml
  doc/installation.md
  egs2/TEMPLATE/asr1/pyscripts/audio/compute_vad.py
  egs2/TEMPLATE/asr1/pyscripts/audio/format_wav_scp.py
  egs2/TEMPLATE/asr1/pyscripts/utils/convert_token2json.py
  egs2/TEMPLATE/asr1/pyscripts/utils/mfa_format.py
  egs2/owsm_v3/s2t1/local/kaldi_to_whisper.py
  espnet2/bin/compute_fbank_feats.py
  espnet2/legacy/transform/cmvn.py
  espnet2/legacy/utils/cli_readers.py
  espnet2/legacy/utils/cli_writers.py
  espnet2/sds/tts/espnet_tts.py
  espnet2/speechlm/dataloader/multimodal_loader/audio_loader.py
  espnet2/speechlm/dataloader/multimodal_loader/text_loader.py
  espnet2/train/dataset.py
  espnet2/train/iterable_dataset.py
  espnet2/utils/kaldi_io_utils.py
  pyproject.toml
  test/espnet2/speechlm/dataloader/conftest.py
  test/espnet2/utils/test_kaldi_io_utils.py
  utils/compute-fbank-feats.py
  utils/compute-stft-feats.py
  utils/feats2npy.py
  utils/trim_silence.py
Due: auto add label=ESPnet2, auto add label=Documentation, auto add label=CI

Require omniio 0.1.1
  pyproject.toml
Due: none

Add automatic Claude Code review for pull requests
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  CLAUDE.md
Due: auto add label=CI

Authenticate the Claude workflows with a subscription token
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: auto add label=CI

Cache the Hugging Face hub downloads, and stop revalidation stalling on them
  .github/workflows/ci_on_ubuntu.yml
Due: auto add label=CI

Fix Conv*Subsampling mask so encoder olens depends only on ilens
  espnet2/legacy/nets/pytorch_backend/transformer/subsampling.py
  test/espnet2/legacy/test_subsampling.py
Due: auto add label=ESPnet2

Put the dialog_eval text metrics on the available device instead of calling .cuda()
  egs2/TEMPLATE/asr1/pyscripts/utils/dialog_eval/LLM_Metrics.py
Due: auto add label=ESPnet2

Pin install_versa.sh to the versa commit dialog_eval was checked against
  tools/installers/install_versa.sh
Due: auto add label=Installation

Remove non-adversarial tokenizer documentation
  egs2/TEMPLATE/tok1/README.md
  egs2/TEMPLATE/tok1/conf/README.md
Due: auto add label=ESPnet2, auto add label=README

Add VCTK tok1 recipe
  egs2/vctk/tok1/README.md
  egs2/vctk/tok1/cmd.sh
  egs2/vctk/tok1/conf/README.md
  egs2/vctk/tok1/conf/pbs.conf
  egs2/vctk/tok1/conf/queue.conf
  egs2/vctk/tok1/conf/slurm.conf
  egs2/vctk/tok1/conf/train_gan_default.yaml
  egs2/vctk/tok1/db.sh
  egs2/vctk/tok1/local/README.md
  egs2/vctk/tok1/local/data.sh
  egs2/vctk/tok1/local/data_download.sh
  egs2/vctk/tok1/local/data_prep.sh
  egs2/vctk/tok1/local/path.sh
  egs2/vctk/tok1/path.sh
  egs2/vctk/tok1/pyscripts
  egs2/vctk/tok1/run.sh
  egs2/vctk/tok1/scripts
  egs2/vctk/tok1/steps
  egs2/vctk/tok1/tok.sh
  egs2/vctk/tok1/utils
Due: auto add label=ESPnet2, auto add label=README

Simplify VCTK phonological tokenizer README
  egs2/vctk/tok1/README.md
Due: auto add label=ESPnet2, auto add label=README

Fix nanoid advisories in the docs lockfile
  doc/vuepress/package-lock.json
Due: auto add label=Documentation

Cache torch.hub too; UTMOS took a dependabot PR down with a 504
  .github/workflows/ci_on_ubuntu.yml
Due: auto add label=CI

Address CodeRabbit review on PR #6636
  egs2/libritts_r/enh1/README.md
  egs2/libritts_r/enh1/conf/decode.yaml
  egs2/libritts_r/enh1/conf/train.yaml
  egs2/libritts_r/enh1/conf/tuning/train_sidon.yaml
  egs2/libritts_r/enh1/local/prepare_rir_pool.py
  egs2/libritts_r/enh1/local/score.py
  egs2/libritts_r/enh1/run.sh
  espnet2/bin/enh_inference_sidon.py
  espnet2/enh/sidon_model.py
  espnet2/tasks/sidon.py
Due: auto add label=ESPnet2, auto add label=README

Upgrade the VuePress docs stack to the rc.31 line
  doc/vuepress/package-lock.json
  doc/vuepress/package.json
  doc/vuepress/src/.vuepress/theme.ts
Due: auto add label=Documentation

Add sass-embedded, which theme-hope rc.109 no longer installs itself
  doc/vuepress/package-lock.json
  doc/vuepress/package.json
Due: auto add label=Documentation

egs2: add Seoul Corpus (spontaneous Korean) ASR recipe
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/seoul_corpus/asr1/README.md
  egs2/seoul_corpus/asr1/asr.sh
  egs2/seoul_corpus/asr1/cmd.sh
  egs2/seoul_corpus/asr1/conf/decode_asr.yaml
  egs2/seoul_corpus/asr1/conf/fbank.conf
  egs2/seoul_corpus/asr1/conf/pbs.conf
  egs2/seoul_corpus/asr1/conf/pitch.conf
  egs2/seoul_corpus/asr1/conf/queue.conf
  egs2/seoul_corpus/asr1/conf/slurm.conf
  egs2/seoul_corpus/asr1/conf/train_asr.yaml
  egs2/seoul_corpus/asr1/conf/train_lm.yaml
  egs2/seoul_corpus/asr1/conf/tuning/train_asr_scratch_v1.yaml
  egs2/seoul_corpus/asr1/db.sh
  egs2/seoul_corpus/asr1/local/data.sh
  egs2/seoul_corpus/asr1/local/path.sh
  egs2/seoul_corpus/asr1/local/prepare_data.py
  egs2/seoul_corpus/asr1/path.sh
  egs2/seoul_corpus/asr1/pyscripts
  egs2/seoul_corpus/asr1/run.sh
  egs2/seoul_corpus/asr1/scripts
  egs2/seoul_corpus/asr1/steps
  egs2/seoul_corpus/asr1/utils
Due: auto add label=ESPnet2, auto add label=README

Raise the V8 heap for the docs build
  ci/doc.sh
Due: auto add label=CI

Constrain torch when installing torcheval, but do not pin torcheval
  tools/Makefile
  tools/installers/install_torcheval.sh
Due: auto add label=Installation

Say which versions are skewed when torchaudio fails to load
  espnet2/__init__.py
Due: auto add label=ESPnet2

Add SpeechLM quick installation guide and requirements
  espnet2/speechlm/INSTALL.md
  espnet2/speechlm/requirement.txt
Due: auto add label=ESPnet2

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(ci/|.github/)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
