Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(ci/|.github/)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/

successfully start training
  egs2/globe/tts1/.gitignore
  egs2/globe/tts1/cmd.sh
  egs2/globe/tts1/conf/tuning/train_multi_spk_vits.yaml
  egs2/globe/tts1/run.sh
Due: auto add label=ESPnet2

don't push wav
  egs2/globe/tts1/S_000016_000000.v2.vad.wav
  egs2/globe/tts1/S_000016_000002.v2.vad.wav
  egs2/globe/tts1/S_000233_000000.v2.vad.wav
  egs2/globe/tts1/S_000233_000001.v2.vad.wav
  egs2/globe/tts1/S_000894_000004.v2.vad.wav
  egs2/globe/tts1/S_000911_000001.v2.vad.wav
  egs2/globe/tts1/S_000911_000002.v2.vad.wav
Due: auto add label=ESPnet2

update README
  egs2/globe/tts1/README.md
  egs2/globe/tts1/S_000016_000000.v2.vad.wav
  egs2/globe/tts1/S_000016_000002.v2.vad.wav
  egs2/globe/tts1/S_000233_000000.v2.vad.wav
  egs2/globe/tts1/S_000233_000001.v2.vad.wav
  egs2/globe/tts1/S_000894_000004.v2.vad.wav
  egs2/globe/tts1/S_000911_000001.v2.vad.wav
  egs2/globe/tts1/S_000911_000002.v2.vad.wav
Due: auto add label=ESPnet2, auto add label=README

add contributor to readme, clean up tts.sh
  egs2/globe/tts1/.gitignore
  egs2/globe/tts1/README.md
Due: auto add label=ESPnet2, auto add label=README

cleanup: revert unintended changes outside globe recipe
  egs2/TEMPLATE/asr1/db.sh
  egs2/TEMPLATE/asr1/pyscripts/audio/format_wav_scp.py
  egs2/hifitts/tts1/cmd.sh
  egs2/hifitts/tts1/conf/slurm.conf
  egs2/hifitts/tts1/conf/slurm_stats.conf
  egs2/hifitts/tts1/gather_stats.log
  egs2/hifitts/tts1/logs/run_stage_8_to_11.log
  egs2/hifitts/tts1/run.sh
  egs2/hifitts/tts1/run_tts.log
  egs2/hifitts/tts1/tts_stage_6.log
Due: auto add label=ESPnet2

cleanup: revert non‑globe edits
  egs2/TEMPLATE/asr1/pyscripts/audio/format_wav_scp.py
Due: auto add label=ESPnet2

Fix inference resume.
  espnet2/train/lid_trainer.py
Due: auto add label=ESPnet2

Switch warp-transducer to ljn7 fork with FastEmit and modern CUDA/CMake support
  tools/installers/install_warp-transducer.sh
Due: auto add label=Installation

Update install_warp-transducer.sh
  tools/installers/install_warp-transducer.sh
Due: auto add label=Installation

docs: clarify CBHG encoder vs post‑net roles in Tacotron 1
  espnet/nets/pytorch_backend/tacotron2/cbhg.py
Due: auto add label=ESPnet1

Update interface for espnet3.parallel
  espnet3/parallel/parallel.py
Due: none

Rerun CI.
  espnet2/train/lid_trainer.py
Due: auto add label=ESPnet2

Enhance CUDA detection and skip setup on unsupported environments
  tools/installers/install_warp-transducer.sh
Due: auto add label=Installation

Fix bash script for building warp-transducer with CUDA
  tools/installers/install_warp-transducer.sh
Due: auto add label=Installation

fix: enhance installation script with better error handling and validation
  tools/installers/install_warp-transducer.sh
Due: auto add label=Installation

Refactor install script to use function-based architecture
  tools/installers/install_warp-transducer.sh
Due: auto add label=Installation

fix: exit gracefully on unsupported platforms
  tools/installers/install_warp-transducer.sh
Due: auto add label=Installation

Fix FutureWarning
  espnet2/enh/loss/criterions/time_domain.py
Due: auto add label=ESPnet2

chore: remove unused data_download.sh (replaced by huggingface-cli)
  egs2/globe/tts1/local/data_download.sh
Due: auto add label=ESPnet2

chore: remove unused test_data.py (debug-only script)
  egs2/globe/tts1/local/test_data.py
Due: auto add label=ESPnet2

update transformers installation
  tools/installers/install_transformers.sh
Due: auto add label=Installation

add metrics to README
  egs2/globe/tts1/README.md
Due: auto add label=ESPnet2, auto add label=README

adjust font size
  egs2/globe/tts1/README.md
Due: auto add label=ESPnet2, auto add label=README

update tts.sh and versa.yaml
  egs2/globe/tts1/conf/versa.yaml
Due: auto add label=ESPnet2

Use ESPnet beam search.
  egs2/dynamic_superb/qwen2/conf/decode_asr.yaml
  espnet2/dynamic_superb/espnet_model.py
  espnet2/dynamic_superb/modeling_lm.py
  espnet2/dynamic_superb/modeling_qwen2.py
  espnet2/dynamic_superb/qwen2_scorer.py
  espnet2/tasks/dynamic_superb.py
Due: auto add label=ESPnet2

Fixed copilot's review
  espnet2/asr/frontend/asteroid_frontend.py
  espnet2/asr/state_spaces/components.py
  espnet2/asr/state_spaces/s4.py
  espnet2/asr/state_spaces/utils.py
  espnet2/enh/loss/criterions/time_domain.py
  espnet2/text/cleaner.py
  espnet2/text/phoneme_tokenizer.py
  espnet2/train/dataset.py
Due: auto add label=ESPnet2

Fix CI errors.
  egs2/dynamic_superb/qwen2/local/data.sh
  espnet2/bin/dynamic_superb_inference.py
  espnet2/dynamic_superb/espnet_model.py
  espnet2/tasks/dynamic_superb.py
  espnet2/text/qwen2audio_tokenizer.py
Due: auto add label=ESPnet2

Fix CI errors (line length, import error).
  espnet2/dynamic_superb/__init__.py
  espnet2/dynamic_superb/espnet_model.py
  espnet2/text/qwen2audio_tokenizer.py
Due: auto add label=ESPnet2

update cmd.sh to fit memory requirement in cuda and decoding
  egs2/globe/tts1/cmd.sh
Due: auto add label=ESPnet2

add full band yaml
  egs2/globe/tts1/conf/tuning/train_full_band_multi_spk_vits.yaml
Due: auto add label=ESPnet2

change config file
  egs2/globe/tts1/run.sh
Due: auto add label=ESPnet2

increase parallel jobs during decoding
  egs2/globe/tts1/tts.sh
Due: auto add label=ESPnet2

Fix CI errors (import error).
  espnet2/dynamic_superb/espnet_model.py
Due: auto add label=ESPnet2

Fixed format issue in workflow file
  .github/workflows/ci_on_ubuntu.yml
Due: auto add label=CI
