Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

Applied format
  test/espnet3/utils/test_publish.py
Due: none

Fixed path and config
  egs3/falar/asr/conf/training.yaml
  egs3/falar/asr/conf/tuning/owsm_finetune.yaml
  egs3/falar/asr/dataset/builder.py
  egs3/falar/asr/path.sh
Due: none

fix(tse): rewrite TEMPLATE run.py to match modern ASR runner API
  egs3/TEMPLATE/tse/run.py
Due: none

fix(tse): use self.training_config (not self.train_config) in TSESystem
  espnet3/systems/tse/system.py
Due: none

fix(tse): rename optim→optimizer in TEMPLATE train.yaml
  egs3/TEMPLATE/tse/conf/train.yaml
Due: none

fix(tse): fix TEMPLATE infer.yaml – correct model target and exp_dir pattern
  egs3/TEMPLATE/tse/conf/infer.yaml
Due: none

fix(tse): fix TEMPLATE infer.py output format (uttid key, single speaker waveform)
  egs3/TEMPLATE/tse/src/infer.py
Due: none

fix(tse): fix TSOS metric – correct import, fix __call__ to parse SCP files
  espnet3/systems/tse/metrics/tsos.py
Due: none

fix(tse): fix simulate_librimix to call create_librimix.py not augment_train_noise.py
  egs3/librimix/tse/src/create_dataset.py
Due: none

fix(tse): fix dataset uttid handling, remove debug Timer class and print
  egs3/librimix/tse/src/dataset.py
Due: none

feat(tse): create src/infer.py output function for TSE inference
  egs3/librimix/tse/src/infer.py
Due: none

fix(tse): rewrite infer.yaml – remove load_yaml resolver, fix input_key, add output_artifacts
  egs3/librimix/tse/conf/infer.yaml
Due: none

fix(tse): rewrite measure.yaml – fix YAML structure and TSOS metric config
  egs3/librimix/tse/conf/measure.yaml
Due: none

fix(tse): update run.py to use new TEMPLATE API (remove add_arguments, fix stages)
  egs3/librimix/tse/run.py
Due: none

Update dependencies in pyproject.toml
  pyproject.toml
Due: none

Update TSE metric and system scripts
  espnet3/systems/tse/metrics/tsos.py
  espnet3/systems/tse/system.py
Due: none

[skip ci] remove pysptk from pyproject
  pyproject.toml
Due: none

add resume features for xvectors stage
  egs3/libritts/tts/src/system.py
  egs3/libritts/tts/src/xvector_provider.py
  egs3/libritts/tts/src/xvector_runner.py
Due: none

fix empty parallel config
  egs3/libritts/tts/src/system.py
Due: none

move read manifest to provider
  egs3/libritts/tts/src/system.py
  egs3/libritts/tts/src/xvector_provider.py
Due: none

patch xvector provider to work with an old hf_hub
  egs3/libritts/tts/src/xvector_provider.py
Due: none

patch xvector provider for a new speechbrain version
  egs3/libritts/tts/src/xvector_provider.py
Due: none

improve remove_long_short and create_tokens stages
  egs3/libritts/tts/src/system.py
Due: none

egs2: register magicdata_ramc recipe in overview table
  egs2/README.md
Due: auto add label=ESPnet2, auto add label=README

Add released Whisper-small checkpoint and results for AMI SOT recipe
  egs2/ami/sot_asr1/README.md
  egs2/ami/sot_asr1/local/compute_der.py
  egs2/ami/sot_asr1/local/decode.py
  egs2/ami/sot_asr1/run.sh
Due: auto add label=ESPnet2, auto add label=README

Add AMI SOT multi-talker ASR recipe with Whisper
  egs2/ami/sot_asr1/README.md
  egs2/ami/sot_asr1/asr.sh
  egs2/ami/sot_asr1/cmd.sh
  egs2/ami/sot_asr1/conf/pbs.conf
  egs2/ami/sot_asr1/conf/queue.conf
  egs2/ami/sot_asr1/conf/slurm.conf
  egs2/ami/sot_asr1/conf/tuning/decode_sot.yaml
  egs2/ami/sot_asr1/conf/tuning/train_sot_asr_whisper_small.yaml
  egs2/ami/sot_asr1/local/decode.py
  egs2/ami/sot_asr1/local/prepare_sot.py
  egs2/ami/sot_asr1/pyscripts
  egs2/ami/sot_asr1/run.sh
  egs2/ami/sot_asr1/steps
  egs2/ami/sot_asr1/utils
  espnet2/text/whisper_token_id_converter.py
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2, auto add label=README

Address review feedback
  egs2/ami/sot_asr1/local/decode.py
  egs2/ami/sot_asr1/local/prepare_sot.py
  egs2/ami/sot_asr1/run.sh
Due: auto add label=ESPnet2

fix creating directory for create_tokens stage
  egs3/libritts/tts/src/system.py
Due: none

add gan_tts modules
  egs3/libritts/tts/dataset/dataset.py
  egs3/libritts/tts/src/gan_trainer.py
  egs3/libritts/tts/src/models/gan_model.py
  egs3/libritts/tts/src/system.py
Due: none

fix missing libraries in system.py
  egs3/libritts/tts/src/system.py
Due: none

update run.py
  egs3/libritts/tts/run.py
Due: none

Add 100M ML-SUPERB2 CTC recipes
  egs2/ml_superb2/asr1/README.md
  egs2/ml_superb2/asr1/conf/tuning/train_mms_ctc_conformer_12_macaron_lr1e-4.yaml
  egs2/ml_superb2/asr1/conf/tuning/train_mms_ctc_e_branchformer_12_nomacaron_lr1e-4.yaml
Due: auto add label=ESPnet2, auto add label=README

Simplify ML-SUPERB2 CTC recipe README
  egs2/ml_superb2/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

Add ML-SUPERB2 model links to README
  egs2/ml_superb2/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

Move model links into ML-SUPERB2 results
  egs2/ml_superb2/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

Keep only reported ML-SUPERB2 CTC configs
  egs2/ml_superb2/asr1/conf/tuning/train_mms_baseline.yaml
  egs2/ml_superb2/asr1/conf/tuning/train_mms_ctc_conformer_lr1e-3.yaml
  egs2/ml_superb2/asr1/conf/tuning/train_mms_ctc_conformer_lr1e-4.yaml
  egs2/ml_superb2/asr1/conf/tuning/train_mms_ctc_conformer_lr1e-5.yaml
  egs2/ml_superb2/asr1/conf/tuning/train_mms_ctc_e_branchformer_lr1e-3.yaml
  egs2/ml_superb2/asr1/conf/tuning/train_mms_ctc_e_branchformer_lr1e-4.yaml
  egs2/ml_superb2/asr1/conf/tuning/train_mms_ctc_e_branchformer_lr1e-5.yaml
  egs2/ml_superb2/asr1/conf/tuning/train_mms_ctc_transformer_lr1e-3.yaml
  egs2/ml_superb2/asr1/conf/tuning/train_mms_ctc_transformer_lr1e-5.yaml
Due: auto add label=ESPnet2

Add Granite model, collate fn, and fine-tuning config
  egs3/librispeech_100/asr/conf/tuning/fine-tuning_granite_speech.yaml
  egs3/librispeech_100/asr/src/granite_speech.py
Due: none

Add initial ESPnet3 VCTK noisy enhancement recipe
  egs3/vctk_noisy/__init__.py
  egs3/vctk_noisy/enh/__init__.py
  egs3/vctk_noisy/enh/conf/inference.yaml
  egs3/vctk_noisy/enh/conf/metrics.yaml
  egs3/vctk_noisy/enh/conf/training.yaml
  egs3/vctk_noisy/enh/path.sh
  egs3/vctk_noisy/enh/run.py
  egs3/vctk_noisy/enh/src/__init__.py
  egs3/vctk_noisy/enh/src/inference.py
  egs3/vctk_noisy/enh/src/metrics.py
  espnet3/systems/enh/__init__.py
  espnet3/systems/enh/system.py
  espnet3/systems/enh/task.py
Due: none

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(ci/|.github/)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
