Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

clean configs
  egs2/dcase_task1/asr1/conf/tuning/train_asr_transformer.yaml
  egs2/dcase_task1/asr1/conf/tuning/train_asr_transformer_adam.yaml
  egs2/dcase_task1/asr1/conf/tuning/train_asr_transformer_adam_small.yaml
  egs2/dcase_task1/asr1/conf/tuning/train_asr_transformer_adam_small_specaug.yaml
  egs2/dcase_task1/asr1/conf/tuning/train_asr_transformer_adam_specaug.yaml
  egs2/dcase_task1/asr1/conf/tuning/train_asr_transformer_adam_specaug_big.yaml
Due: auto add label=ESPnet2

fix docstrings and typehints
  espnet2/asr_transducer/beam_search_transducer.py
  espnet2/asr_transducer/decoder/abs_decoder.py
  espnet2/asr_transducer/decoder/rnn_decoder.py
  espnet2/asr_transducer/decoder/stateless_decoder.py
  espnet2/asr_transducer/joint_network.py
  espnet2/asr_transducer/utils.py
  espnet2/bin/asr_transducer_inference.py
Due: auto add label=ESPnet2

fix score_cache and docstring
  espnet2/asr_transducer/decoder/stateless_decoder.py
Due: auto add label=ESPnet2

remove unnecessary typehints
  espnet2/asr_transducer/beam_search_transducer.py
  espnet2/asr_transducer/decoder/rnn_decoder.py
  espnet2/asr_transducer/decoder/stateless_decoder.py
  espnet2/bin/asr_transducer_inference.py
Due: auto add label=ESPnet2

address reviews
  espnet2/asr_transducer/decoder/rnn_decoder.py
Due: auto add label=ESPnet2

address reviews (2)
  espnet2/asr_transducer/beam_search_transducer.py
  espnet2/asr_transducer/decoder/rnn_decoder.py
Due: auto add label=ESPnet2

fix isort errors
  egs2/dcase_task1/asr1/local/data_prep.py
  egs2/dcase_task1/asr1/local/score_macro.py
Due: auto add label=ESPnet2

Add postdecoder test case
  test/espnet2/asr/postdecoder/test_hugging_face_transformers_postdecoder.py
Due: none

Update Readme
  egs2/slurp_transcript/asr1/README.md
  test/espnet2/asr/postdecoder/test_hugging_face_transformers_postdecoder.py
Due: auto add label=ESPnet2, auto add label=README

Fix CI checks
  espnet2/asr/postencoder/conformer_postencoder.py
  test/espnet2/asr/postdecoder/test_hugging_face_transformers_postdecoder.py
Due: auto add label=ESPnet2

Incorporate Suggestions
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/dcase_task1_2022/asr1/README.md
  egs2/dcase_task1_2022/asr1/asr.sh
  egs2/dcase_task1_2022/asr1/cmd.sh
  egs2/dcase_task1_2022/asr1/conf/decode_asr.yaml
  egs2/dcase_task1_2022/asr1/conf/fbank.conf
  egs2/dcase_task1_2022/asr1/conf/pbs.conf
  egs2/dcase_task1_2022/asr1/conf/pitch.conf
  egs2/dcase_task1_2022/asr1/conf/queue.conf
  egs2/dcase_task1_2022/asr1/conf/slurm.conf
  egs2/dcase_task1_2022/asr1/conf/train_asr.yaml
  egs2/dcase_task1_2022/asr1/conf/tuning/train_asr_hubert_transformer_adam_specaug.yaml
  egs2/dcase_task1_2022/asr1/db.sh
  egs2/dcase_task1_2022/asr1/local/data.sh
  egs2/dcase_task1_2022/asr1/local/data_prep.py
  egs2/dcase_task1_2022/asr1/local/path.sh
  egs2/dcase_task1_2022/asr1/local/score.py
  egs2/dcase_task1_2022/asr1/local/score.sh
  egs2/dcase_task1_2022/asr1/local/score_macro.py
  egs2/dcase_task1_2022/asr1/path.sh
  egs2/dcase_task1_2022/asr1/pyscripts
  egs2/dcase_task1_2022/asr1/run.sh
  egs2/dcase_task1_2022/asr1/scripts
  egs2/dcase_task1_2022/asr1/steps
  egs2/dcase_task1_2022/asr1/utils
Due: auto add label=ESPnet2, auto add label=README

report Aishell-2 Transducer results
  egs2/aishell2/asr1/README.md
  egs2/aishell2/asr1/conf/tuning/transducer/decode.yaml
  egs2/aishell2/asr1/conf/tuning/transducer/train_conformer-rnn_transducer.yaml
Due: auto add label=ESPnet2, auto add label=README

remove blank_id mentions (hardcoded to 0)
  espnet2/asr_transducer/beam_search_transducer.py
  espnet2/asr_transducer/decoder/rnn_decoder.py
  espnet2/asr_transducer/decoder/stateless_decoder.py
  espnet2/asr_transducer/espnet_transducer_model.py
Due: auto add label=ESPnet2

apply black
  espnet2/asr_transducer/beam_search_transducer.py
Due: auto add label=ESPnet2

remove leading comment symbol
  espnet2/asr_transducer/espnet_transducer_model.py
Due: auto add label=ESPnet2

Add dev-ios results
  egs2/aishell2/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

fix the corrupted pretrained model
  egs/lrs/avsr1/run.sh
Due: auto add label=ESPnet1

Add test cases of postencoder
  espnet2/asr/postencoder/conformer_postencoder.py
  espnet2/asr/postencoder/transformer_postencoder.py
  test/espnet2/asr/postencoder/test_conformer_encoder.py
  test/espnet2/asr/postencoder/test_transformer_encoder.py
Due: auto add label=ESPnet2

Revise README.md
  egs2/aishell2/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

Add test cases for training with transcript
  espnet2/asr/espnet_model.py
  espnet2/bin/asr_inference.py
  test/espnet2/asr/test_transcript_espnet_model.py
Due: auto add label=ESPnet2

Update char_tokenizer.py
  espnet2/text/char_tokenizer.py
Due: auto add label=ESPnet2

Test espnet model with transcript
  test/espnet2/asr/test_transcript_espnet_model.py
Due: none

Add asr inference test case
  test/espnet2/bin/test_asr_inference_transcript.py
Due: none

Add GPU info in training configs
  egs2/aishell2/asr1/conf/tuning/train_asr_conformer.yaml
  egs2/aishell2/asr1/conf/tuning/transducer/train_conformer-rnn_transducer.yaml
Due: auto add label=ESPnet2

update, you need git clone s3prl right now
  espnet2/asr/frontend/s3prl.py
Due: auto add label=ESPnet2

applied black
  espnet2/asr/frontend/s3prl.py
Due: auto add label=ESPnet2

improved test
  test/espnet2/enh/test_espnet_model.py
Due: none

improved test, added iNeuBe docs
  espnet2/enh/separator/ineube_separator.py
  test/espnet2/enh/test_espnet_model.py
Due: auto add label=ESPnet2

added ineube loss function docstring
  espnet2/enh/loss/criterions/time_domain.py
  espnet2/tasks/enh.py
Due: auto add label=ESPnet2

added tcndenseunet docstring
  espnet2/enh/layers/tcndenseunet.py
Due: auto add label=ESPnet2

added denseblock docstring
  espnet2/enh/layers/tcndenseunet.py
Due: auto add label=ESPnet2

update according comments
  egs2/TEMPLATE/enh1/enh.sh
  espnet2/tasks/enh.py
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

added check for torch>=1.9
  espnet2/enh/separator/ineube_separator.py
Due: auto add label=ESPnet2

added training notes
  espnet2/enh/separator/ineube_separator.py
Due: auto add label=ESPnet2

move cgmlp and fastformer to a separate directory
  espnet2/asr/encoder/branchformer_encoder.py
  espnet2/asr/layers/cgmlp.py
  espnet2/asr/layers/fastformer.py
Due: auto add label=ESPnet2

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
