Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(ci/|.github/)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/

repair broken link
  doc/espnet3_tutorial.md
  doc/index.rst
Due: auto add label=Documentation

update wrapper on test_utils
  test_utils/espnet3/config/default.yaml
  test_utils/espnet3/config/model_ctc.yaml
Due: none

update docs
  doc/espnet3/parallel.md
Due: auto add label=Documentation

update espnet3 with wrapper
  espnet3/collect_stats.py
  espnet3/data/data_organizer.py
  espnet3/task.py
  espnet3/trainer/dataloader.py
  espnet3/trainer/model.py
  espnet3/trainer/trainer.py
  espnet3/wrapper/__init__.py
  espnet3/wrapper/fileio/__init__.py
  espnet3/wrapper/iterators/__init__.py
  espnet3/wrapper/samplers/__init__.py
  espnet3/wrapper/schedulers/__init__.py
  espnet3/wrapper/tasks/__init__.py
  espnet3/wrapper/torch_utils/__init__.py
  espnet3/wrapper/train/__init__.py
Due: none

add espnet3 test
  test/espnet3/test_data_organizer.py
  test/espnet3/test_dataloader_builder.py
  test/espnet3/test_model.py
  test/espnet3/test_task.py
  test/espnet3/test_trainer.py
Due: none

Add docstrings
  espnet3/wrapper/__init__.py
  espnet3/wrapper/iterators/__init__.py
  espnet3/wrapper/samplers/__init__.py
  espnet3/wrapper/schedulers/__init__.py
  espnet3/wrapper/tasks/__init__.py
  espnet3/wrapper/torch_utils/__init__.py
  espnet3/wrapper/train/__init__.py
Due: none

missing docstring
  espnet3/wrapper/fileio/__init__.py
Due: none

add mising task
  espnet3/wrapper/tasks/__init__.py
Due: none

Add unit test for task.py
  test/espnet3/systems/asr/test_task.py
Due: none

Added CI for asr system
  test/espnet3/systems/asr/test_system.py
Due: none

Add CI for test/espnet/systems
  test/espnet3/parallel/test_inference_provider.py
  test/espnet3/systems/asr/test_asr_inference.py
  test/espnet3/systems/asr/test_system.py
  test/espnet3/systems/asr/test_task.py
  test/espnet3/systems/asr/tokenizer/test_sentencepiece.py
  test/espnet3/systems/base/test_base_system.py
  test/espnet3/systems/base/test_inference.py
  test/espnet3/systems/base/test_inference_runner.py
  test/espnet3/systems/base/test_score.py
  test/espnet3/systems/base/test_train.py
  test/espnet3/utils/test_stages.py
  test_utils/espnet3/sentencepiece_model/dump1.txt
  test_utils/espnet3/sentencepiece_model/dump2.txt
  test_utils/espnet3/sentencepiece_model/train.txt
Due: none

Fixed CI issue
  test/espnet3/utils/test_task_utils.py
Due: none

Bug fix
  espnet3/utils/scp_utils.py
Due: none

Add validation-based lr scheduler such as ReduceOnPlateau
  espnet3/components/modeling/model.py
  test/espnet3/components/modeling/test_model_with_optim_scheduler.py
Due: none

Skip bulding tokenizer when exists
  espnet3/systems/asr/system.py
Due: none

Some bug fix for config loading
  espnet3/components/modeling/model.py
  espnet3/utils/config.py
  espnet3/utils/task.py
Due: none

Add transducer system, task, and inference runner
  espnet3/systems/asr/inference.py
  espnet3/systems/asr/transducer_system.py
  espnet3/systems/asr/transducer_task.py
Due: none

Add configs for integration test
  egs3/mini_an4/asr/conf/infer.yaml
  egs3/mini_an4/asr/conf/infer_transducer.yaml
  egs3/mini_an4/asr/conf/measure.yaml
  egs3/mini_an4/asr/conf/train_asr_rnn_data_aug_debug.yaml
  egs3/mini_an4/asr/conf/train_asr_rnn_debug.yaml
  egs3/mini_an4/asr/conf/train_asr_streaming_debug.yaml
  egs3/mini_an4/asr/conf/train_asr_transducer_debug.yaml
  egs3/mini_an4/asr/conf/train_asr_transformer.yaml
  egs3/mini_an4/asr/conf/train_asr_transformer_debug.yaml
  egs3/mini_an4/asr/conf/train_lm_rnn_debug.yaml
  egs3/mini_an4/asr/conf/train_transducer_asr_conformer_rnnt_debug.yaml
Due: none

Add running script for transducer with Transducer system
  egs3/mini_an4/asr/run_transducer.py
Due: none

Add more integration tests for ASR
  ci/test_integration_espnet3.sh
Due: auto add label=CI

Removed debug line
  ci/test_integration_espnet3.sh
Due: auto add label=CI

Format and fixed CI
  espnet3/components/modeling/model.py
  espnet3/systems/asr/inference.py
  espnet3/systems/asr/transducer_system.py
  espnet3/systems/asr/transducer_task.py
  test/espnet3/components/modeling/test_model_with_optim_scheduler.py
Due: none

Renamed espnet3/utils/task.py to task_utils.py
  espnet3/components/data/collect_stats.py
  espnet3/utils/task_utils.py
  test/espnet3/utils/test_task.py
Due: none

Rename callbacks.py to default_callbacks.py
  espnet3/components/callbacks/default_callbacks.py
  espnet3/components/training/trainer.py
  test/espnet3/components/callbacks/test_callback.py
Due: none

Renamed model.py to lightning_module.py
  espnet3/components/data/dataloader.py
  espnet3/components/data/dataset.py
  espnet3/components/modeling/lightning_module.py
  espnet3/components/training/trainer.py
  test/espnet3/components/modeling/test_model.py
  test/espnet3/components/modeling/test_model_with_optim_scheduler.py
  test/espnet3/components/training/test_trainer.py
Due: none

Applied format
  espnet3/components/data/dataloader.py
  espnet3/components/data/dataset.py
Due: none

Add several functionalities (see PR comment)
  espnet3/utils/logging.py
  test/espnet3/utils/test_logging.py
Due: none

Applied formatting
  espnet3/utils/logging.py
Due: none

Updated document
  doc/espnet3/parallel.md
Due: auto add label=Documentation

Separate logs for each stages
  egs3/TEMPLATE/asr/run.py
  espnet3/systems/asr/system.py
  espnet3/systems/base/system.py
  espnet3/utils/logging.py
  espnet3/utils/stages.py
  test/espnet3/utils/test_stages.py
Due: none

Revert .github/workflows/ci_on_ubuntu.yml
  .github/workflows/ci_on_ubuntu.yml
Due: auto add label=CI

Revert integration tests and recipes
  ci/test_integration_espnet3.sh
  egs2/mini_an4/asr1/downloads.tar.gz
  egs3/TEMPLATE/__init__.py
  egs3/TEMPLATE/asr/__init__.py
  egs3/TEMPLATE/asr/conf/infer.yaml
  egs3/TEMPLATE/asr/conf/measure.yaml
  egs3/TEMPLATE/asr/conf/train.yaml
  egs3/TEMPLATE/asr/readme.md
  egs3/TEMPLATE/asr/run.py
  egs3/__init__.py
  egs3/librispeech_100/__init__.py
  egs3/librispeech_100/asr/__init__.py
  egs3/librispeech_100/asr/conf/infer.yaml
  egs3/librispeech_100/asr/conf/measure.yaml
  egs3/librispeech_100/asr/conf/train.yaml
  egs3/librispeech_100/asr/conf/tuning/train_e_branchformer.yaml
  egs3/librispeech_100/asr/path.sh
  egs3/librispeech_100/asr/readme.md
  egs3/librispeech_100/asr/run.py
  egs3/librispeech_100/asr/run.sh
  egs3/librispeech_100/asr/src/__init__.py
  egs3/librispeech_100/asr/src/create_dataset.py
  egs3/librispeech_100/asr/src/dataset.py
  egs3/librispeech_100/asr/src/tokenizer.py
  egs3/mini_an4/__init__.py
  egs3/mini_an4/asr/__init__.py
  egs3/mini_an4/asr/conf/infer.yaml
  egs3/mini_an4/asr/conf/measure.yaml
  egs3/mini_an4/asr/conf/train.yaml
  egs3/mini_an4/asr/path.sh
  egs3/mini_an4/asr/run.py
  egs3/mini_an4/asr/run.sh
  egs3/mini_an4/asr/src/__init__.py
  egs3/mini_an4/asr/src/create_dataset.py
  egs3/mini_an4/asr/src/dataset.py
  egs3/mini_an4/asr/src/tokenizer.py
Due: auto add label=ESPnet2, auto add label=CI

Added pack-model, upload-model stage
  egs3/TEMPLATE/asr/conf/publish.yaml
  egs3/TEMPLATE/asr/run.py
  egs3/TEMPLATE/asr/src/__init__.py
  egs3/TEMPLATE/asr/src/get_readme.py
  egs3/TEMPLATE/asr/src/readme.md
  egs3/mini_an4/asr/run.sh
  espnet3/systems/asr/system.py
  espnet3/systems/base/system.py
  espnet3/utils/publish.py
  pyproject.toml
  test/espnet3/utils/test_publish.py
Due: none

feat(rw): add kinyarwanda tts recipe - Victor Olufemi
  egs2/kinyarwanda_tts/tts1/cmd.sh
  egs2/kinyarwanda_tts/tts1/conf/decode.yaml
  egs2/kinyarwanda_tts/tts1/conf/train.yaml
  egs2/kinyarwanda_tts/tts1/db.sh
  egs2/kinyarwanda_tts/tts1/local/data.sh
  egs2/kinyarwanda_tts/tts1/local/data_prep.py
  egs2/kinyarwanda_tts/tts1/path.sh
  egs2/kinyarwanda_tts/tts1/pyscripts
  egs2/kinyarwanda_tts/tts1/run.sh
  egs2/kinyarwanda_tts/tts1/scripts
  egs2/kinyarwanda_tts/tts1/steps
  egs2/kinyarwanda_tts/tts1/tts.sh
  egs2/kinyarwanda_tts/tts1/utils
Due: auto add label=ESPnet2

fix accuracy mismatch in batch inference
  espnet2/bin/tts_inference.py
  espnet2/legacy/nets/pytorch_backend/fastspeech/duration_predictor.py
  espnet2/legacy/nets/pytorch_backend/tacotron2/decoder.py
  espnet2/legacy/nets/pytorch_backend/transformer/encoder_layer.py
  espnet2/legacy/nets/pytorch_backend/transformer/multi_layer_conv.py
  espnet2/tts/espnet_model.py
  espnet2/tts/fastspeech2/fastspeech2.py
  espnet2/tts/fastspeech2/variance_predictor.py
Due: auto add label=ESPnet2
