Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

updates mfa for training
  egs2/TEMPLATE/asr1/pyscripts/utils/mfa_format.py
  egs2/TEMPLATE/asr1/scripts/utils/mfa.sh
  egs2/ljspeech/tts1/local/data.sh
Due: auto add label=ESPnet2

ci fixes
  egs2/TEMPLATE/asr1/pyscripts/utils/mfa_format.py
Due: auto add label=ESPnet2

fix fs of durations
  egs2/TEMPLATE/asr1/pyscripts/utils/mfa_format.py
  egs2/TEMPLATE/asr1/scripts/utils/mfa.sh
Due: auto add label=ESPnet2

add optimizer hooks
  espnet2/optimizers/optim_groups.py
  espnet2/tasks/abs_task.py
Due: auto add label=ESPnet2

fix flake8
  espnet/nets/pytorch_backend/state_spaces/base.py
  espnet/nets/pytorch_backend/state_spaces/block.py
  espnet/nets/pytorch_backend/state_spaces/cauchy.py
  espnet/nets/pytorch_backend/state_spaces/components.py
  espnet/nets/pytorch_backend/state_spaces/model.py
  espnet/nets/pytorch_backend/state_spaces/pool.py
  espnet/nets/pytorch_backend/state_spaces/residual.py
  espnet/nets/pytorch_backend/state_spaces/s4.py
  espnet/nets/pytorch_backend/state_spaces/utils.py
Due: auto add label=ESPnet1

add config
  egs2/aidatatang_200zh/asr1/conf/tuning/train_asr_e_branchformer_linear1024.yaml
Due: auto add label=ESPnet2

add sim link for config
  egs2/aidatatang_200zh/asr1/conf/train_asr_e_branchformer.yaml
Due: auto add label=ESPnet2

update readme
  egs2/aidatatang_200zh/asr1/README.md
  egs2/aidatatang_200zh/asr1/run.sh
Due: auto add label=ESPnet2, auto add label=README

update readme
  egs2/aidatatang_200zh/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

Update data preparation for the Librimix recipe to follow the same setup as existing data
  egs2/librimix/tse1/local/data.sh
  egs2/librimix/tse1/local/prepare_librimix_enroll.py
  egs2/librimix/tse1/local/prepare_spk2enroll_librispeech.py
  espnet2/enh/espnet_model_tse.py
Due: auto add label=ESPnet2

consider local/data.sh not having new arguments
  egs2/TEMPLATE/asr1/asr.sh
Due: auto add label=ESPnet2

Update asr.sh
  egs2/TEMPLATE/asr1/asr.sh
Due: auto add label=ESPnet2

CI
  egs2/TEMPLATE/asr1/asr.sh
  egs2/fleurs/asr1/local/data.sh
  egs2/fleurs/asr1/run.sh
Due: auto add label=ESPnet2

add conformer results in swbd
  egs2/swbd/asr1/README.md
  egs2/swbd/asr1/conf/decode_asr.yaml
  egs2/swbd/asr1/conf/tuning/train_asr_conformer_e12_size256_linear2048.yaml
Due: auto add label=ESPnet2, auto add label=README

check processing opts instead of tags for data processing
  egs2/TEMPLATE/asr1/asr.sh
Due: auto add label=ESPnet2

add e-branchformer results in swbd
  egs2/swbd/asr1/README.md
  egs2/swbd/asr1/conf/train_asr.yaml
  egs2/swbd/asr1/conf/train_asr_e_branchformer.yaml
  egs2/swbd/asr1/conf/tuning/train_asr_e_branchformer_e12_size256_mlp1024_linear1024_macaron.yaml
  egs2/swbd/asr1/run.sh
Due: auto add label=ESPnet2, auto add label=README

CI
  egs2/TEMPLATE/asr1/asr.sh
Due: auto add label=ESPnet2

black
  espnet2/tasks/asr.py
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

shorten debug messages
  espnet2/asr/espnet_model.py
  espnet2/tasks/asr.py
Due: auto add label=ESPnet2

support aux tasks in multitokenizer
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

use task names directly instead of optional data names
  espnet2/tasks/asr.py
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

remove duplicated VOXFORGE (line81 and line157)
  egs2/TEMPLATE/asr1/db.sh
Due: auto add label=ESPnet2

add conformer and ebranchformer results in wsj
  egs2/wsj/asr1/README.md
  egs2/wsj/asr1/conf/train_asr_conformer.yaml
  egs2/wsj/asr1/conf/train_asr_e_branchformer.yaml
  egs2/wsj/asr1/conf/tuning/train_asr_conformer_e12_linear2048.yaml
  egs2/wsj/asr1/conf/tuning/train_asr_conformer_e15_linear1024.yaml
  egs2/wsj/asr1/conf/tuning/train_asr_e_branchformer_e12_mlp1024_linear1024.yaml
  egs2/wsj/asr1/run.sh
Due: auto add label=ESPnet2, auto add label=README

Fix argument parsing for non_linguistic_symbols
  egs2/TEMPLATE/asr1/asr.sh
Due: auto add label=ESPnet2

update results in chime4
  egs2/chime4/asr1/README.md
  egs2/chime4/asr1/conf/decode_asr.yaml
  egs2/chime4/asr1/conf/train_asr_e_branchformer.yaml
  egs2/chime4/asr1/conf/tuning/train_asr_conformer_e12_linear1024.yaml
  egs2/chime4/asr1/conf/tuning/train_asr_conformer_e12_linear2048.yaml
  egs2/chime4/asr1/conf/tuning/train_asr_e_branchformer_e10_mlp1024_linear1024_macaron_lr1e-3_warmup25k.yaml
  egs2/chime4/asr1/run.sh
Due: auto add label=ESPnet2, auto add label=README

Add a warning statement when hypo length is equal to max length limitation.
  espnet/nets/batch_beam_search_online_sim.py
  espnet/nets/beam_search.py
Due: auto add label=ESPnet1

Reduce the words pf the ESPnet-SE++ joss paper
  doc/paper/espnet-se++/paper.md
Due: auto add label=Documentation

Update paper.md
  doc/paper/espnet-se++/paper.md
Due: auto add label=Documentation

update results in voxforge_it
  egs2/voxforge/asr1/README.md
  egs2/voxforge/asr1/conf/train_asr_e_branchformer.yaml
  egs2/voxforge/asr1/conf/tuning/train_asr_conformer_e12_linear2048.yaml
  egs2/voxforge/asr1/conf/tuning/train_asr_conformer_e15_linear1024.yaml
  egs2/voxforge/asr1/conf/tuning/train_asr_e_branchformer_e12_mlp1024_linear1024.yaml
  egs2/voxforge/asr1/run.sh
Due: auto add label=ESPnet2, auto add label=README

use default position encoding
  espnet2/gan_svs/vits/generator.py
Due: auto add label=ESPnet2

fix flake8(E731)
  espnet/nets/pytorch_backend/state_spaces/s4.py
  espnet/nets/pytorch_backend/state_spaces/utils.py
Due: auto add label=ESPnet1

fix hard coding
  tools/Makefile
Due: auto add label=Installation

fix comment
  espnet/nets/pytorch_backend/state_spaces/model.py
  espnet2/asr/decoder/s4_decoder.py
Due: auto add label=ESPnet1, auto add label=ESPnet2

fix flake8(E741)
  espnet/nets/pytorch_backend/state_spaces/s4.py
Due: auto add label=ESPnet1

fix CI
  setup.py
Due: auto add label=Installation

Address the comments in the draft
  doc/paper/espnet-se++/paper.md
Due: auto add label=Documentation

add ctc-only results in tedlium2
  egs2/tedlium2/asr1/README.md
  egs2/tedlium2/asr1/conf/decode_asr_ctc.yaml
  egs2/tedlium2/asr1/conf/tuning/train_asr_ctc_conformer_e12_linear2048.yaml
  egs2/tedlium2/asr1/conf/tuning/train_asr_ctc_conformer_e15_linear1024.yaml
  egs2/tedlium2/asr1/conf/tuning/train_asr_ctc_e_branchformer_e12_mlp1024_linear1024.yaml
Due: auto add label=ESPnet2, auto add label=README

apply black
  espnet/nets/pytorch_backend/state_spaces/model.py
Due: auto add label=ESPnet1

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
