Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

Update attention.py, using SDPA by default
  espnet/nets/pytorch_backend/transformer/attention.py
Due: auto add label=ESPnet1

Fixed CI issue
  espnet2/bin/asr_inference.py
  test/espnetez/test_integration_espnetez_ft.py
  tools/setup.py
Due: auto add label=ESPnet2, auto add label=Installation

Fix CI in espnet-ez integration test
  ci/test_integration_espnetez.sh
Due: auto add label=CI

Fix CI issue
  ci/install.sh
  ci/test_integration_espnetez.sh
  pyproject.toml
Due: auto add label=CI

Removed debug lines
  ci/install.sh
Due: auto add label=CI

Updated integration test for espnetez
  ci/test_integration_espnetez.sh
Due: auto add label=CI

Update installation.md based on review
  doc/installation.md
Due: auto add label=Documentation

Fixed CI
  ci/test_integration_espnet2.sh
  ci/test_integration_espnetez.sh
  test/espnet2/bin/test_s2t_inference_ctc.py
Due: auto add label=CI

replace return for new pytest version
  setup.py
  test/espnet2/enh/layers/test_complex_utils.py
Due: auto add label=Installation

format egs
  egs/an4/asr1/local/data_prep.py
  egs/covost2/st1/local/process_tsv.py
  egs/jnas/asr1/local/clean_text.py
  egs/jsut/tts1/local/clean_text.py
  egs/jvs/tts1/local/clean_text.py
  egs/mini_an4/asr1/local/data_prep.py
  egs/mini_an4/asr_mix1/local/data_prep.py
  egs/ru_open_stt/asr1/local/ru_open_stt_prepare_data.py
Due: auto add label=ESPnet1

format espnet
  espnet/nets/pytorch_backend/e2e_tts_transformer.py
  espnet/nets/pytorch_backend/e2e_vc_transformer.py
Due: auto add label=ESPnet1

format espnet2
  espnet2/asr/frontend/asteroid_frontend.py
  espnet2/asr/state_spaces/components.py
  espnet2/asr/state_spaces/s4.py
  espnet2/asr/state_spaces/utils.py
  espnet2/bin/asr_inference.py
  espnet2/bin/s2st_inference.py
  espnet2/bin/svs_inference.py
  espnet2/bin/tts2_inference.py
  espnet2/bin/tts_inference.py
  espnet2/enh/diffusion/sampling/__init__.py
  espnet2/enh/diffusion/score_based_diffusion.py
  espnet2/enh/layers/dnn_beamformer.py
  espnet2/enh/layers/tcn.py
  espnet2/enh/loss/criterions/time_domain.py
  espnet2/gan_codec/hificodec/module.py
  espnet2/gan_codec/shared/decoder/seanet.py
  espnet2/gan_codec/shared/decoder/seanet_2d.py
  espnet2/gan_codec/shared/discriminator/msstft_discriminator.py
  espnet2/gan_tts/vits/flow.py
  espnet2/gan_tts/vits/transform.py
  espnet2/tasks/enh_tse.py
  espnet2/text/cleaner.py
  espnet2/text/phoneme_tokenizer.py
  espnet2/train/dataset.py
Due: auto add label=ESPnet2

format espnetez
  espnetez/task.py
  espnetez/trainer.py
Due: none

format test
  test/espnet2/svs/test_singing_tacotron.py
  test/espnet2/text/test_phoneme_tokenizer.py
  test/espnetez/test_integration_espnetez_ft.py
  test/test_lm.py
  test/test_recog.py
  test/test_sentencepiece.py
Due: none

update test for new pytest version
  test/espnet2/enh/layers/test_complex_utils.py
  tools/setup.py
Due: auto add label=Installation

update timeout on pytest
  test/espnet2/enh/layers/test_dnsmos.py
Due: none

add missing pkg
  pyproject.toml
Due: none

fixes packages installation for ci
  ci/test_integration_espnetez.sh
  pyproject.toml
Due: auto add label=CI

changed from e branchformer to vanilla transformer with conv pos encoding
  egs3/ami/diar1/config.yaml
  egs3/ami/diar1/dataset/dataset.py
  egs3/ami/diar1/local/hungarian_pitloss.py
  egs3/ami/diar1/model.py
Due: none

Moved nltk from task-dependency into main dependency
  doc/installation.md
  pyproject.toml
Due: auto add label=Documentation

Add s2st dependency installation in integration test script
  ci/test_integration_espnet2.sh
Due: auto add label=CI

refactor audio segmentation to use OpenCpop TextGrid instead of AceSinger MIDI
  egs2/acesinger/svs1/local/data.sh
  egs2/acesinger/svs1/local/data_prep.py
  egs2/gtsinger/svs1/logs/run_log_stage_7__emotion.log
Due: auto add label=ESPnet2

refactor audio segmentation to use OpenCpop TextGrid instead of AceSinger MIDI
  egs2/gtsinger/svs1/logs/run_log_stage_7__emotion.log
Due: auto add label=ESPnet2

fix CI test
  espnet2/svs/discrete/frontend.py
  espnet2/svs/discrete/loss.py
  espnet2/svs/discrete/toksing.py
  espnet2/svs/discrete_svs_espnet_model.py
Due: auto add label=ESPnet2

fix CI test
  espnet2/svs/discrete/loss.py
Due: auto add label=ESPnet2

fix ci
  egs2/acesinger/svs1/local/data_prep.py
Due: auto add label=ESPnet2

flake8
  espnet2/asr/frontend/cnn.py
  espnet2/asr/frontend/espnet_ssl.py
Due: auto add label=ESPnet2

flake
  espnet/nets/pytorch_backend/transformer/embedding.py
Due: auto add label=ESPnet1

fix ci
  egs2/acesinger/svs1/local/data.sh
  egs2/acesinger/svs1/local/data_prep.py
  egs2/acesinger/svs1/local/midi-note.scp
Due: auto add label=ESPnet2

Add Dynamic-SUPERB inference with Qwen2-Audio.
  egs2/TEMPLATE/asr1/pyscripts/utils/download_dynamic_superb.py
  egs2/dynamic_superb/qwen2/cmd.sh
  egs2/dynamic_superb/qwen2/conf/decode_asr.yaml
  egs2/dynamic_superb/qwen2/conf/deepspeed_zero2.json
  egs2/dynamic_superb/qwen2/conf/fbank.conf
  egs2/dynamic_superb/qwen2/conf/pbs.conf
  egs2/dynamic_superb/qwen2/conf/pitch.conf
  egs2/dynamic_superb/qwen2/conf/queue.conf
  egs2/dynamic_superb/qwen2/conf/slurm.conf
  egs2/dynamic_superb/qwen2/conf/train_asr_rnn.yaml
  egs2/dynamic_superb/qwen2/conf/train_asr_sinc_rnn.yaml
  egs2/dynamic_superb/qwen2/conf/train_asr_transformer.yaml
  egs2/dynamic_superb/qwen2/conf/train_asr_transformer_deepspeed.yaml
  egs2/dynamic_superb/qwen2/conf/train_lm.yaml
  egs2/dynamic_superb/qwen2/db.sh
  egs2/dynamic_superb/qwen2/local/data.sh
  egs2/dynamic_superb/qwen2/local/path.sh
  egs2/dynamic_superb/qwen2/path.sh
  egs2/dynamic_superb/qwen2/pyscripts
  egs2/dynamic_superb/qwen2/run.sh
  egs2/dynamic_superb/qwen2/scripts
  egs2/dynamic_superb/qwen2/steps
  egs2/dynamic_superb/qwen2/utils
  espnet2/bin/dynamic_superb_inference.py
  espnet2/dynamic_superb/espnet_model.py
  espnet2/tasks/dynamic_superb.py
Due: auto add label=ESPnet2

Complete the evaluation pipeline for Qwen2-Audio on Dynamic-SUPERB ASR tasks.
  egs2/dynamic_superb/qwen2/run.sh
  espnet2/bin/dynamic_superb_inference.py
  espnet2/dynamic_superb/espnet_model.py
  espnet2/tasks/dynamic_superb.py
  espnet2/text/build_tokenizer.py
  espnet2/text/qwen2audio_tokenizer.py
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

Update cnceleb recipe
  egs2/TEMPLATE/asr1/pyscripts/utils/spk_calculate_scores_from_embeddings.py
  egs2/TEMPLATE/spk1/spk.sh
  egs2/cnceleb/spk1/README.md
  egs2/cnceleb/spk1/conf/decode.yaml
  egs2/cnceleb/spk1/conf/train_ECAPA_mel.yaml
  egs2/cnceleb/spk1/conf/train_ecapa_tdnn.yaml
  egs2/cnceleb/spk1/conf/train_resnet221.yaml
  egs2/cnceleb/spk1/conf/train_resnet34.yaml
  egs2/cnceleb/spk1/conf/tuning/train_ecapa_tdnn.yaml
  egs2/cnceleb/spk1/conf/tuning/train_resnet221.yaml
  egs2/cnceleb/spk1/conf/tuning/train_resnet34.yaml
  egs2/cnceleb/spk1/local/convert_trial.py
  egs2/cnceleb/spk1/local/data.sh
  egs2/cnceleb/spk1/local/data_prep.py
  egs2/cnceleb/spk1/run.sh
  espnet2/schedulers/exponential_decay_warmup.py
  espnet2/spk/encoder/resnet_encoder.py
  espnet2/spk/layers/resnet_block.py
  espnet2/tasks/abs_task.py
  espnet2/tasks/spk.py
Due: auto add label=ESPnet2, auto add label=README

update the description for README.md
  egs2/TEMPLATE/ser1/README.md
Due: auto add label=ESPnet2, auto add label=README

change slurm to local for passing ci
  egs2/msp_podcast/ser1/cmd.sh
Due: auto add label=ESPnet2

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(ci/|.github/)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
