Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

remove espnet2 transducer tests
  test/espnet2/asr/transducer/test_beam_search_transducer.py
  test/espnet2/asr/transducer/test_error_calculator_transducer.py
  test/espnet2/asr/transducer/test_transducer_decoder.py
Due: none

remove previous transducer version
  espnet2/asr/espnet_model.py
  espnet2/asr/transducer/transducer_decoder.py
  espnet2/bin/asr_inference.py
  espnet2/tasks/asr.py
Due: auto add label=ESPnet2

add new transducer version
  espnet2/asr/transducer/beam_search_transducer.py
  espnet2/asr/transducer/decoder/abs_decoder.py
  espnet2/asr/transducer/decoder/rnn_decoder.py
  espnet2/asr/transducer/decoder/stateless_decoder.py
  espnet2/asr/transducer/error_calculator.py
  espnet2/asr/transducer/espnet_transducer_model.py
  espnet2/asr/transducer/initialize.py
  espnet2/asr/transducer/joint_network.py
  espnet2/bin/asr_transducer_inference.py
  espnet2/bin/asr_transducer_train.py
  espnet2/tasks/asr_transducer.py
Due: auto add label=ESPnet2

add dummy handle for transducer asr task
  egs2/TEMPLATE/asr1/asr.sh
Due: auto add label=ESPnet2

cleaner changes to template
  egs2/TEMPLATE/asr1/asr.sh
Due: auto add label=ESPnet2

update c-t config
  egs/librispeech_100/asr1/conf/tuning/train_conformer_transducer.yaml
Due: auto add label=ESPnet1

add results
  egs/librispeech_100/asr1/RESULTS.md
Due: auto add label=ESPnet1

fix model links
  egs/librispeech_100/asr1/RESULTS.md
Due: auto add label=ESPnet1

Update README.md
  egs2/README.md
Due: auto add label=ESPnet2, auto add label=README

bengali asr model, with no finetuning
  egs2/TEMPLATE/asr1/db.sh
  egs2/sbn/asr1/asr.sh
  egs2/sbn/asr1/cmd.sh
  egs2/sbn/asr1/conf/decode_asr.yaml
  egs2/sbn/asr1/conf/fbank.conf
  egs2/sbn/asr1/conf/pbs.conf
  egs2/sbn/asr1/conf/pitch.conf
  egs2/sbn/asr1/conf/queue.conf
  egs2/sbn/asr1/conf/slurm.conf
  egs2/sbn/asr1/conf/train_asr.yaml
  egs2/sbn/asr1/conf/train_lm.yaml
  egs2/sbn/asr1/db.sh
  egs2/sbn/asr1/local/data.sh
  egs2/sbn/asr1/local/data_prep.py
  egs2/sbn/asr1/local/path.sh
  egs2/sbn/asr1/path.sh
  egs2/sbn/asr1/pyscripts
  egs2/sbn/asr1/run.sh
  egs2/sbn/asr1/scripts
  egs2/sbn/asr1/steps
  egs2/sbn/asr1/utils
Due: auto add label=ESPnet2

remove the support of pytorch 1.3.1
  .github/workflows/ci.yaml
Due: auto add label=CI

Update README.md
  README.md
Due: auto add label=README

black
  egs2/iwslt22_dialect/st1/local/preprocess.py
  egs2/iwslt22_dialect/st1/run.sh
Due: auto add label=ESPnet2

mask modification
  espnet2/asr/encoder/contextual_block_conformer_encoder.py
  espnet2/asr/encoder/contextual_block_transformer_encoder.py
Due: auto add label=ESPnet2

Update
  egs2/TEMPLATE/asr1/pyscripts/utils/score_summarization.py
  egs2/how2/sum1/cmd.sh
  egs2/how2/sum1/conf/decode_asr.yaml
  egs2/how2/sum1/conf/decode_sum.yaml
  egs2/how2/sum1/conf/fbank.conf
  egs2/how2/sum1/conf/pbs.conf
  egs2/how2/sum1/conf/pitch.conf
  egs2/how2/sum1/conf/queue.conf
  egs2/how2/sum1/conf/slurm.conf
  egs2/how2/sum1/conf/train_asr_conformer_lf.yaml
  egs2/how2/sum1/conf/train_asr_conformer_vid_lf.yaml
  egs2/how2/sum1/conf/train_sum_conformer_lf.yaml
  egs2/how2/sum1/conf/tuning/decode.yaml
  egs2/how2/sum1/conf/tuning/decode_ctc.yaml
  egs2/how2/sum1/conf/tuning/decode_sum.yaml
  egs2/how2/sum1/conf/tuning/train_asr_conformer_vid_ctc_lf.yaml
  egs2/how2/sum1/conf/tuning/train_asr_conformer_vid_lf.yaml
  egs2/how2/sum1/local/data.sh
  egs2/how2/sum1/local/path.sh
  egs2/how2/sum1/local/run_asr.sh
  egs2/how2/sum1/local/score.sh
  egs2/how2/sum1/run.sh
  egs2/how2/sum1/scripts
  espnet2/asr/decoder/transformer_decoder.py
  espnet2/asr/encoder/conformer_encoder.py
  tools/installers/install_longformer.sh
Due: auto add label=ESPnet2, auto add label=Installation

Added README
  egs2/how2/sum1/README.md
  egs2/how2/sum1/conf/tuning/train_asr_conformer_vid_ctc_lf.yaml
  egs2/how2/sum1/conf/tuning/train_asr_conformer_vid_lf.yaml
  egs2/how2/sum1/local/combine_100s_dialogs.sh
  egs2/how2/sum1/local/combine_dialogs.sh
  espnet/nets/pytorch_backend/transformer/longformer_attention.py
Due: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=README

Update README.md
  egs2/how2/sum1/README.md
Due: auto add label=ESPnet2, auto add label=README

add ST configs
  egs2/iwslt22_dialect/st1/conf/decode_st.yaml
  egs2/iwslt22_dialect/st1/conf/train_st_conformer.yaml
  egs2/iwslt22_dialect/st1/conf/train_st_transformer.yaml
  egs2/iwslt22_dialect/st1/conf/tuning/train_st_conformer_ctc0.3_lr2e-3_warmup15k_newspecaug.yaml
  egs2/iwslt22_dialect/st1/conf/tuning/transformer_fisherlike_4gpu_bbins16m.yaml
Due: auto add label=ESPnet2

add results
  egs2/iwslt22_dialect/asr1/RESULTS.md
  egs2/iwslt22_dialect/st1/RESULT.md
Due: auto add label=ESPnet2

asr recipe
  egs2/iwslt22_dialect/asr1/asr.sh
  egs2/iwslt22_dialect/asr1/cmd.sh
  egs2/iwslt22_dialect/asr1/conf/decode_asr.yaml
  egs2/iwslt22_dialect/asr1/conf/fbank.conf
  egs2/iwslt22_dialect/asr1/conf/pbs.conf
  egs2/iwslt22_dialect/asr1/conf/pitch.conf
  egs2/iwslt22_dialect/asr1/conf/queue.conf
  egs2/iwslt22_dialect/asr1/conf/rnn_lm.yaml
  egs2/iwslt22_dialect/asr1/conf/slurm.conf
  egs2/iwslt22_dialect/asr1/conf/train_asr_conformer.yaml
  egs2/iwslt22_dialect/asr1/conf/train_asr_transformer.yaml
  egs2/iwslt22_dialect/asr1/conf/tuning/train_asr_conformer_ctc0.3_lr2e-3_warmup15k_newspecaug.yaml
  egs2/iwslt22_dialect/asr1/conf/tuning/transformer_fisherlike_4gpu_bbins16m_fix.yaml
  egs2/iwslt22_dialect/asr1/db.sh
  egs2/iwslt22_dialect/asr1/local/data.sh
  egs2/iwslt22_dialect/asr1/local/path.sh
  egs2/iwslt22_dialect/asr1/local/preprocess.py
  egs2/iwslt22_dialect/asr1/path.sh
  egs2/iwslt22_dialect/asr1/pyscripts
  egs2/iwslt22_dialect/asr1/run.sh
  egs2/iwslt22_dialect/asr1/scripts
  egs2/iwslt22_dialect/asr1/steps
  egs2/iwslt22_dialect/asr1/utils
  egs2/iwslt22_dialect/st1/run.sh
Due: auto add label=ESPnet2

Update
  egs2/TEMPLATE/asr1/pyscripts/utils/score_summarization.py
  egs2/TEMPLATE/asr1/scripts/utils/show_asr_result.sh
  egs2/how2/sum1/local/data.sh
  egs2/how2/sum1/local/path.sh
  egs2/how2/sum1/local/score.sh
  tools/installers/install_longformer.sh
Due: auto add label=ESPnet2, auto add label=Installation

add baseline for librispeech 100h
  egs2/librispeech_100/asr1/conf/decode_asr.yaml
  egs2/librispeech_100/asr1/conf/decode_asr_nolm.yaml
  egs2/librispeech_100/asr1/conf/train_asr.yaml
  egs2/librispeech_100/asr1/conf/tuning/train_asr_conformer.yaml
  egs2/librispeech_100/asr1/conf/tuning/train_asr_conformer_lr2e-3_warmup15k_amp_nondeterministic.yaml
  egs2/librispeech_100/asr1/run.sh
Due: auto add label=ESPnet2

update README for librispeech 100h in ESPnet2
  egs2/librispeech_100/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

fix ci for librosa update
  espnet/transform/spectrogram.py
  espnet2/utils/griffin_lim.py
  utils/convert_fbank_to_wav.py
Due: auto add label=ESPnet1, auto add label=ESPnet2

fix typo
  espnet/nets/pytorch_backend/transformer/encoder.py
Due: auto add label=ESPnet1

updated to v0.10.6 🎉
  espnet/version.txt
Due: auto add label=ESPnet1

updated to v0.10.7a1
  espnet/version.txt
Due: auto add label=ESPnet1

asr run.sh
  egs2/iwslt22_dialect/asr1/run.sh
Due: auto add label=ESPnet2

add punctuation comment
  egs2/iwslt22_dialect/st1/run.sh
Due: auto add label=ESPnet2

add st huggingface upload
  egs2/TEMPLATE/st1/st.sh
  egs2/iwslt22_dialect/asr1/RESULTS.md
  egs2/iwslt22_dialect/st1/RESULT.md
  egs2/iwslt22_dialect/st1/RESULTS.md
  egs2/iwslt22_dialect/st1/conf/decode_st_conformer.yaml
  egs2/iwslt22_dialect/st1/conf/decode_st_transformer.yaml
  espnet2/bin/pack.py
Due: auto add label=ESPnet2

black
  espnet2/bin/pack.py
Due: auto add label=ESPnet2

Changed directory name
  egs2/ben_openslr53/asr1/asr.sh
  egs2/ben_openslr53/asr1/cmd.sh
  egs2/ben_openslr53/asr1/conf/decode_asr.yaml
  egs2/ben_openslr53/asr1/conf/fbank.conf
  egs2/ben_openslr53/asr1/conf/pbs.conf
  egs2/ben_openslr53/asr1/conf/pitch.conf
  egs2/ben_openslr53/asr1/conf/queue.conf
  egs2/ben_openslr53/asr1/conf/slurm.conf
  egs2/ben_openslr53/asr1/conf/train_asr.yaml
  egs2/ben_openslr53/asr1/conf/train_lm.yaml
  egs2/ben_openslr53/asr1/db.sh
  egs2/ben_openslr53/asr1/local/data.sh
  egs2/ben_openslr53/asr1/local/data_prep.py
  egs2/ben_openslr53/asr1/local/path.sh
  egs2/ben_openslr53/asr1/path.sh
  egs2/ben_openslr53/asr1/pyscripts
  egs2/ben_openslr53/asr1/run.sh
  egs2/ben_openslr53/asr1/scripts
  egs2/ben_openslr53/asr1/steps
  egs2/ben_openslr53/asr1/utils
Due: auto add label=ESPnet2

changed directory name pt. 2
  egs2/bn_openslr53/asr1/asr.sh
  egs2/bn_openslr53/asr1/cmd.sh
  egs2/bn_openslr53/asr1/conf/decode_asr.yaml
  egs2/bn_openslr53/asr1/conf/fbank.conf
  egs2/bn_openslr53/asr1/conf/pbs.conf
  egs2/bn_openslr53/asr1/conf/pitch.conf
  egs2/bn_openslr53/asr1/conf/queue.conf
  egs2/bn_openslr53/asr1/conf/slurm.conf
  egs2/bn_openslr53/asr1/conf/train_asr.yaml
  egs2/bn_openslr53/asr1/conf/train_lm.yaml
  egs2/bn_openslr53/asr1/db.sh
  egs2/bn_openslr53/asr1/local/data.sh
  egs2/bn_openslr53/asr1/local/data_prep.py
  egs2/bn_openslr53/asr1/local/path.sh
  egs2/bn_openslr53/asr1/path.sh
  egs2/bn_openslr53/asr1/pyscripts
  egs2/bn_openslr53/asr1/run.sh
  egs2/bn_openslr53/asr1/scripts
  egs2/bn_openslr53/asr1/steps
  egs2/bn_openslr53/asr1/utils
Due: auto add label=ESPnet2

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
