Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(ci/|.github/)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/

Assert the number of results in the batch_decode input tests
  test/espnet2/bin/test_asr_inference.py
Due: none

Accept Sequence[Union[int, np.integer]] for speech_lengths
  espnet2/bin/asr_inference.py
  espnet2/bin/s2t_inference.py
  test/espnet2/bin/test_asr_inference.py
Due: auto add label=ESPnet2

Select an available quantized engine before quantize_dynamic
  espnet2/bin/asr_inference.py
  espnet2/bin/asr_transducer_inference.py
  espnet2/bin/lm_inference.py
  espnet2/bin/s2t_inference.py
  espnet2/bin/s2t_inference_language.py
  espnet2/bin/slu_inference.py
  espnet2/bin/uasr_inference.py
  espnet2/torch_utils/quantization.py
  test/espnet2/torch_utils/test_quantization.py
Due: auto add label=ESPnet2

Isolate quantized engine state in tests using monkeypatch
  test/espnet2/torch_utils/test_quantization.py
Due: none

Vectorise ScoreFilter.batch_score
  espnet2/bin/s2t_inference.py
  test/espnet2/bin/test_score_filter.py
Due: auto add label=ESPnet2

Keep _batch_score_loop reference, eliminate redundant device transfers, and document equivalence tests
  espnet2/bin/s2t_inference.py
  test/espnet2/bin/test_score_filter.py
Due: auto add label=ESPnet2

Add an Open ASR Leaderboard test to the OWSM v4 recipe
  egs2/owsm_v4/s2t1/README.md
  egs2/owsm_v4/s2t1/local/eval_hf_asr_leaderboard.py
  egs2/owsm_v4/s2t1/local/prepare_hf_asr_leaderboard.py
  egs2/owsm_v4/s2t1/local/run_hf_asr_leaderboard.sh
Due: auto add label=ESPnet2, auto add label=README

Pin the dataset revision, validate reused samples, six default sets, positive batch size
  egs2/owsm_v4/s2t1/local/eval_hf_asr_leaderboard.py
  egs2/owsm_v4/s2t1/local/prepare_hf_asr_leaderboard.py
  egs2/owsm_v4/s2t1/local/run_hf_asr_leaderboard.sh
Due: auto add label=ESPnet2

Support full Open ASR Leaderboard evaluation and small smoke test profile
  egs2/owsm_v4/s2t1/README.md
  egs2/owsm_v4/s2t1/local/eval_hf_asr_leaderboard.py
  egs2/owsm_v4/s2t1/local/prepare_hf_asr_leaderboard.py
  egs2/owsm_v4/s2t1/local/run_hf_asr_leaderboard.sh
Due: auto add label=ESPnet2, auto add label=README

Use torch.ao.quantization.quantize_dynamic with backward-compatible fallback
  espnet2/torch_utils/quantization.py
Due: auto add label=ESPnet2

fix docstrings
  espnet3/systems/owsm/metrics/error_rate.py
  espnet3/systems/owsm/tokenizers/__init__.py
Due: none

Decide the frame lengths by what the processor returned
  espnet2/asr/frontend/huggingface.py
Due: auto add label=ESPnet2

Take the adjacent space with a removed phoneme symbol
  espnet2/text/phoneme_tokenizer.py
  test/espnet2/text/test_phoneme_tokenizer.py
Due: auto add label=ESPnet2

Check the frontend's scope when it is built, not at the first batch
  espnet2/asr/frontend/huggingface.py
Due: auto add label=ESPnet2

Keep the test docstrings within the line limit
  test/espnet2/bin/test_score_filter.py
Due: none

Keep the wrapper's docstring within the line limit
  espnet2/torch_utils/quantization.py
Due: auto add label=ESPnet2

Say to name the system for a published tag, refuse backend_class there, and test load()
  espnet3/api/inference/loading.py
  espnet3/systems/base/backend_inference.py
  espnet3/systems/esp2_asr/inference.py
  test/espnet3/systems/esp2_asr/test_inference.py
Due: none

Keep the test line within 88 columns
  test/espnet3/systems/esp2_asr/test_inference.py
Due: none

Say which ESPnet2 models the asr system reads from the Hub, and which not
  espnet3/systems/esp2_asr/inference.py
Due: none

Point the TTS demo badge at the Space this repository maintains
  README.md
Due: auto add label=README

Add the OWSM system's Inference, and let decode_long yield as it goes
  ci/check_inference_imports.py
  espnet2/bin/s2t_inference.py
  espnet3/api/inference/loading.py
  espnet3/systems/esp2_s2t/__init__.py
  espnet3/systems/esp2_s2t/inference.py
  test/espnet2/bin/test_s2t_inference.py
  test/espnet3/systems/esp2_s2t/__init__.py
  test/espnet3/systems/esp2_s2t/test_inference.py
Due: auto add label=ESPnet2, auto add label=CI

Raise the PR size guideline to 30 files / 1500 lines
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Due: auto add label=CI
