Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(ci/|.github/)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/

espnet.nets.batch_beam_search_online to espnet2.legacy.nets.batch_beam_search_online
  espnet2/bin/asr_inference_streaming.py
  espnet2/bin/st_inference_streaming.py
  espnet2/legacy/nets/batch_beam_search_online.py
Due: auto add label=ESPnet2

espnet.nets.batch_beam_search_online_sim to espnet2.legacy.nets.batch_beam_search_online_sim
  espnet2/bin/asr_inference.py
  espnet2/bin/s2t_inference_ctc.py
  espnet2/bin/slu_inference.py
  espnet2/legacy/nets/batch_beam_search_online_sim.py
  test/espnet2/asr/decoder/test_transformer_decoder.py
Due: auto add label=ESPnet2

espnet.nets.beam_search_partially_AR to espnet2.legacy.nets.beam_search_partially_AR
  espnet2/asr/partially_AR_model.py
  espnet2/legacy/nets/beam_search_partially_AR.py
Due: auto add label=ESPnet2

espnet.nets.beam_search_timesync_streaming to espnet2.legacy.nets.beam_search_timesync_streaming
  espnet/nets/batch_beam_search_online.py
  espnet2/legacy/nets/batch_beam_search_online.py
  espnet2/legacy/nets/beam_search_timesync_streaming.py
Due: auto add label=ESPnet1, auto add label=ESPnet2

espnet.nets.batch_beam_search to espnet2.legacy.nets.batch_beam_search
  espnet/asr/pytorch_backend/recog.py
  espnet/nets/batch_beam_search_online.py
  espnet/nets/batch_beam_search_online_sim.py
  espnet/nets/beam_search_partially_AR.py
  espnet2/bin/asr_inference.py
  espnet2/bin/lm_inference.py
  espnet2/bin/mt_inference.py
  espnet2/bin/s2st_inference.py
  espnet2/bin/s2t_inference.py
  espnet2/bin/s2t_inference_ctc.py
  espnet2/bin/slu_inference.py
  espnet2/bin/st_inference.py
  espnet2/bin/uasr_inference.py
  espnet2/legacy/nets/batch_beam_search.py
  espnet2/legacy/nets/batch_beam_search_online.py
  espnet2/legacy/nets/batch_beam_search_online_sim.py
  espnet2/legacy/nets/beam_search_partially_AR.py
  test/espnet2/asr/decoder/test_s4_decoder.py
  test/espnet2/asr/decoder/test_transformer_decoder.py
  test/espnet2/lm/test_seq_rnn_lm.py
  test/espnet2/lm/test_transformer_lm.py
Due: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR

espnet.nets.beam_search_timesync to espnet2.legacy.nets.beam_search_timesync
  espnet2/bin/asr_inference.py
  espnet2/legacy/nets/beam_search_timesync.py
Due: auto add label=ESPnet2

espnet.nets.ctc_prefix_score to espnet2.legacy.nets.ctc_prefix_score
  espnet/nets/chainer_backend/e2e_asr_transformer.py
  espnet/nets/chainer_backend/rnn/decoders.py
  espnet/nets/pytorch_backend/e2e_asr_mix_transformer.py
  espnet/nets/pytorch_backend/e2e_asr_transformer.py
  espnet/nets/pytorch_backend/rnn/decoders.py
  espnet/nets/scorers/ctc.py
  espnet/nets/scorers/uasr.py
  espnet2/legacy/nets/ctc_prefix_score.py
Due: auto add label=ESPnet1, auto add label=ESPnet2

espnet.nets.e2e_asr_common to espnet2.legacy.nets.e2e_asr_common
  espnet/nets/batch_beam_search_online.py
  espnet/nets/batch_beam_search_online_sim.py
  espnet/nets/beam_search.py
  espnet/nets/beam_search_partially_AR.py
  espnet/nets/chainer_backend/e2e_asr.py
  espnet/nets/chainer_backend/e2e_asr_transformer.py
  espnet/nets/chainer_backend/rnn/decoders.py
  espnet/nets/chainer_backend/rnn/encoders.py
  espnet/nets/pytorch_backend/e2e_asr.py
  espnet/nets/pytorch_backend/e2e_asr_mix.py
  espnet/nets/pytorch_backend/e2e_asr_mix_transformer.py
  espnet/nets/pytorch_backend/e2e_asr_mulenc.py
  espnet/nets/pytorch_backend/e2e_asr_transformer.py
  espnet/nets/pytorch_backend/e2e_mt.py
  espnet/nets/pytorch_backend/e2e_mt_transformer.py
  espnet/nets/pytorch_backend/e2e_st.py
  espnet/nets/pytorch_backend/e2e_st_transformer.py
  espnet/nets/pytorch_backend/rnn/decoders.py
  espnet/nets/pytorch_backend/rnn/encoders.py
  espnet/nets/pytorch_backend/transducer/rnn_encoder.py
  espnet2/asr/discrete_asr_espnet_model.py
  espnet2/asr/encoder/vgg_rnn_encoder.py
  espnet2/asr/espnet_model.py
  espnet2/asr/maskctc_model.py
  espnet2/hubert/espnet_model.py
  espnet2/legacy/nets/batch_beam_search_online.py
  espnet2/legacy/nets/batch_beam_search_online_sim.py
  espnet2/legacy/nets/beam_search.py
  espnet2/legacy/nets/beam_search_partially_AR.py
  espnet2/legacy/nets/e2e_asr_common.py
  espnet2/s2st/espnet_model.py
  espnet2/s2t/espnet_ctc_model.py
  espnet2/s2t/espnet_model.py
  espnet2/slu/espnet_model.py
  espnet2/st/espnet_model.py
Due: auto add label=ESPnet1, auto add label=ESPnet2

espnet.nets.e2e_mt_common to espnet2.legacy.nets. e2e_mt_common
  espnet/nets/pytorch_backend/e2e_mt_transformer.py
  espnet/nets/pytorch_backend/e2e_st_transformer.py
  espnet2/legacy/nets/e2e_mt_common.py
  espnet2/mt/espnet_model.py
  espnet2/s2st/espnet_model.py
  espnet2/st/espnet_model.py
Due: auto add label=ESPnet1, auto add label=ESPnet2

Add init
  espnet2/legacy/__init__.py
  espnet2/legacy/asr/__init__.py
  espnet2/legacy/nets/__init__.py
  espnet2/legacy/nets/pytorch_backend/conformer/__init__.py
Due: auto add label=ESPnet2

add init
  espnet2/legacy/nets/pytorch_backend/__init__.py
Due: auto add label=ESPnet2

Moved espnet/nets/pytorch_backend/conformer/
  espnet2/legacy/nets/pytorch_backend/conformer/contextual_block_encoder_layer.py
  espnet2/legacy/nets/pytorch_backend/conformer/convolution.py
  espnet2/legacy/nets/pytorch_backend/conformer/encoder.py
  espnet2/legacy/nets/pytorch_backend/conformer/encoder_layer.py
  espnet2/legacy/nets/pytorch_backend/conformer/swish.py
Due: auto add label=ESPnet2

Moved egs2-specific espnet-1 dependency
  espnet2/legacy/transform/transformation.py
  espnet2/legacy/utils/cli_readers.py
  espnet2/legacy/utils/cli_writers.py
  espnet2/legacy/utils/io_utils.py
Due: auto add label=ESPnet2

Replaced espnet.utils with espnet2.legacy.utils in `egs2/`
  egs2/TEMPLATE/asr1/pyscripts/audio/compute_vad.py
  egs2/TEMPLATE/asr1/pyscripts/audio/format_wav_scp.py
  egs2/TEMPLATE/asr1/pyscripts/feats/dump_km_label.py
  egs2/TEMPLATE/asr1/pyscripts/feats/ssl_feature_utils.py
  egs2/TEMPLATE/asr1/pyscripts/text/combine_text_and_vocab.py
  egs2/TEMPLATE/asr1/pyscripts/text/make_text_scp.py
  egs2/TEMPLATE/asr1/pyscripts/text/post_processing.py
  egs2/TEMPLATE/asr1/pyscripts/utils/calculate_speech_metrics.py
  egs2/TEMPLATE/asr1/pyscripts/utils/evaluate_whisper_inference.py
  egs2/TEMPLATE/asr1/pyscripts/utils/format_score_scp.py
  egs2/TEMPLATE/asr1/pyscripts/utils/learn_kmeans.py
  egs2/easycom/avsr1/local/extract_av_feature.py
  egs2/iam/ocr1/local/data_prep.py
  egs2/librispeech/asr2/local/dump_hubert_or_wavlm_feature.py
  egs2/lrs2/lipreading1/local/feature_extract/extract_visual_feature.py
  egs2/lrs3/avsr1/local/extract_av_feature.py
  utils/feat-to-shape.py
  utils/trim_silence.py
Due: auto add label=ESPnet2

Replace espnet.transform with espnet2.legacy.transform in `egs2/`
  utils/feat-to-shape.py
Due: none

Add version files into espnet2
  espnet2/__init__.py
  espnet2/version.txt
Due: auto add label=ESPnet2

Fixed version
  espnet2/tasks/abs_task.py
Due: auto add label=ESPnet2

Update version on pyproject.toml
  pyproject.toml
Due: none

Format espnet2/
  espnet2/asr/decoder/mlm_decoder.py
  espnet2/asr/decoder/transformer_decoder.py
  espnet2/asr/encoder/contextual_block_conformer_encoder.py
  espnet2/asr/encoder/contextual_block_transformer_encoder.py
  espnet2/asr/encoder/transformer_encoder.py
  espnet2/asr/encoder/transformer_encoder_multispkr.py
  espnet2/asr/partially_AR_model.py
  espnet2/enh/separator/conformer_separator.py
  espnet2/gan_tts/jets/generator.py
  espnet2/legacy/nets/batch_beam_search_online.py
  espnet2/legacy/nets/pytorch_backend/conformer/encoder.py
  espnet2/legacy/nets/pytorch_backend/e2e_tts_fastspeech.py
  espnet2/legacy/nets/pytorch_backend/e2e_tts_tacotron2.py
  espnet2/legacy/nets/pytorch_backend/e2e_tts_transformer.py
  espnet2/legacy/nets/pytorch_backend/transducer/utils.py
  espnet2/legacy/nets/pytorch_backend/transformer/decoder.py
  espnet2/legacy/nets/pytorch_backend/transformer/encoder.py
  espnet2/legacy/nets/scorers/ngram.py
  espnet2/lm/espnet_model_multitask.py
  espnet2/main_funcs/calculate_all_attentions.py
  espnet2/mt/espnet_model.py
  espnet2/s2st/aux_attention/multihead.py
  espnet2/s2st/espnet_model.py
  espnet2/slu/postencoder/transformer_postencoder.py
  espnet2/st/espnet_model.py
  espnet2/svs/naive_rnn/naive_rnn.py
  espnet2/svs/naive_rnn/naive_rnn_dp.py
  espnet2/svs/singing_tacotron/decoder.py
  espnet2/svs/xiaoice/XiaoiceSing.py
  espnet2/tts/fastspeech/fastspeech.py
  espnet2/tts/fastspeech2/fastspeech2.py
  espnet2/tts/prodiff/prodiff.py
  espnet2/tts/tacotron2/tacotron2.py
  espnet2/tts/transformer/transformer.py
  espnet2/tts2/fastspeech2/fastspeech2_discrete.py
Due: auto add label=ESPnet2

Add noqa: E501 to long import sentence
  espnet2/asr/encoder/contextual_block_conformer_encoder.py
  espnet2/asr/encoder/contextual_block_transformer_encoder.py
  espnet2/asr/encoder/longformer_encoder.py
Due: auto add label=ESPnet2

Applied black to test/espnet2/
  test/espnet2/main_funcs/test_calculate_all_attentions.py
Due: none

Add required script
  espnet2/legacy/transform/spectrogram.py
Due: auto add label=ESPnet2

add owsm-ctc
  egs2/owsm_ctc_v4/s2t1/cmd.sh
  egs2/owsm_ctc_v4/s2t1/conf/fbank.conf
  egs2/owsm_ctc_v4/s2t1/conf/pbs.conf
  egs2/owsm_ctc_v4/s2t1/conf/pitch.conf
  egs2/owsm_ctc_v4/s2t1/conf/queue.conf
  egs2/owsm_ctc_v4/s2t1/conf/slurm.conf
  egs2/owsm_ctc_v4/s2t1/conf/train_owsmctc_ebf27_conv2d8_size1024_mel128_bs320.yaml
  egs2/owsm_ctc_v4/s2t1/db.sh
  egs2/owsm_ctc_v4/s2t1/local/path.sh
  egs2/owsm_ctc_v4/s2t1/path.sh
  egs2/owsm_ctc_v4/s2t1/pyscripts
  egs2/owsm_ctc_v4/s2t1/run.sh
  egs2/owsm_ctc_v4/s2t1/s2t.sh
  egs2/owsm_ctc_v4/s2t1/scripts
  egs2/owsm_ctc_v4/s2t1/utils
Due: auto add label=ESPnet2

fix nodelist
  egs2/ipapack_plus/s2t1/run.sh
Due: auto add label=ESPnet2

add readme
  egs2/owsm_v4/s2t1/README.md
Due: auto add label=ESPnet2, auto add label=README

add requirements.txt
  egs2/ipapack_plus/s2t1/local/requirements.txt
Due: auto add label=ESPnet2

Remove unnecessary cat.
  egs2/voxlingua107/lid1/local/data.sh
Due: auto add label=ESPnet2

makes CI happy
  test/espnet2/gan_tts/vits/test_vits.py
Due: none

Removed unused functions
  espnet2/legacy/asr/__init__.py
  espnet2/legacy/asr/asr_utils.py
  espnet2/legacy/nets/e2e_asr_common.py
  espnet2/legacy/nets/pytorch_backend/e2e_tts_fastspeech.py
  espnet2/legacy/nets/pytorch_backend/e2e_tts_tacotron2.py
  espnet2/legacy/nets/pytorch_backend/e2e_tts_transformer.py
  espnet2/legacy/nets/pytorch_backend/fastspeech/duration_calculator.py
  espnet2/legacy/nets/pytorch_backend/tacotron2/cbhg.py
  espnet2/legacy/nets/pytorch_backend/transducer/utils.py
  espnet2/legacy/nets/pytorch_backend/transformer/initializer.py
  espnet2/legacy/nets/pytorch_backend/transformer/mask.py
  espnet2/legacy/nets/pytorch_backend/transformer/plot.py
  espnet2/legacy/nets/transducer_decoder_interface.py
  espnet2/legacy/nets/tts_interface.py
  espnet2/legacy/transform/add_deltas.py
  espnet2/legacy/transform/channel_selector.py
  espnet2/legacy/transform/cmvn.py
  espnet2/legacy/transform/functional.py
  espnet2/legacy/transform/perturb.py
  espnet2/legacy/transform/spec_augment.py
  espnet2/legacy/transform/transform_interface.py
  espnet2/legacy/transform/wpe.py
  espnet2/legacy/utils/cli_utils.py
  espnet2/legacy/utils/dynamic_import.py
  espnet2/legacy/utils/fill_missing_args.py
  espnet2/legacy/utils/io_utils.py
Due: auto add label=ESPnet2

Update version (espnet.__version__ to espnet2.__version__)
  egs2/TEMPLATE/asr1/scripts/utils/show_asr_result.sh
  egs2/TEMPLATE/asr1/scripts/utils/show_asvspoof_result.sh
  egs2/TEMPLATE/asr1/scripts/utils/show_cls_result.sh
  egs2/TEMPLATE/asr1/scripts/utils/show_diar_result.sh
  egs2/TEMPLATE/asr1/scripts/utils/show_enh_score.sh
  egs2/TEMPLATE/asr1/scripts/utils/show_spk_result.py
  egs2/TEMPLATE/asr1/scripts/utils/show_translation_result.sh
  egs2/TEMPLATE/asr1/scripts/utils/show_tts_results.sh
  espnet2/main_funcs/pack_funcs.py
Due: auto add label=ESPnet2

Fixed import on transform
  espnet2/legacy/transform/functional.py
  espnet2/legacy/transform/perturb.py
  espnet2/legacy/transform/spec_augment.py
Due: auto add label=ESPnet2

Removed unrequired tests and fixed import
  test/espnet2/legacy/test_e2e_compatibility.py
  test/espnet2/legacy/test_e2e_tts_fastspeech.py
  test/espnet2/legacy/test_e2e_tts_tacotron2.py
  test/espnet2/legacy/test_e2e_tts_transformer.py
  test/espnet2/legacy/test_loss.py
Due: none

CI fixes
  espnet2/legacy/transform/transformation.py
  espnet2/legacy/utils/dynamic_import.py
  test/espnet2/legacy/test_loss.py
  test/espnet2/legacy/test_sentencepiece.py
  test/test_batch_beam_search.py
  test/test_beam_search.py
  test/test_beam_search_timesync.py
  test/test_beam_search_timesync_streaming.py
Due: auto add label=ESPnet2

Add and updated beam-search unit tests
  espnet2/legacy/nets/transducer_decoder_interface.py
  test/espnet2/legacy/test_batch_beam_search.py
  test/espnet2/legacy/test_beam_search.py
  test/espnet2/legacy/test_beam_search_timesync.py
  test/espnet2/legacy/test_beam_search_timesync_streaming.py
  test/test_beam_search.py
  test/test_beam_search_timesync.py
  test/test_beam_search_timesync_streaming.py
Due: auto add label=ESPnet2
