Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

fix different concat type
  espnet2/gan_svs/vits/duration_predictor.py
  test/espnet2/gan_svs/visinger/test_visinger_generator.py
Due: auto add label=ESPnet2

add scripts to process test set feature individually (feature extraction, feature clustering)
  egs2/TEMPLATE/asr1/scripts/feats/feats_clustering.sh
  egs2/TEMPLATE/asr1/scripts/feats/feats_clustering_cuml.sh
  egs2/TEMPLATE/uasr1/uasr.sh
  espnet2/bin/uasr_extract_feature.py
Due: auto add label=ESPnet2

small fix
  egs2/TEMPLATE/uasr1/uasr.sh
Due: auto add label=ESPnet2

minor fix for inference
  espnet2/bin/s2st_inference.py
  espnet2/s2st/espnet_model.py
  espnet2/s2st/synthesizer/translatotron.py
Due: auto add label=ESPnet2

minor fix for data.sh for data downloading
  egs2/cvss/s2st1/local/data.sh
Due: auto add label=ESPnet2

add libri_100h & chime4 configs and results
  egs2/chime4/asr1/README.md
  egs2/chime4/asr1/conf/decode_asr_whisper_noctc_beam20.yaml
  egs2/chime4/asr1/conf/decode_asr_whisper_noctc_greedy.yaml
  egs2/chime4/asr1/conf/tuning/train_asr_whisper_full.yaml
  egs2/librispeech_100/asr1/README.md
  egs2/librispeech_100/asr1/conf/decode_asr_whisper_noctc_greedy.yaml
Due: auto add label=ESPnet2, auto add label=README

fix win_length null error in frame level
  espnet2/svs/feats_extract/score_feats_extract.py
Due: auto add label=ESPnet2

update LibriSpeech960hr hubert pretraining README, results and huggingface pretrained models
  egs2/librilight_limited/asr1/conf/tuning/train_asr_hubert_base_10h_finetuning.yaml
  egs2/librispeech/ssl1/README.md
  egs2/librispeech/ssl1/run.sh
Due: auto add label=ESPnet2, auto add label=README

Fix CI test errors.
  egs2/librimix/sot_asr1/local/data.sh
Due: auto add label=ESPnet2

fix test to skip pytorch version less than 1.7.0
  test/espnet2/asr/decoder/test_s4_decoder.py
Due: none

Update run.sh
  egs/commonvoice/asr1/run.sh
Due: auto add label=ESPnet1

minor fix in tasks
  espnet2/tasks/s2st.py
Due: auto add label=ESPnet2

fix test to skip pytorch version less than 1.10.0
  test/espnet2/asr/decoder/test_s4_decoder.py
Due: none

Update hubert feature and acknowledge information in related Readmes.
  README.md
  egs2/librispeech/ssl1/README.md
Due: auto add label=ESPnet2, auto add label=README

add comments on not using <blank> symbol
  espnet/nets/e2e_asr_common.py
  espnet2/asr/espnet_model.py
Due: auto add label=ESPnet1, auto add label=ESPnet2

sample md ctc confs
  egs2/must_c_v2/st1/conf/tuning/decode_st_md_ctc0.3.yaml
  egs2/must_c_v2/st1/conf/tuning/train_st_ctc_md_conformer_asrinit_v3_noamp_batch50m.yaml
Due: auto add label=ESPnet2

Add local changes to new branch
  egs2/wsj0_2mix/enh1/conf/tuning/train_enh_tfgridnet_tf_lr-patience3_patience5.yaml
  espnet2/enh/separator/tfgridnet_separator.py
  espnet2/tasks/enh.py
Due: auto add label=ESPnet2

update README.md
  egs2/wsj0_2mix/enh1/README.md
Due: auto add label=ESPnet2, auto add label=README

add huggingface model urls
  egs2/chime4/asr1/README.md
  egs2/librispeech_100/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

apply black, isort; fix flake8 errors
  espnet/nets/batch_beam_search.py
  espnet/nets/beam_search.py
  espnet2/asr/decoder/whisper_decoder.py
  espnet2/asr/encoder/whisper_encoder.py
  espnet2/asr/espnet_model.py
  espnet2/asr/frontend/whisper.py
  espnet2/bin/asr_inference.py
  espnet2/bin/tokenize_text.py
  espnet2/bin/whisper_export_vocabulary.py
  espnet2/tasks/asr.py
  espnet2/text/build_tokenizer.py
  espnet2/text/cleaner.py
  espnet2/text/whisper_token_id_converter.py
  espnet2/text/whisper_tokenizer.py
  espnet2/train/preprocessor.py
  test/espnet2/asr/decoder/test_whisper_decoder.py
  test/espnet2/asr/encoder/test_whisper_encoder.py
  test/espnet2/asr/frontend/test_whisper.py
  test/espnet2/bin/test_whisper_export_vocabulary.py
  test/espnet2/text/test_whisper_token_id_converter.py
  test/espnet2/text/test_whisper_tokenizer.py
Due: auto add label=ESPnet1, auto add label=ESPnet2

fix ci complaint on comment style
  espnet2/bin/whisper_export_vocabulary.py
  espnet2/text/whisper_token_id_converter.py
  espnet2/text/whisper_tokenizer.py
Due: auto add label=ESPnet2

fix flake8 complaints on docstring
  espnet2/asr/encoder/whisper_encoder.py
Due: auto add label=ESPnet2

Update README
  README.md
Due: auto add label=README

remove docstrings
  espnet2/asr/frontend/adapter_utils/adapters/adapter.py
  espnet2/asr/frontend/adapter_utils/adapters/adapter_transformer.py
  espnet2/asr/frontend/adapter_utils/add_adapters.py
Due: auto add label=ESPnet2

apply black
  espnet2/asr/frontend/adapter_utils/adapters/adapter_transformer.py
Due: auto add label=ESPnet2

fix nn dependency
  espnet2/asr/frontend/adapter_utils/adapters/adapter_transformer.py
Due: auto add label=ESPnet2

small fix
  egs2/TEMPLATE/asr1/pyscripts/feats/feats_cluster_cuml.py
  egs2/TEMPLATE/asr1/pyscripts/feats/mean_pool_scp.py
  egs2/TEMPLATE/asr1/pyscripts/feats/merge_clusters.py
  egs2/TEMPLATE/asr1/pyscripts/feats/pca_cuml.py
  egs2/TEMPLATE/asr1/scripts/feats/feats_clustering.sh
  espnet2/uasr/espnet_model.py
Due: auto add label=ESPnet2

fix batch_size in config file
  egs2/timit/uasr1/conf/train_uasr.yaml
Due: auto add label=ESPnet2

Generating MFA aligments (#4803)
  egs2/TEMPLATE/asr1/pyscripts/utils/mfa_format.py
  egs2/TEMPLATE/asr1/scripts/utils/mfa.sh
  egs2/TEMPLATE/asr1/scripts/utils/mfa_format.py
  egs2/TEMPLATE/tts1/README.md
  egs2/ljspeech/tts1/local/data.sh
  egs2/ljspeech/tts1/local/run_mfa.sh
  egs2/tsukuyomi/tts1/local/data_prep.sh
  tools/Makefile
  tools/installers/install_mfa.sh
Due: auto add label=ESPnet2, auto add label=README, auto add label=Installation

run black to format code
  espnet2/enh/separator/tfgridnet_separator.py
Due: auto add label=ESPnet2

add sample md
  egs2/must_c_v2/st1/conf/tuning/decode_st_md.yaml
  egs2/must_c_v2/st1/conf/tuning/train_st_md_conformer_asrinit_v3.yaml
Due: auto add label=ESPnet2

add import or skip for pytest
  test/espnet2/asr/decoder/test_whisper_decoder.py
  test/espnet2/asr/encoder/test_whisper_encoder.py
  test/espnet2/asr/frontend/test_whisper.py
  test/espnet2/bin/test_whisper_export_vocabulary.py
  test/espnet2/text/test_whisper_token_id_converter.py
  test/espnet2/text/test_whisper_tokenizer.py
Due: none

Minor fix to librimix diar recipe
  egs2/librimix/diar1/local/data.sh
Due: auto add label=ESPnet2

apply black and isort
  egs2/TEMPLATE/asr1/pyscripts/audio/compute_vad.py
  egs2/TEMPLATE/asr1/pyscripts/feats/apply_pca.py
  egs2/TEMPLATE/asr1/pyscripts/feats/apply_pca_cuml.py
  egs2/TEMPLATE/asr1/pyscripts/feats/feats_apply_cluster_cuml.py
  egs2/TEMPLATE/asr1/pyscripts/feats/feats_apply_cluster_faiss.py
  egs2/TEMPLATE/asr1/pyscripts/feats/feats_cluster_cuml.py
  egs2/TEMPLATE/asr1/pyscripts/feats/feats_cluster_faiss.py
  egs2/TEMPLATE/asr1/pyscripts/feats/mean_pool_scp.py
  egs2/TEMPLATE/asr1/pyscripts/feats/merge_clusters.py
  egs2/TEMPLATE/asr1/pyscripts/feats/pca.py
  egs2/TEMPLATE/asr1/pyscripts/feats/pca_cuml.py
  egs2/TEMPLATE/enh_asr1/scripts/utils/eval_perm_free_error.py
  egs2/TEMPLATE/uasr1/pyscripts/text/combine_text_and_vocab.py
  egs2/TEMPLATE/uasr1/pyscripts/text/insert_silence.py
  egs2/TEMPLATE/uasr1/pyscripts/text/make_text_scp.py
  egs2/TEMPLATE/uasr1/pyscripts/text/post_processing.py
  espnet2/bin/uasr_extract_feature.py
  espnet2/fileio/read_text.py
  espnet2/fileio/vad_scp.py
  espnet2/tasks/uasr.py
  espnet2/train/dataset.py
  espnet2/train/uasr_trainer.py
  espnet2/uasr/discriminator/conv_discriminator.py
  espnet2/uasr/espnet_model.py
  espnet2/uasr/generator/conv_generator.py
  espnet2/uasr/loss/abs_loss.py
  espnet2/uasr/loss/discriminator_loss.py
  espnet2/uasr/loss/gradient_penalty.py
  espnet2/uasr/loss/phoneme_diversity_loss.py
  espnet2/uasr/loss/pseudo_label_loss.py
  espnet2/uasr/loss/smoothness_penalty.py
  espnet2/uasr/segmenter/join_segmenter.py
  espnet2/uasr/segmenter/random_segmenter.py
  setup.py
Due: auto add label=ESPnet2, auto add label=Installation

fix shell checks
  egs2/TEMPLATE/asr1/scripts/audio/compute_vad.sh
  egs2/TEMPLATE/asr1/scripts/feats/feats_clustering.sh
Due: auto add label=ESPnet2

add doc
  README.md
Due: auto add label=README

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
