Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

test
  random.sh
Due: none

start folder for accented french dataset
  egs2/accented_french_openslr56/asr1/README.md
  egs2/accented_french_openslr56/asr1/asr.sh
  egs2/accented_french_openslr56/asr1/cmd.sh
  egs2/accented_french_openslr56/asr1/conf/fbank.conf
  egs2/accented_french_openslr56/asr1/conf/pbs.conf
  egs2/accented_french_openslr56/asr1/conf/pitch.conf
  egs2/accented_french_openslr56/asr1/conf/queue.conf
  egs2/accented_french_openslr56/asr1/conf/slurm.conf
  egs2/accented_french_openslr56/asr1/conf/train_lm_transformer.yaml
  egs2/accented_french_openslr56/asr1/conf/tuning/decode_asr_rnn.yaml
  egs2/accented_french_openslr56/asr1/conf/tuning/decode_transformer.yaml
  egs2/accented_french_openslr56/asr1/conf/tuning/train_asr_conformer5.yaml
  egs2/accented_french_openslr56/asr1/db.sh
  egs2/accented_french_openslr56/asr1/local/data.sh
  egs2/accented_french_openslr56/asr1/local/path.sh
  egs2/accented_french_openslr56/asr1/path.sh
  egs2/accented_french_openslr56/asr1/pyscripts
  egs2/accented_french_openslr56/asr1/run.sh
  egs2/accented_french_openslr56/asr1/scripts
  egs2/accented_french_openslr56/asr1/steps
  egs2/accented_french_openslr56/asr1/utils
Due: auto add label=ESPnet2, auto add label=README

training for hier mt enc
  egs2/TEMPLATE/st1/st.sh
  egs2/iwslt22_dialect/st1/conf/tuning_hier/hier_ctc_v1.yaml
  egs2/iwslt22_dialect/st1/run_md.sh
  espnet2/st/espnet_model_md_hier.py
  espnet2/tasks/st.py
Due: auto add label=ESPnet2

change val mt error calc to acc
  espnet2/st/espnet_model_md_hier.py
Due: auto add label=ESPnet2

test data prep
  egs2/accented_french_openslr56/asr1/local/data.sh
Due: auto add label=ESPnet2

Updating files for PR
  egs2/ml_openslr63/asr1/conf/train_asr.yaml
  egs2/ml_openslr63/asr1/conf/train_lm_2.yaml
  egs2/ml_openslr63/asr1/conf/tuning/decode_rnn.yaml
  egs2/ml_openslr63/asr1/conf/tuning/train_asr_conformer.yaml
  egs2/ml_openslr63/asr1/conf/tuning/train_asr_conformer5.yaml
  egs2/ml_openslr63/asr1/conf/tuning/train_asr_conformer5_specaug.yaml
  egs2/ml_openslr63/asr1/conf/tuning/train_asr_rnn.yaml
  egs2/ml_openslr63/asr1/conf/tuning/train_asr_transformer.yaml
  egs2/ml_openslr63/asr1/run.sh
  egs2/ml_openslr63/asr1/run_default.sh
  egs2/ml_openslr63/asr1/run_fused.sh
  egs2/ml_openslr63/asr1/run_fused_optim.sh
  egs2/ml_openslr63/asr1/run_hubert.sh
  egs2/ml_openslr63/asr1/run_specaug.sh
  egs2/ml_openslr63/results/fused_old_results.zip
Due: auto add label=ESPnet2

Hubert result added
  egs2/ml_openslr63/asr1/RESULTS_hubert_new.md
Due: auto add label=ESPnet2

Added README.md
  egs2/ml_openslr63/asr1/README.md
  egs2/ml_openslr63/asr1/RESULTS_fused_new.md
Due: auto add label=ESPnet2, auto add label=README

Update.
  egs2/mediaspeech/asr1/conf/decode_asr.yaml
  egs2/mediaspeech/asr1/conf/train_asr_fused_frontends.yaml
  egs2/mediaspeech/asr1/conf/train_asr_transformer.yaml
  egs2/mediaspeech/asr1/local/data.sh
  egs2/mediaspeech/asr1/run.sh
Due: auto add label=ESPnet2

Updating README.md for PR
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/ml_openslr63/asr1/RESULTS_base_new.md
  egs2/ml_openslr63/asr1/RESULTS_base_old.md
  egs2/ml_openslr63/asr1/RESULTS_fused_old.md
  egs2/ml_openslr63/asr1/RESULTS_hubert_new.md
  egs2/ml_openslr63/asr1/RESULTS_hubert_old.md
Due: auto add label=ESPnet2, auto add label=README

Update.
  egs2/mediaspeech/asr1/local/data.sh
  egs2/mediaspeech/asr1/local/data_prep.py
  egs2/mediaspeech/asr1/run.sh
Due: auto add label=ESPnet2

Updating files for PR
  egs2/ml_openslr63/asr1/conf/train_asr.yaml
  egs2/ml_openslr63/asr1/conf/tuning/train_asr_conformer_s3prlfrontend_hubert.yaml
  egs2/ml_openslr63/asr1/conf/tuning/train_asr_conformer_s3prlfrontend_hubert_fused.yaml
Due: auto add label=ESPnet2

update fisher callhome result without callhome training
  egs2/fisher_callhome_spanish/st1/RESULT.md
Due: auto add label=ESPnet2

minor modification
  egs2/dsing/asr1/conf/pitch.conf
  egs2/dsing/asr1/local/data.sh
  egs2/dsing/asr1/local/data_prep.py
Due: auto add label=ESPnet2

Update.
  egs2/mediaspeech/asr1/conf/train_asr.yaml
  egs2/mediaspeech/asr1/run.sh
Due: auto add label=ESPnet2

update result for dsing
  egs2/dsing/asr1/RESULTS.md
Due: auto add label=ESPnet2

Update.
  egs2/mediaspeech/asr1/conf/train_asr_transformer.yaml
  egs2/mediaspeech/asr1/run.sh
Due: auto add label=ESPnet2

Changed db.sh in TEMPLATE
  egs2/TEMPLATE/asr1/db.sh
Due: auto add label=ESPnet2

prepare train, dev data and remove missing audio files from transcript files
  egs2/accented_french_openslr56/asr1/local/data.sh
  egs2/accented_french_openslr56/asr1/remove_missing.py
  egs2/accented_french_openslr56/asr1/run.sh
Due: auto add label=ESPnet2

val bleu bug fix
  espnet2/st/espnet_model_md_hier.py
Due: auto add label=ESPnet2

Update.
  egs2/mediaspeech/asr1/conf/train_asr_fused_frontends.yaml
  egs2/mediaspeech/asr1/run.sh
Due: auto add label=ESPnet2

update README
  egs2/zh_openslr38/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

remove pdb
  espnet2/st/espnet_model_md_hier.py
Due: auto add label=ESPnet2

ctc sampling
  egs2/iwslt22_dialect/st1/conf/tuning_samp/samp_v1.yaml
  espnet2/st/espnet_model_md_samp.py
  espnet2/tasks/st.py
Due: auto add label=ESPnet2

ctc sampling template change
  egs2/TEMPLATE/st1/st.sh
Due: auto add label=ESPnet2

filter blank ctc predictions
  espnet2/st/espnet_model_md_samp.py
Due: auto add label=ESPnet2

add minds14
  egs2/minds14/asr1/README.md
  egs2/minds14/asr1/asr.sh
  egs2/minds14/asr1/cmd.sh
  egs2/minds14/asr1/conf/fbank.conf
  egs2/minds14/asr1/conf/pbs.conf
  egs2/minds14/asr1/conf/pitch.conf
  egs2/minds14/asr1/conf/queue.conf
  egs2/minds14/asr1/conf/slurm-2.conf
  egs2/minds14/asr1/conf/slurm.conf
  egs2/minds14/asr1/conf/smaller_conformer_wav2vec.yaml
  egs2/minds14/asr1/conf/train_asr.yaml
  egs2/minds14/asr1/conf/train_hubert.yaml
  egs2/minds14/asr1/conf/train_wav2vec.yaml
  egs2/minds14/asr1/db.sh
  egs2/minds14/asr1/local/data.sh
  egs2/minds14/asr1/local/data_prep.py
  egs2/minds14/asr1/local/path.sh
  egs2/minds14/asr1/local/score.py
  egs2/minds14/asr1/local/score.sh
  egs2/minds14/asr1/path.sh
  egs2/minds14/asr1/pyscripts
  egs2/minds14/asr1/run.sh
  egs2/minds14/asr1/scripts
  egs2/minds14/asr1/steps
  egs2/minds14/asr1/utils
Due: auto add label=ESPnet2, auto add label=README

changed files.
  egs2/mediaspeech/asr1/conf/train_asr_fused_frontends.yaml
  egs2/mediaspeech/asr1/run.sh
Due: auto add label=ESPnet2

Update.
  egs2/mediaspeech/asr1/conf/train_asr_fused_frontends.yaml
Due: auto add label=ESPnet2

add minds14 to list in readme, add default train config
  egs2/README.md
  egs2/minds14/asr1/conf/train.yaml
Due: auto add label=ESPnet2, auto add label=README

edit readme file
  egs2/minds14/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

add bpe
  egs2/minds14/asr1/local/data_prep.py
  egs2/minds14/asr1/run_new.sh
Due: auto add label=ESPnet2

add line in db.sh remove setup.sh
  egs2/TEMPLATE/asr1/db.sh
  egs2/ml_openslr63/asr1/setup.sh
Due: auto add label=ESPnet2

Clean up run.sh
  egs2/aaf_openslr57/asr1/run.sh
Due: auto add label=ESPnet2

Clean up data preparation script
  egs2/aaf_openslr57/asr1/local/data_prep_aaf.py
Due: auto add label=ESPnet2

updated README.md to include OpenSLR 63 corpus details
  egs2/README.md
Due: auto add label=ESPnet2, auto add label=README

Update README.md
  egs2/README.md
Due: auto add label=ESPnet2, auto add label=README

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
