Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

add subsampling as a pre encoder
  espnet2/asr/preencoder/subsampling.py
Due: auto add label=ESPnet2

Add inference instruction in notebook
  egsez/asr/libri100.ipynb
Due: none

Add TTS demo
  egsez/tts/finetune.yaml
  egsez/tts/tacotron2.ipynb
  egsez/tts/tacotron2.yaml
  egsez/tts/tacotron2_finetune.ipynb
Due: none

Add wrapper function for espnet2.bin.tokenize_text
  espnetez/preprocess/__init__.py
  espnetez/preprocess/tokenizer.py
Due: none

update denoising and dereverb recipe
  egs2/wsj/derever1/cmd.sh
  egs2/wsj/derever1/conf/pbs.conf
  egs2/wsj/derever1/conf/queue.conf
  egs2/wsj/derever1/conf/slurm.conf
  egs2/wsj/derever1/conf/tuning/train_enh_blstm_tf.yaml
  egs2/wsj/derever1/conf/tuning/train_enh_sgmse_dcunet.yaml
  egs2/wsj/derever1/conf/tuning/train_enh_sgmse_ncsnpp.yaml
  egs2/wsj/derever1/conf/tuning/train_enh_sgmse_ncsnpp_steplr.yaml
  egs2/wsj/derever1/db.sh
  egs2/wsj/derever1/enh.sh
  egs2/wsj/derever1/local/convert2wav.sh
  egs2/wsj/derever1/local/create_wsj0_reverb.py
  egs2/wsj/derever1/local/data.sh
  egs2/wsj/derever1/local/path.sh
  egs2/wsj/derever1/path.sh
  egs2/wsj/derever1/pyscripts
  egs2/wsj/derever1/run.sh
  egs2/wsj/derever1/scripts
  egs2/wsj/derever1/steps
  egs2/wsj/derever1/utils
  egs2/wsj/enh1/conf/tuning/train_enh_sgmse_ncsnpp_steplr.yaml
  egs2/wsj/enh1/local/convert2wav.sh
  egs2/wsj/enh1/local/create_wsj0_chime3.py
  espnet2/enh/diffusion/score_based_diffusion.py
Due: auto add label=ESPnet2

add lazy import for NCSNpp
  espnet2/enh/diffusion/score_based_diffusion.py
Due: auto add label=ESPnet2

update score model
  espnet2/enh/diffusion/score_based_diffusion.py
Due: auto add label=ESPnet2

fix setup
  egs2/TEMPLATE/spk1/setup.sh
Due: auto add label=ESPnet2

fix readme with new stage
  egs2/TEMPLATE/tts1/README.md
Due: auto add label=ESPnet2, auto add label=README

add espnet spk in tts, add spk embedding as a separate stage
  egs2/TEMPLATE/tts1/tts.sh
Due: auto add label=ESPnet2

fix espnet model
  espnet2/spk/espnet_model.py
Due: auto add label=ESPnet2

minor fix
  espnet2/bin/spk_inference.py
Due: auto add label=ESPnet2

change type
  espnet2/bin/spk_inference.py
Due: auto add label=ESPnet2

apply black
  egs2/TEMPLATE/asr1/pyscripts/utils/extract_xvectors.py
  espnet2/bin/spk_inference.py
Due: auto add label=ESPnet2

update missing code for espnet type
  egs2/TEMPLATE/asr1/pyscripts/utils/extract_xvectors.py
Due: auto add label=ESPnet2

wrong name update
  egs2/TEMPLATE/asr1/pyscripts/utils/extract_xvectors.py
Due: auto add label=ESPnet2

switch to train_config and model_file to align with huggingface pre-trained models
  egs2/TEMPLATE/asr1/pyscripts/utils/extract_xvectors.py
  espnet2/bin/spk_inference.py
Due: auto add label=ESPnet2

fix debug info and update huggingface compatibale inference setting
  egs2/TEMPLATE/tts1/tts.sh
  espnet2/bin/spk_inference.py
Due: auto add label=ESPnet2

fix Uhion typo
  espnet2/bin/spk_inference.py
Due: auto add label=ESPnet2

fix bug: make minlenratio effective
  espnet/nets/batch_beam_search.py
  espnet/nets/beam_search.py
Due: auto add label=ESPnet1

add length norm option
  espnet/nets/batch_beam_search.py
  espnet/nets/beam_search.py
  espnet2/bin/mt_inference.py
Due: auto add label=ESPnet1, auto add label=ESPnet2

fix the length normalize
  espnet/nets/batch_beam_search.py
  espnet/nets/beam_search.py
Due: auto add label=ESPnet1

add asr_inference
  espnet/nets/beam_search.py
  espnet2/bin/asr_inference.py
  espnet2/bin/mt_inference.py
Due: auto add label=ESPnet1, auto add label=ESPnet2

apply black
  espnet/nets/beam_search.py
  espnet2/bin/asr_inference.py
  espnet2/bin/mt_inference.py
Due: auto add label=ESPnet1, auto add label=ESPnet2

fix a bug
  espnet/nets/beam_search.py
Due: auto add label=ESPnet1

fix ci issue
  espnet/nets/beam_search.py
Due: auto add label=ESPnet1

reset to spk_embed instead of xvector
  egs2/TEMPLATE/asr1/pyscripts/utils/extract_spk_embed.py
Due: auto add label=ESPnet2

change default to spk embedding instead of xvector
  egs2/TEMPLATE/asr1/pyscripts/utils/extract_spk_embed.py
  egs2/TEMPLATE/tts1/tts.sh
Due: auto add label=ESPnet2

fix spk embedding naming
  egs2/TEMPLATE/asr1/pyscripts/utils/convert_to_avg_spk_embed.py
  egs2/TEMPLATE/asr1/pyscripts/utils/convert_to_avg_xvectors.py
  egs2/TEMPLATE/asr1/steps/data/data_dir_manipulation_lib.py
  egs2/TEMPLATE/asr1/steps/data/reverberate_data_dir.py
  egs2/TEMPLATE/asr1/steps/libs/__init__.py
  egs2/TEMPLATE/asr1/steps/libs/common.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/__init__.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/report/__init__.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/report/log_parse.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/train/__init__.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/train/chain_objf/__init__.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/train/chain_objf/acoustic_model.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/train/common.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/train/dropout_schedule.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/train/frame_level_objf/__init__.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/train/frame_level_objf/acoustic_model.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/train/frame_level_objf/common.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/train/frame_level_objf/raw_model.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/xconfig/attention.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/xconfig/basic_layers.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/xconfig/composite_layers.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/xconfig/convolution.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/xconfig/gru.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/xconfig/lstm.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/xconfig/parser.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/xconfig/stats_layer.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/xconfig/trivial_layers.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/xconfig/utils.py
  egs2/TEMPLATE/asr1/steps/segmentation/convert_utt2spk_and_segments_to_rttm.py
  egs2/TEMPLATE/asr1/utils/data/extend_segment_times.py
  egs2/TEMPLATE/tts1/README.md
  egs2/TEMPLATE/tts1/tts.sh
Due: auto add label=ESPnet2, auto add label=README

revert kaldi file changes
  egs2/TEMPLATE/asr1/steps/data/data_dir_manipulation_lib.py
  egs2/TEMPLATE/asr1/steps/data/reverberate_data_dir.py
  egs2/TEMPLATE/asr1/steps/libs/__init__.py
  egs2/TEMPLATE/asr1/steps/libs/common.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/__init__.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/report/__init__.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/report/log_parse.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/train/__init__.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/train/chain_objf/__init__.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/train/chain_objf/acoustic_model.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/train/common.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/train/dropout_schedule.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/train/frame_level_objf/__init__.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/train/frame_level_objf/acoustic_model.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/train/frame_level_objf/common.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/train/frame_level_objf/raw_model.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/xconfig/attention.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/xconfig/basic_layers.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/xconfig/composite_layers.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/xconfig/convolution.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/xconfig/gru.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/xconfig/lstm.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/xconfig/parser.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/xconfig/stats_layer.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/xconfig/trivial_layers.py
  egs2/TEMPLATE/asr1/steps/libs/nnet3/xconfig/utils.py
  egs2/TEMPLATE/asr1/steps/segmentation/convert_utt2spk_and_segments_to_rttm.py
Due: auto add label=ESPnet2

minor fix to check args to convert to avg vectors
  egs2/TEMPLATE/asr1/pyscripts/utils/convert_to_avg_spk_embed.py
Due: auto add label=ESPnet2

fix typo in convert avg spk embedding
  egs2/TEMPLATE/asr1/pyscripts/utils/convert_to_avg_spk_embed.py
Due: auto add label=ESPnet2

fix name for spk_inference.py
  espnet2/bin/spk_inference.py
Due: auto add label=ESPnet2

revert change to utils
  egs2/TEMPLATE/asr1/utils/data/extend_segment_times.py
Due: auto add label=ESPnet2

change lines to fixt PEP8 for comments
  egs2/TEMPLATE/asr1/pyscripts/utils/convert_to_avg_spk_embed.py
Due: auto add label=ESPnet2

add voxblink
  egs2/TEMPLATE/spk1/db.sh
  egs2/TEMPLATE/spk1/setup.sh
Due: auto add label=ESPnet2

initial upload
  egs2/voxblink/spk1/local/data.sh
Due: auto add label=ESPnet2

initial setting using setup.sh
  egs2/voxblink/spk1/cmd.sh
  egs2/voxblink/spk1/conf/pbs.conf
  egs2/voxblink/spk1/conf/queue.conf
  egs2/voxblink/spk1/conf/slurm.conf
  egs2/voxblink/spk1/db.sh
  egs2/voxblink/spk1/local/data_prep.py
  egs2/voxblink/spk1/local/path.sh
  egs2/voxblink/spk1/path.sh
  egs2/voxblink/spk1/pyscripts
  egs2/voxblink/spk1/scripts
  egs2/voxblink/spk1/spk.sh
  egs2/voxblink/spk1/steps
  egs2/voxblink/spk1/utils
Due: auto add label=ESPnet2

fix bug; check it works
  egs2/voxblink/spk1/local/data.sh
Due: auto add label=ESPnet2

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
