Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

Use view_as_complex
  espnet2/enh/layers/complex_utils.py
Due: auto add label=ESPnet2

skipif pytorch>=2.0.0
  test/espnet2/asr/frontend/test_s3prl.py
Due: none

skip if pytorch>=2.0
  test/espnet2/asr/frontend/test_s3prl.py
Due: none

view_as_real
  espnet2/layers/stft.py
Due: auto add label=ESPnet2

In spec_augment.py, check whether an array is writeable before modifying it inplace
  espnet/transform/spec_augment.py
Due: auto add label=ESPnet1

pytorch 2.0.1 -> 1.13.1
  .github/workflows/ci_on_centos7.yml
  .github/workflows/ci_on_debian11.yml
Due: auto add label=CI

[skip ci] Update README.md
  README.md
Due: auto add label=README

Update paper.bib for doi information and add models/objective references
  doc/paper/espnet-se++/paper.bib
Due: auto add label=Documentation

Update paper.md
  doc/paper/espnet-se++/paper.md
Due: auto add label=Documentation

Update paper.bib
  doc/paper/espnet-se++/paper.bib
Due: auto add label=Documentation

Fix CI bug
  espnetez/preprocess/sentencepiece.py
Due: none

Fixed CI
  espnetez/preprocess/sentencepiece.py
  espnetez/trainer.py
Due: none

Bayes Risk Transducer training recipes
  egs2/aishell/asr1/conf/tuning/transducer/decode.yaml
  egs2/aishell/asr1/conf/tuning/transducer/train_conformer-rnn_bayes_risk_transducer.yaml
  egs2/aishell/asr1/conf/tuning/transducer/train_conformer-rnn_transducer.yaml
  espnet2/asr/espnet_model.py
  espnet2/asr/transducer/bayes_risk_transducer.py
Due: auto add label=ESPnet2

local
  egs2/tedlium3/asr2/local
  egs2/tedlium3/asr2/local/data.sh
  egs2/tedlium3/asr2/local/download_data.sh
  egs2/tedlium3/asr2/local/join_suffix.py
  egs2/tedlium3/asr2/local/path.sh
  egs2/tedlium3/asr2/local/prepare_data.sh
Due: auto add label=ESPnet2

configs
  egs2/tedlium3/asr2/conf/decode.yaml
  egs2/tedlium3/asr2/conf/tuning/decode_ctc0.3.yaml
  egs2/tedlium3/asr2/conf/tuning/train_discrete_asr_e_branchformer1_2gpu.yaml
  egs2/tedlium3/asr2/run.sh
Due: auto add label=ESPnet2

removed unconfirmed training info from config
  egs2/tedlium3/asr2/conf/tuning/train_discrete_asr_e_branchformer1_1gpu.yaml
Due: auto add label=ESPnet2

discrete svs
  egs2/TEMPLATE/svs2/cmd.sh
  egs2/TEMPLATE/svs2/conf/pbs.conf
  egs2/TEMPLATE/svs2/conf/queue.conf
  egs2/TEMPLATE/svs2/conf/slurm.conf
  egs2/TEMPLATE/svs2/db.sh
  egs2/TEMPLATE/svs2/local/path.sh
  egs2/TEMPLATE/svs2/path.sh
  egs2/TEMPLATE/svs2/pyscripts
  egs2/TEMPLATE/svs2/scripts
  egs2/TEMPLATE/svs2/setup.sh
  egs2/TEMPLATE/svs2/steps
  egs2/TEMPLATE/svs2/svs2.sh
  egs2/TEMPLATE/svs2/utils
  egs2/ofuton_p_utagoe_db/svs2/cmd.sh
  egs2/ofuton_p_utagoe_db/svs2/conf/pbs.conf
  egs2/ofuton_p_utagoe_db/svs2/conf/queue.conf
  egs2/ofuton_p_utagoe_db/svs2/conf/slurm.conf
  egs2/ofuton_p_utagoe_db/svs2/conf/tuning/decode_rnn.yaml
  egs2/ofuton_p_utagoe_db/svs2/conf/tuning/train_naive_rnn_dp.yaml
  egs2/ofuton_p_utagoe_db/svs2/db.sh
  egs2/ofuton_p_utagoe_db/svs2/local/customed_dic.scp
  egs2/ofuton_p_utagoe_db/svs2/local/data.sh
  egs2/ofuton_p_utagoe_db/svs2/local/dataset_split.py
  egs2/ofuton_p_utagoe_db/svs2/local/path.sh
  egs2/ofuton_p_utagoe_db/svs2/local/prep_segments.py
  egs2/ofuton_p_utagoe_db/svs2/path.sh
  egs2/ofuton_p_utagoe_db/svs2/pyscripts
  egs2/ofuton_p_utagoe_db/svs2/run.sh
  egs2/ofuton_p_utagoe_db/svs2/scripts
  egs2/ofuton_p_utagoe_db/svs2/steps
  egs2/ofuton_p_utagoe_db/svs2/svs2.sh
  egs2/ofuton_p_utagoe_db/svs2/utils
  espnet2/svs/discrete_svs_espnet_model.py
  espnet2/svs/naive_rnn/naive_rnn_dp.py
  espnet2/tasks/svs.py
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

discrete svs
  egs2/opencpop/svs2/cmd.sh
  egs2/opencpop/svs2/conf/pbs.conf
  egs2/opencpop/svs2/conf/queue.conf
  egs2/opencpop/svs2/conf/slurm.conf
  egs2/opencpop/svs2/conf/tuning/decode_rnn.yaml
  egs2/opencpop/svs2/conf/tuning/train_naive_rnn_dp.yaml
  egs2/opencpop/svs2/db.sh
  egs2/opencpop/svs2/local/data.sh
  egs2/opencpop/svs2/local/data_prep.py
  egs2/opencpop/svs2/local/midi-note.scp
  egs2/opencpop/svs2/local/path.sh
  egs2/opencpop/svs2/path.sh
  egs2/opencpop/svs2/pyscripts
  egs2/opencpop/svs2/run.sh
  egs2/opencpop/svs2/scripts
  egs2/opencpop/svs2/svs2.sh
  egs2/opencpop/svs2/utils
Due: auto add label=ESPnet2

discrete svs
  espnet2/svs/discrete/loss.py
Due: auto add label=ESPnet2

minor changes
  egs2/TEMPLATE/spk1/spk.sh
  egs2/voxceleb/spk1/run.sh
Due: auto add label=ESPnet2

update hubert svs model
  egs2/opencpop/svs1/conf/tuning/train_visinger_hubert.yaml
  espnet2/asr/frontend/s3prl.py
  espnet2/gan_svs/espnet_model.py
  espnet2/gan_svs/vits/generator.py
  espnet2/gan_svs/vits/vits.py
  espnet2/tasks/abs_task.py
  espnet2/tasks/gan_svs.py
Due: auto add label=ESPnet2

fix portion_nutt max_value
  egs2/TEMPLATE/asr1/scripts/feats/perform_kmeans.sh
Due: auto add label=ESPnet2

fix typo in TEMPLATE/svs1/README.md
  egs2/TEMPLATE/svs1/README.md
Due: auto add label=ESPnet2, auto add label=README

update run.sh
  egs2/wenetspeech/asr2/conf/train_discrete_asr_e_branchformer1.yaml
  egs2/wenetspeech/asr2/run.sh
Due: auto add label=ESPnet2

create recipe for acesinger
  egs2/TEMPLATE/asr1/db.sh
  egs2/acesinger/svs1/cmd.sh
  egs2/acesinger/svs1/conf/pbs.conf
  egs2/acesinger/svs1/conf/queue.conf
  egs2/acesinger/svs1/conf/slurm.conf
  egs2/acesinger/svs1/db.sh
  egs2/acesinger/svs1/local/data.sh
  egs2/acesinger/svs1/local/data_prep.py
  egs2/acesinger/svs1/local/midi-note.scp
  egs2/acesinger/svs1/local/path.sh
  egs2/acesinger/svs1/path.sh
  egs2/acesinger/svs1/pyscripts
  egs2/acesinger/svs1/scripts
  egs2/acesinger/svs1/svs.sh
  egs2/acesinger/svs1/utils
Due: auto add label=ESPnet2

update
  egs2/acesinger/svs1/local/data_prep.py
  egs2/acesinger/svs1/run.sh
Due: auto add label=ESPnet2

chime4 asr2
  egs2/chime4/asr2/asr2.sh
  egs2/chime4/asr2/cmd.sh
  egs2/chime4/asr2/conf/chime4.cfg
  egs2/chime4/asr2/conf/decode_asr.yaml
  egs2/chime4/asr2/conf/pbs.conf
  egs2/chime4/asr2/conf/queue.conf
  egs2/chime4/asr2/conf/slurm.conf
  egs2/chime4/asr2/conf/tuning/train_discrete_asr_e_branchformer_e12_mlp1024_linear1024_macaron_lr1e-4_warmup25k_conv1d1.yaml
  egs2/chime4/asr2/db.sh
  egs2/chime4/asr2/local/bth_chime4_data_prep.sh
  egs2/chime4/asr2/local/clean_chime4_format_data.sh
  egs2/chime4/asr2/local/clean_wsj0_data_prep.sh
  egs2/chime4/asr2/local/cstr_ndx2flist.pl
  egs2/chime4/asr2/local/data.sh
  egs2/chime4/asr2/local/find_noisy_transcripts.pl
  egs2/chime4/asr2/local/find_transcripts.pl
  egs2/chime4/asr2/local/flist2scp.pl
  egs2/chime4/asr2/local/make_stft.sh
  egs2/chime4/asr2/local/ndx2flist.pl
  egs2/chime4/asr2/local/normalize_transcript.pl
  egs2/chime4/asr2/local/path.sh
  egs2/chime4/asr2/local/real_enhan_chime4_data_prep.sh
  egs2/chime4/asr2/local/real_noisy_chime4_data_prep.sh
  egs2/chime4/asr2/local/run_beamform_2ch_track.sh
  egs2/chime4/asr2/local/run_beamform_6ch_track.sh
  egs2/chime4/asr2/local/show_enhance_results.sh
  egs2/chime4/asr2/local/simu_enhan_chime4_data_prep.sh
  egs2/chime4/asr2/local/simu_noisy_chime4_data_prep.sh
  egs2/chime4/asr2/local/sym_channel.py
  egs2/chime4/asr2/local/wsj_data_prep.sh
  egs2/chime4/asr2/local/wsj_format_data.sh
  egs2/chime4/asr2/path.sh
  egs2/chime4/asr2/pyscripts
  egs2/chime4/asr2/run.sh
  egs2/chime4/asr2/scripts
  egs2/chime4/asr2/steps
  egs2/chime4/asr2/utils
  espnet2/asr/encoder/e_branchformer_encoder.py
Due: auto add label=ESPnet2

add rdme
  egs2/chime4/asr2/README.md
Due: auto add label=ESPnet2, auto add label=README

update readme.md
  egs2/gigaspeech/asr2/README.md
Due: auto add label=ESPnet2, auto add label=README

add model info
  egs2/chime4/asr2/README.md
Due: auto add label=ESPnet2, auto add label=README

update readme
  egs2/gigaspeech/asr2/README.md
Due: auto add label=ESPnet2, auto add label=README

Update README.md
  egs2/gigaspeech/asr2/README.md
Due: auto add label=ESPnet2, auto add label=README

Update README.md
  egs2/chime4/asr2/README.md
Due: auto add label=ESPnet2, auto add label=README

asr2.sh revert back
  egs2/TEMPLATE/asr2/asr2.sh
Due: auto add label=ESPnet2

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
