Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

.mergify.yml:

pull_request_rules:
  - name: automatic merge if label=auto-merge
    conditions:
      - "label=auto-merge"
      - "check-success=test_centos7"
      - "check-success=test_debian9"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.4.0, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.5.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.6.0, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.7.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.8.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.9.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.10.2, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.11.0, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.12.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.13.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.8, 1.13.1, false, 6.0.0)"
      - "check-success=linter_and_test (ubuntu-latest, 3.9, 1.13.1, false, 6.0.0)"
      - "check-success=linter_and_test (ubuntu-latest, 3.10, 1.13.1, false, 6.0.0)"
      - "check-success=test_import (ubuntu-latest, 3.10, 1.13.1)"
      - "check-success=check_kaldi_symlinks"
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=ESPnet1"
    conditions:
      - files~=^(espnet/|egs/)
    actions:
      label:
        add: ["ESPnet1"]
  - name: "auto add label=ESPnet2"
    conditions:
      - files~=^(espnet2/|egs2/)
    actions:
      label:
        add: ["ESPnet2"]
  - name: "auto add label=ASR"
    conditions:
      - files~=^(espnet*/asr|egs*/*/asr1)
    actions:
      label:
        add: ["ASR"]
  - name: "auto add label=TTS"
    conditions:
      - files~=^(espnet*/tts|egs*/*/tts1)
    actions:
      label:
        add: ["TTS"]
  - name: "auto add label=MT"
    conditions:
      - files~=^(espnet*/mt|egs*/*/mt1)
    actions:
      label:
        add: ["MT"]
  - name: "auto add label=LM"
    conditions:
      - files~=^(espnet*/lm)
    actions:
      label:
        add: ["LM"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^doc/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]

check the value `n_shift` == `upsample_factor`
  espnet2/gan_tts/espnet_model.py
Due: auto add label=ESPnet2

Update install_nkf.sh
  tools/installers/install_nkf.sh
Due: auto add label=Installation

Make the wav file name be consistant with tag name
  egs2/nit_song070/svs1/local/data_prep.py
Due: auto add label=ESPnet2

modify asr.sh for the case with eval_valid_set is true
  egs2/TEMPLATE/asr1/asr.sh
Due: auto add label=ESPnet2

Revert "modify asr.sh for the case with eval_valid_set is true"
  egs2/TEMPLATE/asr1/asr.sh
Due: auto add label=ESPnet2

Fix a bug in transcript preparation in egs2/wsj0_2mix/tse1
  egs2/wsj0_2mix/tse1/local/wsj0_2mix_data_prep.sh
Due: auto add label=ESPnet2

rework LM inference pipeline (squeeze old commits)
  egs2/TEMPLATE/asr1/asr.sh
  espnet2/asr_transducer/beam_search_transducer.py
  espnet2/asr_transducer/pretrained_lm/__init__.py
  espnet2/asr_transducer/pretrained_lm/lstm.py
  espnet2/asr_transducer/pretrained_lm/ngram.py
  espnet2/asr_transducer/pretrained_lm/token_lm.py
  espnet2/bin/asr_transducer_inference.py
Due: auto add label=ESPnet2

fix indent in k2 section
  doc/espnet2_tutorial.md
Due: auto add label=Documentation

minor clean up + renaming
  espnet2/asr_transducer/beam_search_transducer.py
  espnet2/asr_transducer/decoder/rnn_decoder.py
  espnet2/asr_transducer/pretrained_lm/lstm.py
  espnet2/asr_transducer/pretrained_lm/ngram.py
Due: auto add label=ESPnet2

add v3
  egs2/TEMPLATE/s2t1/path.sh
  egs2/mixed_v2/s2t1/conf/tuning/train_s2t_transformer_conv2d_size1024_e18_d18_lr5e-4_warmup20k.yaml
  egs2/mixed_v3/s2t1/cmd.sh
  egs2/mixed_v3/s2t1/conf/decode_s2t.yaml
  egs2/mixed_v3/s2t1/conf/fbank.conf
  egs2/mixed_v3/s2t1/conf/pbs.conf
  egs2/mixed_v3/s2t1/conf/pitch.conf
  egs2/mixed_v3/s2t1/conf/queue.conf
  egs2/mixed_v3/s2t1/conf/slurm.conf
  egs2/mixed_v3/s2t1/conf/train_s2t_transformer_conv2d_size1024_e24_d24_lr2.5e-4_warmup10k_finetune.yaml
  egs2/mixed_v3/s2t1/conf/train_s2t_transformer_conv2d_size1024_e24_d24_lr3e-4_warmup20k.yaml
  egs2/mixed_v3/s2t1/db.sh
  egs2/mixed_v3/s2t1/local/path.sh
  egs2/mixed_v3/s2t1/local/stats.py
  egs2/mixed_v3/s2t1/path.sh
  egs2/mixed_v3/s2t1/pyscripts
  egs2/mixed_v3/s2t1/run.sh
  egs2/mixed_v3/s2t1/s2t.sh
  egs2/mixed_v3/s2t1/scripts
  egs2/mixed_v3/s2t1/utils
  espnet2/bin/s2t_inference.py
Due: auto add label=ESPnet2

remove version check
  espnet2/s2t/espnet_model.py
Due: auto add label=ESPnet2

update pystpk version
  setup.py
Due: auto add label=Installation

cython ver add
  setup.py
Due: auto add label=Installation

use the latest master to install pyworld
  setup.py
Due: auto add label=Installation

Update install_nkf.sh (#5300)
  tools/installers/install_nkf.sh
Due: auto add label=Installation

fix pyopenjtalk installation
  setup.py
  tools/installers/install_pyopenjtalk.sh
Due: auto add label=Installation

Update setup.py
  setup.py
Due: auto add label=Installation

Add causal LM to Hugging Face Transformers Decoder
  espnet2/asr/decoder/hugging_face_transformers_decoder.py
  espnet2/bin/asr_inference.py
Due: auto add label=ESPnet2

reflect final comments
  egs2/TEMPLATE/spk1/spk.sh
  espnet2/spk/encoder/rawnet3_encoder.py
  espnet2/tasks/spk.py
Due: auto add label=ESPnet2

rm commented lines
  egs2/TEMPLATE/spk1/spk.sh
Due: auto add label=ESPnet2

reflect preprocessor
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

positional argument change
  espnet2/tasks/spk.py
Due: auto add label=ESPnet2

make argument positional
  egs2/voxceleb/spk1/conf/train_RawNet3.yaml
  espnet2/tasks/spk.py
Due: auto add label=ESPnet2

update cfg to date
  egs2/voxceleb/spk1/conf/train_RawNet3.yaml
Due: auto add label=ESPnet2

add epoch wise inference using EER
  egs2/TEMPLATE/spk1/spk.sh
  egs2/voxceleb/spk1/conf/tuning/train_RawNet3_sgdr.yaml
  egs2/voxceleb/spk1/conf/tuning/train_RawNet3_sgdr_bs.yaml
  egs2/voxceleb/spk1/conf/tuning/train_RawNet3_sgdr_bs2.yaml
  egs2/voxceleb/spk1/local/convert_trial.py
  egs2/voxceleb/spk1/local/crawl_voxcelebs_mp.py
  egs2/voxceleb/spk1/local/data.sh
  egs2/voxceleb/spk1/local/remove_unopenable_files.py
  egs2/voxceleb/spk1/run.sh
  espnet2/iterators/sequence_iter_factory.py
  espnet2/schedulers/cosine_anneal_warmup_restart.py
  espnet2/spk/espnet_model.py
  espnet2/tasks/abs_task.py
  espnet2/tasks/spk.py
  espnet2/train/preprocessor.py
  espnet2/train/spk_trainer.py
  espnet2/utils/eer.py
Due: auto add label=ESPnet2

undo part.3 implemenataion
  espnet2/tasks/spk.py
Due: auto add label=ESPnet2

make dummy test trial for ci
  ci/test_integration_espnet2.sh
  egs2/mini_an4/spk1/local/data.sh
  egs2/mini_an4/spk1/local/make_trial.py
Due: auto add label=ESPnet2, auto add label=CI

Update README.md
  README.md
Due: auto add label=README

make test_python work
  egs2/mini_an4/spk1/local/make_trial.py
  egs2/voxceleb/spk1/local/remove_unopenable_files.py
  espnet2/train/spk_trainer.py
  espnet2/utils/eer.py
Due: auto add label=ESPnet2

rollback spk.sh to part.2
  egs2/TEMPLATE/spk1/spk.sh
Due: auto add label=ESPnet2

Update test_integration_espnet1.sh
  ci/test_integration_espnet1.sh
Due: auto add label=CI
