Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

.mergify.yml:

pull_request_rules:
  - name: automatic merge if label=auto-merge
    conditions:
      - "label=auto-merge"
      - "check-success=test_centos7"
      - "check-success=test_debian9"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.4.0, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.5.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.6.0, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.7.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.8.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.9.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.10.2, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.11.0, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.12.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.13.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.8, 1.13.1, false, 6.0.0)"
      - "check-success=linter_and_test (ubuntu-latest, 3.9, 1.13.1, false, 6.0.0)"
      - "check-success=linter_and_test (ubuntu-latest, 3.10, 1.13.1, false, 6.0.0)"
      - "check-success=test_import (ubuntu-latest, 3.10, 1.13.1)"
      - "check-success=check_kaldi_symlinks"
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=ESPnet1"
    conditions:
      - files~=^(espnet/|egs/)
    actions:
      label:
        add: ["ESPnet1"]
  - name: "auto add label=ESPnet2"
    conditions:
      - files~=^(espnet2/|egs2/)
    actions:
      label:
        add: ["ESPnet2"]
  - name: "auto add label=ASR"
    conditions:
      - files~=^(espnet*/asr|egs*/*/asr1)
    actions:
      label:
        add: ["ASR"]
  - name: "auto add label=TTS"
    conditions:
      - files~=^(espnet*/tts|egs*/*/tts1)
    actions:
      label:
        add: ["TTS"]
  - name: "auto add label=MT"
    conditions:
      - files~=^(espnet*/mt|egs*/*/mt1)
    actions:
      label:
        add: ["MT"]
  - name: "auto add label=LM"
    conditions:
      - files~=^(espnet*/lm)
    actions:
      label:
        add: ["LM"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^doc/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]

Use fast decoding for larger models
  egs2/speechMatrix/s2st1/conf/decode_fast.yaml
  egs2/speechMatrix/s2st1/run_s2ut.sh
  egs2/speechMatrix/s2st1/run_s2ut_w2v_mbart.sh
Due: auto add label=ESPnet2

modify inference
  espnet2/tts/gradtts/gradtts.py
Due: auto add label=ESPnet2

update hubert settings
  egs2/ofuton_p_utagoe_db/svs1/conf/tuning/train_visinger2_24k.yaml
  egs2/ofuton_p_utagoe_db/svs1/conf/tuning/train_visinger_hubert.yaml
  egs2/ofuton_p_utagoe_db/svs1/conf/tuning/train_visinger_hubert_mert.yaml
  egs2/ofuton_p_utagoe_db/svs1/conf/tuning/train_visinger_mert.yaml
  egs2/opencpop/svs1/conf/tuning/train_visinger2_24k.yaml
  egs2/opencpop/svs1/conf/tuning/train_visinger_hubert_cn.yaml
  egs2/opencpop/svs1/conf/tuning/train_visinger_hubert_cn_hubert.yaml
  egs2/opencpop/svs1/conf/tuning/train_visinger_hubert_cn_hubert_mert.yaml
  egs2/opencpop/svs1/conf/tuning/train_visinger_hubert_cn_mert.yaml
  egs2/opencpop/svs1/conf/tuning/train_visinger_hubert_mert.yaml
  egs2/opencpop/svs1/conf/tuning/train_visinger_mert.yaml
  egs2/opencpop/svs1/conf/tuning/train_visinger_wavlablm_ms_40k.yaml
  espnet2/asr/frontend/s3prl.py
  espnet2/gan_svs/vits/generator.py
Due: auto add label=ESPnet2

update data simulation for Reproducibility
  egs2/wsj/derever1/conf/tuning/train_enh_sgmse_ncsnpp.yaml
  egs2/wsj/derever1/local/create_wsj0_reverb.py
  egs2/wsj/enh1/conf/tuning/train_enh_sgmse_ncsnpp_steplr.yaml
  espnet2/enh/diffusion/score_based_diffusion.py
Due: auto add label=ESPnet2

update for docstring
  egs2/wsj/derever1/local/create_wsj0_reverb.py
  espnet2/enh/diffusion/sampling/__init__.py
  espnet2/enh/diffusion/sampling/correctors.py
  espnet2/enh/diffusion/sampling/predictors.py
  espnet2/enh/diffusion/score_based_diffusion.py
  espnet2/enh/diffusion/sdes.py
  espnet2/enh/encoder/stft_encoder.py
  espnet2/enh/layers/dcunet.py
  espnet2/enh/layers/ncsnpp.py
  espnet2/enh/layers/ncsnpp_utils/op/upfirdn2d.py
  espnet2/enh/layers/ncsnpp_utils/up_or_down_sampling.py
  espnet2/enh/layers/ncsnpp_utils/utils.py
Due: auto add label=ESPnet2

remove ncsnpp cpp dependence
  egs2/wsj/derever1/local/create_wsj0_reverb.py
  espnet/nets/beam_search_timesync_streaming.py
  espnet2/enh/diffusion/score_based_diffusion.py
  espnet2/enh/layers/dcunet.py
  espnet2/enh/layers/ncsnpp_utils/op/__init__.py
  espnet2/enh/layers/ncsnpp_utils/op/fused_act.py
  espnet2/enh/layers/ncsnpp_utils/op/fused_bias_act.cpp
  espnet2/enh/layers/ncsnpp_utils/op/fused_bias_act_kernel.cu
  espnet2/enh/layers/ncsnpp_utils/op/upfirdn2d.cpp
  espnet2/enh/layers/ncsnpp_utils/op/upfirdn2d.py
  espnet2/enh/layers/ncsnpp_utils/op/upfirdn2d_kernel.cu
  espnet2/enh/layers/ncsnpp_utils/up_or_down_sampling.py
  espnet2/enh/layers/ncsnpp_utils/upfirdn2d.py
Due: auto add label=ESPnet1, auto add label=ESPnet2

remove ninja dependence
  espnet2/enh/diffusion/score_based_diffusion.py
  espnet2/enh/layers/ncsnpp_utils/up_or_down_sampling.py
  setup.py
Due: auto add label=ESPnet2, auto add label=Installation

remove unused files, fix import issue
  espnet2/enh/layers/ncsnpp.py
  espnet2/enh/layers/ncsnpp_utils/__init__.py
  espnet2/enh/layers/ncsnpp_utils/layers.py
  espnet2/enh/layers/ncsnpp_utils/layerspp.py
  espnet2/enh/layers/ncsnpp_utils/utils.py
Due: auto add label=ESPnet2

E721
  espnet/nets/scorers/ctc.py
Due: auto add label=ESPnet1

Update video_processing.py
  egs2/lrs2/lipreading1/local/feature_extract/video_processing.py
Due: auto add label=ESPnet2

Update sinc.py
  espnet2/asr/preencoder/sinc.py
Due: auto add label=ESPnet2

Update adapt_layers.py
  espnet2/enh/layers/adapt_layers.py
Due: auto add label=ESPnet2

Update beam_search_timesync_streaming.py
  espnet/nets/beam_search_timesync_streaming.py
Due: auto add label=ESPnet1

add unit tests
  espnet2/enh/diffusion/score_based_diffusion.py
  espnet2/enh/diffusion_enh.py
  test/espnet2/enh/decoder/test_stft_decoder.py
  test/espnet2/enh/diffusion/test_score_based_diffusion.py
  test/espnet2/enh/encoder/test_stft_encoder.py
  test/espnet2/enh/test_espnet_diffusion_se.py
Due: auto add label=ESPnet2

update settings
  egs2/wav2gloss/asr1/cmd.sh
  egs2/wav2gloss/asr1/conf/slurm.conf
  egs2/wav2gloss/asr1/conf/tuning/train_xls_r_conformer.yaml
  egs2/wav2gloss/asr1/run.sh
Due: auto add label=ESPnet2

fix #5588
  espnet2/tts/espnet_model.py
Due: auto add label=ESPnet2

fix inference with teacher forcing using speech in text2wav model (#5590)
  espnet2/tts/espnet_model.py
Due: auto add label=ESPnet2

update online version and bin files
  espnet/nets/batch_beam_search_online.py
  espnet/nets/batch_beam_search_online_sim.py
  espnet2/bin/asr_inference_streaming.py
  espnet2/bin/s2st_inference.py
  espnet2/bin/s2t_inference.py
  espnet2/bin/s2t_inference_language.py
  espnet2/bin/slu_inference.py
  espnet2/bin/st_inference.py
  espnet2/bin/st_inference_streaming.py
Due: auto add label=ESPnet1, auto add label=ESPnet2

append spk into utt_id
  egs2/dral/s2st1/local/prepare_datasets.py
Due: auto add label=ESPnet2

update testing
  test/espnet2/enh/diffusion/test_score_based_diffusion.py
Due: none

Adding test.txt for the first push
  test.txt
Due: none

Updated test.txt
  test.txt
Due: none

Installed kenlm and updated .gitignore. NOTE: If kenlm installation does not work check the boost folder deleted after installing kenlm (check in tools/installers/install_kenlm.sh script
  .gitignore
Due: none

Updated kenlm and boost installation
  .gitignore
Due: none

pushing from SIDDHI
  test.txt
Due: none

Update README.md
  egs2/vctk/tts1/README.md
Due: auto add label=ESPnet2, auto add label=README

minor fix to non-reference issue
  egs2/TEMPLATE/asr1/pyscripts/utils/extract_spk_embed.py
Due: auto add label=ESPnet2

update spk embed setting for talromur2
  egs2/talromur2/tts1/local/convert_to_avg_xvectors.py
  egs2/talromur2/tts1/run.sh
  egs2/talromur2/tts1/train_multi_speaker_fastspeech2.sh
  egs2/talromur2/tts1/train_multi_speaker_tacotron2.sh
  egs2/talromur2/tts1/train_multi_speaker_vits.sh
Due: auto add label=ESPnet2

revert run.sh change
  egs2/talromur2/tts1/run.sh
Due: auto add label=ESPnet2

fix config xvector statement
  egs2/vctk/tts1/conf/tuning/train_speechbrain_xvector_vits.yaml
  egs2/vctk/tts1/conf/tuning/train_xvector_vits.yaml
Due: auto add label=ESPnet2

update other recipes for aligned naming
  egs2/aishell3/tts1/run.sh
  egs2/css10/tts1/run.sh
  egs2/googlei18n_lowresource/tts1/run.sh
  egs2/jtubespeech/tts1/run.sh
  egs2/librispeech_100/asr2/path.sh
  egs2/libritts/tts1/run.sh
  egs2/libritts_r/tts1/run.sh
  egs2/talromur2/tts1/conf/tuning/train_xvector_vits.yaml
  egs2/thchs30/tts1/run.sh
Due: auto add label=ESPnet2

bug fix
  egs2/TEMPLATE/asr1/pyscripts/utils/extract_spk_embed.py
Due: auto add label=ESPnet2
