Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(ci/|.github/)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/

add Harvest (f0 extractor)
  espnet2/tasks/gan_svs.py
  espnet2/tasks/gan_tts.py
  espnet2/tasks/svs.py
  espnet2/tasks/tts.py
  espnet2/tts/feats_extract/harvest.py
  test/espnet2/tts/feats_extract/test_harvest.py
Due: auto add label=ESPnet2

update ci devcontainer
  .devcontainer/ci_cpu/build_image.sh
  .devcontainer/ci_cpu/devcontainer.json
  .devcontainer/ci_cpu/espnet.dockerfile
Due: none

add flag no build isolation in issues pkgs
  tools/installers/install_kenlm.sh
  tools/installers/install_pyopenjtalk.sh
  tools/installers/install_warp-transducer.sh
Due: auto add label=Installation

add entries to gitignore
  .gitignore
Due: none

use lower version of cmake on makefile
  tools/Makefile
Due: auto add label=Installation

Add documents
  doc/espnet3/callbacks.md
  doc/espnet3/collect_stats.md
  doc/espnet3/config_guide.md
  doc/espnet3/contribution.md
  doc/espnet3/data_preparation.md
  doc/espnet3/dynamic_batch.md
  doc/espnet3/images/dynamic_batch.png
  doc/espnet3/images/dynamic_batch_sec.png
  doc/espnet3/multiple_gpu.md
  doc/espnet3/optimizer_configuration.md
  doc/espnet3/system_design.md
  doc/espnet3/tensorboard_wandb.md
Due: auto add label=Documentation

rename espnetez to espnet-3
  egs3/train.py
  egs3/train_tokenizer.py
  espnet3/__init__.py
  espnet3/data/__init__.py
  espnet3/data/dataset.py
  espnet3/data/dump.py
  espnet3/data/huggingface_utils.py
  espnet3/parallel/__init__.py
  espnet3/parallel/parallel.py
  espnet3/preprocess/__init__.py
  espnet3/preprocess/sentencepiece.py
  espnet3/preprocess/tokenizer.py
  espnet3/task.py
  espnet3/trainer/__init__.py
  espnet3/trainer/callbacks.py
  espnet3/trainer/hybrid_optim.py
  espnet3/trainer/hybrid_scheduler.py
  espnet3/trainer/model.py
  espnet3/trainer/trainer.py
Due: none

force cmake installation
  tools/Makefile
  tools/installers/install_kenlm.sh
  tools/installers/install_warp-transducer.sh
Due: auto add label=Installation

add audioverse configs
  egs2/audioverse/v1/conf/template/beatsv2_huge/aqa_open_bert.yaml
  egs2/audioverse/v1/conf/template/beatsv2_huge/aqa_open_clap.yaml
  egs2/audioverse/v1/conf/template/beatsv2_huge/aqa_yn_bert.yaml
  egs2/audioverse/v1/conf/template/beatsv2_huge/aqa_yn_clap.yaml
  egs2/audioverse/v1/conf/template/beatsv2_huge/audiocaps_aac.yaml
  egs2/audioverse/v1/conf/template/beatsv2_huge/audioset20k.yaml
  egs2/audioverse/v1/conf/template/beatsv2_huge/audioset2m.yaml
  egs2/audioverse/v1/conf/template/beatsv2_huge/beans_bats.yaml
  egs2/audioverse/v1/conf/template/beatsv2_huge/beans_cbi.yaml
  egs2/audioverse/v1/conf/template/beatsv2_huge/beans_dcase.yaml
  egs2/audioverse/v1/conf/template/beatsv2_huge/beans_dogs.yaml
  egs2/audioverse/v1/conf/template/beatsv2_huge/beans_enabirds.yaml
  egs2/audioverse/v1/conf/template/beatsv2_huge/beans_gibbons.yaml
  egs2/audioverse/v1/conf/template/beatsv2_huge/beans_hiceas.yaml
  egs2/audioverse/v1/conf/template/beatsv2_huge/beans_humbugdb.yaml
  egs2/audioverse/v1/conf/template/beatsv2_huge/beans_rfcx.yaml
  egs2/audioverse/v1/conf/template/beatsv2_huge/beans_watkins.yaml
  egs2/audioverse/v1/conf/template/beatsv2_huge/cle_bert.yaml
  egs2/audioverse/v1/conf/template/beatsv2_huge/cle_clap.yaml
  egs2/audioverse/v1/conf/template/beatsv2_huge/clotho_aac.yaml
  egs2/audioverse/v1/conf/template/beatsv2_huge/dcase24_machine.yaml
  egs2/audioverse/v1/conf/template/beatsv2_huge/esc50_f1.yaml
  egs2/audioverse/v1/conf/template/beatsv2_huge/esc50_f2.yaml
  egs2/audioverse/v1/conf/template/beatsv2_huge/esc50_f3.yaml
  egs2/audioverse/v1/conf/template/beatsv2_huge/esc50_f4.yaml
  egs2/audioverse/v1/conf/template/beatsv2_huge/esc50_f5.yaml
  egs2/audioverse/v1/conf/template/beatsv2_huge/fsd50k.yaml
  egs2/audioverse/v1/conf/template/beatsv2_huge/gtzan.yaml
  egs2/audioverse/v1/conf/template/beatsv2_huge/nsynth.yaml
  egs2/audioverse/v1/conf/template/dasheng_base/gtzan.yaml
  egs2/audioverse/v1/run.sh
Due: auto add label=ESPnet2

additional configs and runners for pretraining
  egs2/as2m/ssl1/beats_huge_hparam_tuner.sh
  egs2/as2m/ssl1/check.sh
  egs2/as2m/ssl1/conf/beats_huge.yaml
  egs2/as2m/ssl1/conf/beats_huge_2kvocab.yaml
  egs2/as2m/ssl1/conf/beats_tok_huge.yaml
  egs2/as2m/ssl1/conf/beats_tok_huge_2kvocab.yaml
  egs2/as2m/ssl1/conf/ds_beats_huge.json
  egs2/as2m/ssl1/conf/ear_large4k.yaml
  egs2/as2m/ssl1/conf/slurm.conf
  egs2/as2m/ssl1/conf/tok_ear_large4k.yaml
  egs2/as2m/ssl1/conf/tokenizer_huge_inf.yaml
  egs2/as2m/ssl1/conf/tokenizer_huge_inf_2kvocab.yaml
  egs2/as2m/ssl1/conf/tokenizer_inf_ear_large4k.yaml
  egs2/as2m/ssl1/ear_hparam_tuner.sh
  egs2/as2m/ssl1/run_beats_huge.sh
Due: auto add label=ESPnet2

db
  egs2/TEMPLATE/asr1/db.sh
  egs2/TEMPLATE/ssl1/beats.sh
Due: auto add label=ESPnet2

streamline beans runners
  egs2/beans/cls1/run.sh
  egs2/beans/cls1/run_dcase.sh
  egs2/beans/cls1/run_enabirds.sh
  egs2/beans/cls1/run_gibbons.sh
  egs2/beans/cls1/run_rfcx.sh
Due: auto add label=ESPnet2

add gtzan
  egs2/gtzan/cls1/cmd.sh
  egs2/gtzan/cls1/conf/beats_cls.yaml
  egs2/gtzan/cls1/conf/slurm.conf
  egs2/gtzan/cls1/local/data.sh
  egs2/gtzan/cls1/local/data_prep_gtzan.py
  egs2/gtzan/cls1/local/path.sh
  egs2/gtzan/cls1/run.sh
Due: auto add label=ESPnet2

mixup pretraining
  espnet2/asr/encoder/beats_encoder.py
  espnet2/beats/espnet_model.py
  espnet2/layers/mixup_augmentation.py
Due: auto add label=ESPnet2

fix AS cls configs and map logging
  egs2/as20k/cls1/conf/beats_cls_lightning.yaml
  egs2/as2m/cls1/conf/beats_cls.yaml
  espnet2/cls/lightning_callbacks.py
Due: auto add label=ESPnet2

Add explicit typecheck for warning msg
  espnet2/asr/frontend/fused.py
Due: auto add label=ESPnet2

Add unit tests
  test/espnetez/test_callback.py
  test/espnetez/test_hybrid_optim.py
  test/espnetez/test_hybrid_scheduler.py
  test/espnetez/test_model.py
  test/espnetez/test_parallel.py
  test/espnetez/test_trainer.py
  test_utils/espnet3_dummy/audio/sample_0.wav
  test_utils/espnet3_dummy/audio/sample_1.wav
  test_utils/espnet3_dummy/audio/sample_2.wav
  test_utils/espnet3_dummy/config.yaml
  test_utils/espnet3_dummy/espnet3_test_dataset/audio/sample_0.wav
  test_utils/espnet3_dummy/espnet3_test_dataset/audio/sample_1.wav
  test_utils/espnet3_dummy/espnet3_test_dataset/audio/sample_2.wav
  test_utils/espnet3_dummy/espnet3_test_dataset/dataset_dict.json
  test_utils/espnet3_dummy/espnet3_test_dataset/train/data-00000-of-00001.arrow
  test_utils/espnet3_dummy/espnet3_test_dataset/train/dataset_info.json
  test_utils/espnet3_dummy/espnet3_test_dataset/train/state.json
Due: none

Add docstring and fixed bug for unit test
  espnet3/data/huggingface_utils.py
  espnet3/preprocess/sentencepiece.py
  espnet3/trainer/hybrid_scheduler.py
  espnet3/trainer/model.py
  espnet3/trainer/trainer.py
Due: none

Update numpy version
  setup.py
Due: auto add label=Installation

for test (no merge!!)
  tools/Makefile
  tools/installers/install_warp-transducer.sh
Due: auto add label=Installation

removing chainer ctc from installer and update branch
  .devcontainer/ci_cpu/espnet.dockerfile
  .gitignore
  ci/install.sh
  ci/install_macos.sh
  ci/test_python_espnet1.sh
  ci/test_python_espnet2.sh
  ci/test_python_espnetez.sh
  tools/Makefile
  tools/installers/install_warp-transducer.sh
Due: auto add label=CI, auto add label=Installation

fix max version cmake on makefile
  tools/Makefile
Due: auto add label=Installation

acesinger data_prep.py code cleaning
  egs2/acesinger/svs1/local/data_prep.py
Due: auto add label=ESPnet2

Skip acesinger song "2026" in data_prep.py
  egs2/acesinger/svs1/local/data_prep.py
Due: auto add label=ESPnet2

minor update
  egs2/urgent24/uni_versa1/conf/decode_universa.yaml
Due: auto add label=ESPnet2

add recipe of gtsinger
  egs2/gtsinger/svs1/cmd.sh
  egs2/gtsinger/svs1/conf/decode.yaml
  egs2/gtsinger/svs1/conf/pbs.conf
  egs2/gtsinger/svs1/conf/queue.conf
  egs2/gtsinger/svs1/conf/slurm.conf
  egs2/gtsinger/svs1/conf/train.yaml
  egs2/gtsinger/svs1/conf/tuning/train_visinger2_24k.yaml
  egs2/gtsinger/svs1/db.sh
  egs2/gtsinger/svs1/local/data.sh
  egs2/gtsinger/svs1/local/dataset_split.py
  egs2/gtsinger/svs1/local/path.sh
  egs2/gtsinger/svs1/local/unique_label.txt
  egs2/gtsinger/svs1/local/yue_songs.txt
  egs2/gtsinger/svs1/path.sh
  egs2/gtsinger/svs1/pyscripts
  egs2/gtsinger/svs1/run.sh
  egs2/gtsinger/svs1/scripts
  egs2/gtsinger/svs1/svs.sh
  egs2/gtsinger/svs1/utils
Due: auto add label=ESPnet2

update
  egs2/gtsinger/svs1/local/dataset_split.py
Due: auto add label=ESPnet2

update egs2/README.md
  egs2/README.md
Due: auto add label=ESPnet2, auto add label=README

Add data organizer
  espnet3/data/__init__.py
  espnet3/data/data_organizer.py
  espnet3/data/huggingface_utils.py
Due: none

Fixed AverageCheckpoint callback
  espnet3/trainer/callbacks.py
Due: none

autocast fix
  espnet2/asr/espnet_model.py
Due: auto add label=ESPnet2

ssl tokenization is ok
  egs2/TEMPLATE/asr1/pyscripts/feats/dump_km_label.py
  egs2/TEMPLATE/asr1/pyscripts/feats/ssl_feature_utils.py
  egs2/TEMPLATE/asr1/scripts/feats/ssl_tokenization.sh
  espnet/nets/pytorch_backend/transformer/embedding.py
Due: auto add label=ESPnet1, auto add label=ESPnet2

flags for new settings
  espnet/nets/pytorch_backend/transformer/embedding.py
  espnet2/asr/frontend/cnn.py
Due: auto add label=ESPnet1, auto add label=ESPnet2

Fix bugs and add inferenece runner
  espnet3/data/data_organizer.py
  espnet3/data/dataset.py
  espnet3/data/huggingface_utils.py
  espnet3/inference_runner.py
  espnet3/metrics/__init__.py
  espnet3/metrics/abs_metrics.py
  espnet3/metrics/bleu.py
  espnet3/metrics/cer.py
  espnet3/metrics/wer.py
  espnet3/parallel/parallel.py
  espnet3/task.py
  espnet3/trainer/trainer.py
Due: none

update ssl tests
  test/espnet2/asr/frontend/test_espnet_ssl.py
  test/espnet2/ssl/test_ssl_espnet_model.py
Due: none
