Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

add prodiff required files
  espnet2/tts/prodiff/__init__.py
  espnet2/tts/prodiff/denoiser.py
  espnet2/tts/prodiff/loss.py
  espnet2/tts/prodiff/prodiff.py
Due: auto add label=ESPnet2

[ci skip] update docs
  espnet2/tts/prodiff/loss.py
Due: auto add label=ESPnet2

clean mfa.sh
  egs2/TEMPLATE/asr1/scripts/utils/mfa.sh
Due: auto add label=ESPnet2

clean mfa_format.py
  egs2/TEMPLATE/asr1/scripts/utils/mfa_format.py
Due: auto add label=ESPnet2

do not change split
  egs2/ljspeech/tts1/local/data.sh
Due: auto add label=ESPnet2

add check of textgrids
  egs2/ljspeech/tts1/local/data.sh
Due: auto add label=ESPnet2

update
  egs2/TEMPLATE/asr1/scripts/utils/mfa.sh
  egs2/ljspeech/tts1/local/run_mfa.sh
Due: auto add label=ESPnet2

rework v0.1
  espnet2/asr_transducer/beam_search_transducer.py
  espnet2/asr_transducer/encoder/blocks/conv_input.py
  espnet2/asr_transducer/encoder/encoder.py
  espnet2/asr_transducer/frontend/online_audio_processor.py
  espnet2/bin/asr_transducer_inference.py
Due: auto add label=ESPnet2

fix typo in espnet2_tutorial.md
  doc/espnet2_tutorial.md
Due: auto add label=Documentation

Bugfix sum1 dprep
  egs2/how2_2000h/sum1/local/data.sh
Due: auto add label=ESPnet2

Fix format errors
  espnet/nets/pytorch_backend/transformer/repeat.py
  espnet2/asr/encoder/e_branchformer_encoder.py
  test/espnet2/asr/encoder/test_e_branchformer_encoder.py
Due: auto add label=ESPnet1, auto add label=ESPnet2

Fix wrong comments on the shape of mask tensors
  egs2/librispeech/asr1/conf/tuning/train_asr_e_branchformer.yaml
  espnet/nets/pytorch_backend/conformer/contextual_block_encoder_layer.py
  espnet/nets/pytorch_backend/conformer/encoder.py
  espnet/nets/pytorch_backend/conformer/encoder_layer.py
  espnet/nets/pytorch_backend/transformer/contextual_block_encoder_layer.py
  espnet/nets/pytorch_backend/transformer/encoder.py
  espnet/nets/pytorch_backend/transformer/encoder_layer.py
  espnet2/asr/encoder/branchformer_encoder.py
  espnet2/asr/encoder/e_branchformer_encoder.py
Due: auto add label=ESPnet1, auto add label=ESPnet2

Apply isort
  espnet2/asr/encoder/e_branchformer_encoder.py
Due: auto add label=ESPnet2

Fix style errors
  espnet2/asr/encoder/e_branchformer_encoder.py
Due: auto add label=ESPnet2

Fix ci error
  espnet/nets/pytorch_backend/transformer/repeat.py
  espnet2/asr/encoder/e_branchformer_encoder.py
Due: auto add label=ESPnet1, auto add label=ESPnet2

update score_scp
  egs2/TEMPLATE/svs1/pyscripts/audio/format_score_scp.py
  egs2/TEMPLATE/svs1/scripts/audio/format_score_scp.sh
  egs2/TEMPLATE/svs1/svs.sh
  espnet2/svs/naive_rnn/naive_rnn_dp.py
Due: auto add label=ESPnet2

fix
  espnet2/svs/espnet_model.py
  espnet2/svs/naive_rnn/naive_rnn.py
  espnet2/svs/naive_rnn/naive_rnn_dp.py
  espnet2/svs/xiaoice/XiaoiceSing.py
Due: auto add label=ESPnet2

add CI
  espnet2/svs/naive_rnn/naive_rnn.py
  espnet2/svs/naive_rnn/naive_rnn_dp.py
  espnet2/svs/xiaoice/XiaoiceSing.py
  test/espnet2/bin/test_svs_inference.py
  test/espnet2/bin/test_svs_train.py
Due: auto add label=ESPnet2

fix
  espnet2/svs/naive_rnn/naive_rnn.py
  espnet2/svs/naive_rnn/naive_rnn_dp.py
  espnet2/svs/xiaoice/XiaoiceSing.py
  test/espnet2/fileio/test_score_scp.py
Due: auto add label=ESPnet2

Add CI
  test/espnet2/fileio/test_score_scp.py
Due: none

fix
  test/espnet2/fileio/test_score_scp.py
Due: none

fix
  test/espnet2/bin/test_svs_inference.py
Due: none

bump to v0.2
  espnet2/asr_transducer/encoder/blocks/conv_input.py
  espnet2/asr_transducer/encoder/validation.py
  espnet2/asr_transducer/frontend/online_audio_processor.py
  espnet2/asr_transducer/utils.py
  espnet2/bin/asr_transducer_inference.py
Due: auto add label=ESPnet2

update streaming tests
  test/espnet2/bin/test_asr_transducer_inference.py
Due: none

remove old commented code
  espnet2/asr_transducer/utils.py
Due: auto add label=ESPnet2

fix CI
  espnet2/bin/svs_inference.py
  test/espnet2/bin/test_svs_inference.py
  test/espnet2/fileio/test_score_scp.py
Due: auto add label=ESPnet2

Set default value for argument
  espnet/nets/pytorch_backend/transformer/repeat.py
Due: auto add label=ESPnet1

fix CI
  ci/install.sh
  tools/check_install.py
  tools/installers/install_muskit.sh
  tools/installers/install_muskits.sh
Due: auto add label=CI, auto add label=Installation

fix CI
  ci/install.sh
Due: auto add label=CI

fix CI
  tools/Makefile
Due: auto add label=Installation

fix CI
  espnet2/fileio/score_scp.py
  test/espnet2/fileio/test_score_scp.py
  tools/Makefile
Due: auto add label=ESPnet2, auto add label=Installation

fix CI
  test/espnet2/fileio/test_score_scp.py
Due: none

fix CI
  test/espnet2/bin/test_svs_inference.py
Due: none

fix CI
  ci/install.sh
  setup.py
Due: auto add label=CI, auto add label=Installation

fix CI
  setup.py
Due: auto add label=Installation

add back buffering
  espnet2/asr_transducer/frontend/online_audio_processor.py
Due: auto add label=ESPnet2

support multi-decoder 2-pass ST
  egs2/TEMPLATE/st1/st.sh
  espnet/nets/batch_beam_search.py
  espnet/nets/beam_search.py
  espnet/nets/pytorch_backend/transformer/decoder_layer.py
  espnet2/bin/st_inference.py
  espnet2/st/espnet_model.py
  espnet2/tasks/st.py
Due: auto add label=ESPnet1, auto add label=ESPnet2

support multi-decoder 2-pass ST
  espnet2/asr/decoder/transformer_decoder.py
  espnet2/st/espnet_model.py
Due: auto add label=ESPnet2

add unified adapter interface
  egs2/commonvoice/asr1/conf/adapter_example.yaml
  espnet2/asr/frontend/adapter_utils/adapters/adapter.py
  espnet2/asr/frontend/adapter_utils/adapters/adapter_transformer.py
  espnet2/asr/frontend/adapter_utils/add_adapters.py
  espnet2/asr/frontend/s3prl.py
Due: auto add label=ESPnet2

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
