Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

.mergify.yml:

pull_request_rules:
  - name: automatic merge if label=auto-merge
    conditions:
      - "label=auto-merge"
      - "check-success=test_centos7"
      - "check-success=test_debian9"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.4.0, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.5.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.6.0, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.7.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.8.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.9.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.10.2, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.11.0, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.12.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.13.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.8, 1.13.1, false, 6.0.0)"
      - "check-success=linter_and_test (ubuntu-latest, 3.9, 1.13.1, false, 6.0.0)"
      - "check-success=linter_and_test (ubuntu-latest, 3.10, 1.13.1, false, 6.0.0)"
      - "check-success=test_import (ubuntu-latest, 3.10, 1.13.1)"
      - "check-success=check_kaldi_symlinks"
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=ESPnet1"
    conditions:
      - files~=^(espnet/|egs/)
    actions:
      label:
        add: ["ESPnet1"]
  - name: "auto add label=ESPnet2"
    conditions:
      - files~=^(espnet2/|egs2/)
    actions:
      label:
        add: ["ESPnet2"]
  - name: "auto add label=ASR"
    conditions:
      - files~=^(espnet*/asr|egs*/*/asr1)
    actions:
      label:
        add: ["ASR"]
  - name: "auto add label=TTS"
    conditions:
      - files~=^(espnet*/tts|egs*/*/tts1)
    actions:
      label:
        add: ["TTS"]
  - name: "auto add label=MT"
    conditions:
      - files~=^(espnet*/mt|egs*/*/mt1)
    actions:
      label:
        add: ["MT"]
  - name: "auto add label=LM"
    conditions:
      - files~=^(espnet*/lm)
    actions:
      label:
        add: ["LM"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^doc/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]

revoke undoed patch
  espnet2/tasks/spk.py
Due: auto add label=ESPnet2

revoke undoed commit, make no da work
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

undo revoked edits
  egs2/TEMPLATE/spk1/spk.sh
  egs2/mini_an4/spk1/conf/train_mini_RawNet3.yaml
  egs2/voxceleb/spk1/conf/tuning/train_RawNet3_sgdr_bs2.yaml
Due: auto add label=ESPnet2

readme
  egs2/tedlium3/asr2/README.md
Due: auto add label=ESPnet2, auto add label=README

Revert "readme"
  egs2/tedlium3/asr2/README.md
Due: auto add label=ESPnet2, auto add label=README

Support mixing with variable number of noises
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

Reflect comments
  egs2/librimix/enh1/local/data.sh
Due: auto add label=ESPnet2

Reflect comments
  egs2/librimix/enh1/local/asr_data_prep.sh
Due: auto add label=ESPnet2

initial commit for swbd asr2
  egs2/swbd/asr2/asr2.sh
  egs2/swbd/asr2/cmd.sh
  egs2/swbd/asr2/conf/pbs.conf
  egs2/swbd/asr2/conf/queue.conf
  egs2/swbd/asr2/conf/slurm.conf
  egs2/swbd/asr2/db.sh
  egs2/swbd/asr2/local/path.sh
  egs2/swbd/asr2/path.sh
  egs2/swbd/asr2/pyscripts
  egs2/swbd/asr2/scripts
  egs2/swbd/asr2/steps
  egs2/swbd/asr2/utils
Due: auto add label=ESPnet2

made configs and run.sh
  egs2/swbd/asr2/conf/decode_ctc0.3.yaml
  egs2/swbd/asr2/conf/train_discrete_asr_e_branchformer1.yaml
  egs2/swbd/asr2/local/data.sh
  egs2/swbd/asr2/run.sh
Due: auto add label=ESPnet2

fix minor bug in da
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

add arg
  espnet2/tasks/spk.py
Due: auto add label=ESPnet2

add making scp files for DA
  egs2/voxceleb/spk1/local/data.sh
Due: auto add label=ESPnet2

fix the local directory symlink
  egs2/swbd/asr2/local/MSU_single_letter.txt
  egs2/swbd/asr2/local/data.sh
  egs2/swbd/asr2/local/dict.patch
  egs2/swbd/asr2/local/eval2000_data_prep.sh
  egs2/swbd/asr2/local/extend_segments.pl
  egs2/swbd/asr2/local/fisher_data_prep.sh
  egs2/swbd/asr2/local/format_acronyms_dict.py
  egs2/swbd/asr2/local/map_acronyms_transcripts.py
  egs2/swbd/asr2/local/rt03_data_prep.sh
  egs2/swbd/asr2/local/score.sh
  egs2/swbd/asr2/local/swbd1_data_download.sh
  egs2/swbd/asr2/local/swbd1_data_prep.sh
  egs2/swbd/asr2/local/swbd1_fix_speakerid.pl
  egs2/swbd/asr2/local/swbd1_map_words.pl
  egs2/swbd/asr2/local/swbd1_prepare_dict.sh
  egs2/swbd/asr2/run.sh
Due: auto add label=ESPnet2

reflects comments
  egs2/TEMPLATE/spk1/spk.sh
  egs2/mini_an4/spk1/conf/train_mini_RawNet3.yaml
  egs2/voxceleb/spk1/conf/train_RawNet3.yaml
  egs2/voxceleb/spk1/conf/tuning/train_RawNet3_sgdr.yaml
  egs2/voxceleb/spk1/conf/tuning/train_RawNet3_sgdr_bs.yaml
  egs2/voxceleb/spk1/conf/tuning/train_RawNet3_sgdr_bs2.yaml
  espnet2/spk/loss/aamsoftmax.py
  espnet2/spk/loss/abs_loss.py
Due: auto add label=ESPnet2

make symlink conf
  egs2/voxceleb/spk1/conf/train_RawNet3.yaml
  egs2/voxceleb/spk1/conf/tuning/train_RawNet3.yaml
Due: auto add label=ESPnet2

add comment for speech2
  espnet2/tasks/spk.py
Due: auto add label=ESPnet2

id fix
  .github/workflows/ci.yaml
  .github/workflows/doc.yml
Due: auto add label=CI

Skip CI for draft PR
  .github/workflows/ci.yaml
Due: auto add label=CI

Update centos7.yml
  .github/workflows/centos7.yml
Due: auto add label=CI

Update debian11.yml
  .github/workflows/debian11.yml
Due: auto add label=CI

Update doc.yml
  .github/workflows/doc.yml
Due: auto add label=CI

Update draft-pdf.yml
  .github/workflows/draft-pdf.yml
Due: auto add label=CI

Update macos.yml
  .github/workflows/macos.yml
Due: auto add label=CI

Update test_import.yaml
  .github/workflows/test_import.yaml
Due: auto add label=CI

Update windows.yml
  .github/workflows/windows.yml
Due: auto add label=CI

Add unit tests
  ci/test_integration_espnet2.sh
  egs2/mini_an4/spk1/conf/train_mini_RawNet3_dataaug.yaml
  espnet2/train/preprocessor.py
  espnet2/utils/eer.py
  test/espnet2/schedulers/cosine_anneal_warmup_restart.py
  test/espnet2/utils/test_eer.py
Due: auto add label=ESPnet2, auto add label=CI

Fix a bug in SPK preprocessor
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

multiple condition
  .github/workflows/ci.yaml
  .github/workflows/doc.yml
Due: auto add label=CI

fix minor bug, make ci model smaller
  egs2/mini_an4/spk1/conf/train_mini_RawNet3.yaml
  egs2/mini_an4/spk1/conf/train_mini_RawNet3_dataaug.yaml
Due: auto add label=ESPnet2

conditional launch
  .github/workflows/ci.yaml
  .github/workflows/doc.yml
Due: auto add label=CI

[skip ci] update cancel.yml
  .github/workflows/cancel.yml
Due: auto add label=CI

[skip ci] Update cancel.yml (#5334)
  .github/workflows/cancel.yml
Due: auto add label=CI

Update espnet2/spk/loss/aamsoftmax.py
  espnet2/spk/loss/aamsoftmax.py
Due: auto add label=ESPnet2

Update espnet2/train/spk_trainer.py
  espnet2/train/spk_trainer.py
Due: auto add label=ESPnet2

Update
  espnet2/asr/encoder/avhubert_encoder.py
Due: auto add label=ESPnet2
