Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet2, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=mergify, auto add label=Docker

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

print total params, trainable parameters and percent trainable
  espnet/asr/pytorch_backend/asr.py
  espnet/asr/pytorch_backend/asr_mix.py
  espnet/lm/pytorch_backend/lm.py
  espnet/mt/pytorch_backend/mt.py
  espnet/st/pytorch_backend/st.py
  espnet/tts/pytorch_backend/tts.py
  espnet/vc/pytorch_backend/vc.py
  espnet2/torch_utils/model_summary.py
Due: auto add label=ESPnet2

added error handling for zero_infinity option
  espnet/nets/pytorch_backend/ctc.py
Due: none

bug fix for Wav2Vec encoder
  espnet2/asr/encoder/wav2vec2_encoder.py
Due: auto add label=ESPnet2

Install warp-ctc using pip>=21.0
  ci/install.sh
  tools/installers/install_warp-ctc.sh
Due: auto add label=CI

Fix dev set in IWSLT21 ASR recipe
  egs/iwslt21/asr1/run.sh
Due: none

Fix comment
  egs/iwslt21/asr1/run.sh
Due: none

builtin ctc modification
  espnet/bin/asr_train.py
  espnet/bin/st_train.py
  espnet/nets/pytorch_backend/ctc.py
Due: none

ATT_WT Update
  espnet/asr/pytorch_backend/recog.py
  espnet/nets/batch_beam_search.py
  espnet/nets/beam_search.py
  espnet/nets/pytorch_backend/transformer/decoder.py
  espnet2/asr/decoder/transformer_decoder.py
  espnet2/bin/asr_inference.py
Due: auto add label=ESPnet2

fix for asr_mix
  espnet/nets/pytorch_backend/ctc.py
Due: none

enh_asr inference
  espnet2/bin/enh_asr_inference.py
Due: auto add label=ESPnet2

Fix args
  espnet/nets/pytorch_backend/transformer/decoder.py
  espnet/nets/pytorch_backend/transformer/dynamic_conv.py
  espnet/nets/pytorch_backend/transformer/dynamic_conv2d.py
  espnet/nets/pytorch_backend/transformer/encoder.py
  espnet/nets/pytorch_backend/transformer/lightconv.py
  espnet/nets/pytorch_backend/transformer/lightconv2d.py
  espnet2/asr/decoder/transformer_decoder.py
Due: auto add label=ESPnet2

Fix type in docstrings
  espnet/nets/pytorch_backend/transformer/dynamic_conv.py
  espnet/nets/pytorch_backend/transformer/dynamic_conv2d.py
Due: none

Add the latest RPE implementation to ST task.
  egs/fisher_callhome_spanish/st1/conf/tuning/train_pytorch_conformer_kernel15_bpe_ctc_asr0.3.yaml
  egs/fisher_callhome_spanish/st1/conf/tuning/train_pytorch_conformer_kernel15_bpe_short.yaml
  espnet/nets/pytorch_backend/e2e_st_conformer.py
Due: none

Add function verify_rel_pos_type().
  espnet/nets/pytorch_backend/conformer/argument.py
  espnet/nets/pytorch_backend/e2e_asr_conformer.py
  espnet/nets/pytorch_backend/e2e_st_conformer.py
Due: none

Integration testing for asr_mix was using the wrong config.
  egs/mini_an4/asr_mix1/run.sh
Due: none

default fix for asr_mix
  espnet/bin/asr_train.py
Due: none

Update model link (previous one is not correct)
  egs2/mls/asr1/RESULTS.md
Due: auto add label=ESPnet2

Execute activate_python.sh in ci/install.sh
  ci/install.sh
Due: auto add label=CI

add more configuration options for LM
  espnet/nets/pytorch_backend/lm/default.py
  espnet/nets/pytorch_backend/lm/transformer.py
Due: none

fix formatting
  espnet/nets/pytorch_backend/lm/default.py
  espnet/nets/pytorch_backend/lm/transformer.py
Due: none

Fix local/remove_punctuation.pl -> remove_punctuation.pl
  egs/fisher_callhome_spanish/st1/local/normalize_trans.sh
  egs/how2/st1/local/data_prep.sh
  egs/how2/st1/local/data_prep_test.sh
  egs/iwslt18/st1/local/data_prep_eval.sh
  egs/iwslt18/st1/local/data_prep_train.sh
  egs/libri_trans/st1/local/data_prep.sh
  egs/must_c/st1/local/data_prep.sh
Due: none

add documentation related to aux task
  espnet/nets/pytorch_backend/transducer/rnn_encoder.py
Due: none

Add files via upload
  egs2/TEMPLATE/asr1/db.sh
Due: auto add label=ESPnet2

Add files via upload
  egs2/tedlium2/asr1/asr.sh
  egs2/tedlium2/asr1/db.sh
Due: auto add label=ESPnet2

Add files via upload
  egs2/tedlium2/asr1/conf/tuning/train_asr_transformer.yaml
Due: auto add label=ESPnet2

Add files via upload
  egs2/tedlium2/asr1/local/data.sh
Due: auto add label=ESPnet2

Remove trainer.num_optimizer and support multiple optimizers in default trainer
  espnet2/tasks/abs_task.py
  espnet2/train/trainer.py
Due: auto add label=ESPnet2

change to get
  espnet2/train/trainer.py
Due: auto add label=ESPnet2

fix
  espnet2/train/trainer.py
Due: auto add label=ESPnet2

add test code
  espnet2/train/trainer.py
  test/espnet2/tasks/test_abs_task.py
Due: auto add label=ESPnet2

fix sharded_ddp mode
  espnet2/train/trainer.py
Due: auto add label=ESPnet2

new tests for lm
  test/test_lm.py
Due: none

fix a typo
  doc/installation.md
Due: auto add label=Documentation

tedlium2 added to db.sh
  egs2/TEMPLATE/asr1/db.sh
Due: auto add label=ESPnet2

modified according to prs
  egs2/tedlium2/asr1/asr.sh
  egs2/tedlium2/asr1/conf/tuning/train_asr_transformer.yaml
  egs2/tedlium2/asr1/db.sh
  egs2/tedlium2/asr1/local/data.sh
  egs2/tedlium2/asr1/run.sh
Due: auto add label=ESPnet2

fix #3017
  utils/compute-fbank-feats.py
Due: none

fix
  utils/compute-fbank-feats.py
Due: none

Path conditions:
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=README: any of: ^README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
