Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

Two from review, and the checker moves to the table it checks
  .github/workflows/ci_on_ubuntu.yml
  ci/check_front_ends.py
  doc/front_ends.md
  espnet2/bin/demo.py
  test/espnet2/bin/test_demo_apps.py
Due: auto add label=ESPnet2, auto add label=Documentation, auto add label=CI

Reuse shared beam search for metric constraints and reject unknown metrics
  espnet2/universa/ar_universa/universa_beam_search.py
  espnet2/universa/metric_tokenizer/metric_tokenizer.py
  test/espnet2/universa/test_metric_beam_search.py
  test/espnet2/universa/test_metric_tokenizer.py
Due: auto add label=ESPnet2

Set fixed-pair minimum length in batch scorer integration test
  test/espnet2/universa/test_metric_beam_search.py
Due: none

Replace includes w/ excludes, add docstring linting, and minor changes
  pyproject.toml
Due: none

Ruff auto-fixes w/ flake8 temporarily disabled for smaller diff
  egs2/TEMPLATE/asr1/pyscripts/feats/dump_codec.py
  egs2/TEMPLATE/asr1/pyscripts/utils/evaluate_whisper_inference.py
  egs2/lrs2/lipreading1/local/feature_extract/extract_visual_feature.py
  egs2/zh_openslr38/asr1/local/check_train_test_duplicate.py
  espnet2/asr/encoder/hubert_encoder.py
  espnet2/bin/compute_fbank_feats.py
  espnet2/bin/tts2_inference.py
  espnet2/legacy/nets/batch_beam_search_online.py
  espnet2/legacy/transform/functional.py
  espnet2/tasks/enh_s2t.py
  espnet2/tasks/tts2.py
  espnet2/tts2/espnet_model.py
  espnet2/tts2/fastspeech2/fastspeech2_discrete.py
  espnet2/utils/types.py
  pyproject.toml
  test/espnet2/bin/test_macos_mps_model.py
  test/espnet2/cls/test_lightning_callbacks.py
  test/espnet2/legacy/test_batch_beam_search.py
  test/espnet2/legacy/test_batch_beam_search_batched.py
  test/espnet2/legacy/test_batch_beam_search_reference.py
  test/espnet2/legacy/test_ctc_prefix_score_reference.py
  utils/addjson.py
  utils/compute-fbank-feats.py
  utils/compute-stft-feats.py
  utils/copy-feats.py
  utils/eval-source-separation.py
Due: auto add label=ESPnet2

change directory name from f5_tts to f5tts
  espnet3/systems/f5tts/__init__.py
  espnet3/systems/f5tts/cfm.py
  espnet3/systems/f5tts/dit.py
  espnet3/systems/f5tts/f5tts.py
  espnet3/systems/f5tts/inference.py
  espnet3/systems/f5tts/modules.py
  espnet3/systems/f5tts/pinyin.py
  espnet3/systems/f5tts/preprocessor.py
  espnet3/systems/f5tts/rotary.py
  espnet3/systems/f5tts/solvers.py
  espnet3/systems/f5tts/utils.py
  espnet3/systems/f5tts/vocoder_mel.py
  test/espnet3/systems/f5tts/__init__.py
  test/espnet3/systems/f5tts/conftest.py
  test/espnet3/systems/f5tts/test_cfm.py
  test/espnet3/systems/f5tts/test_dit.py
  test/espnet3/systems/f5tts/test_f5tts.py
  test/espnet3/systems/f5tts/test_inference.py
  test/espnet3/systems/f5tts/test_mmdit.py
  test/espnet3/systems/f5tts/test_model_forward.py
  test/espnet3/systems/f5tts/test_modules.py
  test/espnet3/systems/f5tts/test_pinyin.py
  test/espnet3/systems/f5tts/test_preprocessor.py
  test/espnet3/systems/f5tts/test_rotary.py
  test/espnet3/systems/f5tts/test_sampling.py
  test/espnet3/systems/f5tts/test_solvers.py
  test/espnet3/systems/f5tts/test_utils.py
  test/espnet3/systems/f5tts/test_vocoder_mel.py
Due: none

Say what the prompted tasks are worth on a CTC checkpoint
  egs2/powsm_ctc/s2t1/demo/README.md
  espnet2/bin/demo.py
  test/espnet2/bin/test_demo.py
Due: auto add label=ESPnet2, auto add label=README

Teach the CLI test's fake model the argument the page now passes
  test/espnet2/bin/test_cli.py
Due: none

Cover the rate the Space now asks for
  test/espnet2/bin/test_align.py
Due: none

Drop a claim POWSM's author corrected
  egs2/powsm_ctc/s2t1/demo/README.md
Due: auto add label=ESPnet2, auto add label=README

Give shared beam hypotheses independent mutable defaults
  espnet2/legacy/nets/beam_search.py
  test/espnet2/legacy/test_hypothesis.py
Due: auto add label=ESPnet2

Fix ARECHO reference ownership and sparse token targets
  espnet2/universa/ar_universa/ar_universa.py
  espnet2/universa/ar_universa/data.py
  test/espnet2/universa/test_arecho.py
Due: auto add label=ESPnet2

Resolve VCTK dataset root from env var and move enh scoring deps to pyproject
  ci/test_integration_espnet3.sh
  egs3/vctk_noisy/esp2_enh/README.md
  egs3/vctk_noisy/esp2_enh/conf/inference.yaml
  egs3/vctk_noisy/esp2_enh/conf/training.yaml
  egs3/vctk_noisy/esp2_enh/dataset/builder.py
  egs3/vctk_noisy/esp2_enh/dataset/config.yaml
  egs3/vctk_noisy/esp2_enh/dataset/dataset.py
  pyproject.toml
Due: auto add label=README, auto add label=CI

Align ARECHO decoding bounds and trim parallel batch padding
  espnet2/universa/ar_universa/ar_universa.py
  espnet2/universa/ar_universa/data.py
  test/espnet2/universa/test_ar_universa_data.py
  test/espnet2/universa/test_arecho.py
Due: auto add label=ESPnet2

The specification stops being an inventory, and the page stops being OWSM's
  doc/front_ends.md
  egs2/owsm_ctc_v4/s2t1/demo/app.py
  egs2/owsm_v4/s2t1/demo/app.py
  egs2/powsm_ctc/s2t1/demo/app.py
  espnet2/bin/demo.py
  test/espnet2/bin/test_demo.py
Due: auto add label=ESPnet2, auto add label=Documentation

refactor: rename ASR system to esp2_asr
  .github/labeler.yml
  egs3/TEMPLATE/asr/conf/metrics.yaml
  egs3/TEMPLATE/asr/conf/training.yaml
  egs3/TEMPLATE/asr/run.py
  egs3/librispeech_100/asr/conf/metrics.yaml
  egs3/librispeech_100/asr/conf/tuning/training_e_branchformer.yaml
  egs3/librispeech_100/asr/run.py
  egs3/mini_an4/asr/conf/metrics.yaml
  egs3/mini_an4/asr/conf/training_asr_streaming.yaml
  egs3/mini_an4/asr/conf/training_asr_transducer.yaml
  egs3/mini_an4/asr/conf/training_asr_transformer.yaml
  egs3/mini_an4/asr/conf/training_asr_transformer_split_preprocessor.yaml
  egs3/mini_an4/asr/conf/training_transducer_asr_conformer_rnnt.yaml
  egs3/mini_an4/asr/run.py
  egs3/spgispeech/asr/conf/metrics.yaml
  egs3/spgispeech/asr/conf/tuning/train_asr_conformer6_n_fft512_hop_length256.yaml
  egs3/spgispeech/asr/run.py
  espnet3/components/metrics/base_metric.py
  espnet3/systems/esp2_asr/__init__.py
  espnet3/systems/esp2_asr/metrics/__init__.py
  espnet3/systems/esp2_asr/metrics/cer.py
  espnet3/systems/esp2_asr/metrics/ter.py
  espnet3/systems/esp2_asr/metrics/wer.py
  espnet3/systems/esp2_asr/system.py
  espnet3/systems/esp2_asr/task.py
  espnet3/systems/esp2_asr/tokenizers/__init__.py
  espnet3/systems/esp2_asr/tokenizers/sentencepiece.py
  espnet3/systems/esp2_asr/transducer_task.py
  test/espnet3/systems/esp2_asr/__init__.py
  test/espnet3/systems/esp2_asr/metrics/test_metrics.py
  test/espnet3/systems/esp2_asr/test_asr_inference.py
  test/espnet3/systems/esp2_asr/test_asr_transducer.py
  test/espnet3/systems/esp2_asr/test_system.py
  test/espnet3/systems/esp2_asr/test_task.py
  test/espnet3/systems/esp2_asr/tokenizer/test_sentencepiece.py
  test/espnet3/utils/test_publish.py
Due: auto add label=CI

Address Masao-Someki's third review pass
  ci/test_integration_espnet3.sh
  egs3/meld/esp2_cls/conf/training.yaml
  egs3/meld/esp2_cls/dataset/builder.py
Due: auto add label=CI

test: update esp2_asr publication expectation
  test/espnet3/utils/test_publish.py
Due: none

docs: define ESPnet3 recipe layout
  .agent/CLAUDE.md
  .agent/egs3/CLAUDE.md
  .agent/espnet3/CLAUDE.md
  .agent/espnet3/cli/CLAUDE.md
  .agent/espnet3/components/CLAUDE.md
  .agent/espnet3/parallel/CLAUDE.md
Due: none

Address review comments on the ESPnet3 LID recipe
  egs3/TEMPLATE/esp2_lid/conf/inference.yaml
  egs3/TEMPLATE/esp2_lid/conf/metrics.yaml
  egs3/TEMPLATE/esp2_lid/conf/publication.yaml
  egs3/TEMPLATE/esp2_lid/src/__init__.py
  egs3/TEMPLATE/esp2_lid/src/hf_model_readme.md
  egs3/voxlingua107/esp2_lid/README.md
  egs3/voxlingua107/esp2_lid/conf/inference_embeddings.yaml
  egs3/voxlingua107/esp2_lid/conf/inference_prepared.yaml
  egs3/voxlingua107/esp2_lid/conf/metrics.yaml
  egs3/voxlingua107/esp2_lid/conf/metrics_embeddings.yaml
  egs3/voxlingua107/esp2_lid/conf/training.yaml
  egs3/voxlingua107/esp2_lid/dataset/__init__.py
  egs3/voxlingua107/esp2_lid/dataset/builder.py
  egs3/voxlingua107/esp2_lid/dataset/config.yaml
  egs3/voxlingua107/esp2_lid/dataset/dataset.py
  egs3/voxlingua107/esp2_lid/src/babel_prepare.py
  egs3/voxlingua107/esp2_lid/src/download.py
  egs3/voxlingua107/esp2_lid/src/fleurs_prepare.py
  egs3/voxlingua107/esp2_lid/src/manifest.py
  egs3/voxlingua107/esp2_lid/src/ml_superb2_prepare.py
  egs3/voxlingua107/esp2_lid/src/prepare_utils.py
  egs3/voxlingua107/esp2_lid/src/voxpopuli_prepare.py
  espnet3/systems/esp2_lid/callbacks.py
  espnet3/systems/esp2_lid/collect_stats.py
  espnet3/systems/esp2_lid/inference.py
  espnet3/systems/esp2_lid/metrics/__init__.py
  espnet3/systems/esp2_lid/metrics/accuracy.py
  espnet3/systems/esp2_lid/metrics/classification_report.py
  test/egs3/voxlingua107/esp2_lid/src/test_corpus_prepare.py
  test/egs3/voxlingua107/esp2_lid/test_builder.py
  test/egs3/voxlingua107/esp2_lid/test_source_download.py
  test/espnet3/systems/esp2_lid/metrics/test_accuracy.py
  test/espnet3/systems/esp2_lid/test_callbacks.py
  test/espnet3/systems/esp2_lid/test_collect_stats.py
Due: auto add label=README

Emit empty ARECHO targets for wholly unlabelled batches
  espnet2/universa/ar_universa/data.py
  test/espnet2/universa/test_ar_universa_data.py
  test/espnet2/universa/test_arecho.py
Due: auto add label=ESPnet2

Resolve the VoxLingua107 source in the builder and follow master's parallel defaults
  egs3/TEMPLATE/esp2_lid/conf/inference.yaml
  egs3/TEMPLATE/esp2_lid/conf/training.yaml
  egs3/voxlingua107/esp2_lid/README.md
  egs3/voxlingua107/esp2_lid/conf/inference.yaml
  egs3/voxlingua107/esp2_lid/conf/inference_embeddings.yaml
  egs3/voxlingua107/esp2_lid/conf/inference_prepared.yaml
  egs3/voxlingua107/esp2_lid/conf/training.yaml
  egs3/voxlingua107/esp2_lid/dataset/builder.py
  egs3/voxlingua107/esp2_lid/dataset/config.yaml
  egs3/voxlingua107/esp2_lid/dataset/dataset.py
  egs3/voxlingua107/esp2_lid/src/voxpopuli_prepare.py
  espnet3/systems/esp2_lid/collect_stats.py
  test/egs3/voxlingua107/esp2_lid/src/test_corpus_prepare.py
  test/egs3/voxlingua107/esp2_lid/test_builder.py
  test/egs3/voxlingua107/esp2_lid/test_configs.py
  test/espnet3/systems/esp2_lid/test_collect_stats.py
  test/espnet3/systems/esp2_lid/test_inference.py
  test/espnet3/systems/esp2_lid/test_system.py
Due: auto add label=README

Exclude private classes from public API documentation pages
  doc/members2rst.py
  test/doc/test_members2rst.py
Due: auto add label=Documentation

Wrap log examples after the upstream esp2_asr rename
  espnet3/utils/logging_utils.py
Due: none

egs3, espnet3: rename the ST system to esp2_st
  egs3/TEMPLATE/esp2_st/__init__.py
  egs3/TEMPLATE/esp2_st/conf/inference.yaml
  egs3/TEMPLATE/esp2_st/conf/metrics.yaml
  egs3/TEMPLATE/esp2_st/conf/publication.yaml
  egs3/TEMPLATE/esp2_st/conf/training.yaml
  egs3/TEMPLATE/esp2_st/run.py
  egs3/TEMPLATE/esp2_st/src/__init__.py
  egs3/TEMPLATE/esp2_st/src/hf_model_readme.md
  egs3/must_c/esp2_st/README.md
  egs3/must_c/esp2_st/conf/inference.yaml
  egs3/must_c/esp2_st/conf/metrics.yaml
  egs3/must_c/esp2_st/conf/publication.yaml
  egs3/must_c/esp2_st/conf/tuning/train_st_conformer.yaml
  egs3/must_c/esp2_st/dataset/__init__.py
  egs3/must_c/esp2_st/dataset/builder.py
  egs3/must_c/esp2_st/dataset/config.yaml
  egs3/must_c/esp2_st/dataset/dataset.py
  egs3/must_c/esp2_st/run.py
  egs3/must_c/esp2_st/src/__init__.py
  egs3/must_c/esp2_st/src/inference.py
  egs3/must_c/st/conf/inference.yaml
  egs3/must_c/st/dataset/__init__.py
  egs3/must_c/st/run.py
  espnet3/systems/esp2_st/__init__.py
  espnet3/systems/esp2_st/metrics/__init__.py
  espnet3/systems/esp2_st/metrics/bleu.py
  espnet3/systems/esp2_st/normalization.py
  espnet3/systems/esp2_st/system.py
  espnet3/systems/esp2_st/tokenizers/__init__.py
  espnet3/systems/esp2_st/tokenizers/sentencepiece.py
  test/espnet3/systems/esp2_st/__init__.py
  test/espnet3/systems/esp2_st/test_bleu.py
  test/espnet3/systems/esp2_st/test_bleu_vs_st_sh.py
  test/espnet3/systems/esp2_st/test_normalization.py
  test/espnet3/systems/esp2_st/test_system.py
Due: auto add label=README

docs: refine finetuning and scaling guides
  doc/espnet3/guides/coming-from-other-toolkits/from-huggingface.md
  doc/espnet3/guides/coming-from-other-toolkits/from-nemo.md
  doc/espnet3/guides/coming-from-other-toolkits/from-speechbrain.md
  doc/espnet3/guides/coming-from-pytorch/index.md
  doc/espnet3/guides/finetuning/custom-model.md
  doc/espnet3/guides/finetuning/index.md
  doc/espnet3/guides/finetuning/training-loop.md
  doc/espnet3/guides/scaling/data-pipeline.md
  doc/espnet3/guides/scaling/multi-node.md
Due: auto add label=Documentation

docs: simplify recipe guidance
  doc/espnet3/get-started/what-is-a-recipe.md
  doc/vuepress/src/.vuepress/components/HomeRecipe.vue
Due: auto add label=Documentation

style: wrap esp2_asr log example paths
  espnet3/utils/logging_utils.py
Due: none

Link the README the way the published docs can follow
  doc/front_ends.md
Due: auto add label=Documentation

Stop the doc build dying on a page nobody can name
  ci/check_doc_pages.py
  ci/doc.sh
  doc/members2rst.py
Due: auto add label=Documentation, auto add label=CI

Update doc/espnet3/contributing/dev-setup.md
  doc/espnet3/contributing/dev-setup.md
Due: auto add label=Documentation

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(ci/|.github/)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
