Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

.mergify.yml:

pull_request_rules:
  - name: automatic merge if label=auto-merge
    conditions:
      - "label=auto-merge"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.0.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.1.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.2.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.3.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.4.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.5.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.6.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.7.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.8, 1.8.1, 6.0.0, false)"
    actions:
      merge:
        method: merge
        strict: false
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=ESPnet1"
    conditions:
      - files~=^(espnet/|egs/)
    actions:
      label:
        add: ["ESPnet1"]
  - name: "auto add label=ESPnet2"
    conditions:
      - files~=^(espnet2/|egs2/)
    actions:
      label:
        add: ["ESPnet2"]
  - name: "auto add label=ASR"
    conditions:
      - files~=^(espnet*/asr|egs*/*/asr1)
    actions:
      label:
        add: ["ASR"]
  - name: "auto add label=TTS"
    conditions:
      - files~=^(espnet*/tts|egs*/*/tts1)
    actions:
      label:
        add: ["TTS"]
  - name: "auto add label=MT"
    conditions:
      - files~=^(espnet*/mt|egs*/*/mt1)
    actions:
      label:
        add: ["MT"]
  - name: "auto add label=LM"
    conditions:
      - files~=^(espnet*/lm)
    actions:
      label:
        add: ["LM"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^doc/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]

flake-fix
  espnet2/asr/encoder/conformer_encoder.py
Due: auto add label=ESPnet2

docstring fix
  espnet/nets/pytorch_backend/transformer/longformer_attention.py
Due: auto add label=ESPnet1

pep fixes
  espnet/nets/pytorch_backend/transformer/longformer_attention.py
Due: auto add label=ESPnet1

Update asr.sh
  egs2/TEMPLATE/asr1/asr.sh
Due: auto add label=ESPnet2

impfixes
  espnet/nets/pytorch_backend/transformer/longformer_attention.py
Due: auto add label=ESPnet1

alpha-fixes
  espnet/nets/pytorch_backend/transformer/longformer_attention.py
Due: auto add label=ESPnet1

Modify tts.sh Stage 2+ speech brain suffix
  egs2/TEMPLATE/tts1/tts.sh
Due: auto add label=ESPnet2

Fix typo in extract_xvectors.py
  egs2/TEMPLATE/asr1/pyscripts/utils/extract_xvectors.py
Due: auto add label=ESPnet2

applied black on data_prep.py
  egs2/bn_openslr53/asr1/local/data_prep.py
Due: auto add label=ESPnet2

Added tests
  test/test_e2e_asr_conformer.py
  test_utils/test_scoresum_py.bats
Due: none

cmd.sh fix
  egs2/bn_openslr53/asr1/cmd.sh
Due: auto add label=ESPnet2

update asr1 RESULTS.MD
  egs/lrs/asr1/RESULTS.md
Due: auto add label=ESPnet1

update
  egs/lrs/asr1/RESULTS.md
  egs/lrs/asr1/clean.sh
  egs/lrs/asr1/local/plot.py
  egs/lrs/asr1/local/pretrain.py
  egs/lrs/asr1/local/remake_dict.py
  egs/lrs/asr1/local/show_result.sh
  egs/lrs/asr1/run.sh
Due: auto add label=ESPnet1

update asr1
  egs/lrs/asr1/RESULTS.md
  egs/lrs/asr1/local/pretrain.py
  egs/lrs/asr1/run.sh
Due: auto add label=ESPnet1

update asr1
  egs/lrs/asr1/local/README.md
Due: auto add label=ESPnet1, auto add label=README

Add librispeech conformer-transducer w/ speed perturbation + specaug
  egs/librispeech/asr1/RESULTS.md
Due: auto add label=ESPnet1

update asr1
  egs/lrs/asr1/local/make_files.py
  egs/lrs/asr1/local/pretrain.py
Due: auto add label=ESPnet1

update asr1
  egs/lrs/asr1/local/pretrain.py
Due: auto add label=ESPnet1

Refactor DNN_Beamformer; Add several new beamformers
  espnet2/enh/layers/beamformer.py
  espnet2/enh/layers/complex_utils.py
  espnet2/enh/layers/dnn_beamformer.py
  test/espnet2/enh/layers/test_complex_utils.py
  test/espnet2/enh/layers/test_enh_layers.py
  test/espnet2/enh/separator/test_beamformer.py
Due: auto add label=ESPnet2

Fix conflicts
  espnet2/enh/layers/dnn_beamformer.py
Due: auto add label=ESPnet2

update asr1new
  egs/lrs/asr1/run.sh
Due: auto add label=ESPnet1

Add more unit tests; Fix minor bugs
  espnet2/enh/layers/beamformer.py
  espnet2/enh/layers/complex_utils.py
  test/espnet2/enh/layers/test_complex_utils.py
  test/espnet2/enh/layers/test_enh_layers.py
Due: auto add label=ESPnet2

remove utts selection commands
  egs/lrs/asr1/run.sh
Due: auto add label=ESPnet1

Create README.md
  egs/lrs/README.md
Due: auto add label=ESPnet1, auto add label=README

update egs/README.MD
  egs/README.md
  egs/lrs/README.md
Due: auto add label=ESPnet1, auto add label=README

Fix import order
  test/espnet2/enh/layers/test_enh_layers.py
Due: none

Update run.sh
  egs/lrs/asr1/run.sh
Due: auto add label=ESPnet1

added new line at end of cmd.sh
  egs2/bn_openslr53/asr1/cmd.sh
Due: auto add label=ESPnet2

added new line at end of slurm.conf
  egs2/bn_openslr53/asr1/conf/slurm.conf
Due: auto add label=ESPnet2
