Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

fix typo
  egs2/l3das22/enh1/local/l3das22_data_prep.sh
Due: auto add label=ESPnet2

Apply black formatting
  utils/calculate_rtf.py
Due: none

Fix: use correct string for marking start times in espnet1 decode log
  utils/calculate_rtf.py
Due: none

starting removing asteroid dependencies
  espnet2/enh/separator/ineube_separator.py
Due: auto add label=ESPnet2

compilation fixes
  egs/commonvoice/asr1/local/data_prep.pl
  egs2/fleurs/asr1/local/create_dataset.py
  egs2/fleurs/asr1/local/data.sh
  egs2/fleurs/asr1/run.sh
Due: auto add label=ESPnet1, auto add label=ESPnet2

reflect comments
  espnet2/enh/layers/dptnet.py
  espnet2/enh/separator/dptnet_separator.py
  test/espnet2/enh/separator/test_dptnet_separator.py
  test/espnet2/enh/test_espnet_model.py
Due: auto add label=ESPnet2

update the training config files for aishell-1
  egs2/aishell2/asr1/conf/tuning/train_asr_conformer.yaml
  egs2/aishell2/asr1/conf/tuning/transducer/train_conformer-rnn_transducer.yaml
Due: auto add label=ESPnet2

fleurs run end to end
  egs2/fleurs/asr1/Fusing_ASR_frontends_in_Espnet2.md
  egs2/fleurs/asr1/README.md
  egs2/fleurs/asr1/local/create_dataset.py
  egs2/fleurs/asr1/local/data.sh
  egs2/fleurs/asr1/local/data_prep.pl
  egs2/fleurs/asr1/local/download_and_untar.sh
  egs2/fleurs/asr1/local/nlsyms.txt
  egs2/fleurs/asr1/run.sh
Due: auto add label=ESPnet2, auto add label=README

isort
  egs2/fleurs/asr1/local/create_dataset.py
Due: auto add label=ESPnet2

Delete train_asr_fused_frontends.yaml
  egs2/fleurs/asr1/conf/tuning/train_asr_fused_frontends.yaml
Due: auto add label=ESPnet2

add fleurs to egs2 readme
  egs2/README.md
Due: auto add label=ESPnet2, auto add label=README

fix typo in fleurs/run
  egs2/TEMPLATE/asr1/db.sh
  egs2/fleurs/asr1/local/data.sh
  egs2/fleurs/asr1/local/data_prep.pl
  egs2/fleurs/asr1/run.sh
Due: auto add label=ESPnet2

Add README.md for Aishell-2
  egs2/aishell2/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

removed asteroid dependency
  espnet2/enh/layers/tcndenseunet.py
  espnet2/enh/separator/ineube_separator.py
Due: auto add label=ESPnet2

Adding pretrain finetune recipe for cmu-arctic voices
  egs2/cmu_arctic/tts1/conf/tuning/finetune_transformer.yaml
  egs2/cmu_arctic/tts1/conf/tuning/train_transformer_pre.yaml
  egs2/cmu_arctic/tts1/conf/tuning/train_transformer_pre_sid.yaml
  egs2/cmu_arctic/tts1/local/data.sh
  egs2/cmu_arctic/tts1/local/data_download_all.sh
  egs2/cmu_arctic/tts1/local/data_prep_all.sh
  egs2/cmu_arctic/tts1/local/get_utt_list.py
  egs2/cmu_arctic/tts1/run_pre_fine.sh
Due: auto add label=ESPnet2

removed asteroid dependency from loss functions too
  espnet2/enh/loss/criterions/time_domain.py
Due: auto add label=ESPnet2

add multi-bleu results for mt
  egs2/iwslt14/mt1/README.md
Due: auto add label=ESPnet2, auto add label=README

Create install_datasets.sh
  tools/installers/install_datasets.sh
Due: auto add label=Installation

applied black
  espnet2/enh/layers/tcndenseunet.py
  espnet2/enh/loss/criterions/time_domain.py
  espnet2/enh/separator/ineube_separator.py
  espnet2/tasks/enh.py
  espnet2/torch_utils/get_layer_from_string.py
Due: auto add label=ESPnet2

fix accidental edit to commonvoice dataprep
  egs/commonvoice/asr1/local/data_prep.pl
Due: auto add label=ESPnet1

fleurs linting fixes
  egs2/fleurs/asr1/local/create_dataset.py
Due: auto add label=ESPnet2

Adding vits config files for cmu_arctic
  egs2/cmu_arctic/tts1/conf/tuning/train_multi_spk_vits.yaml
  egs2/cmu_arctic/tts1/conf/tuning/train_vits.yaml
  egs2/cmu_arctic/tts1/local/data_download_all.sh
Due: auto add label=ESPnet2

correct handling of multiple speakers
  espnet2/enh/layers/tcndenseunet.py
  espnet2/enh/separator/ineube_separator.py
Due: auto add label=ESPnet2

Revise data.sh for Aishell-2 dataset
  egs2/aishell2/asr1/local/data.sh
Due: auto add label=ESPnet2

formatting, fixed import error
  egs2/lrs3/avsr1/conf/train_avsr_transformer.yaml
  egs2/lrs3/avsr1/local/data.sh
  egs2/lrs3/avsr1/local/data_prep.py
  egs2/lrs3/avsr1/local/mouth_roi.py
  egs2/lrs3/avsr1/run.sh
  espnet2/avsr/encoder/vision_encoder.py
  espnet2/avsr/espnet_avsr_model.py
  espnet2/avsr/mm_align.py
  espnet2/avsr/mm_fusion.py
  espnet2/bin/avsr_train.py
  espnet2/fileio/vision_dataset.py
  espnet2/tasks/avsr.py
  espnet2/train/dataset.py
Due: auto add label=ESPnet2

fleurs local error handling
  egs2/fleurs/asr1/local/path.sh
Due: auto add label=ESPnet2

improved fleurs error message
  egs2/fleurs/asr1/local/create_dataset.py
Due: auto add label=ESPnet2

added ineube test
  espnet2/enh/layers/tcndenseunet.py
  espnet2/enh/separator/ineube_separator.py
  espnet2/torch_utils/get_layer_from_string.py
  test/espnet2/enh/test_espnet_model.py
Due: auto add label=ESPnet2

change docstring to solve error
  espnet2/torch_utils/get_layer_from_string.py
Due: auto add label=ESPnet2

fixed flake8
  espnet2/torch_utils/get_layer_from_string.py
Due: auto add label=ESPnet2

failing beamformer tests for some reason which I did not touch
  test/espnet2/enh/test_espnet_model.py
Due: none

add flex-stb for inference
  espnet2/bin/diar_inference.py
Due: auto add label=ESPnet2

exclude torch < 1.9
  test/espnet2/enh/test_espnet_model.py
Due: none

fixed isort
  espnet2/main_funcs/calculate_all_attentions.py
Due: auto add label=ESPnet2

fixed isort again
  espnet2/main_funcs/calculate_all_attentions.py
Due: auto add label=ESPnet2

break long lines
  espnet2/bin/diar_inference.py
Due: auto add label=ESPnet2

fix typo
  espnet2/bin/diar_inference.py
Due: auto add label=ESPnet2

apply black
  espnet2/bin/diar_inference.py
Due: auto add label=ESPnet2

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
