Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

Fix teacher forcing SVS bug in last commit.
  espnet2/svs/espnet_model.py
Due: auto add label=ESPnet2

corrected scenario display bug for DER and JER
  egs2/chime7_task1/asr1/local/da_wer_scoring.py
  egs2/chime7_task1/diar_asr1/local/pyannote_diarize.py
  egs2/chime7_task1/diar_asr1/run.sh
Due: auto add label=ESPnet2

Refactor length regulator and fix VISinger bug.
  espnet2/gan_svs/vits/generator.py
  espnet2/gan_svs/vits/length_regulator.py
Due: auto add label=ESPnet2

remove decoder_input_pitch in the last commit
  espnet2/gan_svs/vits/generator.py
Due: auto add label=ESPnet2

visinger2 generator draft
  espnet2/gan_svs/visinger2/duration_predictor.py
  espnet2/gan_svs/visinger2/pitch_predictor.py
  espnet2/gan_svs/visinger2/prior_decoder.py
  espnet2/gan_svs/visinger2/text_encoder.py
  espnet2/gan_svs/visinger2/visinger2_generator.py
  espnet2/gan_svs/vits/vits.py
Due: auto add label=ESPnet2

make #5035 mutuually exclusive from #5034
  espnet2/asr/frontend/adapters_utils/README.md
  espnet2/asr/frontend/adapters_utils/adapters/__init__.py
  espnet2/asr/frontend/adapters_utils/adapters/adapter.py
  espnet2/asr/frontend/adapters_utils/adapters/adapter_transformer.py
  espnet2/asr/frontend/adapters_utils/add_adapters.py
  espnet2/asr/frontend/adapters_utils/example.py
Due: auto add label=ESPnet2, auto add label=README

Fix bug of run.sh
  egs2/chime7_task1/asr1/run.sh
Due: auto add label=ESPnet2

fix for shell check
  egs2/chime7_task1/asr1/run.sh
Due: auto add label=ESPnet2

fix for shellcheck: run.sh
  egs2/chime7_task1/asr1/run.sh
Due: auto add label=ESPnet2

Update run.sh
  egs2/chime7_task1/asr1/run.sh
Due: auto add label=ESPnet2

adapter readme
  espnet2/asr/frontend/adapters_utils/README.md
Due: auto add label=ESPnet2, auto add label=README

add uhifigan avocodo mfd vocoder
  espnet2/gan_svs/avocodo/__init__.py
  espnet2/gan_svs/avocodo/avocodo.py
  espnet2/gan_svs/uhifigan/__init__.py
  espnet2/gan_svs/uhifigan/uhifigan.py
  espnet2/gan_svs/vits/generator.py
  espnet2/gan_svs/vits/vits.py
Due: auto add label=ESPnet2

fix visinger2 inference
  espnet2/gan_svs/visinger2/visinger2_generator.py
  espnet2/gan_svs/visinger2/visinger2_vocoder.py
Due: auto add label=ESPnet2

added multi channel
  egs2/chime7_task1/diar_asr1/local/pyannote_diarize.py
  egs2/chime7_task1/diar_asr1/run.sh
Due: auto add label=ESPnet2

solved display bug
  egs2/chime7_task1/asr1/local/da_wer_scoring.py
Due: auto add label=ESPnet2

fix uhifigan-avocodo inference
  espnet2/gan_svs/vits/generator.py
Due: auto add label=ESPnet2

new file: test_utils/espnet2_scripts/test_format_wav_scp_sh.bats
  ci/test_shell.sh
  test_utils/espnet2_scripts/test_format_wav_scp_sh.bats
Due: auto add label=CI

Update installation.md
  doc/installation.md
Due: auto add label=Documentation

Delete environment_structure.png
  doc/image/environment_structure.png
Due: auto add label=Documentation

Add files via upload
  doc/image/environment_structure.png
Due: auto add label=Documentation

Update README.md
  tools/README.md
Due: auto add label=README, auto add label=Installation

add pisinger draft
  espnet2/gan_svs/espnet_model.py
  espnet2/gan_svs/pits/analysis.py
  espnet2/gan_svs/pits/modules.py
  espnet2/gan_svs/pits/pisinger_generator.py
  espnet2/gan_svs/pits/ying_decoder.py
  espnet2/gan_svs/vits/vits.py
  espnet2/tts/feats_extract/yin.py
Due: auto add label=ESPnet2

[skip ci]
  doc/parallelization.md
Due: auto add label=Documentation

[skip ci]
  doc/espnet2_format_wav_scp.md
Due: auto add label=Documentation

[skip ci]
  doc/index.rst
Due: auto add label=Documentation

Update espnet2_format_wav_scp.md
  doc/espnet2_format_wav_scp.md
Due: auto add label=Documentation

Create README.md
  egs2/TEMPLATE/asr1/scripts/README.md
Due: auto add label=ESPnet2, auto add label=README

[skip ci]
  egs2/TEMPLATE/asr1/scripts/README.md
Due: auto add label=ESPnet2, auto add label=README

Create README.md
  egs2/TEMPLATE/asr1/pyscripts/README.md
Due: auto add label=ESPnet2, auto add label=README

update pisinger
  espnet2/gan_svs/pits/pisinger_generator.py
  espnet2/gan_svs/visinger2/visinger2_generator.py
  espnet2/gan_svs/vits/generator.py
  espnet2/gan_svs/vits/vits.py
Due: auto add label=ESPnet2

add custom hubert
  egs2/TEMPLATE/asr1/pyscripts/feats/dump_feats.py
  egs2/TEMPLATE/asr1/pyscripts/feats/feats_loader.py
  egs2/TEMPLATE/asr1/scripts/feats/perform_kmeans.sh
Due: auto add label=ESPnet2

wrong change
  egs2/TEMPLATE/s2st1/s2st.sh
  egs2/commonvoice/asr1/run.sh
  egs2/cvss/s2st1/conf/slurm.conf
  tools/Makefile
Due: auto add label=ESPnet2, auto add label=Installation

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
