Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

add e_branchformer config
  egs2/gigaspeech/asr1/conf/train_asr.yaml
  egs2/gigaspeech/asr1/conf/tuning/train_asr_e_branchformer_e17_size512_mlp3072_linear1024_layerdrop.yaml
  egs2/gigaspeech/asr1/local/score.sh
Due: auto add label=ESPnet2

update symlink name
  egs2/gigaspeech/asr1/conf/train_asr_e_branchformer.yaml
Due: auto add label=ESPnet2

add results and model link
  egs2/gigaspeech/asr1/README.md
  egs2/gigaspeech/asr1/conf/decode_asr.yaml
  egs2/gigaspeech/asr1/run.sh
Due: auto add label=ESPnet2, auto add label=README

add notes for some related functions for uasr
  espnet2/fileio/read_text.py
  espnet2/fileio/vad_scp.py
  espnet2/uasr/segmenter/abs_segmenter.py
Due: auto add label=ESPnet2

remove trailing whitespace
  espnet2/uasr/segmenter/abs_segmenter.py
Due: auto add label=ESPnet2

add architecture for translatotron2
  egs2/cvss/s2st1/conf/decode_s2st.yaml
  egs2/cvss/s2st1/conf/train_s2st_multihead_tgt_feats.yaml
  egs2/cvss/s2st1/conf/train_s2st_multihead_translatotron2.yaml
  egs2/cvss/s2st1/conf/train_s2st_tgt_feats.yaml
  espnet2/asr/decoder/transformer_decoder.py
  espnet2/bin/s2st_inference.py
  espnet2/layers/stft.py
  espnet2/s2st/espnet_model.py
  espnet2/s2st/synthesizer/discrete_synthesizer.py
  espnet2/s2st/tgt_feats_extract/abs_tgt_feats_extract.py
  espnet2/s2st/tgt_feats_extract/linear_spectrogram.py
  espnet2/s2st/tgt_feats_extract/log_mel_fbank.py
  espnet2/s2st/tgt_feats_extract/log_spectrogram.py
  espnet2/tasks/s2st.py
Due: auto add label=ESPnet2

minor
  espnet2/bin/s2st_inference.py
Due: auto add label=ESPnet2

simuleval_agent bug
  egs2/TEMPLATE/asr1/pyscripts/utils/simuleval_agent.py
Due: auto add label=ESPnet2

[skip ci] fix docstrings
  espnet2/tts/prodiff/denoiser.py
  espnet2/tts/prodiff/loss.py
  espnet2/tts/prodiff/prodiff.py
Due: auto add label=ESPnet2

fix test skip to use condition
  test/espnet2/tts/test_prodiff.py
Due: none

apply black
  espnet2/tts/prodiff/denoiser.py
  espnet2/tts/prodiff/loss.py
Due: auto add label=ESPnet2

Support ProDiff in TTS (#4808)
  egs2/ljspeech/tts1/conf/tuning/train_prodiff.yaml
  espnet2/tasks/tts.py
  espnet2/tts/prodiff/__init__.py
  espnet2/tts/prodiff/denoiser.py
  espnet2/tts/prodiff/loss.py
  espnet2/tts/prodiff/prodiff.py
  test/espnet2/tts/test_prodiff.py
Due: auto add label=ESPnet2

update kmeans scheme
  egs2/TEMPLATE/asr1/pyscripts/feats/dump_feats.py
  egs2/TEMPLATE/asr1/pyscripts/feats/dump_km_label.py
  egs2/TEMPLATE/asr1/pyscripts/feats/feats_loader.py
  egs2/TEMPLATE/asr1/pyscripts/feats/learn_kmeans_cuml.py
  egs2/TEMPLATE/asr1/pyscripts/feats/learn_kmeans_faiss.py
  egs2/TEMPLATE/asr1/pyscripts/feats/learn_kmeans_sklearn.py
  egs2/TEMPLATE/asr1/pyscripts/feats/measure_teacher_quality.py
  egs2/TEMPLATE/asr1/scripts/feats/perform_kmeans.sh
  egs2/TEMPLATE/s2st1/s2st.sh
  egs2/TEMPLATE/ssl1/hubert.sh
Due: auto add label=ESPnet2

kmeans add tags/stages
  egs2/TEMPLATE/asr1/scripts/feats/perform_kmeans.sh
  egs2/TEMPLATE/s2st1/s2st.sh
Due: auto add label=ESPnet2

incremental decode and streaming hierarchical st ctc
  egs2/TEMPLATE/asr1/pyscripts/utils/simuleval_agent.py
  espnet/nets/batch_beam_search_online.py
  espnet2/asr/encoder/contextual_block_conformer_encoder.py
  espnet2/bin/st_inference_streaming.py
Due: auto add label=ESPnet1, auto add label=ESPnet2

Add Conv2dSubsampling1 module and relevant tests
  espnet/nets/pytorch_backend/transformer/subsampling.py
  espnet2/asr/encoder/branchformer_encoder.py
  espnet2/asr/encoder/conformer_encoder.py
  espnet2/asr/encoder/e_branchformer_encoder.py
  espnet2/asr/encoder/longformer_encoder.py
  espnet2/asr/encoder/transformer_encoder.py
  espnet2/asr/encoder/transformer_encoder_multispkr.py
  test/espnet2/asr/encoder/test_branchformer_encoder.py
  test/espnet2/asr/encoder/test_conformer_encoder.py
  test/espnet2/asr/encoder/test_e_branchformer_encoder.py
  test/espnet2/asr/encoder/test_longformer_encoder.py
Due: auto add label=ESPnet1, auto add label=ESPnet2

minor fix for clustering
  egs2/TEMPLATE/asr1/pyscripts/feats/dump_feats.py
  egs2/TEMPLATE/asr1/pyscripts/feats/feats_loader.py
  egs2/TEMPLATE/asr1/scripts/feats/perform_kmeans.sh
  egs2/TEMPLATE/s2st1/s2st.sh
Due: auto add label=ESPnet2

update tgt type and src type for spec/discrete unit
  egs2/TEMPLATE/asr1/scripts/feats/perform_kmeans.sh
  egs2/TEMPLATE/s2st1/s2st.sh
Due: auto add label=ESPnet2

apply black isort
  egs2/TEMPLATE/asr1/pyscripts/feats/dump_feats.py
  egs2/TEMPLATE/asr1/pyscripts/feats/dump_km_label.py
  egs2/TEMPLATE/asr1/pyscripts/feats/feats_loader.py
  egs2/TEMPLATE/asr1/pyscripts/feats/learn_kmeans_cuml.py
  egs2/TEMPLATE/asr1/pyscripts/feats/learn_kmeans_sklearn.py
  egs2/TEMPLATE/asr1/pyscripts/feats/measure_teacher_quality.py
Due: auto add label=ESPnet2

add discrete unit model and unitY model
  espnet2/asr/decoder/transformer_decoder.py
  espnet2/asr/encoder/conformer_encoder.py
  espnet2/asr/encoder/longformer_encoder.py
  espnet2/asr/encoder/transformer_encoder.py
  espnet2/s2st/espnet_model.py
Due: auto add label=ESPnet2

add a test in test/espnet2/enh/test_espnet_model.py
  test/espnet2/enh/test_espnet_model.py
Due: none

update README.md
  egs2/wsj0_2mix/enh1/README.md
Due: auto add label=ESPnet2, auto add label=README

update asr results in readme
  README.md
Due: auto add label=README

fix isort
  test/espnet2/enh/test_espnet_model.py
Due: none

Support rawnet for xvector_tool
  egs2/TEMPLATE/asr1/pyscripts/utils/extract_xvectors.py
  egs2/TEMPLATE/tts1/tts.sh
Due: auto add label=ESPnet2

run black
  test/espnet2/enh/test_espnet_model.py
Due: none

applied isort
  egs2/TEMPLATE/asr1/pyscripts/utils/extract_xvectors.py
Due: auto add label=ESPnet2

stupid stupid stupid changes
  test/espnet2/enh/test_espnet_model.py
Due: none

Update espnet2/enh/separator/tfgridnet_separator.py
  espnet2/enh/separator/tfgridnet_separator.py
Due: auto add label=ESPnet2

reflect wangyou's comments 2
  espnet2/enh/separator/tfgridnet_separator.py
  test/espnet2/enh/test_espnet_model.py
Due: auto add label=ESPnet2

Update test_whisper_decoder.py
  test/espnet2/asr/decoder/test_whisper_decoder.py
Due: none

Update test_whisper_encoder.py
  test/espnet2/asr/encoder/test_whisper_encoder.py
Due: none

Refactor rawnet installation
  .gitignore
  egs2/TEMPLATE/asr1/pyscripts/utils/extract_xvectors.py
  tools/check_install.py
  tools/extra_path.sh
  tools/installers/install_rawnet.sh
Due: auto add label=ESPnet2, auto add label=Installation

remove speechbrain audio_norm in rawnet
  egs2/TEMPLATE/asr1/pyscripts/utils/extract_xvectors.py
Due: auto add label=ESPnet2

update ignore files
  .gitignore
Due: none

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
