Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

.mergify.yml:

pull_request_rules:
  - name: automatic merge if label=auto-merge
    conditions:
      - "label=auto-merge"
      - "check-success=test_centos7"
      - "check-success=test_debian9"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.4.0, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.5.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.6.0, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.7.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.8.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.9.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.10.2, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.11.0, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.12.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.13.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.8, 1.13.1, false, 6.0.0)"
      - "check-success=linter_and_test (ubuntu-latest, 3.9, 1.13.1, false, 6.0.0)"
      - "check-success=linter_and_test (ubuntu-latest, 3.10, 1.13.1, false, 6.0.0)"
      - "check-success=test_import (ubuntu-latest, 3.10, 1.13.1)"
      - "check-success=check_kaldi_symlinks"
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=ESPnet1"
    conditions:
      - files~=^(espnet/|egs/)
    actions:
      label:
        add: ["ESPnet1"]
  - name: "auto add label=ESPnet2"
    conditions:
      - files~=^(espnet2/|egs2/)
    actions:
      label:
        add: ["ESPnet2"]
  - name: "auto add label=ASR"
    conditions:
      - files~=^(espnet*/asr|egs*/*/asr1)
    actions:
      label:
        add: ["ASR"]
  - name: "auto add label=TTS"
    conditions:
      - files~=^(espnet*/tts|egs*/*/tts1)
    actions:
      label:
        add: ["TTS"]
  - name: "auto add label=MT"
    conditions:
      - files~=^(espnet*/mt|egs*/*/mt1)
    actions:
      label:
        add: ["MT"]
  - name: "auto add label=LM"
    conditions:
      - files~=^(espnet*/lm)
    actions:
      label:
        add: ["LM"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^doc/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]

fix download acesinger
  egs2/acesinger/svs1/local/data.sh
Due: auto add label=ESPnet2

Update data_prep.py
  egs2/acesinger/svs1/local/data_prep.py
Due: auto add label=ESPnet2

Update README.md
  egs2/acesinger/svs1/README.md
Due: auto add label=ESPnet2, auto add label=README

support vocoder
  egs2/ljspeech/tts2/run.sh
  espnet2/bin/tts2_inference.py
  espnet2/tasks/tts2.py
  espnet2/tts2/abs_tts2.py
Due: auto add label=ESPnet2

Created and updated directory for testing CEM
  .gitignore
  egs2/001_trial_eng/asr1/asr.sh
  egs2/001_trial_eng/asr1/cmd.sh
  egs2/001_trial_eng/asr1/conf/fbank.conf
  egs2/001_trial_eng/asr1/conf/pbs.conf
  egs2/001_trial_eng/asr1/conf/pitch.conf
  egs2/001_trial_eng/asr1/conf/queue.conf
  egs2/001_trial_eng/asr1/conf/slurm.conf
  egs2/001_trial_eng/asr1/db.sh
  egs2/001_trial_eng/asr1/local/path.sh
  egs2/001_trial_eng/asr1/path.sh
  egs2/001_trial_eng/asr1/pyscripts
  egs2/001_trial_eng/asr1/scripts
  egs2/001_trial_eng/asr1/steps
  egs2/001_trial_eng/asr1/utils
Due: auto add label=ESPnet2

Added a testing file.
  test2.txt
Due: none

updated with correct path for model_files
  .gitignore
Due: none

Testing syncing of files in asr_inference folder
  .gitignore
  asr_inference/model_files/test1.pth
  asr_inference/test1.py
Due: none

Updated .gitignore to ignore asr_inference/model_files folder
  .gitignore
Due: none

Checking sync asr_inference/model_files again
  asr_inference/model_files/test1.pth
  asr_inference/test2.py
Due: none

modify miniasr
  egs2/TEMPLATE/asr1/scripts/feats/perform_kmeans.sh
  egs2/TEMPLATE/asr2/asr2.sh
  egs2/librispeech_100/asr2/conf/train_discrete_asr_e_branchformer1_1gpu.yaml
  egs2/librispeech_100/asr2/run.sh
  egs2/mini_an4/asr1/local/data.sh
  egs2/mini_an4/asr2/run.sh
  espnet2/tasks/asr.py
Due: auto add label=ESPnet2

WIP: KiSingV2
  egs2/kising/svs1/cmd.sh
  egs2/kising/svs1/conf/pbs.conf
  egs2/kising/svs1/conf/queue.conf
  egs2/kising/svs1/conf/slurm.conf
  egs2/kising/svs1/conf/tuning/decode_vits.yaml
  egs2/kising/svs1/conf/tuning/train_visinger.yaml
  egs2/kising/svs1/conf/tuning/train_visinger2.yaml
  egs2/kising/svs1/db.sh
  egs2/kising/svs1/local/data.sh
  egs2/kising/svs1/local/data_prep.py
  egs2/kising/svs1/local/data_prep_old.py
  egs2/kising/svs1/local/midi-note.scp
  egs2/kising/svs1/local/notes.md
  egs2/kising/svs1/local/path.sh
  egs2/kising/svs1/local/t.ipynb
  egs2/kising/svs1/path.sh
  egs2/kising/svs1/pyscripts
  egs2/kising/svs1/run.sh
  egs2/kising/svs1/scripts
  egs2/kising/svs1/svs.sh
  egs2/kising/svs1/utils
Due: auto add label=ESPnet2

uncomment
  egs2/kising/svs1/local/data_prep.py
Due: auto add label=ESPnet2

small update for the test set selection
  egs2/kising/svs1/local/data_prep.py
Due: auto add label=ESPnet2

neglect english songs, better pinyin splitting
  egs2/kising/svs1/local/data_prep.py
Due: auto add label=ESPnet2

Add template for egsez
  egsez/TEMPLATE/task_name/conf/config.yml
  egsez/TEMPLATE/task_name/local/data_prep.py
  egsez/TEMPLATE/task_name/readme.md
  egsez/TEMPLATE/task_name/training.ipynb
  egsez/librispeech_100/asr/config/finetune_with_lora.yaml
  egsez/librispeech_100/asr/config/preprocess.yaml
  egsez/librispeech_100/asr/config/train_asr_e_branchformer_size256_mlp1024_linear1024_e12_mactrue_edrop0.0_ddrop0.0.yaml
  egsez/librispeech_100/asr/config/train_with_lhotse.yaml
  egsez/librispeech_100/asr/finetune_with_lora.ipynb
  egsez/librispeech_100/asr/local/data_prep.py
  egsez/librispeech_100/asr/pytorch_data.ipynb
  egsez/librispeech_100/asr/training.ipynb
  egsez/ljspeech/tts/conf/finetune.yaml
  egsez/ljspeech/tts/conf/tacotron2.yaml
  egsez/ljspeech/tts/local/data_prep.py
  egsez/ljspeech/tts/tacotron2.ipynb
  egsez/ljspeech/tts/tacotron2_finetune.ipynb
Due: none

minor fix according to comments
  egs2/TEMPLATE/asr1/db.sh
  egs2/kising/svs1/README.md
  egs2/kising/svs1/conf/tuning/train_visinger.yaml
  egs2/kising/svs1/conf/tuning/train_visinger2.yaml
  egs2/kising/svs1/local/data_prep.py
  egs2/kising/svs1/local/data_prep_old.py
  egs2/kising/svs1/local/midi-note.scp
  egs2/kising/svs1/local/pinyin_dict.py
  egs2/kising/svs1/local/t.ipynb
Due: auto add label=ESPnet2, auto add label=README

fix symlink
  egs2/kising/svs1/local/midi-note.scp
Due: auto add label=ESPnet2

now support one-click original/acesinger dataset training
  egs2/kising/svs1/local/data.sh
  egs2/kising/svs1/local/data_prep.py
Due: auto add label=ESPnet2

added a symlink for wav.scp
  egs2/dral/s2st1/local/prepare_datasets.py
Due: auto add label=ESPnet2

fixed wav.scp link
  egs2/dral/s2st1/local/prepare_datasets.py
Due: auto add label=ESPnet2

sort by id
  egs2/dral/s2st1/local/prepare_datasets.py
Due: auto add label=ESPnet2

added segment file
  egs2/dral/s2st1/local/prepare_datasets.py
Due: auto add label=ESPnet2

minor fix according to comments
  egs2/README.md
  egs2/kising/svs1/conf/tuning/train_visinger2_all.yaml
  egs2/kising/svs1/conf/tuning/train_visinger2_original.yaml
  egs2/kising/svs1/local/data.sh
  egs2/kising/svs1/local/download_wget.sh
  egs2/kising/svs1/run.sh
Due: auto add label=ESPnet2, auto add label=README

fix config
  egs2/kising/svs1/conf/tuning/train_visinger2_all.yaml
  egs2/kising/svs1/conf/tuning/train_visinger2_original.yaml
Due: auto add label=ESPnet2

fix ci
  egs2/kising/svs1/local/data.sh
  egs2/kising/svs1/local/data_prep.py
Due: auto add label=ESPnet2

fix code length
  egs2/kising/svs1/local/data_prep.py
Due: auto add label=ESPnet2

fix code length again
  egs2/kising/svs1/local/data_prep.py
Due: auto add label=ESPnet2

add voxceleb+voxblink recipes
  egs2/voxblink/spk1/conf/train_rawnet3_voxcelebs12devs_voxblinkclean.yaml
  egs2/voxblink/spk1/conf/train_rawnet3_voxcelebs12devs_voxblinkfull.yaml
  egs2/voxblink/spk1/conf/tuning/train_rawnet3_best_trnVox12Vbcln_emb192_amp_subcentertopk.yaml
  egs2/voxblink/spk1/conf/tuning/train_rawnet3_best_trnVox12Vbfull_emb192_amp_subcentertopk.yaml
Due: auto add label=ESPnet2

add results summary
  egs2/voxblink/spk1/README.md
Due: auto add label=ESPnet2, auto add label=README

add details for voxceleb+voxblink
  egs2/voxblink/spk1/README.md
Due: auto add label=ESPnet2, auto add label=README

add xvector
  espnet2/tasks/spk.py
Due: auto add label=ESPnet2

add xvector components
  espnet2/spk/encoder/xvector_encoder.py
  espnet2/spk/pooling/stat_pooling.py
  espnet2/spk/projector/xvector_projector.py
Due: auto add label=ESPnet2

check xvector working; add config for xvector
  egs2/voxceleb/spk1/conf/tuning/train_xvector_Vox12_amp_subcentertopk.yaml
  espnet2/spk/encoder/xvector_encoder.py
  espnet2/spk/pooling/stat_pooling.py
  espnet2/spk/projector/xvector_projector.py
Due: auto add label=ESPnet2

Fix bug
  egs2/owsm_v3/s2t1/local/kaldi_to_whisper.py
Due: auto add label=ESPnet2

added speaker id in id_fragments
  egs2/dral/s2st1/local/prepare_datasets.py
Due: auto add label=ESPnet2

write the main table
  egs2/dral/s2st1/local/prepare_datasets.py
Due: auto add label=ESPnet2

skip segments
  egs2/dral/s2st1/local/prepare_datasets.py
Due: auto add label=ESPnet2
