Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

fix CI
  espnet2/bin/svs_inference.py
  espnet2/fileio/score_scp.py
  test/espnet2/bin/test_svs_inference.py
Due: auto add label=ESPnet2

fix svs_inference
  espnet2/bin/svs_inference.py
Due: auto add label=ESPnet2

add singing_tacotron decoding yaml
  egs2/opencpop/svs1/conf/tuning/decode_singing_tacotron.yaml
  espnet2/bin/svs_inference.py
Due: auto add label=ESPnet2

add model architecture details
  espnet2/spk/encoder/rawnet3_encoder.py
  espnet2/spk/espnet_model.py
  espnet2/spk/pooling/abs_pooling.py
  espnet2/spk/pooling/chn_attn_stat_pooling.py
  espnet2/spk/projector/abs_projector.py
  espnet2/spk/projector/rawnet3_projector.py
  espnet2/tasks/spk.py
Due: auto add label=ESPnet2

add component defining poart
  espnet2/tasks/spk.py
Due: auto add label=ESPnet2

fix
  egs2/TEMPLATE/asr1/db.sh
  espnet2/gan_tts/vits/posterior_encoder.py
  espnet2/svs/naive_rnn/naive_rnn_dp.py
  espnet2/train/trainer.py
Due: auto add label=ESPnet2

fix svs citation
  egs2/TEMPLATE/asr1/scripts/utils/TEMPLATE_HF_Readme.md
Due: auto add label=ESPnet2

update readme
  README.md
Due: auto add label=README

add whisper and corresponding docs
  egs2/TEMPLATE/asr1/pyscripts/utils/evaluate_whisper_inference.py
  egs2/TEMPLATE/asr1/scripts/utils/evaluate_asr.sh
  egs2/TEMPLATE/svs1/README.md
  egs2/TEMPLATE/tts1/README.md
Due: auto add label=ESPnet2, auto add label=README

Revert "Merge branch 'espnet:master' into training_scheme"
  egs2/TEMPLATE/asr1/pyscripts/utils/extract_xvectors.py
  egs2/chime7_task1/asr1/README.md
  egs2/chime7_task1/asr1/local/da_wer_scoring.py
  egs2/chime7_task1/asr1/local/data.sh
  egs2/chime7_task1/asr1/run.sh
  egs2/chime7_task1/diar_asr1/README.md
  egs2/chime7_task1/diar_asr1/local/pyannote_diarize.py
  egs2/chime7_task1/diar_asr1/run.sh
Due: auto add label=ESPnet2, auto add label=README

add adapters in docs
  doc/espnet2_tutorial.md
Due: auto add label=Documentation

remove local adapter README, documentations moved to main docs
  espnet2/asr/frontend/adapters_utils/README.md
Due: auto add label=ESPnet2, auto add label=README

example adapter config file
  egs2/mini_an4/asr1/conf/adapter_example.yaml
Due: auto add label=ESPnet2

fix CI
  espnet2/tasks/svs.py
Due: auto add label=ESPnet2

fix tempo -> duration
  egs2/ameboshi/svs1/conf/tuning/train_naive_rnn_dp.yaml
  egs2/itako/svs1/conf/tuning/train_naive_rnn_dp.yaml
  egs2/kiritan/svs1/conf/tuning/train_naive_rnn_dp.yaml
  egs2/m4singer/svs1/conf/tuning/train_naive_rnn_dp.yaml
  egs2/natsume/svs1/conf/tuning/train_naive_rnn_dp.yaml
  egs2/ofuton_p_utagoe_db/svs1/conf/tuning/train_joint_rnn_hifigan.yaml
  egs2/ofuton_p_utagoe_db/svs1/conf/tuning/train_joint_xiaoice_hifigan.yaml
  egs2/ofuton_p_utagoe_db/svs1/conf/tuning/train_naive_rnn_dp.yaml
  egs2/ofuton_p_utagoe_db/svs1/conf/tuning/train_xiaoice.yaml
  egs2/oniku_kurumi_utagoe_db/svs1/conf/tuning/train_naive_rnn_dp.yaml
  egs2/opencpop/svs1/conf/tuning/train_naive_rnn_dp.yaml
  egs2/opencpop/svs1/conf/tuning/train_singing_tacotron.yaml
  egs2/opencpop/svs1/conf/tuning/train_xiaoice.yaml
  egs2/pjs/svs1/conf/tuning/train_naive_rnn_dp.yaml
  espnet2/svs/naive_rnn/naive_rnn_dp.py
  espnet2/svs/singing_tacotron/singing_tacotron.py
  espnet2/svs/xiaoice/XiaoiceSing.py
Due: auto add label=ESPnet2

Update README.md
  README.md
Due: auto add label=README

Update README.md
  egs2/TEMPLATE/svs1/README.md
Due: auto add label=ESPnet2, auto add label=README

fix CI
  espnet2/tasks/svs.py
  test/espnet2/bin/test_svs_inference.py
Due: auto add label=ESPnet2

fix CI
  test/espnet2/bin/test_svs_inference.py
Due: none

fix rnn CI
  espnet2/svs/naive_rnn/naive_rnn_dp.py
  test/espnet2/svs/naive_rnn/test_naive_rnn_dp.py
Due: auto add label=ESPnet2

fix norm compatibility
  espnet2/gan_tts/hifigan/hifigan.py
Due: auto add label=ESPnet2

fix CI
  espnet2/bin/svs_inference.py
Due: auto add label=ESPnet2

fix CI
  test/espnet2/svs/naive_rnn/test_naive_rnn_dp.py
Due: none

not to use register_load_state_dict_post_hook
  espnet2/gan_tts/hifigan/hifigan.py
Due: auto add label=ESPnet2

fix pytorch version issue
  espnet2/gan_tts/hifigan/hifigan.py
Due: auto add label=ESPnet2

fix
  espnet2/gan_tts/hifigan/hifigan.py
Due: auto add label=ESPnet2

fix CI
  espnet2/svs/naive_rnn/naive_rnn_dp.py
Due: auto add label=ESPnet2

fix CI
  espnet2/svs/naive_rnn/naive_rnn_dp.py
  espnet2/svs/xiaoice/XiaoiceSing.py
Due: auto add label=ESPnet2

make preprocessor configurable
  espnet2/tasks/spk.py
Due: auto add label=ESPnet2

fix typo
  espnet2/bin/spk_train.py
Due: auto add label=ESPnet2

add data arguments for train
  egs2/TEMPLATE/sv1/sv.sh
Due: auto add label=ESPnet2

wip for making runnable
  egs2/TEMPLATE/sv1/sv.sh
  egs2/TEMPLATE/sv1/utils
  egs2/TEMPLATE/sv1/utils/parse_options.sh
  egs2/voxceleb/sv1/conf/train_RawNet3.yaml
  egs2/voxceleb/sv1/run.sh
Due: auto add label=ESPnet2

wip, to make training work
  egs2/TEMPLATE/sv1/sv.sh
  egs2/voxceleb/sv1/conf/train_RawNet3.yaml
  egs2/voxceleb/sv1/local/data.sh
  espnet2/spk/encoder/rawnet3_encoder.py
  espnet2/spk/espnet_model.py
  espnet2/spk/pooling/abs_pooling.py
  espnet2/spk/pooling/chn_attn_stat_pooling.py
  espnet2/spk/projector/abs_projector.py
  espnet2/spk/projector/rawnet3_projector.py
  espnet2/tasks/spk.py
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

Update README.md
  egs2/TEMPLATE/tts1/README.md
Due: auto add label=ESPnet2, auto add label=README

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
