Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(ci/|.github/)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/

bug fix for decoding
  espnet2/bin/gan_codec_inference.py
  espnet2/gan_codec/abs_gan_codec.py
  espnet2/gan_codec/espnet_model.py
  espnet2/gan_codec/soundstream/soundstream.py
Due: auto add label=ESPnet2

fix CI checks SC2143 and SC1003
  egs2/iwslt24_indic/st1/local/data.sh
Due: auto add label=ESPnet2

fix to channel info, leaving a todo for multi-channel cases
  espnet2/bin/gan_codec_inference.py
  espnet2/gan_codec/soundstream/soundstream.py
Due: auto add label=ESPnet2

add dac_config
  egs2/libritts/codec1/conf/train_dac.yaml
Due: auto add label=ESPnet2

update dac
  egs2/libritts/codec1/output.txt
  egs2/libritts/codec1/run.sh
  espnet2/gan_codec/dac/__init__.py
  espnet2/gan_codec/dac/dac.py
  espnet2/gan_codec/dac/loss.py
  espnet2/gan_codec/shared/decoder/seanet.py
  espnet2/gan_codec/shared/discriminator/multi_discriminator.py
  espnet2/gan_codec/shared/encoder/layers.py
  espnet2/gan_codec/shared/encoder/seanet.py
  espnet2/gan_codec/shared/quantizer/modules/core_vq.py
  espnet2/gan_codec/shared/quantizer/residual_vq.py
  espnet2/tasks/gan_codec.py
Due: auto add label=ESPnet2

update dac
  egs2/libritts/codec1/=0.7.2
  egs2/libritts/codec1/output.txt
  espnet2/gan_codec/dac/dac.py
  espnet2/gan_codec/shared/decoder/seanet.py
  espnet2/gan_codec/shared/encoder/seanet.py
  espnet2/gan_codec/shared/quantizer/modules/core_vq.py
Due: auto add label=ESPnet2

fix some issues in template (forget to add)
  egs2/TEMPLATE/codec1/codec.sh
Due: auto add label=ESPnet2

apply normalization on validation set when training. Do not apply in inference
  egs2/chime8_task1/asr1/run.sh
Due: auto add label=ESPnet2

Fix failing data.sh
  egs2/owsm_v1/s2t1/local/data.sh
Due: auto add label=ESPnet2

change CI test for ST from skip-upload to skip-packing
  ci/test_integration_espnet2.sh
Due: auto add label=CI

change shell scripts to separate packing and uploading stages
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/asr2/asr2.sh
  egs2/TEMPLATE/diar1/diar.sh
  egs2/TEMPLATE/enh1/enh.sh
  egs2/TEMPLATE/enh_asr1/enh_asr.sh
  egs2/TEMPLATE/enh_diar1/enh_diar.sh
  egs2/TEMPLATE/enh_st1/enh_st.sh
  egs2/TEMPLATE/lm1/lm.sh
  egs2/TEMPLATE/mt1/mt.sh
  egs2/TEMPLATE/s2st1/s2st.sh
  egs2/TEMPLATE/s2t1/s2t.sh
  egs2/TEMPLATE/slu1/slu.sh
  egs2/TEMPLATE/spk1/spk.sh
  egs2/TEMPLATE/ssl1/hubert.sh
  egs2/TEMPLATE/svs1/svs.sh
  egs2/TEMPLATE/tts1/tts.sh
  egs2/TEMPLATE/uasr1/uasr.sh
Due: auto add label=ESPnet2

update document
  doc/espnet2_tutorial.md
Due: auto add label=Documentation

update ci test from skip-upload to skip-packing
  ci/test_integration_espnet2.sh
Due: auto add label=CI

fix format
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/asr2/asr2.sh
  egs2/TEMPLATE/diar1/diar.sh
  egs2/TEMPLATE/enh1/enh.sh
  egs2/TEMPLATE/enh_asr1/enh_asr.sh
  egs2/TEMPLATE/enh_diar1/enh_diar.sh
  egs2/TEMPLATE/enh_st1/enh_st.sh
  egs2/TEMPLATE/lm1/lm.sh
  egs2/TEMPLATE/mt1/mt.sh
  egs2/TEMPLATE/s2st1/s2st.sh
  egs2/TEMPLATE/s2t1/s2t.sh
  egs2/TEMPLATE/slu1/slu.sh
  egs2/TEMPLATE/spk1/spk.sh
  egs2/TEMPLATE/ssl1/hubert.sh
  egs2/TEMPLATE/svs1/svs.sh
  egs2/TEMPLATE/tts1/tts.sh
  egs2/TEMPLATE/uasr1/uasr.sh
Due: auto add label=ESPnet2

Fix minor issue in anaconda downloading
  tools/setup_anaconda.sh
Due: auto add label=Installation

remove uploading to zenodo stage
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/asr2/asr2.sh
  egs2/TEMPLATE/diar1/diar.sh
  egs2/TEMPLATE/enh1/enh.sh
  egs2/TEMPLATE/enh_diar1/enh_diar.sh
  egs2/TEMPLATE/lm1/lm.sh
  egs2/TEMPLATE/mt1/mt.sh
  egs2/TEMPLATE/s2st1/s2st.sh
  egs2/TEMPLATE/s2t1/s2t.sh
  egs2/TEMPLATE/slu1/slu.sh
  egs2/TEMPLATE/svs1/svs.sh
  egs2/TEMPLATE/tts1/tts.sh
  egs2/TEMPLATE/uasr1/uasr.sh
Due: auto add label=ESPnet2

update documents
  CONTRIBUTING.md
  doc/espnet2_tutorial.md
  egs2/TEMPLATE/asr1/README_multitask.md
  egs2/TEMPLATE/asr2/README.md
  egs2/TEMPLATE/diar1/diar.sh
  egs2/TEMPLATE/s2t1/README.md
  egs2/TEMPLATE/tts1/README.md
Due: auto add label=ESPnet2, auto add label=README, auto add label=Documentation

remove zenodo upload stage (to be consistent with pull request #5752)
  egs2/TEMPLATE/st1/st.sh
Due: auto add label=ESPnet2

Updated final model scores
  egs2/wsj_kinect/enh1/README.md
Due: auto add label=ESPnet2, auto add label=README

add tts2 tacotron2
  egs2/ljspeech/tts2/conf/train_tacotron2.yaml
  egs2/ljspeech/tts2/run_tacotron2.sh
  espnet2/bin/tts2_inference.py
  espnet2/tasks/tts2.py
  espnet2/tts2/espnet_model.py
  espnet2/tts2/tacotron2/__init__.py
  espnet2/tts2/tacotron2/loss.py
  espnet2/tts2/tacotron2/tacotron2_discrete.py
Due: auto add label=ESPnet2

fix psc slurm
  egs2/TEMPLATE/asr1/db.sh
  egs2/libritts/codec1/conf/slurm.conf
  egs2/libritts/tts1/cmd.sh
  egs2/libritts/tts1/conf/slurm.conf
  espnet2/gan_tts/hifigan/loss.py
Due: auto add label=ESPnet2

update a few soundstream test cases -> to be removed in the end
  egs2/libritts/codec1/conf/train_soundstream3.yaml
  egs2/libritts/codec1/conf/train_soundstream4.yaml
  egs2/libritts/codec1/conf/train_soundstream5.yaml
Due: auto add label=ESPnet2

minor fix
  espnet2/gan_tts/hifigan/loss.py
Due: auto add label=ESPnet2

remove unnecessary file
  egs2/mini_an4/codec1/conf/train_soundstream.yaml
Due: auto add label=ESPnet2

first version of encodec
  egs2/libritts/codec1/conf/train_encodec.yaml
  espnet2/gan_codec/encodec/encodec.py
  espnet2/gan_codec/shared/discriminator/msstft_conv.py
  espnet2/gan_codec/shared/discriminator/msstft_discriminator.py
  espnet2/tasks/gan_codec.py
  espnet2/train/gan_trainer.py
Due: auto add label=ESPnet2

fix codec default model
  egs2/TEMPLATE/codec1/codec.sh
Due: auto add label=ESPnet2

add encodec balancer
  espnet2/gan_codec/encodec/encodec.py
  espnet2/gan_codec/shared/loss/loss_balancer.py
  espnet2/gan_codec/soundstream/soundstream.py
Due: auto add label=ESPnet2

add encodec init config
  egs2/libritts/codec1/conf/train_encodec.yaml
Due: auto add label=ESPnet2

Fix Whisper frontend
  espnet2/asr/frontend/whisper.py
Due: auto add label=ESPnet2

Add implementations of USES2 speech enhancement models (Swin and Comp)
  egs2/universal_se_v1/enh1/conf/tuning/train_enh_uses2_comp_refch0_2mem_stage1.yaml
  egs2/universal_se_v1/enh1/conf/tuning/train_enh_uses2_comp_refch0_2mem_stage2.yaml
  egs2/universal_se_v1/enh1/conf/tuning/train_enh_uses2_swin_refch0_stage1.yaml
  egs2/universal_se_v1/enh1/conf/tuning/train_enh_uses2_swin_refch0_stage2.yaml
  espnet2/enh/layers/swin_transformer.py
  espnet2/enh/layers/uses2_comp.py
  espnet2/enh/layers/uses2_swin.py
  espnet2/enh/separator/uses2_separator.py
  espnet2/tasks/enh.py
  setup.py
Due: auto add label=ESPnet2, auto add label=Installation

Update README.md
  egs2/makerere/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

Update cmd.sh
  egs2/makerere/asr1/cmd.sh
Due: auto add label=ESPnet2

Update slurm.conf
  egs2/makerere/asr1/conf/slurm.conf
Due: auto add label=ESPnet2

Update data_prep.py
  egs2/makerere/asr1/local/data_prep.py
Due: auto add label=ESPnet2

Update data.sh
  egs2/makerere/asr1/local/data.sh
Due: auto add label=ESPnet2
