Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(ci/|.github/)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/

reflect on Masao's comment
  espnet3/components/data/epoch_sync_iterator.py
Due: none

Import the versa metrics from the modules that define them
  egs2/TEMPLATE/asr1/pyscripts/utils/dialog_eval/ASR_WER.py
  egs2/TEMPLATE/asr1/pyscripts/utils/dialog_eval/TTS_intelligibility.py
  egs2/TEMPLATE/asr1/pyscripts/utils/dialog_eval/TTS_speech_quality.py
  egs2/TEMPLATE/asr1/pyscripts/utils/dialog_eval/model_cache.py
Due: auto add label=ESPnet2

Do not use assert for the guard; PYTHONOPTIMIZE removes it
  tools/Makefile
Due: auto add label=Installation

Cancel the rest of a pull request's run when a fast job fails
  .github/workflows/ci_on_ubuntu.yml
Due: auto add label=CI

Stop telling users to install ctc_segmentation from a git URL
  espnet2/bin/asr_align.py
  espnet2/bin/s2t_ctc_align.py
Due: auto add label=ESPnet2

Bound torch and torchaudio to the versions that are actually supported
  pyproject.toml
Due: none

Drop the imports orphaned by removing the version flags
  test/espnet2/bin/test_asr_transducer_inference.py
  test/espnet2/enh/separator/test_dc_crn_separator.py
Due: none

Add lazy mmap-backed text reader for very large label files
  espnet2/fileio/indexed_text.py
  espnet2/train/dataset.py
  test/espnet2/fileio/test_indexed_text.py
Due: auto add label=ESPnet2

Fix ProcessContext NameError; add torch.compile support
  espnet2/tasks/abs_task.py
  espnet2/train/trainer.py
Due: auto add label=ESPnet2

Fix scale defects in the k-means and data-format stages
  egs2/TEMPLATE/asr1/pyscripts/audio/format_wav_scp.py
  egs2/TEMPLATE/asr1/pyscripts/feats/dump_km_label.py
  egs2/TEMPLATE/asr1/scripts/audio/format_wav_scp.sh
  egs2/TEMPLATE/asr1/scripts/feats/perform_kmeans.sh
  egs2/TEMPLATE/wavlm1/wavlm.sh
Due: auto add label=ESPnet2

Add WavLM-large multilingual pretraining recipe
  egs2/librispeech/wavlm1/.gitignore
  egs2/librispeech/wavlm1/cmd.sh
  egs2/librispeech/wavlm1/conf/slurm_cpu_on_gpu.conf
  egs2/librispeech/wavlm1/conf/tuning/train_ssl_torchaudiowavlm_large_960h_pretrain_it0.yaml
  egs2/librispeech/wavlm1/conf/tuning/train_ssl_torchaudiowavlm_large_960h_pretrain_it2.yaml
  egs2/librispeech/wavlm1/conf/tuning/train_ssl_torchaudiowavlm_large_ft.yaml
  egs2/librispeech/wavlm1/local/build_from_metadata.py
  egs2/librispeech/wavlm1/local/data_pretraining.sh
  egs2/librispeech/wavlm1/local/format_pretraining.sh
  egs2/librispeech/wavlm1/run.sh
  egs2/librispeech/wavlm1/run_large.sh
  egs2/librispeech/wavlm1/run_large_ft.sh
Due: auto add label=ESPnet2

Follow cuda availability instead of hardcoding use_gpu=True
  egs2/TEMPLATE/asr1/pyscripts/utils/dialog_eval/TTS_speech_quality.py
  egs2/TEMPLATE/asr1/pyscripts/utils/dialog_eval/model_cache.py
Due: auto add label=ESPnet2

Make the Qwen2-Audio ps2st model work on transformers 5.10
  espnet2/ps2st/espnet_model.py
Due: auto add label=ESPnet2

Project the encoder output once per utterance, not once per step and hypothesis
  espnet2/asr/decoder/transformer_decoder.py
  espnet2/legacy/nets/batch_beam_search.py
  espnet2/legacy/nets/pytorch_backend/transformer/attention.py
  espnet2/legacy/nets/pytorch_backend/transformer/decoder_layer.py
  test/espnet2/asr/decoder/test_transformer_decoder.py
  test/espnet2/legacy/test_attention.py
  test/espnet2/legacy/test_batch_beam_search_batched.py
  test/espnet2/legacy/test_batch_beam_search_memory.py
Due: auto add label=ESPnet2

Fix path traversal (tar-slip) in model-archive unpacking
  espnet2/main_funcs/pack_funcs.py
  espnet3/utils/download_utils.py
  test/espnet2/main_funcs/test_pack_funcs.py
Due: auto add label=ESPnet2

Use safe_torch_load in handle_finetuned_checkpoint
  espnet2/beats/generate_beats_checkpoint.py
  test/espnet2/beats/test_generate_beats_checkpoint.py
Due: auto add label=ESPnet2

Pin both Qwen2-Audio transformers-5.10 breaks with their own tests
  test/espnet2/ps2st/test_espnet_model_ps2st.py
Due: none

Close the interactive opt-in door in the refusal tests
  test/espnet2/beats/test_generate_beats_checkpoint.py
Due: none

Let the CTC prefix scorer run on a device of its own
  espnet2/bin/asr_inference.py
  espnet2/legacy/nets/scorers/ctc.py
  test/espnet2/bin/test_asr_inference.py
  test/espnet2/legacy/test_ctc_prefix_scorer.py
Due: auto add label=ESPnet2

Fix the extract_targz tests broken by the filter= argument
  test/espnet3/utils/test_download.py
Due: none

Keep Speech2Text's positional arguments where they were
  espnet2/bin/asr_inference.py
  test/espnet2/bin/test_asr_inference.py
Due: auto add label=ESPnet2

Add CLAUDE.md: working notes for the multilingual pretraining run
  CLAUDE.md
Due: none

Bump version to 202609.post1 for the security patch release
  version.txt
Due: none

Use forkserver for spk dataloader workers to fix DDP CUDA abort
  egs3/TEMPLATE/spk/conf/training.yaml
Due: none

Include the final checkpoint in averaged checkpoints
  espnet3/components/callbacks/default_callbacks.py
Due: none

Report a decoder that cannot take the padding mask once, not once per batch
  espnet2/legacy/nets/batch_beam_search.py
  test/espnet2/legacy/test_batch_beam_search_batched.py
Due: auto add label=ESPnet2

Pick the CPU for the CTC prefix score on CUDA as well
  espnet2/bin/asr_inference.py
  espnet2/legacy/nets/scorers/ctc.py
  test/espnet2/bin/test_asr_inference.py
Due: auto add label=ESPnet2

reflect on Shinji's comment
  espnet3/components/data/dataloader.py
  espnet3/components/data/epoch_sync_iterator.py
  test/espnet3/components/data/test_epoch_sync_iterator.py
Due: none

Split the test docstring the way flake8-hacking wants it
  test/espnet2/legacy/test_batch_beam_search_batched.py
Due: none

reflect on Shinji's comment
  egs2/TEMPLATE/hubert1/README.md
Due: auto add label=ESPnet2, auto add label=README

reflect on coderabbit's comment
  egs2/TEMPLATE/hubert1/README.md
Due: auto add label=ESPnet2, auto add label=README

Add --deterministic to restrict training to deterministic kernels
  doc/espnet2_training_option.md
  espnet2/tasks/abs_task.py
  espnet2/torch_utils/set_all_random_seed.py
  test/espnet2/torch_utils/test_set_all_random_seed.py
Due: auto add label=ESPnet2, auto add label=Documentation

Overwrite a CUBLAS_WORKSPACE_CONFIG cuBLAS would reject
  doc/espnet2_training_option.md
  espnet2/tasks/abs_task.py
  espnet2/torch_utils/set_all_random_seed.py
  test/espnet2/torch_utils/test_set_all_random_seed.py
Due: auto add label=ESPnet2, auto add label=Documentation
