Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

fix sample rate
  egs2/libritts/codec1/run.sh
Due: auto add label=ESPnet2

incomplete version of valle
  egs2/TEMPLATE/asr1/pyscripts/feats/dump_codec.py
  egs2/TEMPLATE/asr1/pyscripts/utils/make_example_list_speechlm.py
  egs2/TEMPLATE/asr1/pyscripts/utils/make_speechlm_json.py
  egs2/TEMPLATE/asr1/pyscripts/utils/make_token_list_speechlm.py
  egs2/TEMPLATE/asr1/scripts/feats/codec_tokenization.sh
  egs2/TEMPLATE/speechlm1/speechlm.sh
  egs2/libritts/speechlm1/cmd.sh
  egs2/libritts/speechlm1/conf/fbank.conf
  egs2/libritts/speechlm1/conf/pbs.conf
  egs2/libritts/speechlm1/conf/pitch.conf
  egs2/libritts/speechlm1/conf/queue.conf
  egs2/libritts/speechlm1/conf/slurm.conf
  egs2/libritts/speechlm1/conf/train.yaml
  egs2/libritts/speechlm1/conf/train_multiscale.yaml
  egs2/libritts/speechlm1/db.sh
  egs2/libritts/speechlm1/local/data.sh
  egs2/libritts/speechlm1/local/data_prep.sh
  egs2/libritts/speechlm1/local/download_and_untar.sh
  egs2/libritts/speechlm1/local/path.sh
  egs2/libritts/speechlm1/local/trim_all_silence.py
  egs2/libritts/speechlm1/path.sh
  egs2/libritts/speechlm1/pyscripts
  egs2/libritts/speechlm1/run.sh
  egs2/libritts/speechlm1/scripts
  egs2/libritts/speechlm1/speechlm.sh
  egs2/libritts/speechlm1/steps
  egs2/libritts/speechlm1/utils
  espnet2/speechlm/espnet_model.py
  espnet2/speechlm/predictor/linear.py
  espnet2/speechlm/predictor/multiscale.py
  espnet2/tasks/abs_task.py
  espnet2/tasks/speechlm.py
  espnet2/train/dataset.py
  espnet2/train/iterable_dataset.py
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

update chunk iterator and sample rate default value
  espnet2/gan_codec/soundstream/soundstream.py
  espnet2/tasks/gan_codec.py
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

change chunk size to activate test for chunk iter with short utt
  egs2/mini_an4/codec1/conf/train_soundstream_debug.yaml
Due: auto add label=ESPnet2

minor fix for assertion
  espnet2/gan_codec/shared/loss/freq_loss.py
  espnet2/tasks/abs_task.py
Due: auto add label=ESPnet2

update encodec tokenization
  egs2/TEMPLATE/asr1/pyscripts/feats/dump_codec.py
  egs2/TEMPLATE/asr1/pyscripts/utils/make_speechlm_json.py
  egs2/TEMPLATE/asr1/pyscripts/utils/make_token_list_speechlm.py
  egs2/TEMPLATE/asr1/scripts/feats/codec_tokenization.sh
  egs2/TEMPLATE/speechlm1/speechlm.sh
  egs2/mini_an4/speechlm1/local/recover_wav.py
  espnet2/speechlm/definitions.py
Due: auto add label=ESPnet2

bug fix
  egs2/TEMPLATE/asr1/pyscripts/feats/dump_codec.py
  espnet2/train/dataset.py
Due: auto add label=ESPnet2

AR model training ready
  espnet2/bin/tokenize_text.py
  espnet2/speechlm/core_lm/abs_core_lm.py
  espnet2/speechlm/core_lm/builtin.py
  espnet2/speechlm/espnet_model.py
  espnet2/speechlm/predictor/abs_predictor.py
  espnet2/speechlm/predictor/linear.py
  espnet2/speechlm/predictor/multiscale.py
  espnet2/tasks/speechlm.py
  espnet2/train/dataset.py
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

support valle training
  egs2/libritts/speechlm1/conf/train_parallel.yaml
  egs2/libritts/speechlm1/conf/train_valle.yaml
  espnet2/speechlm/core_lm/ar.py
  espnet2/speechlm/core_lm/ar_nar.py
  espnet2/speechlm/core_lm/nar.py
  espnet2/speechlm/espnet_model.py
  espnet2/speechlm/module/module.py
  espnet2/speechlm/predictor/abs_predictor.py
  espnet2/speechlm/predictor/layer_select.py
  espnet2/speechlm/predictor/linear.py
  espnet2/speechlm/predictor/multiscale.py
  espnet2/tasks/speechlm.py
Due: auto add label=ESPnet2

revise multiscale
  espnet2/speechlm/predictor/multiscale.py
Due: auto add label=ESPnet2

add symbolic link: scripts
  egs2/reverb/asr1/scripts
Due: auto add label=ESPnet2

Update CI
  .github/workflows/ci_on_macos.yml
  .github/workflows/ci_on_ubuntu.yml
  .github/workflows/ci_on_windows.yml
  .mergify.yml
  README.md
  tools/Makefile
  tools/installers/install_torch.sh
Due: auto add label=README, auto add label=CI, auto add label=Installation, auto add label=mergify

add flashattention version control
  espnet2/speechlm/module/module.py
Due: auto add label=ESPnet2

before start infer debug
  espnet2/bin/speechlm_inference.py
  espnet2/speechlm/core_lm/abs_core_lm.py
  espnet2/speechlm/core_lm/ar.py
  espnet2/speechlm/predictor/abs_predictor.py
  espnet2/speechlm/predictor/multiscale.py
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

Added partially autoregressive inference
  espnet/nets/beam_search_partially_AR.py
  espnet/nets/pytorch_backend/transformer/decoder_layer.py
  espnet/nets/scorer_interface.py
  espnet2/asr/decoder/transformer_decoder.py
  espnet2/asr/partially_AR_model.py
  espnet2/bin/asr_inference.py
  espnet2/bin/s2t_inference.py
Due: auto add label=ESPnet1, auto add label=ESPnet2

Resolved memory issue. Speed up partially AR inference.
  espnet/nets/pytorch_backend/transformer/attention.py
  espnet/nets/pytorch_backend/transformer/decoder_layer.py
  espnet2/bin/s2t_inference.py
Due: auto add label=ESPnet1, auto add label=ESPnet2

Update data.sh
  egs2/makerere/asr1/local/data.sh
Due: auto add label=ESPnet2

work on inference postprocess
  espnet2/bin/speechlm_inference.py
  espnet2/speechlm/core_lm/ar.py
  espnet2/speechlm/espnet_model.py
  espnet2/speechlm/inference/inference.py
  espnet2/speechlm/module/module.py
  espnet2/speechlm/postprocessor/abs_postprocessor.py
  espnet2/speechlm/postprocessor/codec_post_processor.py
  espnet2/speechlm/predictor/abs_predictor.py
  espnet2/tasks/speechlm.py
Due: auto add label=ESPnet2

teacher force ready for AR
  espnet2/bin/speechlm_inference.py
  espnet2/speechlm/espnet_model.py
  espnet2/speechlm/inference/inference.py
  espnet2/speechlm/postprocessor/codec_post_processor.py
  espnet2/tasks/speechlm.py
Due: auto add label=ESPnet2

update sampling
  espnet2/speechlm/inference/inference.py
Due: auto add label=ESPnet2

Update README.md
  egs2/README.md
Due: auto add label=ESPnet2, auto add label=README

fix architecture bug
  espnet2/speechlm/module/module.py
Due: auto add label=ESPnet2

updated results with new notsofar1 dev set
  egs2/chime8_task1/README.md
Due: auto add label=ESPnet2, auto add label=README

changed gss2lhotse to be compatible with new lhotse version
  egs2/chime8_task1/asr1/local/gss2lhotse.py
Due: auto add label=ESPnet2

lhotse support for espnet-ez by class inheritance
  espnetez/dataset.py
Due: none

Applied review
  espnet/nets/beam_search_partially_AR.py
  espnet2/asr/partially_AR_model.py
  espnet2/bin/asr_inference.py
  espnet2/bin/s2t_inference.py
Due: auto add label=ESPnet1, auto add label=ESPnet2

update organization
  espnet2/speechlm/core_lm/abs_core_lm.py
  espnet2/speechlm/core_lm/ar.py
  espnet2/speechlm/core_lm/ar_multiscale.py
  espnet2/speechlm/espnet_model.py
  espnet2/speechlm/module/module.py
  espnet2/speechlm/net_utils.py
  espnet2/speechlm/predictor/abs_predictor.py
  espnet2/speechlm/predictor/layer_select.py
  espnet2/speechlm/predictor/linear.py
  espnet2/speechlm/predictor/multiscale.py
  espnet2/tasks/speechlm.py
Due: auto add label=ESPnet2

update config and valle model file
  egs2/libritts/speechlm1/conf/train_multiscale.yaml
  egs2/libritts/speechlm1/conf/train_valle.yaml
  espnet2/speechlm/core_lm/valle.py
Due: auto add label=ESPnet2

ar inference update
  espnet2/bin/speechlm_inference.py
  espnet2/speechlm/core_lm/abs_core_lm.py
  espnet2/speechlm/core_lm/ar.py
  espnet2/speechlm/module/module.py
  espnet2/speechlm/net_utils.py
Due: auto add label=ESPnet2

update
  espnet2/bin/speechlm_inference.py
  espnet2/speechlm/core_lm/ar_multiscale.py
  espnet2/speechlm/inference/inference.py
Due: auto add label=ESPnet2

Refactoring
  espnet/nets/beam_search_partially_AR.py
  espnet2/asr/partially_AR_model.py
  espnet2/bin/asr_inference.py
  espnet2/bin/s2t_inference.py
Due: auto add label=ESPnet1, auto add label=ESPnet2

valle inference draft
  espnet2/bin/speechlm_inference.py
  espnet2/speechlm/core_lm/abs_core_lm.py
  espnet2/speechlm/core_lm/ar.py
  espnet2/speechlm/core_lm/valle.py
  espnet2/speechlm/net_utils.py
Due: auto add label=ESPnet2

apply black
  espnet2/bin/speechlm_inference.py
  espnet2/speechlm/core_lm/abs_core_lm.py
  espnet2/speechlm/core_lm/ar.py
  espnet2/speechlm/core_lm/ar_multiscale.py
  espnet2/speechlm/core_lm/ar_nar.py
  espnet2/speechlm/core_lm/nar.py
  espnet2/speechlm/core_lm/valle.py
  espnet2/speechlm/definitions.py
  espnet2/speechlm/espnet_model.py
  espnet2/speechlm/module/module.py
  espnet2/speechlm/net_utils.py
  espnet2/speechlm/postprocessor/codec_post_processor.py
  espnet2/tasks/speechlm.py
  espnet2/train/dataset.py
  espnet2/train/iterable_dataset.py
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

update ar inference but not very good
  espnet2/bin/speechlm_inference.py
  espnet2/speechlm/core_lm/ar.py
  espnet2/speechlm/net_utils.py
  espnet2/speechlm/postprocessor/codec_post_processor.py
Due: auto add label=ESPnet2

update valle batch sampling
  espnet2/bin/speechlm_inference.py
  espnet2/speechlm/core_lm/valle.py
Due: auto add label=ESPnet2

multiscale batch samping done
  egs2/libritts/speechlm1/conf/train_multiscale.yaml
  egs2/libritts/speechlm1/conf/train_valle.yaml
  espnet2/bin/speechlm_inference.py
  espnet2/speechlm/core_lm/ar.py
  espnet2/speechlm/core_lm/ar_multiscale.py
Due: auto add label=ESPnet2

old codec tokenization
  egs2/TEMPLATE/asr1/pyscripts/feats/dump_codec.py
Due: auto add label=ESPnet2

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(ci/|.github/)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
