Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

Added SPRING-INX Recipe to egs2
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/TEMPLATE/asr1/utils/utils
Due: auto add label=ESPnet2, auto add label=README

add: ci ecapa cfg
  egs2/mini_an4/spk1/conf/train_ecapa.yaml
Due: auto add label=ESPnet2

Fixed Submodule Issue
  egs2/spring_speech/LICENSE
  egs2/spring_speech/README.md
  egs2/spring_speech/asr.sh
  egs2/spring_speech/cmd.sh
  egs2/spring_speech/conf/decode_asr.yaml
  egs2/spring_speech/conf/fbank.conf
  egs2/spring_speech/conf/pbs.conf
  egs2/spring_speech/conf/pitch.conf
  egs2/spring_speech/conf/queue.conf
  egs2/spring_speech/conf/slurm.conf
  egs2/spring_speech/conf/train_asr.yaml
  egs2/spring_speech/conf/tuning/train_asr_transformer.yaml
  egs2/spring_speech/db.sh
  egs2/spring_speech/local/download_and_untar.sh
  egs2/spring_speech/local/path.sh
  egs2/spring_speech/path.sh
  egs2/spring_speech/pyscripts
  egs2/spring_speech/run.sh
  egs2/spring_speech/scripts
  egs2/spring_speech/steps
  egs2/spring_speech/utils
Due: auto add label=ESPnet2, auto add label=README

add: ci decode cfg
  egs2/mini_an4/spk1/conf/decode.yaml
Due: auto add label=ESPnet2

Adding recipe for voxtlm
  egs2/TEMPLATE/lm1/lm.sh
  egs2/voxtlm/lm1/cmd.sh
  egs2/voxtlm/lm1/lm.sh
  egs2/voxtlm/lm1/local/data.sh
  egs2/voxtlm/lm1/local/data_librilight.sh
  egs2/voxtlm/lm1/local/data_librispeech.sh
  egs2/voxtlm/lm1/local/data_libritts.sh
  egs2/voxtlm/lm1/local/data_vctk.sh
  egs2/voxtlm/lm1/local/librilight/cut_by_vad.py
  egs2/voxtlm/lm1/local/librilight/data_prep_librilight.sh
  egs2/voxtlm/lm1/local/librilight/data_prep_librispeech.sh
  egs2/voxtlm/lm1/local/librilight/download_and_untar_librilight.sh
  egs2/voxtlm/lm1/local/librispeech/data_prep.sh
  egs2/voxtlm/lm1/local/librispeech/download_and_untar.sh
  egs2/voxtlm/lm1/local/libritts/data_prep.sh
  egs2/voxtlm/lm1/local/libritts/download_and_untar.sh
  egs2/voxtlm/lm1/local/path.sh
  egs2/voxtlm/lm1/local/prepare_bpe_text.py
  egs2/voxtlm/lm1/local/prepare_lm_data.py
  egs2/voxtlm/lm1/local/prepare_lm_test.py
  egs2/voxtlm/lm1/local/text_normalize.sh
  egs2/voxtlm/lm1/local/vctk/data_download.sh
  egs2/voxtlm/lm1/local/vctk/data_prep.sh
  egs2/voxtlm/lm1/pyscripts
  egs2/voxtlm/lm1/run.sh
  egs2/voxtlm/lm1/scripts
  egs2/voxtlm/lm1/steps
  egs2/voxtlm/lm1/utils
Due: auto add label=ESPnet2

Adding LM training to allow condition in training and label smoothing loss
  egs2/TEMPLATE/lm1/lm.sh
  egs2/voxtlm/lm1/local/prepare_lm_data.py
  egs2/voxtlm/lm1/run.sh
  espnet2/bin/lm_inference.py
  espnet2/lm/espnet_model.py
  espnet2/lm/transformer_lm.py
  espnet2/tasks/lm.py
Due: auto add label=ESPnet2

Adding ci fix and python fix
  egs2/TEMPLATE/asr1/db.sh
  egs2/voxtlm/lm1/local/data.sh
  egs2/voxtlm/lm1/local/prepare_lm_data.py
  espnet2/bin/lm_inference.py
  espnet2/lm/espnet_model.py
Due: auto add label=ESPnet2

update with intermediate ctc
  egs2/aishell/asr1/conf/tuning/train_asr_conformer_e12_brctc_intermediate_stage1.yaml
  egs2/aishell/asr1/conf/tuning/train_asr_conformer_e12_brctc_intermediate_stage2.yaml
  espnet/nets/pytorch_backend/nets_utils.py
  espnet2/asr/encoder/conformer_encoder.py
  espnet2/asr/espnet_model.py
Due: auto add label=ESPnet1, auto add label=ESPnet2

apply black
  espnet2/asr/bayes_risk_ctc.py
  espnet2/asr/ctc.py
  espnet2/asr/encoder/conformer_encoder.py
  espnet2/asr/transducer/bayes_risk_transducer.py
Due: auto add label=ESPnet2

add vc1
  egs2/vctk/vc1/README.md
  egs2/vctk/vc1/cmd.sh
  egs2/vctk/vc1/conf/mfcc.conf
  egs2/vctk/vc1/conf/pbs.conf
  egs2/vctk/vc1/conf/queue.conf
  egs2/vctk/vc1/conf/slurm.conf
  egs2/vctk/vc1/conf/tuning/train_vc_spk_autovc.yaml
  egs2/vctk/vc1/conf/vad.conf
  egs2/vctk/vc1/db.sh
  egs2/vctk/vc1/local/data.sh
  egs2/vctk/vc1/local/data_download.sh
  egs2/vctk/vc1/local/data_prep.sh
  egs2/vctk/vc1/local/path.sh
  egs2/vctk/vc1/path.sh
  egs2/vctk/vc1/preprocess.sh
  egs2/vctk/vc1/pyscripts
  egs2/vctk/vc1/run.sh
  egs2/vctk/vc1/scripts
  egs2/vctk/vc1/sid
  egs2/vctk/vc1/steps
  egs2/vctk/vc1/utils
  egs2/vctk/vc1/vc.sh
Due: auto add label=ESPnet2, auto add label=README

update vc
  egs2/TEMPLATE/vc1/README.md
  egs2/TEMPLATE/vc1/cmd.sh
  egs2/TEMPLATE/vc1/conf/mfcc.conf
  egs2/TEMPLATE/vc1/conf/pbs.conf
  egs2/TEMPLATE/vc1/conf/queue.conf
  egs2/TEMPLATE/vc1/conf/slurm.conf
  egs2/TEMPLATE/vc1/conf/vad.conf
  egs2/TEMPLATE/vc1/db.sh
  egs2/TEMPLATE/vc1/local/path.sh
  egs2/TEMPLATE/vc1/path.sh
  egs2/TEMPLATE/vc1/pyscripts
  egs2/TEMPLATE/vc1/scripts
  egs2/TEMPLATE/vc1/setup.sh
  egs2/TEMPLATE/vc1/sid/README.md
  egs2/TEMPLATE/vc1/sid/compute_vad_decision.sh
  egs2/TEMPLATE/vc1/sid/nnet3/xvector/extract_xvectors.sh
  egs2/TEMPLATE/vc1/steps
  egs2/TEMPLATE/vc1/utils
  egs2/TEMPLATE/vc1/vc.sh
  espnet2/bin/non_parallel_vc_train.py
  espnet2/bin/parallel_vc_train.py
  espnet2/tasks/vc.py
  espnet2/vc/__init__.py
  espnet2/vc/abs_vc.py
  espnet2/vc/autovc/__init__.py
  espnet2/vc/autovc/autovc.py
  espnet2/vc/autovc/loss.py
  espnet2/vc/autovc/variance_predictor.py
  espnet2/vc/espnet_model.py
Due: auto add label=ESPnet2, auto add label=README

v3 shuold be ready except wsj
  egs2/owsm_v1/s2t1/local/data.sh
  egs2/owsm_v2/s2t1/local/data.sh
  egs2/owsm_v3/s2t1/local/data.sh
  egs2/owsm_v3/s2t1/local/prepare_swbd.sh
  egs2/owsm_v3/s2t1/local/prepare_voxforge.sh
  egs2/voxforge/asr1/local/path.sh
Due: auto add label=ESPnet2

Remove the pytorch version restriction for s3prl
  test/espnet2/asr/frontend/test_s3prl.py
Due: none

Add causal LM for ASR2
  egs2/TEMPLATE/asr2/asr2.sh
  espnet2/asr/ctc.py
  espnet2/asr/decoder/hugging_face_transformers_decoder.py
  espnet2/asr/discrete_asr_espnet_model.py
  espnet2/asr/postencoder/length_adaptor_postencoder.py
  espnet2/mt/espnet_model.py
  espnet2/tasks/mt.py
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

add wsj
  egs2/owsm_v3/s2t1/local/prepare_wsj.sh
Due: auto add label=ESPnet2

update db.sh
  egs2/TEMPLATE/asr1/db.sh
Due: auto add label=ESPnet2

Update paper.bib to remove unused reference
  doc/paper/espnet-se++/paper.bib
Due: auto add label=Documentation

Update paper.md for reference
  doc/paper/espnet-se++/paper.md
Due: auto add label=Documentation

Update paper.bib
  doc/paper/espnet-se++/paper.bib
Due: auto add label=Documentation

Restoring db values
  egs2/TEMPLATE/asr1/db.sh
Due: auto add label=ESPnet2

replace old mustc links with new instructions
  egs/must_c/st1/local/download_and_untar.sh
Due: auto add label=ESPnet1

Reflect comments
  egs2/mini_an4/enh1/conf/train_with_data_aug_debug.yaml
  egs2/mini_an4/enh1/conf/train_with_preprocessor_debug.yaml
  espnet2/enh/decoder/abs_decoder.py
  espnet2/enh/decoder/conv_decoder.py
  espnet2/enh/decoder/null_decoder.py
  espnet2/enh/decoder/stft_decoder.py
  espnet2/enh/encoder/abs_encoder.py
  espnet2/enh/encoder/conv_encoder.py
  espnet2/enh/encoder/null_encoder.py
  espnet2/enh/encoder/stft_encoder.py
  espnet2/enh/espnet_model.py
  espnet2/enh/layers/dptnet.py
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

Fix unit test errors
  espnet2/enh/encoder/stft_encoder.py
  test/espnet2/enh/decoder/test_stft_decoder.py
  test/espnet2/enh/encoder/test_stft_encoder.py
Due: auto add label=ESPnet2

add ebranchformer in owsm_v2
  egs2/mixed_v2/s2t1/README.md
Due: auto add label=ESPnet2, auto add label=README

Update egs2/spring_speech/run.sh
  egs2/spring_speech/run.sh
Due: auto add label=ESPnet2

added symlink for db.sh
  egs2/spring_speech/README.md
  egs2/spring_speech/db.sh
  egs2/spring_speech/local/download_and_untar.sh
  egs2/spring_speech/run.sh
Due: auto add label=ESPnet2, auto add label=README

fixed egs2/TEMPLATE/asr1/utils/utils
  egs2/TEMPLATE/asr1/utils/utils
Due: auto add label=ESPnet2

Adding Multitask ESPnet model classes for LM task
  espnet2/lm/multitask_espnet_model.py
  espnet2/tasks/lm.py
Due: auto add label=ESPnet2

second round review
  egs2/TEMPLATE/asr1/asr.sh
  espnet2/asr/TCPGen_biasing_model.py
  espnet2/asr/transducer/beam_search_transducer.py
  espnet2/asr_transducer/joint_network.py
  espnet2/bin/asr_inference.py
Due: auto add label=ESPnet2

add codec token extraction & remove CJK
  egs2/TEMPLATE/asr1/pyscripts/feats/dump_ssl_feature.py
  egs2/TEMPLATE/asr1/pyscripts/feats/ssl_feature_utils.py
  egs2/TEMPLATE/svs2/svs2.sh
  espnet2/svs/discrete/frontend.py
  espnet2/tasks/svs.py
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

fix
  espnet2/tasks/svs.py
Due: auto add label=ESPnet2

Add tokens/symbols as parameter
  egs2/voxtlm/lm1/local/librilight/cut_by_vad.py
  egs2/voxtlm/lm1/local/prepare_bpe_text.py
  egs2/voxtlm/lm1/local/prepare_lm_data.py
  egs2/voxtlm/lm1/local/prepare_lm_test.py
  egs2/voxtlm/lm1/local/text_normalize.sh
Due: auto add label=ESPnet2

Fix error in integration test
  egs2/mini_an4/tse1/conf/train_variable_nspk_debug.yaml
  egs2/mini_an4/tse1/conf/train_variable_nspk_random_enrollment_debug.yaml
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

Renaming file
  espnet2/lm/espnet_model_multitask.py
  espnet2/tasks/lm.py
Due: auto add label=ESPnet2

reflect @sw005320 comments
  egs2/voxceleb/spk1/replrn.sh
  egs2/voxceleb/spk1/run_rep_lrn.sh
  espnet2/bin/spk_embed_extract.py
  espnet2/spk/encoder/conformer_encoder.py
  espnet2/spk/pooling/conditional_chn_attn_stat_pooling.py
  espnet2/spk/pooling/transformer_decoder_pooling.py
  espnet2/tasks/spk.py
  test_utils/spk_trial_scores
  test_utils/test_calculate_eer_mindcf_py.bats
Due: auto add label=ESPnet2

correct precommit
  espnet2/tasks/spk.py
Due: auto add label=ESPnet2

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
