Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

add missing decode configs
  egs2/iwslt22_dialect/st1/conf/decode_st_conformer.yaml
  egs2/iwslt22_dialect/st1/conf/decode_st_transformer.yaml
  egs2/iwslt22_dialect/st1/conf/tuning/decode_pen2.yaml
  egs2/iwslt22_dialect/st1/conf/tuning/decode_pen3.yaml
Due: auto add label=ESPnet2

CI fix
  egs2/how2/sum1/local/data.sh
Due: auto add label=ESPnet2

CI fix2
  egs2/how2/sum1/local/data.sh
Due: auto add label=ESPnet2

add sentiment data preparation
  egs2/iemocap/asr1/local/data.sh
  egs2/iemocap/asr1/local/prepare_sentiment.pl
Due: auto add label=ESPnet2

add sentiment data preparation
  egs2/iemocap/asr1/run.sh
Due: auto add label=ESPnet2

set run stage to 1 and fix data prep
  egs2/iwslt22_dialect/asr1/local/data.sh
  egs2/iwslt22_dialect/asr1/run.sh
  egs2/iwslt22_dialect/st1/local/data.sh
  egs2/iwslt22_dialect/st1/run.sh
Due: auto add label=ESPnet2

removed float16 testing
  test/test_positional_encoding.py
Due: none

update for pwg install
  ci/install.sh
  tools/Makefile
  tools/extra_path.sh
  tools/installers/install_parallel-wavegan.sh
Due: auto add label=CI, auto add label=Installation

replace space to tab
  tools/Makefile
Due: auto add label=Installation

simplify the installation
  tools/extra_path.sh
  tools/installers/install_parallel-wavegan.sh
Due: auto add label=Installation

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

fix typo{
  tools/installers/install_parallel-wavegan.sh
Due: auto add label=Installation

add skim model
  espnet2/enh/layers/dprnn.py
  espnet2/enh/layers/skim.py
  espnet2/enh/layers/tcn.py
Due: auto add label=ESPnet2

update skim.py
  espnet2/enh/layers/skim.py
Due: auto add label=ESPnet2

minor fixes in ST in espnet2
  egs2/TEMPLATE/asr1/db.sh
  egs2/iwslt22_dialect/asr1/run.sh
  espnet2/st/espnet_model.py
Due: auto add label=ESPnet2

Create train_rnnt_conformer.yaml
  egs2/librispeech/asr1/conf/train_rnnt_conformer.yaml
Due: auto add label=ESPnet2

Create decode_rnnt_conformer.yaml
  egs2/librispeech/asr1/conf/decode_rnnt_conformer.yaml
Due: auto add label=ESPnet2

Update egs2/librispeech/asr1/conf/train_rnnt_conformer.yaml
  egs2/librispeech/asr1/conf/train_rnnt_conformer.yaml
Due: auto add label=ESPnet2

updated vocoder compatibility test
  test/espnet2/gan_tts/hifigan/test_hifigan.py
  test/espnet2/gan_tts/melgan/test_melgan.py
  test/espnet2/gan_tts/parallel_wavegan/test_parallel_wavegan.py
  test/espnet2/gan_tts/style_melgan/test_style_melgan.py
Due: none

fixed flake8 compatibility
  test/espnet2/gan_tts/parallel_wavegan/test_parallel_wavegan.py
Due: none

cleaning files
  egs2/TEMPLATE/asr1/db.sh
  egs2/mgb2/asr1/conf/train_asr_conformer2.yaml
  egs2/mgb2/asr1/conf/tuning/train_asr_conformer.yaml
  egs2/mgb2/asr1/conf/tuning/train_asr_conformer4.yaml
  egs2/mgb2/asr1/conf/tuning/train_asr_conformer5.yaml
  egs2/mgb2/asr1/conf/tuning/train_asr_conformer6_n_fft400_hop_length160.yaml
  egs2/mgb2/asr1/conf/tuning/train_asr_conformer6_n_fft512_hop_length256.yaml
  egs2/mgb2/asr1/conf/tuning/train_asr_conformer7_hubert_960hr_large.yaml
  egs2/mgb2/asr1/conf/tuning/train_asr_conformer7_n_fft512_hop_length256.yaml
  egs2/mgb2/asr1/conf/tuning/train_asr_conformer7_wav2vec2_960hr_large.yaml
  egs2/mgb2/asr1/conf/tuning/train_asr_conformer_ctc0.3_lr2e-3_warmup15k_newspecaug.yaml
  egs2/mgb2/asr1/conf/tuning/train_asr_transformer.yaml
  egs2/mgb2/asr1/conf/tuning/train_asr_transformer3.yaml
  egs2/mgb2/asr1/conf/tuning/train_asr_transformer3_w2v_large_lv60_960h_finetuning_last_1layer.yaml
  egs2/mgb2/asr1/conf/tuning/train_lm_adam.yaml
  egs2/mgb2/asr1/conf/tuning/train_lm_transformer2.yaml
  egs2/mgb2/asr1/conf/tuning/transformer_fisherlike_4gpu_bbins16m_fix.yaml
  egs2/mgb2/asr1/local/add_to_datadir.py
  egs2/mgb2/asr1/local/check_tools.sh
  egs2/mgb2/asr1/local/data.sh
  egs2/mgb2/asr1/local/join_suffix.py
  egs2/mgb2/asr1/local/make_corpus_subset.sh
  egs2/mgb2/asr1/local/mgb_extract_data.sh
  egs2/mgb2/asr1/local/prepare_acoustic_training_data.pl
  egs2/mgb2/asr1/local/prepare_data.sh
  egs2/mgb2/asr1/local/process_xml.py
  egs2/mgb2/asr1/local/text_segmenting.py
  egs2/mgb2/asr1/local/xml2stm.py
Due: auto add label=ESPnet2

add skim separator
  egs2/wsj0_2mix/enh1/conf/tuning/train_enh_skim_tasnet.yaml
  espnet2/enh/layers/skim.py
  espnet2/enh/separator/skim_separator.py
  espnet2/tasks/enh.py
Due: auto add label=ESPnet2

cleaning files
  egs2/mgb2/asr1/local/data.sh
  egs2/mgb2/asr1/run.sh
Due: auto add label=ESPnet2

add causal config for skim
  egs2/wsj0_2mix/enh1/conf/tuning/train_enh_skim_tasnet_causal.yaml
  espnet2/enh/separator/skim_separator.py
Due: auto add label=ESPnet2

add unit test
  espnet2/enh/separator/skim_separator.py
  test/espnet2/enh/separator/test_skim_separator.py
Due: auto add label=ESPnet2

update config
  egs2/wsj0_2mix/enh1/conf/tuning/train_enh_skim_tasnet_causal.yaml
Due: auto add label=ESPnet2

fix for testing
  espnet2/enh/layers/skim.py
  espnet2/enh/layers/tcn.py
  espnet2/enh/separator/skim_separator.py
  test/espnet2/enh/separator/test_skim_separator.py
Due: auto add label=ESPnet2

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
