Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(ci/|.github/)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/

add a dummpy data part for integration unit test
  egs2/msp_podcast/ser1/local/data.sh
Due: auto add label=ESPnet2

create a folder for integration unit-test
  egs2/mini_an4/ser1/cmd.sh
  egs2/mini_an4/ser1/conf/decode_asr.yaml
  egs2/mini_an4/ser1/conf/slurm.conf
  egs2/mini_an4/ser1/conf/train_ser.yaml
  egs2/mini_an4/ser1/conf/tuning/train_asr_wavlm.yaml
  egs2/mini_an4/ser1/db.sh
  egs2/mini_an4/ser1/local/data.sh
  egs2/mini_an4/ser1/local/lowercase.pl
  egs2/mini_an4/ser1/local/normalize_punctuation.pl
  egs2/mini_an4/ser1/local/path.sh
  egs2/mini_an4/ser1/local/remove_punctuation.pl
  egs2/mini_an4/ser1/local/remove_tag.pl
  egs2/mini_an4/ser1/path.sh
  egs2/mini_an4/ser1/pyscripts
  egs2/mini_an4/ser1/run.sh
  egs2/mini_an4/ser1/scripts
  egs2/mini_an4/ser1/ser.sh
  egs2/mini_an4/ser1/steps
  egs2/mini_an4/ser1/utils
Due: auto add label=ESPnet2

add ser in the integration shell
  ci/test_integration_espnet2.sh
Due: auto add label=CI

change to a smaller model and shorter file
  test/espnet2/ser/test_espnet_ser_model.py
Due: none

add an extra argument for running dummy data generation to pass unit-test
  egs2/msp_podcast/ser1/run.sh
Due: auto add label=ESPnet2

add quote to split sets
  egs2/mini_an4/ser1/local/data.sh
  egs2/msp_podcast/ser1/local/data.sh
Due: auto add label=ESPnet2

update the emotion label to fit smaller model
  test/espnet2/ser/test_espnet_ser_model.py
Due: none

Remove unecessary file locks.
  espnet2/train/lid_trainer.py
Due: auto add label=ESPnet2

Fix merge of lang_to_embds_dic.
  espnet2/bin/lid_inference.py
Due: auto add label=ESPnet2

Remove unnecessary conditions.
  espnet2/bin/lid_inference.py
Due: auto add label=ESPnet2

Change plot name.
  espnet2/bin/lid_inference.py
Due: auto add label=ESPnet2

Optimize comments.
  espnet2/bin/lid_inference.py
Due: auto add label=ESPnet2

Fix imports.
  espnet2/train/lid_trainer.py
Due: auto add label=ESPnet2

Fix comment.
  espnet2/bin/lid_inference.py
Due: auto add label=ESPnet2

Update readme.
  egs2/TEMPLATE/lid1/README.md
Due: auto add label=ESPnet2, auto add label=README

Fix typo.
  espnet2/tasks/abs_task.py
Due: auto add label=ESPnet2

Fix condition expression.
  espnet2/samplers/category_power_sampler.py
Due: auto add label=ESPnet2

Rerun CI.
  espnet2/bin/lid_inference.py
Due: auto add label=ESPnet2

Rerun CI.
  espnet2/samplers/category_power_sampler.py
Due: auto add label=ESPnet2

Fix log.
  egs2/TEMPLATE/lid1/lid.sh
Due: auto add label=ESPnet2

Remove spk_map.
  egs2/TEMPLATE/lid1/local/copy_data_dir.sh
Due: auto add label=ESPnet2

Remove redundant code.
  egs2/voxlingua107/lid1/local/prepare_voxlingua107.py
Due: auto add label=ESPnet2

Remove spk_map.
  egs2/voxlingua107/lid1/local/copy_data_dir.sh
Due: auto add label=ESPnet2

comment out nodelist; readme for ipa_mapping
  egs2/ipapack_plus/s2t1/README.md
  egs2/ipapack_plus/s2t1/run.sh
Due: auto add label=ESPnet2, auto add label=README

Add evaluation scripts
  espnet3/inference/__init__.py
  espnet3/inference/abs_metrics.py
  espnet3/inference/inference_runner.py
  espnet3/inference/score_runner.py
Due: none

Add unit test for inference_runner
  test/espnet3/test_inference_runner.py
Due: none

add unit test for score runner
  test/espnet3/test_score_runner.py
  test_utils/espnet3/audio/sample_0.wav
  test_utils/espnet3/audio/sample_1.wav
  test_utils/espnet3/audio/sample_2.wav
  test_utils/espnet3/config/test_score.yaml
  test_utils/espnet3/config/test_score_invalid_inputs.yaml
  test_utils/espnet3/config/test_score_invalid_metric_class.yaml
  test_utils/espnet3/config/test_score_missing_file.yaml
  test_utils/espnet3/config/test_score_missing_inputs.yaml
  test_utils/espnet3/config/test_score_missing_target.yaml
  test_utils/espnet3/config/test_score_single.yaml
  test_utils/espnet3/config/test_score_uid_mismatch.yaml
  test_utils/espnet3/config/test_score_unsorted.yaml
  test_utils/espnet3/scores/test_1/hyp.scp
  test_utils/espnet3/scores/test_1/ref.scp
  test_utils/espnet3/scores/test_2/hyp.scp
  test_utils/espnet3/scores/test_2/ref.scp
  test_utils/espnet3/scores/test_id_mismatch/hyp.scp
  test_utils/espnet3/scores/test_id_mismatch/ref.scp
  test_utils/espnet3/scores/test_missing_file/ref.scp
  test_utils/espnet3/scores/test_unsorted/hyp.scp
  test_utils/espnet3/scores/test_unsorted/ref.scp
Due: none

Update test_utils/espnet3/config/test_dataloader_with_dataorganizer_config.yaml
  test_utils/espnet3/config/test_dataloader_with_dataorganizer_config.yaml
Due: none

Add task.py
  espnet3/task.py
Due: none

Add test case comment in unit test
  test/espnet3/test_inference_runner.py
  test/espnet3/test_score_runner.py
Due: none

Add test for saving image/audio
  test/espnet3/test_inference_runner.py
Due: none

Add docstring and bugfix
  espnet3/inference/inference_runner.py
Due: none

Add docstring to score runner
  espnet3/inference/score_runner.py
Due: none

bug fix
  espnet3/collect_stats.py
Due: none

Format
  espnet3/inference/inference_runner.py
  espnet3/inference/score_runner.py
Due: none

Removed espnet-1 from CI
  .github/workflows/ci_on_debian11.yml
  .github/workflows/ci_on_ubuntu.yml
  .mergify.yml
  ci/doc.sh
  ci/test_import_all.py
  ci/test_integration_espnet1.sh
  ci/test_python_espnet1.sh
  ci/test_shell_espnet1.sh
  setup.cfg
Due: auto add label=CI, auto add label=mergify

Moved espnet.asr.asr_utils into espnet2.legacy.asr.asr_utils
  espnet/asr/asr_mix_utils.py
  espnet/asr/chainer_backend/asr.py
  espnet/asr/pytorch_backend/asr.py
  espnet/asr/pytorch_backend/asr_init.py
  espnet/asr/pytorch_backend/asr_mix.py
  espnet/asr/pytorch_backend/recog.py
  espnet/lm/pytorch_backend/lm.py
  espnet/mt/pytorch_backend/mt.py
  espnet/nets/asr_interface.py
  espnet/nets/mt_interface.py
  espnet/nets/pytorch_backend/e2e_tts_fastspeech.py
  espnet/nets/tts_interface.py
  espnet/st/pytorch_backend/st.py
  espnet/tts/pytorch_backend/tts.py
  espnet/vc/pytorch_backend/vc.py
  espnet2/legacy/asr/asr_utils.py
Due: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM

espnet.nets.beam_search to espnet2.legacy.nets.beam_search
  espnet/asr/pytorch_backend/recog.py
  espnet/nets/batch_beam_search.py
  espnet/nets/batch_beam_search_online.py
  espnet/nets/batch_beam_search_online_sim.py
  espnet/nets/beam_search_timesync.py
  espnet/nets/beam_search_timesync_streaming.py
  espnet2/asr/maskctc_model.py
  espnet2/asr/partially_AR_model.py
  espnet2/asr/transducer/beam_search_transducer_streaming.py
  espnet2/bin/asr_inference.py
  espnet2/bin/asr_inference_maskctc.py
  espnet2/bin/asr_inference_streaming.py
  espnet2/bin/lm_inference.py
  espnet2/bin/mt_inference.py
  espnet2/bin/s2st_inference.py
  espnet2/bin/s2t_inference.py
  espnet2/bin/s2t_inference_ctc.py
  espnet2/bin/slu_inference.py
  espnet2/bin/st_inference.py
  espnet2/bin/st_inference_streaming.py
  espnet2/bin/uasr_inference.py
  espnet2/legacy/nets/beam_search.py
  test/espnet2/asr/decoder/test_rnn_decoder.py
  test/espnet2/asr/decoder/test_transformer_decoder.py
  test/espnet2/bin/test_asr_inference.py
  test/espnet2/bin/test_asr_inference_maskctc.py
  test/espnet2/bin/test_lm_inference.py
  test/espnet2/bin/test_s2t_inference.py
  test/espnet2/bin/test_s2t_inference_ctc.py
  test/espnet2/bin/test_slu_inference.py
  test/espnet2/bin/test_st_inference.py
  test/espnet2/lm/test_seq_rnn_lm.py
  test/espnet2/lm/test_transformer_lm.py
Due: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR
