Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet2, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=mergify, auto add label=Docker

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

Use transformer as a default
  egs2/csj/asr1/run.sh
Due: auto add label=ESPnet2

fixed the case of GST-FastSpeech2
  espnet2/tts/espnet_model.py
Due: auto add label=ESPnet2

Update shellcheck url.
  ci/test_shell.sh
Due: auto add label=CI

Fix schellcheck errors.
  ci/install.sh
  egs/reverb/asr1_multich/run.sh
  egs/timit_ssc/ssr1/run.sh
  tools/extra_path.sh
  utils/asr_align_wav.sh
Due: auto add label=CI

Fix ignored scripts.
  ci/test_shell.sh
  tools/setup_anaconda.sh
  tools/setup_cuda_env.sh
  tools/setup_python.sh
  tools/setup_venv.sh
Due: auto add label=CI

Fix tools/setup_python.sh
  tools/setup_python.sh
Due: none

Fix tools/setup_python.sh
  tools/setup_anaconda.sh
  tools/setup_python.sh
Due: none

espnet2 start to support conformer
  espnet2/asr/encoder/conformer_encoder.py
  espnet2/tasks/asr.py
Due: auto add label=ESPnet2

add two custom asr.sh
  egs2/TEMPLATE/asr1/asr_class.sh
  egs2/TEMPLATE/asr1/asr_nscc.sh
Due: auto add label=ESPnet2

[skip ci] update comments
  tools/setup_python.sh
  tools/setup_venv.sh
Due: none

add test for warp-rnnt
  test/test_e2e_asr_transducer.py
Due: none

small doc fix
  espnet/nets/beam_search_transducer.py
Due: none

Remove rnnlm and add hyp-level batch decoding for translation task
  espnet/mt/pytorch_backend/mt.py
  espnet/nets/pytorch_backend/e2e_mt_transformer.py
  espnet/nets/pytorch_backend/e2e_st_transformer.py
  espnet/st/pytorch_backend/st.py
Due: none

update final results + add models
  egs/vivos/asr1/RESULTS.md
Due: none

Remove unnecessary import
  espnet/mt/pytorch_backend/mt.py
  espnet/st/pytorch_backend/st.py
Due: none

updated configs
  egs2/csmsc/tts1/conf/tuning/train_transformer.yaml
  egs2/jsut/tts1/conf/tuning/train_transformer.yaml
  egs2/ljspeech/tts1/conf/tuning/train_transformer.yaml
  egs2/vctk/tts1/conf/tuning/train_gst_transformer.yaml
Due: auto add label=ESPnet2

added README.md for ESPnet2 TTS
  egs2/csmsc/tts1/README.md
  egs2/jsut/tts1/README.md
  egs2/ljspeech/tts1/README.md
  egs2/vctk/tts1/README.md
Due: auto add label=ESPnet2

added model info in help
  utils/synth_wav.sh
Due: none

updated README
  README.md
Due: auto add label=README

updated
  README.md
Due: auto add label=README

added expand
  README.md
Due: auto add label=README

a little modify for asr_class.sh asr_nscc.sh
  egs2/TEMPLATE/asr1/asr_class.sh
  egs2/TEMPLATE/asr1/asr_nscc.sh
Due: auto add label=ESPnet2

fix a bug for conformer_encoder.py
  espnet2/asr/encoder/conformer_encoder.py
Due: auto add label=ESPnet2

remove unused parameter
  egs/voxforge/asr1/conf/tuning/transducer/decode_nsc.yaml
Due: none

fix multi-gpu bug for cer/wer report
  espnet/nets/beam_search_transducer.py
Due: none

Remove jit
  espnet/nets/pytorch_backend/e2e_mt_transformer.py
  espnet/nets/pytorch_backend/e2e_st_transformer.py
Due: none

Update bin
  espnet/bin/mt_trans.py
  espnet/bin/st_trans.py
Due: none

Unify arguments of Transformer
  espnet/nets/pytorch_backend/e2e_asr_transformer.py
  espnet/nets/pytorch_backend/e2e_mt_transformer.py
  espnet/nets/pytorch_backend/e2e_st_transformer.py
  espnet/nets/pytorch_backend/transformer/argument.py
Due: none

Minor fix
  espnet/nets/pytorch_backend/e2e_asr_transformer.py
  espnet/nets/pytorch_backend/transformer/argument.py
Due: none

Fix H301
  espnet/nets/pytorch_backend/e2e_asr_transformer.py
  espnet/nets/pytorch_backend/e2e_mt_transformer.py
  espnet/nets/pytorch_backend/e2e_st_transformer.py
Due: none

Same for RNN
  espnet/nets/pytorch_backend/e2e_asr.py
  espnet/nets/pytorch_backend/e2e_mt.py
  espnet/nets/pytorch_backend/e2e_st.py
  espnet/nets/pytorch_backend/rnn/argument.py
Due: none

small update for readability
  espnet/nets/beam_search_transducer.py
Due: none

reduce beam size for transducer integration test
  egs/mini_an4/asr1/conf/decode_transducer.yaml
Due: none

updates on docker
  docker/prebuilt/devel/Dockerfile
  docker/prebuilt/runtime/Dockerfile
Due: auto add label=Docker

add conformer results for librispeech
  egs/librispeech/asr1/RESULTS.md
  egs/librispeech/asr1/conf/tuning/train_pytorch_conformer_large.yaml
Due: none

recipe fixes for new install
  docker/prebuilt/devel/Dockerfile
  docker/prebuilt/devel/gpu/10.1/cudnn7/Dockerfile
  docker/prebuilt/local/Dockerfile
Due: auto add label=Docker

small fix: display block id in logs starting to 1
  espnet/nets/pytorch_backend/transducer/blocks.py
Due: none

Path conditions:
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=README: any of: ^README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
