Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(ci/|.github/)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/

add: branchformer encoder
  espnet2/tasks/spk.py
Due: auto add label=ESPnet2

add: branchformer encoder file
  espnet2/spk/encoder/branchformer_encoder.py
Due: auto add label=ESPnet2

bugfix: transpose to match pooling format
  espnet2/spk/encoder/branchformer_encoder.py
Due: auto add label=ESPnet2

Fix the argument erros of whisper tokenizer language.
  egs2/aishell/asr1/conf/tuning/train_asr_whisper_large_lora_finetune.yaml
  egs2/aishell/asr1/conf/tuning/train_asr_whisper_medium_finetune.yaml
  egs2/aishell/asr1/conf/tuning/train_asr_whisper_medium_lora_finetune.yaml
  espnet2/bin/asr_inference.py
Due: auto add label=ESPnet2

documented in README and added installation in makefile
  egs2/TEMPLATE/tts1/README.md
  tools/Makefile
Due: auto add label=ESPnet2, auto add label=README, auto add label=Installation

add create_adapter_fn test case
  test/espnet2/layers/test_create_adapter_fn.py
  test/espnet2/layers/test_create_lora_adapter.py
Due: none

add create_adapter_fn test case
  espnet2/layers/create_adapter_fn.py
Due: auto add label=ESPnet2

fix typo
  test/espnet2/layers/test_create_adapter_fn.py
Due: none

add test case
  espnet2/layers/houlsby_adapter_layer.py
Due: auto add label=ESPnet2

add houlsby_adapter_layer test case
  test/espnet2/layers/test_houlsby_adapter_layer.py
Due: none

add skip import
  test/espnet2/layers/test_houlsby_adapter_layer.py
Due: none

add create_adapter test case
  test/espnet2/layers/test_create_adapter.py
Due: none

Fix loading pre-trained model from transformers
  espnet2/tasks/abs_task.py
Due: auto add label=ESPnet2

Fix CI
  espnet2/tasks/abs_task.py
Due: auto add label=ESPnet2

add test case
  espnet2/layers/create_adapter_fn.py
  test/espnet2/layers/test_create_adapter_fn.py
  test/espnet2/layers/test_houlsby_adapter_layer.py
Due: auto add label=ESPnet2

add import skip
  test/espnet2/layers/test_create_adapter_fn.py
Due: none

Updates MFA scripts and workflow. Tested working.
  egs2/TEMPLATE/asr1/pyscripts/utils/mfa_format.py
  egs2/TEMPLATE/asr1/scripts/utils/mfa.sh
  egs2/TEMPLATE/asr1/utils/copy_data_dir.sh
  egs2/ljspeech/tts1/local/run_mfa.sh
  egs2/ljspeech/tts1/run_mfa.sh
  espnet2/text/cleaner.py
  espnet2/text/mfa_cleaners.py
  espnet2/text/phoneme_tokenizer.py
  tools/installers/install_mfa.sh
Due: auto add label=ESPnet2, auto add label=Installation

add test s3prl import
  test/espnet2/layers/test_houlsby_adapter_layer.py
Due: none

fix conflict
  test/espnet2/layers/test_create_adapter_fn.py
Due: none

initial commit
  egs2/asvspoof/spk1/cmd.sh
  egs2/asvspoof/spk1/conf/pbs.conf
  egs2/asvspoof/spk1/conf/queue.conf
  egs2/asvspoof/spk1/conf/slurm.conf
  egs2/asvspoof/spk1/db.sh
  egs2/asvspoof/spk1/local/path.sh
  egs2/asvspoof/spk1/path.sh
  egs2/asvspoof/spk1/pyscripts
  egs2/asvspoof/spk1/scripts
  egs2/asvspoof/spk1/spk.sh
  egs2/asvspoof/spk1/steps
  egs2/asvspoof/spk1/utils
Due: auto add label=ESPnet2

add conf
  egs2/asvspoof/spk1/conf/decode.yaml
  egs2/asvspoof/spk1/conf/train_ECAPA_mel.yaml
  egs2/asvspoof/spk1/conf/train_SKA_mel.yaml
  egs2/asvspoof/spk1/conf/train_rawnet3.yaml
Due: auto add label=ESPnet2

add local files and run
  egs2/TEMPLATE/spk1/db.sh
  egs2/asvspoof/spk1/local/data.sh
  egs2/asvspoof/spk1/local/data_prep.py
  egs2/asvspoof/spk1/run.sh
Due: auto add label=ESPnet2

Fix speed perturbation of transcript
  egs2/TEMPLATE/slu1/slu.sh
Due: auto add label=ESPnet2

Follow up from https://github.com/espnet/espnet/pull/5670
  egs2/TEMPLATE/asr1/pyscripts/utils/mfa_format.py
  egs2/TEMPLATE/asr1/utils/copy_tts_data_dir.sh
  egs2/TEMPLATE/tts1/tts.sh
  espnet2/text/phoneme_tokenizer.py
Due: auto add label=ESPnet2

add conf files
  egs2/wav2gloss/asr1/cmd.sh
  egs2/wav2gloss/asr1/conf/tuning/train_wavlm_conformer.yaml
  egs2/wav2gloss/asr1/conf/tuning/train_xls_r_fused_conformer.yml
Due: auto add label=ESPnet2

Follow up from https://github.com/espnet/espnet/pull/5670
  egs2/TEMPLATE/asr1/scripts/utils/copy_tts_data_dir.sh
  egs2/TEMPLATE/tts1/tts.sh
Due: auto add label=ESPnet2

fixing Multilingual ST test
  test_utils/test_data2json_sh.bats
Due: none

fix typo
  egs2/TEMPLATE/asr1/pyscripts/utils/convert_rttm.py
Due: auto add label=ESPnet2

update minor code base for bug fix
  espnet2/bin/tts2_inference.py
  espnet2/tts2/fastspeech2_ma/fastspeech2_discrete_ma.py
Due: auto add label=ESPnet2

minro update
  espnet2/tts2/fastspeech2_ma/fastspeech2_discrete_ma.py
Due: auto add label=ESPnet2

bug double check fix
  espnet2/bin/tts2_inference.py
  espnet2/tts2/fastspeech2_ma/fastspeech2_discrete_ma.py
Due: auto add label=ESPnet2

data prep
  egs2/asvspoof/spk1/local/asv_data_prep.py
  egs2/asvspoof/spk1/local/cat_spk_utt.py
  egs2/asvspoof/spk1/local/convert_protocol.py
  egs2/asvspoof/spk1/local/convert_trial.py
  egs2/asvspoof/spk1/local/data.sh
  egs2/asvspoof/spk1/local/data_prep.py
  egs2/asvspoof/spk1/run.sh
Due: auto add label=ESPnet2

Workaround for empty audio files
  egs2/interspeech2024_dsu_challenge/asr2/local/zero_utt_eng.txt
  egs2/interspeech2024_dsu_challenge/asr2/local/zero_utt_nld.txt
  egs2/ml_superb/asr1/local/data.sh
  egs2/ml_superb/asr1/local/zero_utt_eng.txt
  egs2/ml_superb/asr1/local/zero_utt_nld.txt
Due: auto add label=ESPnet2

updates tests for jsondiff > 2.0
  .gitignore
  setup.py
  test_utils/test_addjson_py.bats
  test_utils/test_concatjson_py.bats
  test_utils/test_data2json_sh.bats
  test_utils/test_make_pair_json_py.bats
  test_utils/test_merge_scp2json_py.bats
  test_utils/test_mergejson_py.bats
  test_utils/test_scp2json_py.bats
  test_utils/test_splitjson_py.bats
  test_utils/test_update_json_sh.bats
  utils/data2json.sh
Due: auto add label=Installation

allow for train and adjust configs
  egs2/asvspoof/spk1/conf/decode.yaml
  egs2/asvspoof/spk1/conf/train_rawnet3.yaml
  egs2/asvspoof/spk1/local/data.sh
  egs2/asvspoof/spk1/run.sh
Due: auto add label=ESPnet2

add README
  egs2/asvspoof/spk1/README.md
Due: auto add label=ESPnet2, auto add label=README
