Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

Update asr.sh
  egs2/TEMPLATE/asr1/asr.sh
Due: auto add label=ESPnet2

ci-fix
  egs2/TEMPLATE/asr1/pyscripts/utils/score_summarization.py
  espnet/nets/pytorch_backend/transformer/longformer_attention.py
  espnet2/asr/decoder/transformer_decoder.py
  espnet2/asr/encoder/conformer_encoder.py
Due: auto add label=ESPnet1, auto add label=ESPnet2

Update egs2/TEMPLATE/vc1/vc.sh
  egs2/TEMPLATE/vc1/vc.sh
Due: auto add label=ESPnet2

add back initialization options + chainer_espnet1 option
  espnet2/asr/transducer/initialize.py
  espnet2/tasks/asr_transducer.py
Due: auto add label=ESPnet2

Enc fix
  espnet2/asr/encoder/conformer_encoder.py
Due: auto add label=ESPnet2

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

data.sh fixes
  egs2/bn_openslr53/asr1/local/data.sh
Due: auto add label=ESPnet2

data.sh fix pt 2
  egs2/bn_openslr53/asr1/local/data.sh
Due: auto add label=ESPnet2

initial MT files from ST for tracking
  egs2/TEMPLATE/mt1/cmd.sh
  egs2/TEMPLATE/mt1/conf/fbank.conf
  egs2/TEMPLATE/mt1/conf/pbs.conf
  egs2/TEMPLATE/mt1/conf/pitch.conf
  egs2/TEMPLATE/mt1/conf/queue.conf
  egs2/TEMPLATE/mt1/conf/slurm.conf
  egs2/TEMPLATE/mt1/db.sh
  egs2/TEMPLATE/mt1/local/path.sh
  egs2/TEMPLATE/mt1/mt.sh
  egs2/TEMPLATE/mt1/path.sh
  egs2/TEMPLATE/mt1/pyscripts
  egs2/TEMPLATE/mt1/scripts
  egs2/TEMPLATE/mt1/setup.sh
  egs2/TEMPLATE/mt1/steps
  egs2/TEMPLATE/mt1/utils
  egs2/iwslt14/mt1/cmd.sh
  egs2/iwslt14/mt1/conf/fbank.conf
  egs2/iwslt14/mt1/conf/pbs.conf
  egs2/iwslt14/mt1/conf/pitch.conf
  egs2/iwslt14/mt1/conf/queue.conf
  egs2/iwslt14/mt1/conf/slurm.conf
  egs2/iwslt14/mt1/db.sh
  egs2/iwslt14/mt1/local/data.sh
  egs2/iwslt14/mt1/local/path.sh
  egs2/iwslt14/mt1/mt.sh
  egs2/iwslt14/mt1/path.sh
  egs2/iwslt14/mt1/pyscripts
  egs2/iwslt14/mt1/run.sh
  egs2/iwslt14/mt1/scripts
  egs2/iwslt14/mt1/steps
  egs2/iwslt14/mt1/utils
  espnet2/mt/__init__.py
  espnet2/mt/espnet_model.py
Due: auto add label=ESPnet2

change steps and utils
  egs/lrs/asr1/steps
  egs/lrs/asr1/utils
  egs/lrs/avsr1/steps
  egs/lrs/avsr1/utils
Due: auto add label=ESPnet1

keep necessary conf files for asr1
  egs/lrs/asr1/conf/gpu.conf
  egs/lrs/asr1/conf/queue.conf
  egs/lrs/asr1/conf/slurm.conf
  egs/lrs/asr1/conf/tuning/decode_pytorch_transformer.yaml
  egs/lrs/asr1/conf/tuning/decode_pytorch_transformer_large.yaml
  egs/lrs/asr1/conf/tuning/decode_rnn.yaml
  egs/lrs/asr1/conf/tuning/ld_conv/train_pytorch_DC.yaml
  egs/lrs/asr1/conf/tuning/ld_conv/train_pytorch_DC2D.yaml
  egs/lrs/asr1/conf/tuning/ld_conv/train_pytorch_LC.yaml
  egs/lrs/asr1/conf/tuning/ld_conv/train_pytorch_LC2D.yaml
  egs/lrs/asr1/conf/tuning/ld_conv/train_pytorch_SA-DC.yaml
  egs/lrs/asr1/conf/tuning/ld_conv/train_pytorch_SA-DC2D.yaml
  egs/lrs/asr1/conf/tuning/ld_conv/train_pytorch_SA-LC.yaml
  egs/lrs/asr1/conf/tuning/ld_conv/train_pytorch_SA-LC2D.yaml
  egs/lrs/asr1/conf/tuning/ld_conv/train_pytorch_SA.yaml
  egs/lrs/asr1/conf/tuning/lm.yaml
  egs/lrs/asr1/conf/tuning/lm_large.yaml
  egs/lrs/asr1/conf/tuning/lm_transformer.yaml
  egs/lrs/asr1/conf/tuning/train_pytorch_conformer_large.yaml
  egs/lrs/asr1/conf/tuning/train_pytorch_transformer.yaml
  egs/lrs/asr1/conf/tuning/train_pytorch_transformer_large_ngpu4.yaml
  egs/lrs/asr1/conf/tuning/train_pytorch_transformer_lr5.0_ag8.v2.yaml
  egs/lrs/asr1/conf/tuning/train_rnn.yaml
Due: auto add label=ESPnet1

update
  egs/lrs/asr1/conf/gpu.conf
  egs/lrs/asr1/conf/queue.conf
  egs/lrs/asr1/conf/slurm.conf
  egs/lrs/asr1/path.sh
  egs/lrs/asr1/run.sh
Due: auto add label=ESPnet1

data.sh fix
  egs2/bn_openslr53/asr1/local/data.sh
Due: auto add label=ESPnet2

remove unnecessary files
  egs/lrs/asr1/clean.sh
  egs/lrs/asr1/local/plot.py
  egs/lrs/asr1/local/remake_dict.py
Due: auto add label=ESPnet1

update run.sh
  egs/lrs/asr1/run.sh
Due: auto add label=ESPnet1

update asr1/local/pretrain.py
  egs/lrs/asr1/local/pretrain.py
Due: auto add label=ESPnet1

update asr1/run.sh
  egs/lrs/asr1/run.sh
Due: auto add label=ESPnet1

remove show_results from run.sh and remove it from local
  egs/lrs/asr1/local/show_result.sh
  egs/lrs/asr1/run.sh
Due: auto add label=ESPnet1

Update README.md
  egs2/how2/sum1/README.md
Due: auto add label=ESPnet2, auto add label=README

Added HF Model
  egs2/how2/sum1/README.md
Due: auto add label=ESPnet2, auto add label=README

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
