Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(ci/|.github/)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/

cleanup gtzan configs
  egs2/gtzan/cls1/README.md
  egs2/gtzan/cls1/cmd.sh
  egs2/gtzan/cls1/conf/slurm.conf
  egs2/gtzan/cls1/local/path.sh
Due: auto add label=ESPnet2, auto add label=README

cleanup espnet files-1
  egs2/TEMPLATE/asr1/cmd.sh
  egs2/TEMPLATE/asr1/pyscripts/audio/format_wav_scp.py
Due: auto add label=ESPnet2

cleanup as20k configs
  egs2/as20k/cls1/cmd.sh
  egs2/as20k/cls1/conf/beats_cls_lightning.yaml
  egs2/as20k/cls1/conf/slurm.conf
  egs2/as20k/cls1/local/path.sh
Due: auto add label=ESPnet2

cleanup espnet files-2
  egs2/esc50/asr1/conf/slurm.conf
  egs2/esc50/asr1/run.sh
  espnet/nets/pytorch_backend/transformer/attention.py
  espnet2/asr/encoder/beats_encoder.py
  espnet2/bin/cls_inference.py
  espnet2/cls/espnet_model.py
Due: auto add label=ESPnet1, auto add label=ESPnet2

add ipapack_plus
  egs2/TEMPLATE/asr1/db.sh
Due: auto add label=ESPnet2

ipapack_plus init commit
  egs2/README.md
  egs2/TEMPLATE/s2t1/s2t.sh
  egs2/ipapack_plus/s2t1/README.md
  egs2/ipapack_plus/s2t1/cmd.sh
  egs2/ipapack_plus/s2t1/conf/decode_s2t_pr.yaml
  egs2/ipapack_plus/s2t1/conf/fbank.conf
  egs2/ipapack_plus/s2t1/conf/pbs.conf
  egs2/ipapack_plus/s2t1/conf/pitch.conf
  egs2/ipapack_plus/s2t1/conf/queue.conf
  egs2/ipapack_plus/s2t1/conf/slurm.conf
  egs2/ipapack_plus/s2t1/conf/tuning/train_s2t_ebf_conv2d_size768_e9_d9_piecewise_lr5e-4_warmup60k_flashattn.yaml
  egs2/ipapack_plus/s2t1/db.sh
  egs2/ipapack_plus/s2t1/local/all_symbols
  egs2/ipapack_plus/s2t1/local/bad_symbols
  egs2/ipapack_plus/s2t1/local/data.sh
  egs2/ipapack_plus/s2t1/local/data_prep.py
  egs2/ipapack_plus/s2t1/local/download.py
  egs2/ipapack_plus/s2t1/local/download.sh
  egs2/ipapack_plus/s2t1/local/fix_doreco.py
  egs2/ipapack_plus/s2t1/local/generate_nlsyms.py
  egs2/ipapack_plus/s2t1/local/ipa_mapping.json
  egs2/ipapack_plus/s2t1/local/panphon_ipas
  egs2/ipapack_plus/s2t1/local/path.sh
  egs2/ipapack_plus/s2t1/local/process_ipapack.py
  egs2/ipapack_plus/s2t1/local/subset.py
  egs2/ipapack_plus/s2t1/local/utils.py
  egs2/ipapack_plus/s2t1/path.sh
  egs2/ipapack_plus/s2t1/pyscripts
  egs2/ipapack_plus/s2t1/run.sh
  egs2/ipapack_plus/s2t1/s2t.sh
  egs2/ipapack_plus/s2t1/scripts
  egs2/ipapack_plus/s2t1/utils
Due: auto add label=ESPnet2, auto add label=README

Delete egs2/ipapack_plus/s2t1/local/all_symbols
  egs2/ipapack_plus/s2t1/local/all_symbols
Due: auto add label=ESPnet2

Delete egs2/ipapack_plus/s2t1/local/bad_symbols
  egs2/ipapack_plus/s2t1/local/bad_symbols
Due: auto add label=ESPnet2

remove data checking files
  egs2/ipapack_plus/s2t1/local/data_prep.py
  egs2/ipapack_plus/s2t1/local/panphon_ipas
Due: auto add label=ESPnet2

remove dataprep for PR1
  egs2/ipapack_plus/s2t1/local/data_prep.py
  egs2/ipapack_plus/s2t1/local/download.py
  egs2/ipapack_plus/s2t1/local/download.sh
  egs2/ipapack_plus/s2t1/local/fix_doreco.py
  egs2/ipapack_plus/s2t1/local/generate_nlsyms.py
  egs2/ipapack_plus/s2t1/local/ipa_mapping.json
  egs2/ipapack_plus/s2t1/local/process_ipapack.py
  egs2/ipapack_plus/s2t1/local/subset.py
Due: auto add label=ESPnet2

remove changes except dataprep for PR2
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/TEMPLATE/s2t1/s2t.sh
  egs2/ipapack_plus/s2t1/README.md
  egs2/ipapack_plus/s2t1/cmd.sh
  egs2/ipapack_plus/s2t1/conf/decode_s2t_pr.yaml
  egs2/ipapack_plus/s2t1/conf/fbank.conf
  egs2/ipapack_plus/s2t1/conf/pbs.conf
  egs2/ipapack_plus/s2t1/conf/pitch.conf
  egs2/ipapack_plus/s2t1/conf/queue.conf
  egs2/ipapack_plus/s2t1/conf/slurm.conf
  egs2/ipapack_plus/s2t1/conf/tuning/train_s2t_ebf_conv2d_size768_e9_d9_piecewise_lr5e-4_warmup60k_flashattn.yaml
  egs2/ipapack_plus/s2t1/db.sh
  egs2/ipapack_plus/s2t1/local/data_prep.py
  egs2/ipapack_plus/s2t1/local/path.sh
  egs2/ipapack_plus/s2t1/local/utils.py
  egs2/ipapack_plus/s2t1/path.sh
  egs2/ipapack_plus/s2t1/pyscripts
  egs2/ipapack_plus/s2t1/run.sh
  egs2/ipapack_plus/s2t1/s2t.sh
  egs2/ipapack_plus/s2t1/scripts
  egs2/ipapack_plus/s2t1/utils
Due: auto add label=ESPnet2, auto add label=README

balancing PR file count
  egs2/ipapack_plus/s2t1/path.sh
Due: auto add label=ESPnet2

balancing PR file count
  egs2/ipapack_plus/s2t1/local/data.sh
  egs2/ipapack_plus/s2t1/local/path.sh
Due: auto add label=ESPnet2

Rename egs2/ipapack_plus/s2t1/path.sh to egs2/ipapack_plus/s2t1/local/path.sh
  egs2/ipapack_plus/s2t1/local/path.sh
  egs2/ipapack_plus/s2t1/path.sh
Due: auto add label=ESPnet2

Update egs2/ipapack_plus/s2t1/local/process_ipapack.py
  egs2/ipapack_plus/s2t1/local/process_ipapack.py
Due: auto add label=ESPnet2

accidentally missed a core dataprep file
  egs2/ipapack_plus/s2t1/local/data_prep.py
Due: auto add label=ESPnet2

Update README.md
  egs2/ipapack_plus/s2t1/README.md
Due: auto add label=ESPnet2, auto add label=README

Fixed copilot review and format
  espnet3/data/data_organizer.py
  espnet3/data/dataset.py
Due: none

Add main train related scripts
  espnet3/__init__.py
  espnet3/trainer/__init__.py
  espnet3/trainer/dataloader.py
  espnet3/trainer/model.py
  espnet3/trainer/trainer.py
Due: none

Add config loading script
  espnet3/utils/__init__.py
  espnet3/utils/config.py
  test/espnet3/test_config.py
Due: none

Bugfix and format
  espnet3/utils/config.py
  test/espnet3/test_config.py
Due: none

Applied black
  espnet3/utils/__init__.py
Due: none

Add test for update_shard function
  test/espnet3/test_update_shard.py
Due: none

Add unit test for dataloader builder and bugfix
  espnet2/samplers/build_batch_sampler.py
  test/espnet3/test_dataloader_builder.py
Due: auto add label=ESPnet2

Applied black
  test/espnet3/test_data_organizer.py
  test/espnet3/test_update_shard.py
Due: none

Add resources for unit test
  test_utils/espnet3/config/default.yaml
  test_utils/espnet3/config/test_dataloader_with_dataorganizer_config.yaml
  test_utils/espnet3/stats/stats_dummy
Due: none

Add unit test for model.py and bugfix
  espnet3/trainer/model.py
  test/espnet3/test_model.py
Due: none

Update comments on test cases
  test/espnet3/test_config.py
  test/espnet3/test_dataloader_builder.py
  test/espnet3/test_update_shard.py
Due: none

Add unit test for trainer and format trainer.py
  espnet3/trainer/trainer.py
  test/espnet3/test_trainer.py
Due: none

Removed unused function
  espnet3/trainer/model.py
Due: none

Bugfix based on unit tests
  espnet3/data/data_organizer.py
  espnet3/data/dataset.py
Due: none

Fix pycodestyle
  espnet3/data/dataset.py
  test/espnet3/test_dataloader_builder.py
  test/espnet3/test_model.py
Due: none

Added test case in test script and format
  test/espnet3/test_data_organizer.py
Due: none

Fix pycodestyle
  espnet3/data/dataset.py
Due: none

Update comments on test cases
  test/espnet3/test_config.py
Due: none

fix slurm.conf; add xavier_uniform init
  egs2/ipapack_plus/s2t1/conf/slurm.conf
  egs2/ipapack_plus/s2t1/conf/tuning/train_s2t_ebf_conv2d_size768_e9_d9_piecewise_lr5e-4_warmup60k_flashattn.yaml
Due: auto add label=ESPnet2
