Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

update information
  espnet2/bin/speechlm_inference.py
  espnet2/speechlm/core_lm/__init__.py
  espnet2/speechlm/espnet_model.py
Due: auto add label=ESPnet2

update __init__.py
  espnet2/speechlm/module/__init__.py
  espnet2/speechlm/tokenizer/__init__.py
Due: auto add label=ESPnet2

update rules
  espnet2/gan_codec/shared/discriminator/msstft_discriminator.py
Due: auto add label=ESPnet2

remove post processor
  espnet2/bin/speechlm_inference.py
Due: auto add label=ESPnet2

align config
  egs2/libritts/codec1/cmd.sh
Due: auto add label=ESPnet2

update slurm.conf
  egs2/mini_an4/speechlm1/conf/slurm.conf
Due: auto add label=ESPnet2

Added new homepage!
  ci/doc.sh
  doc/argparse2rst.py
  doc/convert_custom_tags_to_html.py
  doc/convert_md_to_homepage.py
  doc/index.md
  doc/members2rst.py
  doc/notebook2rst.sh
  doc/vuepress/create_menu.py
  doc/vuepress/package-lock.json
  doc/vuepress/package.json
  doc/vuepress/src/.vuepress/config.ts
  doc/vuepress/src/.vuepress/head.ts
  doc/vuepress/src/.vuepress/navbar.ts
  doc/vuepress/src/.vuepress/public/assets/icon/school_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg
  doc/vuepress/src/.vuepress/public/assets/icon/speech_to_text_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg
  doc/vuepress/src/.vuepress/public/assets/image/advanced.svg
  doc/vuepress/src/.vuepress/public/assets/image/blog.svg
  doc/vuepress/src/.vuepress/public/assets/image/box.svg
  doc/vuepress/src/.vuepress/public/assets/image/environment_structure.png
  doc/vuepress/src/.vuepress/public/assets/image/espnet.png
  doc/vuepress/src/.vuepress/public/assets/image/espnet_logo1.png
  doc/vuepress/src/.vuepress/public/assets/image/features.svg
  doc/vuepress/src/.vuepress/public/assets/image/github-dark.svg
  doc/vuepress/src/.vuepress/public/assets/image/github-light.svg
  doc/vuepress/src/.vuepress/public/assets/image/layout.svg
  doc/vuepress/src/.vuepress/public/assets/image/markdown.svg
  doc/vuepress/src/.vuepress/sidebar.ts
  doc/vuepress/src/.vuepress/styles/config.scss
  doc/vuepress/src/.vuepress/styles/index.scss
  doc/vuepress/src/.vuepress/styles/palette.scss
  doc/vuepress/src/.vuepress/theme.ts
  doc/vuepress/tsconfig.json
  setup.py
Due: auto add label=Documentation, auto add label=CI, auto add label=Installation

Add test, remove refactoring stuff
  espnet/nets/batch_beam_search.py
  espnet/nets/beam_search.py
  espnet2/bin/asr_inference.py
  test/espnet2/bin/test_asr_inference.py
  test/test_batch_beam_search.py
  test/test_beam_search.py
Due: auto add label=ESPnet1, auto add label=ESPnet2

Follow wav2gloss edits
  espnet2/bin/asr_inference.py
  test/espnet2/bin/test_asr_inference.py
Due: auto add label=ESPnet2

Make tests happy
  egs2/wav2gloss/asr1/cmd.sh
Due: auto add label=ESPnet2

update data recipe
  egs2/dolma/speechlm1/cmd.sh
  egs2/dolma/speechlm1/conf/pbs.conf
  egs2/dolma/speechlm1/conf/queue.conf
  egs2/dolma/speechlm1/conf/slurm.conf
  egs2/dolma/speechlm1/db.sh
  egs2/dolma/speechlm1/local/data.sh
  egs2/dolma/speechlm1/local/path.sh
  egs2/dolma/speechlm1/path.sh
  egs2/dolma/speechlm1/pyscripts
  egs2/dolma/speechlm1/run.sh
  egs2/dolma/speechlm1/scripts
  egs2/dolma/speechlm1/speechlm.sh
  egs2/dolma/speechlm1/steps
  egs2/dolma/speechlm1/utils
  egs2/gigaspeech/speechlm1/run.sh
  egs2/librispeech/speechlm1/run.sh
  egs2/mls/speechlm1/run.sh
  egs2/owsm_v3.2/speechlm1/run.sh
  egs2/pile_uncopyrighted/speechlm1/local/data.sh
  egs2/pile_uncopyrighted/speechlm1/nohup.out
  egs2/spgispeech/speechlm1/run.sh
  egs2/swbd/speechlm1/run.sh
Due: auto add label=ESPnet2

remove many things
  egs2/TEMPLATE/asr1/pyscripts/utils/rerank.py
  espnet2/speechlm/core_lm/ar.py
  espnet2/speechlm/core_lm/ar_multiscale.py
  espnet2/speechlm/core_lm/ar_multiscale_delay.py
  espnet2/speechlm/core_lm/ar_parallel.py
  espnet2/speechlm/core_lm/valle.py
  espnet2/speechlm/module/builtin.py
  espnet2/speechlm/module/transformer.py
  espnet2/speechlm/module/valle.py
  espnet2/speechlm/module/warpper.py
  espnet2/tasks/speechlm.py
Due: auto add label=ESPnet2

Add readme
  egs2/TEMPLATE/speechlm1/README.md
Due: auto add label=ESPnet2, auto add label=README

Update README.md
  egs2/TEMPLATE/codec1/README.md
Due: auto add label=ESPnet2, auto add label=README

fix the resume error
  egs2/librispeech/speechlm1/conf/train_multiscale_delay.yaml
  espnet2/speechlm/espnet_model.py
  espnet2/speechlm/espnet_model_rl.py
  espnet2/speechlm/module/transformer.py
  espnet2/speechlm/net_utils.py
Due: auto add label=ESPnet2

deal with the inference code
  espnet2/speechlm/core_lm/ar_delay.py
  espnet2/speechlm/core_lm/ar_multiscale.py
  espnet2/speechlm/core_lm/valle.py
  espnet2/speechlm/module/transformer.py
Due: auto add label=ESPnet2

update format
  egs2/TEMPLATE/asr1/pyscripts/utils/make_speechlm_json.py
  egs2/TEMPLATE/speechlm1/README.md
  egs2/TEMPLATE/speechlm1/speechlm.sh
  egs2/librispeech/speechlm1/conf/decode_espnet_codec.yaml
  egs2/libritts/speechlm1/conf/decode_encodec.yaml
  egs2/libritts/speechlm1/conf/decode_espnet.yaml
  egs2/libritts/speechlm1/conf/train_delay.yaml
  egs2/libritts/speechlm1/conf/train_multiscale.yaml
  egs2/libritts/speechlm1/conf/train_multiscale_delay.yaml
  egs2/libritts/speechlm1/conf/train_parallel.yaml
  egs2/libritts/speechlm1/conf/train_valle.yaml
  egs2/libritts/speechlm1/local/data.sh
  espnet2/speechlm/core_lm/abs_core_lm.py
  espnet2/speechlm/core_lm/ar_delay.py
  espnet2/speechlm/core_lm/ar_multiscale.py
  espnet2/speechlm/core_lm/ar_parallel.py
  espnet2/speechlm/core_lm/valle.py
  espnet2/speechlm/definitions.py
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2, auto add label=README

add aishell3_tts2 recipe
  egs2/aishell3/tts2/README.md
  egs2/aishell3/tts2/cmd.sh
  egs2/aishell3/tts2/conf/decode_fastspeech2.yaml
  egs2/aishell3/tts2/conf/decode_teacher.yaml
  egs2/aishell3/tts2/conf/mfcc.conf
  egs2/aishell3/tts2/conf/pbs.conf
  egs2/aishell3/tts2/conf/queue.conf
  egs2/aishell3/tts2/conf/slurm.conf
  egs2/aishell3/tts2/conf/train_fastspeech2.yaml
  egs2/aishell3/tts2/conf/train_teacher.yaml
  egs2/aishell3/tts2/conf/vad.conf
  egs2/aishell3/tts2/db.sh
  egs2/aishell3/tts2/local/data.sh
  egs2/aishell3/tts2/local/data_prep.py
  egs2/aishell3/tts2/local/download_and_untar.sh
  egs2/aishell3/tts2/local/path.sh
  egs2/aishell3/tts2/local/run_mfa.sh
  egs2/aishell3/tts2/path.sh
  egs2/aishell3/tts2/pyscripts
  egs2/aishell3/tts2/run.sh
  egs2/aishell3/tts2/run_train_teacher.sh
  egs2/aishell3/tts2/scripts
  egs2/aishell3/tts2/sid
  egs2/aishell3/tts2/steps
  egs2/aishell3/tts2/tts.sh
  egs2/aishell3/tts2/tts2.sh
  egs2/aishell3/tts2/utils
Due: auto add label=ESPnet2, auto add label=README

modify model functions
  espnet2/bin/tts2_inference.py
  espnet2/tts2/espnet_model.py
Due: auto add label=ESPnet2

update
  egs2/TEMPLATE/asr1/pyscripts/utils/make_speechlm_json.py
  egs2/TEMPLATE/asr1/pyscripts/utils/make_token_list_speechlm.py
  egs2/TEMPLATE/speechlm1/README.md
  egs2/libritts/speechlm1/conf/train_delay.yaml
  egs2/libritts/speechlm1/conf/train_multiscale.yaml
  egs2/libritts/speechlm1/conf/train_valle.yaml
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2, auto add label=README

Add and refactor docstrings by ChatGPT-4o-mini
  espnetez/config.py
  espnetez/data/dump.py
  espnetez/dataloader.py
  espnetez/dataset.py
  espnetez/preprocess/sentencepiece.py
  espnetez/preprocess/tokenizer.py
  espnetez/task.py
  espnetez/trainer.py
Due: none

update inference stage
  egs2/TEMPLATE/speechlm1/README.md
  egs2/TEMPLATE/speechlm1/speechlm.sh
  espnet2/bin/speechlm_inference.py
  espnet2/speechlm/core_lm/abs_core_lm.py
  espnet2/speechlm/core_lm/ar_delay.py
  espnet2/speechlm/core_lm/ar_multiscale.py
  espnet2/speechlm/core_lm/valle.py
  espnet2/speechlm/net_utils.py
Due: auto add label=ESPnet2, auto add label=README

update decode yaml
  egs2/librispeech/speechlm1/conf/decode_asr.yaml
  egs2/librispeech/speechlm1/conf/decode_inhouse.yaml
  egs2/libritts/speechlm1/conf/decode_espnet_codec.yaml
Due: auto add label=ESPnet2

add model sharing
  egs2/TEMPLATE/speechlm1/speechlm.sh
  espnet2/bin/pack.py
  espnet2/bin/speechlm_inference.py
Due: auto add label=ESPnet2

revise the init from HF
  egs2/librispeech/speechlm1/conf/decode_espnet_codec.yaml
  espnet2/bin/speechlm_inference.py
Due: auto add label=ESPnet2

update eval pipeline
  egs2/TEMPLATE/asr1/pyscripts/utils/aggregate_eval.py
  egs2/TEMPLATE/asr1/pyscripts/utils/result_summary.py
  egs2/TEMPLATE/asr1/pyscripts/utils/speechlm_convert_asr_result.py
  egs2/TEMPLATE/asr1/scripts/utils/speechlm_eval/eval_tts.sh
  egs2/TEMPLATE/speechlm1/speechlm.sh
  egs2/librispeech/speechlm1/conf/eval_mos.yaml
  egs2/librispeech/speechlm1/conf/eval_spk.yaml
  espnet2/speechlm/definitions.py
Due: auto add label=ESPnet2

update e asr2 recipe
  egs2/TEMPLATE/asr2/asr2.sh
  egs2/librispeech/asr2/conf/tuning/train_asr_ebranchformer_codec.yaml
  egs2/librispeech/asr2/run_codec.sh
  espnet2/mt/espnet_model.py
  espnet2/mt/frontend/embedding.py
Due: auto add label=ESPnet2

fix the dtype error in dump_codec
  egs2/TEMPLATE/asr1/pyscripts/feats/dump_codec.py
Due: auto add label=ESPnet2

fix(svs1): fix bugs 1) fix variable error in svs.sh 2) fix data preparation in itako
  egs2/TEMPLATE/svs1/svs.sh
  egs2/itako/svs1/local/prep_segments_from_xml.py
  espnet2/fileio/score_scp.py
Due: auto add label=ESPnet2

update db.sh for capri
  egs2/TEMPLATE/asr1/db.sh
Due: auto add label=ESPnet2

del local db.sh
  egs2/TEMPLATE/asr1/db.sh
Due: auto add label=ESPnet2

fix a bug
  egs2/TEMPLATE/speechlm1/speechlm.sh
Due: auto add label=ESPnet2

fix an issue
  espnet2/bin/speechlm_inference.py
Due: auto add label=ESPnet2

basic implementation of deepspeed
  egs2/librispeech/asr1/conf/deepspeed.json
  espnet2/asr/ctc.py
  espnet2/layers/stft.py
  espnet2/tasks/abs_task.py
  espnet2/torch_utils/device_funcs.py
  espnet2/train/deepspeed_trainer.py
  espnet2/train/distributed_utils.py
Due: auto add label=ESPnet2

Update README info
  README.md
Due: auto add label=README

Update README.md
  README.md
Due: auto add label=README

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(ci/|.github/)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
