Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

.mergify.yml:

pull_request_rules:
  - name: automatic merge if label=auto-merge
    conditions:
      - "label=auto-merge"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.0.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.1.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.2.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.3.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.4.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.5.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.6.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.7.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.8, 1.8.1, 6.0.0, false)"
    actions:
      merge:
        method: merge
        strict: false
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=ESPnet1"
    conditions:
      - files~=^(espnet/|egs/)
    actions:
      label:
        add: ["ESPnet1"]
  - name: "auto add label=ESPnet2"
    conditions:
      - files~=^(espnet2/|egs2/)
    actions:
      label:
        add: ["ESPnet2"]
  - name: "auto add label=ASR"
    conditions:
      - files~=^(espnet*/asr|egs*/*/asr1)
    actions:
      label:
        add: ["ASR"]
  - name: "auto add label=TTS"
    conditions:
      - files~=^(espnet*/tts|egs*/*/tts1)
    actions:
      label:
        add: ["TTS"]
  - name: "auto add label=MT"
    conditions:
      - files~=^(espnet*/mt|egs*/*/mt1)
    actions:
      label:
        add: ["MT"]
  - name: "auto add label=LM"
    conditions:
      - files~=^(espnet*/lm)
    actions:
      label:
        add: ["LM"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^doc/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]

Fix Ci error
  egs2/fsc_challenge/slu1/local/data_prep_gigaspeech.py
  egs2/fsc_challenge/slu1/local/data_prep_gt.py
Due: auto add label=ESPnet2

add test for torch.complex in test_mixit_solver.py
  test/espnet2/enh/loss/wrappers/test_mixit_solver.py
Due: none

Reduce grad accum and clip to avoid overfitting
  egs2/magicdata/asr1/conf/tuning/train_asr_conformer.yaml
Due: auto add label=ESPnet2

fixed copy_data_dir.sh
  egs2/TEMPLATE/svs1/scripts/utils/copy_data_dir.sh
  egs2/TEMPLATE/svs1/svs.sh
Due: auto add label=ESPnet2

Change to install numba using pip instead of conda
  tools/Makefile
Due: auto add label=Installation

Upload models to HuggingFace
  egs2/fsc_challenge/slu1/README.md
  egs2/slurp/slu1/README.md
Due: auto add label=ESPnet2, auto add label=README

Revert chagnes to batch_bins and grad_accum/grad_clip, use default asr_*_fold_length
  egs2/magicdata/asr1/conf/tuning/train_asr_conformer.yaml
  egs2/magicdata/asr1/run.sh
Due: auto add label=ESPnet2

Minor fix in repo name
  egs2/slurp/slu1/README.md
Due: auto add label=ESPnet2, auto add label=README

Use torchaudio functions for beamforming related operations in torch 1.12.1+
  espnet2/enh/layers/beamformer_th.py
  espnet2/enh/layers/dnn_beamformer.py
  test/espnet2/enh/separator/test_beamformer.py
  test/espnet2/enh/test_espnet_model.py
Due: auto add label=ESPnet2

Fix typos
  egs2/slurp/slu1/run.sh
Due: auto add label=ESPnet2

Store test results in README.md
  egs2/magicdata/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

Simplifiy training configurations
  egs2/magicdata/asr1/conf/train_asr.yaml
  egs2/magicdata/asr1/conf/tuning/transducer/decode.yaml
  egs2/magicdata/asr1/conf/tuning/transducer/train_conformer-rnn_transducer.yaml
  egs2/magicdata/asr1/run.sh
Due: auto add label=ESPnet2

Lower learning rate and re-train
  egs2/magicdata/asr1/conf/tuning/train_asr_conformer.yaml
Due: auto add label=ESPnet2

qasr update
  egs2/TEMPLATE/tts1/tts.sh
  egs2/qasr_tts/tts1/README.MD
  egs2/qasr_tts/tts1/RESULTS.MD
  egs2/qasr_tts/tts1/adapt.sh
  egs2/qasr_tts/tts1/cmd.sh
  egs2/qasr_tts/tts1/conf/decode.yaml
  egs2/qasr_tts/tts1/conf/pbs.conf
  egs2/qasr_tts/tts1/conf/queue.conf
  egs2/qasr_tts/tts1/conf/slurm.conf
  egs2/qasr_tts/tts1/conf/train.yaml
  egs2/qasr_tts/tts1/conf/tuning/decode_fastspeech.yaml
  egs2/qasr_tts/tts1/conf/tuning/decode_tacotron2.yaml
  egs2/qasr_tts/tts1/conf/tuning/decode_vits.yaml
  egs2/qasr_tts/tts1/conf/tuning/train_conformer_fastspeech.yaml
  egs2/qasr_tts/tts1/conf/tuning/train_conformer_fastspeech2.yaml
  egs2/qasr_tts/tts1/conf/tuning/train_fastspeech.yaml
  egs2/qasr_tts/tts1/conf/tuning/train_fastspeech2.yaml
  egs2/qasr_tts/tts1/conf/tuning/train_tacotron2.yaml
  egs2/qasr_tts/tts1/conf/tuning/train_transformer.yaml
  egs2/qasr_tts/tts1/conf/tuning/train_vits.yaml
  egs2/qasr_tts/tts1/db.sh
  egs2/qasr_tts/tts1/local/data.sh
  egs2/qasr_tts/tts1/local/data_download.sh
  egs2/qasr_tts/tts1/local/path.sh
  egs2/qasr_tts/tts1/path.sh
  egs2/qasr_tts/tts1/pyscripts
  egs2/qasr_tts/tts1/run.sh
  egs2/qasr_tts/tts1/scripts
  egs2/qasr_tts/tts1/steps
  egs2/qasr_tts/tts1/tts.sh
  egs2/qasr_tts/tts1/utils
Due: auto add label=ESPnet2

Add 2-pass SLU demo link
  README.md
Due: auto add label=README

Update url for egs1 recipe
  egs/vivos/asr1/run.sh
Due: auto add label=ESPnet1

Update url for egs2 recipe
  egs2/vivos/asr1/local/data.sh
Due: auto add label=ESPnet2

Update README of vivos for egs2
  egs2/README.md
Due: auto add label=ESPnet2, auto add label=README

Update README for vivos egs1
  egs/README.md
Due: auto add label=ESPnet1, auto add label=README

Update VIVOS README
  egs/vivos/README.txt
Due: auto add label=ESPnet1

qasr update
  egs/ljspeech/tts1/local/data_download.sh
  egs2/TEMPLATE/tts1/tts.sh
  egs2/qasr_tts/tts1/conf/mfcc.conf
  egs2/qasr_tts/tts1/conf/vad.conf
  egs2/qasr_tts/tts1/sid
Due: auto add label=ESPnet1, auto add label=ESPnet2

Update the title of plots to be y-label vs x-label
  espnet2/train/reporter.py
Due: auto add label=ESPnet2

add data preparation
  egs2/TEMPLATE/asr1/db.sh
  egs2/espnet_tutorial/asvspoof1/local/data.sh
  egs2/espnet_tutorial/asvspoof1/local/data_prep.py
Due: auto add label=ESPnet2

fix xml segment & scp
  egs2/TEMPLATE/svs1/pyscripts/audio/format_xml_scp.py
  egs2/TEMPLATE/svs1/scripts/audio/format_wav_scp.sh
  egs2/TEMPLATE/svs1/scripts/audio/format_xml_scp.sh
  egs2/TEMPLATE/svs1/svs.sh
  egs2/ofuton_p_utagoe_db/svs1/local/prep_segments_from_xml.py
Due: auto add label=ESPnet2

Update egs2/TEMPLATE/svs1/svs.sh
  egs2/TEMPLATE/svs1/svs.sh
Due: auto add label=ESPnet2

Update data_download
  egs2/qasr_tts/tts1/local/data_download.sh
Due: auto add label=ESPnet2

fix bug
  egs2/TEMPLATE/svs1/svs.sh
Due: auto add label=ESPnet2

update asvspoof
  egs2/TEMPLATE/asr1/pyscripts/utils/asvspoof_score.py
  egs2/TEMPLATE/asr1/scripts/utils/show_asvspoof_result.sh
  egs2/TEMPLATE/asvspoof1/asvspoof.sh
  egs2/espnet_tutorial/asvspoof1/conf/checkpoint1_dummy.yaml
  egs2/espnet_tutorial/asvspoof1/conf/checkpoint2.yaml
  egs2/espnet_tutorial/asvspoof1/conf/decode_asvspoof.yaml
  egs2/espnet_tutorial/asvspoof1/local/data.sh
  espnet2/asvspoof/espnet_model.py
  espnet2/asvspoof/loss/abs_loss.py
  espnet2/asvspoof/loss/am_softmax_loss.py
  espnet2/asvspoof/loss/binary_loss.py
  espnet2/asvspoof/loss/oc_softmax_loss.py
Due: auto add label=ESPnet2

update template
  egs2/TEMPLATE/asr1/pyscripts/utils/asvspoof_score.py
  egs2/TEMPLATE/asr1/scripts/utils/show_asvspoof_result.sh
  espnet2/asvspoof/espnet_model.py
  espnet2/asvspoof/loss/am_softmax_loss.py
  espnet2/asvspoof/loss/oc_softmax_loss.py
  espnet2/bin/asvspoof_inference.py
  espnet2/tasks/asvspoof.py
Due: auto add label=ESPnet2

qasr update-revised
  egs2/qasr_tts/tts1/conf/mfcc.conf
  egs2/qasr_tts/tts1/conf/tuning/decode_vits.yaml
  egs2/qasr_tts/tts1/conf/tuning/finetune_tacotron2.yaml
  egs2/qasr_tts/tts1/conf/tuning/finetune_transformer.yaml
  egs2/qasr_tts/tts1/conf/tuning/train_conformer_fastspeech2.yaml
  egs2/qasr_tts/tts1/conf/tuning/train_fastspeech.yaml
  egs2/qasr_tts/tts1/conf/tuning/train_fastspeech2.yaml
  egs2/qasr_tts/tts1/conf/tuning/train_vits.yaml
  egs2/qasr_tts/tts1/conf/vad.conf
  egs2/qasr_tts/tts1/local/data_download.sh
  egs2/qasr_tts/tts1/run.sh
Due: auto add label=ESPnet2

Add stage 5 & stage 6
  egs2/TEMPLATE/svs1/cmd.sh
  egs2/TEMPLATE/svs1/conf/pbs.conf
  egs2/TEMPLATE/svs1/conf/queue.conf
  egs2/TEMPLATE/svs1/conf/slurm.conf
  egs2/TEMPLATE/svs1/db.sh
  egs2/TEMPLATE/svs1/local/path.sh
  egs2/TEMPLATE/svs1/path.sh
  egs2/TEMPLATE/svs1/svs.sh
  espnet2/bin/svs_train.py
  espnet2/fileio/read_text.py
  espnet2/fileio/xml_scp.py
  espnet2/svs/abs_svs.py
  espnet2/svs/espnet_model.py
  espnet2/svs/feats_extract/score_feats_extract.py
  espnet2/svs/naive_rnn/naive_rnn.py
  espnet2/tasks/svs.py
  espnet2/train/dataset.py
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

Lower learning rate to avoid training loss hill climbing after 7-epoch
  egs2/magicdata/asr1/conf/tuning/train_asr_conformer.yaml
Due: auto add label=ESPnet2

update minor bugs
  espnet2/bin/asvspoof_inference.py
Due: auto add label=ESPnet2

Download and untar magicdata automatically
  egs2/magicdata/asr1/local/data.sh
  egs2/magicdata/asr1/local/download_and_untar.sh
Due: auto add label=ESPnet2

Update db.sh
  egs2/TEMPLATE/asr1/db.sh
Due: auto add label=ESPnet2

Update results
  egs2/magicdata/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

Update the recipie list in egs2/README.md
  egs2/README.md
Due: auto add label=ESPnet2, auto add label=README
