Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

update totonac procedure
  egs2/totonac/asr1/conf/tuning/train_asr_transformer_default_hubert_linear.yaml
Due: auto add label=ESPnet2

update puebla nahuatl data split information
  egs2/puebla_nahuatl/asr1/local/data.sh
Due: auto add label=ESPnet2

update readme information for totonac and yolo-mixtec
  egs2/README.md
Due: auto add label=ESPnet2, auto add label=README

add results for default hubert linear combine
  egs2/totonac/asr1/RESULTS.md
Due: auto add label=ESPnet2

CI test
  test/espnet2/asr/frontend/test_fused.py
Due: none

CI tests
  espnet2/asr/frontend/fused.py
  test/espnet2/asr/frontend/test_fused.py
Due: auto add label=ESPnet2

alphabetical order of imports
  test/espnet2/asr/frontend/test_fused.py
Due: none

fix the sort order in select_k_expansions()
  espnet/nets/pytorch_backend/transducer/utils.py
Due: auto add label=ESPnet1

Update run_streaming.sh
  egs2/laborotv/asr1/run_streaming.sh
Due: auto add label=ESPnet2

Delete asr_streaming.sh
  egs2/laborotv/asr1/asr_streaming.sh
Due: auto add label=ESPnet2

add seperator for yseq concat in cache
  espnet/nets/pytorch_backend/transducer/custom_decoder.py
  espnet/nets/pytorch_backend/transducer/rnn_decoder.py
Due: auto add label=ESPnet1

CI tests
  espnet2/asr/frontend/fused.py
Due: auto add label=ESPnet2

fix Transducer docs
  README.md
  doc/tutorial.md
Due: auto add label=README, auto add label=Documentation

move and emphase important message
  doc/tutorial.md
Due: auto add label=Documentation

update JointNetwork
  espnet/nets/pytorch_backend/transducer/joint_network.py
Due: auto add label=ESPnet1

fix small problem that used before defined in step 12
  egs2/TEMPLATE/asr1/asr.sh
Due: auto add label=ESPnet2

ci test ...
  espnet2/asr/frontend/fused.py
Due: auto add label=ESPnet2

fix
  espnet2/train/trainer.py
Due: auto add label=ESPnet2

last commit
  test/espnet2/asr/frontend/test_fused.py
Due: none

last ci ...
  espnet2/asr/frontend/fused.py
Due: auto add label=ESPnet2

remove vivos files
  egs2/vivos/asr1/conf/tuning/transducer/decode_rnnt.yaml
  egs2/vivos/asr1/conf/tuning/transducer/train_asr_rnnt.yaml
  egs2/vivos/asr1/conf/tuning/transducer/train_asr_rnnt_att.yaml
  egs2/vivos/asr1/run2.sh
Due: auto add label=ESPnet2

revert decoder test
  test/espnet2/asr/decoder/test_rnn_decoder.py
  test/espnet2/asr/decoder/test_transformer_decoder.py
Due: none

second draft of espnet2 transducer
  espnet2/asr/decoder/rnn_decoder.py
  espnet2/asr/decoder/transformer_decoder.py
  espnet2/asr/espnet_model.py
  espnet2/asr/transducer/beam_search_transducer.py
  espnet2/asr/transducer/error_calculator.py
  espnet2/asr/transducer/joint_network.py
  espnet2/asr/transducer/transducer_decoder.py
  espnet2/asr/transducer/utils.py
  espnet2/bin/asr_inference.py
  espnet2/tasks/asr.py
Due: auto add label=ESPnet2

remove old transducer tests
  test/espnet2/asr/transducer/test_beam_search_transducer.py
  test/espnet2/asr/transducer/test_error_calculator_transducer.py
Due: none

Fix issues about streaming training
  espnet2/bin/asr_inference_streaming.py
Due: auto add label=ESPnet2

Fixing issues about streaming training
  espnet2/asr/encoder/contextual_block_conformer_encoder.py
  espnet2/asr/encoder/contextual_block_transformer_encoder.py
Due: auto add label=ESPnet2

Update README.md
  egs2/TEMPLATE/tts1/README.md
Due: auto add label=ESPnet2, auto add label=README

Modify FAQ part for this PR.
  doc/espnet2_tutorial.md
Due: auto add label=Documentation

change infer into infer_mode
  espnet2/bin/asr_inference_streaming.py
Due: auto add label=ESPnet2

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
