Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(ci/|.github/)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/

Keep the hyp primer out of the CTC prefix score
  espnet2/legacy/nets/batch_beam_search.py
  espnet2/legacy/nets/beam_search.py
  test/espnet2/legacy/test_batch_beam_search.py
  test/espnet2/legacy/test_batch_beam_search_batched.py
  test/espnet2/legacy/test_batch_beam_search_reference.py
  test/espnet2/legacy/test_beam_search.py
Due: auto add label=ESPnet2

Keep the full primer context for non-CTC partial scorers
  espnet2/legacy/nets/batch_beam_search.py
  espnet2/legacy/nets/beam_search.py
  test/espnet2/legacy/test_beam_search.py
Due: auto add label=ESPnet2

Select CTC primer handling independently of scorer names
  espnet2/legacy/nets/batch_beam_search.py
  espnet2/legacy/nets/beam_search.py
  test/espnet2/legacy/test_batch_beam_search.py
  test/espnet2/legacy/test_batch_beam_search_batched.py
  test/espnet2/legacy/test_beam_search.py
Due: auto add label=ESPnet2

Document shared AQA recipe infrastructure
  egs2/TEMPLATE/aqa1/setup.sh
  test/espnet2/aqa/test_aqa_recipe.py
Due: auto add label=ESPnet2

Add shared audio metric recipe scaffolding
  egs2/TEMPLATE/aqa1/README.md
  egs2/TEMPLATE/aqa1/cmd.sh
  egs2/TEMPLATE/aqa1/conf/fbank.conf
  egs2/TEMPLATE/aqa1/conf/pbs.conf
  egs2/TEMPLATE/aqa1/conf/pitch.conf
  egs2/TEMPLATE/aqa1/conf/queue.conf
  egs2/TEMPLATE/aqa1/conf/slurm.conf
  egs2/TEMPLATE/aqa1/db.sh
  egs2/TEMPLATE/aqa1/local/path.sh
  egs2/TEMPLATE/aqa1/path.sh
  egs2/TEMPLATE/aqa1/pyscripts
  egs2/TEMPLATE/aqa1/scripts
  egs2/TEMPLATE/aqa1/steps
  egs2/TEMPLATE/aqa1/utils
Due: auto add label=ESPnet2, auto add label=README

Give FusedFrontends the length of each utterance
  espnet2/asr/frontend/fused.py
  test/espnet2/asr/frontend/test_fused.py
Due: auto add label=ESPnet2

Disable optional references in the AQA quick-start example
  egs2/TEMPLATE/aqa1/README.md
Due: auto add label=ESPnet2, auto add label=README

Keep dots in the utterance id when writing inference artifacts
  espnet3/utils/writer_utils.py
  test/espnet3/utils/test_writer_utils.py
Due: none

Keep the language and task positions out of the long-form CTC posteriors
  espnet2/bin/s2t_inference.py
  test/espnet2/bin/test_s2t_inference_ctc.py
Due: auto add label=ESPnet2

Clarify default cluster settings for contributed AQA recipes
  egs2/TEMPLATE/aqa1/README.md
Due: auto add label=ESPnet2, auto add label=README

Rename egs3/librimix/tse to egs3/librimix/esp2_tse
  egs3/librimix/esp2_tse/__init__.py
  egs3/librimix/esp2_tse/conf/demo.yaml
  egs3/librimix/esp2_tse/conf/inference.yaml
  egs3/librimix/esp2_tse/conf/metrics.yaml
  egs3/librimix/esp2_tse/conf/publication.yaml
  egs3/librimix/esp2_tse/conf/training.yaml
  egs3/librimix/esp2_tse/conf/tuning/training_td_speakerbeam_16k.yaml
  egs3/librimix/esp2_tse/path.sh
  egs3/librimix/esp2_tse/readme.md
  egs3/librimix/esp2_tse/run.py
  egs3/librimix/esp2_tse/src/__init__.py
  egs3/librimix/esp2_tse/src/inference.py
  egs3/librimix/esp2_tse/src/transforms.py
  egs3/librimix/tse/dataset/__init__.py
  egs3/librimix/tse/dataset/builder.py
  egs3/librimix/tse/dataset/config.yaml
  egs3/librimix/tse/dataset/dataset.py
Due: none

Settle the metric contract before follow-ups build on it
  splet/README.md
  splet/__init__.py
  splet/alignment.py
  splet/bin/measure.py
  splet/corpus_metrics/__init__.py
  splet/egs/asr.yaml
  splet/metadata.py
  splet/metric_registry.py
  splet/session_metrics/__init__.py
  splet/summary.py
  splet/utils_shared.py
  splet/utterance_metrics/error_rate.py
  test/splet/test_contract.py
  test/splet/test_error_rate.py
  test/splet/test_measure_cli.py
Due: auto add label=README

Accumulate corpus figures, so a validation loop can use the metrics
  splet/README.md
  splet/__init__.py
  splet/metric_registry.py
  splet/summary.py
  test/splet/test_contract.py
Due: auto add label=README

test/egs3/owsm_v4, test/espnet3: run both skipped tests in CI
  test/egs3/owsm_v4/owsm_v4_release_symbols.txt
  test/egs3/owsm_v4/test_owsm_utils.py
  test/espnet3/systems/owsm/test_owsm_metrics.py
Due: none

egs3/owsm_v4, espnet3/systems/owsm: document the public surface
  egs3/TEMPLATE/owsm/run.py
  egs3/owsm_v4/owsm/dataset/builder.py
  egs3/owsm_v4/owsm/dataset/dataset.py
  egs3/owsm_v4/owsm/dataset/sub_datasets/must_c/builder.py
  egs3/owsm_v4/owsm/dataset/utils.py
  egs3/owsm_v4/owsm/run.py
  espnet3/systems/owsm/metrics/error_rate.py
  espnet3/systems/owsm/system.py
Due: none

Cut the summary rules to three words and validate only what exists
  splet/README.md
  splet/corpus_metrics/__init__.py
  splet/metadata.py
  splet/metric_registry.py
  splet/summary.py
  splet/utterance_metrics/error_rate.py
  test/splet/test_contract.py
Due: auto add label=README

Clarify primer semantics and select CTC features by scorer type
  espnet2/legacy/nets/batch_beam_search.py
  espnet2/legacy/nets/beam_search.py
Due: auto add label=ESPnet2

Share CTC frame extraction and validate long-form buffer grids
  espnet2/bin/s2t_align.py
  espnet2/bin/s2t_inference.py
  espnet2/s2t/ctc_utils.py
  espnet2/s2t/espnet_ctc_model.py
  test/espnet2/bin/test_s2t_align.py
  test/espnet2/bin/test_s2t_inference_ctc.py
  test/espnet2/s2t/test_ctc_utils.py
  test/espnet2/s2t/test_espnet_ctc_model.py
Due: auto add label=ESPnet2

Fix the output mask of the transducer encoder input block
  espnet2/asr_transducer/encoder/blocks/conv_input.py
  test/espnet2/asr_transducer/test_encoder.py
Due: auto add label=ESPnet2

Document the primer examples used by ESPnet callers
  espnet2/legacy/nets/beam_search.py
Due: auto add label=ESPnet2

Keep omitted CTC contexts on each encoder frame grid
  espnet2/bin/s2t_align.py
  espnet2/bin/s2t_inference.py
  espnet2/bin/s2t_inference_ctc.py
  test/espnet2/bin/test_s2t_align.py
  test/espnet2/bin/test_s2t_inference.py
  test/espnet2/bin/test_s2t_inference_ctc.py
Due: auto add label=ESPnet2

Do not leave extra spaces when char tokenization removes non-linguistic symbols
  espnet2/text/char_tokenizer.py
  test/espnet2/text/test_char_tokenizer.py
Due: auto add label=ESPnet2

Keep ConvInput mask dimensions when subsampling lengths
  espnet2/asr_transducer/encoder/blocks/conv_input.py
  test/espnet2/asr_transducer/encoder/blocks/test_conv_input.py
Due: auto add label=ESPnet2

Cache CTC window endpoints and refresh margin guidance
  espnet2/bin/asr_inference.py
  espnet2/legacy/nets/ctc_prefix_score.py
Due: auto add label=ESPnet2

Score a prefix longer than the encoder output as impossible
  espnet2/legacy/nets/ctc_prefix_score.py
  test/espnet2/legacy/test_batch_beam_search_batched.py
  test/espnet2/legacy/test_ctc_prefix_score_reference.py
Due: auto add label=ESPnet2

Do not train another epoch when resuming a run that was stopped early
  espnet2/train/trainer.py
  test/espnet2/train/test_trainer.py
Due: auto add label=ESPnet2

Fix the output lengths of the transducer encoder with Conv1d blocks
  espnet2/asr_transducer/encoder/blocks/conv1d.py
  espnet2/asr_transducer/encoder/encoder.py
  espnet2/asr_transducer/encoder/modules/multi_blocks.py
  test/espnet2/asr_transducer/encoder/blocks/test_conv1d.py
  test/espnet2/asr_transducer/test_encoder.py
Due: auto add label=ESPnet2

Keep the effective causal context in Conv1d streaming
  espnet2/asr_transducer/encoder/blocks/conv1d.py
  test/espnet2/asr_transducer/encoder/blocks/test_conv1d_streaming.py
Due: auto add label=ESPnet2

Stop end detection from waiting out the primer
  espnet2/legacy/nets/beam_search.py
  test/espnet2/legacy/test_beam_search.py
Due: auto add label=ESPnet2

Return frame lengths from HuggingFaceFrontend for waveform models
  espnet2/asr/frontend/huggingface.py
  test/espnet2/asr/frontend/test_transformers.py
Due: auto add label=ESPnet2

Ignore blank lines of the non-linguistic symbols file in the tokenizers
  espnet2/text/char_tokenizer.py
  espnet2/text/phoneme_tokenizer.py
  test/espnet2/text/test_char_tokenizer.py
  test/espnet2/text/test_phoneme_tokenizer.py
Due: auto add label=ESPnet2

Report the mean of the non-target scores as nontrg_mean in the speaker validation stats
  espnet2/train/spk_trainer.py
  test/espnet2/train/test_spk_trainer.py
Due: auto add label=ESPnet2

esp2_st: follow the esp2_asr rename from #6795
  test/egs3/owsm_v4/test_must_c_sub_dataset.py
  test/espnet3/systems/owsm/test_owsm_metrics.py
Due: none

Sort tokenizer symbols once, longest first
  espnet2/text/char_tokenizer.py
  espnet2/text/phoneme_tokenizer.py
  test/espnet2/text/test_char_tokenizer.py
  test/espnet2/text/test_phoneme_tokenizer.py
Due: auto add label=ESPnet2

Let batch_decode take a padded numpy array or a list of utterances
  espnet2/bin/asr_inference.py
  espnet2/bin/s2t_inference.py
  test/espnet2/bin/test_asr_inference.py
  test/espnet2/bin/test_s2t_inference.py
Due: auto add label=ESPnet2
