Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

removed old PR
  egs2/mgb2/asr1/asr.sh
  egs2/mgb2/asr1/cmd.sh
  egs2/mgb2/asr1/conf/decode_asr.yaml
  egs2/mgb2/asr1/conf/fbank.conf
  egs2/mgb2/asr1/conf/pbs.conf
  egs2/mgb2/asr1/conf/pitch.conf
  egs2/mgb2/asr1/conf/queue.conf
  egs2/mgb2/asr1/conf/slurm.conf
  egs2/mgb2/asr1/conf/train_asr.yaml
  egs2/mgb2/asr1/conf/train_lm.yaml
  egs2/mgb2/asr1/conf/tuning/train_asr_conformer_ctc0.3_lr2e-3_warmup15k_newspecaug.yaml
  egs2/mgb2/asr1/conf/tuning/transformer_fisherlike_4gpu_bbins16m_fix.yaml
  egs2/mgb2/asr1/db.sh
  egs2/mgb2/asr1/local/add_to_datadir.py
  egs2/mgb2/asr1/local/data.sh
  egs2/mgb2/asr1/local/path.sh
  egs2/mgb2/asr1/local/process_xml.py
  egs2/mgb2/asr1/local/xml2stm.py
  egs2/mgb2/asr1/path.sh
  egs2/mgb2/asr1/pyscripts
  egs2/mgb2/asr1/run.sh
  egs2/mgb2/asr1/scripts
  egs2/mgb2/asr1/steps
  egs2/mgb2/asr1/utils
Due: auto add label=ESPnet2

removed old PR
  egs/mgb2/asr1/local/xml2stm.py
  egs2/TEMPLATE/asr1/db.sh
Due: auto add label=ESPnet1, auto add label=ESPnet2

removed old PR
  egs/mgb2/asr1/local/xml2stm.py
Due: auto add label=ESPnet1

last changes
  egs2/accented_french_openslr56/asr1/Results.md
  egs2/accented_french_openslr56/asr1/output_files/baseline_dev_decoding
  egs2/accented_french_openslr56/asr1/output_files/baseline_test_decoding
  egs2/accented_french_openslr56/asr1/output_files/frontend_fusion_dev_decoding
  egs2/accented_french_openslr56/asr1/output_files/frontend_fusion_test_decoding
  egs2/accented_french_openslr56/asr1/output_files/hubert_dev_decoding
  egs2/accented_french_openslr56/asr1/output_files/hubert_test_decoding
  random.sh
Due: auto add label=ESPnet2

unused variables
  egs2/accented_french_openslr56/asr1/run.sh
Due: auto add label=ESPnet2

add results and upload models
  egs2/librimix/diar_enh1/README.md
  egs2/librimix/diar_enh1/conf/tuning/decode_diar_enh_adapt.yaml
Due: auto add label=ESPnet2, auto add label=README

mustc v2
  egs/must_c/st1/local/download_and_untar.sh
  egs2/must_c/st1/conf/tuning/train_st_conformer.yaml
Due: auto add label=ESPnet1, auto add label=ESPnet2

variable name
  egs2/accented_french_openslr56/asr1/local/data.sh
Due: auto add label=ESPnet2

updated librispeech-asr with rnn-t results
  egs2/librispeech/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

fixing changes for PR comments
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/microsoft_speech/asr1/Fusing_ASR_frontends_in_Espnet2.md
  egs2/microsoft_speech/asr1/local/data.sh
  egs2/microsoft_speech/asr1/local/data_prep.pl
  egs2/microsoft_speech/asr1/local/download_and_untar.sh
  egs2/microsoft_speech/asr1/run.sh
Due: auto add label=ESPnet2, auto add label=README

Update egs2/librispeech/asr1/README.md
  egs2/librispeech/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

reformated files
  egs2/accented_french_openslr56/asr1/local/data.sh
  egs2/accented_french_openslr56/asr1/local/normalize_test.py
  egs2/accented_french_openslr56/asr1/local/remove_missing.py
Due: auto add label=ESPnet2

reformated files
  egs2/accented_french_openslr56/asr1/local/remove_missing.py
Due: auto add label=ESPnet2

reformated
  egs2/accented_french_openslr56/asr1/local/remove_missing.py
Due: auto add label=ESPnet2

fixing merge conflicts for README.MD
  egs2/README.md
Due: auto add label=ESPnet2, auto add label=README

fix a path to params
  egs2/dns_ins21/enh1/local/dns_create_mixture.sh
Due: auto add label=ESPnet2

fix a path to params
  egs2/dns_icassp21/enh1/local/dns_create_mixture.sh
Due: auto add label=ESPnet2

Update egs2/mini_an4/asr1/transfer_learning.md
  egs2/mini_an4/asr1/transfer_learning.md
Due: auto add label=ESPnet2

fix linter
  espnet2/enh/separator/svoice_separator.py
  espnet2/tasks/enh.py
Due: auto add label=ESPnet2

added HF model path and some documentation
  egs2/accented_french_openslr56/asr1/README.md
  egs2/accented_french_openslr56/asr1/conf/decode_asr.yaml
  egs2/accented_french_openslr56/asr1/local/normalize_test.py
  egs2/accented_french_openslr56/asr1/local/remove_missing.py
Due: auto add label=ESPnet2, auto add label=README

explaination of results differences
  egs2/accented_french_openslr56/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

reduced lengths of a sentence
  espnet2/bin/tokenize_text.py
Due: auto add label=ESPnet2

Update README.md
  egs2/accented_french_openslr56/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

Update tokenize_text.py
  espnet2/bin/tokenize_text.py
Due: auto add label=ESPnet2

fixing merge conflicts
  egs2/README.md
Due: auto add label=ESPnet2, auto add label=README

add test
  egs2/librimix/diar_enh1/conf/tuning/decoder_diar_enh_adapt.yaml
  espnet2/diar/layers/multi_mask.py
  espnet2/diar/separator/abs_separator.py
  espnet2/diar/separator/tcn_separator_nomask.py
  espnet2/tasks/diar_enh.py
  test/espnet2/bin/test_diar_enh_inference.py
  test/espnet2/bin/test_diar_enh_train.py
  test/espnet2/bin/test_enh_scoring_flexible_spk_num.py
  test/espnet2/tasks/test_diar_enh.py
Due: auto add label=ESPnet2

minor fix
  egs2/librimix/diar_enh1/README.md
  egs2/librimix/diar_enh1/conf/tuning/train_diar_enh_convtasnet_2.yaml
  egs2/librimix/diar_enh1/conf/tuning/train_diar_enh_convtasnet_adapt.yaml
Due: auto add label=ESPnet2, auto add label=README

add test
  test/espnet2/bin/test_diar_enh_inference.py
  test/espnet2/diar/loss/wrappers/test_pit_solver_2.py
Due: none

fix import order
  test/espnet2/diar/loss/wrappers/test_pit_solver_2.py
Due: none

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
