Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

update the test_integration_espnet2
  ci/test_integration_espnet2.sh
Due: auto add label=CI

fix CI
  egs2/mini_an4/st1/cmd.sh
  egs2/mini_an4/st1/conf/fbank.conf
  egs2/mini_an4/st1/conf/pbs.conf
  egs2/mini_an4/st1/conf/pitch.conf
  egs2/mini_an4/st1/conf/queue.conf
  egs2/mini_an4/st1/conf/slurm.conf
  egs2/mini_an4/st1/db.sh
  egs2/mini_an4/st1/downloads.tar.gz
  egs2/mini_an4/st1/local/data.sh
  egs2/mini_an4/st1/local/data_prep.py
  egs2/mini_an4/st1/local/download_and_untar.sh
  egs2/mini_an4/st1/local/path.sh
  egs2/mini_an4/st1/path.sh
  egs2/mini_an4/st1/pyscripts
  egs2/mini_an4/st1/run.sh
  egs2/mini_an4/st1/scripts
  egs2/mini_an4/st1/st.sh
  egs2/mini_an4/st1/steps
  egs2/mini_an4/st1/utils
Due: auto add label=ESPnet2

initial nlu push
  egs2/TEMPLATE/asr1/db.sh
  egs2/TEMPLATE/nlu1/cmd.sh
  egs2/TEMPLATE/nlu1/conf/pbs.conf
  egs2/TEMPLATE/nlu1/conf/queue.conf
  egs2/TEMPLATE/nlu1/conf/slurm.conf
  egs2/TEMPLATE/nlu1/db.sh
  egs2/TEMPLATE/nlu1/local/path.sh
  egs2/TEMPLATE/nlu1/nlu.sh
  egs2/TEMPLATE/nlu1/path.sh
  egs2/TEMPLATE/nlu1/pyscripts
  egs2/TEMPLATE/nlu1/scripts
  egs2/TEMPLATE/nlu1/setup.sh
  egs2/TEMPLATE/nlu1/steps
  egs2/TEMPLATE/nlu1/utils
  egs2/slurp/nlu1/cmd.sh
  egs2/slurp/nlu1/conf/decode_nlu.yaml
  egs2/slurp/nlu1/conf/pbs.conf
  egs2/slurp/nlu1/conf/queue.conf
  egs2/slurp/nlu1/conf/slurm.conf
  egs2/slurp/nlu1/conf/train_nlu.yaml
  egs2/slurp/nlu1/db.sh
  egs2/slurp/nlu1/local/data.sh
  egs2/slurp/nlu1/local/path.sh
  egs2/slurp/nlu1/local/prepare_slurp_data.py
  egs2/slurp/nlu1/nlu.sh
  egs2/slurp/nlu1/path.sh
  egs2/slurp/nlu1/pyscripts
  egs2/slurp/nlu1/run.sh
  egs2/slurp/nlu1/scripts
  egs2/slurp/nlu1/steps
  egs2/slurp/nlu1/utils
  espnet2/bin/nlu_inference.py
  espnet2/bin/nlu_train.py
  espnet2/bin/pack.py
  espnet2/nlu/decoder/__init__.py
  espnet2/nlu/decoder/abs_decoder.py
  espnet2/nlu/decoder/linear_decoder.py
  espnet2/nlu/espnet_model.py
  espnet2/tasks/nlu.py
Due: auto add label=ESPnet2

Update README.md
  README.md
Due: auto add label=README

fix fbank_pitch issue
  egs2/mini_an4/st1/conf/fbank.conf
Due: auto add label=ESPnet2

fix fbank_pitch issue
  egs2/mini_an4/st1/conf/pitch.conf
Due: auto add label=ESPnet2

fix ci
  ci/test_integration_espnet2.sh
Due: auto add label=CI

Fix typos and add support for inference_enh_config in enh_asr and enh_st tasks
  egs2/TEMPLATE/enh_asr1/enh_asr.sh
  egs2/TEMPLATE/enh_st1/enh_st.sh
Due: auto add label=ESPnet2

Add files via upload
  ci/test_integration_espnet2.sh
Due: auto add label=CI

fix CI
  ci/test_integration_espnet2.sh
Due: auto add label=CI

fix if trigger pr docker
  .github/workflows/docker.yml
Due: auto add label=CI

Fix typos in comments
  espnet2/enh/layers/beamformer.py
  espnet2/enh/loss/criterions/time_domain.py
Due: auto add label=ESPnet2

add asr recipe
  egs2/covost2/asr1/asr.sh
  egs2/covost2/asr1/cmd.sh
  egs2/covost2/asr1/conf/decode_asr.yaml
  egs2/covost2/asr1/conf/fbank.conf
  egs2/covost2/asr1/conf/pbs.conf
  egs2/covost2/asr1/conf/pitch.conf
  egs2/covost2/asr1/conf/queue.conf
  egs2/covost2/asr1/conf/slurm.conf
  egs2/covost2/asr1/conf/train_asr.yaml
  egs2/covost2/asr1/conf/train_lm.yaml
  egs2/covost2/asr1/conf/tuning/decode_transformer.yaml
  egs2/covost2/asr1/conf/tuning/train_asr_transformer.yaml
  egs2/covost2/asr1/db.sh
  egs2/covost2/asr1/local/data.sh
  egs2/covost2/asr1/local/data_prep_commonvoice.pl
  egs2/covost2/asr1/local/data_prep_covost2.sh
  egs2/covost2/asr1/local/download_and_untar_commonvoice.sh
  egs2/covost2/asr1/local/path.sh
  egs2/covost2/asr1/local/process_tsv.py
  egs2/covost2/asr1/path.sh
  egs2/covost2/asr1/pyscripts
  egs2/covost2/asr1/run.sh
  egs2/covost2/asr1/scripts
  egs2/covost2/asr1/steps
  egs2/covost2/asr1/utils
Due: auto add label=ESPnet2

add st
  egs2/covost2/st1/cmd.sh
  egs2/covost2/st1/conf/decode_st.yaml
  egs2/covost2/st1/conf/fbank.conf
  egs2/covost2/st1/conf/pbs.conf
  egs2/covost2/st1/conf/pitch.conf
  egs2/covost2/st1/conf/queue.conf
  egs2/covost2/st1/conf/slurm.conf
  egs2/covost2/st1/conf/train_st.yaml
  egs2/covost2/st1/conf/tuning/train_transformer_st.yaml
  egs2/covost2/st1/db.sh
  egs2/covost2/st1/local/data.sh
  egs2/covost2/st1/local/data_prep_commonvoice.pl
  egs2/covost2/st1/local/data_prep_covost2.sh
  egs2/covost2/st1/local/download_and_untar_commonvoice.sh
  egs2/covost2/st1/local/path.sh
  egs2/covost2/st1/local/process_tsv.py
  egs2/covost2/st1/path.sh
  egs2/covost2/st1/pyscripts
  egs2/covost2/st1/run.sh
  egs2/covost2/st1/scripts
  egs2/covost2/st1/st.sh
  egs2/covost2/st1/steps
  egs2/covost2/st1/utils
Due: auto add label=ESPnet2

add mt recipe
  egs2/covost2/mt1/cmd.sh
  egs2/covost2/mt1/conf/decode_mt.yaml
  egs2/covost2/mt1/conf/pbs.conf
  egs2/covost2/mt1/conf/queue.conf
  egs2/covost2/mt1/conf/slurm.conf
  egs2/covost2/mt1/conf/train_mt.yaml
  egs2/covost2/mt1/conf/tuning/train_mt_transformer_lr3e-3_warmup10k_share_enc_dec_input_dropout0.3.yaml
  egs2/covost2/mt1/db.sh
  egs2/covost2/mt1/local/data.sh
  egs2/covost2/mt1/local/data_prep_commonvoice.pl
  egs2/covost2/mt1/local/data_prep_covost2.sh
  egs2/covost2/mt1/local/download_and_untar_commonvoice.sh
  egs2/covost2/mt1/local/path.sh
  egs2/covost2/mt1/local/process_tsv.py
  egs2/covost2/mt1/mt.sh
  egs2/covost2/mt1/path.sh
  egs2/covost2/mt1/pyscripts
  egs2/covost2/mt1/run.sh
  egs2/covost2/mt1/scripts
  egs2/covost2/mt1/steps
  egs2/covost2/mt1/utils
Due: auto add label=ESPnet2

add covost entry / reformat some other entries
  egs2/README.md
Due: auto add label=ESPnet2, auto add label=README

fix shell check
  egs2/covost2/mt1/run.sh
Due: auto add label=ESPnet2

Fix a bug in utterance_mvn
  espnet2/layers/utterance_mvn.py
Due: auto add label=ESPnet2

add quantization capabilities
  espnet2/asr/transducer/beam_search_transducer.py
  espnet2/asr/transducer/decoder/rnn_decoder.py
  espnet2/asr/transducer/decoder/stateless_decoder.py
  espnet2/asr/transducer/encoder/blocks/rnn.py
  espnet2/asr/transducer/encoder/blocks/rnnp.py
Due: auto add label=ESPnet2

add quantization capabilities (2)
  espnet2/bin/asr_transducer_inference.py
Due: auto add label=ESPnet2

add quantization tests
  test/espnet2/bin/test_asr_transducer_inference.py
Due: none

Update egs2/covost2/asr1/run.sh
  egs2/covost2/asr1/run.sh
Due: auto add label=ESPnet2

Update egs2/covost2/st1/run.sh
  egs2/covost2/st1/run.sh
Due: auto add label=ESPnet2

Update egs2/covost2/mt1/run.sh
  egs2/covost2/mt1/run.sh
Due: auto add label=ESPnet2

(mAES) apply recombine_hyps after each timestep
  espnet2/asr/transducer/beam_search_transducer.py
Due: auto add label=ESPnet2

mustcv2 asr
  egs2/must_c_v2/asr1/asr.sh
  egs2/must_c_v2/asr1/cmd.sh
  egs2/must_c_v2/asr1/conf/fbank.conf
  egs2/must_c_v2/asr1/conf/pbs.conf
  egs2/must_c_v2/asr1/conf/pitch.conf
  egs2/must_c_v2/asr1/conf/queue.conf
  egs2/must_c_v2/asr1/conf/slurm.conf
  egs2/must_c_v2/asr1/conf/tuning/decode_asr_conformer.yaml
  egs2/must_c_v2/asr1/conf/tuning/train_asr_conformer.yaml
  egs2/must_c_v2/asr1/db.sh
  egs2/must_c_v2/asr1/local/path.sh
  egs2/must_c_v2/asr1/path.sh
  egs2/must_c_v2/asr1/pyscripts
  egs2/must_c_v2/asr1/run.sh
  egs2/must_c_v2/asr1/scripts
  egs2/must_c_v2/asr1/steps
  egs2/must_c_v2/asr1/utils
Due: auto add label=ESPnet2

nlu
  egs2/TEMPLATE/nlu1/nlu.sh
  egs2/slurp/nlu1/conf/train_nlu.yaml
  egs2/slurp_entity/asr1/local/score.sh
  espnet2/nlu/decoder/abs_decoder.py
  espnet2/nlu/espnet_model.py
  espnet2/nlu/token_classification.py
  espnet2/tasks/nlu.py
  espnet2/train/class_choices.py
Due: auto add label=ESPnet2

show the error report in the log
  ci/test_integration_espnet2.sh
Due: auto add label=CI

show the log result
  ci/test_integration_espnet2.sh
Due: auto add label=CI

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
