Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

shell check
  egs2/noisy_reverberant/enh1/local/data.sh
  espnet2/enh/espnet_model.py
Due: auto add label=ESPnet2

update data.sh
  egs2/noisy_reverberant/enh1/local/data.sh
Due: auto add label=ESPnet2

add another transducer config & results
  egs/aishell/asr1/RESULTS.md
  egs/aishell/asr1/conf/tuning/transducer/train_transducer_aux.yaml
Due: auto add label=ESPnet1

Rename to NOISYREVERB
  egs2/NOISYREVERB/enh1/cmd.sh
  egs2/NOISYREVERB/enh1/conf/pbs.conf
  egs2/NOISYREVERB/enh1/conf/queue.conf
  egs2/NOISYREVERB/enh1/conf/slurm.conf
  egs2/NOISYREVERB/enh1/conf/tuning/train_enh_conv_tasnet.yaml
  egs2/NOISYREVERB/enh1/db.sh
  egs2/NOISYREVERB/enh1/enh.sh
  egs2/NOISYREVERB/enh1/local/data.sh
  egs2/NOISYREVERB/enh1/local/path.sh
  egs2/NOISYREVERB/enh1/local/train_spk
  egs2/NOISYREVERB/enh1/local/valid_spk
  egs2/NOISYREVERB/enh1/path.sh
  egs2/NOISYREVERB/enh1/pyscripts
  egs2/NOISYREVERB/enh1/run.sh
  egs2/NOISYREVERB/enh1/scripts
  egs2/NOISYREVERB/enh1/steps
  egs2/NOISYREVERB/enh1/utils
Due: auto add label=ESPnet2

fix CI bugs
  egs/mgb2/asr1/local/add_to_datadir.py
Due: auto add label=ESPnet1

[YenJu] DNS script (WIP)
  egs2/TEMPLATE/asr1/db.sh
  egs2/dns_ins20/enh1/cmd.sh
  egs2/dns_ins20/enh1/conf/pbs.conf
  egs2/dns_ins20/enh1/conf/queue.conf
  egs2/dns_ins20/enh1/conf/slurm.conf
  egs2/dns_ins20/enh1/conf/train.yaml
  egs2/dns_ins20/enh1/conf/tuning/train_enh_beamformer_mvdr.yaml
  egs2/dns_ins20/enh1/conf/tuning/train_enh_beamformer_wmpdr.yaml
  egs2/dns_ins20/enh1/db.sh
  egs2/dns_ins20/enh1/enh.sh
  egs2/dns_ins20/enh1/local/convert2wav.sh
  egs2/dns_ins20/enh1/local/data.sh
  egs2/dns_ins20/enh1/local/dns_create_mixture.sh
  egs2/dns_ins20/enh1/local/dns_data_prep.sh
  egs2/dns_ins20/enh1/local/find_transcripts.pl
  egs2/dns_ins20/enh1/local/flist2scp.pl
  egs2/dns_ins20/enh1/local/ndx2flist.pl
  egs2/dns_ins20/enh1/local/normalize_transcript.pl
  egs2/dns_ins20/enh1/local/path.sh
  egs2/dns_ins20/enh1/local/wsj_data_prep.sh
  egs2/dns_ins20/enh1/local/wsj_format_data.sh
  egs2/dns_ins20/enh1/path.sh
  egs2/dns_ins20/enh1/pyscripts
  egs2/dns_ins20/enh1/run.sh
  egs2/dns_ins20/enh1/scripts
  egs2/dns_ins20/enh1/steps
  egs2/dns_ins20/enh1/utils
Due: auto add label=ESPnet2

add ci_sdr to setup.py
  espnet2/enh/espnet_model.py
  setup.py
Due: auto add label=ESPnet2, auto add label=Installation

add readme for database
  egs2/README.md
Due: auto add label=ESPnet2, auto add label=README

update unit test
  espnet2/enh/espnet_model.py
  test/espnet2/enh/test_espnet_model.py
Due: auto add label=ESPnet2

update unit test
  test/espnet2/enh/test_espnet_model.py
Due: none

update unit test for ci_sdr
  espnet2/enh/espnet_model.py
  test/espnet2/enh/test_espnet_model.py
Due: auto add label=ESPnet2

update unit test for ci_sdr
  test/espnet2/enh/test_espnet_model.py
Due: none

[Neil] DNS script -- fix data preparing problem
  egs2/dns_ins20/enh1/conf/tuning/train_enh_blstm_tf.yaml
  egs2/dns_ins20/enh1/local/dns_data_prep.sh
  egs2/dns_ins20/enh1/run.sh
Due: auto add label=ESPnet2

rename NOISYREVERB to noisyreverb
  egs2/noisyreverb/enh1/cmd.sh
  egs2/noisyreverb/enh1/conf/pbs.conf
  egs2/noisyreverb/enh1/conf/queue.conf
  egs2/noisyreverb/enh1/conf/slurm.conf
  egs2/noisyreverb/enh1/conf/tuning/train_enh_conv_tasnet.yaml
  egs2/noisyreverb/enh1/db.sh
  egs2/noisyreverb/enh1/enh.sh
  egs2/noisyreverb/enh1/local/data.sh
  egs2/noisyreverb/enh1/local/path.sh
  egs2/noisyreverb/enh1/local/train_spk
  egs2/noisyreverb/enh1/local/valid_spk
  egs2/noisyreverb/enh1/path.sh
  egs2/noisyreverb/enh1/pyscripts
  egs2/noisyreverb/enh1/run.sh
  egs2/noisyreverb/enh1/scripts
  egs2/noisyreverb/enh1/steps
  egs2/noisyreverb/enh1/utils
Due: auto add label=ESPnet2

rename noisyreverb to vctk_noisyreverb
  egs2/README.md
  egs2/vctk_noisyreverb/enh1/cmd.sh
  egs2/vctk_noisyreverb/enh1/conf/pbs.conf
  egs2/vctk_noisyreverb/enh1/conf/queue.conf
  egs2/vctk_noisyreverb/enh1/conf/slurm.conf
  egs2/vctk_noisyreverb/enh1/conf/tuning/train_enh_conv_tasnet.yaml
  egs2/vctk_noisyreverb/enh1/db.sh
  egs2/vctk_noisyreverb/enh1/enh.sh
  egs2/vctk_noisyreverb/enh1/local/data.sh
  egs2/vctk_noisyreverb/enh1/local/path.sh
  egs2/vctk_noisyreverb/enh1/local/train_spk
  egs2/vctk_noisyreverb/enh1/local/valid_spk
  egs2/vctk_noisyreverb/enh1/path.sh
  egs2/vctk_noisyreverb/enh1/pyscripts
  egs2/vctk_noisyreverb/enh1/run.sh
  egs2/vctk_noisyreverb/enh1/scripts
  egs2/vctk_noisyreverb/enh1/steps
  egs2/vctk_noisyreverb/enh1/utils
Due: auto add label=ESPnet2, auto add label=README

1. Refactor espnet_enh_asr_model; 2. Add new losses and mask types in enh; 3. Remove redundant code and add unit test in enh
  egs2/TEMPLATE/asr1/asr_mix.sh
  egs2/TEMPLATE/asr1/scripts/utils/show_asr_mix_result.sh
  egs2/wsj0_2mix/asr1/asr_mix.sh
  egs2/wsj0_2mix/asr1/run_mix.sh
  espnet2/asr/espnet_enh_asr_model.py
  espnet2/bin/enh_asr_inference.py
  espnet2/bin/enh_scoring.py
  espnet2/enh/espnet_model.py
  espnet2/tasks/enh_asr.py
  espnet2/train/category.py
  espnet2/train/preprocessor.py
  test/espnet2/enh/test_espnet_model.py
Due: auto add label=ESPnet2

Replace lambda with def
  espnet2/enh/espnet_model.py
Due: auto add label=ESPnet2

rely on forked version of warp-transducer supporting CUDA >10.2
  tools/installers/install_warp-transducer.sh
Due: auto add label=Installation

Fix unit test errors in enh
  espnet2/enh/espnet_model.py
  espnet2/enh/separator/neural_beamformer.py
  setup.py
  test/espnet2/enh/test_espnet_model.py
Due: auto add label=ESPnet2, auto add label=Installation

updated version to v.0.9.10 🎉
  espnet/version.txt
Due: auto add label=ESPnet1

fix the required number of arguments
  egs/mgb2/asr1/local/mgb_data_prep.sh
Due: auto add label=ESPnet1

Fix a bug in initialization
  espnet2/tts/transformer.py
Due: auto add label=ESPnet2

fix xml2stm.py file
  egs/mgb2/asr1/local/xml2stm.py
Due: auto add label=ESPnet1

remove unused packages
  egs/mgb2/asr1/local/xml2stm.py
Due: auto add label=ESPnet1

Replace keepdims with keepdim
  espnet2/enh/espnet_model.py
Due: auto add label=ESPnet2

Fix slurm.conf
  egs2/TEMPLATE/enh_asr1/conf/slurm.conf
  egs2/wsj0_2mix/asr1/conf/slurm.conf
Due: auto add label=ESPnet2

Modify some files to run librispeech on local machine
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/asr1/db.sh
  egs2/an4/tts1/downloads
  egs2/librispeech/asr1/cmd.sh
  egs2/librispeech/asr1/local/data.sh
  egs2/librispeech/asr1/run.sh
  egs2/mini_an4/enh1/downloads
  egs2/mini_an4/tts1/downloads
  tools/.gitignore
  tools/activate_python.sh
  tools/installation.md
Due: auto add label=ESPnet2, auto add label=Installation

remove debug info
  espnet2/enh/espnet_model.py
Due: auto add label=ESPnet2

Workaround libpng missing because of drawing attention plot
  espnet2/train/trainer.py
Due: auto add label=ESPnet2

Create ASE scripts based on librispeech
  egs2/ase/asr1/README.md
  egs2/ase/asr1/asr.sh
  egs2/ase/asr1/cmd.sh
  egs2/ase/asr1/conf/decode_asr.yaml
  egs2/ase/asr1/conf/fbank.conf
  egs2/ase/asr1/conf/pbs.conf
  egs2/ase/asr1/conf/pitch.conf
  egs2/ase/asr1/conf/queue.conf
  egs2/ase/asr1/conf/slurm.conf
  egs2/ase/asr1/conf/train_asr_confformer.yaml
  egs2/ase/asr1/conf/train_asr_transformer.yaml
  egs2/ase/asr1/conf/train_lm_transformer.yaml
  egs2/ase/asr1/conf/train_rnn_lm.yaml
  egs2/ase/asr1/conf/tuning/train_asr_conformer.yaml
  egs2/ase/asr1/conf/tuning/train_asr_conformer4.yaml
  egs2/ase/asr1/conf/tuning/train_asr_conformer5.yaml
  egs2/ase/asr1/conf/tuning/train_asr_conformer6_n_fft400_hop_length160.yaml
  egs2/ase/asr1/conf/tuning/train_asr_conformer6_n_fft512_hop_length128.yaml
  egs2/ase/asr1/conf/tuning/train_asr_conformer6_n_fft512_hop_length256.yaml
  egs2/ase/asr1/conf/tuning/train_asr_conformer7_n_fft512_hop_length256.yaml
  egs2/ase/asr1/conf/tuning/train_asr_transformer.yaml
  egs2/ase/asr1/conf/tuning/train_asr_transformer3.yaml
  egs2/ase/asr1/conf/tuning/train_asr_transformer3_w2v_large_lv60_960h_finetuning_last_1layer.yaml
  egs2/ase/asr1/conf/tuning/train_lm_adam.yaml
  egs2/ase/asr1/conf/tuning/train_lm_transformer2.yaml
  egs2/ase/asr1/db.sh
  egs2/ase/asr1/local/data.sh
  egs2/ase/asr1/local/data_prep.sh
  egs2/ase/asr1/local/download_and_untar.sh
  egs2/ase/asr1/local/path.sh
  egs2/ase/asr1/path.sh
  egs2/ase/asr1/pyscripts
  egs2/ase/asr1/run.sh
  egs2/ase/asr1/scripts
  egs2/ase/asr1/steps
  egs2/ase/asr1/utils
Due: auto add label=ESPnet2, auto add label=README

update wsj0_2mix data.sh for multi-condition train
  egs2/wsj0_2mix/asr1/local/data.sh
Due: auto add label=ESPnet2

Disable plot output if --num_att_plot is 0
  espnet2/train/trainer.py
Due: auto add label=ESPnet2

Add a comment for disabling the attention plot
  espnet2/tasks/abs_task.py
Due: auto add label=ESPnet2

Update abs_task.py
  espnet2/tasks/abs_task.py
Due: auto add label=ESPnet2

Revert librispeech script changes
  egs2/librispeech/asr1/cmd.sh
  egs2/librispeech/asr1/local/data.sh
  egs2/librispeech/asr1/run.sh
Due: auto add label=ESPnet2

Revert trainer.py changes
  espnet2/train/trainer.py
Due: auto add label=ESPnet2

update config file
  egs2/vctk_noisyreverb/enh1/conf/tuning/train_enh_conv_tasnet.yaml
Due: auto add label=ESPnet2

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
