Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet2, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=mergify, auto add label=Docker

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

Add WebRTC VAD and update the run.sh recipe.
  egs/iwslt21/asr1/local/generate_segments_with_vad.py
  egs/iwslt21/st1/run.sh
Due: none

Fix utt2spk
  egs/iwslt18/st1/local/data_prep_eval.sh
Due: none

CTC segmentation - Added text cleaner
  espnet2/bin/asr_align.py
  test/espnet2/bin/test_asr_align.py
Due: auto add label=ESPnet2

Update segmentation in IWSLT21
  egs/iwslt21/asr1/local/data_prep_eval_iwslt.sh
  egs/iwslt21/asr1/local/parse_xml.py
  egs/iwslt21/asr1/local/wrap-xml.perl
  egs/iwslt21/asr1/run.sh
Due: none

Minor fix
  egs/iwslt21/st1/run.sh
Due: none

Update path.sh
  egs/iwslt21/asr1/path.sh
  egs/iwslt21/st1/path.sh
Due: none

Minor fix
  egs/iwslt21/asr1/run.sh
  egs/iwslt21/st1/path.sh
Due: none

Add submission script
  egs/iwslt21/asr1/local/post_process.sh
  egs/iwslt21/st1/submit.sh
Due: none

Fix merge_short_segments.py
  egs/iwslt21/asr1/local/merge_short_segments.py
Due: none

fix receipe bug for swbd
  egs/swbd/asr1/run.sh
Due: none

CTC segmentation - Separate step for text processing
  espnet2/bin/asr_align.py
Due: auto add label=ESPnet2

wfst-based decoding
  espnet/asr/pytorch_backend/asr.py
  espnet/bin/asr_recog.py
  espnet/nets/pytorch_backend/e2e_asr_transformer.py
Due: none

Fix black errors
  espnet/transform/channel_selector.py
  espnet2/diar/decoder/linear_decoder.py
  espnet2/diar/label_processor.py
  espnet2/enh/decoder/conv_decoder.py
  espnet2/enh/decoder/stft_decoder.py
  espnet2/enh/encoder/conv_encoder.py
  espnet2/enh/encoder/null_encoder.py
  espnet2/enh/separator/asteroid_models.py
Due: auto add label=ESPnet2

fix black errors - added one file
  espnet2/enh/encoder/stft_encoder.py
Due: auto add label=ESPnet2

fix a bug in the CTC mode
  espnet2/asr/espnet_model.py
Due: auto add label=ESPnet2

apply black
  espnet2/asr/espnet_model.py
Due: auto add label=ESPnet2

Update layer_norm.py
  espnet/nets/pytorch_backend/transformer/layer_norm.py
Due: none

update asr demo
  README.md
Due: auto add label=README

rename yseq -> label_seq
  espnet/asr/asr_utils.py
Due: none

refactor transducer report and noam's adim parameter
  espnet/asr/pytorch_backend/asr.py
Due: none

transducer v5: refactor names, typing, doc, unification, etc.
  espnet/nets/beam_search_transducer.py
  espnet/nets/pytorch_backend/e2e_asr_transducer.py
  espnet/nets/pytorch_backend/transducer/arguments.py
  espnet/nets/pytorch_backend/transducer/auxiliary_task.py
  espnet/nets/pytorch_backend/transducer/blocks.py
  espnet/nets/pytorch_backend/transducer/causal_conv1d.py
  espnet/nets/pytorch_backend/transducer/custom_decoder.py
  espnet/nets/pytorch_backend/transducer/custom_encoder.py
  espnet/nets/pytorch_backend/transducer/error_calculator.py
  espnet/nets/pytorch_backend/transducer/initializer.py
  espnet/nets/pytorch_backend/transducer/joint_network.py
  espnet/nets/pytorch_backend/transducer/loss.py
  espnet/nets/pytorch_backend/transducer/rnn_decoder.py
  espnet/nets/pytorch_backend/transducer/rnn_encoder.py
  espnet/nets/pytorch_backend/transducer/tdnn.py
  espnet/nets/pytorch_backend/transducer/transformer_decoder_layer.py
  espnet/nets/pytorch_backend/transducer/utils.py
  espnet/nets/pytorch_backend/transducer/vgg2l.py
  espnet/nets/transducer_decoder_interface.py
Due: none

transducer v5: add transducer tasks class
  espnet/nets/pytorch_backend/transducer/transducer_tasks.py
Due: none

fix test integration configs for transducer models
  ci/test_integration.sh
  egs/mini_an4/asr1/conf/train_conformer_transducer.yaml
  egs/mini_an4/asr1/conf/train_transformer_transducer.yaml
Due: auto add label=CI

fix/update transducer tests
  test/test_custom_transducer.py
  test/test_e2e_asr_transducer.py
Due: none

remove comment marks
  ci/test_integration.sh
Due: auto add label=CI

fix noam
  espnet/asr/pytorch_backend/asr.py
Due: none

add back attention_plot_class property
  espnet/nets/pytorch_backend/e2e_asr_transducer.py
Due: none

apply black
  espnet/asr/pytorch_backend/asr.py
Due: none

update layer norm to reflect the dimension variable
  espnet/nets/pytorch_backend/transformer/layer_norm.py
Due: none

add yolomixtec egs2
  egs2/yoloxochitl_mixtec/asr1/cmd.sh
  egs2/yoloxochitl_mixtec/asr1/conf/decode_asr.yaml
  egs2/yoloxochitl_mixtec/asr1/conf/queue.conf
  egs2/yoloxochitl_mixtec/asr1/conf/train_asr.yaml
  egs2/yoloxochitl_mixtec/asr1/conf/train_lm.yaml
  egs2/yoloxochitl_mixtec/asr1/conf/tuning/decode_rnn.yaml
  egs2/yoloxochitl_mixtec/asr1/conf/tuning/decode_transformer.yaml
  egs2/yoloxochitl_mixtec/asr1/conf/tuning/train_asr_conformer.yaml
  egs2/yoloxochitl_mixtec/asr1/conf/tuning/train_asr_rnn.yaml
  egs2/yoloxochitl_mixtec/asr1/conf/tuning/train_asr_transformer.yaml
  egs2/yoloxochitl_mixtec/asr1/local/data.sh
  egs2/yoloxochitl_mixtec/asr1/local/data_prep.py
  egs2/yoloxochitl_mixtec/asr1/local/download_and_untar.sh
  egs2/yoloxochitl_mixtec/asr1/path.sh
  egs2/yoloxochitl_mixtec/asr1/run.sh
  egs2/yoloxochitl_mixtec/asr1/steps
  egs2/yoloxochitl_mixtec/asr1/utils
Due: auto add label=ESPnet2

initial commit
  espnet2/asr/decoder/masked_lm_decoder.py
  espnet2/asr/maskctc_model.py
  espnet2/tasks/asr.py
Due: auto add label=ESPnet2

fix some help messages
  espnet/nets/pytorch_backend/transducer/arguments.py
Due: none

update transducer model and features documentations
  README.md
  doc/tutorial.md
Due: auto add label=README, auto add label=Documentation

fix transducer doc
  doc/tutorial.md
Due: auto add label=Documentation

remove warp-rnnt
  tools/installers/install_warp-rnnt.sh
Due: none

merge enh asr
  egs2/wsj0_2mix/asr1/conf/tuning/train_asr_tasnet_1gpu.yaml
  egs2/wsj0_2mix/asr1/conf/tuning/train_asr_transformer_bs32.yaml
Due: auto add label=ESPnet2

gtn ctc fix to ignore padding, unit test, and installer
  espnet/nets/pytorch_backend/ctc.py
  espnet/nets/pytorch_backend/gtn_ctc.py
  test/test_loss.py
  tools/check_install.py
  tools/installers/install_gtn.sh
Due: none

format
  test/test_loss.py
Due: none

gtn ctc fix to ignore padding
  espnet/nets/pytorch_backend/gtn_ctc.py
Due: none

Update tools/installers/install_gtn.sh
  tools/installers/install_gtn.sh
Due: none

Path conditions:
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=README: any of: ^README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
