Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

change iterator build function name
  espnet2/speechlm/trainer/deepspeed_trainer.py
Due: auto add label=ESPnet2

change get_iterator to build_iter
  espnet2/speechlm/dataloader/iterator.py
Due: auto add label=ESPnet2

remove unused ipa mapping
  egs2/ipapack_plus/s2t1/local/ipa_mapping.json
Due: auto add label=ESPnet2

slighty modified config
  egs2/ipapack_plus/s2t1/conf/tuning/train_s2t_ebf_conv2d_size768_e9_d9_piecewise_lr5e-4_warmup60k_flashattn.yaml
Due: auto add label=ESPnet2

rename directory from ipapack_plus to powsm
  egs2/powsm/s2t1/README.md
  egs2/powsm/s2t1/cmd.sh
  egs2/powsm/s2t1/conf/decode_s2t_pr.yaml
  egs2/powsm/s2t1/conf/fbank.conf
  egs2/powsm/s2t1/conf/pbs.conf
  egs2/powsm/s2t1/conf/pitch.conf
  egs2/powsm/s2t1/conf/queue.conf
  egs2/powsm/s2t1/conf/slurm.conf
  egs2/powsm/s2t1/conf/tuning/train_s2t_ebf_conv2d_size768_e9_d9_piecewise_lr5e-4_warmup60k_flashattn.yaml
  egs2/powsm/s2t1/db.sh
  egs2/powsm/s2t1/force_align.py
  egs2/powsm/s2t1/local/data.sh
  egs2/powsm/s2t1/local/data_prep.py
  egs2/powsm/s2t1/local/download.py
  egs2/powsm/s2t1/local/download.sh
  egs2/powsm/s2t1/local/fix_doreco.py
  egs2/powsm/s2t1/local/generate_nlsyms.py
  egs2/powsm/s2t1/local/process_ipapack.py
  egs2/powsm/s2t1/local/requirements.txt
  egs2/powsm/s2t1/local/subset.py
  egs2/powsm/s2t1/local/utils.py
  egs2/powsm/s2t1/path.sh
  egs2/powsm/s2t1/pyscripts
  egs2/powsm/s2t1/run.sh
  egs2/powsm/s2t1/s2t.sh
  egs2/powsm/s2t1/scripts
  egs2/powsm/s2t1/utils
Due: auto add label=ESPnet2, auto add label=README

rename directory from ipapack_plus to powsm
  egs2/ipapack_plus/s2t1/README.md
  egs2/ipapack_plus/s2t1/cmd.sh
  egs2/ipapack_plus/s2t1/conf/decode_s2t_pr.yaml
  egs2/ipapack_plus/s2t1/conf/fbank.conf
  egs2/ipapack_plus/s2t1/conf/pbs.conf
  egs2/ipapack_plus/s2t1/conf/pitch.conf
  egs2/ipapack_plus/s2t1/conf/queue.conf
  egs2/ipapack_plus/s2t1/conf/slurm.conf
  egs2/ipapack_plus/s2t1/conf/tuning/train_s2t_ebf_conv2d_size768_e9_d9_piecewise_lr5e-4_warmup60k_flashattn.yaml
  egs2/ipapack_plus/s2t1/db.sh
  egs2/ipapack_plus/s2t1/force_align.py
  egs2/ipapack_plus/s2t1/local/data.sh
  egs2/ipapack_plus/s2t1/local/data_prep.py
  egs2/ipapack_plus/s2t1/local/download.py
  egs2/ipapack_plus/s2t1/local/download.sh
  egs2/ipapack_plus/s2t1/local/fix_doreco.py
  egs2/ipapack_plus/s2t1/local/generate_nlsyms.py
  egs2/ipapack_plus/s2t1/local/process_ipapack.py
  egs2/ipapack_plus/s2t1/local/requirements.txt
  egs2/ipapack_plus/s2t1/local/subset.py
  egs2/ipapack_plus/s2t1/local/utils.py
  egs2/ipapack_plus/s2t1/path.sh
  egs2/ipapack_plus/s2t1/pyscripts
  egs2/ipapack_plus/s2t1/run.sh
  egs2/ipapack_plus/s2t1/s2t.sh
  egs2/ipapack_plus/s2t1/scripts
  egs2/ipapack_plus/s2t1/utils
Due: auto add label=ESPnet2, auto add label=README

minor comment in run.sh; make sure phone vocab is sorted
  egs2/powsm/s2t1/local/generate_nlsyms.py
  egs2/powsm/s2t1/run.sh
Due: auto add label=ESPnet2

remove old redundant folder
  espnet2/speechlm/model/speechlm/multimodal_io/audio.py
  espnet2/speechlm/multimodal_io/abs_io.py
  espnet2/speechlm/multimodal_io/audio.py
  espnet2/speechlm/multimodal_io/text.py
Due: auto add label=ESPnet2

using panphon vocab: download and triesearch
  egs2/powsm/s2t1/local/data.sh
  egs2/powsm/s2t1/local/panphontrie.py
  egs2/powsm/s2t1/local/utils.py
Due: auto add label=ESPnet2

using panphon vocab: different version for encoder, and rm normalization for test sets
  egs2/powsm/s2t1/local/data_prep.py
  egs2/powsm/s2t1/local/process_ipapack.py
Due: auto add label=ESPnet2

Flatten src directory and move decode.py to template
  egs3/TEMPLATE/template/decode/asr.py
  egs3/librispeech_100/asr1/src/bin/__init__.py
  egs3/librispeech_100/asr1/src/create_dataset.py
  egs3/librispeech_100/asr1/src/train_tokenizer.py
Due: none

Added runner/provider to ABC class and add abstract method
  espnet3/runner/base_runner.py
  espnet3/runner/env_provider.py
  espnet3/runner/inference_provider.py
Due: none

Merge config to one file
  egs3/TEMPLATE/conf/callbacks/default.yaml
  egs3/TEMPLATE/conf/default.yaml
  egs3/TEMPLATE/conf/evaluate.yaml
  egs3/TEMPLATE/conf/logging/default.yaml
  egs3/TEMPLATE/conf/model/.gitkeep
  egs3/TEMPLATE/conf/optim/adam.yaml
  egs3/TEMPLATE/conf/parallel/local.yaml
  egs3/TEMPLATE/conf/scheduler/warmup.yaml
  egs3/TEMPLATE/conf/train.yaml
  egs3/TEMPLATE/conf/trainer/default.yaml
  egs3/librispeech_100/asr1/conf/dataloader/default.yaml
  egs3/librispeech_100/asr1/conf/dataset.yaml
  egs3/librispeech_100/asr1/conf/dataset/default.yaml
  egs3/librispeech_100/asr1/conf/default.yaml
  egs3/librispeech_100/asr1/conf/evaluate.yaml
  egs3/librispeech_100/asr1/conf/logging/default.yaml
  egs3/librispeech_100/asr1/conf/model/decode_beam1.yaml
  egs3/librispeech_100/asr1/conf/model/e_branchformer.yaml
  egs3/librispeech_100/asr1/conf/optim/adam.yaml
  egs3/librispeech_100/asr1/conf/parallel/local.yaml
  egs3/librispeech_100/asr1/conf/parallel/slurm_gpu.yaml
  egs3/librispeech_100/asr1/conf/scheduler/warmup.yaml
  egs3/librispeech_100/asr1/conf/tokenizer/default.yaml
  egs3/librispeech_100/asr1/conf/train.yaml
  egs3/librispeech_100/asr1/conf/trainer/default.yaml
  egs3/librispeech_100/asr1/conf/tuning/train_e_branchformer.yaml
Due: none

Fixed run.py based on modification
  egs3/librispeech_100/asr1/run.py
Due: none

Bug fixed in default.yaml
  egs3/TEMPLATE/conf/default.yaml
Due: none

update readme
  egs2/powsm/s2t1/README.md
Due: auto add label=ESPnet2, auto add label=README

import shutil for local/process_ipapack.py
  egs2/powsm/s2t1/local/process_ipapack.py
Due: auto add label=ESPnet2

handle panphon file download safely in `local/data.sh`
  egs2/powsm/s2t1/local/data.sh
Due: auto add label=ESPnet2

load phone vocab safely in local/generate_nlsym.py
  egs2/powsm/s2t1/local/generate_nlsyms.py
  egs2/powsm/s2t1/local/utils.py
Due: auto add label=ESPnet2

fix: join phone token with space during dataprep normalization
  egs2/powsm/s2t1/local/data_prep.py
Due: auto add label=ESPnet2

update variable names in local/panphontrie.py
  egs2/powsm/s2t1/local/panphontrie.py
Due: auto add label=ESPnet2

fix line length
  egs2/powsm/s2t1/local/data_prep.py
  egs2/powsm/s2t1/local/panphontrie.py
Due: auto add label=ESPnet2

codec fix: DDP logic and dead code revival logic
  espnet2/gan_codec/shared/quantizer/modules/core_vq.py
Due: auto add label=ESPnet2

add header
  espnet2/speechlm/model/speechlm/multimodal_io/abs_io.py
  espnet2/speechlm/model/speechlm/multimodal_io/audio.py
  espnet2/speechlm/model/speechlm/multimodal_io/text.py
  espnet2/speechlm/utils/data.py
Due: auto add label=ESPnet2

fix
  espnet2/speechlm/model/speechlm/multimodal_io/audio.py
Due: auto add label=ESPnet2

fix doc string
  espnet2/speechlm/model/speechlm/multimodal_io/audio.py
Due: auto add label=ESPnet2

fix CI: remove unused import
  espnet2/gan_codec/shared/quantizer/modules/core_vq.py
Due: auto add label=ESPnet2

add docstring
  espnet2/speechlm/bin/train.py
  espnet2/speechlm/trainer/deepspeed_trainer.py
Due: auto add label=ESPnet2

add docstring
  espnet2/speechlm/dataloader/batch.py
  espnet2/speechlm/dataloader/dataset.py
  espnet2/speechlm/dataloader/iterator.py
  espnet2/speechlm/dataloader/multimodal_loader/audio_loader.py
  espnet2/speechlm/dataloader/multimodal_loader/text_loader.py
  espnet2/speechlm/dataloader/task_conf.py
  espnet2/speechlm/utils/data.py
  espnet2/speechlm/utils/model_summary.py
Due: auto add label=ESPnet2

add docstring
  espnet2/speechlm/bin/prepare_audio_lhotse.py
  espnet2/speechlm/bin/prepare_dataset_json.py
  espnet2/speechlm/bin/prepare_length_stats.py
  espnet2/speechlm/model/__init__.py
  espnet2/speechlm/model/abs_job.py
  espnet2/speechlm/model/speechlm/lm/parallel.py
  espnet2/speechlm/model/speechlm/speechlm_job.py
  espnet2/speechlm/model/speechlm/task_conf_speechlm.py
Due: auto add label=ESPnet2

merge panphontrie.py functions into data_prep.py to reduce confusion
  egs2/powsm/s2t1/local/data_prep.py
  egs2/powsm/s2t1/local/panphontrie.py
Due: auto add label=ESPnet2

merge panphontrie.py functions into data_prep.py to reduce confusion
  egs2/powsm/s2t1/local/data_prep.py
Due: auto add label=ESPnet2

small fix
  egs2/powsm/s2t1/local/data_prep.py
Due: auto add label=ESPnet2

style fix of local/data_prep.py
  egs2/powsm/s2t1/local/data_prep.py
Due: auto add label=ESPnet2

Add TODO to enhance docstrings and document
  espnet3/runner/base_runner.py
  espnet3/runner/env_provider.py
  espnet3/runner/inference_provider.py
Due: none

update README arxiv
  egs2/powsm/s2t1/README.md
Due: auto add label=ESPnet2, auto add label=README

Set pip version to 25.2 for CI as temporal workaround
  tools/setup_anaconda.sh
  tools/setup_miniforge.sh
  tools/setup_python.sh
  tools/setup_venv.sh
Due: auto add label=Installation

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(ci/|.github/)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
