Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

egs3/TEMPLATE: add pr task template
  egs3/TEMPLATE/pr/__init__.py
  egs3/TEMPLATE/pr/conf/inference.yaml
  egs3/TEMPLATE/pr/conf/metrics.yaml
  egs3/TEMPLATE/pr/conf/training.yaml
  egs3/TEMPLATE/pr/run.py
  egs3/TEMPLATE/pr/src/__init__.py
Due: none

egs3/timit/pr: add PhoneticXeus inference recipe
  egs3/timit/__init__.py
  egs3/timit/pr/__init__.py
  egs3/timit/pr/conf/inference.yaml
  egs3/timit/pr/conf/metrics.yaml
  egs3/timit/pr/conf/training.yaml
  egs3/timit/pr/dataset/__init__.py
  egs3/timit/pr/dataset/builder.py
  egs3/timit/pr/dataset/config.yaml
  egs3/timit/pr/dataset/dataset.py
  egs3/timit/pr/path.sh
  egs3/timit/pr/readme.md
  egs3/timit/pr/run.py
  egs3/timit/pr/src/__init__.py
  egs3/timit/pr/src/inference.py
Due: none

Resume spk training from the last checkpoint
  egs3/voxceleb/spk/conf/tuning/training_rawnet3.yaml
Due: none

Make the VoxCeleb spk build_output label optional
  egs3/voxceleb/spk/src/inference.py
Due: none

Rename the VoxCeleb spk debug configs from smoke
  egs3/voxceleb/spk/conf/inference_debug.yaml
  egs3/voxceleb/spk/conf/tuning/training_rawnet3_debug.yaml
Due: none

deleted old code for stats stage
  egs3/librispeech_100/asr/src/utils/__init__.py
  egs3/librispeech_100/asr/src/utils/collect_stats_local.py
  egs3/librispeech_100/asr/src/utils/collect_stats_parallel.py
Due: none

test: compare freeze parameters with ESPnet2
  test/espnet3/components/modeling/test_model_with_optim_scheduler.py
Due: none

restored inference config
  egs3/librispeech_100/asr/conf/inference.yaml
Due: none

Say which demos are checked, where people click them
  README.md
Due: auto add label=README

restored more files
  egs3/librispeech_100/asr/conf/demo.yaml
  egs3/librispeech_100/asr/conf/publication.yaml
  egs3/librispeech_100/asr/dataset/lhotse_config.yaml
Due: none

egs3/must_c: publish the model, fix two pack_model exclude gaps
  egs3/must_c/st/README.md
  egs3/must_c/st/conf/publication.yaml
Due: auto add label=README

Load the spk TEMPLATE defaults under direct execution
  egs3/TEMPLATE/spk/run.py
Due: none

Bind the spk preprocessor choice to ESPnet3 and drop --model_conf
  espnet3/systems/spk/task.py
Due: none

Make validation trial scoring collective-safe under DDP
  espnet3/systems/spk/callbacks.py
  test/espnet3/systems/spk/test_callbacks.py
Due: none

Make num_trials an exact cap on the trial subset
  egs3/voxceleb/spk/dataset/dataset.py
Due: none

Ship the AAC suffixes a stock VoxCeleb2 tree needs
  egs3/voxceleb/spk/dataset/config.yaml
Due: none

Answer the spk recipe review questions in the docs
  egs3/TEMPLATE/spk/src/hf_model_readme.md
  egs3/voxceleb/spk/readme.md
Due: none

Add the spk recipe publication configs
  egs3/voxceleb/spk/conf/publication.yaml
  egs3/voxceleb/spk/conf/publication_debug.yaml
Due: none

used the train config with proposed chage for the dataset
  egs3/librispeech_100/asr/conf/train_with_lhotse.yaml
Due: none

Stop ignoring the egs3 recipe dataset packages
  .gitignore
Due: none

Add LibriCSS recipe for ESPnet3
  egs3/libricss/__init__.py
  egs3/libricss/asr/.gitignore
  egs3/libricss/asr/README.md
  egs3/libricss/asr/__init__.py
  egs3/libricss/asr/conf/eval.yaml
  egs3/libricss/asr/conf/eval_oracle.yaml
  egs3/libricss/asr/conf/inference.yaml
  egs3/libricss/asr/conf/inference_oracle.yaml
  egs3/libricss/asr/conf/inference_oracle_smoke.yaml
  egs3/libricss/asr/conf/inference_smoke.yaml
  egs3/libricss/asr/conf/metrics.yaml
  egs3/libricss/asr/conf/metrics_oracle.yaml
  egs3/libricss/asr/path.sh
  egs3/libricss/asr/run.py
  egs3/libricss/asr/src/__init__.py
  egs3/libricss/asr/src/diarization.py
  egs3/libricss/asr/src/inference.py
  egs3/libricss/asr/src/make_smoke_manifests.py
  egs3/libricss/asr/src/metrics/__init__.py
  egs3/libricss/asr/src/metrics/common.py
  egs3/libricss/asr/src/metrics/condition_wer.py
  egs3/libricss/asr/src/metrics/sawer.py
  egs3/libricss/asr/src/segmentation.py
  egs3/libricss/asr/src/spectral_clustering.py
  egs3/libricss/asr/src/textnorm.py
Due: auto add label=README

docs: fix ESPnet3 homepage links
  doc/vuepress/src/.vuepress/components/HomeCapabilities.vue
  doc/vuepress/src/.vuepress/components/HomeQuickStart.vue
  doc/vuepress/src/.vuepress/components/HomeRecipe.vue
Due: auto add label=Documentation

Add Uni-VERSA regression with checkpoint-compatible parameters
  espnet2/universa/__init__.py
  espnet2/universa/abs_universa.py
  espnet2/universa/base/__init__.py
  espnet2/universa/base/loss.py
  espnet2/universa/base/universa_base.py
  espnet2/universa/espnet_model.py
  test/espnet2/universa/test_universa_base.py
Due: auto add label=ESPnet2

Honor metric loss weights and exercise model wrapper paths
  espnet2/universa/abs_universa.py
  espnet2/universa/base/loss.py
  espnet2/universa/base/universa_base.py
  espnet2/universa/espnet_model.py
  test/espnet2/universa/test_universa_base.py
Due: auto add label=ESPnet2

Validate UniVERSA configuration and align inference outputs
  espnet2/universa/abs_universa.py
  espnet2/universa/base/universa_base.py
  test/espnet2/universa/conftest.py
  test/espnet2/universa/test_espnet_model.py
  test/espnet2/universa/test_loss.py
  test/espnet2/universa/test_universa_base.py
Due: auto add label=ESPnet2

Add `espnet phonemize`: the phones in a recording, with POWSM
  README.md
  espnet2/bin/cli.py
  espnet2/bin/s2t_inference.py
  test/espnet2/bin/test_cli.py
  test/espnet2/bin/test_s2t_inference.py
Due: auto add label=ESPnet2, auto add label=README

Update LibriCSS recipe for ESPnet3 with first results
  egs3/libricss/asr/README.md
  egs3/libricss/asr/src/spectral_clustering.py
Due: auto add label=README

Package UniVERSA tests to prevent pytest module collisions
  test/espnet2/universa/__init__.py
Due: none

docs: clarify DatasetBuilder responsibilities
  .agent/egs3/CLAUDE.md
Due: none

Fix README
  egs3/voxlingua107/lid/prepare_corpora.md
  egs3/voxlingua107/lid/readme.md
Due: none

The window is the contract, not the spelling of a timestamp
  espnet2/bin/s2t_inference.py
  test/espnet2/bin/test_s2t_inference.py
Due: auto add label=ESPnet2

Check what the window derivation assumes, rather than trusting it
  espnet2/bin/s2t_inference.py
  test/espnet2/bin/test_s2t_inference.py
Due: auto add label=ESPnet2

Say what the language symbol does, from a POWSM author's reading
  espnet2/bin/cli.py
Due: auto add label=ESPnet2

Rename recipe readme to README
  egs3/voxlingua107/lid/README.md
Due: auto add label=README

docs: guide configuration reuse in ESPnet3
  .agent/CLAUDE.md
  .agent/espnet3/systems/CLAUDE.md
Due: none

docs: define ESPnet3 system naming
  .agent/espnet3/systems/CLAUDE.md
Due: none

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(ci/|.github/)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
