Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

Rename directory name from asr1 to asr
  egs3/librispeech_100/asr/__init__.py
  egs3/librispeech_100/asr/conf/dataset.yaml
  egs3/librispeech_100/asr/conf/dataset_owsm.yaml
  egs3/librispeech_100/asr/conf/default.yaml
  egs3/librispeech_100/asr/conf/evaluate.yaml
  egs3/librispeech_100/asr/conf/train.yaml
  egs3/librispeech_100/asr/conf/tuning/train_custom_model.yaml
  egs3/librispeech_100/asr/conf/tuning/train_e_branchformer.yaml
  egs3/librispeech_100/asr/path.sh
  egs3/librispeech_100/asr/readme.md
  egs3/librispeech_100/asr/run.py
  egs3/librispeech_100/asr/run.sh
  egs3/librispeech_100/asr/src/__init__.py
  egs3/librispeech_100/asr/src/create_dataset.py
  egs3/librispeech_100/asr/src/custom_model.py
  egs3/librispeech_100/asr/src/dataset.py
  egs3/librispeech_100/asr1/path.sh
Due: none

Fixed bug in merging master
  ci/test_python_espnet3.sh
Due: auto add label=CI

Fixed directory name on TEMPLATE
  egs3/TEMPLATE/asr/__init__.py
  egs3/TEMPLATE/asr/conf/dataset.yaml
  egs3/TEMPLATE/asr/conf/default.yaml
  egs3/TEMPLATE/asr/conf/evaluate.yaml
  egs3/TEMPLATE/asr/conf/train.yaml
  egs3/TEMPLATE/asr/readme.md
  egs3/TEMPLATE/asr/run.py
Due: none

Fixed flake8
  espnet3/components/abs_metric.py
  espnet3/components/callbacks.py
  espnet3/components/dataloader.py
  espnet3/components/model.py
  espnet3/components/multiple_scheduler.py
  espnet3/parallel/__init__.py
  espnet3/parallel/base_runner.py
  espnet3/systems/asr/system.py
  espnet3/systems/asr/tokenizer/utils.py
  espnet3/systems/base/inference.py
  espnet3/systems/base/inference_provider.py
  espnet3/systems/base/score.py
  espnet3/systems/base/scp_utils.py
  espnet3/systems/base/train.py
  test/espnet3/test_inference_runner.py
Due: none

Fixed flake8
  espnet3/parallel/__init__.py
  espnet3/runner/base_runner.py
  espnet3/runner/inference_provider.py
  espnet3/trainer/callbacks.py
  espnet3/trainer/dataloader.py
  espnet3/trainer/model.py
  espnet3/trainer/multiple_scheduler.py
  test/espnet3/test_inference_runner.py
  test/espnet3/test_parallel.py
Due: none

Fixed the flake8
  espnet2/asr/encoder/branchformer_encoder.py
  espnet2/asr/encoder/e_branchformer_ctc_encoder.py
  espnet2/asr/encoder/e_branchformer_encoder.py
  espnet2/asr/encoder/transformer_encoder.py
  espnet2/asr/espnet_model.py
  espnet2/asr/maskctc_model.py
  espnet2/asr_transducer/encoder/building.py
  espnet2/enh/separator/transformer_separator.py
  espnet2/gan_tts/jets/loss.py
  espnet2/legacy/nets/batch_beam_search_online.py
  espnet2/legacy/nets/e2e_asr_common.py
  espnet2/legacy/nets/pytorch_backend/e2e_tts_fastspeech.py
  espnet2/legacy/nets/pytorch_backend/e2e_tts_transformer.py
  espnet2/legacy/utils/cli_utils.py
  espnet2/lm/espnet_model_multitask.py
  espnet2/main_funcs/pack_funcs.py
  espnet2/mt/espnet_model.py
  espnet2/s2st/losses/attention_loss.py
  espnet2/s2t/espnet_model.py
  espnet2/slu/espnet_model.py
  espnet2/slu/postencoder/conformer_postencoder.py
  espnet2/st/espnet_model.py
  espnet2/svs/discrete/loss.py
  espnet2/svs/discrete/toksing.py
  espnet2/svs/xiaoice/XiaoiceSing.py
  espnet2/svs/xiaoice/loss.py
  espnet2/torch_utils/initialize.py
  espnet2/tts/fastspeech2/loss.py
  espnet2/tts/prodiff/loss.py
  espnet2/tts2/fastspeech2/loss.py
  test/espnet2/legacy/test_batch_beam_search.py
  test/espnet2/legacy/test_beam_search.py
  test/espnet2/legacy/test_e2e_tts_fastspeech.py
  test/espnet3/test_callback.py
  test/espnet3/test_inference_runner.py
Due: auto add label=ESPnet2

Fixed CI
  doc/conf.py
  espnet2/legacy/nets/pytorch_backend/e2e_tts_transformer.py
  test/espnet2/legacy/test_batch_beam_search.py
Due: auto add label=ESPnet2, auto add label=Documentation

unused import
  espnet2/speechlm/bin/prepare_audio_arkive.py
Due: auto add label=ESPnet2

Fixed flake8 docstring
  espnet3/__init__.py
  espnet3/collect_stats.py
  espnet3/data/__init__.py
  espnet3/data/data_organizer.py
  espnet3/data/dataset.py
  espnet3/parallel/__init__.py
  espnet3/parallel/parallel.py
  espnet3/runner/__init__.py
  espnet3/runner/base_runner.py
  espnet3/runner/env_provider.py
  espnet3/runner/inference_provider.py
  espnet3/task.py
  espnet3/trainer/__init__.py
  espnet3/trainer/callbacks.py
  espnet3/trainer/dataloader.py
  espnet3/trainer/model.py
  espnet3/trainer/multiple_optim.py
  espnet3/trainer/multiple_scheduler.py
  espnet3/trainer/trainer.py
  espnet3/utils/__init__.py
  espnet3/utils/config.py
Due: none

Fixed CI
  doc/espnet3/parallel.md
  espnet3/collect_stats.py
  test/espnet3/test_parallel.py
Due: auto add label=Documentation

Added shinx markdown tables as the dependency for homepage.
  pyproject.toml
Due: none

run.sh changed
  egs2/kosp2e/asr1/run.sh
Due: auto add label=ESPnet2

setup.sh removed
  egs2/kosp2e/asr1/setup.sh
Due: auto add label=ESPnet2

local changed
  egs2/kosp2e/asr1/local/setup_data.py
Due: auto add label=ESPnet2

Data preparation script added
  egs2/kosp2e/asr1/README.md
  egs2/kosp2e/asr1/local/data.sh
  egs2/kosp2e/asr1/local/setup_data.py
  egs2/kosp2e/asr1/run.sh
Due: auto add label=ESPnet2, auto add label=README

data preparation script fixed
  egs2/kosp2e/asr1/local/setup_data.py
Due: auto add label=ESPnet2

Python lint fixed
  egs2/kosp2e/asr1/local/setup_data.py
Due: auto add label=ESPnet2

README HF model link update
  egs2/kosp2e/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

fix: fix visinger2 inference 1) support phoneme duration as input
  espnet2/gan_svs/vits/generator.py
  espnet2/gan_svs/vits/vits.py
Due: auto add label=ESPnet2

Add Xcodec and Qwen3-Omni Audio Encoder.
  espnet2/speechlm/model/speechlm/multimodal_io/audio.py
Due: auto add label=ESPnet2

Fix assertion.
  espnet2/speechlm/model/speechlm/multimodal_io/audio.py
Due: auto add label=ESPnet2

Fix argument.
  espnet2/speechlm/model/speechlm/multimodal_io/audio.py
Due: auto add label=ESPnet2

Fix comments.
  espnet2/speechlm/model/speechlm/multimodal_io/audio.py
Due: auto add label=ESPnet2

Add epsilon to standard deviation for normalization
  espnet2/enh/loss/criterions/time_domain.py
Due: auto add label=ESPnet2

Update espnet2/enh/loss/criterions/time_domain.py
  espnet2/enh/loss/criterions/time_domain.py
Due: auto add label=ESPnet2

add: test unit of CategoryChunkIterFactory
  test/espnet2/iterators/test_category_chunk_iter_factory.py
Due: none

Use wavlm_base_plus for CI testing instead of wavlm_large
  egs2/mini_an4/ser1/conf/train_ser.yaml
  egs2/mini_an4/ser1/conf/tuning/train_asr_wavlm_base_test.yaml
Due: auto add label=ESPnet2

solve torch backend issue
  egs2/msp_podcast/ser1/conf/tuning/train_ser_wavlm_base_plus.yaml
  test/espnet2/ser/test_espnet_ser_model.py
Due: auto add label=ESPnet2

Remove unused imports.
  espnet2/speechlm/model/speechlm/multimodal_io/audio.py
Due: auto add label=ESPnet2

Add CNN frontend option for CI testing
  egs2/mini_an4/ser1/conf/train_ser.yaml
  egs2/mini_an4/ser1/conf/tuning/train_asr_cnn_test.yaml
  espnet2/tasks/ser.py
Due: auto add label=ESPnet2

Remove Qwen3-Omni audio encoder.
  espnet2/speechlm/model/speechlm/multimodal_io/audio.py
Due: auto add label=ESPnet2

Add Qwen3-Omni encoder.
  espnet2/speechlm/model/speechlm/multimodal_io/audio.py
Due: auto add label=ESPnet2

avoid ci test error
  egs2/mini_an4/ser1/run.sh
Due: auto add label=ESPnet2

Add comprehensive test coverage for SER (Speech Emotion Recognition) module
  test/espnet2/bin/test_ser_inference.py
  test/espnet2/bin/test_ser_train.py
  test/espnet2/ser/test_espnet_ser_model.py
  test/espnet2/tasks/test_ser.py
Due: none

Fix flake8 error: remove unused variable in test_ser_without_frontend
  test/espnet2/ser/test_espnet_ser_model.py
Due: none

Fix dynamic import transformers.
  espnet2/speechlm/model/speechlm/multimodal_io/audio.py
Due: auto add label=ESPnet2

Fix test: correct ModelDownloader patch path in ser_inference test
  test/espnet2/bin/test_ser_inference.py
Due: none

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(ci/|.github/)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
