Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

.mergify.yml:

pull_request_rules:
  - name: automatic merge if label=auto-merge
    conditions:
      - "label=auto-merge"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.0.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.1.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.2.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.3.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.4.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.5.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.6.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.7.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.8, 1.8.1, 6.0.0, false)"
    actions:
      merge:
        method: merge
        strict: false
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=ESPnet1"
    conditions:
      - files~=^(espnet/|egs/)
    actions:
      label:
        add: ["ESPnet1"]
  - name: "auto add label=ESPnet2"
    conditions:
      - files~=^(espnet2/|egs2/)
    actions:
      label:
        add: ["ESPnet2"]
  - name: "auto add label=ASR"
    conditions:
      - files~=^(espnet*/asr|egs*/*/asr1)
    actions:
      label:
        add: ["ASR"]
  - name: "auto add label=TTS"
    conditions:
      - files~=^(espnet*/tts|egs*/*/tts1)
    actions:
      label:
        add: ["TTS"]
  - name: "auto add label=MT"
    conditions:
      - files~=^(espnet*/mt|egs*/*/mt1)
    actions:
      label:
        add: ["MT"]
  - name: "auto add label=LM"
    conditions:
      - files~=^(espnet*/lm)
    actions:
      label:
        add: ["LM"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^doc/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]

Refactor setup.py
  README.md
  ci/install.sh
  setup.py
  tools/Makefile
  tools/installers/install_fairscale.sh
  tools/installers/install_torch_optimizer.sh
  tools/installers/install_torchaudio.sh
  tools/installers/install_transformers.sh
Due: auto add label=README, auto add label=CI, auto add label=Installation

Install fairseq only if pytorch.version > 1.6.0
  ci/test_integration_espnet2.sh
Due: auto add label=CI

Install s3prl if not found
  ci/test_integration_espnet2.sh
Due: auto add label=CI

[skip ci] fixing HF readme template
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/asr1/scripts/utils/TEMPLATE_HF_Readme.md
  egs2/TEMPLATE/diar1/diar.sh
  egs2/TEMPLATE/diar1/scripts/utils/TEMPLATE_HF_Readme.md
  egs2/TEMPLATE/enh1/enh.sh
  egs2/TEMPLATE/enh1/scripts/utils/TEMPLATE_HF_Readme.md
  egs2/TEMPLATE/tts1/tts.sh
Due: auto add label=ESPnet2

Run only if s3prl installed
  ci/test_integration_espnet2.sh
Due: auto add label=CI

add comments
  egs2/jdcinal/asr1/local/score.py
  egs2/jdcinal/asr1/local/score.sh
Due: auto add label=ESPnet2

update README.md
  egs2/README.md
Due: auto add label=ESPnet2, auto add label=README

apply black
  egs2/jdcinal/asr1/local/score.py
Due: auto add label=ESPnet2

add documentation
  doc/espnet2_tutorial.md
  egs2/TEMPLATE/enh1/README.md
  egs2/TEMPLATE/tts1/README.md
Due: auto add label=ESPnet2, auto add label=README, auto add label=Documentation

skip pack model when downloaded model
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/diar1/diar.sh
  egs2/TEMPLATE/enh1/enh.sh
  egs2/TEMPLATE/tts1/tts.sh
Due: auto add label=ESPnet2

add zenodo deprecated warn
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/diar1/diar.sh
  egs2/TEMPLATE/enh1/enh.sh
  egs2/TEMPLATE/tts1/tts.sh
Due: auto add label=ESPnet2

add citation
  egs2/TEMPLATE/asr1/scripts/utils/TEMPLATE_HF_Readme.md
Due: auto add label=ESPnet2

Update ci/install.sh
  ci/install.sh
Due: auto add label=CI

Update install_torchaudio.sh
  tools/installers/install_torchaudio.sh
Due: auto add label=Installation

Update install_fairscale.sh
  tools/installers/install_fairscale.sh
Due: auto add label=Installation

Update setup.py
  setup.py
Due: auto add label=Installation

Update install.sh
  ci/install.sh
Due: auto add label=CI

tensorboardX -> torch.utils.tensorboard
  espnet/asr/chainer_backend/asr.py
  espnet/asr/pytorch_backend/asr.py
  espnet/asr/pytorch_backend/asr_mix.py
  espnet/lm/chainer_backend/lm.py
  espnet/lm/pytorch_backend/lm.py
  espnet/mt/pytorch_backend/mt.py
  espnet/tts/pytorch_backend/tts.py
  espnet/vc/pytorch_backend/vc.py
Due: auto add label=ESPnet1, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM

fix: test/espnet2/hubert/test_hubert_loss.py
  test/espnet2/hubert/test_hubert_loss.py
Due: none

minor fix
  egs2/TEMPLATE/enh1/enh.sh
Due: auto add label=ESPnet2

add test asr using hugging face
  test_utils/test_evaluate_asr_hf.bats
Due: none

fixing hf readme template
  egs2/TEMPLATE/asr1/scripts/utils/TEMPLATE_HF_Readme.md
Due: auto add label=ESPnet2

Add eps in acc computation of HuBERT model
  espnet2/hubert/espnet_model.py
Due: auto add label=ESPnet2

SLURP entity classification
  egs2/slurp_entity/asr1/README.md
  egs2/slurp_entity/asr1/asr.sh
  egs2/slurp_entity/asr1/cmd.sh
  egs2/slurp_entity/asr1/conf/decode_asr.yaml
  egs2/slurp_entity/asr1/conf/fbank.conf
  egs2/slurp_entity/asr1/conf/pbs.conf
  egs2/slurp_entity/asr1/conf/pitch.conf
  egs2/slurp_entity/asr1/conf/queue.conf
  egs2/slurp_entity/asr1/conf/slurm.conf
  egs2/slurp_entity/asr1/conf/train_asr.yaml
  egs2/slurp_entity/asr1/conf/tuning/train_asr_conformer.yaml
  egs2/slurp_entity/asr1/conf/tuning/train_asr_conformer_nlu.yaml
  egs2/slurp_entity/asr1/conf/tuning/train_asr_conformer_s3prl.yaml
  egs2/slurp_entity/asr1/db.sh
  egs2/slurp_entity/asr1/local/data.sh
  egs2/slurp_entity/asr1/local/path.sh
  egs2/slurp_entity/asr1/local/prepare_entity_type.py
  egs2/slurp_entity/asr1/local/prepare_slurp_data.py
  egs2/slurp_entity/asr1/local/prepare_slurp_entity_data.py
  egs2/slurp_entity/asr1/local/run_spm.sh
  egs2/slurp_entity/asr1/local/score.py
  egs2/slurp_entity/asr1/local/score.sh
  egs2/slurp_entity/asr1/path.sh
  egs2/slurp_entity/asr1/pyscripts
  egs2/slurp_entity/asr1/run.sh
  egs2/slurp_entity/asr1/scripts
  egs2/slurp_entity/asr1/steps
  egs2/slurp_entity/asr1/utils
Due: auto add label=ESPnet2, auto add label=README

Update FSC Readme with Hugging Face Model link
  egs2/fsc/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

Update README.md
  egs2/fsc/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

Update SLURP Readme to add Hugging Face model link
  egs2/slurp/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

Add SLURP information in README
  egs2/README.md
Due: auto add label=ESPnet2, auto add label=README

Make scoring part more general
  egs2/TEMPLATE/asr1/pyscripts/utils/score.py
  egs2/fsc/asr1/local/score.py
  egs2/fsc/asr1/local/score.sh
  egs2/slurp/asr1/local/score.py
  egs2/slurp/asr1/local/score.sh
Due: auto add label=ESPnet2

Make scoring part more general
  egs2/TEMPLATE/asr1/pyscripts/utils/score_intent.py
  egs2/fsc/asr1/local/score.py
  egs2/slurp/asr1/local/score.py
Due: auto add label=ESPnet2

Refine further
  egs/iwslt18/st1/local/score_bleu_reseg.sh
Due: auto add label=ESPnet1

Fix for CI
  egs/mini_an4/mt1/run.sh
  egs/mini_an4/st1/run.sh
Due: auto add label=ESPnet1
