Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

ctc sampling
  espnet2/st/espnet_model.py
  espnet2/tasks/st.py
Due: auto add label=ESPnet2

bugs
  espnet2/asr/encoder/e_branchformer_encoder.py
  espnet2/st/espnet_model.py
  espnet2/tasks/st.py
Due: auto add label=ESPnet2

applied black
  egs2/msuperb/asr1/conf/tuning/train_asr_s3prl_single_base.yaml
Due: auto add label=ESPnet2

Add Flake 8 Exception
  ci/test_flake8.sh
Due: auto add label=CI

correctly set the batch size via asr_args --batch_size does not work (? bug)
  egs2/chime7_task1/asr1/conf/tuning/train_asr_transformer_wavlm_lr1e-4_specaugm_accum1_preenc128_warmup20k.yaml
  egs2/chime7_task1/asr1/local/gen_task1_data.py
  egs2/chime7_task1/asr1/run.sh
Due: auto add label=ESPnet2

add uem gen
  egs2/chime7_task1/asr1/local/gen_task1_data.py
Due: auto add label=ESPnet2

calc functions
  egs2/chime7_task1/asr1/run.sh
Due: auto add label=ESPnet2

add structure to README.md
  egs2/chime7_task1/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

Ignore E231
  ci/test_flake8.sh
Due: auto add label=CI

fixing minor bugs
  egs2/msuperb/asr1/conf/tuning/train_asr_fbank_single.yaml
  egs2/msuperb/asr1/conf/tuning/train_asr_s3prl_single.yaml
  egs2/msuperb/asr1/run_single_lang.sh
Due: auto add label=ESPnet2

Add pytorch=1.13.1 to CI configuration
  .github/workflows/centos7.yml
  .github/workflows/ci.yaml
  .github/workflows/debian9.yml
  .github/workflows/doc.yml
  .github/workflows/macos.yml
  .github/workflows/test_import.yaml
  .github/workflows/windows.yml
  .mergify.yml
  README.md
  tools/Makefile
  tools/installers/install_torch.sh
Due: auto add label=README, auto add label=CI, auto add label=Installation, auto add label=mergify

applied blacked and solved inference model problem
  egs2/msuperb/asr1/run_single_lang.sh
Due: auto add label=ESPnet2

modified: setup.cfg
  setup.cfg
Due: none

ebranchformer
  egs2/must_c_v2/asr1/conf/tuning/train_asr_ebranchformer.yaml
Due: auto add label=ESPnet2

ci fix
  ci/test_flake8.sh
Due: auto add label=CI

Update data.sh
  egs2/how2_2000h/asr1/local/data.sh
Due: auto add label=ESPnet2

Update data.sh
  egs2/how2_2000h/sum1/local/data.sh
Due: auto add label=ESPnet2

added install_gss.sh, also lhotse installation in setup.py
  egs2/chime7_task1/asr1/run.sh
  tools/installers/install_chime7task1.sh
  tools/installers/install_gss.sh
Due: auto add label=ESPnet2, auto add label=Installation

added install_gss.sh, also lhotse installation in setup.py
  egs2/chime7_task1/asr1/local/data.sh
  egs2/chime7_task1/discard4now/evaluate.py
  setup.py
Due: auto add label=ESPnet2, auto add label=Installation

removed
  egs2/chime7_task1/discard4now/evaluate.sh
Due: auto add label=ESPnet2

correct lhotse installation
  setup.py
Due: auto add label=Installation

applied black
  egs2/librispeech/ssl1/local/hubert_feature_loader.py
  espnet/nets/chainer_backend/transformer/mask.py
  setup.py
Due: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=Installation

applied black
  setup.py
Due: auto add label=Installation

Fix typo in lrs/README.md
  egs/lrs/README.md
Due: auto add label=ESPnet1, auto add label=README

update pyopenjtalk version to 0.3.0
  tools/installers/install_pyopenjtalk.sh
  tools/installers/install_tdmelodic_pyopenjtalk.sh
Due: auto add label=Installation

addressed flake 8 stuff
  egs2/chime7_task1/asr1/conf/tuning/train_asr_transformer_wavlm_lr1e-4_specaugm_accum1_preenc128_warmup20k.yaml
  egs2/chime7_task1/asr1/local/gen_task1_data.py
  egs2/chime7_task1/asr1/local/gss2lhotse.py
  egs2/chime7_task1/asr1/run.sh
Due: auto add label=ESPnet2

simuleval agent
  egs2/TEMPLATE/asr1/pyscripts/utils/simuleval_agent.py
Due: auto add label=ESPnet2

Update data.sh
  egs2/msuperb/asr1/local/data.sh
Due: auto add label=ESPnet2

Update run_single_lang.sh
  egs2/msuperb/asr1/run_single_lang.sh
Due: auto add label=ESPnet2

Fix existing bugs in the TSE task
  egs2/TEMPLATE/enh1/enh.sh
  egs2/librimix/tse1/run.sh
  espnet2/bin/enh_tse_inference.py
  espnet2/enh/espnet_model_tse.py
  espnet2/iterators/chunk_iter_factory.py
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

moved ASR data prep to data.sh
  egs2/chime7_task1/asr1/local/data.sh
  egs2/chime7_task1/asr1/run.sh
Due: auto add label=ESPnet2

added data augmentation
  egs2/chime7_task1/asr1/local/data.sh
  egs2/chime7_task1/asr1/local/distant_audio_list
  egs2/chime7_task1/asr1/local/extract_noises.py
  egs2/chime7_task1/asr1/local/make_noise_list.py
  egs2/chime7_task1/asr1/run.sh
Due: auto add label=ESPnet2

removed lhotse
  setup.py
Due: auto add label=Installation

add offline/online ebranchformer + tests
  espnet2/asr_transducer/encoder/blocks/ebranchformer.py
  espnet2/asr_transducer/encoder/building.py
  espnet2/asr_transducer/encoder/modules/convolution.py
  espnet2/asr_transducer/encoder/validation.py
  test/espnet2/asr_transducer/test_encoder.py
  test/espnet2/asr_transducer/test_espnet_transducer_model.py
  test/espnet2/bin/test_asr_transducer_inference.py
Due: auto add label=ESPnet2

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
