Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

Clean workflow files (#5360)
  .github/workflows/cancel.yml
  .github/workflows/cancel_workflows.yml
  .github/workflows/check_kaldi_symlinks.yaml
  .github/workflows/ci_on_centos7.yml
  .github/workflows/ci_on_debian11.yml
  .github/workflows/ci_on_macos.yml
  .github/workflows/ci_on_ubuntu.yml
  .github/workflows/ci_on_windows.yml
  .github/workflows/publish_doc.yml
  .github/workflows/publish_docker_image.yml
  .github/workflows/publish_paper_pdf.yml
  .github/workflows/publish_python_package.yml
  .github/workflows/test_import.yaml
  .mergify.yml
  CONTRIBUTING.md
  README.md
Due: auto add label=README, auto add label=CI, auto add label=mergify

debugging, current version performs EER calculation on Vox1-O in 163 s
  espnet2/train/spk_trainer.py
Due: auto add label=ESPnet2

Finish implementoing simple_dict.sh
  test_utils/test_simple_dict.bats
  utils/simple_dict.sh
Due: none

Fix CI test error.
  espnet2/bin/asr_inference.py
Due: auto add label=ESPnet2

Update TEMPLATE_HF_Readme.md (fix bash typo)
  egs2/TEMPLATE/asr1/scripts/utils/TEMPLATE_HF_Readme.md
Due: auto add label=ESPnet2

Couple of tweaks for asr2.sh for the HF hub upload
  egs2/TEMPLATE/asr2/asr2.sh
Due: auto add label=ESPnet2

Add discrete-token ASR for LibriSpeech 100h
  egs2/librispeech_100/asr2/README.md
  egs2/librispeech_100/asr2/asr2.sh
  egs2/librispeech_100/asr2/cmd.sh
  egs2/librispeech_100/asr2/conf/decode_ctc0.3.yaml
  egs2/librispeech_100/asr2/conf/pbs.conf
  egs2/librispeech_100/asr2/conf/queue.conf
  egs2/librispeech_100/asr2/conf/slurm.conf
  egs2/librispeech_100/asr2/conf/train_discrete_asr_e_branchformer1_1gpu.yaml
  egs2/librispeech_100/asr2/db.sh
  egs2/librispeech_100/asr2/local/data.sh
  egs2/librispeech_100/asr2/local/data_prep.sh
  egs2/librispeech_100/asr2/local/download_and_untar.sh
  egs2/librispeech_100/asr2/local/path.sh
  egs2/librispeech_100/asr2/path.sh
  egs2/librispeech_100/asr2/pyscripts
  egs2/librispeech_100/asr2/run.sh
  egs2/librispeech_100/asr2/scripts
  egs2/librispeech_100/asr2/steps
  egs2/librispeech_100/asr2/utils
Due: auto add label=ESPnet2, auto add label=README

Address the review comments
  egs2/librispeech_100/asr2/conf/train_discrete_asr_e_branchformer1_1gpu.yaml
  egs2/librispeech_100/asr2/run.sh
Due: auto add label=ESPnet2

added the JSUT recipe
  egs2/jsut/asr2/asr2.sh
  egs2/jsut/asr2/cmd.sh
  egs2/jsut/asr2/conf/decode_ctc0.3.yaml
  egs2/jsut/asr2/conf/pbs.conf
  egs2/jsut/asr2/conf/queue.conf
  egs2/jsut/asr2/conf/slurm.conf
  egs2/jsut/asr2/conf/train_discrete_asr_e_branchformer1.yaml
  egs2/jsut/asr2/db.sh
  egs2/jsut/asr2/local/data.sh
  egs2/jsut/asr2/local/data_prep.sh
  egs2/jsut/asr2/local/download.sh
  egs2/jsut/asr2/local/path.sh
  egs2/jsut/asr2/path.sh
  egs2/jsut/asr2/pyscripts
  egs2/jsut/asr2/run.sh
  egs2/jsut/asr2/scripts
  egs2/jsut/asr2/steps
  egs2/jsut/asr2/utils
Due: auto add label=ESPnet2

Add tests for causal LM in Hugging Face Transformers Decoder
  espnet2/asr/decoder/hugging_face_transformers_decoder.py
  test/espnet2/asr/decoder/test_hugging_face_transformers_decoder.py
  test/espnet2/bin/test_asr_inference.py
  test/espnet2/text/test_hugging_face_token_id_converter.py
Due: auto add label=ESPnet2

Remove LibriTTS-100 ASR recipe
  egs2/libritts_100/asr1/asr.sh
  egs2/libritts_100/asr1/cmd.sh
  egs2/libritts_100/asr1/conf/decode_asr.yaml
  egs2/libritts_100/asr1/conf/fbank.conf
  egs2/libritts_100/asr1/conf/pbs.conf
  egs2/libritts_100/asr1/conf/pitch.conf
  egs2/libritts_100/asr1/conf/queue.conf
  egs2/libritts_100/asr1/conf/slurm.conf
  egs2/libritts_100/asr1/conf/train_asr.yaml
  egs2/libritts_100/asr1/conf/tuning/train_asr_e_branchformer_pythia-410m.yaml
  egs2/libritts_100/asr1/conf/tuning/train_asr_e_branchformer_size256_mlp1024_linear1024_e12_mactrue_edrop0.0_ddrop0.0.yaml
  egs2/libritts_100/asr1/db.sh
  egs2/libritts_100/asr1/local/data.sh
  egs2/libritts_100/asr1/local/data_prep.sh
  egs2/libritts_100/asr1/local/download_and_untar.sh
  egs2/libritts_100/asr1/local/path.sh
  egs2/libritts_100/asr1/local/run_hf.sh
  egs2/libritts_100/asr1/path.sh
  egs2/libritts_100/asr1/pyscripts
  egs2/libritts_100/asr1/run.sh
  egs2/libritts_100/asr1/scripts
  egs2/libritts_100/asr1/steps
  egs2/libritts_100/asr1/utils
Due: auto add label=ESPnet2

reflect @sw005320 comments: add explanation of spk_trainer and statistics before/after validation
  espnet2/train/spk_trainer.py
Due: auto add label=ESPnet2

Add test for Length Adaptor PostEncoder
  test/espnet2/asr/postencoder/test_length_adaptor_postencoder.py
Due: none

reflect @sw005320 comments: add more explanation
  egs2/voxceleb/spk1/local/data.sh
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

Fix the default value and description for the hugging_face_decoder_conf
  espnet2/bin/asr_inference.py
Due: auto add label=ESPnet2

Fix the token ID converter
  espnet2/bin/asr_inference.py
Due: auto add label=ESPnet2

Fix the test for ASR inference with causal LM
  test/espnet2/bin/test_asr_inference.py
Due: none

fix minor bug
  espnet2/train/spk_trainer.py
Due: auto add label=ESPnet2

Fix bug in ngram training in slu.sh
  egs2/TEMPLATE/slu1/slu.sh
Due: auto add label=ESPnet2

Bugfix: JETS CTCLoss (#5288)
  egs2/kss/tts1/conf/tuning/train_jets.yaml
  egs2/ljspeech/tts1/conf/tuning/train_jets.yaml
  espnet2/gan_tts/jets/alignments.py
  espnet2/gan_tts/jets/generator.py
  espnet2/gan_tts/jets/loss.py
Due: auto add label=ESPnet2

Check the value of `n_shift` == `upsample_factor` in GAN_TTS (#5299)
  espnet2/gan_tts/espnet_model.py
Due: auto add label=ESPnet2

reflect @ftshijt comment: add local_data_opts
  egs2/TEMPLATE/spk1/spk.sh
Due: auto add label=ESPnet2

add utt2category
  egs2/TEMPLATE/spk1/spk.sh
Due: auto add label=ESPnet2

make drop_last configurable, make category balanced sampler supported
  espnet2/tasks/abs_task.py
Due: auto add label=ESPnet2

add support catbel (category balanced) batch sampler
  espnet2/samplers/build_batch_sampler.py
Due: auto add label=ESPnet2

update hubert with different resolution (autoinfer)
  egs2/librispeech/ssl1/conf/tuning/train_ssl_torchaudiohubert_base_960h_pretrain_it2_40ms.yaml
  espnet2/asr/encoder/hubert_encoder.py
  espnet2/tasks/hubert.py
  espnet2/train/collate_fn.py
Due: auto add label=ESPnet2

remove logging info
  espnet2/tasks/hubert.py
Due: auto add label=ESPnet2

add test func
  test/espnet2/train/test_collate_fn.py
Due: none

fix long line
  test/espnet2/train/test_collate_fn.py
Due: none

further remove
  test/espnet2/train/test_collate_fn.py
Due: none

add gramvaani codes
  egs2/TEMPLATE/asr1/db.sh
  egs2/gramvaani/asr1/README.md
  egs2/gramvaani/asr1/asr.sh
  egs2/gramvaani/asr1/cmd.sh
  egs2/gramvaani/asr1/conf/decode_asr.yaml
  egs2/gramvaani/asr1/conf/train_asr_conformer6_n_fft400_hop_length160.yaml
  egs2/gramvaani/asr1/db.sh
  egs2/gramvaani/asr1/local/clean_text.py
  egs2/gramvaani/asr1/local/data.sh
  egs2/gramvaani/asr1/local/path.sh
  egs2/gramvaani/asr1/path.sh
  egs2/gramvaani/asr1/pyscripts
  egs2/gramvaani/asr1/run.sh
  egs2/gramvaani/asr1/scripts
  egs2/gramvaani/asr1/steps
  egs2/gramvaani/asr1/utils
Due: auto add label=ESPnet2, auto add label=README

remove echo
  egs2/gramvaani/asr1/local/data.sh
Due: auto add label=ESPnet2

remove extra line
  espnet2/tasks/hubert.py
Due: auto add label=ESPnet2

start kathbath recipe
  egs2/kathbath/asr1/asr.sh
  egs2/kathbath/asr1/cmd.sh
  egs2/kathbath/asr1/db.sh
  egs2/kathbath/asr1/local/data.sh
  egs2/kathbath/asr1/local/path.sh
  egs2/kathbath/asr1/path.sh
  egs2/kathbath/asr1/pyscripts
  egs2/kathbath/asr1/scripts
  egs2/kathbath/asr1/steps
  egs2/kathbath/asr1/utils
Due: auto add label=ESPnet2

Fix the CI test error and make some updates to the PR.
  egs2/TEMPLATE/asr1/pyscripts/utils/evaluate_whisper_inference.py
  egs2/TEMPLATE/asr1/scripts/utils/evaluate_asr.sh
  egs2/aishell/asr1/README.md
  egs2/aishell/asr1/run_whisper_finetune.sh
  espnet2/bin/asr_inference.py
  espnet2/bin/whisper_export_vocabulary.py
  espnet2/text/whisper_token_id_converter.py
  espnet2/text/whisper_tokenizer.py
Due: auto add label=ESPnet2, auto add label=README

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
