Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

timeout at test_visinger
  test/espnet2/gan_svs/visinger/test_visinger_generator.py
Due: none

Update gtn_ctc.py
  espnet/nets/pytorch_backend/gtn_ctc.py
Due: auto add label=ESPnet1

Add subsampling argument for scoring score_der.sh
  egs2/TEMPLATE/diar1/diar.sh
Due: auto add label=ESPnet2

Set min_wav_duration to 0
  egs2/ami/diar1/run.sh
Due: auto add label=ESPnet2

Add arguments for scoring.
  egs2/ami/diar1/run.sh
  egs2/ami/diar1/run_eda.sh
Due: auto add label=ESPnet2

Update README
  egs2/ami/diar1/README.md
Due: auto add label=ESPnet2, auto add label=README

Update the score_der input arguments.
  egs2/TEMPLATE/diar1/diar.sh
Due: auto add label=ESPnet2

Update the score_der.sh's argument parse strategy, to ensure valid parse.
  egs2/TEMPLATE/asr1/scripts/utils/score_der.sh
Due: auto add label=ESPnet2

Add warmup before start
  egs2/TEMPLATE/sds1/app.py
  egs2/TEMPLATE/sds1/local/path.sh
  egs2/TEMPLATE/sds1/path.sh
  egs2/TEMPLATE/sds1/setup.sh
  egs2/voice_assistant_demo/sds1/run.sh
Due: auto add label=ESPnet2

Fix CI checks
  egs2/TEMPLATE/sds1/app.py
  egs2/voice_assistant_demo/sds1/run.sh
  espnet2/sds/asr/espnet_asr.py
  espnet2/sds/asr/owsm_asr.py
  espnet2/sds/asr/owsm_ctc_asr.py
  espnet2/sds/asr/whisper_asr.py
  espnet2/sds/end_to_end/mini_omni/inference.py
  espnet2/sds/end_to_end/mini_omni/litgpt/__init__.py
  espnet2/sds/end_to_end/mini_omni/litgpt/config.py
  espnet2/sds/end_to_end/mini_omni/litgpt/generate/base.py
  espnet2/sds/end_to_end/mini_omni/litgpt/model.py
  espnet2/sds/end_to_end/mini_omni/litgpt/utils.py
  espnet2/sds/end_to_end/mini_omni/utils/snac_utils.py
  espnet2/sds/end_to_end/mini_omni_e2e.py
  espnet2/sds/eval/ASR_WER.py
  espnet2/sds/eval/LLM_Metrics.py
  espnet2/sds/eval/TTS_intelligibility.py
  espnet2/sds/eval/TTS_speech_quality.py
  espnet2/sds/eval/vert.py
  espnet2/sds/llm/hugging_face_llm.py
  espnet2/sds/tts/abs_tts.py
  espnet2/sds/tts/chat_tts.py
  espnet2/sds/tts/espnet_tts.py
  espnet2/sds/utils/utils.py
  espnet2/sds/vad/webrtc_vad.py
Due: auto add label=ESPnet2

Add README for adapted code
  espnet2/sds/end_to_end/mini_omni/README.md
Due: auto add label=ESPnet2, auto add label=README

local update
  egs2/librispeech/speechlm1/conf/train_delay_asr.yaml
  egs2/librispeech/speechlm1/conf/train_delay_tts.yaml
  egs2/librispeech/speechlm1/conf/train_multiscale_tts.yaml
  egs2/librispeech/speechlm1/run.sh
  egs2/librispeech/speechlm1/run_asr_wavlm.sh
  egs2/librispeech/speechlm1/run_wavlm_smollm.sh
Due: auto add label=ESPnet2

Update the results and configuration.
  egs2/ami/diar1/README.md
Due: auto add label=ESPnet2, auto add label=README

Update contributors
  egs2/ami/diar1/README.md
Due: auto add label=ESPnet2, auto add label=README

updates related to sentencepiece
  setup.py
  test/espnet2/gan_svs/visinger/test_visinger_generator.py
  test/tedlium2.vocab
Due: auto add label=Installation

mlsuperb readme
  egs2/README.md
  egs2/ml_superb_2_challenge/asr1/README.md
  egs2/ml_superb_2_challenge/asr1/run.sh
Due: auto add label=ESPnet2, auto add label=README

Update assets for README.
  egs2/ami/diar1/assets/eend_der.png
  egs2/ami/diar1/assets/eend_eda_der.png
Due: auto add label=ESPnet2

Update configurations in README.
  egs2/ami/diar1/README.md
Due: auto add label=ESPnet2, auto add label=README

Update config files.
  egs2/ami/diar1/conf/decode_diar.yaml
  egs2/ami/diar1/conf/decode_diar_eda_spk3.yaml
  egs2/ami/diar1/conf/decode_diar_eda_spk4.yaml
  egs2/ami/diar1/conf/train_diar_eda.yaml
  egs2/ami/diar1/conf/train_diar_eda_adapt.yaml
Due: auto add label=ESPnet2

Update config files.
  egs2/ami/diar1/conf/decode_diar_eda_spk5.yaml
  egs2/ami/diar1/conf/train_diar_eda.yaml
Due: auto add label=ESPnet2

Update log information.
  egs2/ami/diar1/local/data.sh
Due: auto add label=ESPnet2

revise the delay decoding
  espnet2/bin/speechlm_inference.py
  espnet2/speechlm/core_lm/abs_core_lm.py
  espnet2/speechlm/core_lm/ar_delay.py
  espnet2/speechlm/loss.py
  espnet2/speechlm/net_utils.py
Due: auto add label=ESPnet2

handle browser refresh
  egs2/TEMPLATE/sds1/app.py
Due: auto add label=ESPnet2

Add evaluation code to pyscripts/utils/
  egs2/TEMPLATE/asr1/pyscripts/utils/dialog_eval/ASR_WER.py
  egs2/TEMPLATE/asr1/pyscripts/utils/dialog_eval/LLM_Metrics.py
  egs2/TEMPLATE/asr1/pyscripts/utils/dialog_eval/TTS_intelligibility.py
  egs2/TEMPLATE/asr1/pyscripts/utils/dialog_eval/TTS_speech_quality.py
  egs2/TEMPLATE/asr1/pyscripts/utils/dialog_eval/vert.py
  egs2/TEMPLATE/sds1/app.py
  egs2/TEMPLATE/sds1/pyscripts
  espnet2/sds/eval/__init__.py
Due: auto add label=ESPnet2

update protobuf version (CI installation)
  ci/install.sh
Due: auto add label=CI

Add task class
  egs2/TEMPLATE/sds1/app.py
  egs2/voice_assistant_demo/sds1/local/path.sh
  egs2/voice_assistant_demo/sds1/path.sh
  espnet2/sds/espnet_model.py
Due: auto add label=ESPnet2

Add human feedback as seperate eval file
  egs2/TEMPLATE/asr1/pyscripts/utils/dialog_eval/human_feedback.py
  egs2/TEMPLATE/sds1/app.py
  egs2/TEMPLATE/sds1/setup.sh
  egs2/voice_assistant_demo/sds1/pyscripts
Due: auto add label=ESPnet2

Fix CI
  egs2/TEMPLATE/sds1/app.py
  egs2/TEMPLATE/sds1/setup.sh
Due: auto add label=ESPnet2

revert protobuf version
  .devcontainer/devcontainer.json
  .devcontainer/postCreate.sh
  .devcontainer/runtime.dockerfile
  .gitignore
  ci/install.sh
  egs2/aishell3/tts2/tts.sh
Due: auto add label=ESPnet2, auto add label=CI

remove protobuf version from install
  ci/install.sh
Due: auto add label=CI

Fix CI
  egs2/TEMPLATE/asr1/pyscripts/utils/dialog_eval/ASR_WER.py
  egs2/TEMPLATE/asr1/pyscripts/utils/dialog_eval/LLM_Metrics.py
  egs2/TEMPLATE/asr1/pyscripts/utils/dialog_eval/TTS_intelligibility.py
  egs2/TEMPLATE/asr1/pyscripts/utils/dialog_eval/vert.py
  egs2/TEMPLATE/sds1/app.py
  egs2/TEMPLATE/sds1/setup.sh
  espnet2/sds/espnet_model.py
  espnet2/sds/utils/chat.py
  espnet2/sds/vad/webrtc_vad.py
Due: auto add label=ESPnet2

Fix CI
  espnet2/sds/asr/espnet_asr.py
  espnet2/sds/end_to_end/mini_omni/inference.py
  espnet2/sds/end_to_end/mini_omni/litgpt/__init__.py
  espnet2/sds/end_to_end/mini_omni/litgpt/config.py
  espnet2/sds/end_to_end/mini_omni/litgpt/generate/base.py
  espnet2/sds/end_to_end/mini_omni/litgpt/model.py
  espnet2/sds/end_to_end/mini_omni/litgpt/tokenizer.py
  espnet2/sds/end_to_end/mini_omni/litgpt/utils.py
  espnet2/sds/espnet_model.py
Due: auto add label=ESPnet2

Fix CI
  espnet2/sds/end_to_end/mini_omni/litgpt/generate/base.py
Due: auto add label=ESPnet2

Fix CI
  espnet2/sds/end_to_end/mini_omni_e2e.py
  espnet2/sds/espnet_model.py
  espnet2/sds/llm/hugging_face_llm.py
  espnet2/sds/vad/webrtc_vad.py
Due: auto add label=ESPnet2

Fix CI
  espnet2/sds/tts/espnet_tts.py
Due: auto add label=ESPnet2

revoke the new data format as its training is not stable. do some cleanining
  egs2/TEMPLATE/asr1/pyscripts/text/huggingface_tokenize_text.py
  egs2/TEMPLATE/asr1/scripts/text/huggingface_tokenize_text.sh
  egs2/librispeech/speechlm1/conf/decode_asr.yaml
  egs2/librispeech/speechlm1/conf/decode_tts_espnet.yaml
  egs2/librispeech/speechlm1/conf/deepspeed_ddp.json
  egs2/librispeech/speechlm1/conf/train_delay_llama3.2_1b.yaml
  egs2/librispeech/speechlm1/conf/train_delay_qwen2.5_1.5b.yaml
  egs2/librispeech/speechlm1/conf/train_delay_smollm_1.7b.yaml
  egs2/librispeech/speechlm1/conf/train_delay_smollm_360m.yaml
  espnet2/speechlm/loss.py
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(ci/|.github/)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
