Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

slurm.conf fix
  egs2/bn_openslr53/asr1/conf/slurm.conf
Due: auto add label=ESPnet2

update the conformer config
  egs2/librispeech/asr1/conf/tuning/train_asr_conformer8.yaml
Due: auto add label=ESPnet2

first commit'
  egs2/TEMPLATE/asr1/db.sh
  egs2/lrs3/lipreading1/.local/python_debug_log_1.log
  egs2/lrs3/lipreading1/asr.sh
  egs2/lrs3/lipreading1/cmd.sh
  egs2/lrs3/lipreading1/conf/fbank.conf
  egs2/lrs3/lipreading1/conf/pbs.conf
  egs2/lrs3/lipreading1/conf/pitch.conf
  egs2/lrs3/lipreading1/conf/queue.conf
  egs2/lrs3/lipreading1/conf/slurm.conf
  egs2/lrs3/lipreading1/conf/train_asr_transformer.yaml
  egs2/lrs3/lipreading1/conf/train_lm.yaml
  egs2/lrs3/lipreading1/conf/tuning/train_asr_transformer.yaml
  egs2/lrs3/lipreading1/db.sh
  egs2/lrs3/lipreading1/local/data.sh
  egs2/lrs3/lipreading1/local/data_lrs3.sh
  egs2/lrs3/lipreading1/local/data_prep.py
  egs2/lrs3/lipreading1/local/feature_extract/cvtransforms.py
  egs2/lrs3/lipreading1/local/feature_extract/extract_visual_feature.py
  egs2/lrs3/lipreading1/local/feature_extract/models/__init__.py
  egs2/lrs3/lipreading1/local/feature_extract/models/pretrained.py
  egs2/lrs3/lipreading1/local/feature_extract/video_processing.py
  egs2/lrs3/lipreading1/local/path.sh
  egs2/lrs3/lipreading1/local/python_debug_log_1.log
  egs2/lrs3/lipreading1/path.sh
  egs2/lrs3/lipreading1/pyscripts
  egs2/lrs3/lipreading1/python_debug_log_1.log
  egs2/lrs3/lipreading1/run.sh
  egs2/lrs3/lipreading1/scripts
  egs2/lrs3/lipreading1/steps
  egs2/lrs3/lipreading1/temp.txt
  egs2/lrs3/lipreading1/utils
Due: auto add label=ESPnet2

Fix compatibility with torch < 1.9.0
  espnet2/enh/layers/dnn_beamformer.py
Due: auto add label=ESPnet2

update asr1new
  egs/lrs/asr1/run.sh
Due: auto add label=ESPnet1

initial update
  egs/lrs/asr1/run.sh
Due: auto add label=ESPnet1

test
  egs/lrs/asr1/RESULTS.md
  egs/lrs/asr1/cmd.sh
  egs/lrs/asr1/conf/decode.yaml
  egs/lrs/asr1/conf/fbank.conf
  egs/lrs/asr1/conf/gpu.conf
  egs/lrs/asr1/conf/lm.yaml
  egs/lrs/asr1/conf/pitch.conf
  egs/lrs/asr1/conf/queue.conf
  egs/lrs/asr1/conf/slurm.conf
  egs/lrs/asr1/conf/specaug.yaml
  egs/lrs/asr1/conf/train.yaml
  egs/lrs/asr1/local/README.md
  egs/lrs/asr1/local/data_preparation.sh
  egs/lrs/asr1/local/make_files.py
  egs/lrs/asr1/local/pretrain.py
  egs/lrs/asr1/path.sh
  egs/lrs/asr1/run.sh
  egs/lrs/asr1/steps
  egs/lrs/asr1/utils
Due: auto add label=ESPnet1, auto add label=README

test lrs2 asr1
  egs/lrs/asr1/RESULTS.md
  egs/lrs/asr1/cmd.sh
  egs/lrs/asr1/conf/decode.yaml
  egs/lrs/asr1/conf/fbank.conf
  egs/lrs/asr1/conf/gpu.conf
  egs/lrs/asr1/conf/lm.yaml
  egs/lrs/asr1/conf/pitch.conf
  egs/lrs/asr1/conf/queue.conf
  egs/lrs/asr1/conf/slurm.conf
  egs/lrs/asr1/conf/specaug.yaml
  egs/lrs/asr1/conf/train.yaml
  egs/lrs/asr1/local/README.md
  egs/lrs/asr1/local/data_preparation.sh
  egs/lrs/asr1/local/make_files.py
  egs/lrs/asr1/local/pretrain.py
  egs/lrs/asr1/path.sh
  egs/lrs/asr1/run.sh
  egs/lrs/asr1/steps
  egs/lrs/asr1/utils
Due: auto add label=ESPnet1, auto add label=README

implement inter/scctc in espnet2
  espnet2/asr/ctc.py
  espnet2/asr/encoder/conformer_encoder.py
  espnet2/asr/encoder/transformer_encoder.py
  espnet2/asr/espnet_model.py
Due: auto add label=ESPnet2

add training configs
  egs2/librispeech_100/asr1/conf/tuning/train_conformer_ctc.yaml
  egs2/librispeech_100/asr1/conf/tuning/train_conformer_interctc.yaml
  egs2/librispeech_100/asr1/conf/tuning/train_conformer_scctc.yaml
Due: auto add label=ESPnet2

update steps and utils
  egs/lrs/asr1/steps
  egs/lrs/asr1/utils
Due: auto add label=ESPnet1

add conformer config
  egs2/iemocap/asr1/conf/tuning/train_asr_conformer.yaml
  egs2/iemocap/asr1/conf/tuning/train_asr_conformer_hubert.yaml
Due: auto add label=ESPnet2

v1 run
  egs2/lrs3/lipreading1/cmd.sh
  egs2/lrs3/lipreading1/conf/slurm.conf
  egs2/lrs3/lipreading1/local/data_lrs3.sh
  egs2/lrs3/lipreading1/local/data_prep.py
  egs2/lrs3/lipreading1/run.sh
Due: auto add label=ESPnet2

minor changes
  espnet2/asr/ctc.py
  espnet2/asr/espnet_model.py
Due: auto add label=ESPnet2

Add config for conformer-transducer model
  egs/librispeech/asr1/conf/tuning/transducer/decode.yaml
  egs/librispeech/asr1/conf/tuning/transducer/train_conformer-rnn_transducer.yaml
Due: auto add label=ESPnet1

Add the results of conformer-transducer for Librispeech
  egs/librispeech/asr1/RESULTS.md
Due: auto add label=ESPnet1

Add config for conformer-transducer model
  egs/librispeech/asr1/conf/tuning/transducer/decode.yaml
Due: auto add label=ESPnet1

Add config for conformer-transducer model
  egs/librispeech/asr1/conf/tuning/transducer/decode_default.yaml
  egs/librispeech/asr1/conf/tuning/transducer/train_conformer-rnn_transducer.yaml
Due: auto add label=ESPnet1

Delete decode_default.yaml
  egs/librispeech/asr1/conf/tuning/transducer/decode_default.yaml
Due: auto add label=ESPnet1

Update README.md
  egs2/README.md
Due: auto add label=ESPnet2, auto add label=README

add transformer config
  egs2/librispeech_100/asr1/conf/tuning/train_asr_transformer_win400_hop160_ctc0.3_lr2e-3_warmup15k_timemask5_amp_no-deterministic.yaml
Due: auto add label=ESPnet2

Testing install update
  test_utils/test_scoresum_py.bats
Due: none

update results for transformer
  egs2/librispeech_100/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

Testing install update2
  test_utils/test_scoresum_py.bats
Due: none

Fix argument name asr_config
  doc/espnet2_tutorial.md
Due: auto add label=Documentation

Update egs/librispeech/asr1/RESULTS.md
  egs/librispeech/asr1/RESULTS.md
Due: auto add label=ESPnet1

Update perturb_data_dir_speed.sh
  egs2/TEMPLATE/asr1/scripts/utils/perturb_data_dir_speed.sh
Due: auto add label=ESPnet2

egs2
  egs2/TEMPLATE/asr1/db.sh
  egs2/TEMPLATE/mt1/mt.sh
  egs2/TEMPLATE/st1/st.sh
  egs2/iwslt14/mt1/local/data.sh
  egs2/iwslt14/mt1/run.sh
  espnet2/asr/encoder/lego_transformer_encoder.py
  espnet2/mt/espnet_model.py
Due: auto add label=ESPnet2

Test RSA
  test_utils/test_scoresum_py.bats
Due: none

Added tests
  test/test_e2e_asr_conformer.py
Due: none

Fix ESP1->2 test
  espnet2/asr/encoder/conformer_encoder.py
  test/espnet2/asr/encoder/test_conformer_encoder.py
  test/test_e2e_asr_conformer.py
Due: auto add label=ESPnet2

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
