Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet2, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=mergify, auto add label=Docker

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

split nstep and max-sym-exp to avoid confusion
  doc/tutorial.md
  egs/vivos/asr1/conf/tuning/transducer/decode_tsd.yaml
  egs/voxforge/asr1/conf/tuning/transducer/decode_tsd.yaml
  espnet/bin/asr_recog.py
  espnet/nets/beam_search_transducer.py
  test/test_e2e_asr_sa_transducer.py
  test/test_e2e_asr_transducer.py
Due: auto add label=Documentation

Update ubuntu images in circle ci
  .circleci/config.yml
Due: auto add label=CI

Update ci/install.sh to use default gcc if unspecified
  ci/install.sh
Due: auto add label=CI

Update README.md
  .circleci/config.yml
  README.md
Due: auto add label=README, auto add label=CI

added pitch and energy stats in packing
  egs2/TEMPLATE/tts1/tts.sh
Due: auto add label=ESPnet2

update vivos results
  egs/vivos/asr1/RESULTS.md
Due: none

fix missing results
  egs/vivos/asr1/RESULTS.md
Due: none

update voxforge recipe
  egs/voxforge/asr1/conf/no_preprocess.yaml
  egs/voxforge/asr1/conf/tuning/train_pytorch_transformer_maskctc.yaml
  egs/voxforge/asr1/run.sh
Due: none

update wsj recipe
  egs/wsj/asr1/conf/tuning/train_pytorch_transformer_maskctc.yaml
  egs/wsj/asr1/run.sh
Due: none

some refactoring
  espnet/nets/beam_search_transducer.py
  espnet/nets/pytorch_backend/transducer/rnn_att_decoder.py
  espnet/nets/pytorch_backend/transducer/rnn_decoder.py
  espnet/nets/pytorch_backend/transducer/transformer_decoder.py
  espnet/nets/transducer_decoder_interface.py
Due: none

updated comment on the documentation
  doc/tutorial.md
Due: auto add label=Documentation

use lm_exp instead of lm_tag for inference_tag
  egs2/TEMPLATE/asr1/asr.sh
Due: auto add label=ESPnet2

use lm_exp instead of lm_tag for inference_tag (#2352)
  egs2/TEMPLATE/asr1/asr.sh
Due: auto add label=ESPnet2

Update .mergify.yml
  .mergify.yml
Due: auto add label=mergify

support multiple nbest models: --keep_nbest_models
  espnet2/main_funcs/average_nbest_models.py
  espnet2/tasks/abs_task.py
  test/espnet2/main_funcs/test_average_nbest_models.py
Due: auto add label=ESPnet2

ASR WSJ RESULT update
  egs2/wsj/asr1/README.md
  egs2/wsj/asr1/conf/train_lm.yaml
  egs2/wsj/asr1/conf/tuning/train_lm_adagrad.yaml
  egs2/wsj/asr1/conf/tuning/train_lm_adam_layers4.yaml
Due: auto add label=ESPnet2

Update .mergify.yml (#2354)
  .mergify.yml
Due: auto add label=mergify

Update RESULTS.md
  egs/mgb2/asr1/RESULTS.md
Due: none

Update egs/mgb2/asr1/local/add_to_datadir.py
  egs/mgb2/asr1/local/add_to_datadir.py
Due: none

Update egs/mgb2/asr1/path.sh
  egs/mgb2/asr1/path.sh
Due: none

add a description about check install.
  doc/installation.md
Due: auto add label=Documentation

Add Swish() activation function for Positionwise Feedforward layer.
  espnet/nets/pytorch_backend/conformer/activation.py
  espnet/nets/pytorch_backend/conformer/convolution.py
  espnet/nets/pytorch_backend/conformer/encoder.py
  espnet/nets/pytorch_backend/e2e_asr_conformer.py
  espnet/nets/pytorch_backend/transformer/positionwise_feed_forward.py
Due: none

add undefined variable
  tools/check_pytorch_cuda_compatibility.py
Due: none

Fix amp: espnet2/train/trainer.py
  espnet2/train/trainer.py
Due: auto add label=ESPnet2

Delete duplicated class definition of Conv2dSubsampling.
  espnet/nets/pytorch_backend/conformer/encoder.py
  espnet/nets/pytorch_backend/conformer/subsampling.py
Due: none

Update new Conformer results of Aishell1 and Switchboard.
  egs/aishell/asr1/RESULTS.md
  egs/aishell/asr1/conf/specaug.yaml
  egs/aishell/asr1/conf/tuning/train_pytorch_conformer_kernel15.yaml
  egs/swbd/asr1/RESULTS.md
  egs/swbd/asr1/conf/tuning/train_pytorch_conformer.yaml
Due: none

Update model links and default training conf files.
  egs/aishell/asr1/RESULTS.md
  egs/aishell/asr1/conf/train.yaml
  egs/aishell/asr1/conf/tuning/train_pytorch_conformer_kernel31.yaml
  egs/swbd/asr1/RESULTS.md
  egs/swbd/asr1/conf/train.yaml
Due: none

Update README.md
  egs2/zeroth_korean/asr1/README.md
Due: auto add label=ESPnet2

add conformer support in customizable arch.
  espnet/nets/pytorch_backend/e2e_asr_transducer.py
  espnet/nets/pytorch_backend/transducer/blocks.py
  espnet/nets/pytorch_backend/transducer/transformer_decoder.py
  espnet/nets/pytorch_backend/transducer/transformer_encoder.py
Due: none

add test for conformer-transducer
  ci/test_integration.sh
  test/test_e2e_asr_sa_transducer.py
Due: auto add label=CI

add vivos configs
  egs/vivos/asr1/conf/tuning/transducer/train_conformer-rnn_transducer.yaml
  egs/vivos/asr1/conf/tuning/transducer/train_conformer_transducer.yaml
Due: none

update transducer docs for conformer
  README.md
  doc/tutorial.md
Due: auto add label=README, auto add label=Documentation

Update xml2stm.py
  egs/mgb2/asr1/local/xml2stm.py
Due: none

black
  egs/mgb2/asr1/local/xml2stm.py
Due: none

apply black
  espnet/nets/pytorch_backend/transducer/blocks.py
  espnet/nets/pytorch_backend/transducer/transformer_decoder.py
Due: none

Path conditions:
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=README: any of: ^README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
