Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

EOL for support to debian 11 in favor of debian 12
  .github/workflows/ci_on_debian11.yml.eol
  .github/workflows/ci_on_debian12.yml
  README.md
Due: auto add label=README, auto add label=CI

fix mixed versions
  .github/workflows/ci_on_debian11.yml.eol
  .github/workflows/ci_on_debian12.yml
Due: auto add label=CI

Update .github/workflows/ci_on_debian12.yml
  .github/workflows/ci_on_debian12.yml
Due: auto add label=CI

Add default timeout to 10 seconds
  ci/test_python_espnet1.sh
  ci/test_python_espnet2.sh
  ci/test_python_espnet3.sh
Due: auto add label=CI

modifications according to code review comments
  egs2/TEMPLATE/ser1/ser.sh
  egs2/mini_an4/ser1/local/data.sh
  egs2/msp_podcast/ser1/run.sh
  espnet2/ser/loss/cross_entropy_loss.py
  espnet2/tasks/ser.py
  test/espnet2/ser/test_espnet_ser_model.py
Due: auto add label=ESPnet2

rerun_CI
  rerun_CI
Due: none

rerun CI
  rerun_CI
Due: none

extend timeout
  ci/install_macos.sh
  test/espnet2/enh/layers/test_dnsmos.py
Due: auto add label=CI

Update egs2/TEMPLATE/asr1/utils/validate_data_dir.sh
  egs2/TEMPLATE/asr1/utils/validate_data_dir.sh
Due: auto add label=ESPnet2

Fix CI errors.
  espnet2/text/qwen2audio_tokenizer.py
  setup.py
  test/espnet2/ps2st/test_espnet_model_ps2st.py
  test/espnet2/text/test_qwen2_tokenizer.py
  test/espnet2/train/test_preprocessor.py
Due: auto add label=ESPnet2, auto add label=Installation

Use a dummy model for Qwen2Audio tests.
  espnet2/ps2st/espnet_model.py
  test/espnet2/ps2st/test_espnet_model_ps2st.py
Due: auto add label=ESPnet2

Use a smaller model to avoid timeout during test.
  espnet2/ps2st/espnet_model.py
Due: auto add label=ESPnet2

Fixed run generation.
  egs2/TEMPLATE/lid1/lid.sh
Due: auto add label=ESPnet2

Fixed check.
  egs2/TEMPLATE/lid1/lid.sh
Due: auto add label=ESPnet2

Re CI.
  egs2/TEMPLATE/lid1/lid.sh
Due: auto add label=ESPnet2

Add precision, recall, and F1 metrics.
  egs2/TEMPLATE/lid1/local/score.py
Due: auto add label=ESPnet2

Extended timeout for tests under test/
  test/test_custom_transducer.py
  test/test_e2e_asr.py
  test/test_e2e_asr_mulenc.py
  test/test_e2e_mt.py
  test/test_e2e_mt_transformer.py
  test/test_e2e_tts_fastspeech.py
  test/test_e2e_tts_transformer.py
  test/test_e2e_vc_tacotron2.py
  test/test_e2e_vc_transformer.py
  test/test_multi_spkrs.py
  test/test_recog.py
Due: none

add warmup numba execution
  test/espnet2/bin/test_s2t_inference_ctc.py
  test/espnet2/bin/test_tts_inference.py
Due: none

timeout check
  test/espnet2/bin/test_s2t_inference_ctc.py
Due: none

Missing change for merging espnet3 branch
  .github/workflows/ci_on_debian11.yml
Due: auto add label=CI

Removed espnet.xx and changed to espnet2.legacy.xx
  .github/workflows/ci_on_ubuntu.yml
  espnet2/asr/frontend/espnet_ssl.py
  espnet2/legacy/nets/scorer_interface.py
  espnet2/legacy/nets/scorers/ctc.py
  espnet2/legacy/utils/dynamic_import.py
  espnet2/svs/discrete/frontend.py
  espnet2/svs/discrete/loss.py
  espnet2/svs/discrete/toksing.py
  espnet2/train/gan_trainer.py
  espnet2/train/uasr_trainer.py
Due: auto add label=ESPnet2, auto add label=CI

Fixed CI issue
  espnet2/legacy/nets/scorer_interface.py
  espnet2/search/beam_search.py
  espnet2/search/beam_search_transducer.py
  espnet2/search/scorers/ngram.py
  espnet2/svs/discrete/toksing.py
Due: auto add label=ESPnet2

Add missing files
  espnet2/legacy/nets/pytorch_backend/transducer/custom_decoder.py
  espnet2/legacy/nets/pytorch_backend/transducer/joint_network.py
  espnet2/legacy/nets/pytorch_backend/transducer/rnn_decoder.py
Due: auto add label=ESPnet2

Moved test.arpa
  test/espnet2/legacy/test.arpa
Due: none

Fixed CI
  espnet2/legacy/nets/pytorch_backend/transducer/blocks.py
  espnet2/legacy/nets/pytorch_backend/transducer/conv1d_nets.py
  espnet2/legacy/nets/pytorch_backend/transducer/custom_decoder.py
  espnet2/legacy/nets/pytorch_backend/transducer/joint_network.py
  espnet2/legacy/nets/pytorch_backend/transducer/rnn_decoder.py
  espnet2/legacy/nets/pytorch_backend/transducer/transformer_decoder_layer.py
  espnet2/legacy/nets/pytorch_backend/transducer/utils.py
  espnet2/legacy/nets/transducer_decoder_interface.py
Due: auto add label=ESPnet2

Fixed scripts under `utils/`
  utils/addjson.py
  utils/apply-cmvn.py
  utils/asr_align_wav.sh
  utils/compute-cmvn-stats.py
  utils/compute-fbank-feats.py
  utils/compute-stft-feats.py
  utils/concat_json_multiref.py
  utils/concatjson.py
  utils/convert_fbank_to_wav.py
  utils/copy-feats.py
  utils/dump-pcm.py
  utils/eval-source-separation.py
  utils/generate_wav_from_fbank.py
  utils/json2text.py
  utils/json2trn.py
  utils/json2trn_mt.py
  utils/json2trn_wo_dict.py
  utils/make_pair_json.py
  utils/merge_scp2json.py
  utils/mergejson.py
  utils/splitjson.py
Due: none

Skip ESPnet-1 integration test
  .github/workflows/ci_on_ubuntu.yml
Due: auto add label=CI

Applied format
  utils/generate_wav_from_fbank.py
Due: none

Add script used in test_utils
  espnet2/legacy/nets/pytorch_backend/wavenet.py
Due: auto add label=ESPnet2

Add search package
  espnet2/search/__init__.py
  espnet2/search/batch_beam_search.py
  espnet2/search/batch_beam_search_online.py
  espnet2/search/batch_beam_search_online_sim.py
  espnet2/search/beam_search_partially_AR.py
  espnet2/search/beam_search_timesync.py
  espnet2/search/beam_search_timesync_streaming.py
  espnet2/search/ctc_prefix_score.py
  espnet2/search/scorers/__init__.py
  espnet2/search/scorers/ctc.py
  espnet2/search/scorers/length_bonus.py
  espnet2/search/scorers/scorer_interface.py
  espnet2/search/scorers/uasr.py
Due: auto add label=ESPnet2

Fixed import sentence from espnet to espnet2, for show_asr_result.sh
  egs2/TEMPLATE/asr1/scripts/utils/show_asr_result.sh
Due: auto add label=ESPnet2

espnet -> espnet2 for asr/scripts/utils/
  egs2/TEMPLATE/asr1/scripts/utils/show_asvspoof_result.sh
  egs2/TEMPLATE/asr1/scripts/utils/show_cls_result.sh
  egs2/TEMPLATE/asr1/scripts/utils/show_diar_result.sh
  egs2/TEMPLATE/asr1/scripts/utils/show_enh_score.sh
  egs2/TEMPLATE/asr1/scripts/utils/show_spk_result.py
  egs2/TEMPLATE/asr1/scripts/utils/show_translation_result.sh
  egs2/TEMPLATE/asr1/scripts/utils/show_tts_results.sh
Due: auto add label=ESPnet2

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(ci/|.github/)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
