Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

Fixed CI and format infer/measure config
  egs3/mini_an4/asr/conf/inference.yaml
  egs3/mini_an4/asr/conf/inference_transducer.yaml
  egs3/mini_an4/asr/conf/measure.yaml
  egs3/mini_an4/asr/src/inference.py
Due: none

Removed transducer system and fixed unit tests
  ci/test_integration_espnet3.sh
  test/espnet3/components/data/test_dataloader_builder.py
  test/espnet3/systems/asr/test_asr_transducer.py
Due: auto add label=CI

Bug fix
  test/espnet3/components/data/test_dataloader_builder.py
Due: none

Add tests for CI
  test/espnet3/components/data/test_dataloader_builder.py
  test/espnet3/components/trainers/test_trainer.py
  test/espnet3/utils/test_config.py
Due: none

CI fixed
  test/espnet3/components/data/test_dataloader_builder.py
Due: none

FastSpeech2: Add shape-bucketing for XPU inference and torch.compile graph-break fixes
  espnet2/legacy/nets/pytorch_backend/fastspeech/length_regulator.py
  espnet2/legacy/nets/pytorch_backend/nets_utils.py
  espnet2/tts/fastspeech2/fastspeech2.py
Due: auto add label=ESPnet2

Fix olens calculation with alpha: round per-duration before summing
  espnet2/tts/fastspeech2/fastspeech2.py
Due: auto add label=ESPnet2

refactor: move bucket config from class attrs to __init__ params
  espnet2/tts/fastspeech2/fastspeech2.py
Due: auto add label=ESPnet2

style: extract default bucket lists to module-level constants
  espnet2/tts/fastspeech2/fastspeech2.py
Due: auto add label=ESPnet2

Add ESPnet3 SLU system and task test suite
  test/espnet3/systems/slu/test_system.py
  test/espnet3/systems/slu/test_task.py
Due: none

Update namings
  ci/test_integration_espnet3.sh
  egs3/TEMPLATE/asr/conf/inference.yaml
  egs3/TEMPLATE/asr/conf/metrics.yaml
  egs3/TEMPLATE/asr/conf/training.yaml
  egs3/TEMPLATE/asr/readme.md
  egs3/TEMPLATE/asr/run.py
  egs3/TEMPLATE/asr/src/inference.py
  egs3/mini_an4/asr/conf/inference.yaml
  egs3/mini_an4/asr/conf/inference_transducer.yaml
  egs3/mini_an4/asr/conf/metrics.yaml
  egs3/mini_an4/asr/conf/train_asr_rnn_debug.yaml
  egs3/mini_an4/asr/conf/training.yaml
  egs3/mini_an4/asr/conf/training_asr_rnn.yaml
  egs3/mini_an4/asr/conf/training_asr_rnn_data_aug.yaml
  egs3/mini_an4/asr/conf/training_asr_streaming.yaml
  egs3/mini_an4/asr/conf/training_asr_transducer.yaml
  egs3/mini_an4/asr/conf/training_asr_transformer.yaml
  egs3/mini_an4/asr/conf/training_lm_rnn.yaml
  egs3/mini_an4/asr/conf/training_transducer_asr_conformer_rnnt.yaml
  egs3/mini_an4/asr/src/creating_dataset.py
  egs3/mini_an4/asr/src/inference.py
Due: auto add label=CI

Add Dockerfile and CI workflow for building Docker images
  .github/docker/Dockerfile.ci
  .github/workflows/build_docker_images.yml
  .github/workflows/ci_on_ubuntu.yml
Due: auto add label=CI

Fix dataset loading bugs
  egs3/TEMPLATE/tse/conf/infer.yaml
  egs3/TEMPLATE/tse/conf/measure.yaml
  egs3/TEMPLATE/tse/conf/train.yaml
  egs3/TEMPLATE/tse/run.py
  egs3/TEMPLATE/tse/src/infer.py
  egs3/librimix/tse/conf/infer.yaml
  egs3/librimix/tse/conf/measure.yaml
  egs3/librimix/tse/conf/publish.yaml
  egs3/librimix/tse/conf/tuning/train_td_speakerbeam_16k.yaml
  egs3/librimix/tse/readmd.md
  egs3/librimix/tse/readme.md
  egs3/librimix/tse/run.sh
  egs3/librimix/tse/src/create_dataset.py
  egs3/librimix/tse/src/dataset.py
  espnet2/train/preprocessor.py
  espnet3/systems/base/system.py
Due: auto add label=ESPnet2

updates on makefile
  tools/Makefile
Due: auto add label=Installation

Update .gitignore and fix timer functions in Makefile for consistent naming
  .gitignore
  tools/Makefile
Due: auto add label=Installation

Refactor CI workflows and Docker configurations for improved structure and dependency management
  .devcontainer/ci_cpu/espnet.dockerfile
  .github/docker/Dockerfile.ci
  .github/workflows/build_docker_images.yml
  .github/workflows/ci_on_ubuntu.yml
Due: auto add label=CI

Add timer functions to install script for improved execution tracking
  ci/install.sh
Due: auto add label=CI

Refactor CI workflow by removing setup_environment job and updating dependencies for consistency
  .github/workflows/ci_on_ubuntu.yml
Due: auto add label=CI

Remove error simulation from integration tests in CI workflow for cleaner execution
  .github/workflows/ci_on_ubuntu.yml
Due: auto add label=CI

Add installation of system dependencies in CI workflow for improved setup
  .github/actions/install-system-dependencies/action.yml
  .github/workflows/ci_on_ubuntu.yml
Due: auto add label=CI

Add Kaldi installation step to integration test job in CI workflow
  .github/workflows/ci_on_ubuntu.yml
Due: auto add label=CI

Move Kaldi installation step to the correct position in the CI workflow for integration tests
  .github/workflows/ci_on_ubuntu.yml
Due: auto add label=CI

Remove commented-out caching steps from CI workflow for clarity
  .github/actions/install-system-dependencies/action.yml
  .github/workflows/ci_on_ubuntu.yml
Due: auto add label=CI

Bugfix on sharded dataset
  espnet3/components/data/dataloader.py
Due: none

Move class paths to TEMPLATE default config.
  egs3/TEMPLATE/asr/conf/inference.yaml
  egs3/TEMPLATE/asr/conf/metrics.yaml
  egs3/TEMPLATE/asr/conf/training.yaml
  egs3/TEMPLATE/asr/run.py
  egs3/mini_an4/asr/conf/inference.yaml
  egs3/mini_an4/asr/conf/inference_transducer.yaml
  egs3/mini_an4/asr/conf/metrics.yaml
  egs3/mini_an4/asr/conf/training_asr_rnn.yaml
  egs3/mini_an4/asr/conf/training_asr_rnn_data_aug.yaml
  egs3/mini_an4/asr/conf/training_asr_streaming.yaml
  egs3/mini_an4/asr/conf/training_asr_transducer.yaml
  egs3/mini_an4/asr/conf/training_asr_transformer.yaml
  egs3/mini_an4/asr/conf/training_lm_rnn.yaml
  egs3/mini_an4/asr/conf/training_transducer_asr_conformer_rnnt.yaml
Due: none

Add unit test
  test/egs3/TEMPLATE/asr/test_run.py
Due: none

Applied format
  egs3/TEMPLATE/asr/run.py
  egs3/mini_an4/asr/src/creating_dataset.py
  test/espnet3/components/data/test_dataloader_builder.py
  test/espnet3/components/trainers/test_trainer.py
Due: none

Add egs3 as package for default config
  pyproject.toml
Due: none

Comment out unit tests that is fixed in another PR.
  test/espnet3/components/data/test_dataloader_builder.py
Due: none

Fix dataset loading bugs in training
  egs3/librimix/tse/conf/tuning/train_td_speakerbeam_16k.yaml
  egs3/librimix/tse/src/dataset.py
  espnet2/iterators/chunk_iter_factory.py
Due: auto add label=ESPnet2

Simplify TSE task args definition; Modify hyperparameters in train.config
  egs3/librimix/tse/conf/tuning/train_td_speakerbeam_16k.yaml
  espnet3/systems/tse/task.py
Due: none

Enhance config description and move unneccesory configs to optional config.
  egs3/TEMPLATE/asr/conf/inference.yaml
  egs3/TEMPLATE/asr/conf/metrics.yaml
  egs3/TEMPLATE/asr/conf/training.yaml
  espnet3/systems/base/inference.py
  espnet3/systems/base/inference_runner.py
  espnet3/systems/base/metric.py
  test/espnet3/systems/asr/test_asr_inference.py
  test/espnet3/systems/base/test_inference.py
  test/espnet3/systems/base/test_inference_runner.py
  test/espnet3/systems/base/test_metric.py
Due: none

Add comment on measure stage and metrics.yaml
  egs3/TEMPLATE/asr/run.py
Due: none

Applied format
  test/egs3/TEMPLATE/asr/test_run.py
  test/espnet3/components/data/test_dataloader_builder.py
  test/espnet3/systems/base/test_inference_runner.py
Due: none

Fixed configs and refactored run.py accordingly
  egs3/TEMPLATE/asr/conf/inference.yaml
  egs3/TEMPLATE/asr/conf/metrics.yaml
  egs3/TEMPLATE/asr/conf/training.yaml
  egs3/TEMPLATE/asr/run.py
  egs3/mini_an4/asr/conf/inference.yaml
  egs3/mini_an4/asr/conf/metrics.yaml
  egs3/mini_an4/asr/conf/training_asr_rnn.yaml
  egs3/mini_an4/asr/conf/training_asr_rnn_data_aug.yaml
  egs3/mini_an4/asr/run.py
  espnet3/components/data/data_organizer.py
  espnet3/systems/base/inference_provider.py
  espnet3/utils/config_utils.py
  espnet3/utils/logging_utils.py
  espnet3/utils/stages_utils.py
  espnet3/utils/task_utils.py
  test/egs3/TEMPLATE/asr/test_run.py
  test/espnet3/utils/test_config.py
  test/espnet3/utils/test_stages.py
Due: none

Add comments on config, reflect review
  egs3/TEMPLATE/asr/conf/training.yaml
  egs3/TEMPLATE/asr/run.py
  egs3/mini_an4/asr/conf/inference.yaml
  egs3/mini_an4/asr/conf/inference_transducer.yaml
  egs3/mini_an4/asr/conf/metrics.yaml
  egs3/mini_an4/asr/conf/training_asr_rnn.yaml
  egs3/mini_an4/asr/conf/training_asr_rnn_data_aug.yaml
  egs3/mini_an4/asr/conf/training_asr_streaming.yaml
  egs3/mini_an4/asr/conf/training_asr_transducer.yaml
  egs3/mini_an4/asr/conf/training_asr_transformer.yaml
  egs3/mini_an4/asr/conf/training_lm_rnn.yaml
  egs3/mini_an4/asr/conf/training_transducer_asr_conformer_rnnt.yaml
Due: none

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(ci/|.github/)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
