Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(ci/|.github/)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/

add academicodec
  egs2/TEMPLATE/asr1/pyscripts/feats/dump_codec.py
  egs2/TEMPLATE/speechlm1/speechlm.sh
  espnet2/speechlm/postprocessor/codec_post_processor.py
Due: auto add label=ESPnet2

add tf32 feature ; add many config files
  egs2/libritts/speechlm1/conf/decode_encodec.yaml
  egs2/libritts/speechlm1/conf/train_multiscale_academic.yaml
  egs2/libritts/speechlm1/conf/train_valle_academic.yaml
  egs2/libritts/speechlm1/run_acadamic.sh
  espnet2/tasks/abs_task.py
Due: auto add label=ESPnet2

Add urdu shrutilipi recipe
  egs2/urdu_shrutilipi/asr1/asr.sh
  egs2/urdu_shrutilipi/asr1/cmd.sh
  egs2/urdu_shrutilipi/asr1/conf/decode_asr.yaml
  egs2/urdu_shrutilipi/asr1/conf/decode_asr_whisper_noctc_greedy.yaml
  egs2/urdu_shrutilipi/asr1/conf/fbank.conf
  egs2/urdu_shrutilipi/asr1/conf/pbs.conf
  egs2/urdu_shrutilipi/asr1/conf/pitch.conf
  egs2/urdu_shrutilipi/asr1/conf/queue.conf
  egs2/urdu_shrutilipi/asr1/conf/slurm.conf
  egs2/urdu_shrutilipi/asr1/conf/train_asr.yaml
  egs2/urdu_shrutilipi/asr1/conf/tuning/decode_asr_timesync.yaml
  egs2/urdu_shrutilipi/asr1/conf/tuning/decode_ctc_bs1.yaml
  egs2/urdu_shrutilipi/asr1/conf/tuning/decode_transducer.yaml
  egs2/urdu_shrutilipi/asr1/conf/tuning/train_asr_conformer_lr2e-3_warmup15k_amp_nondeterministic.yaml
  egs2/urdu_shrutilipi/asr1/conf/tuning/train_asr_ctc_e_branchformer_e12_mlp1024_linear1024.yaml
  egs2/urdu_shrutilipi/asr1/conf/tuning/train_asr_e_branchformer_size256_mlp1024_linear1024_e12_mactrue_edrop0.0_ddrop0.0.yaml
  egs2/urdu_shrutilipi/asr1/conf/tuning/train_asr_transducer_conformer_e15_linear1024.yaml
  egs2/urdu_shrutilipi/asr1/conf/tuning/train_asr_transducer_e_branchformer_e12_mlp1024_linear1024.yaml
  egs2/urdu_shrutilipi/asr1/conf/tuning/train_asr_transformer_win400_hop160_ctc0.3_lr2e-3_warmup15k_timemask5_amp_no-deterministic.yaml
  egs2/urdu_shrutilipi/asr1/conf/tuning/train_asr_whisper_full.yaml
  egs2/urdu_shrutilipi/asr1/conf/tuning/train_conformer_ctc.yaml
  egs2/urdu_shrutilipi/asr1/conf/tuning/train_conformer_interctc.yaml
  egs2/urdu_shrutilipi/asr1/conf/tuning/train_conformer_scctc.yaml
  egs2/urdu_shrutilipi/asr1/db.sh
  egs2/urdu_shrutilipi/asr1/local/data.sh
  egs2/urdu_shrutilipi/asr1/local/data_prep.py
  egs2/urdu_shrutilipi/asr1/path.sh
  egs2/urdu_shrutilipi/asr1/pyscripts
  egs2/urdu_shrutilipi/asr1/run.sh
  egs2/urdu_shrutilipi/asr1/scripts
  egs2/urdu_shrutilipi/asr1/steps
  egs2/urdu_shrutilipi/asr1/utils
Due: auto add label=ESPnet2

update run.sh
  egs2/TEMPLATE/codec1/codec.sh
  egs2/libritts/codec1/cmd.sh
  egs2/libritts/codec1/conf/train_soundstream2.yaml
  egs2/libritts/codec1/conf/train_soundstream3.yaml
  egs2/libritts/codec1/conf/train_soundstream4.yaml
  egs2/libritts/codec1/conf/train_soundstream5.yaml
  egs2/libritts/codec1/run.sh
Due: auto add label=ESPnet2

compute acc only on target segments
  espnet2/speechlm/core_lm/ar_multiscale.py
  espnet2/speechlm/core_lm/valle.py
  espnet2/speechlm/espnet_model.py
  espnet2/speechlm/net_utils.py
  espnet2/speechlm/postprocessor/codec_post_processor.py
  espnet2/tasks/speechlm.py
Due: auto add label=ESPnet2

update
  egs2/libritts/speechlm1/conf/train_multiscale.yaml
  egs2/libritts/speechlm1/conf/train_valle.yaml
  egs2/libritts/speechlm1/run_long.sh
Due: auto add label=ESPnet2

Revert "add sample yaml and two loss"
  egs2/asvspoof/spk1/conf/train_sasv_SKA_mel.yaml
  espnet2/spk/espnet_model.py
  espnet2/tasks/spk.py
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

change
  espnet2/gan_codec/soundstream/soundstream.py
Due: auto add label=ESPnet2

before merge
  egs2/libritts/codec1/conf/train_soundstream2.yaml
  egs2/libritts/codec1/run.sh
Due: auto add label=ESPnet2

update typeguard and preprocessor
  egs2/TEMPLATE/spk1/spk.sh
  egs2/asvspoof/spk1/conf/train_sasv_SKA_mel.yaml
  espnet2/tasks/spk.py
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

fix flake8 issues - espnet2
  espnet2/asr/frontend/whisper.py
  espnet2/tasks/tts2.py
  espnet2/tts2/espnet_model.py
  espnet2/tts2/feats_extract/abs_feats_extract.py
  espnet2/tts2/feats_extract/identity.py
  test/espnet2/gan_svs/visinger/test_visinger.py
  test/espnet2/gan_tts/hifigan/test_hifigan.py
  test/espnet2/gan_tts/melgan/test_melgan.py
  test/espnet2/gan_tts/parallel_wavegan/test_parallel_wavegan.py
  test/espnet2/gan_tts/style_melgan/test_style_melgan.py
Due: auto add label=ESPnet2

fix flake8 espnet
  espnet/nets/pytorch_backend/nets_utils.py
  espnet/nets/pytorch_backend/rnn/attentions.py
Due: auto add label=ESPnet1

add doc flake8
  ci/test_flake8.sh
  espnet/asr/pytorch_backend/asr.py
  espnet/utils/spec_augment.py
Due: auto add label=ESPnet1, auto add label=ASR, auto add label=CI

delete visualizer
  egs2/ml_superb/asr1/local/visualizer.ipynb
Due: auto add label=ESPnet2

test cases
  espnet2/iterators/sequence_iter_factory.py
  test/espnet2/asr/test_pit_espnet_model.py
  test/espnet2/enh/test_espnet_enh_s2t_model.py
Due: auto add label=ESPnet2

fix ci error about installation on macos
  .github/workflows/ci_on_macos.yml
Due: auto add label=CI

modify DYLD_LIBRARY_PATH
  .github/workflows/ci_on_macos.yml
Due: auto add label=CI

change macOS-latest to macOS-13
  .github/workflows/ci_on_macos.yml
Due: auto add label=CI

unit tests
  egs2/librispeech/ssl1/conf/tuning/train_ssl_espnethubert_base_960h_pretrain_it1.yaml
  espnet2/asr/frontend/cnn.py
  espnet2/asr/maskctc_model.py
  espnet2/ssl/espnet_model.py
  espnet2/ssl/mask/hubert_mask.py
  espnet2/tasks/abs_task.py
Due: auto add label=ESPnet2

typeguard
  espnet2/asr/preencoder/subsampling.py
  espnet2/samplers/grouped_num_elements_batch_sampler.py
  espnet2/tasks/ssl.py
Due: auto add label=ESPnet2

unit test
  espnet2/tasks/asr.py
Due: auto add label=ESPnet2

error on duplicate text
  espnet2/fileio/read_text.py
  test/espnet2/asr/test_maskctc_model.py
  test/espnet2/asr/test_pit_espnet_model.py
  test/espnet2/enh/test_espnet_enh_s2t_model.py
Due: auto add label=ESPnet2

delete deprecated corelm files
  espnet2/speechlm/core_lm/ar.py
  espnet2/speechlm/core_lm/ar_nar.py
  espnet2/speechlm/core_lm/nar.py
Due: auto add label=ESPnet2

Revert "change macOS-latest to macOS-13"
  .github/workflows/ci_on_macos.yml
Due: auto add label=CI

Revert "modify DYLD_LIBRARY_PATH"
  .github/workflows/ci_on_macos.yml
Due: auto add label=CI

Revert "fix ci error about installation on macos"
  .github/workflows/ci_on_macos.yml
Due: auto add label=CI

disable shellcheck SC1003
  egs2/iwslt24_indic/st1/local/data.sh
Due: auto add label=ESPnet2

change syntax to solve SC2143
  egs2/iwslt24_indic/st1/local/data.sh
Due: auto add label=ESPnet2

Fix featurizer name
  espnet2/asr/espnet_model.py
  espnet2/slu/espnet_model.py
  espnet2/slu/postencoder/featurizer.py
Due: auto add label=ESPnet2

Add database information in README
  egs2/README.md
Due: auto add label=ESPnet2, auto add label=README

update based on jiatong's comment
  egs2/libritts/codec1/conf/train_encodec.yaml
  espnet2/gan_codec/encodec/encodec.py
  espnet2/gan_codec/shared/discriminator/msstft_conv.py
  espnet2/gan_codec/shared/discriminator/msstft_discriminator.py
Due: auto add label=ESPnet2

pit unit test
  espnet2/asr/maskctc_model.py
  espnet2/asr/pit_espnet_model.py
  test/espnet2/asr/test_pit_espnet_model.py
Due: auto add label=ESPnet2

preencoder
  espnet2/tasks/asr.py
Due: auto add label=ESPnet2

collate fn downsampling for hubert
  espnet2/train/collate_fn.py
Due: auto add label=ESPnet2

comment length
  espnet2/train/collate_fn.py
Due: auto add label=ESPnet2

test device in pad mask
  test/test_nets_utils.py
Due: none

test typo
  test/test_nets_utils.py
Due: none

spk_mtl first attempt
  egs2/TEMPLATE/spk1/spk.sh
  espnet2/spk/espnet_model.py
  espnet2/tasks/abs_task.py
  espnet2/tasks/spk.py
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2
