Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

Support Whisper finetune for ST task.
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/st1/st.sh
  espnet/nets/e2e_mt_common.py
  espnet2/bin/asr_inference.py
  espnet2/bin/st_inference.py
  espnet2/bin/whisper_export_vocabulary.py
  espnet2/layers/create_lora_adapter.py
  espnet2/st/espnet_model.py
  espnet2/tasks/st.py
  espnet2/text/build_tokenizer.py
  espnet2/text/whisper_token_id_converter.py
  espnet2/text/whisper_tokenizer.py
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet1, auto add label=ESPnet2

fix typo
  egs2/mls/asr1/run.sh
  egs2/mls/asr2/run.sh
Due: auto add label=ESPnet2

Resolve mfa_format.py
  egs2/TEMPLATE/asr1/pyscripts/utils/mfa_format.py
Due: auto add label=ESPnet2

Resolve hubert.sh
  egs2/TEMPLATE/ssl1/hubert.sh
Due: auto add label=ESPnet2

Resolve preprocessor.py
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

Resolve code related to transformer decoder beam search
  espnet/nets/batch_beam_search.py
  espnet/nets/batch_beam_search_online.py
  espnet/nets/beam_search.py
  espnet2/asr/decoder/transformer_decoder.py
Due: auto add label=ESPnet1, auto add label=ESPnet2

Resolve hubert feature dumping related
  egs2/TEMPLATE/asr1/pyscripts/feats/dump_feats.py
  egs2/TEMPLATE/asr1/pyscripts/feats/feats_loader.py
  egs2/TEMPLATE/asr1/pyscripts/feats/learn_kmeans_cuml.py
  egs2/TEMPLATE/asr1/pyscripts/feats/learn_kmeans_faiss.py
  egs2/TEMPLATE/asr1/pyscripts/feats/learn_kmeans_sklearn.py
  egs2/TEMPLATE/asr1/scripts/feats/perform_kmeans.sh
  egs2/librispeech/asr2/local/dump_hubert_or_wavlm_feature.py
Due: auto add label=ESPnet2

to: restruct diffsinger&fftsinger
  .gitignore
  egs2/opencpop/svs1/conf/tuning/train_diffsinger.yaml
  egs2/opencpop/svs1/conf/tuning/train_fftsinger.yaml
  espnet2/svs/diffsinger/diffsinger.py
  espnet2/svs/diffsinger/fftsinger.py
  espnet2/svs/xiaoice/XiaoiceSing.py
  espnet2/tasks/svs.py
Due: auto add label=ESPnet2

Fix CI test errors.
  espnet2/bin/whisper_export_vocabulary.py
  espnet2/text/whisper_token_id_converter.py
  espnet2/text/whisper_tokenizer.py
  test/espnet2/bin/test_whisper_export_vocabulary.py
  test/espnet2/text/test_whisper_token_id_converter.py
  test/espnet2/text/test_whisper_tokenizer.py
Due: auto add label=ESPnet2

Fix CI test error.
  test/espnet2/bin/test_whisper_export_vocabulary.py
Due: none

Improve diacritic compatibility in `data_prep.pl` data preparation scripts.
  egs/commonvoice/asr1/local/data_prep.pl
  egs/covost2/st1/local/data_prep_commonvoice.pl
  egs2/fleurs/asr1/local/data_prep.pl
  egs2/open_li52/asr1/local/data_prep.pl
Due: auto add label=ESPnet1, auto add label=ESPnet2

Replace s2st's perform_kmeans.sh with asr2's version
  egs2/TEMPLATE/asr1/scripts/feats/perform_kmeans.sh
  egs2/TEMPLATE/s2st1/s2st.sh
  egs2/cvss/s2st1/run_unity.sh
Due: auto add label=ESPnet2

Revert changes to asr2's perform_kmeans.sh
  egs2/TEMPLATE/asr1/scripts/feats/perform_kmeans.sh
  egs2/TEMPLATE/s2st1/s2st.sh
Due: auto add label=ESPnet2

fix twice numpy installation issue
  tools/Makefile
Due: auto add label=Installation

downgrade checkout version for centos
  .github/workflows/ci_on_centos7.yml
Due: auto add label=CI

fix
  tools/Makefile
Due: auto add label=Installation

increase timeout 5 -> 10
  test/espnet2/bin/test_asr_inference.py
Due: none

fix twice numpy installation issue (#5447)
  .github/workflows/ci_on_centos7.yml
  test/espnet2/bin/test_asr_inference.py
  tools/Makefile
Due: auto add label=CI, auto add label=Installation

inital commit
  egs2/TEMPLATE/asr1/db.sh
  egs2/wav2gloss/asr1/asr.sh
  egs2/wav2gloss/asr1/cmd.sh
  egs2/wav2gloss/asr1/conf/fbank.conf
  egs2/wav2gloss/asr1/conf/pbs.conf
  egs2/wav2gloss/asr1/conf/pitch.conf
  egs2/wav2gloss/asr1/conf/queue.conf
  egs2/wav2gloss/asr1/conf/slurm.conf
  egs2/wav2gloss/asr1/conf/tuning/decode_transformer.yaml
  egs2/wav2gloss/asr1/conf/tuning/train_asr_hubert_large_ll60k_transformer.yaml
  egs2/wav2gloss/asr1/conf/tuning/train_lm.yaml
  egs2/wav2gloss/asr1/db.sh
  egs2/wav2gloss/asr1/local/data.sh
  egs2/wav2gloss/asr1/local/data_prep.py
  egs2/wav2gloss/asr1/local/path.sh
  egs2/wav2gloss/asr1/path.sh
  egs2/wav2gloss/asr1/pyscripts
  egs2/wav2gloss/asr1/run.sh
  egs2/wav2gloss/asr1/scripts
  egs2/wav2gloss/asr1/utils
Due: auto add label=ESPnet2

add default perturbation
  egs2/TEMPLATE/spk1/spk.sh
Due: auto add label=ESPnet2

change default train test cfg
  egs2/voxceleb/spk1/run.sh
Due: auto add label=ESPnet2

change trainset
  egs2/voxceleb/spk1/run.sh
Due: auto add label=ESPnet2

update timestamp tokens to Whisper exported tokens
  espnet2/bin/whisper_export_vocabulary.py
Due: auto add label=ESPnet2

Add the VOiCES recipe for ASR
  egs2/README.md
  egs2/voices/asr1/asr.sh
  egs2/voices/asr1/cmd.sh
  egs2/voices/asr1/conf/decode_asr.yaml
  egs2/voices/asr1/conf/fbank.conf
  egs2/voices/asr1/conf/pbs.conf
  egs2/voices/asr1/conf/pitch.conf
  egs2/voices/asr1/conf/queue.conf
  egs2/voices/asr1/conf/slurm.conf
  egs2/voices/asr1/conf/train_asr_conformer.yaml
  egs2/voices/asr1/conf/tuning/train_lm_transformer2.yaml
  egs2/voices/asr1/db.sh
  egs2/voices/asr1/local/data.sh
  egs2/voices/asr1/local/path.sh
  egs2/voices/asr1/local/prepare_multich_datadir.py
  egs2/voices/asr1/path.sh
  egs2/voices/asr1/pyscripts
  egs2/voices/asr1/run.sh
  egs2/voices/asr1/scripts
  egs2/voices/asr1/utils
Due: auto add label=ESPnet2, auto add label=README

Update db.sh;
  egs2/TEMPLATE/asr1/db.sh
Due: auto add label=ESPnet2

add comments
  espnet2/text/whisper_tokenizer.py
Due: auto add label=ESPnet2

Update local/data.sh to add the final test set
  egs2/voices/asr1/local/data.sh
Due: auto add label=ESPnet2

combat edge cases
  egs2/wav2gloss/asr1/local/data.sh
  egs2/wav2gloss/asr1/local/data_prep.py
Due: auto add label=ESPnet2

update config
  egs2/bibletts/tts1/README.md
  egs2/bibletts/tts1/conf/tuning/decode_fastspeech.yaml
  egs2/bibletts/tts1/conf/tuning/decode_tacotron2.yaml
  egs2/bibletts/tts1/conf/tuning/finetune_joint_conformer_fastspeech2_hifigan.yaml
  egs2/bibletts/tts1/conf/tuning/train_conformer_fastspeech.yaml
  egs2/bibletts/tts1/conf/tuning/train_conformer_fastspeech2.yaml
  egs2/bibletts/tts1/conf/tuning/train_fastspeech.yaml
  egs2/bibletts/tts1/conf/tuning/train_fastspeech2.yaml
  egs2/bibletts/tts1/conf/tuning/train_full_band_vits.yaml
  egs2/bibletts/tts1/conf/tuning/train_jets.yaml
  egs2/bibletts/tts1/conf/tuning/train_joint_conformer_fastspeech2_hifigan.yaml
  egs2/bibletts/tts1/conf/tuning/train_prodiff.yaml
  egs2/bibletts/tts1/conf/tuning/train_tacotron2.yaml
  egs2/bibletts/tts1/conf/tuning/train_transformer.yaml
  egs2/bibletts/tts1/run.sh
Due: auto add label=ESPnet2, auto add label=README

Incorporate feedback
  egs2/stop/asr1_multitask/run_fsd1.sh
  egs2/stop/asr1_multitask/run_fsd2.sh
Due: auto add label=ESPnet2

update after CI
  egs2/acesinger/svs1/local/data_prep.py
  egs2/acesinger/svs1/run.sh
Due: auto add label=ESPnet2

Initial setting
  egs2/wav2gloss/asr1/conf/tuning/train_lm.yaml
  egs2/wav2gloss/asr1/conf/tuning/train_lm_4layers.yaml
  egs2/wav2gloss/asr1/conf/tuning/train_xls_r_conformer.yaml
  egs2/wav2gloss/asr1/local/data.sh
  egs2/wav2gloss/asr1/local/data_prep.py
  egs2/wav2gloss/asr1/run.sh
Due: auto add label=ESPnet2

Fix CI
  espnet2/bin/whisper_export_vocabulary.py
  espnet2/text/build_tokenizer.py
  espnet2/text/whisper_token_id_converter.py
  espnet2/text/whisper_tokenizer.py
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

Do not log to root logger use get_logger(__name__) instead
  espnet/nets/batch_beam_search.py
  espnet/nets/beam_search.py
Due: auto add label=ESPnet1

Update beam_size in egs2/voices/asr1/conf/decode_asr.yaml
  egs2/voices/asr1/conf/decode_asr.yaml
Due: auto add label=ESPnet2

Make learn_kmeans.py deterministic
  egs2/TEMPLATE/asr1/pyscripts/utils/learn_kmeans.py
Due: auto add label=ESPnet2

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
