Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

update file
  egs2/librispeech/speechlm1/conf/train_multiscale_smollm_360m.yaml
Due: auto add label=ESPnet2

term project
  egs2/librispeech/speechlm1/conf/train_delay_asr_small.yaml
  egs2/tedlium2/speechlm1/cmd.sh
  egs2/tedlium2/speechlm1/conf/decode_asr.yaml
  egs2/tedlium2/speechlm1/conf/pbs.conf
  egs2/tedlium2/speechlm1/conf/queue.conf
  egs2/tedlium2/speechlm1/conf/slurm.conf
  egs2/tedlium2/speechlm1/conf/train_delay_asr_small.yaml
  egs2/tedlium2/speechlm1/db.sh
  egs2/tedlium2/speechlm1/local/path.sh
  egs2/tedlium2/speechlm1/path.sh
  egs2/tedlium2/speechlm1/pyscripts
  egs2/tedlium2/speechlm1/run_asr_wavlm.sh
  egs2/tedlium2/speechlm1/scripts
  egs2/tedlium2/speechlm1/speechlm.sh
  egs2/tedlium2/speechlm1/steps
  egs2/tedlium2/speechlm1/utils
  espnet2/speechlm/loss.py
Due: auto add label=ESPnet2

update term project config
  egs2/librispeech/speechlm1/average.sh
  egs2/librispeech/speechlm1/conf/train_delay_asr_small.yaml
  egs2/librispeech/speechlm1/run_asr_wavlm.sh
  egs2/tedlium2/speechlm1/average.sh
  egs2/tedlium2/speechlm1/conf/train_delay_asr_small.yaml
  egs2/tedlium2/speechlm1/run_asr_wavlm.sh
Due: auto add label=ESPnet2

forbid gpu inference
  egs2/librispeech/speechlm1/run_asr_wavlm.sh
  egs2/tedlium2/speechlm1/run_asr_wavlm.sh
Due: auto add label=ESPnet2

fix beats layernorm initialization bug
  .gitignore
  egs2/clotho_v2/asr1/conf/beats_bart_ft.yaml
  egs2/clotho_v2/asr1/conf/beats_bart_pt.yaml
  egs2/clotho_v2/asr1/conf/branchformer.yaml
  egs2/clotho_v2/asr1/conf/slurm.conf
  egs2/clotho_v2/asr1/local/data.sh
  egs2/clotho_v2/asr1/local/data_prep_audiocaps.py
  egs2/clotho_v2/asr1/local/data_prep_clotho.py
  egs2/clotho_v2/asr1/local/data_prep_clotho_chatgpt_mixup.py
  egs2/clotho_v2/asr1/local/evaluation.py
  egs2/clotho_v2/asr1/local/score.sh
  egs2/clotho_v2/asr1/run.sh
  egs2/clotho_v2/asr1/run_ft.sh
  egs2/clotho_v2/asr1/run_pt.sh
  espnet2/asr/encoder/beats_encoder.py
Due: auto add label=ESPnet2

add local paths to audiocaps and clotho_chatgpt_mixup
  egs2/TEMPLATE/asr1/db.sh
Due: auto add label=ESPnet2

remove ipynb ckpts
  egs2/clotho_v2/.ipynb_checkpoints/Untitled-checkpoint.ipynb
  egs2/clotho_v2/asr1/local/.ipynb_checkpoints/Checker-checkpoint.ipynb
  egs2/clotho_v2/asr1/local/.ipynb_checkpoints/data-checkpoint.sh
  egs2/clotho_v2/asr1/local/.ipynb_checkpoints/data_prep-checkpoint.py
Due: auto add label=ESPnet2

update tts eval
  egs2/TEMPLATE/asr1/scripts/utils/speechlm_eval/eval_tts.sh
Due: auto add label=ESPnet2

revise
  egs2/gigaspeech/speechlm1/local/path.sh
  egs2/gigaspeech/speechlm1/run_codec_ssl_denoise.sh
  egs2/gigaspeech/speechlm1/run_codec_ssl_tts.sh
  egs2/gigaspeech/speechlm1/run_codec_ssl_tts_wavlm.sh
  egs2/librispeech/speechlm1/run_asr_wavlm.sh
  egs2/librispeech/speechlm1/run_wavlm_smollm.sh
Due: auto add label=ESPnet2

add two codec model
  espnet2/speechlm/tokenizer/codec_tokenizer.py
Due: auto add label=ESPnet2

a tts baseline
  egs2/librispeech/speechlm1/conf/decode_tts_tencent.yaml
  egs2/librispeech/speechlm1/conf/train_delay_tts.yaml
  egs2/librispeech/speechlm1/run_tts.sh
Due: auto add label=ESPnet2

removed ''continue'' statement from the for loop in run_mono.sh
  egs2/ml_superb/asr1/run_mono.sh
Due: auto add label=ESPnet2

Add GAN-TTS
  ci/test_integration_espnetez.sh
Due: auto add label=CI

Bug fix on GAN-TTS CI
  egs2/mini_an4/tts1/conf/train_vits_debug.yaml
Due: auto add label=ESPnet2

add visinger2 plus readme
  egs2/TEMPLATE/svs1/README.md
Due: auto add label=ESPnet2, auto add label=README

add an entry at ##Table of Contents
  egs2/TEMPLATE/svs1/README.md
Due: auto add label=ESPnet2, auto add label=README

Update run_mono.sh
  egs2/ml_superb/asr1/run_mono.sh
Due: auto add label=ESPnet2

Added CI for ESPnetEZGAN-TTS and ENH-TSE
  ci/test_integration_espnetez.sh
  espnetez/dataset.py
  test/espnetez/test_integration_espnetez.py
  test/espnetez/test_integration_espnetez_ft.py
Due: auto add label=CI

Applied black
  test/espnetez/test_integration_espnetez.py
  test/espnetez/test_integration_espnetez_ft.py
Due: none

Bug fixed
  ci/test_integration_espnetez.sh
  test/espnetez/test_integration_espnetez.py
Due: auto add label=CI

Fix/revise CI config
  egs2/mini_an4/enh1/conf/train_with_data_aug_debug.yaml
  egs2/mini_an4/tse1/conf/train_debug.yaml
  egs2/mini_an4/tse1/conf/train_random_enrollment_debug.yaml
  egs2/mini_an4/tse1/conf/train_variable_nspk_debug.yaml
  egs2/mini_an4/tse1/conf/train_variable_nspk_random_enrollment_debug.yaml
Due: auto add label=ESPnet2

Bug fixed in CI
  ci/test_integration_espnetez.sh
  egs2/mini_an4/spk1/conf/train_conformer.yaml
  egs2/mini_an4/spk1/conf/train_ecapa.yaml
  egs2/mini_an4/spk1/conf/train_identity.yaml
  egs2/mini_an4/spk1/conf/train_rawnet3_debug.yaml
  egs2/mini_an4/spk1/conf/train_rawnet3_sampler.yaml
  egs2/mini_an4/spk1/conf/train_ska.yaml
  egs2/mini_an4/spk1/conf/train_xvector.yaml
Due: auto add label=ESPnet2, auto add label=CI

fix delay inference error
  espnet2/speechlm/core_lm/ar_delay.py
  espnet2/speechlm/tokenizer/codec_tokenizer.py
Due: auto add label=ESPnet2

Modified the segment size
  egs2/mini_an4/tse1/conf/train_debug.yaml
  egs2/mini_an4/tse1/conf/train_random_enrollment_debug.yaml
Due: auto add label=ESPnet2

Added conformer RNNT test in configuration check
  ci/test_configuration_espnet2.sh
Due: auto add label=CI

Fixed batching issue
  egs2/mini_an4/enh1/conf/train_debug.yaml
  egs2/mini_an4/enh1/conf/train_with_chunk_iterator_debug.yaml
Due: auto add label=ESPnet2

Added configuration test for new transducer task
  ci/test_configuration_espnet2.sh
  egs2/mini_an4/asr1/conf/train_transducer_asr_conformer_rnnt_debug.yaml
Due: auto add label=ESPnet2, auto add label=CI

Fixed config name in test_integration_espnetez
  ci/test_integration_espnetez.sh
Due: auto add label=CI

Fixed CI issue
  ci/test_integration_espnetez.sh
  egs2/mini_an4/enh_asr1/conf/train_debug.yaml
  egs2/mini_an4/tts1/conf/gan_tts/train_vits_debug.yaml
Due: auto add label=ESPnet2, auto add label=CI

Add code for training turn taking prediction model
  egs2/swbd/asr1/conf/decode_asr_chunk.yaml
  egs2/swbd/asr1/conf/train_asr_whisper_3_uselast.yaml
  egs2/swbd/asr1/local/compute_turn_take_metrics.py
  egs2/swbd/asr1/local/create_espnet_data_folders.py
  egs2/swbd/asr1/local/create_switchboard_data_2channels.py
  egs2/swbd/asr1/local/create_switchboard_data_2channels_mono.py
  egs2/swbd/asr1/local/data_turn_take.sh
  egs2/swbd/asr1/local/f1score_chunk_mixed_corrected.py
  egs2/swbd/asr1/local/likelihood_chunk_mixed.py
  egs2/swbd/asr1/local/rocauc_chunk_mixed_score.py
  egs2/swbd/asr1/local/subsample_2channel_switchboard_mono.py
  egs2/swbd/asr1/run_turn_take.sh
  espnet2/asr/espnet_model.py
  espnet2/bin/asr_inference.py
Due: auto add label=ESPnet2

Fixed config
  egs2/mini_an4/enh_asr1/conf/train_debug.yaml
  espnet2/tasks/enh_s2t.py
  test/espnetez/test_integration_espnetez.py
Due: auto add label=ESPnet2

update README, trial generation
  egs2/README.md
  egs2/rats/spk1/local/rats_trial_prep.py
Due: auto add label=ESPnet2, auto add label=README

fix README.md to include the recent updates
  egs2/README.md
Due: auto add label=ESPnet2, auto add label=README

add comments to some modules
  egs2/owsm_ctc_v3.1/s2t1/README.md
  egs2/owsm_ctc_v3.1/s2t1/run.sh
  espnet2/asr/encoder/e_branchformer_ctc_encoder.py
Due: auto add label=ESPnet2, auto add label=README

auto compute frames per sec
  egs2/owsm_ctc_v3.1/s2t1/README.md
  espnet2/bin/s2t_ctc_align.py
  espnet2/bin/s2t_inference_ctc.py
Due: auto add label=ESPnet2, auto add label=README

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(ci/|.github/)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
