Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

Updated symlink
  egs3/TEMPLATE/asr1/run.py
  egs3/librispeech_100/asr1/run.py
  egs3/librispeech_100/asr1/src/trainer.py
Due: none

Fixed based on Emrys365's review
  espnet3/collect_stats.py
  tools/setup_anaconda.sh
  tools/setup_miniforge.sh
  tools/setup_python.sh
  tools/setup_venv.sh
Due: auto add label=Installation

Added workaround on pip version
  tools/setup_anaconda.sh
  tools/setup_miniforge.sh
  tools/setup_python.sh
  tools/setup_venv.sh
Due: auto add label=Installation

Fixed unit test
  espnet3/collect_stats.py
  test/espnet3/test_collect_stats.py
Due: none

Add kosp2e asr1 recipe
  egs2/kosp2e/asr1/asr.sh
  egs2/kosp2e/asr1/cmd.sh
  egs2/kosp2e/asr1/conf/decode_asr.yaml
  egs2/kosp2e/asr1/conf/fbank.conf
  egs2/kosp2e/asr1/conf/pbs.conf
  egs2/kosp2e/asr1/conf/pitch.conf
  egs2/kosp2e/asr1/conf/queue.conf
  egs2/kosp2e/asr1/conf/slurm.conf
  egs2/kosp2e/asr1/conf/train_asr_conformer.yaml
  egs2/kosp2e/asr1/conf/train_lm_transformer.yaml
  egs2/kosp2e/asr1/db.sh
  egs2/kosp2e/asr1/local/path.sh
  egs2/kosp2e/asr1/path.sh
  egs2/kosp2e/asr1/pyscripts
  egs2/kosp2e/asr1/run.sh
  egs2/kosp2e/asr1/scripts
  egs2/kosp2e/asr1/setup.sh
  egs2/kosp2e/asr1/setup_data.py
  egs2/kosp2e/asr1/steps
  egs2/kosp2e/asr1/utils
Due: auto add label=ESPnet2

Minor change
  egs2/kosp2e/asr1/setup_data.py
Due: auto add label=ESPnet2

README added
  egs2/kosp2e/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

egs2 README edited
  egs2/README.md
Due: auto add label=ESPnet2, auto add label=README

init: BSCodec
  egs2/bscodec/codec1/README.md
  egs2/bscodec/codec1/cmd.sh
  egs2/bscodec/codec1/codec.sh
  egs2/bscodec/codec1/conf/decode.yaml
  egs2/bscodec/codec1/conf/fbank.conf
  egs2/bscodec/codec1/conf/pbs.conf
  egs2/bscodec/codec1/conf/pitch.conf
  egs2/bscodec/codec1/conf/queue.conf
  egs2/bscodec/codec1/conf/score.yaml
  egs2/bscodec/codec1/conf/scoring/score.yaml
  egs2/bscodec/codec1/conf/scoring/score_16k.yaml
  egs2/bscodec/codec1/conf/scoring/score_16k_cpu.yaml
  egs2/bscodec/codec1/conf/scoring/score_16k_gpu.yaml
  egs2/bscodec/codec1/conf/scoring/score_24k.yaml
  egs2/bscodec/codec1/conf/scoring/score_24k_cpu.yaml
  egs2/bscodec/codec1/conf/scoring/score_24k_gpu.yaml
  egs2/bscodec/codec1/conf/scoring/score_cpu.yaml
  egs2/bscodec/codec1/conf/scoring/score_gpu.yaml
  egs2/bscodec/codec1/conf/slurm.conf
  egs2/bscodec/codec1/conf/train.yaml
  egs2/bscodec/codec1/conf/tuning/BSCodec_band_simvq_2band.yaml
  egs2/bscodec/codec1/conf/tuning/BSCodec_band_simvq_3band.yaml
  egs2/bscodec/codec1/conf/tuning/BSCodec_band_vq_5band.yaml
  egs2/bscodec/codec1/conf/tuning/dac.yaml
  egs2/bscodec/codec1/db.sh
  egs2/bscodec/codec1/local/path.sh
  egs2/bscodec/codec1/path.sh
  egs2/bscodec/codec1/pyscripts
  egs2/bscodec/codec1/run.sh
  egs2/bscodec/codec1/scripts
  egs2/bscodec/codec1/steps
  egs2/bscodec/codec1/utils
  espnet2/gan_codec/bscodec/__init__.py
  espnet2/gan_codec/bscodec/bscodec.py
  espnet2/gan_codec/shared/quantizer/band_vq.py
  espnet2/gan_codec/shared/quantizer/modules/simvq.py
  espnet2/tasks/gan_codec.py
Due: auto add label=ESPnet2, auto add label=README

update: readme
  egs2/bscodec/codec1/README.md
Due: auto add label=ESPnet2, auto add label=README

fix: fix recipe name: ameboshi (from amaboshi)
  egs2/amaboshi/svs1/cmd.sh
  egs2/amaboshi/svs1/conf/decode.yaml
  egs2/amaboshi/svs1/conf/pbs.conf
  egs2/amaboshi/svs1/conf/queue.conf
  egs2/amaboshi/svs1/conf/slurm.conf
  egs2/amaboshi/svs1/conf/train.yaml
  egs2/amaboshi/svs1/conf/tuning/decode_rnn.yaml
  egs2/amaboshi/svs1/conf/tuning/train_naive_rnn.yaml
  egs2/amaboshi/svs1/conf/tuning/train_naive_rnn_dp.yaml
  egs2/amaboshi/svs1/conf/tuning/train_vits.yaml
  egs2/amaboshi/svs1/db.sh
  egs2/amaboshi/svs1/local/customed_dic.scp
  egs2/amaboshi/svs1/local/data.sh
  egs2/amaboshi/svs1/local/dataset_split.py
  egs2/amaboshi/svs1/local/path.sh
  egs2/amaboshi/svs1/local/prep_segments.py
  egs2/amaboshi/svs1/local/prep_segments_from_xml.py
  egs2/amaboshi/svs1/path.sh
  egs2/amaboshi/svs1/pyscripts
  egs2/amaboshi/svs1/run.sh
  egs2/amaboshi/svs1/scripts
  egs2/amaboshi/svs1/svs.sh
  egs2/amaboshi/svs1/utils
Due: auto add label=ESPnet2

fix: fix name
  egs2/ameboshi/svs1/cmd.sh
  egs2/ameboshi/svs1/conf/decode.yaml
  egs2/ameboshi/svs1/conf/pbs.conf
  egs2/ameboshi/svs1/conf/queue.conf
  egs2/ameboshi/svs1/conf/slurm.conf
  egs2/ameboshi/svs1/conf/train.yaml
  egs2/ameboshi/svs1/conf/tuning/decode_rnn.yaml
  egs2/ameboshi/svs1/conf/tuning/train_naive_rnn.yaml
  egs2/ameboshi/svs1/conf/tuning/train_naive_rnn_dp.yaml
  egs2/ameboshi/svs1/conf/tuning/train_vits.yaml
  egs2/ameboshi/svs1/db.sh
  egs2/ameboshi/svs1/local/customed_dic.scp
  egs2/ameboshi/svs1/local/data.sh
  egs2/ameboshi/svs1/local/dataset_split.py
  egs2/ameboshi/svs1/local/path.sh
  egs2/ameboshi/svs1/local/prep_segments.py
  egs2/ameboshi/svs1/local/prep_segments_from_xml.py
  egs2/ameboshi/svs1/path.sh
  egs2/ameboshi/svs1/pyscripts
  egs2/ameboshi/svs1/run.sh
  egs2/ameboshi/svs1/scripts
  egs2/ameboshi/svs1/svs.sh
  egs2/ameboshi/svs1/utils
  egs2/ameboshi/svs2/local/dataset_split.py
Due: auto add label=ESPnet2

fix: rm unnecessary info
  egs2/ameboshi/svs2/local/dataset_split.py
Due: auto add label=ESPnet2

fix: a path bug in run.sh
  egs2/bscodec/codec1/run.sh
Due: auto add label=ESPnet2

ci
  espnet2/speechlm/bin/prepare_audio_arkive.py
  espnet2/speechlm/dataloader/multimodal_loader/audio_loader.py
Due: auto add label=ESPnet2

fix: CI issues
  espnet2/gan_codec/bscodec/bscodec.py
  espnet2/gan_codec/shared/quantizer/band_vq.py
  espnet2/gan_codec/shared/quantizer/modules/core_vq.py
  espnet2/gan_codec/shared/quantizer/modules/simvq.py
Due: auto add label=ESPnet2

fix CI: import einx
  espnet2/gan_codec/shared/quantizer/modules/simvq.py
Due: auto add label=ESPnet2

fix CI
  espnet2/gan_codec/shared/quantizer/modules/core_vq.py
Due: auto add label=ESPnet2

fix CI: remove unused import
  espnet2/gan_codec/bscodec/__init__.py
  espnet2/gan_codec/shared/quantizer/band_vq.py
  espnet2/gan_codec/shared/quantizer/modules/core_vq.py
Due: auto add label=ESPnet2

Moved data related scripts
  espnet3/components/data_organizer.py
  espnet3/components/dataset.py
Due: none

Moved directory and fixed import sentence
  egs3/TEMPLATE/asr1/run.py
  egs3/librispeech_100/asr1/conf/dataset.yaml
  egs3/librispeech_100/asr1/conf/evaluate.yaml
  egs3/librispeech_100/asr1/conf/tuning/train_e_branchformer.yaml
  egs3/librispeech_100/asr1/run.py
  egs3/librispeech_100/asr1/src/trainer.py
  espnet3/components/collect_stats.py
  espnet3/components/data/__init__.py
  espnet3/components/data/data_organizer.py
  espnet3/components/data/dataset.py
  espnet3/components/data_organizer.py
  espnet3/components/model.py
  espnet3/components/multiple_scheduler.py
  espnet3/components/trainer.py
  espnet3/systems/asr/__init__.py
  espnet3/systems/asr/bin/run.py
  espnet3/systems/asr/bin/train_tokenizer.py
  espnet3/systems/asr/decode.py
  espnet3/systems/asr/task.py
  espnet3/systems/asr/tokenizer/utils.py
  espnet3/systems/base/__init__.py
  espnet3/systems/base/bin/__init__.py
  espnet3/systems/base/bin/run.py
  espnet3/systems/base/score.py
  espnet3/systems/base/scp_utils.py
  espnet3/systems/base/train.py
Due: none

Add system.py
  espnet3/systems/asr/system.py
  espnet3/systems/base/system.py
Due: none

Add owsm finetuning config
  egs3/librispeech_100/asr1/conf/dataset_owsm.yaml
  egs3/librispeech_100/asr1/conf/train.yaml
  egs3/librispeech_100/asr1/conf/tuning/train_custom_model.yaml
  egs3/librispeech_100/asr1/src/custom_model.py
  egs3/librispeech_100/asr1/src/dataset.py
Due: none

Added setup_uv.sh
  tools/setup_uv.sh
Due: auto add label=Installation

Applied format
  egs3/TEMPLATE/asr1/run.py
  egs3/librispeech_100/asr1/src/custom_model.py
  egs3/librispeech_100/asr1/src/dataset.py
  espnet3/components/collect_stats.py
  espnet3/systems/asr/decode.py
  espnet3/systems/asr/metrics/cer.py
  espnet3/systems/asr/metrics/wer.py
  espnet3/systems/asr/system.py
  espnet3/systems/asr/tokenizer/utils.py
  espnet3/systems/base/score.py
  espnet3/systems/base/system.py
  espnet3/systems/base/train.py
Due: none

Fixed unit tests
  test/espnet3/test_callback.py
  test/espnet3/test_collect_stats.py
  test/espnet3/test_data_organizer.py
  test/espnet3/test_dataloader_builder.py
  test/espnet3/test_model.py
  test/espnet3/test_model_with_optim_scheduler.py
  test/espnet3/test_multiple_optim.py
  test/espnet3/test_multiple_scheduler.py
  test/espnet3/test_task.py
  test/espnet3/test_trainer.py
  test/espnet3/test_update_shard.py
Due: none

fix test integration
  ci/test_integration_espnet2.sh
  ci/test_integration_espnetez.sh
Due: auto add label=CI

fixes on pytest
  test/espnet2/asr/frontend/test_s3prl.py
  test/espnet2/gan_svs/visinger/test_fused.py
  test/espnet2/gan_svs/visinger/test_postfrontend.py
Due: none

pytest fixes
  test/espnet2/layers/test_create_adapter_fn.py
Due: none

version update
  espnet/version.txt
Due: auto add label=ESPnet1

Reflect the discussion
  egs3/TEMPLATE/__init__.py
  egs3/TEMPLATE/asr1/__init__.py
  egs3/TEMPLATE/asr1/run.py
  egs3/__init__.py
  egs3/librispeech_100/__init__.py
  egs3/librispeech_100/asr1/__init__.py
  egs3/librispeech_100/asr1/run.py
  egs3/librispeech_100/asr1/src/create_dataset.py
  espnet3/components/model.py
  espnet3/systems/asr/system.py
  espnet3/systems/base/inference.py
  espnet3/systems/base/inference_provider.py
  espnet3/systems/base/system.py
  espnet3/systems/base/train.py
  espnet3/utils/stages.py
Due: none

fix: CategoryChunkIterFactory
  espnet2/iterators/category_chunk_iter_factory.py
Due: auto add label=ESPnet2

fix for CI
  egs2/emilia/tts1/conf/train.yaml
  egs2/emilia/tts1/local/data.sh
  egs2/emilia/tts1/run.sh
Due: auto add label=ESPnet2

fix: remove useless logic
  espnet2/iterators/category_chunk_iter_factory.py
Due: auto add label=ESPnet2

Add run.sh
  egs3/librispeech_100/asr1/run.sh
Due: none

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(ci/|.github/)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
