Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

Guard eval-time merge until adapter factors are initialized; extend tests
  egs2/myst/asr1/README.md
  espnet2/layers/lora/layers.py
  test/espnet2/layers/lora/test_lora_layers.py
  test/espnet2/layers/lora/test_utils.py
  test/espnet2/layers/test_create_lora_adapter_backends.py
Due: auto add label=ESPnet2, auto add label=README

Check the token values, not that the keys are there
  ci/check_ci_image_config.py
Due: auto add label=CI

Fix flake8 findings: move lora_state_dict import to the top import block, drop unused torch import
  espnet2/train/trainer.py
  test/espnet2/layers/test_create_lora_adapter_backends.py
Due: auto add label=ESPnet2

Pin every remaining action to a commit SHA
  .github/actions/prepare-environment/action.yml
  .github/workflows/build_ci_image.yml
  .github/workflows/ci_on_debian12.yml
  .github/workflows/ci_on_macos.yml
  .github/workflows/ci_on_ubuntu.yml
  .github/workflows/ci_on_windows.yml
  .github/workflows/claude.yml
  .github/workflows/publish_doc.yml
  .github/workflows/publish_docker_image.yml
  .github/workflows/publish_paper_pdf.yml
  .github/workflows/publish_python_package.yml
  ci/check_ci_image_config.py
Due: auto add label=CI

Stop persisting the checkout token, and close three checker gaps
  .github/workflows/build_ci_image.yml
  .github/workflows/ci_on_debian12.yml
  .github/workflows/ci_on_macos.yml
  .github/workflows/ci_on_ubuntu.yml
  .github/workflows/ci_on_windows.yml
  .github/workflows/publish_doc.yml
  .github/workflows/publish_docker_image.yml
  .github/workflows/publish_paper_pdf.yml
  .github/workflows/publish_python_package.yml
  ci/check_ci_image_config.py
Due: auto add label=CI

Fix BatchBeamSearchOnline.process_one_block missing minlen in the block_size==0 path
  espnet2/legacy/nets/batch_beam_search_online.py
Due: auto add label=ESPnet2

Fix H403/H405 docstring style in test_lora_layers
  test/espnet2/layers/lora/test_lora_layers.py
Due: none

Test on python 3.12 and 3.13 instead of 3.10 and 3.12
  .github/workflows/ci_on_debian12.yml
  .github/workflows/ci_on_macos.yml
  .github/workflows/ci_on_ubuntu.yml
  .github/workflows/ci_on_windows.yml
  .github/workflows/publish_doc.yml
  .github/workflows/publish_python_package.yml
  README.md
  ci/image_variants.json
  docker/ci.dockerfile
  pyproject.toml
  tools/installers/install_torch.sh
Due: auto add label=README, auto add label=CI, auto add label=Installation, auto add label=Docker

Make the four python declarations agree
  pyproject.toml
  tools/installers/install_torch.sh
  tools/setup.py
Due: auto add label=Installation

Add license header and paper references for the PEFT backends
  espnet2/layers/lora/layers.py
  espnet2/layers/lora/utils.py
  test/espnet2/layers/lora/test_lora_layers.py
Due: auto add label=ESPnet2

Delete tools/setup.py, which cannot run and never could
  pyproject.toml
  tools/setup.py
Due: auto add label=Installation

Regenerate kenlm's Cython output so it builds on python 3.13
  ci/install.sh
Due: auto add label=CI

Call pip as a module in the image build, not as a script
  docker/ci.dockerfile
Due: auto add label=Docker

change output_size of vocoder to method
  espnet3/systems/tts/f5_tts/f5tts.py
  espnet3/systems/tts/f5_tts/vocoder_mel.py
  test/espnet3/systems/tts/f5_tts/test_f5tts.py
  test/espnet3/systems/tts/f5_tts/test_model_forward.py
  test/espnet3/systems/tts/f5_tts/test_vocoder_mel.py
Due: none

Declare permissions on the publish workflows
  .github/workflows/publish_doc.yml
  .github/workflows/publish_docker_image.yml
  .github/workflows/publish_paper_pdf.yml
  .github/workflows/publish_python_package.yml
  ci/check_ci_image_config.py
Due: auto add label=CI

Install k2 again, after four years of installing nothing
  tools/installers/install_k2.sh
Due: auto add label=Installation

Fix merge/init bugs in the PEFT backends
  espnet2/bin/s2t_inference.py
  espnet2/layers/create_adapter_fn.py
  espnet2/layers/lora/__init__.py
  espnet2/layers/lora/layers.py
  espnet2/layers/lora/utils.py
  espnet2/torch_utils/load_pretrained_model.py
  test/espnet2/layers/lora/test_lora_layers.py
  test/espnet2/layers/lora/test_utils.py
  test/espnet2/layers/test_create_adapter.py
  test/espnet2/layers/test_create_lora_adapter_backends.py
Due: auto add label=ESPnet2

Add utterance-batched beam search for ASR and S2T inference
  espnet2/asr/decoder/transformer_decoder.py
  espnet2/bin/asr_inference.py
  espnet2/bin/s2t_inference.py
  espnet2/legacy/nets/batch_beam_search_utt.py
  espnet2/legacy/nets/scorers/ctc.py
  test/espnet2/bin/test_asr_inference.py
  test/espnet2/bin/test_s2t_inference.py
  test/espnet2/legacy/test_batch_beam_search_utt.py
Due: auto add label=ESPnet2

Install k2 into the venv, and prove it imports
  .github/actions/use-prebuilt-environment/action.yml
  tools/installers/install_k2.sh
Due: auto add label=CI, auto add label=Installation

Add a benchmark for utterance-batched beam search
  utils/benchmark_batch_beam_search.py
Due: none

Do not fail the k2 check on the version attribute
  .github/actions/use-prebuilt-environment/action.yml
  tools/installers/install_k2.sh
Due: auto add label=CI, auto add label=Installation

Fold the utterance batching into BatchBeamSearch itself
  espnet2/bin/asr_inference.py
  espnet2/bin/s2t_inference.py
  espnet2/legacy/nets/batch_beam_search.py
  espnet2/legacy/nets/batch_beam_search_utt.py
  test/espnet2/legacy/test_batch_beam_search_batched.py
  utils/benchmark_batch_beam_search.py
Due: auto add label=ESPnet2

Explain why BatchHypothesis carries n_utt
  espnet2/legacy/nets/batch_beam_search.py
Due: auto add label=ESPnet2

Address the CodeRabbit review on the batched beam search
  espnet2/bin/asr_inference.py
  espnet2/bin/s2t_inference.py
  espnet2/legacy/nets/batch_beam_search.py
  espnet2/legacy/nets/scorers/ctc.py
  test/espnet2/bin/test_asr_inference.py
  test/espnet2/legacy/test_batch_beam_search_batched.py
  utils/benchmark_batch_beam_search.py
Due: auto add label=ESPnet2

Train the model the k2 blocks decode
  ci/test_integration_espnet2.sh
Due: auto add label=CI

Pin single-utterance decoding against the pre-batching implementation
  ci/test_integration_espnet2.sh
  test/espnet2/legacy/reference_batch_beam_search.py
  test/espnet2/legacy/test_batch_beam_search_reference.py
Due: auto add label=CI

Release finished hypotheses from the batch-sized state tensors
  espnet2/legacy/nets/batch_beam_search.py
  test/espnet2/legacy/test_batch_beam_search_batched.py
Due: auto add label=ESPnet2

Add memory and vectorization regression tests for the beam search
  test/espnet2/legacy/test_batch_beam_search_batched.py
  test/espnet2/legacy/test_batch_beam_search_memory.py
Due: none

Keep the RTF log lines that asr.sh stage 12 parses
  espnet2/bin/asr_inference.py
  espnet2/bin/s2t_inference.py
  test/espnet2/bin/test_asr_inference.py
Due: auto add label=ESPnet2

espnet3: make EpochSyncIterator re-iterable across passes
  espnet3/components/data/dataloader.py
  espnet3/components/data/iterator.py
  test/espnet3/components/data/test_dataloader_builder.py
  test/espnet3/components/data/test_iterator.py
Due: none

Keep "best hypo" directly after the log level, where calculate_rtf looks
  espnet2/legacy/nets/batch_beam_search.py
  test/espnet2/bin/test_asr_inference.py
Due: auto add label=ESPnet2

Retry the kaldi binary download the way it actually fails
  ci/install_kaldi.sh
  tools/installers/download_with_retry.sh
  tools/installers/install_ffmpeg.sh
Due: auto add label=CI, auto add label=Installation

Say when S2T trims the input, and why batch_decode ignores speech_lengths
  espnet2/bin/s2t_inference.py
Due: auto add label=ESPnet2

Do not trust an archive this script did not just verify
  ci/install_kaldi.sh
  tools/installers/download_with_retry.sh
Due: auto add label=CI, auto add label=Installation

Split forward() into named phases
  espnet2/legacy/nets/batch_beam_search.py
Due: auto add label=ESPnet2

Name the axes, and say which shape every tensor has
  espnet2/legacy/nets/batch_beam_search.py
Due: auto add label=ESPnet2

Stop reading accelerator tensors one element at a time
  espnet2/legacy/nets/batch_beam_search.py
  espnet2/legacy/nets/scorers/length_bonus.py
  test/espnet2/legacy/reference_ctc_prefix_score.py
  test/espnet2/legacy/test_ctc_prefix_score_reference.py
Due: auto add label=ESPnet2

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(ci/|.github/)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
