Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

.mergify.yml:

pull_request_rules:
  - name: automatic merge if label=auto-merge
    conditions:
      - "label=auto-merge"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.0.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.1.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.2.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.3.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.4.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.5.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.6.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.7.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.8, 1.8.1, 6.0.0, false)"
    actions:
      merge:
        method: merge
        strict: false
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=ESPnet1"
    conditions:
      - files~=^(espnet/|egs/)
    actions:
      label:
        add: ["ESPnet1"]
  - name: "auto add label=ESPnet2"
    conditions:
      - files~=^(espnet2/|egs2/)
    actions:
      label:
        add: ["ESPnet2"]
  - name: "auto add label=ASR"
    conditions:
      - files~=^(espnet*/asr|egs*/*/asr1)
    actions:
      label:
        add: ["ASR"]
  - name: "auto add label=TTS"
    conditions:
      - files~=^(espnet*/tts|egs*/*/tts1)
    actions:
      label:
        add: ["TTS"]
  - name: "auto add label=MT"
    conditions:
      - files~=^(espnet*/mt|egs*/*/mt1)
    actions:
      label:
        add: ["MT"]
  - name: "auto add label=LM"
    conditions:
      - files~=^(espnet*/lm)
    actions:
      label:
        add: ["LM"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^doc/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]

fix: add missing symbolink of data_prep and reset GroupNorm initialization
  egs2/TEMPLATE/ssl1/hubert.sh
  egs2/librispeech/ssl1/local/data_prep.sh
  egs2/librispeech/ssl1/run.sh
  espnet2/torch_utils/initialize.py
Due: auto add label=ESPnet2

add README.md
  egs2/TEMPLATE/ssl1/hubert.sh
  egs2/librispeech/ssl1/README.md
Due: auto add label=ESPnet2, auto add label=README

fix typo of README.md
  egs2/librispeech/ssl1/README.md
Due: auto add label=ESPnet2, auto add label=README

[skip ci] fixed the registration of spk_embed_dim
  espnet2/gan_tts/vits/generator.py
Due: auto add label=ESPnet2

apply black
  egs2/librispeech/ssl1/run.sh
  espnet2/torch_utils/initialize.py
Due: auto add label=ESPnet2

fix: reset `_org` subfolder since it is nessasary
  egs2/TEMPLATE/ssl1/hubert.sh
Due: auto add label=ESPnet2

fix: pass grammar check
  egs2/librispeech/ssl1/README.md
Due: auto add label=ESPnet2, auto add label=README

fix: pass grammar check x2
  egs2/librispeech/ssl1/README.md
Due: auto add label=ESPnet2, auto add label=README

Update format_wav_scp.sh
  egs2/TEMPLATE/asr1/scripts/audio/format_wav_scp.sh
Due: auto add label=ESPnet2

Update build.sh
  docker/build.sh
Due: auto add label=Docker

solve conflicts
  espnet2/enh/espnet_model.py
  test/espnet2/enh/test_espnet_model.py
Due: auto add label=ESPnet2

updated indic speech data prep script
  egs2/indic_speech/tts1/local/data_prep.py
Due: auto add label=ESPnet2

updated ljspeech results
  egs2/ljspeech/tts1/README.md
Due: auto add label=ESPnet2, auto add label=README

updated jsut results
  egs2/jsut/tts1/README.md
Due: auto add label=ESPnet2, auto add label=README

updated csmsc results
  egs2/csmsc/tts1/README.md
Due: auto add label=ESPnet2, auto add label=README

[skip ci] updated jsut results
  egs2/jsut/tts1/README.md
Due: auto add label=ESPnet2, auto add label=README

support donwsampling
  egs2/TEMPLATE/asr1/scripts/utils/evaluate_asr.sh
Due: auto add label=ESPnet2

added test
  test_utils/test_evaluate_asr.bats
Due: none

fixed test
  test_utils/test_evaluate_asr.bats
Due: none

hindi g2p
  egs2/indic_speech/tts1/run.sh
  espnet2/text/phoneme_tokenizer.py
  test/espnet2/text/test_phoneme_tokenizer.py
Due: auto add label=ESPnet2

[skip ci] updated results
  egs2/ljspeech/tts1/README.md
  egs2/vctk/tts1/README.md
Due: auto add label=ESPnet2, auto add label=README

Update README.md
  egs2/chime4/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

Initial commit
  egs2/iemocap/asr1/asr.sh
  egs2/iemocap/asr1/cmd.sh
  egs2/iemocap/asr1/conf/decode_asr.yaml
  egs2/iemocap/asr1/conf/fbank.conf
  egs2/iemocap/asr1/conf/pbs.conf
  egs2/iemocap/asr1/conf/pitch.conf
  egs2/iemocap/asr1/conf/queue.conf
  egs2/iemocap/asr1/conf/slurm.conf
  egs2/iemocap/asr1/conf/train_asr.yaml
  egs2/iemocap/asr1/conf/tuning/train_asr_transformer_adam_specaug_fast.yaml
  egs2/iemocap/asr1/conf/tuning/train_asr_transformer_hubert_960hr_large.yaml
  egs2/iemocap/asr1/db.sh
  egs2/iemocap/asr1/local/data.sh
  egs2/iemocap/asr1/local/lowercase.pl
  egs2/iemocap/asr1/local/normalize_punctuation.pl
  egs2/iemocap/asr1/local/path.sh
  egs2/iemocap/asr1/local/remove_punctuation.pl
  egs2/iemocap/asr1/local/remove_tag.pl
  egs2/iemocap/asr1/local/score.py
  egs2/iemocap/asr1/local/score.sh
  egs2/iemocap/asr1/path.sh
  egs2/iemocap/asr1/pyscripts
  egs2/iemocap/asr1/run.sh
  egs2/iemocap/asr1/scripts
  egs2/iemocap/asr1/steps
  egs2/iemocap/asr1/utils
Due: auto add label=ESPnet2

update README
  egs2/README.md
  egs2/iemocap/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

change README
  egs2/iemocap/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

updated to a3
  espnet/version.txt
Due: auto add label=ESPnet1

aishell4 v1
  egs2/aishell4/asr1/cmd.sh
  egs2/aishell4/asr1/local/data.sh
  egs2/aishell4/asr1/local/data_prep.pl
  egs2/aishell4/asr1/local/download_and_untar.sh
  egs2/aishell4/asr1/local/path.sh
  egs2/aishell4/asr1/run.sh
Due: auto add label=ESPnet2

new recipe
  egs2/aishell4/asr1/asr.sh
  egs2/aishell4/asr1/db.sh
  egs2/aishell4/asr1/path.sh
Due: auto add label=ESPnet2

fix ci error
  egs2/iemocap/asr1/local/data.sh
Due: auto add label=ESPnet2
