Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

.mergify.yml:

pull_request_rules:
  - name: automatic merge if label=auto-merge
    conditions:
      - "label=auto-merge"
      - "check-success=test_centos7"
      - "check-success=test_debian9"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.4.0, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.5.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.6.0, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.7.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.8.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.9.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.10.2, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.11.0, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.12.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.13.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.8, 1.13.1, false, 6.0.0)"
      - "check-success=linter_and_test (ubuntu-latest, 3.9, 1.13.1, false, 6.0.0)"
      - "check-success=linter_and_test (ubuntu-latest, 3.10, 1.13.1, false, 6.0.0)"
      - "check-success=test_import (ubuntu-latest, 3.10, 1.13.1)"
      - "check-success=check_kaldi_symlinks"
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=ESPnet1"
    conditions:
      - files~=^(espnet/|egs/)
    actions:
      label:
        add: ["ESPnet1"]
  - name: "auto add label=ESPnet2"
    conditions:
      - files~=^(espnet2/|egs2/)
    actions:
      label:
        add: ["ESPnet2"]
  - name: "auto add label=ASR"
    conditions:
      - files~=^(espnet*/asr|egs*/*/asr1)
    actions:
      label:
        add: ["ASR"]
  - name: "auto add label=TTS"
    conditions:
      - files~=^(espnet*/tts|egs*/*/tts1)
    actions:
      label:
        add: ["TTS"]
  - name: "auto add label=MT"
    conditions:
      - files~=^(espnet*/mt|egs*/*/mt1)
    actions:
      label:
        add: ["MT"]
  - name: "auto add label=LM"
    conditions:
      - files~=^(espnet*/lm)
    actions:
      label:
        add: ["LM"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^doc/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]

update test
  espnet2/bin/enh_inference.py
  espnet2/enh/separator/rnn_separator.py
  espnet2/enh/separator/skim_separator.py
  espnet2/enh/separator/tcn_separator.py
Due: auto add label=ESPnet2

Update espnet2_format_wav_scp.md
  doc/espnet2_format_wav_scp.md
Due: auto add label=Documentation

fix pisinger inference
  espnet2/gan_svs/pits/pisinger_generator.py
Due: auto add label=ESPnet2

add enh inference (forget to previously)
  espnet2/bin/enh_inference_streaming.py
Due: auto add label=ESPnet2

update
  espnet2/bin/enh_inference_streaming.py
Due: auto add label=ESPnet2

diffsinger update
  espnet2/main_funcs/collect_stats.py
  espnet2/svs/diffsinger/denoiser.py
  espnet2/svs/diffsinger/diffLoss.py
  espnet2/svs/diffsinger/diffsinger.py
  espnet2/svs/diffsinger/fftsinger.py
  espnet2/svs/diffsinger/get_feats_minmax.py
  espnet2/svs/espnet_model.py
  espnet2/tasks/svs.py
Due: auto add label=ESPnet2

Update documentation (#5063)
  doc/espnet2_format_wav_scp.md
  doc/image/environment_structure.png
  doc/index.rst
  doc/installation.md
  doc/parallelization.md
  egs2/TEMPLATE/asr1/pyscripts/README.md
  egs2/TEMPLATE/asr1/scripts/README.md
  tools/README.md
Due: auto add label=ESPnet2, auto add label=README, auto add label=Documentation, auto add label=Installation

Update check_install.py
  tools/check_install.py
Due: auto add label=Installation

channel selection
  egs2/chime7_task1/diar_asr1/local/pyannote_diarize.py
Due: auto add label=ESPnet2

faster and better diarization by using segmentation as channel selection
  egs2/chime7_task1/diar_asr1/local/pyannote_diarize.py
  egs2/chime7_task1/diar_asr1/run.sh
Due: auto add label=ESPnet2

point to the new README.md for the diarization recipe.
  egs2/chime7_task1/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

now taking args from main script that allow to modify some hyperparams
  egs2/chime7_task1/diar_asr1/local/pyannote_diarize.py
Due: auto add label=ESPnet2

added hyper-params
  egs2/chime7_task1/diar_asr1/run.sh
Due: auto add label=ESPnet2

added README.md, I will add results after decoding
  egs2/chime7_task1/diar_asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

name change
  egs2/ml_superb/asr1/asr.sh
  egs2/ml_superb/asr1/cmd.sh
  egs2/ml_superb/asr1/conf/decode_asr.yaml
  egs2/ml_superb/asr1/conf/fbank.conf
  egs2/ml_superb/asr1/conf/pbs.conf
  egs2/ml_superb/asr1/conf/pitch.conf
  egs2/ml_superb/asr1/conf/queue.conf
  egs2/ml_superb/asr1/conf/slurm.conf
  egs2/ml_superb/asr1/conf/train_asr.yaml
  egs2/ml_superb/asr1/conf/tuning/train_asr_fbank_10min.yaml
  egs2/ml_superb/asr1/conf/tuning/train_asr_fbank_1h.yaml
  egs2/ml_superb/asr1/conf/tuning/train_asr_fbank_single.yaml
  egs2/ml_superb/asr1/conf/tuning/train_asr_s3prl_10min.yaml
  egs2/ml_superb/asr1/conf/tuning/train_asr_s3prl_1h.yaml
  egs2/ml_superb/asr1/conf/tuning/train_asr_s3prl_single.yaml
  egs2/ml_superb/asr1/db.sh
  egs2/ml_superb/asr1/local/data.sh
  egs2/ml_superb/asr1/local/data_prep.py
  egs2/ml_superb/asr1/local/lid.py
  egs2/ml_superb/asr1/local/linguistic_tree.py
  egs2/ml_superb/asr1/local/mono_superb_score.py
  egs2/ml_superb/asr1/local/multi_superb_score.py
  egs2/ml_superb/asr1/local/path.sh
  egs2/ml_superb/asr1/local/score.sh
  egs2/ml_superb/asr1/local/single_lang_data_prep.py
  egs2/ml_superb/asr1/local/split_results.py
  egs2/ml_superb/asr1/path.sh
  egs2/ml_superb/asr1/pyscripts
  egs2/ml_superb/asr1/run.sh
  egs2/ml_superb/asr1/run_mono.sh
  egs2/ml_superb/asr1/run_multi.sh
  egs2/ml_superb/asr1/scripts
  egs2/ml_superb/asr1/steps
  egs2/ml_superb/asr1/utils
  egs2/msuperb/asr1/conf/train_lm.yaml
  egs2/msuperb/asr1/conf/tuning/train_asr_fbank_10min.yaml
  egs2/msuperb/asr1/conf/tuning/train_asr_fbank_1h.yaml
  egs2/msuperb/asr1/conf/tuning/train_asr_s3prl_10min.yaml
  egs2/msuperb/asr1/conf/tuning/train_asr_s3prl_1h.yaml
Due: auto add label=ESPnet2

update monolingual scoring
  egs2/ml_superb/asr1/local/mono_superb_score.py
  egs2/ml_superb/asr1/run_mono.sh
  egs2/msuperb/asr1/asr.sh
  egs2/msuperb/asr1/cmd.sh
  egs2/msuperb/asr1/conf/decode_asr.yaml
  egs2/msuperb/asr1/conf/fbank.conf
  egs2/msuperb/asr1/conf/pbs.conf
  egs2/msuperb/asr1/conf/pitch.conf
  egs2/msuperb/asr1/conf/queue.conf
  egs2/msuperb/asr1/conf/slurm.conf
  egs2/msuperb/asr1/conf/train_asr.yaml
  egs2/msuperb/asr1/conf/tuning/train_asr_fbank_10min.yaml
  egs2/msuperb/asr1/conf/tuning/train_asr_fbank_1h.yaml
  egs2/msuperb/asr1/conf/tuning/train_asr_fbank_single.yaml
  egs2/msuperb/asr1/conf/tuning/train_asr_s3prl_10min.yaml
  egs2/msuperb/asr1/conf/tuning/train_asr_s3prl_1h.yaml
  egs2/msuperb/asr1/conf/tuning/train_asr_s3prl_single.yaml
  egs2/msuperb/asr1/db.sh
  egs2/msuperb/asr1/local/data.sh
  egs2/msuperb/asr1/local/data_prep.py
  egs2/msuperb/asr1/local/lid.py
  egs2/msuperb/asr1/local/linguistic_tree.py
  egs2/msuperb/asr1/local/path.sh
  egs2/msuperb/asr1/local/score.sh
  egs2/msuperb/asr1/local/single_lang_data_prep.py
  egs2/msuperb/asr1/local/split_results.py
  egs2/msuperb/asr1/path.sh
  egs2/msuperb/asr1/pyscripts
  egs2/msuperb/asr1/run.sh
  egs2/msuperb/asr1/run_mono.sh
  egs2/msuperb/asr1/run_multi.sh
  egs2/msuperb/asr1/scripts
  egs2/msuperb/asr1/steps
  egs2/msuperb/asr1/utils
Due: auto add label=ESPnet2

fix format
  egs2/ml_superb/asr1/local/mono_superb_score.py
Due: auto add label=ESPnet2

Update README.md
  egs2/TEMPLATE/svs1/README.md
Due: auto add label=ESPnet2, auto add label=README

add tedlium3 recipe
  egs2/tedlium3/asr1/asr.sh
  egs2/tedlium3/asr1/cmd.sh
  egs2/tedlium3/asr1/conf/decode.yaml
  egs2/tedlium3/asr1/conf/fbank.conf
  egs2/tedlium3/asr1/conf/pbs.conf
  egs2/tedlium3/asr1/conf/pitch.conf
  egs2/tedlium3/asr1/conf/queue.conf
  egs2/tedlium3/asr1/conf/slurm.conf
  egs2/tedlium3/asr1/conf/train.yaml
  egs2/tedlium3/asr1/conf/train_lm.yaml
  egs2/tedlium3/asr1/conf/train_lm_train_set.yaml
  egs2/tedlium3/asr1/conf/tuning/decode_asr.yaml
  egs2/tedlium3/asr1/conf/tuning/train_asr_conformer.yaml
  egs2/tedlium3/asr1/conf/tuning/train_asr_conformer_e15.yaml
  egs2/tedlium3/asr1/conf/tuning/train_asr_ctc_conformer_e12_linear2048.yaml
  egs2/tedlium3/asr1/conf/tuning/train_asr_ctc_conformer_e15_linear1024.yaml
  egs2/tedlium3/asr1/conf/tuning/train_lm_transformer.yaml
  egs2/tedlium3/asr1/db.sh
  egs2/tedlium3/asr1/local/data.sh
  egs2/tedlium3/asr1/local/download_data.sh
  egs2/tedlium3/asr1/local/join_suffix.py
  egs2/tedlium3/asr1/local/path.sh
  egs2/tedlium3/asr1/local/prepare_data.sh
  egs2/tedlium3/asr1/path.sh
  egs2/tedlium3/asr1/pyscripts
  egs2/tedlium3/asr1/run.sh
  egs2/tedlium3/asr1/scripts
  egs2/tedlium3/asr1/steps
  egs2/tedlium3/asr1/utils
Due: auto add label=ESPnet2

add tedlium3 recipe and change in README
  egs2/README.md
Due: auto add label=ESPnet2, auto add label=README

remove unused config, change author names
  egs2/README.md
  egs2/tedlium3/asr1/conf/train_lm_train_set.yaml
  egs2/tedlium3/asr1/conf/tuning/train_asr_conformer_e15.yaml
  egs2/tedlium3/asr1/conf/tuning/train_asr_ctc_conformer_e12_linear2048.yaml
  egs2/tedlium3/asr1/conf/tuning/train_asr_ctc_conformer_e15_linear1024.yaml
  egs2/tedlium3/asr1/local/data.sh
  egs2/tedlium3/asr1/local/prepare_data.sh
Due: auto add label=ESPnet2, auto add label=README

add training environment for lm and add readme
  egs2/tedlium3/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

Update espnet2/asr/frontend/adapters_utils/adapters/adapter_transformer.py
  espnet2/asr/frontend/adapters_utils/adapters/adapter_transformer.py
Due: auto add label=ESPnet2

simuleval agent
  egs2/TEMPLATE/asr1/pyscripts/utils/simuleval_agent.py
Due: auto add label=ESPnet2

fixed according to comment
  espnet2/asr/frontend/adapters_utils/README.md
  espnet2/asr/frontend/adapters_utils/add_adapters.py
  espnet2/asr/frontend/adapters_utils/example.py
  espnet2/asr/frontend/s3prl.py
  espnet2/train/trainer.py
Due: auto add label=ESPnet2, auto add label=README

update
  espnet2/asr/frontend/s3prl.py
  espnet2/train/trainer.py
Due: auto add label=ESPnet2

fix for pytest
  espnet2/enh/decoder/abs_decoder.py
  espnet2/enh/encoder/abs_encoder.py
  espnet2/enh/layers/skim.py
  espnet2/enh/separator/abs_separator.py
Due: auto add label=ESPnet2

this is an attempt to create a clean master
  espnet2/train/trainer.py
Due: auto add label=ESPnet2

update adapter.py
  espnet2/asr/frontend/adapters_utils/adapters/adapter.py
Due: auto add label=ESPnet2

update add_adapters.py
  espnet2/asr/frontend/adapters_utils/adapters/adapter_transformer.py
  espnet2/asr/frontend/adapters_utils/add_adapters.py
Due: auto add label=ESPnet2

implement multi columns wav
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/asr1/pyscripts/audio/format_wav_scp.py
  egs2/TEMPLATE/asr1/scripts/audio/format_wav_scp.sh
  espnet2/fileio/sound_scp.py
  espnet2/train/dataset.py
  setup.py
  test/espnet2/fileio/test_npy_scp.py
  test/espnet2/fileio/test_read_text.py
  test/espnet2/fileio/test_sound_scp.py
  test_utils/espnet2_scripts/test_format_wav_scp_sh.bats
Due: auto add label=ESPnet2, auto add label=Installation

modified: doc/espnet2_format_wav_scp.md
  doc/espnet2_format_wav_scp.md
Due: auto add label=Documentation
