Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

fix
  egs2/TEMPLATE/asr1/pyscripts/audio/compute_vad.py
  egs2/TEMPLATE/asr1/pyscripts/utils/extract_xvectors.py
  egs2/TEMPLATE/asr1/pyscripts/utils/remove_duplicate_keys.py
  egs2/TEMPLATE/enh1/scripts/utils/calculate_speech_metrics.py
  espnet2/bin/enh_scoring.py
  espnet2/fileio/npy_scp.py
  espnet2/fileio/read_text.py
  espnet2/fileio/score_scp.py
  espnet2/fileio/vad_scp.py
  espnet2/samplers/folded_batch_sampler.py
  espnet2/samplers/unsorted_batch_sampler.py
Due: auto add label=ESPnet2

fix: egs2/TEMPLATE/asr1/pyscripts/audio/format_wav_scp.py
  egs2/TEMPLATE/asr1/pyscripts/audio/format_wav_scp.py
Due: auto add label=ESPnet2

Create README.md
  egs2/ml_superb/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

fix a bug: pretrained s3prl-frontend based models loaded with parameters key mismatch error
  espnet2/tasks/abs_task.py
Due: auto add label=ESPnet2

Update README.md
  egs2/ml_superb/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

fix lengthy issue
  egs2/ml_superb/asr1/local/mono_superb_score.py
Due: auto add label=ESPnet2

change ml-superb
  egs2/README.md
Due: auto add label=ESPnet2, auto add label=README

wavlm + mbart streaming
  egs2/TEMPLATE/asr1/pyscripts/utils/simuleval_agent.py
  egs2/must_c_v2/st1/conf/tuning/conf_wavlm_nohier_mbart_m2m_asr0.0_stctc0.0.yaml
  egs2/must_c_v2/st1/conf/tuning/decode_st_hf_native_beam5_penalty0.4.yaml
  espnet/nets/batch_beam_search.py
  espnet/nets/batch_beam_search_online.py
  espnet/nets/beam_search.py
  espnet2/asr/decoder/hugging_face_transformers_decoder.py
  espnet2/bin/st_inference.py
  espnet2/bin/st_inference_streaming.py
  espnet2/st/espnet_model.py
  espnet2/tasks/st.py
Due: auto add label=ESPnet1, auto add label=ESPnet2

added dbase.yaml for pyannote model finetuning
  egs2/chime7_task1/diar_asr1/local/database.yml
Due: auto add label=ESPnet2

using higher weight for CTC
  egs2/chime7_task1/diar_asr1/conf/decode_asr_transformer.yaml
Due: auto add label=ESPnet2

adding flag on gss for number of iterations
  egs2/chime7_task1/asr1/local/run_gss.sh
Due: auto add label=ESPnet2

added possibility of modifying number of gss iterations
  egs2/chime7_task1/asr1/run.sh
Due: auto add label=ESPnet2

fine-tuning diarization and dataprep
  egs2/chime7_task1/diar_asr1/local/pyannote_diarize.py
  egs2/chime7_task1/diar_asr1/local/pyannote_dprep.py
  egs2/chime7_task1/diar_asr1/local/pyannote_finetune.py
Due: auto add label=ESPnet2

e2e fine-tuning and inference
  egs2/chime7_task1/diar_asr1/baseline_logs/inference.logs
  egs2/chime7_task1/diar_asr1/local/pyannote_diarize.py
  egs2/chime7_task1/diar_asr1/local/pyannote_finetune.py
  egs2/chime7_task1/diar_asr1/run.sh
Due: auto add label=ESPnet2

ready
  egs2/chime7_task1/asr1/README.md
  egs2/chime7_task1/diar_asr1/README.md
  egs2/chime7_task1/diar_asr1/baseline_logs/inference.logs
  egs2/chime7_task1/diar_asr1/run.sh
Due: auto add label=ESPnet2, auto add label=README

added remark
  egs2/chime7_task1/diar_asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

display issue in results
  egs2/chime7_task1/diar_asr1/baseline_logs/inference.log
Due: auto add label=ESPnet2

update instructions
  egs2/chime7_task1/diar_asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

compatible with older pandas
  egs2/chime7_task1/asr1/local/da_wer_scoring.py
Due: auto add label=ESPnet2

updated README.md
  egs2/chime7_task1/diar_asr1/README.md
  egs2/chime7_task1/diar_asr1/run.sh
Due: auto add label=ESPnet2, auto add label=README

applied black
  egs2/chime7_task1/asr1/local/da_wer_scoring.py
Due: auto add label=ESPnet2

Add intermediate CTC training code for E-Branchformer, save intermediate CTC predictions to file during ASR inference
  espnet2/asr/encoder/e_branchformer_encoder.py
  espnet2/bin/asr_inference.py
Due: auto add label=ESPnet2

Add tests for intermediate CTC inference
  test/espnet2/bin/test_asr_inference.py
Due: none

Add tests for ebranchformer encoder's intermediate CTC
  test/espnet2/asr/encoder/test_e_branchformer_encoder.py
Due: none

[ci skip] add files for joint and fix prodiff
  egs2/ljspeech/tts1/conf/tuning/finetune_joint_prodiff_hifigan.yaml
  espnet2/gan_tts/joint/joint_text2wav.py
  espnet2/tts/prodiff/denoiser.py
  espnet2/tts/prodiff/prodiff.py
Due: auto add label=ESPnet2

solved bug on merge_closer
  egs2/chime7_task1/diar_asr1/local/pyannote_diarize.py
Due: auto add label=ESPnet2

[ci skip] update mfa files
  tools/installers/install_mfa.sh
  utils/get_mfa_pretrained.sh
Due: auto add label=Installation

Add initial PR
  egs2/slue-voxceleb/slu1/local/generate_semantic_transcript.py
Due: auto add label=ESPnet2

Fix initial PR
  egs2/slue-voxceleb/slu1/config_files/voxceleb_bert.yaml
  egs2/slue-voxceleb/slu1/config_files/voxceleb_bert_wavlm.yaml
  egs2/slue-voxceleb/slu1/config_files/voxceleb_deberta.yaml
  egs2/slue-voxceleb/slu1/config_files/voxceleb_deberta_wavlm.yaml
  egs2/slue-voxceleb/slu1/config_files/voxceleb_gigaspeech.yaml
  egs2/slue-voxceleb/slu1/config_files/voxceleb_hubert.yaml
  egs2/slue-voxceleb/slu1/config_files/voxceleb_iemocap.yaml
  egs2/slue-voxceleb/slu1/config_files/voxceleb_iemocap_wavlm.yaml
  egs2/slue-voxceleb/slu1/config_files/voxceleb_no_pretrain.yaml
  egs2/slue-voxceleb/slu1/config_files/voxceleb_spgispeech.yaml
  egs2/slue-voxceleb/slu1/config_files/voxceleb_swbd_sentiment.yaml
  egs2/slue-voxceleb/slu1/config_files/voxceleb_swbd_sentiment_wavlm.yaml
  egs2/slue-voxceleb/slu1/config_files/voxceleb_tera.yaml
  egs2/slue-voxceleb/slu1/config_files/voxceleb_vq_apc.yaml
  egs2/slue-voxceleb/slu1/config_files/voxceleb_wav2vec2.yaml
  egs2/slue-voxceleb/slu1/config_files/voxceleb_wavlm.yaml
  egs2/slue-voxceleb/slu1/config_files/voxpopuli_bert.yaml
  egs2/slue-voxceleb/slu1/config_files/voxpopuli_bert_wavlm.yaml
  egs2/slue-voxceleb/slu1/config_files/voxpopuli_deberta.yaml
  egs2/slue-voxceleb/slu1/config_files/voxpopuli_deberta_wavlm.yaml
  egs2/slue-voxceleb/slu1/config_files/voxpopuli_gigaspeech.yaml
  egs2/slue-voxceleb/slu1/config_files/voxpopuli_hubert.yaml
  egs2/slue-voxceleb/slu1/config_files/voxpopuli_no_pretrain.yaml
  egs2/slue-voxceleb/slu1/config_files/voxpopuli_slurp.yaml
  egs2/slue-voxceleb/slu1/config_files/voxpopuli_slurp_wavlm.yaml
  egs2/slue-voxceleb/slu1/config_files/voxpopuli_spgispeech.yaml
  egs2/slue-voxceleb/slu1/config_files/voxpopuli_tera.yaml
  egs2/slue-voxceleb/slu1/config_files/voxpopuli_vq_apc.yaml
  egs2/slue-voxceleb/slu1/config_files/voxpopuli_wav2vec2.yaml
  egs2/slue-voxceleb/slu1/config_files/voxpopuli_wavlm.yaml
Due: auto add label=ESPnet2

removed pdb
  egs2/chime7_task1/asr1/local/da_wer_scoring.py
Due: auto add label=ESPnet2

added description for database.yml as suggested by Shinji
  egs2/chime7_task1/diar_asr1/local/database.yml
Due: auto add label=ESPnet2

suggestion by Shinji about the E2E ASR choice
  egs2/chime7_task1/diar_asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

older pandas needs axis
  egs2/chime7_task1/asr1/local/da_wer_scoring.py
Due: auto add label=ESPnet2

inference.log with bug corrected
  egs2/chime7_task1/diar_asr1/baseline_logs/inference.log
Due: auto add label=ESPnet2

inference.log with bug corrected
  egs2/chime7_task1/diar_asr1/README.md
  egs2/chime7_task1/diar_asr1/run.sh
Due: auto add label=ESPnet2, auto add label=README

better figures on forced alignment
  egs2/chime7_task1/diar_asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

egs config
  egs2/must_c_v2/st1/conf/tuning/base_lsm0.2_freeze_fc_sa_stctc0.3.yaml
Due: auto add label=ESPnet2

run.sh
  egs2/must_c_v2/st1/run_mustc123_unique_sp.sh
Due: auto add label=ESPnet2

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
