Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

added ESPnetGANTTSModel
  espnet2/gan_tts/espnet_model.py
Due: auto add label=ESPnet2

added GAN-TTS task
  espnet2/tasks/gan_tts.py
Due: auto add label=ESPnet2

skip pooling when #scales 1
  espnet2/gan_tts/vits/hifigan.py
Due: auto add label=ESPnet2

added new property
  espnet2/tts/abs_tts.py
Due: auto add label=ESPnet2

added vits module
  espnet2/gan_tts/vits/vits.py
Due: auto add label=ESPnet2

added vits test code
  test/espnet2/gan_tts/vits/test_vits.py
Due: none

fixed a bug
  espnet2/gan_tts/vits/hifigan.py
Due: auto add label=ESPnet2

Revert fix of the "Transcripcion" because they are intentional
  egs/puebla_nahuatl/st1/local/data_prep.py
Due: auto add label=ESPnet1

added tts_task
  egs2/TEMPLATE/tts1/tts.sh
Due: auto add label=ESPnet2

added gan_tts_train
  espnet2/bin/gan_tts_train.py
Due: auto add label=ESPnet2

updated config
  egs2/ljspeech/tts1/conf/tuning/train_vits.yaml
Due: auto add label=ESPnet2

register vits for the inference
  espnet2/tasks/tts.py
Due: auto add label=ESPnet2

added execution timeout
  test/espnet2/gan_tts/vits/test_generator.py
Due: none

support cleaner option
  egs2/TEMPLATE/asr1/pyscripts/utils/convert_text_to_phn.py
Due: auto add label=ESPnet2

[skip ci] fixed a typo in config
  egs2/ljspeech/tts1/conf/tuning/train_vits.yaml
Due: auto add label=ESPnet2

fixed typo
  egs2/TEMPLATE/tts1/tts.sh
Due: auto add label=ESPnet2

[skip ci] updated default config
  egs2/ljspeech/tts1/conf/tuning/train_vits.yaml
Due: auto add label=ESPnet2

deploy: cb84927450f31258fdb5cb44908b704ab49ce85d
  .doctrees/apis/utils_py.doctree
  .doctrees/environment.pickle
  apis/utils_py.html
  searchindex.js
Due: none

fixed typo
  espnet2/bin/tts_inference.py
Due: auto add label=ESPnet2

deploy: e9e85dc1cbe4bdb2f2334e66e1a05afd1cca15b7
  .doctrees/_gen/espnet2.bin.doctree
  .doctrees/_gen/espnet2.tts.doctree
  .doctrees/apis/utils_py.doctree
  .doctrees/environment.pickle
  _gen/espnet2.bin.html
  _gen/espnet2.tts.html
  _modules/espnet2/bin/tts_inference.html
  _modules/espnet2/tts/abs_tts.html
  _modules/espnet2/tts/espnet_model.html
  _modules/espnet2/tts/fastspeech.html
  _modules/espnet2/tts/fastspeech2.html
  _modules/espnet2/tts/tacotron2.html
  _modules/espnet2/tts/transformer.html
  apis/utils_py.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

added utt2spk_to_utt2sid.py
  egs2/TEMPLATE/asr1/pyscripts/utils/utt2spk_to_utt2sid.py
Due: auto add label=ESPnet2

Revert fix of the "pronunciation"
  egs/polyphone_swiss_french/asr1/local/data_prep.py
Due: auto add label=ESPnet1

support sid input
  egs2/TEMPLATE/tts1/tts.sh
Due: auto add label=ESPnet2

registered sids
  espnet2/tasks/tts.py
Due: auto add label=ESPnet2

support sids
  espnet2/tts/espnet_model.py
Due: auto add label=ESPnet2

support sids input
  espnet2/bin/tts_inference.py
Due: auto add label=ESPnet2

support new sids shape
  espnet2/gan_tts/vits/generator.py
Due: auto add label=ESPnet2

[skip ci] removed unused lines and fixed typo
  egs2/TEMPLATE/tts1/tts.sh
Due: auto add label=ESPnet2

fixed wrong path and support filtering
  egs2/TEMPLATE/tts1/tts.sh
Due: auto add label=ESPnet2

[skip ci] fixed help message
  egs2/TEMPLATE/asr1/pyscripts/utils/utt2spk_to_utt2sid.py
Due: auto add label=ESPnet2

deploy: 717026204f06bf9540b2b7912065d256763494b5
  .doctrees/_gen/espnet2.tts.doctree
  .doctrees/apis/utils_py.doctree
  .doctrees/environment.pickle
  _gen/espnet2.tts.html
  _modules/espnet2/bin/tts_inference.html
  _modules/espnet2/tasks/tts.html
  _modules/espnet2/tts/espnet_model.html
  apis/utils_py.html
  searchindex.js
Due: none

[skip ci] added missing lines
  egs2/TEMPLATE/tts1/tts.sh
Due: auto add label=ESPnet2

deploy: 4924724c29aff7310626bf13b2af09e481c24cee
  .doctrees/apis/utils_py.doctree
  .doctrees/environment.pickle
  apis/utils_py.html
  searchindex.js
Due: none

deploy: 4406f25ebf507daf33f68787ff0e3699a0937913
  .doctrees/apis/utils_py.doctree
  .doctrees/environment.pickle
  apis/utils_py.html
  searchindex.js
Due: none

updated to report entire train step
  espnet2/train/gan_trainer.py
Due: auto add label=ESPnet2

updated generator modules
  espnet2/gan_tts/vits/generator.py
Due: auto add label=ESPnet2

updated test for spk embedding
  test/espnet2/gan_tts/vits/test_generator.py
Due: none

updated vits
  espnet2/gan_tts/vits/vits.py
Due: auto add label=ESPnet2

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
