Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

auto add label=ESPnet1:
  label:
    add:
    - ESPnet1

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=ASR:
  label:
    add:
    - ASR

auto add label=TTS:
  label:
    add:
    - TTS

auto add label=MT:
  label:
    add:
    - MT

auto add label=LM:
  label:
    add:
    - LM

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=Installation:
  label:
    add:
    - Installation

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

apply black
  espnet2/asr/espnet_model.py
  espnet2/train/reporter.py
  espnet2/train/trainer.py
Due: auto add label=ESPnet2

Reformat specaug2
  espnet2/asr/specaug/specaug2.py
Due: auto add label=ESPnet2

update initial exp
  egs2/primewords_chinese/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

reformat python scripts
  egs2/primewords_chinese/asr1/local/data_prep.py
Due: auto add label=ESPnet2

update an4 config
  egs2/an4/asr1/conf/train_asr_transformer.yaml
  egs2/an4/asr1/run.sh
Due: auto add label=ESPnet2

add test_specaug2 and implement a module for SpecAug2
  espnet2/asr/specaug/specaug2.py
  espnet2/layers/mask_along_axis.py
  test/espnet2/asr/specaug/test_specaug2.py
Due: auto add label=ESPnet2

fix issue when the download path is not default.
  egs2/grabo/asr1/local/data.sh
Due: auto add label=ESPnet2

update run.sh
  egs2/grabo/asr1/run.sh
Due: auto add label=ESPnet2

update grabo
  egs2/TEMPLATE/asr1/db.sh
  egs2/grabo/asr1/README.md
  egs2/grabo/asr1/local/score.sh
  egs2/grabo/asr1/run.sh
Due: auto add label=ESPnet2, auto add label=README

update result.md
  egs2/grabo/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

update data.sh and local/score.sh
  egs2/speechcommands/asr1/local/data.sh
  egs2/speechcommands/asr1/local/score.sh
  egs2/speechcommands/asr1/run.sh
Due: auto add label=ESPnet2

Update Readme
  egs2/speechcommands/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

updated phonemizer version
  tools/installers/install_phonemizer.sh
Due: auto add label=Installation

added missing config
  egs2/vctk/tts1/conf/tuning/train_xvector_vits.yaml
Due: auto add label=ESPnet2

[skip ci] Update README.md
  egs2/TEMPLATE/tts1/README.md
Due: auto add label=ESPnet2, auto add label=README

refactored phonemizer class to be stable
  espnet2/text/phoneme_tokenizer.py
Due: auto add label=ESPnet2

revert version
  tools/installers/install_phonemizer.sh
Due: auto add label=Installation

Add result in README.md
  egs2/an4/asr1/README.md
  egs2/an4/asr1/conf/decode_asr.yaml
  egs2/an4/asr1/run.sh
Due: auto add label=ESPnet2, auto add label=README

removed text, removed unused configs, and renamed a couple values
  egs2/TEMPLATE/vc1/vc.sh
  egs2/cmu_arctic/vc1/conf/fbank.conf
  egs2/cmu_arctic/vc1/conf/ob_eval/decode_asr.yaml
  egs2/cmu_arctic/vc1/conf/pitch.conf
  egs2/cmu_arctic/vc1/conf/specaug.yaml
  egs2/cmu_arctic/vc1/conf/tuning/decode_fastspeech.yaml
  egs2/cmu_arctic/vc1/conf/tuning/train_conformer_fastspeech2.yaml
  egs2/cmu_arctic/vc1/conf/tuning/train_tacotron2.yaml
  egs2/cmu_arctic/vc1/local/ob_eval/data_prep_for_asr.sh
  egs2/cmu_arctic/vc1/local/ob_eval/evaluate.sh
  egs2/cmu_arctic/vc1/local/pretrained_model_download.sh
  espnet2/bin/vc_inference.py
Due: auto add label=ESPnet2

updated the results
  egs/README.md
  egs2/aidatatang_200zh/asr1/README.md
Due: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=README

added an HF hub model link
  egs2/aidatatang_200zh/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

Change DFloss to multiple layers and move pretrained SSRL model to list
  espnet2/enh/loss/criterions/time_domain.py
Due: auto add label=ESPnet2

added learnable fourier features
  espnet/nets/pytorch_backend/transformer/embedding.py
Due: auto add label=ESPnet1

one import per line
  espnet2/enh/loss/criterions/time_domain.py
Due: auto add label=ESPnet2

Create __init__.py
  espnet2/asr/transducer/__init__.py
Due: auto add label=ESPnet2

apply linter
  espnet/nets/pytorch_backend/transformer/embedding.py
Due: auto add label=ESPnet1

Initial Readme
  egs2/slue-voxceleb/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

Update README.md
  egs2/slue-voxceleb/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

applied black linter
  espnet/nets/pytorch_backend/transformer/embedding.py
Due: auto add label=ESPnet1

Import in alphabetical order
  espnet2/enh/loss/criterions/time_domain.py
Due: auto add label=ESPnet2

add init.py
  espnet2/asr/transducer/__init__.py
Due: auto add label=ESPnet2

Fixed import orders
  espnet2/enh/loss/criterions/time_domain.py
  espnet2/tasks/enh.py
Due: auto add label=ESPnet2

Add pretrained model link
  egs2/slue-voxceleb/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
