Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

.mergify.yml:

pull_request_rules:
  - name: automatic merge if label=auto-merge
    conditions:
      - "label=auto-merge"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.0.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.1.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.2.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.3.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.4.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.5.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.6.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.7.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.8, 1.8.1, 6.0.0, false)"
    actions:
      merge:
        method: merge
        strict: false
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=ESPnet1"
    conditions:
      - files~=^(espnet/|egs/)
    actions:
      label:
        add: ["ESPnet1"]
  - name: "auto add label=ESPnet2"
    conditions:
      - files~=^(espnet2/|egs2/)
    actions:
      label:
        add: ["ESPnet2"]
  - name: "auto add label=ASR"
    conditions:
      - files~=^(espnet*/asr|egs*/*/asr1)
    actions:
      label:
        add: ["ASR"]
  - name: "auto add label=TTS"
    conditions:
      - files~=^(espnet*/tts|egs*/*/tts1)
    actions:
      label:
        add: ["TTS"]
  - name: "auto add label=MT"
    conditions:
      - files~=^(espnet*/mt|egs*/*/mt1)
    actions:
      label:
        add: ["MT"]
  - name: "auto add label=LM"
    conditions:
      - files~=^(espnet*/lm)
    actions:
      label:
        add: ["LM"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^doc/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]

python3 install instead of pip
  egs2/chime7_task1/asr1/local/install_dependencies.sh
Due: auto add label=ESPnet2

fix formating
  espnet2/gan_svs/vits/duration_predictor.py
Due: auto add label=ESPnet2

updated README.md
  egs2/chime7_task1/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

updated md5 checksum with .uem
  egs2/chime7_task1/asr1/local/chime7_dasr_md5.json
Due: auto add label=ESPnet2

keep only the last part
  egs2/chime7_task1/asr1/baseline_logs/inference.log
Due: auto add label=ESPnet2

added the remark about the dipco warning in README.md
  egs2/chime7_task1/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

christoph suggestions
  egs2/chime7_task1/asr1/local/da_wer_scoring.py
Due: auto add label=ESPnet2

removed inf tagas we are not copying anymore
  egs2/chime7_task1/asr1/run.sh
Due: auto add label=ESPnet2

normalize shell
  egs2/msuperb/asr1/run.sh
  egs2/msuperb/asr1/run_mono.sh
  egs2/msuperb/asr1/run_multi.sh
Due: auto add label=ESPnet2

fix comment error
  espnet2/gan_svs/espnet_model.py
Due: auto add label=ESPnet2

fix nagative durations when inference
  espnet2/gan_svs/vits/generator.py
Due: auto add label=ESPnet2

fix unit test
  test/espnet2/gan_svs/visinger/test_visinger.py
Due: none

refactoring asr.sh
  ci/test_integration_espnet2.sh
  egs2/TEMPLATE/asr1/asr.sh
Due: auto add label=ESPnet2, auto add label=CI

minor fixes, added logging as suggested by Christoph.
  egs2/chime7_task1/asr1/local/da_wer_scoring.py
Due: auto add label=ESPnet2

always use selection
  egs2/chime7_task1/asr1/run.sh
Due: auto add label=ESPnet2

kamo readme latex removal suggestion
  egs2/chime7_task1/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

fixed concatenation futurewarning. Removed from the log too
  egs2/chime7_task1/asr1/baseline_logs/inference.log
Due: auto add label=ESPnet2

Use scripts/utils/print_args.sh instead of pyscripts/utils/print_args.py
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/asr1/scripts/utils/print_args.sh
  egs2/TEMPLATE/diar1/diar.sh
  egs2/TEMPLATE/enh1/enh.sh
  egs2/TEMPLATE/enh_asr1/enh_asr.sh
  egs2/TEMPLATE/enh_diar1/enh_diar.sh
  egs2/TEMPLATE/enh_st1/enh_st.sh
  egs2/TEMPLATE/mt1/mt.sh
  egs2/TEMPLATE/slu1/slu.sh
  egs2/TEMPLATE/ssl1/hubert.sh
  egs2/TEMPLATE/st1/st.sh
  egs2/TEMPLATE/svs1/svs.sh
  egs2/TEMPLATE/tts1/tts.sh
  egs2/TEMPLATE/uasr1/uasr.sh
Due: auto add label=ESPnet2

add symbolic links
  egs2/TEMPLATE/diar1/scripts/utils/print_args.sh
  egs2/TEMPLATE/enh1/scripts/utils/print_args.sh
  egs2/TEMPLATE/enh_asr1/scripts/utils/print_args.sh
  egs2/TEMPLATE/enh_diar1/scripts/utils/print_args.sh
  egs2/TEMPLATE/uasr1/scripts/utils/print_args.sh
Due: auto add label=ESPnet2

updated images
  egs2/chime7_task1/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

updated jiwer to version 3
  egs2/chime7_task1/asr1/local/da_wer_scoring.py
Due: auto add label=ESPnet2

corrected typos in README
  egs2/chime7_task1/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

rendering issues
  egs2/chime7_task1/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

Update tools/Makefile and path.sh
  doc/installation.md
  egs2/TEMPLATE/asr1/path.sh
  egs2/TEMPLATE/asr1/pyscripts/utils/calculate_rtf.py
  egs2/TEMPLATE/diar1/path.sh
  egs2/TEMPLATE/enh1/path.sh
  egs2/TEMPLATE/enh_asr1/path.sh
  egs2/TEMPLATE/enh_diar1/path.sh
  egs2/TEMPLATE/enh_st1/path.sh
  egs2/TEMPLATE/mt1/path.sh
  egs2/TEMPLATE/slu1/path.sh
  egs2/TEMPLATE/ssl1/path.sh
  egs2/TEMPLATE/st1/path.sh
  egs2/TEMPLATE/svs1/path.sh
  egs2/TEMPLATE/tts1/path.sh
  egs2/TEMPLATE/uasr1/path.sh
  tools/Makefile
  tools/check_install.py
Due: auto add label=ESPnet2, auto add label=Documentation, auto add label=Installation

force re-rendering the new image
  egs2/chime7_task1/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

Update path.sh
  egs2/TEMPLATE/asr1/path.sh
Due: auto add label=ESPnet2

Update path.sh
  egs2/TEMPLATE/diar1/path.sh
Due: auto add label=ESPnet2

Update path.sh
  egs2/TEMPLATE/enh_st1/path.sh
Due: auto add label=ESPnet2

Update path.sh
  egs2/TEMPLATE/mt1/path.sh
Due: auto add label=ESPnet2

Update path.sh
  egs2/TEMPLATE/uasr1/path.sh
Due: auto add label=ESPnet2

Update path.sh
  egs2/TEMPLATE/tts1/path.sh
Due: auto add label=ESPnet2

Update path.sh
  egs2/TEMPLATE/svs1/path.sh
Due: auto add label=ESPnet2

Update path.sh
  egs2/TEMPLATE/st1/path.sh
Due: auto add label=ESPnet2

Update path.sh
  egs2/TEMPLATE/enh1/path.sh
Due: auto add label=ESPnet2

Update path.sh
  egs2/TEMPLATE/slu1/path.sh
Due: auto add label=ESPnet2

Update path.sh
  egs2/TEMPLATE/enh_asr1/path.sh
Due: auto add label=ESPnet2

Update path.sh
  egs2/TEMPLATE/ssl1/path.sh
Due: auto add label=ESPnet2

Update path.sh
  egs2/TEMPLATE/enh_diar1/path.sh
Due: auto add label=ESPnet2
