Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

Path conditions:
  auto add label=ESPnet1: any of: ^(espnet/|egs/)
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=ASR: any of: ^(espnet*/asr|egs*/*/asr1)
  auto add label=TTS: any of: ^(espnet*/tts|egs*/*/tts1)
  auto add label=MT: any of: ^(espnet*/mt|egs*/*/mt1)
  auto add label=LM: any of: ^(espnet*/lm)
  auto add label=README: any of: README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(ci/|.github/)
  auto add label=Installation: any of: ^(tools/|setup.py)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/

fix[openbeats]: address PR #6436 review comments
  espnet2/asr/encoder/beats_encoder.py
  espnet2/speechlm/tokenizer/random_tokenizer.py
Due: auto add label=ESPnet2

feat[openbeats]: add BEATs pretraining model, task, and checkpoint converter
  espnet2/beats/__init__.py
  espnet2/beats/espnet_model.py
  espnet2/beats/generate_beats_checkpoint.py
  espnet2/tasks/beats.py
Due: auto add label=ESPnet2

feat[openbeats]: add BEATs training CLIs
  espnet2/bin/beats_tokenizer_train.py
  espnet2/bin/beats_train.py
Due: auto add label=ESPnet2

feat[openbeats]: add fbank stats overlay helper
  egs2/TEMPLATE/asr1/pyscripts/utils/overlay_fbank_stats.py
Due: auto add label=ESPnet2

feat[openbeats]: add audio tokenization driver
  egs2/TEMPLATE/asr1/pyscripts/feats/dump_audio_tokens.py
  egs2/TEMPLATE/asr1/scripts/feats/audio_tokenization.sh
Due: auto add label=ESPnet2

feat[openbeats]: add fbank extraction with corpus stats
  egs2/TEMPLATE/asr1/scripts/feats/make_fbank_with_stats.sh
  espnet2/bin/compute_fbank_feats.py
Due: auto add label=ESPnet2

feat[openbeats]: add BEATs iterative pretraining stage runner
  egs2/TEMPLATE/ssl1/beats.sh
Due: auto add label=ESPnet2

test[openbeats]: add unit tests for BEATs pretraining model and task
  test/espnet2/beats/__init__.py
  test/espnet2/beats/test_espnet_model.py
  test/espnet2/tasks/test_beats.py
Due: none

fix[openbeats]: address PR #6437 review comments
  egs2/TEMPLATE/asr1/pyscripts/feats/dump_audio_tokens.py
  espnet2/beats/espnet_model.py
Due: auto add label=ESPnet2

egs2/magicdata_ramc: refresh row 3b CER under new data pipeline
  egs2/magicdata_ramc/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

egs2/magicdata_ramc: drop old-pipeline ablation rows from README
  egs2/magicdata_ramc/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README

Add missing files in egs3/librimix/tse/
  egs3/librimix/tse/dataset/builder.py
  egs3/librimix/tse/dataset/config.yaml
  egs3/librimix/tse/dataset/dataset.py
  egs3/librimix/tse/run.sh
Due: none

Add model wrapper for inference stage
  egs3/librispeech_100/asr/conf/granite-speech/fine-tune.yaml
  egs3/librispeech_100/asr/conf/granite-speech/inference.yaml
  egs3/librispeech_100/asr/src/granite_speech.py
Due: none

Fix: add missing import inference_runner.py
  espnet3/systems/base/inference_runner.py
Due: none

Address MultiMed-ST recipe symlink review comments
  egs2/multimed_st/s2t1/cmd.sh
  egs2/multimed_st/s2t1/conf/fbank.conf
  egs2/multimed_st/s2t1/conf/pbs.conf
  egs2/multimed_st/s2t1/conf/pitch.conf
  egs2/multimed_st/s2t1/conf/queue.conf
  egs2/multimed_st/s2t1/conf/slurm.conf
  egs2/multimed_st/s2t1/local/path.sh
  egs2/multimed_st/s2t1/pyscripts
  egs2/multimed_st/s2t1/scripts
  egs2/multimed_st/s2t1/steps
  egs2/multimed_st/s2t1/utils
Due: auto add label=ESPnet2

Added the IISc-MILE Tamil ASR recipe (ta_openslr127)
  egs2/README.md
  egs2/TEMPLATE/asr1/db.sh
  egs2/ta_openslr127/asr1/asr.sh
  egs2/ta_openslr127/asr1/cmd.sh
  egs2/ta_openslr127/asr1/conf/decode_asr.yaml
  egs2/ta_openslr127/asr1/conf/fbank.conf
  egs2/ta_openslr127/asr1/conf/pbs.conf
  egs2/ta_openslr127/asr1/conf/pitch.conf
  egs2/ta_openslr127/asr1/conf/queue.conf
  egs2/ta_openslr127/asr1/conf/slurm.conf
  egs2/ta_openslr127/asr1/conf/train_asr.yaml
  egs2/ta_openslr127/asr1/conf/tuning/train_asr_e_branchformer.yaml
  egs2/ta_openslr127/asr1/db.sh
  egs2/ta_openslr127/asr1/local/data.sh
  egs2/ta_openslr127/asr1/local/data_prep.py
  egs2/ta_openslr127/asr1/local/path.sh
  egs2/ta_openslr127/asr1/path.sh
  egs2/ta_openslr127/asr1/pyscripts
  egs2/ta_openslr127/asr1/run.sh
  egs2/ta_openslr127/asr1/scripts
  egs2/ta_openslr127/asr1/steps
  egs2/ta_openslr127/asr1/utils
Due: auto add label=ESPnet2, auto add label=README

fix[openbeats]: silence-pad short inputs instead of repeating
  espnet2/asr/encoder/beats_encoder.py
Due: auto add label=ESPnet2

fix[openbeats]: split per-iteration targets in beats.sh multi-iter
  egs2/TEMPLATE/ssl1/beats.sh
Due: auto add label=ESPnet2

fix[openbeats]: seed RandomProjectionQuantizer init in BeatsRandomTokenizer
  espnet2/speechlm/tokenizer/beats_tokenizer.py
Due: auto add label=ESPnet2

docs[openbeats]: clarify fbank_mean/std comment
  espnet2/asr/encoder/beats_encoder.py
Due: auto add label=ESPnet2

Revert changes in ci and test
  ci/test_import_all.py
  test/espnet3/components/data/test_data_organizer.py
  test/espnet3/parallel/test_inference_runner.py
  test/espnet3/parallel/test_parallel.py
  test/espnet3/systems/asr/test_system.py
  test/espnet3/systems/base/test_base_system.py
  test/espnet3/systems/base/test_inference.py
  test/espnet3/systems/base/test_inference_runner.py
  test/espnet3/utils/test_config.py
  test/espnet3/utils/test_run_utils.py
Due: auto add label=CI

Fix bugs in TSE training
  egs3/TEMPLATE/tse/conf/training.yaml
  egs3/librimix/tse/conf/tuning/training_td_speakerbeam_16k.yaml
  egs3/librimix/tse/dataset/dataset.py
Due: none

egs3: add NeMo-free Sortformer speaker diarization (offline + streaming)
  egs3/librispeech_sortformer/__init__.py
  egs3/librispeech_sortformer/diar/__init__.py
  egs3/librispeech_sortformer/diar/conf/inference.yaml
  egs3/librispeech_sortformer/diar/conf/metrics.yaml
  egs3/librispeech_sortformer/diar/conf/training.yaml
  egs3/librispeech_sortformer/diar/path.sh
  egs3/librispeech_sortformer/diar/readme.md
  egs3/librispeech_sortformer/diar/run.py
  egs3/librispeech_sortformer/diar/src/__init__.py
  egs3/librispeech_sortformer/diar/src/data_prep.py
  egs3/librispeech_sortformer/diar/src/eval_longform_ami.py
  egs3/librispeech_sortformer/diar/src/finetune_ami_sdm.py
  egs3/librispeech_sortformer/diar/src/inference.py
  egs3/librispeech_sortformer/diar/src/score_der_pyannote.py
  egs3/librispeech_sortformer/diar/src/smoke_train_ami_sdm.py
  egs3/librispeech_sortformer/diar/src/smoke_train_nest_sdm.py
  espnet2/bin/diar_sortformer_inference.py
  espnet2/diar/espnet_sortformer_model.py
  espnet2/diar/sortformer/__init__.py
  espnet2/diar/sortformer/convert_hf_sortformer.py
  espnet2/diar/sortformer/convert_nemo_sortformer.py
  espnet2/diar/sortformer/convert_nest.py
  espnet2/diar/sortformer/fastconformer_encoder.py
  espnet2/diar/sortformer/longform.py
  espnet2/diar/sortformer/preprocessor.py
  espnet2/diar/sortformer/sort_loss.py
  espnet2/diar/sortformer/sortformer_modules.py
  espnet2/diar/sortformer/transformer_encoder.py
  espnet2/tasks/diar_sortformer.py
  espnet3/systems/diar/__init__.py
  espnet3/systems/diar/metrics/__init__.py
  espnet3/systems/diar/metrics/der.py
  espnet3/systems/diar/system.py
  espnet3/systems/diar/task.py
  test/espnet2/diar/test_sortformer_model.py
Due: auto add label=ESPnet2

egs3/librispeech_sortformer: 8-speaker streaming Sortformer main recipe
  egs3/librispeech_sortformer/diar/conf/inference.yaml
  egs3/librispeech_sortformer/diar/conf/training.yaml
  egs3/librispeech_sortformer/diar/conf/training_4spk_offline.yaml
  egs3/librispeech_sortformer/diar/dataset/__init__.py
  egs3/librispeech_sortformer/diar/dataset/config.yaml
  egs3/librispeech_sortformer/diar/dataset/dataset.py
  egs3/librispeech_sortformer/diar/readme.md
  egs3/librispeech_sortformer/diar/run.py
  egs3/librispeech_sortformer/diar/src/data_prep.py
  egs3/librispeech_sortformer/diar/src/finetune_v2_longform.py
  espnet2/diar/espnet_sortformer_model.py
  espnet2/diar/sortformer/sort_loss.py
  espnet2/tasks/diar_sortformer.py
  test/espnet2/diar/test_sortformer_model.py
Due: auto add label=ESPnet2

egs3/librispeech_sortformer: auto-download lhotse LibriSpeech alignments
  egs3/librispeech_sortformer/diar/conf/training.yaml
  egs3/librispeech_sortformer/diar/readme.md
  egs3/librispeech_sortformer/diar/src/data_prep.py
Due: none

egs3/librispeech_sortformer: fetch LS alignments via lhotse download_librispeech
  egs3/librispeech_sortformer/diar/src/data_prep.py
Due: none

egs3/librispeech_sortformer: FastMSS from pre-aligned manifests (no Drive)
  egs3/librispeech_sortformer/diar/conf/training.yaml
  egs3/librispeech_sortformer/diar/readme.md
  egs3/librispeech_sortformer/diar/src/data_prep.py
Due: none

sortformer: local attention (att_context_size) with full cache attention
  egs3/librispeech_sortformer/diar/conf/training.yaml
  espnet2/diar/espnet_sortformer_model.py
  espnet2/diar/sortformer/fastconformer_encoder.py
  test/espnet2/diar/test_sortformer_model.py
Due: auto add label=ESPnet2

sortformer: efficient O(N*W) sliding-window local attention
  espnet2/diar/sortformer/fastconformer_encoder.py
  espnet2/diar/sortformer/sliding_window_attention.py
  test/espnet2/diar/test_sortformer_model.py
Due: auto add label=ESPnet2

sortformer: drop unused imports in local-attention test
  test/espnet2/diar/test_sortformer_model.py
Due: none

sortformer: local sliding-window attention for the Transformer encoder
  egs3/librispeech_sortformer/diar/conf/training.yaml
  espnet2/diar/espnet_sortformer_model.py
  espnet2/diar/sortformer/sliding_window_attention.py
  espnet2/diar/sortformer/transformer_encoder.py
  test/espnet2/diar/test_sortformer_model.py
Due: auto add label=ESPnet2

egs3/librispeech_sortformer: FastMSS+AMI local-attention smoke script
  egs3/librispeech_sortformer/diar/src/smoke_fastmss_ami_local.py
Due: none

egs3/librispeech_sortformer: scaled cache-in-loop training script
  egs3/librispeech_sortformer/diar/src/train_scaled_local.py
Due: none

fix[openbeats]: rewrap fbank-stats comment to satisfy flake8 (E501)
  espnet2/asr/encoder/beats_encoder.py
Due: auto add label=ESPnet2

egs3/librispeech_sortformer: align scaled training to NeMo streaming-v2 config
  egs3/librispeech_sortformer/diar/src/train_scaled_local.py
Due: none

egs3/librispeech_sortformer: finalize diarization recipe (NeMo-faithful, cleanup)
  egs3/librispeech_sortformer/diar/conf/training.yaml
  egs3/librispeech_sortformer/diar/dataset/config.yaml
  egs3/librispeech_sortformer/diar/readme.md
  egs3/librispeech_sortformer/diar/src/data_prep.py
  egs3/librispeech_sortformer/diar/src/eval_longform_ami.py
  egs3/librispeech_sortformer/diar/src/finetune_ami_sdm.py
  egs3/librispeech_sortformer/diar/src/finetune_v2_longform.py
  egs3/librispeech_sortformer/diar/src/score_der_pyannote.py
  egs3/librispeech_sortformer/diar/src/smoke_fastmss_ami_local.py
  egs3/librispeech_sortformer/diar/src/smoke_train_ami_sdm.py
  egs3/librispeech_sortformer/diar/src/smoke_train_nest_sdm.py
  egs3/librispeech_sortformer/diar/src/train_scaled_local.py
Due: none

egs3/diar_sortformer_cache: self-contained Sortformer recipe (move + rename)
  egs3/diar_sortformer_cache/.gitignore
  egs3/diar_sortformer_cache/__init__.py
  egs3/diar_sortformer_cache/conf/inference.yaml
  egs3/diar_sortformer_cache/conf/metrics.yaml
  egs3/diar_sortformer_cache/conf/training.yaml
  egs3/diar_sortformer_cache/conf/training_4spk_offline.yaml
  egs3/diar_sortformer_cache/dataset/__init__.py
  egs3/diar_sortformer_cache/dataset/config.yaml
  egs3/diar_sortformer_cache/dataset/dataset.py
  egs3/diar_sortformer_cache/path.sh
  egs3/diar_sortformer_cache/readme.md
  egs3/diar_sortformer_cache/run.py
  egs3/diar_sortformer_cache/sortformer/__init__.py
  egs3/diar_sortformer_cache/sortformer/convert_hf_sortformer.py
  egs3/diar_sortformer_cache/sortformer/convert_nemo_sortformer.py
  egs3/diar_sortformer_cache/sortformer/convert_nest.py
  egs3/diar_sortformer_cache/sortformer/der.py
  egs3/diar_sortformer_cache/sortformer/fastconformer_encoder.py
  egs3/diar_sortformer_cache/sortformer/inference_bin.py
  egs3/diar_sortformer_cache/sortformer/longform.py
  egs3/diar_sortformer_cache/sortformer/model.py
  egs3/diar_sortformer_cache/sortformer/preprocessor.py
  egs3/diar_sortformer_cache/sortformer/sliding_window_attention.py
  egs3/diar_sortformer_cache/sortformer/sort_loss.py
  egs3/diar_sortformer_cache/sortformer/sortformer_modules.py
  egs3/diar_sortformer_cache/sortformer/system.py
  egs3/diar_sortformer_cache/sortformer/task.py
  egs3/diar_sortformer_cache/sortformer/transformer_encoder.py
  egs3/diar_sortformer_cache/src/__init__.py
  egs3/diar_sortformer_cache/src/data_prep.py
  egs3/diar_sortformer_cache/src/inference.py
  egs3/diar_sortformer_cache/tests/test_sortformer.py
  egs3/librispeech_sortformer/diar/path.sh
  egs3/librispeech_sortformer/diar/src/__init__.py
  espnet3/systems/diar/__init__.py
  espnet3/systems/diar/metrics/__init__.py
  espnet3/systems/diar/task.py
Due: none

feat: update run.py and fix ci errors
  egs3/TEMPLATE/asr/run.py
  egs3/mini_an4/asr/run.py
Due: none

Added the IISc-MILE Tamil ASR Results
  egs2/ta_openslr127/asr1/README.md
Due: auto add label=ESPnet2, auto add label=README
