Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet2, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=mergify, auto add label=Docker

.mergify.yml:

pull_request_rules:
  - name: automatic merge if label=auto-merge
    conditions:
      - "label=auto-merge"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.0.1, 6.0.0, false)" 
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.1.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.2.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.3.1, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.4.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.7, 1.5.0, 6.0.0, false)"
      - "status-success=linter_and_test (ubuntu-18.04, 3.8, 1.5.0, 6.0.0, false)"
      - "status-success=ci/circleci: test-centos7"
      - "status-success=ci/circleci: test-debian9"
      - "status-success=ci/circleci: test-ubuntu16"
      - "status-success=ci/circleci: test-ubuntu18"
      - "status-success=continuous-integration/travis-ci/pr"
    actions:
      merge:
        method: merge
        strict: false
  - name: delete head branch after merge
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: Copy master to develop branch
    conditions:
      - base=master
      - merged
    actions:
      copy:
        branches:
          - develop
        # Whether to create the pull requests even if they are conflicts when cherry-picking the commits.
        ignore_conflicts: true
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=ESPnet2"
    conditions:
      - files~=^(espnet2/|egs2/)
    actions:
      label:
        add: ["ESPnet2"]
  - name: "auto add label=README"
    conditions:
      - files~=^README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^doc/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]

fix CSJ path.
  egs/csj/align1/run.sh
Due: none

fix style to executable scripts.
  egs/csj/align1/local/csj_rm_tag_sp_space.sh
  egs/csj/align1/local/gather_transcript.py
Due: none

add transducer error calculator for espnet2 + fixes
  espnet/nets/e2e_asr_common.py
  espnet2/asr/espnet_model.py
  espnet2/tasks/asr.py
Due: auto add label=ESPnet2

change rnnt decode conf field name for consistency
  egs2/vivos/asr1/conf/tuning/transducer/decode_rnnt.yaml
  espnet2/bin/asr_inference.py
Due: auto add label=ESPnet2

fix type
  espnet2/asr/espnet_model.py
Due: auto add label=ESPnet2

Update espnet2_tutorial.md
  doc/espnet2_tutorial.md
Due: auto add label=Documentation

CTC segmentation - fix #2526
  README.md
  espnet/bin/asr_align.py
  utils/asr_align_wav.sh
Due: auto add label=README

CTC segmentation - added transformer check in asr_align_wav.sh
  utils/asr_align_wav.sh
Due: none

CTC segmentation - clearer description
  README.md
Due: auto add label=README

CTC segmenation - black
  espnet/bin/asr_align.py
Due: none

CTC segmentation - adjust verbosity
  espnet/bin/asr_align.py
Due: none

CTC segmentation - flake8
  espnet/bin/asr_align.py
Due: none

ground truth for asr demo
  egs2/babel/asr1/demo/ground_truth.txt
Due: auto add label=ESPnet2

change import order
  espnet/nets/transducer_decoder_interface.py
Due: none

refactor: use RNNDecoder + split joint network + methods unification
  espnet2/asr/decoder/rnn_decoder.py
  espnet2/asr/espnet_model.py
  espnet2/bin/asr_inference.py
  espnet2/tasks/asr.py
Due: auto add label=ESPnet2

unify beam search classes espnet1/espnet2
  espnet/nets/beam_search_transducer.py
  espnet/nets/beam_search_transducer_espnet2.py
Due: none

split join network
  espnet/nets/pytorch_backend/transducer/joint_network.py
Due: none

unify ErrorCalculatorTrans espnet1/espnet2
  espnet/nets/e2e_asr_common.py
Due: none

transducer recog: use new beam search
  espnet/asr/pytorch_backend/asr.py
Due: none

use new beam search and error calculator
  espnet/nets/pytorch_backend/e2e_asr_transducer.py
Due: none

split joint network
  espnet/nets/pytorch_backend/transducer/rnn_att_decoder.py
  espnet/nets/pytorch_backend/transducer/rnn_decoder.py
  espnet/nets/pytorch_backend/transducer/transformer_decoder.py
Due: none

update configs
  egs2/vivos/asr1/conf/tuning/transducer/decode_rnnt.yaml
  egs2/vivos/asr1/conf/tuning/transducer/train_asr_rnnt.yaml
Due: auto add label=ESPnet2

fix: use new beam search
  test/test_e2e_asr_sa_transducer.py
  test/test_e2e_asr_transducer.py
Due: none

add rnnt w/ att. config
  egs2/vivos/asr1/conf/tuning/transducer/train_asr_rnnt_att.yaml
Due: auto add label=ESPnet2

refactor: use RNNDecoder and JointNetwork + unification
  espnet2/asr/decoder/transducer_decoder.py
Due: auto add label=ESPnet2

fix rnnt case
  test/test_asr_init.py
Due: none

use local scripts of asr1 to avoid duplication.
  egs/csj/align1/local/csj_data_prep.sh
  egs/csj/align1/local/csj_make_trans
  egs/csj/align1/local/csj_make_trans/csj2kaldi4m.pl
  egs/csj/align1/local/csj_make_trans/csj_autorun.sh
  egs/csj/align1/local/csj_make_trans/csjconnect.pl
  egs/csj/align1/local/csj_make_trans/kana2phone
  egs/csj/align1/local/csj_make_trans/vocab2dic.pl
  egs/csj/align1/local/csj_rm_tag.py
  egs/csj/align1/local/score_sclite.sh
  egs/csj/align1/run.sh
Due: none

change demo model
  egs2/babel/asr1/demo.sh
Due: auto add label=ESPnet2

fix model path
  egs2/babel/asr1/demo.sh
Due: auto add label=ESPnet2

use pep8 style for import + some cleaning
  espnet/nets/beam_search_transducer.py
  espnet/nets/e2e_asr_common.py
  espnet/nets/pytorch_backend/e2e_asr_transducer.py
  espnet/nets/pytorch_backend/transducer/transformer_decoder.py
  espnet/nets/transducer_decoder_interface.py
  espnet2/asr/decoder/rnn_decoder.py
  espnet2/asr/decoder/transducer_decoder.py
  espnet2/bin/asr_inference.py
  test/test_asr_init.py
  test/test_e2e_asr_sa_transducer.py
  test/test_e2e_asr_transducer.py
Due: auto add label=ESPnet2

refactor BeamSearchTransducer and ErrorCalculator
  espnet/asr/pytorch_backend/asr.py
  espnet/nets/beam_search_transducer.py
  espnet/nets/e2e_asr_common.py
  espnet/nets/pytorch_backend/e2e_asr_transducer.py
  espnet/nets/pytorch_backend/transducer/rnn_att_decoder.py
  espnet/nets/pytorch_backend/transducer/rnn_decoder.py
  espnet/nets/pytorch_backend/transducer/transformer_decoder.py
  espnet/nets/transducer_decoder_interface.py
Due: none

split joint network definition
  espnet/nets/pytorch_backend/transducer/joint_network.py
Due: none

update test according to refactor
  test/test_asr_init.py
  test/test_e2e_asr_sa_transducer.py
  test/test_e2e_asr_transducer.py
Due: none

relaxed dependecy
  setup.py
Due: none

remove commented code
  espnet/nets/pytorch_backend/transducer/rnn_decoder.py
Due: none

🎉 v.0.9.4 release
  setup.py
Due: none

fix wrong indent in nsc
  espnet/nets/beam_search_transducer.py
Due: none

update according to #2538
  espnet/nets/beam_search_transducer.py
  espnet/nets/pytorch_backend/transducer/rnn_decoder.py
Due: none

fix select_state() and create_batch_states() for use_attention=True
  espnet2/asr/decoder/transducer_decoder.py
Due: auto add label=ESPnet2
