Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet2, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=mergify, auto add label=Docker

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

[docs] [minor] fix a broken link
  doc/installation.md
Due: auto add label=Documentation

Fix logging for pytorch>=1.8
  espnet2/tasks/abs_task.py
  espnet2/train/distributed_utils.py
  test/espnet2/train/test_distributed_utils.py
Due: auto add label=ESPnet2

add gpu_max_cached_mem_GB in rporter's stats
  espnet2/train/reporter.py
Due: auto add label=ESPnet2

bug fix of uninstalling typing
  tools/Makefile
Due: none

added one more bpe10000 model and result
  egs2/spgispeech/asr1/README.md
Due: auto add label=ESPnet2

Fix speed perturbation
  utils/speed_perturb.sh
Due: none

added results
  egs/iwslt21/asr1/RESULTS.md
  egs/iwslt21/asr1/conf/tuning/decode_pytorch_transformer.yaml
  egs/iwslt21/asr1/conf/tuning/train_pytorch_conformer_large_librispeech_like.yaml
  egs/iwslt21/asr1/conf/tuning/train_pytorch_conformer_large_mustc_like.yaml
  egs/iwslt21/asr1/run.sh
Due: none

update the comments and changed the epochs
  egs/iwslt21/asr1/RESULTS.md
  egs/iwslt21/asr1/conf/train.yaml
  egs/iwslt21/asr1/conf/tuning/train_pytorch_conformer_large_librispeech_like.yaml
  egs/iwslt21/asr1/conf/tuning/train_pytorch_conformer_large_mustc_like.yaml
Due: none

Unify divide_lang.sh
  egs/how2/asr1/run.sh
  egs/how2/mt1/run.sh
  egs/how2/st1/local/divide_lang.sh
  egs/how2/st1/run.sh
  egs/iwslt21_low_resource/asr1/run.sh
  egs/iwslt21_low_resource/st1/local/divide_lang.sh
  egs/iwslt21_low_resource/st1/run.sh
  egs/libri_trans/asr1/run.sh
  egs/libri_trans/mt1/run.sh
  egs/libri_trans/st1/local/divide_lang.sh
  egs/libri_trans/st1/run.sh
  egs/mboshi_french/st1/local/divide_lang.sh
  egs/mboshi_french/st1/run.sh
  egs/must_c/asr1/run.sh
  egs/must_c/mt1/run.sh
  egs/must_c/st1/local/divide_lang.sh
  egs/must_c/st1/run.sh
  egs/must_c_v2/asr1/run.sh
  egs/must_c_v2/mt1/run.sh
  egs/must_c_v2/st1/run.sh
  utils/divide_lang.sh
Due: none

Modify espnet2 conformer to accept legacy implementation
  espnet2/asr/encoder/conformer_encoder.py
Due: auto add label=ESPnet2

Fix rel_pos_type condition issue
  espnet2/asr/encoder/conformer_encoder.py
Due: auto add label=ESPnet2

Modified test code
  test/espnet2/asr/encoder/test_conformer_encoder.py
Due: none

Refacter iwslt18 MT recipe
  egs/iwslt18/mt1/run.sh
  egs/iwslt18/st1/local/data_prep_eval.sh
  egs/iwslt18/st1/local/download_and_untar.sh
  egs/iwslt18/st1/local/parse_xml.py
  egs/iwslt18/st1/local/remove_punctuation.pl
Due: none

Add tst2018 and tst2019
  egs/iwslt18/asr1/run.sh
  egs/iwslt18/st1/run.sh
Due: none

Apply black
  espnet2/asr/encoder/conformer_encoder.py
  test/espnet2/asr/encoder/test_conformer_encoder.py
Due: auto add label=ESPnet2

Fixed linefeed width
  espnet2/asr/encoder/conformer_encoder.py
Due: auto add label=ESPnet2

Fix #3072
  espnet2/iterators/chunk_iter_factory.py
Due: auto add label=ESPnet2

Increase test converage
  espnet2/asr/encoder/conformer_encoder.py
  test/espnet2/asr/encoder/test_conformer_encoder.py
Due: auto add label=ESPnet2

Update setup.py
  setup.py
Due: none

Separate files for streaming processing
  espnet/nets/batch_beam_search_online.py
  espnet2/bin/asr_inference_streaming.py
Due: auto add label=ESPnet2

Implemented streaming version of frontend
  espnet2/bin/asr_inference_streaming.py
Due: auto add label=ESPnet2

add efficient encoder and prediction output combination
  espnet/nets/pytorch_backend/e2e_asr_transducer.py
  espnet/nets/pytorch_backend/transducer/arguments.py
  espnet/nets/pytorch_backend/transducer/auxiliary_task.py
  espnet/nets/pytorch_backend/transducer/joint_network.py
  espnet/nets/pytorch_backend/transducer/loss.py
Due: none

extend test
  test/test_e2e_asr_transducer.py
Due: none

fix typo
  espnet/nets/pytorch_backend/transducer/arguments.py
Due: none

Test streaming processing of the frontend part
  espnet2/bin/asr_inference_streaming.py
Due: auto add label=ESPnet2

first commit of gigaspeech
  egs2/gigaspeech/asr1/asr.sh
  egs2/gigaspeech/asr1/cmd.sh
  egs2/gigaspeech/asr1/conf/decode_asr.yaml
  egs2/gigaspeech/asr1/conf/fbank.conf
  egs2/gigaspeech/asr1/conf/pbs.conf
  egs2/gigaspeech/asr1/conf/pitch.conf
  egs2/gigaspeech/asr1/conf/queue.conf
  egs2/gigaspeech/asr1/conf/slurm.conf
  egs2/gigaspeech/asr1/conf/train_asr.yaml
  egs2/gigaspeech/asr1/conf/train_lm.yaml
  egs2/gigaspeech/asr1/conf/tuning/train_asr_conformer6_n_fft512_hop_length256.yaml
  egs2/gigaspeech/asr1/db.sh
  egs2/gigaspeech/asr1/local/data.sh
  egs2/gigaspeech/asr1/local/path.sh
  egs2/gigaspeech/asr1/path.sh
  egs2/gigaspeech/asr1/pyscripts
  egs2/gigaspeech/asr1/run.sh
  egs2/gigaspeech/asr1/scripts
  egs2/gigaspeech/asr1/steps
  egs2/gigaspeech/asr1/utils
Due: auto add label=ESPnet2

fix data directory and disable sp
  egs2/gigaspeech/asr1/local/data.sh
  egs2/gigaspeech/asr1/run.sh
Due: auto add label=ESPnet2

fix config files
  egs2/gigaspeech/asr1/run.sh
Due: auto add label=ESPnet2

fix cmd.sh
  egs2/gigaspeech/asr1/cmd.sh
Due: auto add label=ESPnet2

added GIGASPEECH in db.sh
  egs2/TEMPLATE/asr1/db.sh
Due: auto add label=ESPnet2

make the data preparation done by the gigaspeech script
  egs2/gigaspeech/asr1/local/data.sh
Due: auto add label=ESPnet2

trim loss target
  espnet/nets/pytorch_backend/transducer/loss.py
Due: none

fix symm kl with joint memory reduction
  espnet/nets/pytorch_backend/transducer/auxiliary_task.py
Due: none

small clean up and fix doc
  espnet/nets/pytorch_backend/transducer/auxiliary_task.py
  espnet/nets/pytorch_backend/transducer/joint_network.py
  espnet/nets/pytorch_backend/transducer/loss.py
Due: none

Update librispeech result
  egs2/librispeech/asr1/README.md
  egs2/librispeech/asr1/conf/tuning/train_asr_conformer6_n_fft400_hop_length160.yaml
  egs2/librispeech/asr1/conf/tuning/train_asr_conformer6_n_fft512_hop_length256.yaml
  egs2/librispeech/asr1/conf/tuning/train_asr_conformer7_n_fft512_hop_length256.yaml
  egs2/librispeech/asr1/run.sh
Due: auto add label=ESPnet2

Modified PositionalEncoding for streaming input support
  espnet/nets/pytorch_backend/transformer/embedding.py
Due: none

Refactored streaming encoder
  espnet2/asr/encoder/contextual_block_transformer_encoder.py
  espnet2/bin/asr_inference_streaming.py
Due: auto add label=ESPnet2

Update README.md
  README.md
Due: auto add label=README

[WIP] Encoder streaming implementation
  espnet2/asr/encoder/contextual_block_transformer_encoder.py
Due: auto add label=ESPnet2

Path conditions:
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=README: any of: ^README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
