Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet2, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=mergify, auto add label=Docker

auto add label=ESPnet2:
  label:
    add:
    - ESPnet2

auto add label=README:
  label:
    add:
    - README

auto add label=Documentation:
  label:
    add:
    - Documentation

auto add label=CI:
  label:
    add:
    - CI

auto add label=mergify:
  label:
    add:
    - mergify

auto add label=Docker:
  label:
    add:
    - Docker

Update espnet2_distributed.md
  doc/espnet2_distributed.md
Due: auto add label=Documentation

remove gabage
  doc/a.txt
Due: auto add label=Documentation

Update espnet2_training_option.md
  doc/espnet2_training_option.md
Due: auto add label=Documentation

Address review comments
  egs/libri_css/asr1_mono/diarization/README
  egs/libri_css/asr1_mono/diarization/VB_diarization.py
  egs/libri_css/asr1_mono/diarization/VB_resegmentation.py
  egs/libri_css/asr1_mono/diarization/VB_resegmentation.sh
  egs/libri_css/asr1_mono/diarization/convert_VB_model.py
  egs/libri_css/asr1_mono/diarization/extract_ivectors.sh
  egs/libri_css/asr1_mono/diarization/score_plda.sh
  egs/libri_css/asr1_mono/diarization/train_ivector_extractor_diag.sh
  egs/libri_css/asr1_mono/diarization/vad_to_segments.sh
  egs/libri_css/asr1_mono/diarization/vb_hmm_xvector.sh
  egs/libri_css/asr1_mono/local/decode.sh
  egs/libri_css/asr1_mono/local/diarize_agglomerative.sh
  egs/libri_css/asr1_mono/local/diarize_bhmm.sh
  egs/libri_css/asr1_mono/local/download_asr.sh
  egs/libri_css/asr1_mono/run.sh
Due: none

Rename diarizer type parameter
  egs/libri_css/asr1_mono/local/decode.sh
  egs/libri_css/asr1_mono/run.sh
Due: none

Address review comments
  egs/libri_css/asr1_mono/RESULTS.md
Due: none

Fix path.sh
  egs/libri_css/asr1_mono/path.sh
Due: none

Refactor LibriCSS recipe for ESPnet style
  egs/libri_css/asr1_mono/diarization/vb_hmm_xvector.sh
  egs/libri_css/asr1_mono/local/data_download.sh
  egs/libri_css/asr1_mono/local/data_prep_mono.sh
  egs/libri_css/asr1_mono/local/decode.sh
  egs/libri_css/asr1_mono/local/decode_diarized.sh
  egs/libri_css/asr1_mono/local/decode_oracle.sh
  egs/libri_css/asr1_mono/local/diarize.sh
  egs/libri_css/asr1_mono/local/diarize_agglomerative.sh
  egs/libri_css/asr1_mono/local/diarize_bhmm.sh
  egs/libri_css/asr1_mono/local/diarize_spectral.sh
  egs/libri_css/asr1_mono/local/download_asr.sh
  egs/libri_css/asr1_mono/local/download_xvector.sh
  egs/libri_css/asr1_mono/local/multispeaker_score.sh
  egs/libri_css/asr1_mono/local/score_reco_diarized.sh
  egs/libri_css/asr1_mono/local/score_reco_oracle.sh
  egs/libri_css/asr1_mono/local/segment.sh
  egs/libri_css/asr1_mono/local/segment_diarize_oracle.sh
  egs/libri_css/asr1_mono/path.sh
  egs/libri_css/asr1_mono/run.sh
Due: none

Fix some shell issues and reduce $nj
  egs/libri_css/asr1_mono/run.sh
Due: none

Address review comments, fix VB-HMM and some minor things
  egs/libri_css/asr1_mono/RESULTS.md
  egs/libri_css/asr1_mono/diarization/VB_diarization.py
  egs/libri_css/asr1_mono/diarization/vb_hmm_xvector.sh
  egs/libri_css/asr1_mono/local/diarize.sh
  egs/libri_css/asr1_mono/path.sh
  egs/libri_css/asr1_mono/run.sh
Due: none

skip doubtful test: test/espnet2/train/test_distributed_utils.py
  test/espnet2/train/test_distributed_utils.py
Due: none

remove garbage
  egs2/mnist/dcgan1/conf/slurm.conf
Due: auto add label=ESPnet2

Update db.sh
  egs2/TEMPLATE/asr1/db.sh
Due: auto add label=ESPnet2

updated db.sh
  egs2/TEMPLATE/asr1/db.sh
Due: auto add label=ESPnet2

Update parallelization.md
  doc/parallelization.md
Due: auto add label=Documentation

fixed config
  egs2/csmsc/tts1/conf/tuning/train_conformer_fastspeech2.yaml
  egs2/csmsc/tts1/conf/tuning/train_fastspeech2.yaml
  egs2/jsut/tts1/conf/tuning/train_conformer_fastspeech2.yaml
  egs2/jsut/tts1/conf/tuning/train_fastspeech2.yaml
  egs2/ljspeech/tts1/conf/tuning/train_conformer_fastspeech2.yaml
  egs2/ljspeech/tts1/conf/tuning/train_fastspeech2.yaml
Due: auto add label=ESPnet2

added gst fastspeech2 configs
  egs2/vctk/tts1/conf/tuning/train_gst_conformer_fastspeech2.yaml
  egs2/vctk/tts1/conf/tuning/train_gst_fastspeech2.yaml
Due: auto add label=ESPnet2

fixed comment
  egs2/vctk/tts1/conf/tuning/train_gst_conformer_fastspeech2.yaml
Due: auto add label=ESPnet2

Update README.md
  egs2/TEMPLATE/README.md
Due: auto add label=ESPnet2

Update faq.md
  doc/faq.md
Due: auto add label=Documentation

update doc
  espnet/nets/beam_search_transducer.py
Due: none

updated .gitignore
  .gitignore
Due: none

minor change for YM
  egs/yoloxochitl_mixtec/asr1/run.sh
Due: none

update openslr link
  egs/yoloxochitl_mixtec/asr1/run.sh
Due: none

fix ci
  egs/yoloxochitl_mixtec/asr1/run.sh
Due: none

Update data.sh
  egs2/commonvoice/asr1/local/data.sh
Due: auto add label=ESPnet2

Workaround for soundfile issue
  tools/Makefile
Due: none

Minor fix
  egs2/commonvoice/asr1/local/data.sh
Due: auto add label=ESPnet2

Fix HKUST recipe
  ci/install.sh
  egs/hkust/asr1/local/hkust_data_prep.sh
  egs/hkust/asr1/run.sh
  tools/Makefile
  tools/installers/install_py3mmseg.sh
Due: auto add label=CI

remove unused method
  espnet/nets/pytorch_backend/transducer/transformer_encoder.py
Due: none

fix bug in NSC related to LM usage
  espnet/nets/beam_search_transducer.py
Due: none

small clean up
  espnet/nets/pytorch_backend/transducer/vgg2l.py
Due: none

fix et refine transducer test
  test/test_e2e_asr_sa_transducer.py
  test/test_e2e_asr_transducer.py
Due: none

apply black...
  test/test_e2e_asr_transducer.py
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/general-question.md
Due: auto add label=CI

Update RESULTS.md
  egs/yoloxochitl_mixtec/asr1/RESULTS.md
Due: none

Support audio_format=flac.ark, wav.ark
  egs2/TEMPLATE/asr1/asr.sh
  egs2/TEMPLATE/asr1/pyscripts/audio/format_wav_scp.py
  espnet2/fileio/sound_scp.py
  espnet2/train/dataset.py
  espnet2/train/iterable_dataset.py
Due: auto add label=ESPnet2

Path conditions:
  auto add label=ESPnet2: any of: ^(espnet2/|egs2/)
  auto add label=README: any of: ^README.md
  auto add label=Documentation: any of: ^doc/
  auto add label=CI: any of: ^(.circleci/|ci/|.github/|.travis.yml)
  auto add label=mergify: any of: ^.mergify.yml
  auto add label=Docker: any of: ^docker/
