Repository espnet/espnet: changes, and which Mergify rules are due for each by the changed paths.
All: auto add label=ESPnet1, auto add label=ESPnet2, auto add label=ASR, auto add label=TTS, auto add label=MT, auto add label=LM, auto add label=README, auto add label=Documentation, auto add label=CI, auto add label=Installation, auto add label=mergify, auto add label=Docker

.mergify.yml:

pull_request_rules:
  - name: automatic merge if label=auto-merge
    conditions:
      - "label=auto-merge"
      - "check-success=test_centos7"
      - "check-success=test_debian9"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.4.0, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.5.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.6.0, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.7.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.8.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.9.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.10.2, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.11.0, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.12.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.7, 1.13.1, 6.0.0, false)"
      - "check-success=linter_and_test (ubuntu-latest, 3.8, 1.13.1, false, 6.0.0)"
      - "check-success=linter_and_test (ubuntu-latest, 3.9, 1.13.1, false, 6.0.0)"
      - "check-success=linter_and_test (ubuntu-latest, 3.10, 1.13.1, false, 6.0.0)"
      - "check-success=test_import (ubuntu-latest, 3.10, 1.13.1)"
      - "check-success=check_kaldi_symlinks"
    actions:
      merge:
        method: merge
  - name: delete head branch after merged
    conditions:
      - merged
    actions:
      delete_head_branch: {}
  - name: "add label=auto-merge for PR by mergify"
    conditions:
      - author=mergify[bot]
    actions:
      label:
        add: ["auto-merge"]
  - name: warn on conflicts
    conditions:
      - conflict
    actions:
      comment:
        message: This pull request is now in conflict :(
      label:
        add: ["conflicts"]
  - name: unlabel conflicts
    conditions:
      - -conflict
    actions:
      label:
        remove: ["conflicts"]
  - name: "auto add label=ESPnet1"
    conditions:
      - files~=^(espnet/|egs/)
    actions:
      label:
        add: ["ESPnet1"]
  - name: "auto add label=ESPnet2"
    conditions:
      - files~=^(espnet2/|egs2/)
    actions:
      label:
        add: ["ESPnet2"]
  - name: "auto add label=ASR"
    conditions:
      - files~=^(espnet*/asr|egs*/*/asr1)
    actions:
      label:
        add: ["ASR"]
  - name: "auto add label=TTS"
    conditions:
      - files~=^(espnet*/tts|egs*/*/tts1)
    actions:
      label:
        add: ["TTS"]
  - name: "auto add label=MT"
    conditions:
      - files~=^(espnet*/mt|egs*/*/mt1)
    actions:
      label:
        add: ["MT"]
  - name: "auto add label=LM"
    conditions:
      - files~=^(espnet*/lm)
    actions:
      label:
        add: ["LM"]
  - name: "auto add label=README"
    conditions:
      - files~=README.md
    actions:
      label:
        add: ["README"]
  - name: "auto add label=Documentation"
    conditions:
      - files~=^doc/
    actions:
      label:
        add: ["Documentation"]
  - name: "auto add label=CI"
    conditions:
      - files~=^(.circleci/|ci/|.github/|.travis.yml)
    actions:
      label:
        add: ["CI"]
  - name: "auto add label=Installation"
    conditions:
      - files~=^(tools/|setup.py)
    actions:
      label:
        add: ["Installation"]
  - name: "auto add label=mergify"
    conditions:
      - files~=^.mergify.yml
    actions:
      label:
        add: ["mergify"]
  - name: "auto add label=Docker"
    conditions:
      - files~=^docker/
    actions:
      label:
        add: ["Docker"]

update VISinger 2
  espnet2/gan_svs/visinger2/visinger2_generator.py
  espnet2/gan_svs/vits/generator.py
  espnet2/gan_svs/vits/vits.py
  test/espnet2/gan_svs/visinger/test_visinger.py
Due: auto add label=ESPnet2

add lm_inference
  espnet2/bin/lm_inference.py
Due: auto add label=ESPnet2

support abs min len in beam_search
  espnet/nets/beam_search.py
Due: auto add label=ESPnet1

add unit test for flow and phoneme
  espnet2/gan_svs/vits/generator.py
  test/espnet2/gan_svs/visinger/test_visinger.py
Due: auto add label=ESPnet2

Sort imports using isort
  espnet2/gan_svs/avocodo/__init__.py
  espnet2/gan_svs/avocodo/avocodo.py
  espnet2/gan_svs/espnet_model.py
  espnet2/gan_svs/pits/pisinger_generator.py
  espnet2/gan_svs/pits/ying_decoder.py
  espnet2/gan_svs/uhifigan/__init__.py
  espnet2/gan_svs/uhifigan/sine_generator.py
  espnet2/gan_svs/uhifigan/uhifigan.py
  espnet2/gan_svs/visinger2/__init__.py
  espnet2/gan_svs/visinger2/ddsp.py
  espnet2/gan_svs/visinger2/visinger2_vocoder.py
  espnet2/gan_svs/vits/generator.py
  espnet2/gan_svs/vits/length_regulator.py
  espnet2/gan_svs/vits/pitch_predictor.py
  espnet2/gan_svs/vits/prior_decoder.py
  espnet2/gan_svs/vits/text_encoder.py
  espnet2/gan_svs/vits/vits.py
  espnet2/tasks/gan_svs.py
  espnet2/tts/feats_extract/yin.py
  espnet2/tts/feats_extract/ying.py
Due: auto add label=ESPnet2

add slur in svs
  espnet2/bin/asr_transducer_inference.py
  espnet2/bin/svs_inference.py
  espnet2/gan_svs/espnet_model.py
  espnet2/gan_svs/vits/vits.py
  espnet2/svs/espnet_model.py
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2

fix
  espnet2/bin/asr_transducer_inference.py
Due: auto add label=ESPnet2

fix
  espnet2/gan_svs/vits/vits.py
Due: auto add label=ESPnet2

fix
  espnet2/gan_svs/espnet_model.py
Due: auto add label=ESPnet2

fix CI errors
  egs2/opencpop/svs1/conf/tuning/train_vits.yaml
  espnet2/gan_svs/pits/modules.py
  espnet2/gan_svs/pits/pisinger_generator.py
  espnet2/gan_svs/uhifigan/uhifigan.py
  espnet2/gan_svs/visinger2/visinger2_vocoder.py
  espnet2/gan_svs/vits/generator.py
  espnet2/gan_svs/vits/text_encoder.py
  espnet2/tts/feats_extract/yin.py
  espnet2/tts/feats_extract/ying.py
Due: auto add label=ESPnet2

add inference function
  espnet2/bin/lm_inference.py
Due: auto add label=ESPnet2

apply black
  espnet2/bin/lm_inference.py
Due: auto add label=ESPnet2

fix parameter names
  espnet2/gan_svs/vits/generator.py
  espnet2/gan_svs/vits/pitch_predictor.py
Due: auto add label=ESPnet2

add test for lm inference
  espnet/nets/beam_search.py
  test/espnet2/bin/test_lm_inference.py
Due: auto add label=ESPnet1

fix format
  test/espnet2/bin/test_lm_inference.py
Due: none

add more tests to increase coverage
  espnet2/bin/lm_inference.py
  test/espnet2/bin/test_lm_inference.py
Due: auto add label=ESPnet2

streaming
  egs2/TEMPLATE/asr1/pyscripts/utils/simuleval_agent.py
  egs2/must_c_v2/st1/simuleval.sh
  espnet/nets/batch_beam_search_online.py
Due: auto add label=ESPnet1, auto add label=ESPnet2

streaming
  egs2/must_c_v2/st1/simuleval.sh
Due: auto add label=ESPnet2

streaming
  egs2/must_c_v2/st1/local/merge_simuleval_logs.py
  egs2/must_c_v2/st1/local/split_text_scp.py
Due: auto add label=ESPnet2

streaming
  espnet2/bin/st_inference_streaming.py
Due: auto add label=ESPnet2

add stft/istft streaming
  espnet2/bin/enh_inference.py
  espnet2/bin/enh_inference_streaming.py
  espnet2/enh/decoder/abs_decoder.py
  espnet2/enh/decoder/conv_decoder.py
  espnet2/enh/decoder/stft_decoder.py
  espnet2/enh/encoder/abs_encoder.py
  espnet2/enh/encoder/conv_encoder.py
  espnet2/enh/encoder/stft_encoder.py
  espnet2/enh/separator/rnn_separator.py
  espnet2/enh/separator/skim_separator.py
  test/espnet2/bin/test_enh_inference_streaming.py
  test/espnet2/enh/decoder/test_stft_decoder.py
  test/espnet2/enh/separator/test_rnn_separator.py
  test/espnet2/enh/separator/test_skim_separator.py
  test/espnet2/enh/separator/test_tcn_separator.py
Due: auto add label=ESPnet2

add test
  espnet2/bin/enh_inference_streaming.py
  espnet2/enh/decoder/abs_decoder.py
  espnet2/enh/decoder/conv_decoder.py
  espnet2/enh/decoder/stft_decoder.py
  espnet2/enh/encoder/abs_encoder.py
  espnet2/enh/encoder/conv_encoder.py
  espnet2/enh/encoder/stft_encoder.py
  espnet2/enh/separator/skim_separator.py
  test/espnet2/bin/test_enh_inference_streaming.py
  test/espnet2/enh/decoder/test_stft_decoder.py
  test/espnet2/enh/separator/test_rnn_separator.py
  test/espnet2/enh/separator/test_skim_separator.py
  test/espnet2/enh/separator/test_tcn_separator.py
Due: auto add label=ESPnet2

add word token type
  espnet2/bin/lm_inference.py
Due: auto add label=ESPnet2

simuleval
  egs2/TEMPLATE/asr1/pyscripts/utils/simuleval_agent.py
  egs2/must_c_v2/st1/simuleval2.sh
Due: auto add label=ESPnet2

Update error_calculator.py
  espnet2/asr_transducer/error_calculator.py
Due: auto add label=ESPnet2

update oneside stft
  espnet2/enh/decoder/stft_decoder.py
  espnet2/enh/encoder/stft_encoder.py
Due: auto add label=ESPnet2

Add data augmentation to ReazonSpeech recipe
  egs2/reazonspeech/asr1/local/augment.py
  egs2/reazonspeech/asr1/local/data.py
  egs2/reazonspeech/asr1/local/data.sh
  egs2/reazonspeech/asr1/local/path.sh
  egs2/reazonspeech/asr1/local/symbol.txt
Due: auto add label=ESPnet2

Fix an empty line generated by pre-commit hook
  egs2/reazonspeech/asr1/local/symbol.txt
Due: auto add label=ESPnet2

update docker related files
  docker/.default_args
  docker/README.md
  docker/build.sh
  docker/prebuilt/devel.dockerfile
  docker/prebuilt/gpu.dockerfile
  docker/prebuilt/runtime.dockerfile
Due: auto add label=README, auto add label=Docker

add e-branchformer result for tedlium3 and add checker for text output length
  egs2/tedlium3/asr1/README.md
  egs2/tedlium3/asr1/conf/train.yaml
  egs2/tedlium3/asr1/conf/tuning/train_asr_e_branchformer_size256_mlp1024_e12_mactrue.yaml
  espnet2/train/preprocessor.py
Due: auto add label=ESPnet2, auto add label=README

Add a unit test for the new argument "layer_weights" in MultiLayerPITSolver
  espnet2/enh/encoder/stft_encoder.py
  test/espnet2/enh/loss/wrappers/test_multilayer_pit_solver.py
Due: auto add label=ESPnet2

Add unit tests for stft_encoder, stft_decoder, and MultiResL1SpecLoss
  test/espnet2/enh/decoder/test_stft_decoder.py
  test/espnet2/enh/encoder/test_stft_encoder.py
  test/espnet2/enh/loss/criterions/test_time_domain.py
Due: none

add GPU conf for lm training
  egs2/tedlium3/asr1/conf/tuning/train_lm_transformer.yaml
  egs2/tedlium3/asr1/run.sh
Due: auto add label=ESPnet2

Add XiaoiceSing2 Loss
  egs2/opencpop/svs1/conf/tuning/train_xiaoice.yaml
  espnet2/svs/xiaoice/XiaoiceSing.py
  espnet2/svs/xiaoice/loss.py
Due: auto add label=ESPnet2

Add slur
  espnet2/gan_svs/joint/joint_score2wav.py
  espnet2/svs/naive_rnn/naive_rnn.py
  espnet2/svs/naive_rnn/naive_rnn_dp.py
  espnet2/svs/xiaoice/XiaoiceSing.py
Due: auto add label=ESPnet2

fix
  espnet2/svs/xiaoice/XiaoiceSing.py
Due: auto add label=ESPnet2

slight refactor before adding MEGA decoder
  espnet2/asr_transducer/activation.py
  espnet2/asr_transducer/beam_search_transducer.py
  espnet2/asr_transducer/decoder/abs_decoder.py
  espnet2/asr_transducer/decoder/rnn_decoder.py
  espnet2/asr_transducer/decoder/stateless_decoder.py
  espnet2/asr_transducer/encoder/building.py
  espnet2/asr_transducer/normalization.py
Due: auto add label=ESPnet2

add error calc. fix to avoid conflicts
  espnet2/asr_transducer/error_calculator.py
  espnet2/asr_transducer/espnet_transducer_model.py
  test/espnet2/asr_transducer/test_error_calculator_transducer.py
Due: auto add label=ESPnet2

add MEGA decoder + docs
  doc/espnet2_tutorial.md
  espnet2/asr_transducer/decoder/mega_decoder.py
  espnet2/asr_transducer/decoder/modules/feed_forward.py
  espnet2/asr_transducer/decoder/modules/mega.py
  espnet2/asr_transducer/decoder/modules/multi_head_damped_ema.py
  espnet2/asr_transducer/decoder/modules/positional_bias.py
  espnet2/tasks/asr_transducer.py
Due: auto add label=ESPnet2, auto add label=Documentation
